{% extends "::club_layout.html.twig" %}

{% block title %}Profile{% endblock %}

{% block body %}
<h2>Profile</h2>

<div class="row">
    <div class="col-lg-4">
        {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ flashMessage }}
        </div>
        {% endfor %}
            
        {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {% for item in flashMessage %}
                {{ item.message }}<br/>
            {% endfor %}
        </div>
        {% endfor %}
        <form action="#" method="post">
            <div class="form-group">
                <label>First name</label>
                <input type="text" name="fname" value="{% if post.fname is defined %}{{ post.fname }}{% endif %}" class="form-control" required>
            </div>

            <div class="form-group">
                <label>Last name</label>
                <input type="text" name="lname" value="{% if post.lname is defined %}{{ post.lname }}{% endif %}" class="form-control" required>
            </div>

            <div class="form-group">
                <label>Email</label>
                <input type="email" name="email" value="{% if post.email is defined %}{{ post.email }}{% endif %}" class="form-control" required>
            </div>

            <div class="form-group">
                <label>New Password</label>
                <input type="password" name="password"  class="form-control" >
            </div>    

            <div class="form-group">
                <label>Confirm Password</label>
                <input type="password" name="confirm_password" class="form-control">
            </div> 

            <div class="form-group">
                <a href="{{ path('acme_club_dashboard') }}" class="btn btn-default">Cancel</a>
                <button type="submit" class="btn btn-primary">Update My Profile</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
