<table cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Name</th>
                {% if club_admin_details.report_column_filter is defined and club_admin_details.report_column_filter|length > 0 %}
                    {% if "bmi_improvement" in club_admin_details.report_column_filter%}
                        <th>BMI improvement</th>
                    {% endif %}
                    {% if "years_added" in club_admin_details.report_column_filter%}
                        <th>Years added</th>
                    {% endif %}
                    {% if "cm_lost" in club_admin_details.report_column_filter%}
                        <th>CM's lost</th>
                    {% endif %}
                    {% if "kg_lost" in club_admin_details.report_column_filter%}
                        <th>KG's lost</th>
                    {% endif %}
                    {% if "body_fat_reduction" in club_admin_details.report_column_filter%}
                        <th>Body fat % reduction</th>
                    {% endif %}
                    {% if "vo2_improvement" in club_admin_details.report_column_filter%}
                        <th>VO2 improvement</th>
                    {% endif %}
                    {% if "squat_test_improvement" in club_admin_details.report_column_filter%}
                        <th>Squat test improvement</th>
                    {% endif %}
                    {% if "standing_functional_reach_improvement" in club_admin_details.report_column_filter%}
                        <th>Standing functional reach improvement</th>
                    {% endif %}
                    {% if "stork_test_improvement" in club_admin_details.report_column_filter%}
                        <th>Stork test improvement</th>
                    {% endif %}
                    {% if "abdominal_test_improvement" in club_admin_details.report_column_filter%}
                        <th>Abdominal test improvement</th>
                    {% endif %}
                    {% if "vigorous_pa_per_week" in club_admin_details.report_column_filter%}
                        <th>Increase in days of physical activity / week</th>
                    {% endif %}
                    {% if "strength_pa_per_week" in club_admin_details.report_column_filter%}
                        <th>Increase in days of strength activity / week</th>
                    {% endif %}
                    {% if "smoking_improvement" in club_admin_details.report_column_filter%}
                        <th>Smoking improvement</th>
                    {% endif %}
                    {% if "standard_alcohol_per_week" in club_admin_details.report_column_filter%}
                        <th>Reduction in standard Alcoholic drinks / week</th>
                    {% endif %}
                    {% if "maximum_alcohol_one_sitting" in club_admin_details.report_column_filter%}
                        <th>Reduction in max # of standard drinks in 1 sitting</th>
                    {% endif %}
                    {% if "nutrition_score_improvement" in club_admin_details.report_column_filter%}
                        <th>Nutrition score improvement</th>
                    {% endif %}
                    {% if "mental_health_improvement" in club_admin_details.report_column_filter%}
                        <th>Mental Health improvement</th>
                    {% endif %}
                    {% if "risk_profile_improvement" in club_admin_details.report_column_filter%}
                        <th>Risk profile improvement</th>
                    {% endif %}
                {% else %}
                    <th>BMI improvement sdfsd</th>
                    <th>Years added</th>
                    <th>CM's lost</th>
                    <th>KG's lost</th>
                    <th>Body fat % reduction</th>
                    <th>VO2 improvement</th>
                    <th>Squat test improvement</th>
                    <th>Standing functional reach improvement</th>
                    <th>Stork test improvement</th>
                    <th>Abdominal test improvement</th>
                    <th>Increase in days of physical activity / week</th>
                    <th>Increase in days of strength activity / week</th>
                    <th>Smoking improvement</th>
                    <th>Reduction in standard Alcoholic drinks / week</th>
                    <th>Reduction in max # of standard drinks in 1 sitting</th>
                    <th>Nutrition score improvement</th>
                    <th>Mental Health improvement</th>
                    <th>Risk profile improvement</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% set oddeven = 'odd' %}
            {% set bmi_improvement_total = 0 %}
            {% set years_added_total = 0 %}
            {% set cm_lost_total = 0 %}
            {% set kg_lost_total = 0 %}
            {% set body_fat_reduction_total = 0 %}
            {% set vo2_improvement_total = 0 %}
            {% set squat_test_improvement_total = 0 %}
            {% set standing_functional_reach_improvement_total = 0 %}
            {% set stork_test_improvement_total = 0 %}
            {% set abdominal_test_improvement_total = 0 %}
            {% set vigorous_pa_per_week_total = 0 %}
            {% set strength_pa_per_week_total = 0 %}
            {% set smoking_improvement_total = 0 %}
            {% set standard_alcohol_per_week_total = 0 %}
            {% set maximum_alcohol_one_sitting_total = 0 %}
            {% set nutrition_score_improvement_total = 0 %}
            {% set mental_health_improvement_total = 0 %}
            {% set risk_profile_improvement_total = 0 %}
            {% for item in summary %}
                <tr class="{{ oddeven }}">
                    <td>{{ item.name }}</td>
                    {% if club_admin_details.report_column_filter is defined and club_admin_details.report_column_filter|length > 0 %}
                        {% if "bmi_improvement" in club_admin_details.report_column_filter%}
                            <td>{{ "%.1f"|format(item.bmi_improvement)|replace({".0":""}) }}</td>
                        {% endif %}
                        {% if "years_added" in club_admin_details.report_column_filter%}
                            <td>{{ "%.1f"|format(item.years_added)|replace({".0":""}) }}</td>
                        {% endif %}
                        {% if "cm_lost" in club_admin_details.report_column_filter%}
                            <td>{{ "%.1f"|format(item.cm_lost)|replace({".0":""}) }}</td>
                        {% endif %}
                        {% if "kg_lost" in club_admin_details.report_column_filter%}
                            <td>{{ "%.1f"|format(item.kg_lost)|replace({".0":""}) }}</td>
                        {% endif %}
                        {% if "body_fat_reduction" in club_admin_details.report_column_filter%}
                            <td>{{ "%.1f"|format(item.body_fat_reduction)|replace({".0":""}) }}</td>
                        {% endif %}
                        {% if "vo2_improvement" in club_admin_details.report_column_filter%}
                            <td>{{ "%.1f"|format(item.vo2_improvement)|replace({".0":""}) }}</td>
                        {% endif %}
                        {% if "squat_test_improvement" in club_admin_details.report_column_filter%}
                            <td>{{ "%.1f"|format(item.squat_test_improvement)|replace({".0":""}) }}</td>
                        {% endif %}
                        {% if "standing_functional_reach_improvement" in club_admin_details.report_column_filter%}
                            <td>{{ "%.1f"|format(item.standing_functional_reach_improvement)|replace({".0":""}) }}</td>
                        {% endif %}
                        {% if "stork_test_improvement" in club_admin_details.report_column_filter%}
                            <td>{{ "%.1f"|format(item.stork_test_improvement)|replace({".0":""}) }}</td>
                        {% endif %}
                        {% if "abdominal_test_improvement" in club_admin_details.report_column_filter%}
                            <td>{{ "%.1f"|format(item.abdominal_test_improvement)|replace({".0":""}) }}</td>
                        {% endif %}
                        {% if "vigorous_pa_per_week" in club_admin_details.report_column_filter%}
                            <td>{{ "%.1f"|format(item.vigorous_pa_per_week)|replace({".0":""}) }}</td>
                        {% endif %}
                        {% if "strength_pa_per_week" in club_admin_details.report_column_filter%}
                            <td>{{ "%.1f"|format(item.strength_pa_per_week)|replace({".0":""}) }}</td>
                        {% endif %}
                        {% if "smoking_improvement" in club_admin_details.report_column_filter%}
                            <td>{{ "%.1f"|format(item.smoking_improvement)|replace({".0":""}) }}</td>
                        {% endif %}
                        {% if "standard_alcohol_per_week" in club_admin_details.report_column_filter%}
                            <td>{{ "%.1f"|format(item.standard_alcohol_per_week)|replace({".0":""}) }}</td>
                        {% endif %}
                        {% if "maximum_alcohol_one_sitting" in club_admin_details.report_column_filter%}
                            <td>{{ "%.1f"|format(item.maximum_alcohol_one_sitting)|replace({".0":""}) }}</td>
                        {% endif %}
                        {% if "nutrition_score_improvement" in club_admin_details.report_column_filter%}
                            <td>{{ "%.1f"|format(item.nutrition_score_improvement)|replace({".0":""}) }}%</td>
                        {% endif %}
                        {% if "mental_health_improvement" in club_admin_details.report_column_filter%}
                            <td>{{ "%.1f"|format(item.mental_health_improvement)|replace({".0":""}) }}%</td>
                        {% endif %}
                        {% if "risk_profile_improvement" in club_admin_details.report_column_filter%}
                            <td>{{ "%.1f"|format(item.risk_profile_improvement)|replace({".0":""}) }}%</td>
                        {% endif %}
                    {% else %}
                        <td>{{ "%.1f"|format(item.bmi_improvement)|replace({".0":""}) }}</td>
                        <td>{{ "%.1f"|format(item.years_added)|replace({".0":""}) }}</td>
                        <td>{{ "%.1f"|format(item.cm_lost)|replace({".0":""}) }}</td>
                        <td>{{ "%.1f"|format(item.kg_lost)|replace({".0":""}) }}</td>
                        <td>{{ "%.1f"|format(item.body_fat_reduction)|replace({".0":""}) }}</td>
                        <td>{{ "%.1f"|format(item.vo2_improvement)|replace({".0":""}) }}</td>
                        <td>{{ "%.1f"|format(item.squat_test_improvement)|replace({".0":""}) }}</td>
                        <td>{{ "%.1f"|format(item.standing_functional_reach_improvement)|replace({".0":""}) }}</td>
                        <td>{{ "%.1f"|format(item.stork_test_improvement)|replace({".0":""}) }}</td>
                        <td>{{ "%.1f"|format(item.abdominal_test_improvement)|replace({".0":""}) }}</td>
                        <td>{{ "%.1f"|format(item.vigorous_pa_per_week)|replace({".0":""}) }}</td>
                        <td>{{ "%.1f"|format(item.strength_pa_per_week)|replace({".0":""}) }}</td>
                        <td>{{ "%.1f"|format(item.smoking_improvement)|replace({".0":""}) }}</td>
                        <td>{{ "%.1f"|format(item.standard_alcohol_per_week)|replace({".0":""}) }}</td>
                        <td>{{ "%.1f"|format(item.maximum_alcohol_one_sitting)|replace({".0":""}) }}</td>
                        <td>{{ "%.1f"|format(item.nutrition_score_improvement)|replace({".0":""}) }}%</td>
                        <td>{{ "%.1f"|format(item.mental_health_improvement)|replace({".0":""}) }}%</td>
                        <td>{{ "%.1f"|format(item.risk_profile_improvement)|replace({".0":""}) }}%</td>
                    {% endif %}
                </tr>
                {% if oddeven == 'odd' %}
                    {% set oddeven = 'even' %}
                {% else %}
                    {% set oddeven = 'odd' %}
                {% endif %}
                
                {% set bmi_improvement_total = bmi_improvement_total + item.bmi_improvement %}
                {% set years_added_total = years_added_total + item.years_added %}
                {% set cm_lost_total = cm_lost_total + item.cm_lost %}
                {% set kg_lost_total = kg_lost_total + item.kg_lost %}
                {% set body_fat_reduction_total = body_fat_reduction_total + item.body_fat_reduction %}
                {% set vo2_improvement_total = vo2_improvement_total + item.vo2_improvement %}
                {% set squat_test_improvement_total = squat_test_improvement_total + item.squat_test_improvement %}
                {% set standing_functional_reach_improvement_total = standing_functional_reach_improvement_total + item.standing_functional_reach_improvement %}
                {% set stork_test_improvement_total = stork_test_improvement_total + item.stork_test_improvement %}
                {% set abdominal_test_improvement_total = abdominal_test_improvement_total + item.abdominal_test_improvement %}
                {% set vigorous_pa_per_week_total = vigorous_pa_per_week_total + item.vigorous_pa_per_week %}
                {% set strength_pa_per_week_total = strength_pa_per_week_total + item.strength_pa_per_week %}
                {% set smoking_improvement_total = smoking_improvement_total + item.smoking_improvement %}
                {% set standard_alcohol_per_week_total = standard_alcohol_per_week_total + item.standard_alcohol_per_week %}
                {% set maximum_alcohol_one_sitting_total = maximum_alcohol_one_sitting_total + item.maximum_alcohol_one_sitting %}
                {% set nutrition_score_improvement_total = nutrition_score_improvement_total + item.nutrition_score_improvement %}
                {% set mental_health_improvement_total = mental_health_improvement_total + item.mental_health_improvement %}
                {% set risk_profile_improvement_total = risk_profile_improvement_total + item.risk_profile_improvement %}
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td>TOTAL</td>
                {% if club_admin_details.report_column_filter is defined and club_admin_details.report_column_filter|length > 0 %}
                    {% if "bmi_improvement" in club_admin_details.report_column_filter%}
                        <td>{{ "%.1f"|format(bmi_improvement_total)|replace({".0":""}) }}</td>
                    {% endif %}
                    {% if "years_added" in club_admin_details.report_column_filter%}
                        <td>{{ "%.1f"|format(years_added_total)|replace({".0":""}) }}</td>
                    {% endif %}
                    {% if "cm_lost" in club_admin_details.report_column_filter%}
                        <td>{{ "%.1f"|format(cm_lost_total)|replace({".0":""}) }}</td>
                    {% endif %}
                    {% if "kg_lost" in club_admin_details.report_column_filter%}
                        <td>{{ "%.1f"|format(kg_lost_total)|replace({".0":""}) }}</td>
                    {% endif %}
                    {% if "body_fat_reduction" in club_admin_details.report_column_filter%}
                        <td>{{ "%.1f"|format(body_fat_reduction_total)|replace({".0":""}) }}</td>
                    {% endif %}
                    {% if "vo2_improvement" in club_admin_details.report_column_filter%}
                        <td>{{ "%.1f"|format(vo2_improvement_total)|replace({".0":""}) }}</td>
                    {% endif %}
                    {% if "squat_test_improvement" in club_admin_details.report_column_filter%}
                        <td>{{ "%.1f"|format(squat_test_improvement_total)|replace({".0":""}) }}</td>
                    {% endif %}
                    {% if "standing_functional_reach_improvement" in club_admin_details.report_column_filter%}
                        <td>{{ "%.1f"|format(standing_functional_reach_improvement_total)|replace({".0":""}) }}</td>
                    {% endif %}
                    {% if "stork_test_improvement" in club_admin_details.report_column_filter%}
                        <td>{{ "%.1f"|format(stork_test_improvement_total)|replace({".0":""}) }}</td>
                    {% endif %}
                    {% if "abdominal_test_improvement" in club_admin_details.report_column_filter%}
                        <td>{{ "%.1f"|format(abdominal_test_improvement_total)|replace({".0":""}) }}</td>
                    {% endif %}
                    {% if "vigorous_pa_per_week" in club_admin_details.report_column_filter%}
                        <td>{{ "%.1f"|format(vigorous_pa_per_week_total)|replace({".0":""}) }}</td>
                    {% endif %}
                    {% if "strength_pa_per_week" in club_admin_details.report_column_filter%}
                        <td>{{ "%.1f"|format(strength_pa_per_week_total)|replace({".0":""}) }}</td>
                    {% endif %}
                    {% if "smoking_improvement" in club_admin_details.report_column_filter%}
                        <td>{{ "%.1f"|format(smoking_improvement_total)|replace({".0":""}) }}</td>
                    {% endif %}
                    {% if "standard_alcohol_per_week" in club_admin_details.report_column_filter%}
                        <td>{{ "%.1f"|format(standard_alcohol_per_week_total)|replace({".0":""}) }}</td>
                    {% endif %}
                    {% if "maximum_alcohol_one_sitting" in club_admin_details.report_column_filter%}
                        <td>{{ "%.1f"|format(maximum_alcohol_one_sitting_total)|replace({".0":""}) }}</td>
                    {% endif %}
                    {% if "nutrition_score_improvement" in club_admin_details.report_column_filter%}
                        <td>{{ "%.1f"|format(nutrition_score_improvement_total)|replace({".0":""}) }}%</td>
                    {% endif %}
                    {% if "mental_health_improvement" in club_admin_details.report_column_filter%}
                        <td>{{ "%.1f"|format(mental_health_improvement_total)|replace({".0":""}) }}%</td>
                    {% endif %}
                    {% if "risk_profile_improvement" in club_admin_details.report_column_filter%}
                        <td>{{ "%.1f"|format(risk_profile_improvement_total)|replace({".0":""}) }}%</td>
                    {% endif %}
                {% else %}
                    <td>{{ "%.1f"|format(bmi_improvement_total)|replace({".0":""}) }}</td>
                    <td>{{ "%.1f"|format(years_added_total)|replace({".0":""}) }}</td>
                    <td>{{ "%.1f"|format(cm_lost_total)|replace({".0":""}) }}</td>
                    <td>{{ "%.1f"|format(kg_lost_total)|replace({".0":""}) }}</td>
                    <td>{{ "%.1f"|format(body_fat_reduction_total)|replace({".0":""}) }}</td>
                    <td>{{ "%.1f"|format(vo2_improvement_total)|replace({".0":""}) }}</td>
                    <td>{{ "%.1f"|format(squat_test_improvement_total)|replace({".0":""}) }}</td>
                    <td>{{ "%.1f"|format(standing_functional_reach_improvement_total)|replace({".0":""}) }}</td>
                    <td>{{ "%.1f"|format(stork_test_improvement_total)|replace({".0":""}) }}</td>
                    <td>{{ "%.1f"|format(abdominal_test_improvement_total)|replace({".0":""}) }}</td>
                    <td>{{ "%.1f"|format(vigorous_pa_per_week_total)|replace({".0":""}) }}</td>
                    <td>{{ "%.1f"|format(strength_pa_per_week_total)|replace({".0":""}) }}</td>
                    <td>{{ "%.1f"|format(smoking_improvement_total)|replace({".0":""}) }}</td>
                    <td>{{ "%.1f"|format(standard_alcohol_per_week_total)|replace({".0":""}) }}</td>
                    <td>{{ "%.1f"|format(maximum_alcohol_one_sitting_total)|replace({".0":""}) }}</td>
                    <td>{{ "%.1f"|format(nutrition_score_improvement_total)|replace({".0":""}) }}%</td>
                    <td>{{ "%.1f"|format(mental_health_improvement_total)|replace({".0":""}) }}%</td>
                    <td>{{ "%.1f"|format(risk_profile_improvement_total)|replace({".0":""}) }}%</td>
                {% endif %}
            </tr>
        </tfoot>
    </table>