<table id="example" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>BMI improvement</th>
            <th>Years added</th>
            <th>CM's lost</th>
            <th>KG's lost</th>
            <th>Body fat % reduction</th>
            <th>VO2 improvement</th>
            <th>Squat test improvement</th>
            <th>Standing functional reach improvement</th>
            <th>Stork test improvement</th>
            <th>Abdominal test improvement</th>
            <th>Increase in days of physical activity / week</th>
            <th>Increase in days of strength activity / week</th>
            <th>Smoking improvement</th>
            <th>Reduction in standard Alcoholic drinks / week</th>
            <th>Reduction in max # of standard drinks in 1 sitting</th>
            <th>Nutrition score improvement</th>
            <th>Mental Health improvement</th>
            <th>Risk profile improvement</th>
        </tr>
    </thead>
    <tbody>
    {% if summary is defined %}


        {% for item in summary %}
        <tr>
            <td><a class="record-reference" href="{{ path('acme_club_client_view') }}?id={{ item.club_client_id }}">{{ item.fname }} {{ item.lname }}</a></td>
            <td>{% if item.bmi_improvement < 0 %}0{% else %}{{ "%01d"|format(item.bmi_improvement) }}{% endif %}</td>
            <td>{% if item.years_added < 0 %}0{% else %}{{ "%01d"|format(item.years_added) }}{% endif %}</td>
            <td>{% if item.cm_lost < 0 %}0{% else %}{{ "%01d"|format(item.cm_lost) }}{% endif %}</td>
            <td>{% if item.kg_lost < 0 %}0{% else %}{{ "%01d"|format(item.kg_lost) }}{% endif %}</td>
            <td>{% if item.body_fat_reduction < 0 %}0{% else %}{{ "%01d"|format(item.body_fat_reduction) }}{% endif %}</td>
            <td>{% if item.vo2_improvement < 0 %}0{% else %}{{ "%01d"|format(item.vo2_improvement) }}{% endif %}</td>
            <td>{% if item.squat_test_improvement < 0 %}0{% else %}{{ "%01d"|format(item.squat_test_improvement) }}{% endif %}</td>
            <td>{% if item.standing_functional_reach_improvement < 0 %}0{% else %}{{ "%01d"|format(item.standing_functional_reach_improvement) }}{% endif %}</td>
            <td>{% if item.stork_test_improvement < 0 %}0{% else %}{{ "%01d"|format(item.stork_test_improvement) }}{% endif %}</td>
            <td>{% if item.abdominal_test_improvement < 0 %}0{% else %}{{ "%01d"|format(item.abdominal_test_improvement) }}{% endif %}</td>
            <td>{% if item.vigorous_pa_per_week < 0 %}0{% else %}{{ "%01d"|format(item.vigorous_pa_per_week) }}{% endif %}</td>
            <td>{% if item.strength_pa_per_week < 0 %}0{% else %}{{ "%01d"|format(item.strength_pa_per_week) }}{% endif %}</td>
            <td>{% if item.smoking_improvement < 0 %}0{% else %}{{ "%01d"|format(item.smoking_improvement) }}{% endif %}</td>
            <td>{% if item.standard_alcohol_per_week < 0 %}0{% else %}{{ "%01d"|format(item.standard_alcohol_per_week) }}{% endif %}</td>
            <td>{% if item.maximum_alcohol_one_sitting < 0 %}0{% else %}{{ "%01d"|format(item.maximum_alcohol_one_sitting) }}{% endif %}</td>
            <td>{% if item.nutrition_score_improvement < 0 %}0{% else %}{{ "%01d"|format(item.nutrition_score_improvement) }}{% endif %}</td>
            <td>{% if item.mental_health_improvement < 0 %}0{% else %}{{ "%01d"|format(item.mental_health_improvement) }}{% endif %}</td>
            <td>{% if item.risk_profile_improvement < 0 %}0{% else %}{{ "%01d"|format(item.risk_profile_improvement) }}{% endif %}</td>
        </tr>
        {% endfor %}


    {% endif %}
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tfoot>
</table>