{% extends "::club_layout.html.twig" %}

{% block title %}Healthy Life | Reports{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css') }}/reports.css">
{% endblock %}

{% block body %}
<div class="container">
    <form class="report-from" action="#">
        <div class="report-filter date-filter">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-sm-2 text-label">
                            <label>Date Range</label>
                        </div>
                        <div class="col-sm-10">
                            <div class="row">
                                    <div class="col-md-5">
                                        <select name="dtFrDay" class="form-control selectpicker">
                                            {% for i in 1..31 %}
                                                <option value="{{ i }}" {% if filter_daterange['from']['day'] == i %}selected{% endif %}>{{ "%02d"|format(i) }}</option>
                                            {% endfor %}
                                        </select>

                                        <select name="dtFrMonth" class="form-control selectpicker">
                                            <option value="01" {% if filter_daterange['from']['month'] == "01" %}selected{% endif %}>Jan</option>
                                            <option value="02" {% if filter_daterange['from']['month'] == "02" %}selected{% endif %}>Feb</option>
                                            <option value="03" {% if filter_daterange['from']['month'] == "03" %}selected{% endif %}>Mar</option>
                                            <option value="04" {% if filter_daterange['from']['month'] == "04" %}selected{% endif %}>Apr</option>
                                            <option value="05" {% if filter_daterange['from']['month'] == "05" %}selected{% endif %}>May</option>
                                            <option value="06" {% if filter_daterange['from']['month'] == "06" %}selected{% endif %}>Jun</option>
                                            <option value="07" {% if filter_daterange['from']['month'] == "07" %}selected{% endif %}>Jul</option>
                                            <option value="08" {% if filter_daterange['from']['month'] == "08" %}selected{% endif %}>Aug</option>
                                            <option value="09" {% if filter_daterange['from']['month'] == "09" %}selected{% endif %}>Sep</option>
                                            <option value="10" {% if filter_daterange['from']['month'] == "10" %}selected{% endif %}>Oct</option>
                                            <option value="11" {% if filter_daterange['from']['month'] == "11" %}selected{% endif %}>Nov</option>
                                            <option value="12" {% if filter_daterange['from']['month'] == "12" %}selected{% endif %}>Dec</option>
                                        </select>

                                        <select name="dtFrYear" class="form-control selectpicker">
                                            {% set year1 = "now"|date_modify("-" ~ 1 ~" year")|date("Y") %}
                                            <option value="{{ year1 }}" {% if filter_daterange['from']['year'] == year1 %}selected{% endif %}>{{ year1 }}</option>
                                            {% for i in 0..6 %}
                                                {% set year = "now"|date_modify("+" ~ i ~" year")|date("Y") %}
                                                <option value="{{ year }}" {% if filter_daterange['from']['year'] == year %}selected{% endif %}>{{ year }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-1 text-label">
                                        <span>To</span>
                                    </div>
                                    <div class="col-md-5">
                                        <select name="dtToDay" class="form-control selectpicker">
                                            {% for i in 1..31 %}
                                                <option value="{{ i }}" {% if filter_daterange['to']['day'] == i %}selected{% endif %}>{{ "%02d"|format(i) }}</option>
                                            {% endfor %}
                                        </select>

                                        <select name="dtToMonth" class="form-control selectpicker">
                                            <option value="01" {% if filter_daterange['to']['month'] == "01" %}selected{% endif %}>Jan</option>
                                            <option value="02" {% if filter_daterange['to']['month'] == "02" %}selected{% endif %}>Feb</option>
                                            <option value="03" {% if filter_daterange['to']['month'] == "03" %}selected{% endif %}>Mar</option>
                                            <option value="04" {% if filter_daterange['to']['month'] == "04" %}selected{% endif %}>Apr</option>
                                            <option value="05" {% if filter_daterange['to']['month'] == "05" %}selected{% endif %}>May</option>
                                            <option value="06" {% if filter_daterange['to']['month'] == "06" %}selected{% endif %}>Jun</option>
                                            <option value="07" {% if filter_daterange['to']['month'] == "07" %}selected{% endif %}>Jul</option>
                                            <option value="08" {% if filter_daterange['to']['month'] == "08" %}selected{% endif %}>Aug</option>
                                            <option value="09" {% if filter_daterange['to']['month'] == "09" %}selected{% endif %}>Sep</option>
                                            <option value="10" {% if filter_daterange['to']['month'] == "10" %}selected{% endif %}>Oct</option>
                                            <option value="11" {% if filter_daterange['to']['month'] == "11" %}selected{% endif %}>Nov</option>
                                            <option value="12" {% if filter_daterange['to']['month'] == "12" %}selected{% endif %}>Dec</option>
                                        </select>

                                        <select name="dtToYear" class="form-control selectpicker">
                                            {% set year1 = "now"|date_modify("-" ~ 1 ~" year")|date("Y") %}
                                            <option value="{{ year1 }}" {% if filter_daterange['to']['year'] == year1 %}selected{% endif %}>{{ year1 }}</option>
                                            {% for i in 0..6 %}
                                                {% set year = "now"|date_modify("+" ~ i ~" year")|date("Y") %}
                                                <option value="{{ year }}" {% if filter_daterange['to']['year'] == year %}selected{% endif %}>{{ year }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                            </div>


                        </div>
                    </div>

                </div>
                <div class="col-md-3 text-right text-label">
                    <a href="{{ path('acme_club_report') }}?print=1{% if request_params != '' %}&{{ request_params }}{% endif %}" target="_blank"><span class="glyphicon glyphicon-print"></span> Print</a>
                    <a href="{{ path('acme_club_report') }}?download=1{% if request_params != '' %}&{{ request_params }}{% endif %}"><span class="glyphicon glyphicon-download"></span> Download</a>
                </div>
            </div>
        </div>
            
        <div class="report-filter filter">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-sm-2 text-label">
                            <label>Filter</label>
                        </div>
                        <div class="col-sm-10">
                            <div class="row">
                                {% if app.session.get('user_role') != 'coach' %}
                                <div class="col-md-2">
                                    <select name="fCoach" class="form-control selectpicker">
                                        <option value="">Coach</option>
                                        {% for item in coaches %}
                                            <option value="{{ item.club_admin_id }}" {% if app.request.get('fCoach') == item.club_admin_id %}selected{% endif %}>{{ item.fname }} {{ item.lname }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                {% endif %}
                                <div class="col-md-3">
                                    <select name="fEvent" class="form-control selectpicker">
                                        <option value="">Event</option>
                                        {% for item in events %}
                                            <option value="{{ item.event_id }}" {% if app.request.get('fEvent') == item.event_id %}selected{% endif %}>{{ item.event_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="col-md-3">
                                    <select name="fResults" class="form-control selectpicker">
                                        <option value="">Results</option>
                                        <option value="1" {% if app.request.get('fResults') == "1" %}selected{% endif %}>Gained 1 Year</option>
                                        {% for i in 2..14 %}
                                            <option value="{{ i }}" {% if app.request.get('fResults') == i %}selected{% endif %}>Gained {{ i }} Years</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="col-md-4 age-range">
                                    {#<select name="fAgeRange" class="form-control selectpicker">
                                        <option value="">Age Range</option>
                                        <option value="16-25" {% if app.request.get('fAgeRange') == "16-25" %}selected{% endif %}>16-25</option>
                                        <option value="25-35" {% if app.request.get('fAgeRange') == "25-35" %}selected{% endif %}>25-35</option>
                                        <option value="35-45" {% if app.request.get('fAgeRange') == "35-45" %}selected{% endif %}>35-45</option>
                                        <option value="45-55" {% if app.request.get('fAgeRange') == "45-55" %}selected{% endif %}>45-55</option>
                                        <option value="55-65" {% if app.request.get('fAgeRange') == "55-65" %}selected{% endif %}>55-65</option>
                                        <option value="65-75" {% if app.request.get('fAgeRange') == "65-75" %}selected{% endif %}>65-75</option>
                                        <option value="75-85" {% if app.request.get('fAgeRange') == "75-85" %}selected{% endif %}>75-85</option>
                                        <option value="85-95" {% if app.request.get('fAgeRange') == "85-95" %}selected{% endif %}>85-95</option>
                                    </select>#}
                                    <label class="age-label">Age</label>
                                    <select name="fAgeRangeFr" class="form-control selectpicker">
                                        <option value="">--</option>
                                        {% for i in 16..100 %}
                                            <option value="{{ i }}" {% if app.request.get('fAgeRangeFr') == i %}selected{% endif %}>{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                    <label class="separator">-</label>
                                    <select name="fAgeRangeTo" class="form-control selectpicker">
                                        <option value="">--</option>
                                        {% for i in 16..100 %}
                                            <option value="{{ i }}" {% if app.request.get('fAgeRangeTo') == i %}selected{% endif %}>{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                {#<div class="col-sm-3">
                                    <select name="fGender" class="form-control selectpicker">
                                        <option value="">Gender</option>
                                        <option value="male" {% if app.request.get('fGender') == "male" %}selected{% endif %}>Male</option>
                                        <option value="female" {% if app.request.get('fGender') == "female" %}selected{% endif %}>Female</option>
                                    </select>
                                </div>#}
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-sm-3 text-right">
                    <input class="btn btn-primary btn-summary-reports" type="submit" value="Summary">
                    <input class="btn btn-default pointer btn-detailed-reports" type="submit" value="Detailed">
                </div>
            </div>
        </div>
    </form>
</div>
<div class="processing-data">
    <center>Processing...</center>
</div>
<div class="container reports-graph">
    <div class="row">
        <div class="col-sm-4">
            <div class="reports-graph-header">
                {% if summary[0]['total_years_added'] is defined and summary[0]['total_years_added'] > 0 %}
                    <h3><span class="total-years-added">{{ '%.1f' | format(summary[0]['total_years_added'])| replace({".0" : ""}) }}</span> Years Added</h3>
                {% else %}
                    <h3><span class="total-years-added">---</span> Years Added</h3>
                {% endif %}

                {% if summary[0]['avg_years_added'] is defined and summary[0]['avg_years_added'] > 0%}
                    <span class="avg"> Avg <span class="total-years-added-avg">{{ '%.1f' | format(summary[0]['avg_years_added'])| replace({".0" : ""}) }}</span> Years/Client</span>

                {% else %}
                    <span class="avg"> Avg <span class="total-years-added-avg">---</span> Years/Client</span>
                {% endif %}
            </div>
            {% set years_added_data = '[' %}
            {% if report_data is defined %}
                {% for month, value in report_data %}
                    {% if value[0]['total_years_added'] is defined and value[0]['total_years_added'] > 0 %}
                        {% set years_added_data = years_added_data ~ '[' ~ '"' ~ month ~'",' ~ value[0]['total_years_added'] ~ '],' %}
                    {% else %}
                        {% set years_added_data = years_added_data ~ '[' ~ '"' ~ month ~'",' ~ 0 ~ '],' %}
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% set years_added_data = years_added_data|trim(',') ~ ']' %}

            <div class="img-box bar-chart yearsadded" data-values='{"title":"yrs", "data":{{ years_added_data }}}'>
                <div class="chart"></div>
            </div>
            
        </div>
        
        <div class="col-sm-4">
            <div class="reports-graph-header">
                {% if summary[0]['total_cm_lost'] is defined and summary[0]['total_cm_lost'] > 0%}
                    <h3><span class="total-cm-lost">{{ '%.1f' | format(summary[0]['total_cm_lost'])| replace({".0" : ""}) }}</span> CM Lost</h3>
                {% else %}
                    <h3><span class="total-cm-lost">---</span> CM Lost</h3>
                {% endif %}

                {% if summary[0]['avg_cm_lost'] is defined and summary[0]['avg_cm_lost'] > 0 %}
                    <span class="avg">Avg <span class="total-cm-lost-avg">{{ '%.1f' | format(summary[0]['avg_cm_lost'])| replace({".0" : ""}) }}</span> CM/Client</span>

                {% else %}
                    <span class="avg">Avg <span class="total-cm-lost-avg">---</span> CM/Client</span>
                {% endif %}
            </div>
            
            <div class="img-box bar-chart cmlost" data-values='{"title":"cm", 
                "data":[
                ["Chest",{% if summary[0]['total_biometric_chest_lost'] is defined and summary[0]['total_biometric_chest_lost'] > 0 %}{{ summary[0]['total_biometric_chest_lost'] }}{% else %}0{% endif %}],
                ["Thighs",{% if summary[0]['total_biometric_thigh_lost'] is defined and summary[0]['total_biometric_thigh_lost'] > 0 %}{{ summary[0]['total_biometric_thigh_lost'] }}{% else %}0{% endif %}],
                ["Waist",{% if summary[0]['total_biometric_waist_value_lost'] is defined and summary[0]['total_biometric_waist_value_lost'] > 0%}{{ summary[0]['total_biometric_waist_value_lost'] }}{% else %}0{% endif %}],
                ["Arms",{% if summary[0]['total_biometric_arm_lost'] is defined and summary[0]['total_biometric_arm_lost'] > 0 %}{{ summary[0]['total_biometric_arm_lost'] }}{% else %}0{% endif %}]]}'>
                    <div class="chart"></div>
            </div>
        </div>
        
        <div class="col-sm-4">
            <div class="reports-graph-header">
                {% if summary[0]['total_kg_lost'] is defined and summary[0]['total_kg_lost'] > 0 %}
                    <h3><span class="total-kg-lost">{{ '%.1f' | format(summary[0]['total_kg_lost'])| replace({".0" : ""}) }}</span> KG Lost</h3>

                {% else %}
                    <h3><span class="total-kg-lost">---</span> KG Lost</h3>
                {% endif %}

                {% if summary[0]['avg_kg_lost'] is defined and summary[0]['avg_kg_lost'] > 0%}
                    <span class="avg"> Avg <span class="total-kg-lost-avg">{{ '%.1f' | format(summary[0]['avg_kg_lost'])| replace({".0" : ""}) }}</span> KG/Client</span>

                {% else %}
                    <span class="avg">Avg <span class="total-kg-lost-avg">---</span> KG/Client</span>
                {% endif %}
            </div>
            {% set kg_lost_data = '[' %}
            {% if report_data is defined %}
                {% for month, value in report_data %}
                    {% if value[0]['total_kg_lost'] is defined and value[0]['total_kg_lost'] > 0 %}
                        {% set kg_lost_data = kg_lost_data ~ '[' ~ '"' ~ month ~'",' ~ value[0]['total_kg_lost'] ~ '],' %}
                    {% else %}
                        {% set kg_lost_data = kg_lost_data ~ '[' ~ '"' ~ month ~'",' ~ 0 ~ '],' %}
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% set kg_lost_data = kg_lost_data|trim(',') ~ ']' %}
            <div class="img-box bar-chart kglost" data-values='{"title":"kg", "data":{{ kg_lost_data }}}'>
                <div class="chart"></div>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="container reports-averages">
    <div class="row">
        <div class="col-sm-4 item">
            <div class="form-group">
                <img src="{{ asset('templates') }}/hlp-2.0/images/summary-heartbeat-logo-large.png">
                <h1 class="hlp-age-potential">
                {% if summary[0]['avg_healthy_life_score']  is defined and summary[0]['avg_healthy_life_score'] > 0 %}
                    {{ '%.1f' | format((summary[0]['avg_healthy_life_score'] * 100))| replace({".0" : ""}) }}%
                {% else %}
                    ---
                {% endif %}
                </h1>
                <span>Of Healthy Life <br>Age Potential</span>
            </div>
        </div>
        
        <div class="col-sm-4 item">
            <div class="form-group">
                <img src="{{ asset('templates') }}/hlp-2.0/images/summary-apple-logo-large.png">
                <h1 class="estimated-current-hl-age">
                {% if summary[0]['avg_estimated_current_healthy_life_age'] is defined and summary[0]['avg_estimated_current_healthy_life_age'] > 0 %}
                        {{ '%.1f' | format(summary[0]['avg_estimated_current_healthy_life_age'])| replace({".0" : ""}) }}
                {% else %}
                    ---
                {% endif %}
                </h1>
                <span>Healthy<br>Life Age</span>
            </div>
        </div>
        
        <div class="col-sm-4 item">
            <div class="form-group">
                <center>
                <img src="{{ asset('templates') }}/hlp-2.0/images/summary-heart-logo-large.png">
                <h1 class="avg-you-could-add-up-to">
                {% if summary[0]['avg_you_could_add_up_to'] is defined and summary[0]['avg_you_could_add_up_to'] > 0  %}
                    {{ '%.1f' | format(summary[0]['avg_you_could_add_up_to'])| replace({".0" : ""}) }}
                {% else %}
                    ---
                {% endif %}
                </h1>
                <span>Potential Healthy<br>Life Years to Add</span>
                </center>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    var asset_img = "{{ asset('img') }}";
    var asset_resources = "{{ asset('resources') }}";
    var chart_session_path = "{{ path('acme_club_report_set_chart_session') }}";
    var detailed_report = "{{ path('acme_club_detailed_report') }}";
    var report = "{{ path('acme_club_report') }}";
    var request_params = "{{ request_params }}";
    var update_report_summary = "{{ path('acme_club_report_update_summary') }}";
    var update_report_data = "{{ path('acme_club_report_update_data') }}";
</script>
{#    <script src="{{ asset('templates') }}/hlp-2.0/js/jquery.main.js"></script>#}
<script src="{{ asset('js') }}/club/reports.js"></script>
{% endblock %}
