{% extends "::club_layout.html.twig" %}

{% block title %}Healthy Life | Admin{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css') }}/admin.css">
{% endblock %}

{% block body %}


<!-- ==============================================
    credits
    =============================================== -->
<section id="credits">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {% for flashMessage in app.session.flashbag.get('card_error') %}
                <div class="alert alert-danger">
{#                    <button type="button" class="close" data-dismiss="alert">&times;</button>#}
                    <span>Payment Card details update has not been successfull. The following might be the reasons:</span>
                    <ul>
                    {% for item in flashMessage %}
                        <li>{{ item.message }}</li>
                    {% endfor %}
                    </ul>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-xs-12">                        
                <h4>Credits</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th class="pad">
                                <span>{{ app.session.get('available_credit') }}</span> Credits Remaining
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="tr-min-height"> 
                                {% if club_details.payment_option is defined and club_details.payment_option == 'monthly' %}
                                    <span style='text-decoration: line-through;'>Each Test is 1 Credit</span><br>
                                    {% if (club_details.monthly_fee_status is defined and club_details.monthly_fee_status != 'paid') %}
                                        <span style='text-decoration: line-through;'>You are subscribed to Unlimited tests</span>
                                    {% else %}
                                        <span>You are subscribed to Unlimited tests</span>
                                    {% endif %}
                                    
                                {% else %}
                                    <span>Each Test is 1 Credit</span>
                                {% endif %}
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
                <button class="btn pull-right btn-purchase-credits btn-special-44" >Purchase Credits
                    <i class="fa fa-angle-right"></i>
                </button>
            </div>
            <div class="col-sm-4 col-xs-12">
                <h4>Admin Users</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Users
                            </th>
                            <th>
                                Role
                            </th>
                            {% if app.session.get('user_role') == 'site-admin' %}
                                <th></th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for item in club_admins %}
                            {% set info = [] %}
                            {% set info = info|merge({
                                                'club_admin_id': item.club_admin_id, 
                                                'fname': item.fname, 
                                                'lname': item.lname,
                                                'email': item.email,
                                                'role': item.role,
                                                'status': item.status,
                                                's_aia_approved': item.s_aia_approved,
                                        })  
                            %}
                            <tr>
                                <td>{{ item.fname }} {{ item.lname }}</td>
                                <td>{{ item.role|replace('-',' ')|capitalize }}</td>
                                {% if app.session.get('user_role') == 'site-admin' or app.session.get('user_role') == 'admin' %}
                                <td>
{#                                    <a href="{{ path('acme_club_admin_add_edit', {'slug': 'edit'}) }}?caid={{ item.club_admin_id }}">Edit</a> | #}
                                    <a class="edit-admin pointer" data-id="{{ item.club_admin_id }}" data-info="{{ info|json_encode }}">Edit</a> |
                                    <a class="delete-admin pointer" data-id="{{ item.club_admin_id }}">Delete</a>
                                </td>
                                {% endif %}
                            </tr>

                        {% endfor %}
                    </tbody>
                </table>
                <button class="btn pull-right btn-new-admin btn-special-44">Add a New User
                    <i class="fa fa-angle-right"></i>
                </button>
            </div>
            <div class="col-sm-4 col-xs-12">
                <h4>Events</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Id
                            </th>
                            <th>
                                Events
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in events %}
                            {% set info = [] %}
                            {% set info = info|merge({
                                                'event_id': item.event_id, 
                                                'event_name': item.event_name, 
                                                'location': item.location,
                                                'status': item.status
                                        })  
                            %}
                            <tr>
                                <td>{{ item.event_id }}</td>
                                <td>{{ item.event_name }}</td>
                                <td>
                                    {% if item.club_id != '' %}
{#                                        <a href="{{ path('acme_club_event_add_edit', {'slug': 'edit'}) }}?eid={{ item.event_id }}">Edit</a> | #}
                                        <a class="edit-event pointer" data-id="{{ item.event_id }}" data-info="{{ info|json_encode }}">Edit</a> | 
                                        <a class="delete-event pointer" data-id="{{ item.event_id }}">Delete</a>
                                    {% else %}
                                        -- N/A --
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <button class="btn pull-right btn-new-event btn-special-44">Add a New Event
                    <i class="fa fa-angle-right"></i>
                </button>
            </div>
        </div>
        <div style="height: 25px;border-bottom: 1px solid #e9ebf0;"></div>    
        <div class="row">
            {% if app.session.get('user_role') == 'site-admin' or app.session.get('user_role') == 'admin'%}
            <div class="col-sm-4 col-xs-12 card-details">
                <h4>Card Details</h4>
                <form action="" method="post">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Payment Card Details
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="tr-min-height"> 
                                <div class="row">
                                    <div class="col-sm-12">
                                        
                                        {%if club_details.card_number is defined and club_details.card_number == ''%}
                                        <div class="form-group">
                                            <label>Card Number</label>
                                            <input type="text" name="card_number" value="{%if club_details.card_number is defined %}{{club_details.card_number}}{%endif%}" class="form-control required" placeholder="Card number" required>
                                        </div>
                                        {% endif %}
                                        
                                        {%if club_details.card_name is defined and club_details.card_name == ''%}
                                        <div class="form-group">
                                            <label>Card Name</label>
                                            <input type="text" name="card_name" value="{%if club_details.card_name is defined %}{{club_details.card_name}}{%endif%}" class="form-control required" placeholder="Card name" required>
                                        </div>
                                        {% endif %}
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Expiry Month</label>
                                                    <select class="form-control required" name="card_expiry_month"  required title="-- Month --">
                                                        <option value="01" {%if club_details.card_expiry_month is defined %}{% if club_details.card_expiry_month=='01'  %}selected{%endif%}{%endif%}>Jan</option>
                                                        <option value="02" {%if club_details.card_expiry_month is defined %}{% if club_details.card_expiry_month=='02'  %}selected{%endif%}{%endif%}>Feb</option>
                                                        <option value="03" {%if club_details.card_expiry_month is defined %}{% if club_details.card_expiry_month=='03'  %}selected{%endif%}{%endif%}>Mar</option>
                                                        <option value="04" {%if club_details.card_expiry_month is defined %}{% if club_details.card_expiry_month=='04'  %}selected{%endif%}{%endif%}>Apr</option>
                                                        <option value="05" {%if club_details.card_expiry_month is defined %}{% if club_details.card_expiry_month=='05'  %}selected{%endif%}{%endif%}>May</option>
                                                        <option value="06" {%if club_details.card_expiry_month is defined %}{% if club_details.card_expiry_month=='06'  %}selected{%endif%}{%endif%}>Jun</option>
                                                        <option value="07" {%if club_details.card_expiry_month is defined %}{% if club_details.card_expiry_month=='07'  %}selected{%endif%}{%endif%}>Jul</option>
                                                        <option value="08" {%if club_details.card_expiry_month is defined %}{% if club_details.card_expiry_month=='08'  %}selected{%endif%}{%endif%}>Aug</option>
                                                        <option value="09" {%if club_details.card_expiry_month is defined %}{% if club_details.card_expiry_month=='09'  %}selected{%endif%}{%endif%}>Sep</option>
                                                        <option value="10" {%if club_details.card_expiry_month is defined %}{% if club_details.card_expiry_month=='10'  %}selected{%endif%}{%endif%}>Oct</option>
                                                        <option value="11" {%if club_details.card_expiry_month is defined %}{% if club_details.card_expiry_month=='11'  %}selected{%endif%}{%endif%}>Nov</option>
                                                        <option value="12" {%if club_details.card_expiry_month is defined %}{% if club_details.card_expiry_month=='12'  %}selected{%endif%}{%endif%}>Dec</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Expiry Year</label>
                                                    <select class="form-control required" name="card_expiry_year" required title="-- Year --">
                                                       {% for i in 0..5 %}
                                                           {% set year = "now"|date_modify("+" ~ i ~" year")|date("Y") %}
                                                           <option value="{{ year }}" {%if club_details.card_expiry_year is defined %}{% if club_details.card_expiry_year== year  %}selected{%endif%}{%endif%}>{{ year }}</option>
                                                       {% endfor %}
                                                   </select>
                                               </div>   
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label>CCV</label>
                                            <input type="text" name="card_cvc" value="{%if club_details.card_cvc is defined %}{{club_details.card_cvc}}{%endif%}" class="form-control"  placeholder="CCV" required>
                                        </div>
                                        
                                        <hr>
                                        
                                        <h3>Billing Address</h3>
                                        
                                        <div class="form-group">
                                            <input type="text" name="card_email" value="{%if club_details.card_email is defined %}{{club_details.card_email }}{%endif%}" class="form-control required" placeholder="Email Address" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="card_address_line1" value="{%if club_details.card_address_line1 is defined %}{{club_details.card_address_line1}}{%endif%}" class="form-control required" placeholder="Street Address" required>
                                        </div>

                                        <div class="form-group">
                                            <input type="text" name="card_address_city" value="{%if club_details.card_address_city is defined %}{{club_details.card_address_city}}{%endif%}" class="form-control required" placeholder="City" required>
                                        </div>

                                        <div class="form-group">
                                            <input type="text" name="card_address_postcode" value="{%if club_details.card_address_postcode is defined %}{{club_details.card_address_postcode}}{%endif%}" class="form-control required" placeholder="Postcode" required>
                                        </div>
                                            
                                        <div class="form-group">
                                            <select name="card_address_state" class="form-control required" title="-- Select State --">
                                               {% for item in states %}
                                                    <option value="{{ item.code }}" {%if club_details.card_address_state is defined %}{% if club_details.card_address_state==item.code  %}selected{%endif%}{%endif%}>{{ item.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div> 
                                    </div>
                                </div>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
                <button class="btn pull-right btn-update-card btn-special-44" type="submit">Update Card Details
                    <i class="fa fa-angle-right"></i>
                </button>
                </form>
            </div>
            {% endif %}
            <div class="col-sm-4 col-xs-12">
                <h4>Client Category</h4>
                <table class="table">
                    <thead>
                        <tr>
                             <th style="display:none;">
                                id
                            </th>
                            <th>
                                Category
                            </th>
                            <th>
                                Color
                            </th>
                            <th>
                                
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for cat in client_category %}
                            {% set info = [] %}
                            {% set info = info|merge({
                                                'id': cat.id, 
                                                'category_name': cat.category_name, 
                                                'color': cat.color
                                        })  
                            %}
                            <tr>
                                <td style="display:none;">{{ cat.id }}</td>
                                <td>{{ cat.category_name }}</td>
                                <td><div style="padding:1px; border:#D3D7E2;border-radius:5px; height: 20px; background-color:{{ cat.color }}"></div></td>
                                
                                <td>
                                     {% if cat.id != '' %}
{#                                        <a href="{{ path('acme_club_event_add_edit', {'slug': 'edit'}) }}?eid={{ item.event_id }}">Edit</a> | #}
                                        <a class="edit-category pointer" data-id="{{ cat.id }}" data-info="{{ info|json_encode }}">Edit</a> | 
                                        <a class="delete-category pointer" data-id="{{ cat.id }}">Delete</a>
                                    {% else %}
                                        -- N/A --
                                    {% endif %}
                                </td>
                                
                            </tr>

                        {% endfor %}
                    </tbody>
                </table>
                <button class="btn pull-right btn-new-category btn-special-44">Add a New Category
                    <i class="fa fa-angle-right"></i>
                </button>
            </div>
            <div class="col-sm-3 col-xs-12">
            </div>
            <div class="col-sm-3 col-xs-12">
            </div>    
        </div>
        
    </div>
</section>
                    
<form action="{{ path('acme_payment') }}" method="post">
    <!-- Modal -->
    <div class="modal fade" id="mdlBuyCredit" tabindex="-1" role="dialog" >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title" id="myModalLabel">Buy More Credits</h3>
          </div>
          <div class="modal-body">
                {% for flashMessage in app.session.flashbag.get('credit-success') %}
                <div class="alert alert-success">
                    {{ flashMessage }}
                </div>
                {% endfor %}

                {% for flashMessage in app.session.flashbag.get('credit-error') %}
                <div class="alert alert-danger">
                    {% for item in flashMessage %}
                        {{ item.message }}<br/>
                    {% endfor %}
                </div>
                {% endfor %}
                <p>How many credits would you like to purchase?</p>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="text" class="form-control" name="qty"  placeholder="Qty." required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="address" placeholder="Street Address" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="city" placeholder="City" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="postcode" placeholder="Postcode" required>
                        </div>
                        <div class="form-group">
                            <select class="form-control selectpicker" name="state" title="Select State">
                                {% for item in states %}
                                    <option value="{{ item.code }}">{{ item.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="text" class="form-control" name="card_number" placeholder="Card Number" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="card_name" placeholder="Card Name" required>
                        </div>
                        <div class="form-group">
                            <select class="form-control selectpicker" name="card_month" title="Month">
                                <option value="01">Jan</option>
                                <option value="02">Feb</option>
                                <option value="03">Mar</option>
                                <option value="04">Apr</option>
                                <option value="05">May</option>
                                <option value="06">Jun</option>
                                <option value="07">Jul</option>
                                <option value="08">Aug</option>
                                <option value="09">Sep</option>
                                <option value="10">Oct</option>
                                <option value="11">Nov</option>
                                <option value="12">Dec</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control selectpicker" name="card_year" title="Year">
                                {% for i in 0..5 %}
                                    {% set year = "now"|date_modify("+" ~ i ~" year")|date("Y") %}
                                    <option value="{{ year }}">{{ year }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="card_ccv" placeholder="CVV" required>
                        </div>
                    </div>
                </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Buy Now</button>
          </div>
        </div>
      </div>
    </div>
</form>
                            
                            
<form action="{{ path('acme_club_admin_add_edit', {'slug': 'new'}) }}" method="post">
    <!-- Modal -->
    <div class="modal fade" id="mdlNewAdmin" tabindex="-1" role="dialog" >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title" id="myModalLabel">Create New Admin</h3>
          </div>
          <div class="modal-body">
              <div class="row">
                  <div class="col-sm-12">
                        {% for flashMessage in app.session.flashbag.get('club-admin-error') %}
                        <div class="alert alert-danger">
                            {% for item in flashMessage %}
                                {{ item.message }}<br/>
                            {% endfor %}
                        </div>
                        {% endfor %}
                        
                        {% if get.cid is defined %}
                            <input type="hidden" name="club_id" value="{{ get.cid }}">
                        {% endif %}

                        <div class="form-group">
                            <input type="text" class="form-control" name="fname" value="{% if post.fname is defined %}{{ post.fname }}{% endif %}" placeholder="First name" required>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" name="lname" value="{% if post.lname is defined %}{{ post.lname }}{% endif %}" placeholder="Last name" required>
                        </div>

                        <div class="form-group">
                            <input type="email" class="form-control" name="email" value="{% if post.email is defined %}{{ post.email }}{% endif %}" placeholder="Email" required>
                        </div>

                        <div class="form-group ">
                            <select name="role" class="form-control selectpicker" title="Role">
                                <option value="site-admin" {% if post.role is defined and post.role == 'site-admin'%}selected{% endif %}>Site Admin</option>
                                <option value="coach" {% if post.role is defined and post.role == 'coach'%}selected{% endif %}>Coach</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <select name="status" class="form-control selectpicker" title="Status">
                                <option value="active" {% if post.status is defined and post.status == 'active'%}selected{% endif %}>Active</option>
                                <option value="inactive" {% if post.status is defined and post.status == 'inactive'%}selected{% endif %}>Inactive</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <input type="password" class="form-control" name="password" value="{% if post.password is defined %}{{ post.password }}{% endif %}" placeholder="Password" required>
                        </div>    

                        <div class="form-group">
                            <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" required>
                        </div> 
                        
                        <hr>
                        <p class="aia-terms">
                            <input type="checkbox" name="aia_terms" required> I agree to the 'Healthy Life Project & AIA Vitality Fitness Trainer Terms and Conditions'
                        </p>
                        
                        <div class="aia-terms-content">
                            <h4>AIA Vitality Terms and Conditions for Fitness Trainers</h4>
                            <h5>General</h5>
                            <p>1. This document sets out the terms and conditions on which each fitness trainer who has met the Elibility Requirements set out in clause 2 below and who has opted in to become an AIA Vitality fitness trainer (AIA Vitality Fitness Trainer) agrees to provide AIA Vitality fitness assessments (VFAs) to AIA Vitality members. </p>
                            
                            <h5>Eligibility</h5>
                            <p>2. To be eligible to be an AIA Vitality Fitness Trainer you must:</p>
                            <ul>
                                <li>a. hold all authorisations, permits, licences, qualifications as required by Law (as defined in clause 6.b of this document) or by any industry policy or procedure document (including without limitation a current Senior First Aid and CPR Certification, a Certificate IV in Fitness and be recognised as Licensed to Practice as a Professional); and</li>
                                <li>b. read and agree to comply with the terms of this document. This document contains important information. The most up-to-date version of this document is available on the AIA Vitality partner portal. We recommend that you periodically check this link for the most up to date version.</li>
                            </ul>
                            
                            
                            <p>3. AIA Australia Limited (AIA Australia) may amend this document or any of the Requirements (as defined below) from time to time.  We will notify you of any changes or variations to this document or to the Requirements electronically by posting details of the change(s) on the AIA Vitality partner portal or by sending you an email (to your last notified email address). Where we consider the changes to this document or any of the Requirements to be significant, we will endeavour to provide you with at least 30 days notice of the changes. </p>
                            
                            <h5>Compliance with Requirements</h5>
                            
                            <p>4. The AIA Vitality Fitness Trainer agrees that it has read and/or completed (as applicable) and agrees to comply with:</p>
                            <ul>
                                <li>a. the terms of this document;</li>
                                <li>b. the AIA Vitality Fitness Assessment Protocol; and</li>
                                <li>c. any other terms and conditions as notified to that AIA Vitality Fitness Trainer by AIA Australia from time to time,</li>
                            </ul>
                            
                            
                            <p>5. The AIA Vitality Fitness Trainer agrees to conduct VFAs in accordance with the Requirements including without limitation by ensuring that each time a VFA is conducted, the AIA Vitality Fitness Trainer:</p>
                            <ul>
                                <li>a. requests the individual’s AIA Vitality membership card to confirm the individual is an AIA Vitality member;</li>
                                <li>b. logs into the AIA Vitality partner portal and asks each AIA Vitality member the ParQ questions and ensures the AIA Vitality member answered ‘no’ to every question in the ‘Medical history’ section or if the member answered ‘yes’ to any questions in that section that the AIA Vitality Fitness Trainer has sighted a doctor’s certificate in relation to the specified condition which confirms that in the doctor’s opinion, it is safe for the AIA Vitality member to proceed with the fitness assessment;</li>
                                <li>c. conducts all components of the VFA (including without limitation, blood pressure, body mass index, step test and waist circumference) accurately and in accordance with the Requirements; </li>
                                <li>d. inputs the AIA Vitality member’s VFA results into the AIA Vitality partner portal immediately (and no later than 5 days after the date of the VFA if the system is not operational); and</li>
                                <li>e. answers all questions asked of them by the AIA Vitality Member pertaining to the VFA, the AIA Vitality benefit provided to AIA Vitality members and/or the AIA Vitality program generally by referring to a basic fact sheet and provide the AIA Vitality member with the contact details for the AIA Vitality customer service centre for all questions that the AIA Vitality Fitness Trainer is not able to answer.</li>
                            </ul>
                            
                            
                            <p>6. The AIA Vitality Fitness Trainer must:</p>
                            <ul>
                                <li>a. provide the VFA:
                                    <ul>
                                        <li>i.  promptly, carefully and to the highest possible standards;<br>
                                            ii. exercising all due care, skill and judgement, in an efficient, professional and cost effective manner and in accordance with accepted professional and business practices; and<br>
                                            iii. in accordance with any directions given by AIA Australia from time to time;
                                        </li>
                                    </ul>
                                </li>
                                <li>b. comply with all laws (including without limitation, rules of common law, principles of equity, statutes, regulations, proclamations, ordinances, bylaws, rules, regulatory principles and requirements, mandatory codes of conduct, industry codes of conduct, writs, orders, injunctions, judgments and any awards or other industrial instruments, which are applicable in Australia as amended from time to time) (Laws) applying to the provision of the VFA;</li>
                                <li>c. comply with any recommended fitness industry policies or procedures or any policies or procedures of AIA Australia or any gym that the AIA Vitality Fitness Trainer is associated with (if relevant) including without limitation, policies and procedures relating to health, safety, ethics, privacy or environmental policies as amended from time to time; and</li>
                                <li>d. register and comply with the standards and requirements of any relevant third party as notified by AIA Australia from time to time (as amended from time to time). </li>
                            </ul>
                            
                            
                            <p>7. The AIA Vitality Fitness Trainer must ensure that it has the necessary computer equipment and information technology and other systems to enable it to conduct the VFA in accordance with the Requirements (including being able to immediately input the AIA Vitality member’s VFA results into the AIA Vitality partner portal and print the VFA report for the AIA Vitality member to take home or email the VFA report to the AIA Vitality member).</p>
                            
                            <p>8. The AIA Vitality Fitness Trainer must ensure that it does not act in a manner which could foreseeably damage the good name and reputation of AIA Australia or AIA Vitality or in any way bring AIA Australia or AIA Vitality into disrepute and agrees not to use the name or logo or similar of AIA Australia or AIA Vitality, without AIA Australia’s prior written consent.</p>
                            
                            <h5>VFA Appointment Times</h5>
                            
                            <p>9. The AIA Vitality Fitness Trainer agrees to provide each AIA Vitality member with a VFA appointment time suitable to the AIA Vitality member within two weeks of the AIA Vitality member’s request for a VFA appointment.</p>
                            
                            <h5>Breach of Requirements Documents and Laws</h5>
                            <p>10. The AIA Vitality Fitness Trainer must immediately notify AIA Australia in writing if:</p>
                            <ul>
                                <li>a. it is in breach of any term of any of the Requirements Documents including without limitation, any of the Eligibility Requirements or any of the obligations set out in clause 6 of this document; or</li>
                                <li>b. it believes at any time that it is unlikely to be able to provide a VFA to an AIA Vitality member in accordance with the Requirements or any term of this document and/or upload results in accordance with the timeframes set out in Clause 4.d. At AIA Australia’s sole discretion and in accordance with any other rights it may have, AIA Australia may grant the AIA Vitality Fitness Trainer an extension of time or may engage another AIA Vitality Fitness Trainer to provide the VFA.</li>
                            </ul>
                            
                            
                            <h5>Intellectual Property</h5>
                            <p>11. The AIA Vitality Fitness Trainer acknowledges and agrees that all intellectual property (including without limitation, copyrights, patents, trade marks, designs, brand names, logos, circuit layouts, knowhow and methodology) (Intellectual Property) discovered, developed or otherwise coming into existence as a result of, for the purposes of, or in connection with the AIA Vitality program (including without limitation in relation to the provision of VFAs), will vest in, and is assigned to, AIA Australia on creation. The AIA Vitality Fitness Trainer must execute all documents and do all things required by AIA Australia for the purposes of this Clause. The AIA Vitality Fitness Trainer understands and agrees that it must not infringe the Intellectual Property rights of AIA Australia or a third party in connection with provision of the VFA.</p>
                            
                            <h5>Sharing of details and subcontracting</h5>
                            <p>10. The AIA Vitality Fitness Trainer must immediately notify AIA Australia in writing if:</p>
                            <ul>
                                <li>a. share its login details for the AIA Vitality partner portal with anyone else; and</li>
                                <li>b. that it must not subcontract or assign the whole or any part of the provision of the VFA. </li>
                            </ul>
                            
                            
                            <h5>Warranties</h5>
                            <p>13. Each party warrants its obligations under this document are valid, binding and fully enforceable against it.  The AIA Vitality Fitness Trainer warrants on a continuing basis that all information, results, representations, warranties and undertakings made or given by it to AIA Australia or AIA Vitality are true, complete and accurate in all respects.</p>
                            
                            <h5>Insurance</h5>
                            <p>14. The AIA Vitality Fitness Trainer must, for the period of this document, maintain the following insurance policies, with insurers who have been approved in writing by AIA Australia, in the following amounts:</p>
                            <ul>
                                <li>a. professional indemnity or errors and omissions insurance for liability to third parties up to no less than AUD$5 million per claim or such other amount as AIA Australia may notify to the AIA Vitality Fitness Trainer from time to time; </li>
                                <li>b. public liability insurance for AUD$10 million for any once occurrence; and</li>
                                <li>c. any other insurances and in such amounts which the AIA Vitality Fitness Trainer is required by law to hold and maintain or which, in AIA Australia’s reasonable opinion, a prudent provider of VFAs would hold and maintain.  </li>
                            </ul>
                            
                            <p>Upon request by AIA Australia, the AIA Vitality Fitness Trainer must provide AIA Australia, within a reasonable time, with a certificate of currency for each insurance policy together with current schedules and full policy terms / wordings.</p>
                            
                            <h5>Exclusion of liability and indemnity</h5>
                            <p>15. The AIA Vitality Fitness Trainer acknowledges and agrees that to the maximum extent permitted by law, AIA Australia and AIA Vitality Company Ltd exclude any and all liability arising in respect of any VFA undertaken by the AIA Vitality Fitness Trainer under contract, tort, statute or in any other manner, for any injury (including without limitation death, personal, bodily or mental injury), damage or loss of any kind whatsoever (including without limitation, any liability for direct, indirect, special or consequential loss or damage) sustained by any person, or for any costs, charges or expenses incurred by any person arising from or in connection with the VFA (including without limitation as to the conduct (including any act or omission) of the AIA Vitality Fitness Trainer and the manner in which the VFA was conducted), except to the extent that such injury, damage or loss is caused by the gross negligence (meaning that the act was done or omitted to be done with reckless disregard, with or without consciousness for the consequences of the act or omission) of AIA Australia. In such case, the liability of AIA Australia or AIA Vitality Company Ltd (as applicable) will be limited to the injury, damage or loss directly caused by that party’s gross negligence. This Clause does not exclude, or intend to exclude, any consumer guarantees that AIA Australia or AIA Vitality Company Ltd is not permitted by law to exclude and to the extent that it does this Clause has no effect.</p>
                            
                            <p>16. The AIA Vitality Fitness Trainer agrees to indemnify AIA Australia and AIA Vitality Company Limited from and against any cost, expense, payment, tax, levy, impost, claim, action, damage, loss or liability (Loss) which AIA Australia or AIA Vitality Company Limited (as applicable) suffers, incurs, is liable for or pays which arises from or is in connection with this document and/or the VFA (including without limitation as to the conduct of the AIA Vitality Fitness Trainer (including any act or omission of the AIA Vitality Fitness Trainer) and the manner in which the VFA was conducted (including without limitation, the omission or provision of the VFA)).</p>
                            
                            <h5>Privacy</h5>
                            <p>17. The AIA Vitality Fitness Trainer must, in respect of any ‘personal information’ or ‘sensitive information’ (as those terms are defined in the Privacy Act 1988 (Cth)) provided by an AIA Vitality member, AIA Australia, AIA Vitality Company Limited, Discovery Holdings Ltd or accessed by the AIA Vitality Fitness Trainer in connection with this document or the provision of the VFA:</p>
                            <ul>
                                <li>a. comply with the Privacy Act 1988 (Cth), the Australian Privacy Principles (as current) under that Act and any requirement under law or industry code applicable to either party in relation to privacy, data protection, surveillance, security, direct marketing or the handling of personal information, and any reasonable direction from AIA Australia in relation to those matters (Privacy Requirements), including in relation to data quality and security, as though they are binding on the AIA Vitality Fitness Trainer;</li>
                                <li>b. comply with any privacy policies or procedures and any other requirements of AIA Australia that are notified to the AIA Vitality Fitness Trainer from time to time;</li>
                                <li>c. only use and disclose the information to the extent necessary for the provision of VFAs under this document;</li>
                                <li>d. promptly notify AIA Australia of any actual, apparent or anticipated breach of this Clause 17, misuse or loss of, interference with or unauthorised access to, modification of or disclosure of the information, or legal obligation inconsistent with this Clause 17; </li>
                                <li>e. as soon as practicable after the VFAs have been provided but no later than 3 months after; or at any other time if requested by AIA Australia (for example, if the AIA Vitality member terminates their membership in the AIA Vitality program) or at such time as the AIA Vitality Fitness Trainer ceases to be an AIA Vitality Fitness Trainer providing VFAs to AIA Vitality members, return or permanently destroy, at AIA Australia’s election, all documents and materials that contain the information immediately; </li>
                                <li>f. liaise and co-operate with AIA Australia in the event of any privacy breach, complaint or request relating to the information;</li>
                                <li>g. give AIA Australia or its nominee or regulator access to all premises, personnel, materials and systems to assess the AIA Vitality Fitness Trainer’s compliance with all or any part of this Clause 17;  </li>
                                <li>h. ensure that any person who is authorised by the AIA Vitality Fitness Trainer to have access to the information complies and agrees to comply with this Clause 17 to the same extent as the AIA Vitality Fitness Trainer. </li>                                    
                            </ul>
                            
                            <p>This Clause 17 survives termination or expiry of this document and applies notwithstanding any permitted handling of Confidential Information.</p>
                            
                            <h5>Confidential Information</h5>
                            <p>18. The AIA Vitality Fitness Trainer acknowledges that any confidential information of any person (including but not limited to ‘personal information’ or ‘sensitive information’ as those terms are defined in the Privacy Act 1988 (Cth) and any other information in respect of which any Privacy Requirements apply, relating to or disclosed in the course of providing the VFAs) (Confidential Information) is secret and valuable and agrees (subject to Clause 19):</p>
                            <ul>
                                <li>a. to keep the Confidential Information of the discloser secret, and not disclose or permit its disclosure to any person; and</li>
                                <li>b. to only use the Confidentiality Information of the discloser for the purposes of providing the VFA; and</li>
                                <li>c. that it is responsible for any misuse of the discloser’s Confidential Information by any third party to which the AIA Vitality Fitness Trainer passed the Confidential Information onto or that accessed the Confidential Information from the AIA Vitality Fitness Trainer.   </li>
                            </ul>
                            
                            
                            <p>19. The obligations of confidence in Clause 18  do not apply:</p>
                            <ul>
                                <li>a. if a disclosure is required by applicable Law or a recognised stock exchange, but the recipient intending to make such a disclosure must first notify the discloser and the discloser may take action to object to that disclosure;</li>
                                <li>b. to Confidential Information that is already in the public domain otherwise than as a result of a breach of any obligation of confidentiality by a party; and</li>
                                <li>c. to Confidential Information that is lawfully received from a third party, or is independently developed, by the recipient free of any obligation of confidence.</li>
                            </ul>
                            
                            
                            <p>20. The AIA Vitality Fitness Trainer acknowledges that damages may not be an adequate remedy for any breach of Clause 18. The AIA Vitality Fitness Trainer agrees to consent to the grant of any injunctive relief sought by AIA Australia to restrain any conduct or threatened conduct which is or will be a breach of Clause 18, or specific performance to compel the AIA Vitality Fitness Trainer to perform its obligations under this Clause, as a remedy for any breach or threatened breach and in addition to any other remedies available to AIA Australia.  The AIA Vitality Fitness Trainer indemnifies AIA Australia against any claim, liability, loss, damage or expense (including legal costs on a full indemnity basis) that AIA Australia incurs or suffers directly or indirectly as a result of any of the following:</p>
                            <ul>
                                <li>a. a breach of Clause 18, 19 or 20 by the AIA Vitality Fitness Trainer;  </li>
                                <li>b. anything done or not done by the AIA Vitality Fitness Trainer which, if done or not done by the AIA Vitality Fitness Trainer would be a breach of this document; or</li>
                                <li>c. an unauthorised disclosure by a person who received the Confidential Information from the AIA Vitality Fitness Trainer.</li>
                            </ul>
                            
                            
                            
                            <h5>Termination</h5>
                            
                            <p>21. AIA Australia reserves the right to terminate, suspend, cancel, deactivate, recall or revoke the AIA Vitality program and/or the VFAs at any time by notice in writing to the AIA Vitality Fitness Trainer. </p>
                            <p>22. AIA Australia reserves the right to terminate, suspend, cancel, deactivate, recall or revoke an AIA Vitality Fitness Trainer’s participation as an AIA Vitality Fitness Trainer in the AIA Vitality program at any time with 30 days written notice to the AIA Vitality Fitness Trainer.</p>
                            <p>23. AIA Australia reserves the right to immediately terminate, suspend, cancel, deactivate, recall or revoke an AIA Vitality Fitness Trainer’s participation as an AIA Vitality Fitness Trainer in the AIA Vitality program immediately at any by written notice to the AIA Vitality Fitness Trainer if any of the following occurs:</p>
                            <ul>
                                <li>a. The AIA Vitality Fitness Trainer is in breach of its obligations under this document and does not remedy the breach (to the extent that it can be remedied) within 14 days after receiving a written notice from the AIA Vitality Fitness Trainer specifying the breach and requiring it to be remedied; or</li>
                                <li>b. The AIA Vitality Fitness Trainer is the subject of an event of insolvency under the Corporations Act 2001 (Cth), an order is made or a resolution is passed for the winding up or dissolution without winding up of the AIA Vitality Fitness Trainer, a liquidator or provisional liquidator is appointed to the AIA Vitality Fitness Trainer, a receiver or receiver and manager is appointed to any of the AIA Vitality Fitness Trainer’s assets or undertakings, the AIA Vitality Fitness Trainer enters into a compromise or arrangement with its creditors or any of them or class of them or any application is made to the court for an order summoning a meeting of the creditors of the AIA Vitality Fitness Trainer, the directors of the AIA Vitality Fitness Trainer resolve to advise that it is unable to pay its debts as and when they fall due, the AIA Vitality Fitness Trainer is placed under official management or an administrator is appointed to the party under any provision of the Corporations Act 2001 (Cth).</li>
                            </ul>
                            
                            <p>24. The AIA Vitality Fitness Trainer may terminate its participation as an AIA Vitality Fitness Trainer in the AIA Vitality program at any time with 30 days written notice to AIA Australia. </p>
                            <p>25. Subject to Clause 26, on the effective date of termination, the AIA Vitality Fitness Trainer must immediately return all of AIA Australia’s information, documents, records and other property used by it in the provision of the VFAs or otherwise in the AIA Vitality Fitness Trainer’s possession or control and must cease to among other things, undertake VFAs and use its login details for the AIA Vitality partner portal.</p>
                            <p>26. Notwithstanding the termination of this document, and subject to a direction from AIA Australia to the contrary, the AIA Vitality Fitness Trainer must honour and continue to provide to AIA Vitality Members all VFAs which were booked prior to notice of termination being issued by either party and shall continue to comply with the Requirements (including without limitation, the terms of this document) to AIA Australia promptly in accordance with the Requirements), until the final VFA has been conducted by the AIA Vitality Fitness Trainer and all relevant data (including VFA results) has been provided by the AIA Vitality Fitness Trainer to AIA Australia. </p>
                            
                            <p>27. The parties agree that from the date of termination (or where Clause 26 is applicable, the date that the final VFA has been conducted by the AIA Vitality Fitness Trainer and all relevant data has been provided by the AIA Vitality Fitness Trainer to AIA Australia) the parties agree that Clause 11 (Intellectual Property), Clause 12 (Sharing of details and subcontractors), Clause 13 (Warranties), Clauses 15 and 16 (Exclusion of liability and indemnity), Clause 17 (Privacy), Clauses 18, 19, 20 (Confidential Information) and Clauses 21, 22, 23, 24, 25, 26 and 27 (Termination) shall survive the termination or expiry of this document.</p>
                            
                            <h5>Notices</h5>
                            <p>28. Except where this document expressly provides that notice may be given by posting details of the change(s) on the AIA Vitality partner portal, any notice, consent, information, application or request that must or may be given or made to a party under this document is only given or made if it is in writing and sent by email to the following email addresses:</p>
                            <ul>
                                <li>a. AIA Australia – <a href="mailto:support@aiavitality.com.au">support@aiavitality.com.au</a>; or</li>
                                <li>b. AIA Vitality Fitness Trainer – to the email address provided by the AIA Vitality Fitness Trainer on opt-in or such other email address as is notified by the AIA Vitality Fitness Trainer to AIA Australia by email to <a href="mailto:support@aiavitality.com.au">support@aiavitality.com.au</a> from time to time. </li>
                            </ul>
                            
                            <p>29. If a party gives notice of a change of its email address, any notice is only given or made if it is sent to the latest email address.</p>
                            <p>30. Any notice, consent, information, application or request is to be treated as given or made at the time that the email enters the recipient’s server.</p>
                            
                            <h5>Audit</h5>
                            <p>31. AIA Australia may appoint at any time independent auditors to conduct an audit of the AIA Vitality Fitness Trainer’s performance of its obligations under the Requirements.  AIA Australia shall inform the AIA Vitality Fitness Trainer of such audit at least five days prior to such audit.  Access to the auditors shall be provided during working hours and shall not be unduly disruptive of the normal business operations of the AIA Vitality Fitness Trainer. The AIA Vitality Fitness Trainer shall procure that its employees, authorised agents and representatives provide such information and explanations as may reasonably be required by AIA Australia and/or its auditors during an audit.</p>
                            <p>32. In the event that an Audit identifies an inaccuracy or misstatement in any report, results, or other documentation provided by an AIA Vitality Fitness Trainer or identifies any non-compliance with any of the provisions of any of the Requirements, AIA Australia shall be entitled to issue a notice requesting ratification or remedy by the AIA Vitality Fitness Trainer, and to carry out a follow-up Audit within ten days of the initial audit to verify that such remedial action has been taken. In the event such remedial action is not taken, AIA Australia shall be entitled to immediately terminate the AIA Vitality Fitness Trainer’s participation as an AIA Vitality Fitness Trainer in the AIA Vitality program in accordance with the termination provisions.</p>
                        </div>
                  </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Add Admin</button>
          </div>
        </div>
      </div>
    </div>
</form>
                        
                        
<form action="{{ path('acme_club_admin_add_edit', {'slug': 'edit'}) }}" method="post">
    <!-- Modal -->
    <div class="modal fade" id="mdlUpdateAdmin" tabindex="-1" role="dialog" >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title" id="myModalLabel">Update Admin Details</h3>
          </div>
          <div class="modal-body">
              <div class="row">
                  <div class="col-sm-12">
                        {% for flashMessage in app.session.flashbag.get('club-admin-edit-error') %}
                        <div class="alert alert-danger">
                            {% for item in flashMessage %}
                                {{ item.message }}<br/>
                            {% endfor %}
                        </div>
                        {% endfor %}
                        
                        {% if get.cid is defined %}
                            <input type="hidden" name="club_id" value="{{ get.cid }}">
                        {% endif %}
                        <input type="hidden" name="club_admin_id" value="{% if post.club_admin_id is defined %}{{ post.club_admin_id }}{% endif %}">
                        <div class="form-group">
                            <input type="text" class="form-control" name="fname" value="{% if post.fname is defined %}{{ post.fname }}{% endif %}" placeholder="First name" required>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" name="lname" value="{% if post.lname is defined %}{{ post.lname }}{% endif %}" placeholder="Last name" required>
                        </div>

                        <div class="form-group">
                            <input type="email" class="form-control" name="email" value="{% if post.email is defined %}{{ post.email }}{% endif %}" placeholder="Email" required>
                        </div>

                        <div class="form-group ">
                            <select name="role" class="form-control" title="Role">
                                <option value="site-admin" {% if post.role is defined and post.role == 'site-admin'%}selected{% endif %}>Site Admin</option>
                                <option value="coach" {% if post.role is defined and post.role == 'coach'%}selected{% endif %}>Coach</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <select name="status" class="form-control" title="Status">
                                <option value="active" {% if post.status is defined and post.status == 'active'%}selected{% endif %}>Active</option>
                                <option value="inactive" {% if post.status is defined and post.status == 'inactive'%}selected{% endif %}>Inactive</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <input type="password" class="form-control" name="password" placeholder="New Password" >
                        </div>    

                        <div class="form-group">
                            <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password">
                        </div> 
                            
                        <div class="form-group aia-option-disabled">
                            <p><input type="checkbox" disabled {% if post.s_aia_approved is defined and post.s_aia_approved == 1 %}checked{% endif %} name="s_aia_approved"> User is an approved AIA</p>
                        </div>
                  </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Update Admin</button>
          </div>
        </div>
      </div>
    </div>
</form>


<form action="{{ path('acme_club_event_add_edit', {'slug': 'new'}) }}" method="post">
    <!-- Modal -->
    <div class="modal fade" id="mdlNewEvent" tabindex="-1" role="dialog" >
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title" id="myModalLabel">Create New Event</h3>
          </div>
          <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        {% for flashMessage in app.session.flashbag.get('event-error') %}
                        <div class="alert alert-danger">
                            {% for item in flashMessage %}
                                {{ item.message }}<br/>
                            {% endfor %}
                        </div>
                        {% endfor %}
                        
                        <div class="form-group">
                            <input type="text" class="form-control" name="event_name" value="{% if post.event_name is defined %}{{ post.event_name }}{% endif %}" placeholder="Event name" required>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" name="location" value="{% if post.location is defined %}{{ post.location }}{% endif %}" placeholder="Location" required>
                        </div>


                        <div class="form-group">
                            <select name="status" class="form-control" title="Status">
                                <option value="active" {% if post.status is defined and post.status == 'active'%}selected{% endif %}>Active</option>
                                <option value="archive" {% if post.status is defined and post.status == 'archive'%}selected{% endif %}>Archive</option>
                            </select>
                        </div>
                    </div>
                </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Add Event</button>
          </div>
        </div>
      </div>
    </div>
</form>
                            
<form action="{{ path('acme_club_event_add_edit', {'slug': 'edit'}) }}" method="post">
    <!-- Modal -->
    <div class="modal fade" id="mdlEditEvent" tabindex="-1" role="dialog" >
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title" id="myModalLabel">Update Event Details</h3>
          </div>
          <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        {% for flashMessage in app.session.flashbag.get('event-edit-error') %}
                        <div class="alert alert-danger">
                            {% for item in flashMessage %}
                                {{ item.message }}<br/>
                            {% endfor %}
                        </div>
                        {% endfor %}
                        <input type="hidden" name="event_id" value="{% if post.event_id is defined %}{{ post.event_id }}{% endif %}">
                        <div class="form-group">
                            <input type="text" class="form-control" name="event_name" value="{% if post.event_name is defined %}{{ post.event_name }}{% endif %}" placeholder="Event name" required>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" name="location" value="{% if post.location is defined %}{{ post.location }}{% endif %}" placeholder="Location" required>
                        </div>


                        <div class="form-group">
                            <select name="status" class="form-control" title="Status">
                                <option value="active" {% if post.status is defined and post.status == 'active'%}selected{% endif %}>Active</option>
                                <option value="archive" {% if post.status is defined and post.status == 'archive'%}selected{% endif %}>Archive</option>
                            </select>
                        </div>
                    </div>
                </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Update Event</button>
          </div>
        </div>
      </div>
    </div>
</form>
          


<form action="{{ path('acme_client_category_add_edit', {'slug': 'new'}) }}" method="post">
    <!-- Modal -->
    <div class="modal fade" id="mdlNewCategory" tabindex="-1" role="dialog" >
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title" id="myModalLabel">Create Category</h3>
          </div>
          <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        {% for flashMessage in app.session.flashbag.get('event-error') %}
                        <div class="alert alert-danger">
                            {% for item in flashMessage %}
                                {{ item.message }}<br/>
                            {% endfor %}
                        </div>
                        {% endfor %}
                        
                        <div class="form-group">
                            <input type="text" class="form-control" name="category_name" value="{% if post.category_name is defined %}{{ post.category_name }}{% endif %}" placeholder="Category name" required>
                        </div>
                         <div class="form-group">
                            <select name="color" id="color1" class="form-control" title="Color">
                                <option value="" >Select Color</option>
                                <option value="#ff0000" id="ff0000" data-imagesrc="{{ asset('resources') }}/minicolors/images/red.png" >Red</option>                               
                                <option value="#009933" id="009933" data-imagesrc="{{ asset('resources') }}/minicolors/images/dark_green.png" >Dark Green</option>
                                <option value="#00ff00" id="00ff00" data-imagesrc="{{ asset('resources') }}/minicolors/images/light_green.png" >Light Green</option>
                                <option value="#0000ff" id="0000ff" data-imagesrc="{{ asset('resources') }}/minicolors/images/dark_blue.png" >Dark Blue</option>
                                <option value="#00ccff" id="00ccff" data-imagesrc="{{ asset('resources') }}/minicolors/images/light_blue.png" >Light Blue</option>
                                <option value="#ff9900" id="ff9900" data-imagesrc="{{ asset('resources') }}/minicolors/images/orange.png" >Orange</option>
                                <option value="#ffff00" id="ffff00" data-imagesrc="{{ asset('resources') }}/minicolors/images/yellow.png" >Yellow</option>
                                <option value="#7f00ff" id="7f00ff" data-imagesrc="{{ asset('resources') }}/minicolors/images/purple.png" >Purple</option>
                                <option value="#ff00ff" id="ff00ff" data-imagesrc="{{ asset('resources') }}/minicolors/images/pink.png" >Pink</option>
                                <option value="#a6a6a6" id="a6a6a6" data-imagesrc="{{ asset('resources') }}/minicolors/images/grey.png" >Grey</option>
                            </select>
                        </div>       
                    </div>
                </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Add Category</button>
          </div>
        </div>
      </div>
    </div>
</form>
                            
<form action="{{ path('acme_client_category_add_edit', {'slug': 'edit'}) }}" method="post">
    <!-- Modal -->
    <div class="modal fade" id="mdlEditCategory" tabindex="-1" role="dialog" >
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title" id="myModalLabel">Update Category</h3>
          </div>
          <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        {% for flashMessage in app.session.flashbag.get('event-edit-error') %}
                        <div class="alert alert-danger">
                            {% for item in flashMessage %}
                                {{ item.message }}<br/>
                            {% endfor %}
                        </div>
                        {% endfor %}
                        <input type="hidden" name="id" value="{% if post.id is defined %}{{ post.id }}{% endif %}">
                        <div class="form-group">
                            <input type="text" class="form-control" name="category_name" value="{% if post.category_name is defined %}{{ post.category_name }}{% endif %}" placeholder="category name" required>
                        </div>

                        <div class="form-group">
                            <select name="color" id="color2" class="form-control color" title="Color" required>
                                <option value="" >Select Color</option>
                                <option value="#ff0000" id="ff0000" data-imagesrc="{{ asset('resources') }}/minicolors/images/red.png" >Red</option>                               
                                <option value="#009933" id="009933" data-imagesrc="{{ asset('resources') }}/minicolors/images/dark_green.png" >Dark Green</option>
                                <option value="#00ff00" id="00ff00" data-imagesrc="{{ asset('resources') }}/minicolors/images/light_green.png" >Light Green</option>
                                <option value="#0000ff" id="0000ff" data-imagesrc="{{ asset('resources') }}/minicolors/images/dark_blue.png" >Dark Blue</option>
                                <option value="#00ccff" id="00ccff" data-imagesrc="{{ asset('resources') }}/minicolors/images/light_blue.png" >Light Blue</option>
                                <option value="#ff9900" id="ff9900" data-imagesrc="{{ asset('resources') }}/minicolors/images/orange.png" >Orange</option>
                                <option value="#ffff00" id="ffff00" data-imagesrc="{{ asset('resources') }}/minicolors/images/yellow.png" >Yellow</option>
                                <option value="#7f00ff" id="7f00ff" data-imagesrc="{{ asset('resources') }}/minicolors/images/purple.png" >Purple</option>
                                <option value="#ff00ff" id="ff00ff" data-imagesrc="{{ asset('resources') }}/minicolors/images/pink.png" >Pink</option>
                                <option value="#a6a6a6" id="a6a6a6" data-imagesrc="{{ asset('resources') }}/minicolors/images/grey.png" >Grey</option>
                            </select>
                        </div> 

                    </div>
                </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Update Category</button>
          </div>
        </div>
      </div>
    </div>
</form>

{# + Delete area #}
<div id="dialog-confirm" title="Delete this item?" style="display: none">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>These item will be permanently deleted and cannot be recovered. Are you sure?</p>
</div>

<form id="deleteClubAdmin" action="{{ path('acme_club_admin_delete') }}" method="post">
    <input type="hidden" name="club_admin_id">
</form>

<form id="deleteEvent" action="{{ path('acme_club_event_delete') }}" method="post">
    <input type="hidden" name="event_id">
</form>

<form id="deleteClientCategory" action="{{ path('acme_client_category_delete') }}" method="post">
    <input type="hidden" name="category_id">
</form>
{# - Delete area #}
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js') }}/club/club-admin.js?v=21032016"></script>
<script src="{{ asset('js') }}/club/event.js"></script>
{% endblock %}