<span style='color: #000' title='Frames'>   848</span><span style='color: #009' title='Memory'>  24064.00 KB</span><span style='color: #900' title='Time'>   5192.95 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />