<!DOCTYPE html>
<html lang="en-US" class="no-js">

<head>

    <!-- ==============================================
		Title and Meta Tags
		=============================================== -->
    <meta charset="utf-8">
{#    <title>{% block title %}Healthy Life Project{% endblock %}</title>#}
    <title>Healthy Life Project | Club </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
{#    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1">#}
    <!-- ==============================================
		Favicons
		=============================================== -->
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
    <!--
		<link rel="shortcut icon" href="{{ asset('templates') }}/hlp-2.0/images/favicon.ico">
		<link rel="apple-touch-icon" href="{{ asset('templates') }}/hlp-2.0/images/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="72x72" href="{{ asset('templates') }}/hlp-2.0/images/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="{{ asset('templates') }}/hlp-2.0/images/apple-touch-icon-114x114.png">
-->

    <!-- ==============================================
		CSS
		=============================================== -->
    <link rel="stylesheet" href="{{ asset('templates') }}/hlp-2.0/css/bootstrap.css">
    <link rel="stylesheet" href="{{ asset('templates') }}/hlp-2.0/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="{{ asset('templates') }}/hlp-2.0/css/bootstrap-toggle.min.css">
    <link rel="stylesheet" href="{{ asset('templates') }}/hlp-2.0/css/owl.carousel.css">
    <link rel="stylesheet" href="{{ asset('templates') }}/hlp-2.0/css/owl.theme.css">
    <link rel="stylesheet" href="{{ asset('templates') }}/hlp-2.0/css/font-awesome.min.css">
    <link id="theme" rel="stylesheet" href="{{ asset('templates') }}/hlp-2.0/css/color-1.css">
    <link rel="stylesheet" href="{{ asset('templates') }}/hlp-2.0/css/jquery-gauge.css">
{#    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">#}
<link rel="stylesheet" href="{{ asset('resources') }}/jquery-ui-themes/jquery-ui-bootstrap/css/custom-theme/jquery-ui-1.10.3.custom.css">
    <link type="text/css" href="{{ asset('resources') }}/jquery-ui-chatbox-admin/jquery.ui.chatbox.css" rel="stylesheet" />
    <link type="text/css" href="{{ asset('resources') }}/minicolors/jquery.minicolors.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ asset('css') }}/notifications.css?v=24022016">
    <link rel="stylesheet" href="{{ asset('css') }}/main.css?v=04022016">
    <link rel="stylesheet" href="{{ asset('resources') }}/single-page/css/style.css">
    <!-- ==============================================
		Fonts
		=============================================== -->
{#    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,200,600,700' rel='stylesheet' type='text/css'>#}


    <!-- ==============================================
		JS
		=============================================== -->

    <!--[if lt IE 9]>
			<script src="{{ asset('templates') }}/hlp-2.0/js/libs/respond.min.js"></script>
		<![endif]-->
    {% block stylesheets %}{% endblock %}
    <script type="text/javascript" src="{{ asset('templates') }}/hlp-2.0/js/libs/modernizr.min.js"></script>
    
</head>

<body class="noselect" data-spy="scroll" data-target="#main-nav" data-offset="400">

    <!--=== PAGE PRELOADER ===-->
    <!--		<div id="page-loader"><span class="page-loader-gif"></span></div>-->

    <!-- ==============================================
		MAIN NAV
		=============================================== -->
    {% if app.request.attributes.get('_route') != 'acme_club_login' %}
        <div id="main-nav" class="navbar navbar-fixed-top">
            <div class="container">
                
                <nav id="mobnav" class="navbar navbar-inverse navbar-fixed-top">
                    <div class="navbar-header">
                        <div class="col-sm-5 col-xs-4">
                            {% if app.session.get('user_type') != '' and (app.session.get('user_type') == 'club-user' or app.session.get('user_type') == 'head-office-user') %}
                            <div class="row">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".mob-navbar">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            {% endif %}
                        </div>
                        <div class="col-sm-2 col-xs-4">
                            <div class="row">
                                <div class="logo-mob"></div>
                            </div>
                        </div>
                        <div class="col-sm-5 col-xs-4">
                            <div class="row">
                                {% if app.session.get('user_type') != '' and (app.session.get('user_type') == 'club-user' or app.session.get('user_type') == 'head-office-user') %}
                                <div class="profile-info">
                                    <ul class="mob-notices">
                                        
                                    </ul>
                                
                                    <span class="user-name">{{ app.session.get('fname') }}</span>
                                    <img role="button" data-toggle="collapse" data-target=".user-nav" src="{{ asset('templates')  }}/hlp-2.0/images/avatar.png">
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('acme_club_login_out') }}">Logout</a></li>
                                    </ul>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="mob-navbar navbar-collapse collapse">
                        {% if app.session.get('user_type') != '' and (app.session.get('user_type') == 'club-user' or app.session.get('user_type') == 'head-office-user') %}
                        <ul class="nav navbar-nav">
                            <li class="{% if app.session.get('active_page') == 'dashboard' %}active{% endif %}"><a href="{{ path('acme_club_dashboard') }}">Dashboard</a></li>
                            <li class="{% if app.session.get('active_page') == 'reports' %}active{% endif %}"><a href="{{ path('acme_club_report') }}">Reports</a></li>
                            <li class="{% if app.session.get('active_page') == 'prospects' %}active{% endif %}"><a href="{{ path('acme_club_prospects') }}">Prospects</a></li>
                            <li class="{% if app.session.get('active_page') == 'clients' %}active{% endif %}"><a href="{{ path('acme_club_client_table_list') }}">Clients</a></li>
                            <li class="{% if app.session.get('active_page') == 'admin' %}active{% endif %}"><a href="{{ path('acme_club_admin_area') }}">Admin</a></li>
                            <li class="{% if app.session.get('active_page') == 'help' %}active{% endif %}"><a href="{{ path('acme_club_help') }}">Help</a></li>
                            
                        </ul>
                        {% endif %}
                    </div>
                    <div class="user-nav navbar-collapse collapse">
                        {% if app.session.get('user_type') != '' and (app.session.get('user_type') == 'club-user' or app.session.get('user_type') == 'head-office-user') %}
                        <ul class="nav navbar-nav">
                            <li class="{% if app.session.get('active_page') == 'faqs' %}active{% endif %}"><a href="{{ path('acme_club_faqs') }}">FAQ's</a></li>
                            <li><a href="{{ path('acme_club_login_out') }}">Logout</a></li>
                        </ul>
                        {% endif %}
                    </div>
                </nav>
                
                
                
                <div id="site-nav" class="navbar-collapse collapse">
                    <div class="row">
                    
                        <div class="col-sm-5">
                            {% if app.session.get('user_type') != '' and (app.session.get('user_type') == 'club-user' or app.session.get('user_type') == 'head-office-user') %}
                            <div class="row">
                                <ul>
                                    <li class="{% if app.session.get('active_page') == 'dashboard' %}active{% endif %}"><a href="{{ path('acme_club_dashboard') }}">Dashboard</a></li>
                                    <li class="{% if app.session.get('active_page') == 'reports' %}active{% endif %}"><a href="{{ path('acme_club_report') }}">Reports</a></li>
                                    <li class="{% if app.session.get('active_page') == 'prospects' %}active{% endif %}"><a href="{{ path('acme_club_prospects') }}">Prospects</a></li>
                                    <li class="{% if app.session.get('active_page') == 'clients' %}active{% endif %}"><a href="{{ path('acme_club_client_table_list') }}">Clients</a></li>
                                    <li class="{% if app.session.get('active_page') == 'admin' %}active{% endif %}"><a href="{{ path('acme_club_admin_area') }}">Admin</a></li>
                                    <li class="{% if app.session.get('active_page') == 'help' %}active{% endif %}"><a href="{{ path('acme_club_help') }}">Help</a></li>
                                    
                                </ul>
                            </div>
                            {% endif %}
                        </div>
                    

                        <div class="col-sm-2">
                            <div class="row">
                                <div class="logo"></div>
                            </div>
                        </div>

                    
                        <div class="col-sm-5 right-content">
                            <div class="row">
                                {% if app.session.get('user_type') != '' and (app.session.get('user_type') == 'club-user' or app.session.get('user_type') == 'head-office-user') %}
                                <ul>
                                    <li class="chat-messages">
                                        <span class="badge">5</span>
                                        <a href="#" class="get-chat-messages"><span class="glyphicon glyphicon-comment"></span></a>
                                        
                                        <div class="chat-messages-dropdown">
                                            <div class="chat-messages-header">
                                                <strong>Message Requests</strong>
                                            </div>
                                            <div class="lists">
                                                <ul>
                                                    
                                                </ul>
                                            </div>
                                            <div class="spinner">
                                                <center><img src="{{asset('img')}}/spinner.gif"/></center>
                                            </div>
                                            <div class="see-all">
{#                                                <a href="#">load more</a>#}
                                            </div>
                                        </div>
                                    </li>
                                    <li class="notifications">
                                        <span class="badge">2</span>
                                        <a href="#" class="get-notifications"><span class="glyphicon glyphicon-globe"></span></a>
                                        
                                        <div class="notification-dropdown">
                                            <div class="notification-header">
                                                <strong>Notifications</strong>
                                            </div>
                                            <div class="lists">
                                                <ul>
                                                    
                                                </ul>
                                            </div>
                                            <div class="spinner">
                                                <center><img src="{{asset('img')}}/spinner.gif"/></center>
                                            </div>
                                            <div class="see-all">
{#                                                <a href="#">load more</a>#}
                                            </div>
                                        </div>
                                    </li>
                                    <li><span class="profile-logo"></span>
                                        {% if app.session.get('user_type') == 'club-user' %}
                                            <a href="#">Welcome back {{ app.session.get('fname') }}</a>
                                        {% else %}
                                            <a href="#">Head Office Admin: {{ app.session.get('fname') }}</a>
                                        {% endif %}
                                    </li>
                                    <li class="{% if app.session.get('active_page') == 'faqs' %}active{% endif %}"><a href="{{ path('acme_club_faqs') }}">FAQ's</a></li>
                                    <li>
                                        <a href="{{ path('acme_club_login_out') }}">Logout</a>
                                    </li>
                                    
                                </ul>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--End navbar-collapse -->
            </div>
            <!-- End Container -->


        </div>
        <!--End main-nav -->

        {% if app.session.get('user_type') != '' and (app.session.get('user_type') == 'club-user' or app.session.get('user_type') == 'head-office-user') %}
        <!-- ==============================================
                    HEADER
                    =============================================== -->
        <header id="header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-12 gym-title">
    {#                    <img src="{{ asset('templates')  }}/hlp-2.0/images/fitness.png" class="img-responsive">#}
                        <img src="{{ asset('img') }}/fitness.jpg" class="img-responsive"> <h2>{{ app.session.get('club_name') }}</h2>
    {#                    <img src="{{ asset('resources') }}/html2image/html2image.php?nome={{ app.session.get('club_name') }}" class="img-responsive">#}
                    </div>
                    <div class="col-sm-6 col-md-4 col-md-offset-2 col-xs-12">
                        {% if app.request.attributes.get('_route') == 'acme_club_dashboard' %}
                            <form class="select-form" action="{{ path('acme_club_admin_switch_club') }}" method="get">
                                <div class="form-group">
                                    <select name="clubs" class="selectpicker location-option" title="-- Select Location --">
                                        {% for location in app.session.get('my_clubs') %}
                                            <option value="{{ location.club_id }}">{{ location.club_name }}</option>
                                        {% endfor %}
                                     </select>
                                 </div>
                            </form>

                        {% else %}
                            <form class="search-form" action="{{ path('acme_club_dashboard') }}" method="GET">
                                <div class="input-group hlp-input-group">
                                    <input type="text" class="form-control lg" name="keyword" placeholder="Search Clients (name, coach)" value="{{ app.request.get('keyword') }}">
                                    <span class="input-group-addon">
                                        <button type="submit">
                                            <span class="fa fa-search"></span>
                                    </button>
                                    </span>
                                </div>
                            </form>
                            <a class="btn btn-lg" href="{{ path('acme_club_client_add_edit', {'slug': 'new'}) }}">Add a New Client <i class="fa fa-angle-right"></i></a>

                        {% endif %}
                    </div>
                </div>
            </div>
        </header>
        <!--End header -->   
        {% else %}
            <header id="header">
            </header>
        {% endif %}
    {% endif %}
    
    <div id="main-content">
        {% block body %}{% endblock %}
        
        {% if app.session.get('user_type') != '' and (app.session.get('user_type') == 'club-user' or app.session.get('user_type') == 'head-office-user') %}
            <!-- ==============================================
                            footer
                            =============================================== -->
            <footer class="footer {% if app.request.attributes.get('_route') == 'acme_club_dashboard' %}dashboard-footer{% endif %}">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">                    
                            <img src="{{ asset('templates')  }}/hlp-2.0/images/main-logo.png" class="img-responsive">
                            <ul>
                                <li>
                                    <a href="http://www.healthylifeproject.com.au/disclaimer/" target="_blank">Disclaimer</a>
                                </li>
                                <li>
                                    <a href="http://www.healthylifeproject.com.au/contact-us/" target="_blank">Contact Us</a>
                                </li>
                            </ul>
                        </div>                
                        <div class="col-sm-6 col-xs-12">
{#                            <button class="btn"><i class="fa fa-envelope-o"></i> Leave us a message</button>#}
                        </div>
                    </div>
                </div>
            </footer>
        {% endif %}
    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="modalProgramInvitation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Program Invitation</h4>
          </div>
          <div class="modal-body">
              <form action="#">
                  <input type="hidden" name="club_client_id">
                  <input type="hidden" name="email">
                  <input type="hidden" name="name">

                  <label>Select program type</label>
                  <select name="invitationOption" class="form-control">
                      <option value="4week">4 Week Program</option>
                      <option value="8week">8 Week Program</option>
                      <option value="12week">12 Week Program</option>
                  </select>
              </form>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary send-invitation">Send Invitation</button>
            
          </div>
        </div>
      </div>
    </div>
    <!-- ==============================================
		SCRIPTS
		=============================================== -->
    
{#    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>#}
    <script src="{{ asset('templates') }}/hlp-2.0/js/libs/jquery-1.9.1.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="{{ asset('templates') }}/hlp-2.0/js/libs/jquery-1.9.1.min.js">\x3C/script>')

    </script>
    <script type="text/javascript">
        // Automatically cancel unfinished ajax requests 
        // when the user navigates elsewhere.
        (function($) {
          var xhrPool = [];
          $(document).ajaxSend(function(e, jqXHR, options){
            xhrPool.push(jqXHR);
          });
          $(document).ajaxComplete(function(e, jqXHR, options) {
            xhrPool = $.grep(xhrPool, function(x){return x!=jqXHR});
          });
          var abort = function() {
            $.each(xhrPool, function(idx, jqXHR) {
              jqXHR.abort();
            });
          };

          var oldbeforeunload = window.onbeforeunload;
          window.onbeforeunload = function() {
            var r = oldbeforeunload ? oldbeforeunload() : undefined;
            if (r == undefined) { 
              // only cancel requests if there is no prompt to stay on the page
              // if there is a prompt, it will likely give the requests enough time to finish
              abort();
            }
            return r;
          }
        })(jQuery);
    </script>
    <script src="{{ asset('templates') }}/hlp-2.0/js/libs/bootstrap.min.js"></script>
    <script src="{{ asset('templates') }}/hlp-2.0/js/libs/bootstrap-select.min.js"></script>
    <script src="{{ asset('templates') }}/hlp-2.0/js/libs/bootstrap-toggle.min.js"></script>
    <script src="{{ asset('resources') }}/bootbox/bootbox.min.js"></script>
    <script src="{{ asset('templates') }}/hlp-2.0/js/jquery.easing.1.3.min.js"></script>
    <script src="{{ asset('templates') }}/hlp-2.0/js/waypoints.min.js"></script>
    <script src="{{ asset('templates') }}/hlp-2.0/js/owl.carousel.min.js"></script>
    <script src="{{ asset('templates') }}/hlp-2.0/js/jquery.fitvids.js"></script>
    
    <!--		<script src="{{ asset('templates') }}/hlp-2.0/js/contact.js"></script>-->
    <script src="{{ asset('templates') }}/hlp-2.0/js/scripts.js"></script>
{#    <script type="text/javascript" src="https://www.google.com/jsapi"></script>#}
    <script type="text/javascript" src="{{ asset('js') }}/google-jsapi.js"></script>
{#    <script src="{{ asset('templates') }}/hlp-2.0/js/jquery.main.js"></script>#}
    <script src="{{ asset('templates') }}/hlp-2.0/js/jquery-gauge.js"></script>
    <script type="text/javascript" src="{{ asset('resources') }}/jquery-idleTimeout/jquery-idleTimeout.js"></script>
    <script src="{{ asset('resources') }}/jquery-ui/1.11.4/jquery-ui.js"></script>
    <script src="{{ asset('resources') }}/single-page/js/jquery.scrollto.js"></script>
    
    <script>
        var login_url = '{{ path('acme_club_login') }}';
        var logout_url = '{{ path('acme_club_login_out') }}';
        var dashboard_url = '{{ path('acme_club_dashboard') }}';
        
        var get_open_box_chat_msgs_url = '{{ path('acme_club_chatbox_get_chat_msgs') }}';
        var get_open_box_old_chat_msgs_url = '{{ path('acme_club_chatbox_get_old_chat_msgs') }}';
        var chat_url = '{{ path('acme_club_chatbox_chat') }}';
        var open_chat_url = '{{ path('acme_club_chatbox_open_chat') }}';
        var close_chat_url = '{{ path('acme_club_chatbox_close_chat') }}';
        var seen_message_url = '{{ path('acme_club_chatbox_seen_message') }}';
        var coach = '{{ app.session.get('club_admin_id') }}';
        var open_chats = '{{ app.session.get('open_chat')|raw }}';
        var invite_friend_url = '{{ path('acme_club_dashboard_invite_friend') }}';
        var invite_to_take_lifestyle_questionnaires_url = "{{ path('acme_club_dashboard_invite_to_take_lifestyle_questionnaires') }}";
        var get_notifications_url = '{{ path('acme_club_notifications') }}';
        var read_notifications_url = '{{ path('acme_club_read_notifications') }}';
        var new_notifications_url = '{{ path('acme_club_new_notifications') }}';
        var view_client_url = '{{ path('acme_club_client_view') }}';
        var view_test_url = '{{ path('acme_club_view_test') }}';
        var admin_url = '{{ path('acme_club_admin_area') }}';
    </script>
    <script>
        function delete_cookie( name ) {
            createCookie(name,"",-1);
        }
        function createCookie(name,value,days) {
            if (days) {
                    var date = new Date();
                    date.setTime(date.getTime()+(days*24*60*60*1000));
                    var expires = "; expires="+date.toGMTString();
            }
            else var expires = "";
            document.cookie = name+"="+value+expires+"; path=/";
        }
    </script>
    <script type="text/javascript" src="{{ asset('resources') }}/jquery-ui-chatbox-admin/jquery.ui.chatbox.js"></script>
    <script type="text/javascript" src="{{ asset('resources') }}/jquery-ui-chatbox-admin/chatboxmanager.js"></script>
    {% if app.session.get('user_type') != '' and app.session.get('user_type') == 'club-user' %}
    <script type="text/javascript" src="{{ asset('js') }}/club/chatbox.js"></script>
    <script type="text/javascript" src="{{ asset('js') }}/club/notifications.js"></script>
    {% endif %}
    <script type="text/javascript" src="{{ asset('resources') }}/minicolors/jquery.ddslick.js"></script>
    <script src="{{ asset('js') }}/main.js"></script>  
    <script type="text/javascript" src="{{ asset('js') }}/club/help_scroll.js"></script>
    
    {% block javascripts %}{% endblock %}
{#    <script src="{{ asset('templates') }}/hlp-2.0/js/scripts.js"></script>#}
    
</body>

</html>
