<!DOCTYPE html>
<html lang="en-US" class="no-js">

<head>

    <!-- ==============================================
		Title and Meta Tags
		=============================================== -->
    <meta charset="utf-8">
    <title>{% block title %}Healthy Life Project{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
{#    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1">#}
    <!-- ==============================================
		Favicons
		=============================================== -->
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
    <!--
		<link rel="shortcut icon" href="{{ asset('templates') }}/hlp-2.0/images/favicon.ico">
		<link rel="apple-touch-icon" href="{{ asset('templates') }}/hlp-2.0/images/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="72x72" href="{{ asset('templates') }}/hlp-2.0/images/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="{{ asset('templates') }}/hlp-2.0/images/apple-touch-icon-114x114.png">
-->

    <!-- ==============================================
		CSS
		=============================================== -->
    <link rel="stylesheet" href="{{ asset('templates') }}/hlp-2.0/css/bootstrap.css">
    <link rel="stylesheet" href="{{ asset('templates') }}/hlp-2.0/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="{{ asset('templates') }}/hlp-2.0/css/bootstrap-toggle.min.css">
    <link rel="stylesheet" href="{{ asset('templates') }}/hlp-2.0/css/owl.carousel.css">
    <link rel="stylesheet" href="{{ asset('templates') }}/hlp-2.0/css/owl.theme.css">
    <link rel="stylesheet" href="{{ asset('templates') }}/hlp-2.0/css/font-awesome.min.css">
    <link id="theme" rel="stylesheet" href="{{ asset('templates') }}/hlp-2.0/css/color-1.css">
{#    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">#}
<link rel="stylesheet" href="{{ asset('resources') }}/jquery-ui-themes/jquery-ui-bootstrap/css/custom-theme/jquery-ui-1.10.3.custom.css">
    <link rel="stylesheet" href="{{ asset('css') }}/main.css">
    <!-- ==============================================
		Fonts
		=============================================== -->
{#    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,200,600,700' rel='stylesheet' type='text/css'>#}


    <!-- ==============================================
		JS
		=============================================== -->

    <!--[if lt IE 9]>
			<script src="{{ asset('templates') }}/hlp-2.0/js/libs/respond.min.js"></script>
		<![endif]-->
    {% block stylesheets %}{% endblock %}
    <script type="text/javascript" src="{{ asset('templates') }}/hlp-2.0/js/libs/modernizr.min.js"></script>

</head>

<body class="noselect" data-spy="scroll" data-target="#main-nav" data-offset="400">

    <!--=== PAGE PRELOADER ===-->
    <!--		<div id="page-loader"><span class="page-loader-gif"></span></div>-->

    <!-- ==============================================
		MAIN NAV
		=============================================== -->
        <div id="main-nav" class="navbar navbar-fixed-top">
            <div class="container">
                
                <nav id="mobnav" class="navbar navbar-inverse navbar-fixed-top">
                    <div class="navbar-header">
                        <div class="col-sm-5 col-xs-4">
                        </div>
                        <div class="col-sm-2 col-xs-4">
                            <div class="row">
                                <div class="logo-mob"></div>
                            </div>
                        </div>
                        <div class="col-sm-5 col-xs-4">
                            <div class="row">
                            </div>
                        </div>
                    </div>
                    <div class="mob-navbar navbar-collapse collapse">
                    </div>
                    <div class="user-nav navbar-collapse collapse">
                    </div>
                </nav>
                
                
                
                <div id="site-nav" class="navbar-collapse collapse">
                    <div class="row">
                    
                        <div class="col-sm-5">
                            
                        </div>
                    

                        <div class="col-sm-2">
                            <div class="row">
                                <div class="logo"></div>
                            </div>
                        </div>

                    
                        <div class="col-sm-5 right-content">
                            <div class="row">
                                
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--End navbar-collapse -->
            </div>
            <!-- End Container -->


        </div>
        <!--End main-nav -->

        
    
    
        {% block body %}{% endblock %}
        
            
    
    <!-- Modal -->
    <div class="modal fade" id="modalProgramInvitation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Program Invitation</h4>
          </div>
          <div class="modal-body">
              <form action="#">
                  <input type="hidden" name="club_client_id">
                  <input type="hidden" name="email">
                  <input type="hidden" name="name">

                  <label>Select program type</label>
                  <select class="form-control">
                      <option value="12week">12 Week Program</option>
                      <option value="12week">8 Week Program</option>
                  </select>
              </form>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-primary send-invitation">Send Invitation</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- ==============================================
		SCRIPTS
		=============================================== -->
    
{#    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>#}
    <script src="{{ asset('templates') }}/hlp-2.0/js/libs/jquery-1.9.1.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="{{ asset('templates') }}/hlp-2.0/js/libs/jquery-1.9.1.min.js">\x3C/script>')

    </script>

    <script src="{{ asset('templates') }}/hlp-2.0/js/libs/bootstrap.min.js"></script>
    <script src="{{ asset('templates') }}/hlp-2.0/js/libs/bootstrap-select.min.js"></script>
    <script src="{{ asset('templates') }}/hlp-2.0/js/libs/bootstrap-toggle.min.js"></script>
    <script src="{{ asset('resources') }}/bootbox/bootbox.min.js"></script>
    <script src="{{ asset('templates') }}/hlp-2.0/js/jquery.easing.1.3.min.js"></script>
    <script src="{{ asset('templates') }}/hlp-2.0/js/waypoints.min.js"></script>
    <script src="{{ asset('templates') }}/hlp-2.0/js/owl.carousel.min.js"></script>
    <script src="{{ asset('templates') }}/hlp-2.0/js/jquery.fitvids.js"></script>
    
    <!--		<script src="{{ asset('templates') }}/hlp-2.0/js/contact.js"></script>-->
    <script src="{{ asset('templates') }}/hlp-2.0/js/scripts.js"></script>
{#    <script type="text/javascript" src="https://www.google.com/jsapi"></script>#}
    <script type="text/javascript" src="{{ asset('js') }}/google-jsapi.js"></script>
    <script src="{{ asset('templates') }}/hlp-2.0/js/jquery.main.js"></script>
    
    <script type="text/javascript" src="{{ asset('resources') }}/jquery-idleTimeout/jquery-idleTimeout.js"></script>
    <script src="{{ asset('resources') }}/jquery-ui/1.11.4/jquery-ui.js"></script>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','{{ asset('js') }}/google-analytics.js','ga');
{#    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');#}

    ga('create', 'UA-42580516-3', 'auto');
    ga('send', 'pageview');

    </script>
    <script>
        
    </script>
    <script src="{{ asset('js') }}/main.js"></script>  
    {% block javascripts %}{% endblock %}
{#    <script src="{{ asset('templates') }}/hlp-2.0/js/scripts.js"></script>#}
    
</body>

</html>
