<!DOCTYPE html>
<html>
    <head>
        <!-- set the encoding of your site -->
        <meta charset="utf-8">
        <!-- set the viewport width or mobile devices -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Title of the site -->
        <title>{% block title %}HealtyLifeProject{% endblock %}</title>
        <!-- include the site stylesheet -->
        <link rel="stylesheet" href="{{ asset('resources') }}/jquery-ui/1.11.4/jquery-ui.css">
        <link media="all" rel="stylesheet" href="{{ asset('css') }}/all.css">
        <!-- include the google fonts -->
        <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ asset('css') }}/head-office/main.css">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    
    {% if app.session.get('user_type') != '' and app.session.get('user_type') == 'head-office-user' %}
        <body>
    {% else %}
        <body class="home">
    {% endif %}
                
        <!-- wrapper -->
	<div id="wrapper">
            {% if app.session.get('user_type') != '' and app.session.get('user_type') == 'head-office-user' %}
                <!-- w1 -->
                <div class="w1">
                    <!-- header -->
                    <header id="header">
                        <div class="holder">
                            <form class="select-form" action="#">
                                {#
                                <fieldset>
                                    <select class="select1">
                                        <option>Select Location</option>
                                        <option>Select Location</option>
                                        <option>Select Location</option>
                                        <option>Select Location</option>
                                    </select>
                                </fieldset>#}
                            </form>
                        </div>
                        <!-- top bar -->
                        <div class="top-bar">
                            <div class="holder">
                                <div class="nav-area">
                                    <a href="#" class="opener"><span></span></a>
                                    <!-- nav -->
                                    <nav id="nav">
                                        {% if app.session.get('user_type') != '' and app.session.get('user_type') == 'head-office-user' %}
                                        <ul>
                                            <li class="active"><a href="{{ path('acme_head_office_dashboard') }}">Dashboard</a></li>
                                            <li><a href="{{ path('acme_head_office_club') }}">Clubs</a></li>
                                            <li><a href="{{ path('acme_head_office_coaches') }}">Coaches</a></li>
                                            <li><a href="{{ path('acme_head_office_report') }}">Reports</a></li>
                                            <li><a href="{{ path('acme_head_office_prospects') }}">Prospects</a></li>
                                            <li><a href="{{ path('acme_head_office_lite_tests') }}">LiteTests</a></li>
                                            <li><a href="{{ path('acme_head_office_admin_area') }}">Admin</a></li>
                                        </ul>
                                        {% endif %}
                                    </nav>
                                </div>
                                <!-- links holder -->
                                <div class="link-holder">
                                    <ul>
                                        <li>
                                            {% if app.session.get('lname') != '' %}
                                            <a href="{{ path('acme_head_office_login_out') }}">
                                                    <i class="icon-26"></i>
                                                    <span>{{ app.session.get('fname') }} {{ app.session.get('lname') }} <em>» Logout</em></span>
                                            </a>
                                            {% endif %}
                                        </li>
                                        <li>
                                            <a href="{{ path('acme_head_office_admin_area') }}">
                                                    <i class="icon-18"></i>
                                                    <span>{{ app.session.get('available_credit') }} Credits <em>» Add Credits</em></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="logo">
                                        <a href="{{ path('acme_head_office_dashboard') }}">
                                                <img src="{{ asset('img') }}/logo1.png" alt="theHealtyLifeProject">
                                        </a>
                                </div>

                            </div>
                        </div>
                    </header>

                    <!-- main -->
                    <main id="main" role="main">
                        <div class="holder">
                            <header class="header">
                                <div class="logo-area">
                                    <div class="img">
                                        <a href="#"><img src="{{ asset('img') }}/logo-anytime.png" alt="images description"></a>
                                    </div>
                                    <div class="add-wrap">
                                        <a class="add-link" href="{{ path('acme_head_office_dashboard') }}">Head Office</a>
                                    </div>
                                        <form action ="{{path('acme_head_office_club_client_search')}}" method="POST">
                                            <div style="float: right; margin-top:-70px;">
                                                <input name="search" type="text" placeholder="Seach client" value="{{app.session.get('search_param')}}">
                                            </div>
                                        </form>
                                </div>
                                    
                            </header>
        {% endif %}
                            {% block body %}{% endblock %}

        {% if app.session.get('user_type') != '' and app.session.get('user_type') == 'head-office-user' %}
                        </div>
                    </main>
                </div>
                
            <!-- footer -->
            <footer id="footer">
                <div class="footer-holder">
                    <div class="holder">
                        <div class="col">
                            <h4>Dashboard</h4>
                        </div>
                        <div class="col">
                            <h4>Reports</h4>
                            <ul>
                                <li><a href="#">Saved Reports</a></li>
                            </ul>
                        </div>
                        <div class="col">
                            <h4>Admin</h4>
                            <ul>
                                <li><a href="{{ path('acme_head_office_admin_area') }}">Users</a></li>
                                <li><a href="{{ path('acme_head_office_admin_area') }}">Buy credits</a></li>
                                <li><a href="#">Help</a></li>
                            </ul>
                        </div>

                        <div class="col last">
                                <h4>Contact Us</h4>
                        </div>
                    </div>
                        {#
                    <div class="holder disclaimer">
                        <p><a href="{{ path("acme_head_office_disclaimer") }}">All information and services are subject to our legal disclaimer</a>.</p>
                    </div>#}
                </div>
            </footer>
        {% else %}
            <!-- footer -->
            <footer id="footer">
                    <div class="holder">
                            <p>Copyright 2015 - <a href="#">Healthy Life Project</a></p>
                    </div>
            </footer>
        {% endif %}
            
        </div>
        
        <script>
            var login_url = '{{ path('acme_head_office_login') }}';
            var logout_url = '{{ path('acme_head_office_login_out') }}';
            var dashboard_url = '{{ path('acme_head_office_dashboard') }}';
        </script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
	<script type="text/javascript">window.jQuery || document.write('<script src="js/jquery-1.11.1.min.js"><\/script>')</script> 
        <script src="{{ asset('resources') }}/jquery-ui/1.11.4/jquery-ui.js"></script>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script type="text/javascript" src="{{ asset('js') }}/jquery.main v1.js"></script>
        <script type="text/javascript" src="{{ asset('resources') }}/jquery-idleTimeout/jquery-idleTimeout.js"></script>
        
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-42580516-3', 'auto');
        ga('send', 'pageview');

        </script>
        
        <script src="{{ asset('js') }}/main.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
