<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        <link rel="stylesheet" href="{{ asset('resources') }}/bootstrap/bootstrap-3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('resources') }}/jquery-ui/1.11.4/jquery-ui.css">
        <link rel="stylesheet" href="{{ asset('css') }}/main.css">
        
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="row">
            <div class="col-lg-4">
                <h1>Head Office</h1>
            </div>
            <div class="col-lg-4">
                {% if app.session.get('user_type') != '' and app.session.get('user_type') == 'head-office-user' %}
                    <a href="{{ path('acme_head_office_dashboard') }}">Dashboard</a> | 
                    <a href="{{ path('acme_head_office_club') }}">Club</a> | 
                    <a href="{{ path('acme_head_office_report') }}">Report</a> | 
                    <a href="{{ path('acme_head_office_admin_area') }}">Admin</a>
                {% endif %}
            </div>
            <div class="col-lg-4 ">
                {% if app.session.get('lname') != '' %}
                    Welcome, {{ app.session.get('fname') }}! <a href="{{ path('acme_head_office_login_out') }}">logout</a> <br>
                    {{ app.session.get('available_credit') }} Credits <a href="{{ path('acme_head_office_admin_area') }}"> Add Credit</a>
                {% endif %}
            </div>
        </div>
        
        {% block body %}{% endblock %}
        
        
        <script src="{{ asset('resources') }}/jquery/1.10.2/jquery.js"></script>
        <script src="{{ asset('resources') }}/jquery-ui/1.11.4/jquery-ui.js"></script>
        <script src="{{ asset('resources') }}/bootstrap/bootstrap-3.3.4/js/bootstrap.min.js"></script>
        <script src="{{ asset('js') }}/main.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
