<!DOCTYPE html>
<html>
    <head>
            <!-- set the encoding of your site -->
            <meta charset="utf-8">
            <!-- set the viewport width or mobile devices -->
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <!-- Title of the site -->
            <title>{% block title %}HealtyLifeProject{% endblock %}</title>
            <!-- include the site stylesheet -->
            <link rel="stylesheet" href="{{ asset('resources') }}/jquery-ui/1.11.4/jquery-ui.css">
            <link media="all" rel="stylesheet" href="{{ asset('css') }}/all.css">
            <!-- include the google fonts -->
            <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300' rel='stylesheet' type='text/css'>
            {% block stylesheets %}{% endblock %}
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <!-- wrapper -->
	<div id="wrapper">
            <!-- w1 -->
            <div class="w1">

                <!-- main -->
                <main id="main" role="main">
                    <div class="holder">
                        {% block body %}{% endblock %}

                    </div>
                </main>
            </div>
        </div>
        
        
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
	<script type="text/javascript">window.jQuery || document.write('<script src="js/jquery-1.11.1.min.js"><\/script>')</script> 
        <script src="{{ asset('resources') }}/jquery-ui/1.11.4/jquery-ui.js"></script>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script type="text/javascript" src="{{ asset('js') }}/jquery.main.js"></script>
            
        <script src="{{ asset('js') }}/main.js"></script>    
        
        {% block javascripts %}{% endblock %}
    </body>
</html>
