
<link rel="stylesheet" href="{{ asset('templates') }}/hlp-2.0/css/bootstrap.css">
<link rel="stylesheet" href="{{ asset('templates') }}/hlp-2.0/css/bootstrap-select.min.css">
<link rel="stylesheet" href="{{ asset('templates') }}/hlp-2.0/css/bootstrap-toggle.min.css">
<link rel="stylesheet" href="{{ asset('templates') }}/hlp-2.0/css/owl.carousel.css">
<link rel="stylesheet" href="{{ asset('templates') }}/hlp-2.0/css/owl.theme.css">
<link rel="stylesheet" href="{{ asset('templates') }}/hlp-2.0/css/font-awesome.min.css">
<link id="theme" rel="stylesheet" href="{{ asset('templates') }}/hlp-2.0/css/color-1_litetest.css">
{#<script src="{{ asset('resources') }}/datepicker/css/bootstrap-datepicker.css"></script>#}
<link rel="stylesheet" href="{{ asset('resources') }}/jquery-ui-themes/jquery-ui-bootstrap/css/custom-theme/jquery-ui-1.10.3.custom.css">
<link media="all" rel="stylesheet" href="{{ asset('css') }}/main.css">
<link media="all" rel="stylesheet" href="{{ asset('css') }}/litetest_new.css">

{% block stylesheets %}{% endblock %}
<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

{% block specialscripts %}{% endblock %}

    <!-- wrapper -->
    <div id="wrapper" class="litetest lt-wrapper">
        <!-- w1 -->
        <div class="w1">

            <!-- main -->
            <main id="main" role="main">
                <div class="holder">
                    {% block body %}{% endblock %}
                        
                </div>
            </main>
        </div>
    </div>


    <script src="{{ asset('templates') }}/hlp-2.0/js/libs/jquery-1.9.1.min.js"></script>
    <script src="{{ asset('templates') }}/hlp-2.0/js/libs/bootstrap.min.js"></script>
    <script src="{{ asset('templates') }}/hlp-2.0/js/libs/bootstrap-select.min.js"></script>
    <script src="{{ asset('templates') }}/hlp-2.0/js/libs/bootstrap-toggle.min.js"></script>
    <script src="{{ asset('resources') }}/bootbox/bootbox.min.js"></script>
{#    <script src="{{ asset('resources') }}/datepicker/js/bootstrap-datepicker.js"></script>#}
    <script src="{{ asset('resources') }}/jquery-ui/1.11.4/jquery-ui.js"></script>
    <script src="{{ asset('templates') }}/hlp-2.0/js/jquery.easing.1.3.min.js"></script>
{#    <script src="{{ asset('templates') }}/hlp-2.0/js/waypoints.min.js"></script>#}
{#    <script src="{{ asset('templates') }}/hlp-2.0/js/owl.carousel.min.js"></script>#}
    <script>
    
     </script>
    {% block javascripts %}{% endblock %}
