
<link media="all" rel="stylesheet" href="{{ asset('css') }}/litetest.css">
<link media="all" rel="stylesheet" href="{{ asset('resources') }}/magnific-popup/magnific-popup.css">

{% block stylesheets %}{% endblock %}
<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

{% block specialscripts %}{% endblock %}

    <!-- wrapper -->
    <div id="wrapper" class="litetest lt-wrapper">
        <!-- w1 -->
        <div class="w1">

            <!-- main -->
            <main id="main" role="main">
                <div class="holder">
                    {% block body %}{% endblock %}
                        
                </div>
            </main>
        </div>
    </div>


    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
    <script type="text/javascript">window.jQuery || document.write('<script src="js/jquery-1.11.1.min.js"><\/script>')</script> 
    <script type="text/javascript" src="{{ asset('js') }}/jquery.main.js"></script>
<script type="text/javascript" src="{{ asset('resources') }}/magnific-popup/jquery.magnific-popup.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
    //setTimeout(function() {
     if ($('#item-popup').length) {
       $.magnificPopup.open({
        items: {
            src: '#item-popup' 
        },
        type: 'inline'
          });
       }
    // }, 5000);
    });
</script>
{% if  app.session.get('litetest_id') and app.session.get('litetest_id') != ''%}

{%endif%}
    {% block javascripts %}{% endblock %}
