{% if app.session.get('user_type') == 'head-office-user'%}
    {% set layout_extension = "::head_office_layout.html.twig" %}
{% else %}
    {% set layout_extension = "::club_layout.html.twig" %}
{% endif %}

{% extends layout_extension %}

{% block title %}Error{% endblock %}

{% block body %}
<h2>{% if error.title is defined %}{{ error.title }}{% else %}Error{% endif %}</h2>
<p>{{ error.message }}</p>
{% endblock %}
