<h3>On a scale of 1 (highly unlikely)- 7 (Highly likely) how likely are you to partake in the following activities?</h3>

<input type="hidden" name="answer_type" value="risk-profile">
<input type="hidden" name="client_test_id" value="{{ client_test_id }}">
<input type="hidden" name="club_client_id" value="{{ club_client_id }}">
<div class="box">
    {% for item in questions %}
	<br>
    <div class="row-holder risk-profile">
		<div class="col-1">
            {{ loop.index }}. {{ item.question }}
		</div>
		<div class="col-2">
			<table class="table-risk-profile-options" cellspacing="0">
				<tr>
					<td class="label">Highly Unlikely</td>
					<td>
						<ul class="risk-profile-options">
						{% for i in 1..7 %}
							<li>
								{{ i }} <input type="radio" name="answer[{{ item.lq_id }}]" value="{{ i }}" {% if item.answer is defined and item.answer == i %}checked{% endif %}>
							</li> 
						{% endfor %}
						</ul>
					</td>
					<td class="label">Highly likely</td>
				</tr>
			</table>
		</div>
    </div>
    {% endfor %}
</div>