<h3>In the last 30 days, how often have you felt:</h3>
<input type="hidden" name="answer_type" value="mental-health">
<input type="hidden" name="client_test_id" value="{{ client_test_id }}">
<input type="hidden" name="club_client_id" value="{{ club_client_id }}">

<div class="box">
    {% for item in questions %}
        <div class="row-holder">
            <div class="col-1">
                {{ loop.index }}. {{ item.question }}
            </div>
                
            <div class="col-2">
				<ul class="mental-health-options">
					{% for option in options %}
						<li>
							<label><input type="radio" name="answer[{{ item.lq_id }}]" value="{{ option.option_value }}" {% if item.answer is defined and item.answer == option.option_value %}checked{% endif %}> {{ option.option_description }}</label>
						</li>
					{% endfor %}
				</ul>
            </div>
        </div>
    {% endfor %}
</div>