<h3>Answer the 10 questions below based on the last 7 days:  Be honest, this is all about assessing whether you are eating for health.</h3>

<input type="hidden" name="answer_type" value="nutrition">
<input type="hidden" name="client_test_id" value="{{ client_test_id }}">
<input type="hidden" name="club_client_id" value="{{ club_client_id }}">
<div class="box">
    {% for item in questions %}
    <div class="row-holder">
        <div class="col-1">
            {{ loop.index }}. {{ item.question }}
        </div>

        <div class="col-2">
            <label><input type="radio" name="answer[{{ item.lq_id }}]" class="{{ item.class }}" value="1" {% if item.answer is defined and item.answer == 1 %}checked{% endif %}> Yes</label>
            <label><input type="radio" name="answer[{{ item.lq_id }}]" class="{{ item.class }}" value="0" {% if item.answer is defined and item.answer == 0 and item.answer is not empty %}checked{% endif %}> No</label>
        </div>
    </div>
    {% endfor %}
</div>