<input type="hidden" name="answer_type" value="alcohol">
<input type="hidden" name="client_test_id" value="{{ client_test_id }}">
<input type="hidden" name="club_client_id" value="{{ club_client_id }}">

<div class="box">
    {% for item in questions %}
    <div class="row-holder">
        <div class="col-1">
            {{ loop.index }}. {{ item.question }}
        </div>

        <div class="col-2">
            <div class="row">
                <input type="number" id="{{ item.class }}" name="answer[{{ item.lq_id }}]" value="{{ item.answer }}" class="form-control">
            </div>
        </div>
    </div>
    {% endfor %}
</div>