<h3>Answer these questions based on your exercise patterns for the last 7 days. Try & be as honest as possible in order to get the most accurate estimate of your 'Healthy Life Score'.</h3>
<input type="hidden" name="answer_type" value="physical-activity">
<input type="hidden" name="client_test_id" value="{{ client_test_id }}">
<input type="hidden" name="club_client_id" value="{{ club_client_id }}">

<div class="box">
    {% for item in questions %}
    <div class="row-holder">
        <div class="col-1">
            {{ loop.index }}. {{ item.question }}
        </div>

        <div class="col-2">
            <div class="row">
                <input type="number" name="answer[{{ item.lq_id }}]" value="{{ item.answer }}" id="{{ item.class }}">
            </div>
        </div>
    </div>
    {% endfor %}
</div>