<h3>Please select the following description that best describes your smoking habits or history.</h3>

<input type="hidden" name="answer_type" value="smoking">
<input type="hidden" name="gender" value="{{ gender }}">
<input type="hidden" name="client_test_id" value="{{ client_test_id }}">
<input type="hidden" name="club_client_id" value="{{ club_client_id }}">

<div class="box">
    {% for item in options %}
    <div class="row-holder">
        <div class="col-12">
            <label><input type="radio" name="answer" value="{{ item.option_value }}" {% if smoking_answer is defined and smoking_answer is not empty and smoking_answer == item.option_value  %}checked{% endif %}> {{ item.option_description }}</label>
        </div>
    </div>
    {% endfor %}
</div>