{% extends "::club_layout.html.twig" %}

{% block title %}View Test{% endblock %}

{% block body %}
    <section id="info-bar">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    {% if error.title is defined %}
                            <h1>{{ error.title }}</h2>
                    {% else %}
                            <h1>View Test</h2>
                    {% endif %}
                </div>
            </div>
                
            <div class="row">
                <div class="col-sm-12">
                    {% if error.message is defined %}
                        <p>{{ error.message }}</p>
                        {% if error.type is defined and error.type=='continue-draft' %}
                            <p>&nbsp;</p>
                            {% if s_aia is defined and s_aia == 1 %}
                                <a class="btn btn-primary" href="{{ path('acme_club_view_test') }}?id={{ draft_test_id }}&aia=1">Go to DRAFT TEST <i class="fa fa-angle-right"></i></a>
                            {% elseif test_type is defined and (test_type != 'normal' and test_type != 'aia') %}
                                <a class="btn btn-primary" href="{{ path('acme_club_view_test') }}?id={{ draft_test_id }}&type={{ test_type }}">Go to DRAFT TEST <i class="fa fa-angle-right"></i></a>
                            {% else %}
                                <a class="btn btn-primary" href="{{ path('acme_club_view_test') }}?id={{ draft_test_id }}">Go to DRAFT TEST <i class="fa fa-angle-right"></i></a>
                            {% endif %}
                            
                        {% endif %}
                    {% else %}
                    <p>Unable to find test.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                
            </div>
        </div>
    </div>
{% endblock %}

