{% extends "::club_layout.html.twig" %}

{% block title %}View Test{% endblock %}

{% block body %}
    
<section id="sub-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <a href="{{ path('acme_club_client_view') }}?id={{ client_details.club_client_id }}"><h3>{{ client_details.fname|upper }} {{ client_details.lname|upper }}</h3></a>
            </div>
            <div class="col-sm-8 col-xs-5">
                <p>{{ client_details.age }} Year Old {{ client_details.gender|capitalize }}</p>
            </div>
            <div class="col-sm-4">
                <div class="col-sm-12 test-action">
                    <p>{{ test_details.test_datetime|date("d F Y") }}</p>
                </div>
                <div class="col-xs-6 test-action">
                    <a class="email-this-test" data-test-id="{{ test_details.client_test_id }}" data-email="{{ client_details.email }}"><img src="{{ asset('templates') }}/hlp-2.0/images/icon-envelope.png"> Email this test</a>
                </div>
                <div class="col-xs-6 test-action second">
                    <a href="{{ path('acme_club_create_test') }}?id={{ client_details.club_client_id }}&test={{ test_details.client_test_id }}"><img src="{{ asset('templates') }}/hlp-2.0/images/icon-angle-right.png"> {% if app.session.get('ho_admin_id') is defined and app.session.get('ho_admin_id') != '' %}Edit{% else %}View{% endif %} test inputs</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==============================================
                12 week challenge
                =============================================== -->
<section id="week-challenge">
    <div class="container">
        <p><span>Chellenge:&nbsp;</span>
            {% if test_details.event_id != '' %}
                {{ test_details.event_name }}
            {% endif %}</p>
        <h3>The Healthy Life Project is about EDUCATING Australians about how they can potentially live more years free of the burden of disease, INSPIRE them to make the positive changes required in their lives & MOTIVATE them to stick with it.</h3>
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-4 text-center">
                    <img src="{{ asset('templates') }}/hlp-2.0/images/male-logo.png" class="img-responsive img-centered">
                    <p style="margin: 10px 0; font-size: 14px;">The average Australian male lives for a total of {{ hl_expectancy_male.total_expectancy }} years, {{ hl_expectancy_male.expectancy }} Healthy Life years & {{ hl_expectancy_male.dalys }} Disability affected life years as a result of Injury, Illness or disease.</p>
                </div>
                <div class="col-sm-4 text-center">
                    <img src="{{ asset('templates') }}/hlp-2.0/images/female-logo.png" class="img-responsive img-centered">
                    <p style="margin: 10px 0; font-size: 14px;">The average Australian female lives for a total of {{ hl_expectancy_female.total_expectancy }} years, {{ hl_expectancy_female.expectancy }} Healthy Life years & {{ hl_expectancy_female.dalys }} Disability affected life years as a result of Injury, Illness or disease.</p>
                </div>
                <div class="col-sm-4 text-center">
                    <img src="{{ asset('templates') }}/hlp-2.0/images/heart-logo.png" class="img-responsive img-centered">
                    <p style="margin: 10px 0; font-size: 14px;">95% of these Years of Healthy life lost are a result of Chronic disease, injury or illness - Most of which could be prevented or avoided through lifestyle modification.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ==============================================
                summary results
                =============================================== -->
<section id="summary-result">
    <div class="container">
        <div class="col-sm-5">
            <div class="row">
                <h3 style="text-align:left;">Summary of Results</h3>
                <div class="col-xs-1">
                    <div class="rotate">
                        <p>Average Life Expectancy</p>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="blue-block margin-top-30 text-center">
                        <p>Estimated Years of Potential Healthy Life Lost</p>
                    </div>
                    <div class="gray-block text-center">
                        <p>Predicted Years of Healthy Life</p>
                    </div>
                </div>
                <div class="col-xs-4">
                    <h2 class="margin-top-30">
                        {% if test_details.estimated_years_you_will_live_with_did <= 0 %}
                            ---
                        {% else %}
                            {{ '%.1f' | format(test_details.estimated_years_you_will_live_with_did)| replace({".0" : ""}) }} 
                        {% endif %}
                    </h2>
                    <p>Years of Affected Life</p>
                    <h2 class="margin-top-60">
                        {% if test_details.estimated_healthy_life_expectancy <= 0 %}
                            ---
                        {% else %}
                            {{ '%.1f' | format(test_details.estimated_healthy_life_expectancy)| replace({".0" : ""}) }} 
                        {% endif %}
                    </h2>
                    <p>Years of Expected Healthy Life</p>
                </div>
            </div>
        </div>
        <div class="col-sm-7">
            <div class="row">
                <div class="col-sm-4 col-xs-12 text-center">
                    <div class="row">
                        <div class="border-bottom">
                            <div class="col-xs-1 hide">&nbsp;&nbsp;</div>
                            <div class="summary-header">
                                <img src="{{ asset('templates') }}/hlp-2.0/images/summary-heartbeat-logo.png">
                                <h2 class="margin-top-30">
                                    {% if (test_details.healthy_life_score * 100) <= 0 %}
                                        ---
                                    {% else %}
                                        {{ '%.1f' | format((test_details.healthy_life_score * 100))| replace({".0" : ""}) }}%
                                    {% endif %}
                                </h2>
                                <p>of my Healthy Life Potential</p>
                            </div>
                            <div class="summary-body">
                                <p>Based on the average Australian, your current age, lifestyle & physical condition.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12 text-center">
                    <div class="row">
                        <div class="border-bottom">
                            <div class="col-xs-1 hide">&nbsp;&nbsp;</div>
                            <div class="summary-header">
                                <img src="{{ asset('templates') }}/hlp-2.0/images/summary-apple-logo.png">
                                <h2 class="margin-top-30">
                                    {% if test_details.estimated_current_healthy_life_age <= 0 %}
                                        ---
                                    {% else %}
                                        {{ '%.1f' | format(test_details.estimated_current_healthy_life_age)| replace({".0" : ""}) }}
                                    {% endif %}
                                </h2>
                                <p>My Healthy Life Age</p>
                            </div>
                            <div class="summary-body">
                                <p>Your estimated 'age' based on your estimated years of healthy life left compared to the Australian average.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12 text-center">
                    <div class="row">
                        <div class="border-bottom">
                            <div class="col-xs-1 hide">&nbsp;&nbsp;</div>
                            <div class="summary-header">
                                <img src="{{ asset('templates') }}/hlp-2.0/images/summary-heart-logo.png">
                                <h2 class="margin-top-30">
                                    {% if test_details.you_could_add_up_to <= 0 %}
                                        ---
                                    {% else %}
                                        {{ '%.1f' | format(test_details.you_could_add_up_to)| replace({".0" : ""}) }}
                                    {% endif %}
                                </h2>
                                <p>Potential Healthy Life Years to Add</p>
                            </div>
                            <div class="summary-body">
                                {% if client_details.age <= 60 %}
                                    <p>The number of healthy years you could potentially add to your life by making a change.</p>
                                {% else %}
                                    <p>The number of healthy years you could potentially improve your estimated healthy life age through positive changes.</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==============================================
                full results
                =============================================== -->
<section id="full-result">
    <div class="container">
        <h3>Full Results</h3>
        <div class="poor" style="background-color: {{ test_details.healthy_life_score_outcome['color'] }} !important;">
            <p>{{ test_details.healthy_life_score_outcome['result']|upper }}</p>
        </div>
        <div class="col-sm-5ths">
            <div class="test-report-header">
                <p>Your Current Healthy Life Score is</p>
                <h3>
                    {% if (test_details.healthy_life_score * 100) <= 0 %}
                        ---
                    {% else %}
                        {{ '%.1f' | format((test_details.healthy_life_score * 100))| replace({".0" : ""}) }}%
                    {% endif %}
                </h3>
            </div>
            <div class="test-report-body">
                <p>
                    Your healthy life score is where you are currently at of your 'Healthy Life Potential' - The average Australian is at roughly 80% of their Healthy Life potential, 100% means you are as healthy as can be, below 55% means some serious changes need to be made.
                </p>
                <p>
                    95% of these Years of Healthy life lost are a result of Chronic disease or Injury - Most of which could be prevented or avoided through lifestyle modification.
                </p>
            </div>
        </div>
        <div class="col-sm-5ths">
            <div class="test-report-header">
                <p>Your Predicted Years of Healthy Life</p>
                <h3>
                    {% if test_details.estimated_healthy_life_expectancy <= 0 %}
                        ---
                    {% else %}
                        {{ '%.1f' | format(test_details.estimated_healthy_life_expectancy)| replace({".0" : ""}) }}
                    {% endif %}
                </h3>
            </div>
            <div class="test-report-body">
                <p class="text-center">
                    Out of a possible
                </p>
                <h3 class="text-center">
                    {{ test_details.max_hle }}
                </h3>
                <p class="text-center">
                    Years
                </p>
            </div>
        </div>
        <div class="col-sm-5ths">
            <div class="test-report-header">
                {% if client_details.age <= 60 %}
                    <p>Estimated Years of Healthy Life Left</p>
                    <h3>{% if test_details.estimated_years_of_healthy_life_left <= 0 %}
                            ---
                        {% else %}
                            {{ '%.1f' | format(test_details.estimated_years_of_healthy_life_left)| replace({".0" : ""}) }} 
                        {% endif %}</h3>
                {% else %}
                    <p>
                        Based on the average Australian, your current age, lifestyle & physical condition, you are likely to already be affected by some form of chronic disease, injury or illness. The good news is that positive lifestyle changes can can help manage & reduce further development of existing issues & can also assist in prevention of new conditions.
                    </p>
                {% endif %}
            </div>
            <div class="test-report-body {% if client_details.age > 60 %}age-over-60{% endif %}">
                {% if client_details.age <= 60 %}
                <p>
                    Based on the average Australian, your current age, lifestyle & physical condition this is an estimate of the number of healthy life years before you are likely to be affected by disability, injury or disease - many of which are preventable through positive lifestyle change.
                </p>
                {% endif %}
            </div>
        </div>
        <div class="col-sm-5ths">
            <div class="test-report-header">
{#                <p>Years you will live with a disability, injury or disease</p>#}
                <p>Estimated number of years you will live with a disability, injury or disease.</p>
                <h3>
                {% if test_details.estimated_years_you_will_live_with_did <= 0 %}
                    ---
                {% else %}
                    {{ '%.1f' | format(test_details.estimated_years_you_will_live_with_did)| replace({".0" : ""}) }}
                {% endif %}
                </h3>
            </div>
            <div class="test-report-body">
                <p class="text-center">
                    as opposed to the Australian average of
                </p>
                <h3 class="text-center">
                    {% if test_details.estimated_years_you_will_live_with_did_as_opposed_to <= 0 %}
                        ---
                    {% else %}
                        {{ '%.1f' | format(test_details.estimated_years_you_will_live_with_did_as_opposed_to)| replace({".0" : ""}) }}
                    {% endif %}
                </h3>
                <p class="text-center">Years.</p>
                <p class="text-center">Remember some or many of these affected years could already be behind you.</p>
            </div>
        </div>
        <div class="col-sm-5ths">
            <div class="test-report-header">
                <p>Your estimated current Healthy Life Age is</p>
                <h3>
                    {% if test_details.estimated_current_healthy_life_age <= 0 %}
                        ---
                    {% else %}
                        {{ '%.1f' | format(test_details.estimated_current_healthy_life_age)| replace({".0" : ""}) }}
                    {% endif %}
                </h3>
            </div>
            <div class="test-report-body">
                <p>
                    Based on your estimated years of healthy life left compared to the Australian average.
                </p>
            </div>
        </div>
        <div class="banner-blue">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                {% if client_details.age <= 60 %}
                    <h1>You could add up to 
                    {% if test_details.you_could_add_up_to <= 0 %}
                        ---
                    {% else %}
                        {{ '%.1f' | format(test_details.you_could_add_up_to)| replace({".0" : ""}) }} 
                    {% endif %}
                    years to your estimated healthy life years.</h1>
                {% else %}
                    <h1>You could improve your estimated healthy life age by up to 
                    {% if test_details.you_could_add_up_to <= 0 %}
                        ---
                    {% else %}
                        {{ '%.1f' | format(test_details.you_could_add_up_to)| replace({".0" : ""}) }} 
                    {% endif %}
                    years.</h1>
                {% endif %}
            </div>
            
        </div>
        <div class="activity">
            <div class="col-sm-2">
                {% if test_details.lifestyle_physical_activity_result['level'] == 'High'%}
                    <div class=" default {#warning#} {{ test_details.lifestyle_physical_activity_result['color'] }} img-centered">
                        <i class="fa fa-close"></i>
                    </div>
                {% elseif test_details.lifestyle_physical_activity_result['level'] == 'Low'%}
                    <div class=" default {#success#} {{ test_details.lifestyle_physical_activity_result['color'] }} img-centered">
                        <i class="fa fa-check"></i>
                    </div>
                {% else %}
                    <div class=" default {{ test_details.lifestyle_physical_activity_result['color'] }} img-centered">
                        <i class="fa fa-minus"></i>
                    </div>
                {% endif %}
                
            </div>
            <div class="col-sm-10">
                <h3>Physical Activity</h3>
                <p>Physical activity is any activity that gets your body moving, makes your breathing become quicker and your heart beat faster.  You can be physically active in many different ways, at any time of the day.</p>
                <p>
                    <strong>YOUR SCORE:</strong> {{ test_details.lifestyle_physical_activity_result['text']|raw }}
                </p>
            </div>
        </div>
        <div class="activity">
            <div class="col-sm-2">
                {% if test_details.lifestyle_smoking_result['level'] == 'High'%}
                    <div class=" default {{ test_details.lifestyle_smoking_result['color'] }} img-centered">
                        <i class="fa fa-close"></i>
                    </div>
                {% elseif test_details.lifestyle_smoking_result['level'] == 'Low'%}
                    <div class=" default {{ test_details.lifestyle_smoking_result['color'] }} img-centered">
                        <i class="fa fa-check"></i>
                    </div>
                {% else %}
                    <div class=" default {{ test_details.lifestyle_smoking_result['color'] }} img-centered">
                        <i class="fa fa-minus"></i>
                    </div>
                {% endif %}
            </div>
            <div class="col-sm-10">
                <h3>Smoking Habits</h3>
                <p>Tobacco smoking is a leading risk factor for chronic disease and early death, including many types of cancer, respiratory disease and heart disease - Tobacco smoking is one of the highest contributors to the burden of disease in Australia of all the risk factors for ill health.</p>
                <p><strong>YOUR SCORE:</strong>  {{ test_details.lifestyle_smoking_result['text']|raw }}</p>
            </div>
        </div>
        <div class="activity">
            <div class="col-sm-2">
                {% if test_details.lifestyle_alcohol_result['level'] == 'High'%}
                    <div class=" default {{ test_details.lifestyle_alcohol_result['color'] }} img-centered">
                        <i class="fa fa-close"></i>
                    </div>
                {% elseif test_details.lifestyle_alcohol_result['level'] == 'Low'%}
                    <div class=" default {{ test_details.lifestyle_alcohol_result['color'] }} img-centered">
                        <i class="fa fa-check"></i>
                    </div>
                {% else %}
                    <div class=" default {{ test_details.lifestyle_alcohol_result['color'] }} img-centered">
                        <i class="fa fa-minus"></i>
                    </div>
                {% endif %}
            </div>
            <div class="col-sm-10">
                <h3>Alcohol Consumption</h3>
                <p>The consumption of alcohol is widespread in Australia and entwined with many social and cultural activities.  Excessive consumption is a major cause of road and other accidents, domestic and public violence, crime, liver disease and brain damage, and contributes to family breakdown and broader social dysfunction.  Based on the standards outlined by the National Health & Medical Resource Council, One in Five Australians drink at levels that place them at risk of lifetime harm and over two in five Australian adults drink at levels that placed them at risk of an alcohol related injury from a single drinking occassion. </p>
                <p><strong>YOUR SCORE:</strong> {{ test_details.lifestyle_alcohol_result['text']|raw }}</p>
            </div>
        </div>
        <div class="activity">
            <div class="col-sm-2">
                {% if test_details.lifestyle_nutrition_result['level'] == 'High'%}
                    <div class=" default {{ test_details.lifestyle_nutrition_result['color'] }} img-centered">
                        <i class="fa fa-close"></i>
                    </div>
                {% elseif test_details.lifestyle_nutrition_result['level'] == 'Low'%}
                    <div class=" default {{ test_details.lifestyle_nutrition_result['color'] }} img-centered">
                        <i class="fa fa-check"></i>
                    </div>
                {% else %}
                    <div class=" default {{ test_details.lifestyle_nutrition_result['color'] }} img-centered">
                        <i class="fa fa-minus"></i>
                    </div>
                {% endif %}
            </div>
            <div class="col-sm-10">
                <h3>Nutrition</h3>
                <p>A healthy diet is crucial to ensure we get enough of the nutrients essential for good health and to help reduce our risk of chronic health problems such as heart disease, type 2 diabetes, some cancers and obesity. Our dietary patterns are made up of foods and drinks, not simply nutrients – it’s the types and amounts of the foods and drinks that we consume regularly that really matter for our health.  We may also feel better, look better, enjoy life more and live longer! </p>
                <p><strong>YOUR SCORE:</strong> {{ test_details.lifestyle_nutrition_result['text']|raw }}</p>
            </div>
        </div>
            
        {% if test_details.client_12wk_test_id == '' %}
            <div class="activity">
                <div class="col-sm-2">
                    {% if test_details.lifestyle_mental_health_result['level'] == 'High'%}
                        <div class=" default {{ test_details.lifestyle_mental_health_result['color'] }} img-centered">
                            <i class="fa fa-close"></i>
                        </div>
                    {% elseif test_details.lifestyle_mental_health_result['level'] == 'Low'%}
                        <div class=" default {{ test_details.lifestyle_mental_health_result['color'] }} img-centered">
                            <i class="fa fa-check"></i>
                        </div>
                    {% else %}
                        <div class=" default {{ test_details.lifestyle_mental_health_result['color'] }} img-centered">
                            <i class="fa fa-minus"></i>
                        </div>
                    {% endif %}
                </div>
                <div class="col-sm-10">
                    <h3>Mental Health</h3>
                    <p>Good mental health is a sense of wellbeing, confidence and self-esteem. It enables us to fully enjoy and appreciate other people, day-to-day life and our environment. When we are mentally healthy we can: Form positive relationships, Use our abilities to reach our potential and deal with lifes challenges.  </p>
                    <p><strong>YOUR SCORE:</strong> {{ test_details.lifestyle_mental_health_result['text']|raw }}</p>
                </div>
            </div>
                
            <div class="activity">
                <div class="col-sm-2">
                    {% if test_details.lifestyle_risk_profile_result['level'] == 'High'%}
                        <div class=" default {{ test_details.lifestyle_risk_profile_result['color'] }} img-centered">
                            <i class="fa fa-close"></i>
                        </div>
                    {% elseif test_details.lifestyle_risk_profile_result['level'] == 'Low'%}
                        <div class=" default {{ test_details.lifestyle_risk_profile_result['color'] }} img-centered">
                            <i class="fa fa-check"></i>
                        </div>
                    {% else %}
                        <div class=" default {{ test_details.lifestyle_risk_profile_result['color'] }} img-centered">
                            <i class="fa fa-minus"></i>
                        </div>
                    {% endif %}
                </div>
                <div class="col-sm-10">
                    <h3>Risk Profile</h3>
                    <p>Risk taking behaviors such as - thrill seeking, reckless, rebellious and antisocial or even criminal activities are related to some specific physical, socioeconomic and emotional vulnerability.  Your personal Risk taking ‘profile’ can increase your risk of specific injuries and diseases.</p>
                    <p><strong>YOUR SCORE:</strong> {{ test_details.lifestyle_risk_profile_result['text']|raw }}</p>
                </div>
            </div>
                
            <div class="activity">
                <div class="col-sm-2">
                    {% if test_details.physiological_vo2_result['level'] == 'High'%}
                        <div class=" default {{ test_details.physiological_vo2_result['color'] }} img-centered">
                            <i class="fa fa-close"></i>
                        </div>
                    {% elseif test_details.physiological_vo2_result['level'] == 'Low'%}
                        <div class=" default {{ test_details.physiological_vo2_result['color'] }} img-centered">
                            <i class="fa fa-check"></i>
                        </div>
                    {% else %}
                        <div class=" default {{ test_details.physiological_vo2_result['color'] }} img-centered">
                            <i class="fa fa-minus"></i>
                        </div>
                    {% endif %}
                </div>
                <div class="col-sm-10">
                    <h3>VO²</h3>
                    <p>VO2 max testing asseses the cardiovascular systems ability to deliver and utilise oxygen to the muscles, as such we use this to evaluate the capacity of your heart, lungs and circulation.  Cardiovascular efficiency is linked to many health benefits including:  1. Reduce your risk of, or help manage, cardiovascular disease and type 2 diabetes 2. Maintain or improve your blood pressure, cholesterol and blood sugar levels 3. Reduce your risk of and assist with rehabilitation of some cancers 4. Weight management 5. Help develop and maintain overall physical and mental well-being.</p>
                    <p><strong>YOUR SCORE:</strong> {{ test_details.physiological_vo2_result['text']|raw }}</p>
                </div>
            </div>
                
            <div class="activity">
                <div class="col-sm-2">
                    {% if test_details.biometric_body_fat_result['level'] == 'High'%}
                        <div class=" default {{ test_details.biometric_body_fat_result['color'] }} img-centered">
                            <i class="fa fa-close"></i>
                        </div>
                    {% elseif test_details.biometric_body_fat_result['level'] == 'Low'%}
                        <div class=" default {{ test_details.biometric_body_fat_result['color'] }} img-centered">
                            <i class="fa fa-check"></i>
                        </div>
                    {% else %}
                        <div class=" default {{ test_details.biometric_body_fat_result['color'] }} img-centered">
                            <i class="fa fa-minus"></i>
                        </div>
                    {% endif %}
                </div>
                <div class="col-sm-10">
                    <h3>Body Fat Percentage</h3>
                    <p>Your body fat % is an estimate of the percentage of fat your body contains. Some body fat is required for overall health as it plays an important role in protecting internal organs, providing energy, and regulating hormones.  Excess body fat is linked to an increased risk for diseases such as cancer, diabetes, and heart disease.</p>
                    <p><strong>YOUR SCORE:</strong> {{ test_details.biometric_body_fat_result['text']|raw }}</p>
                </div>
            </div>
                
            <div class="activity">
                <div class="col-sm-2">
                    {% if test_details.biometric_blood_pressure_result['level'] == 'High'%}
                        <div class=" default {{ test_details.biometric_blood_pressure_result['color'] }} img-centered">
                            <i class="fa fa-close"></i>
                        </div>
                    {% elseif test_details.biometric_blood_pressure_result['level'] == 'Low'%}
                        <div class=" default {{ test_details.biometric_blood_pressure_result['color'] }} img-centered">
                            <i class="fa fa-check"></i>
                        </div>
                    {% else %}
                        <div class=" default {{ test_details.biometric_blood_pressure_result['color'] }} img-centered">
                            <i class="fa fa-minus"></i>
                        </div>
                    {% endif %}
                </div>
                <div class="col-sm-10">
                    <h3>Blood Pressure</h3>
                    <p>Blood pressure is a measure of the pressure of the blood in the arteries as the heart pumps it around the body.  Recorded as two numbers, for example 120 over 80 (120/80). The higher number indicates the pressure in the arteries as the heart squeezes blood out during each beat. It is called the systolic blood pressure. The lower number indicates the pressure as the heart relaxes before the next beat. It is called the diastolic blood pressure.</p>
                    <p><strong>YOUR SCORE:</strong> {{ test_details.biometric_blood_pressure_result['text']|raw }}</p>
                </div>
            </div>
                
            <div class="activity">
                <div class="col-sm-2">
                    {% if test_details.biometric_blood_oxygen_result['level'] == 'High'%}
                        <div class=" default {{ test_details.biometric_blood_oxygen_result['color'] }} img-centered">
                            <i class="fa fa-close"></i>
                        </div>
                    {% elseif test_details.biometric_blood_oxygen_result['level'] == 'Low'%}
                        <div class=" default {{ test_details.biometric_blood_oxygen_result['color'] }} img-centered">
                            <i class="fa fa-check"></i>
                        </div>
                    {% else %}
                        <div class=" default {{ test_details.biometric_blood_oxygen_result['color'] }} img-centered">
                            <i class="fa fa-minus"></i>
                        </div>
                    {% endif %}
                </div>
                <div class="col-sm-10">
                    <h3>Blood Oxygen</h3>
                    <p>Blood oxygen % is a measure of the oxygen levels in your blood. It is an indicator of oxygen delivery to different areas of the body.  A low Blood oxygen % may indicate health problems relating to your heart and lungs.</p>
                    {% if test_details.biometric_blood_oxygen_value|lower != 'na' %}
                        <p><strong>YOUR SCORE:</strong> {{ test_details.biometric_blood_oxygen_result['text']|raw }}</p>
                    {% else %}
                        <p><strong>Test not conducted!</strong></p>
                    {% endif %}
                </div>
            </div>
                
            <div class="activity">
                <div class="col-sm-2">
                    {% if test_details.physiological_balance_result['level'] == 'High'%}
                        <div class=" default {{ test_details.physiological_balance_result['color'] }} img-centered">
                            <i class="fa fa-close"></i>
                        </div>
                    {% elseif test_details.physiological_balance_result['level'] == 'Low'%}
                        <div class=" default {{ test_details.physiological_balance_result['color'] }} img-centered">
                            <i class="fa fa-check"></i>
                        </div>
                    {% else %}
                        <div class=" default {{ test_details.physiological_balance_result['color'] }} img-centered">
                            <i class="fa fa-minus"></i>
                        </div>
                    {% endif %}
                </div>
                <div class="col-sm-10">
                    <h3>Balance Test</h3>
                    <p>Every activity we do relies on our ability to balance.  As we age, we gradually start to lose our muscle strength, vision and sensory perception – all things that contribute to our ability to balance. As a result, our mobility can be compromised and lack of mobility can lead to falling, which can lead to a whole new set of health issues.</p>
                    <p><strong>YOUR SCORE:</strong> {{ test_details.physiological_balance_result['text']|raw }}</p>
                    
                </div>
            </div>
                    
            <div class="activity">
                <div class="col-sm-2">
                    {% if test_details.physiological_squat_result['level'] == 'High'%}
                        <div class=" default {{ test_details.physiological_squat_result['color'] }} img-centered">
                            <i class="fa fa-close"></i>
                        </div>
                    {% elseif test_details.physiological_squat_result['level'] == 'Low'%}
                        <div class=" default {{ test_details.physiological_squat_result['color'] }} img-centered">
                            <i class="fa fa-check"></i>
                        </div>
                    {% else %}
                        <div class=" default {{ test_details.physiological_squat_result['color'] }} img-centered">
                            <i class="fa fa-minus"></i>
                        </div>
                    {% endif %}
                </div>
                <div class="col-sm-10">
                    <h3>Squat Test</h3>
                    <p>The squat test assesses general lower body strength and mobility. The major muscles involved are the Muscles in the legs & core and is a good indicator of your risk of Injury assosciated with muscle imbalances or reduced mobility of the lower body.</p>
                    <p><strong>YOUR SCORE:</strong> {{ test_details.physiological_squat_result['text']|raw }}</p>
                </div>
            </div>
                
            <div class="activity">
                <div class="col-sm-2">
                    {% if test_details.physiological_situp_result['level'] == 'High'%}
                        <div class=" default {{ test_details.physiological_situp_result['color'] }} img-centered">
                            <i class="fa fa-close"></i>
                        </div>
                    {% elseif test_details.physiological_situp_result['level'] == 'Moderate'%}
                        <div class=" default {{ test_details.physiological_situp_result['color'] }} img-centered">
                            <i class="fa fa-close"></i>
                        </div>
                    {% elseif test_details.physiological_situp_result['level'] == 'Low'%}
                        <div class=" default {{ test_details.physiological_situp_result['color'] }} img-centered">
                            <i class="fa fa-check"></i>
                        </div>
                    {% else %}
                        <div class=" default {{ test_details.physiological_situp_result['color'] }} img-centered">
                            <i class="fa fa-minus"></i>
                        </div>
                    {% endif %}
                    
                </div>
                <div class="col-sm-10">
                    <h3>Sit Up Test</h3>
                    <p>The 7 stage sit-up test is designed to give an assessment of your abdominal strength - The abdominal muscles performs vital functions in everyday life. Playing an essential role in a range of activities including</p>
                    <ol>
                        <li>Lifting</li>
                        <li>Maintaining good posture</li>
                        <li>Maintaining core stability during physical activities</li>
                        <li>Trunk flexion during tasks</li>
                        <li>Activities such as breathing, urination and childbirth</li>
                        <li>Reducing the risk of back injury. Individuals who have weak abdominals are predisposed to the development of back injury.</li>
                    </ol>
                    <p><strong>YOUR SCORE:</strong> {{ test_details.physiological_situp_result['text']|raw }}</p>
                </div>
            </div>
        {% endif %}
        
        
        <div class="activity">
            <div class="col-sm-2">
                {% if test_details.biometric_waist_result['level'] == 'High'%}
                    <div class=" default {{ test_details.biometric_waist_result['color'] }} img-centered">
                        <i class="fa fa-close"></i>
                    </div>
                {% elseif test_details.biometric_waist_result['level'] == 'Low'%}
                    <div class=" default {{ test_details.biometric_waist_result['color'] }} img-centered">
                        <i class="fa fa-check"></i>
                    </div>
                {% else %}
                    <div class=" default {{ test_details.biometric_waist_result['color'] }} img-centered">
                        <i class="fa fa-minus"></i>
                    </div>
                {% endif %}
            </div>
            <div class="col-sm-10">
                <h3>Waist Measurement</h3>
                <p>Measuring your waist circumference is a simple check to tell how much body fat you have and where it is placed around your body.  Where your fat is located can be an important sign of your risk of developing an ongoing health problem.</p>
                <p><strong>YOUR SCORE:</strong> {{ test_details.biometric_waist_result['text']|raw }}</p>
            </div>
        </div>
            
        {% if test_details.client_12wk_test_id == '' %}
            <div class="activity">
                <div class="col-sm-2">
                    {% if test_details.waist_hip_ratio_result['level'] == 'High'%}
                        <div class=" default {{ test_details.waist_hip_ratio_result['color'] }} img-centered">
                            <i class="fa fa-close"></i>
                        </div>
                    {% elseif test_details.waist_hip_ratio_result['level'] == 'Low'%}
                        <div class=" default {{ test_details.waist_hip_ratio_result['color'] }} img-centered">
                            <i class="fa fa-check"></i>
                        </div>
                    {% else %}
                        <div class=" default {{ test_details.waist_hip_ratio_result['color'] }} img-centered">
                            <i class="fa fa-minus"></i>
                        </div>
                    {% endif %}
                </div>
                <div class="col-sm-10">
                    <h3>Waist to Hip Ratio</h3>
                    <p>Your Waist to Hip ratio gives an indication of where fatty deposits are located & a high waist to hip ratio has been associated with many chronic health conditions - specifically heart disease, hypertension & stroke.</p>
                    <p><strong>YOUR SCORE:</strong> {{ test_details.waist_hip_ratio_result['text']|raw }}</p>
                </div>
            </div>
        {% endif %}
        
        <div class="col-xs-12">
            <p>
                The Healthy Life Project & Healthy Life Score is designed to give you an overall idea of your health & well-being, & a general indication of how lifestyle, physiological & biometric factors may affect it. The test will also give you a general indication of whether there is more you can do to improve. This is not intended to be a medical diagnostic tool, nor a substitute for professional medical advice. It has been designed as a tool to Educate, Inspire & Motivate on possible positive change in respect to your health & well-being.
            </p>
            <p>
                Use of this site, and all information contained within is subject to our <a href="http://www.healthylifeproject.com.au/disclaimer/" target="_blank">legal disclaimer</a>.
            </p>
        </div>
    </div>
</section>
                
                
<!-- Modal -->
<div class="modal fade" id="emailTestModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">EMAIL THIS TEST</h4>
      </div>
      <div class="modal-body">
        <form id="emailTest" action="{{ path('acme_club_email_test') }}" method="post">
            <div class="form-group">
                <label>Recipients (separated by comma)</label>
                <input type="text" name="recipients" class="form-control" placeholder="example@email.com" required>
                <input type="hidden" name="client_test_id">
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary send">Send</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block javascripts %}
<script type="text/javascript">
    
</script>
{#<script src="{{ asset('js') }}/club/view-test.js"></script>#}
{% endblock %}