<div class="row">
    <div class="col-xs-4 text-left hidden-xs hidden-sm">
        <div class="{% if (display_week  - 1) < 1 %}hidden{% endif %}">
            <a class="previous-prog">
                <span class="circle-arrow">
                    <i class="fa fa-chevron-left fa-1"></i>
                </span>
            </a>
            <strong>Week <span class="number prev-week">{{ display_week  - 1 }}</span></strong>
        </div>
    </div>
    <div class="col-xs-4 text-center hidden-xs hidden-sm">
        <strong>Week <span class="number current-week">{{ display_week }}</span></strong>
    </div>
    <div class="col-xs-4 text-right hidden-xs hidden-sm">
        <div class="{% if display_week - current_week >= 1  %}unluck-nextweek{% endif %} {% if (display_week + 1) > current_week and s_lite_test_complete == 0%}take-a-test{% endif %} {% if display_week  >= total_display_week %}hidden{% endif %}">
            <strong>Week <span class="number next-week">{{ display_week + 1 }}</span></strong>
            <a class="next-prog">
                <span class="circle-arrow">
                    <i class="fa fa-chevron-right fa-1"></i>
                </span>
            </a>
        </div>
    </div>
    <div class="mob-filter-nav">
        <ul class="week-filter">
            <li>
                <label class="label-day">Day</label>
            </li>
            <li style="width: 100px">
                <a class="week-day-filter-left"><i class="fa fa-angle-left"></i></a>
                <div id="week-day" style="width: 35px" class="owl-carousel">
                    <div>Mon</div>
                    <div>Tues</div>
                    <div>Wed</div>
                    <div>Thurs</div>
                    <div>Fri</div>
                    <div>Sat</div>
                    <div>Sun</div>
                </div>
                <a class="week-day-filter-right"><i class="fa fa-angle-right"></i></a>
            </li>
            
            <li>
                <form action="{{ path('acme_club_client_view') }}" method="get">
                    <input type="hidden" name="id" value="{{ client_id }}">
                    <select name="week" class="selectpicker">
                        {% if display_week-1 > 0 %}
                            {% for i in 1..(display_week-1) %}
                                <option value="{{ i }}" data-class="{% if i > current_week and s_lite_test_complete == 0%}take-a-test{% endif %}">Week {{ i }}</option>
                            {% endfor %}
                        {% endif %}
                        
                        {% for item in weekdayitems %}
                            <option value="{{ item.week_id }}" selected data-class="{% if (item.week_id) > current_week and s_lite_test_complete == 0%}take-a-test{% endif %}">{{ item.week_name }}</option>
                        {% endfor %}
                        
                        {% if display_week < total_display_week and display_week < current_week + 1 %}
                            {% set loopuntil = 0 %}
                            {% if current_week + 1 < total_display_week %}
                                {% set loopuntil = current_week + 1 %}
                            {% else %}
                                {% set loopuntil = total_display_week %}
                            {% endif %}
                            {% for i in (display_week+1)..loopuntil %}
                                <option value="{{ i }}" data-class="{% if i > current_week and s_lite_test_complete == 0%}take-a-test{% endif %}">Week {{ i }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </form>
            </li>
            {#
            <li class="alternative-workout-options mob">
                <label>Workout Option</label>
                <select name="mob_workout_base" class="selectpicker" title="-- Workout Option --">
                    <option value="gym" {% if workout_base is defined and workout_base == 'gym' %}selected{% endif %}>Gym</option>
                    <option value="home" {% if workout_base is defined and workout_base == 'home' %}selected{% endif %}>Home</option>
                    <option value="myown" {% if workout_base is defined and workout_base == 'myown' %}selected{% endif %}>My Own</option>
                </select>
            </li>#}
        </ul>
        {#<hr>
        <div class="mob-nav-actions">
            <div class="col-xs-3">
                <div class="row">
                    <a href="javascript:void()" data-toggle="collapse" data-target=".filter-collapse"><i class="icon icon-filter"></i> Filter</a>
                </div>
            </div>

            <div class="col-xs-3">
                <div class="row">
                    <a class="print-program" href="{{ path('acme_client_dashboard_print_program') }}" target="_blank"><i class="icon icon-print"></i> Print</a>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="row">
                    <a class="email-12week-program" data-email="{{ app.session.get('email') }}"><i class="icon icon-email"></i> Email Plan</a>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="row">
                    <a class="shopping-list" href="{{path('acme_client_shopping_list',{'slug':current_week})}}"><i class="icon icon-cart"></i> Shopping List</a>
                </div>
            </div>
        </div>
        <hr>
        <div class="filter-collapse">
            <div class="filter-content events-filters mob">
                <ul>
                    <li>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" class="all" value="all" checked> All
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" class="filter nutrition" value="nutrition" checked> Nutrition
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" class="filter exercise" value="exercise" checked> Exercise
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" class="filter mindfulness" value="mindfulness" checked> Mindfulness
                            </label>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="filter-close" data-toggle="collapse" data-target=".filter-collapse">
                &times;
            </div>
        </div>
        #}
    </div>
    {#<div class="col-md-12 margin-top-30 events-filters web">
        <div class="l-filter-nav hidden-xs hidden-sm">
            <div class="no-padding">
                <div class="col-md-5 col-l">
                    <label class="filter-label">Filter</label>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" class="all" value="all" checked> All
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" class="filter nutrition" value="nutrition" checked> Nutrition
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" class="filter exercise" value="exercise" checked> Exercise
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" class="filter mindfulness" value="mindfulness" checked> Mindfulness
                        </label>
                    </div>

                </div>
                <div class="col-md-3 col-c alternative-workout-options web">
                    <label>Workout Option</label>
                    <select name="workout_base" class="selectpicker" title="-- Workout Option --">
                        <option value="gym" {% if workout_base is defined and workout_base == 'gym' %}selected{% endif %}>Gym</option>
                        <option value="home" {% if workout_base is defined and workout_base == 'home' %}selected{% endif %}>Home</option>
                        <option value="myown" {% if workout_base is defined and workout_base == 'myown' %}selected{% endif %}>My Own</option>
                    </select>
                </div>
                <div class="col-md-4 col-r">
                    <a class="print-program" href="{{ path('acme_client_dashboard_print_program') }}" target="_blank">Print</a>
                    <a class="email-12week-program lightbox" data-email="{{ app.session.get('email') }}">Email Plan</a>
                    <a class="btn pull-right shopping-list" href="{{path('acme_client_shopping_list',{'slug':current_week})}}">Shopping List <i class="fa fa-angle-right"></i></a>

                </div>
            </div>
            <hr>
        </div>
    </div>#}
    <div id="program-slider" class="col-sm-12 owl-carousel hidden-xs hidden-sm events-container">

        {% if display_week-1 > 0 %}
            {% for i in 1..(display_week-1) %}
                <div class="item week {{ i }} no-data" id="week-{{ i }}" data-week="{{ i }}">
                    <center><img src="{{asset('img')}}/spinner.gif"/> Loading...</center>
                </div>
            {% endfor %}
        {% endif %}
        {% for week in weekdayitems %}
            <div class="item week {{ week.week_id }}" id="week-{{ week.week_id }}" data-week="{{ week.week_id }}">
                {% set day_count = 0 %}
                {% for day in week.days %}
                {% set day_count = day_count + 1 %}    
                <div class="col-sm-4 ">
                    <div class="day-detail day week-day-item {{ day_count }} day-{{ day.day_id }}" data-day="{{ day.day_id }}">
                        <p><strong>{{ day.day_name|capitalize }}</strong></p>
                        <hr>
                        {% set done_items = 0 %}
                        {% set total_items = 0 %}

                        {% for item in day.items %}
                            {% if item.type != 'quote' %}
                                {% set total_items = total_items + 1 %}
                                {% if item.s_done == 1 %}
                                    {% set done_items = done_items + 1 %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}

                        <h5><span class="done-items">{{ done_items }}</span>/<span class="total-items">{{ total_items }}</span> complete</h5>


                        {% set quote_count = 0 %}
                        {% for item in day.items %}

                            {% if item.type == 'quote' %}
                                {% set quote_count = quote_count + 1 %}
                                {% if quote_count == 1 %}
                                    <div class="quote">
                                        <div class="quote-sign">“</div>
                                        <div class="quote-text">
                                            <p class="quote-phrase">{{ item.body|striptags }}</p>
                                            <p class="share">{{ item.quote_author|upper }} <a target="_window" onclick="return !window.open(this.href, 'Facebook', 'width=640,height=300')" href="https://www.facebook.com/dialog/feed?app_id=1469093223400005&display=popup&description=12 weeks that can completely change your life! And it's Free.&link=http://healthylifeproject.com.au/12weekProgram&redirect_uri=http://healthylifeproject.com.au/program/close.html&picture=http://healthylifeproject.com.au/program/web/dashboard/share-quote-image?quote={{ item.item_id }}&name=Healthy Life 12 Week Program"><span class="circle-arrow bg-green" style="margin:0 10px;"><i class="fa fa-facebook"></i></span>Share</a></p>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        <div class="event-holder web">
                            <ul {#id="monday"#} id="day-{{ day.day_name }}" class="sortable-list connectList item-parent">
                                {% for item in day.items %}
                                    {% if item.type == 'quote' %}
                                    {% elseif item.type == 'workout'%}
                                        <li class="{{ item.bgcolor }} day-item task cat-{{ item.category }} {{ item.type }} {% if item.s_done == 1 %}completed{% endif %} {{ item.client_item_id }}" data-type="{{ item.type }}" data-item="{{ item.client_item_id }}">
                                            <div class="checkbox-container">
                                                {% if week.week_id <= current_week %}
                                                <input type="checkbox" {% if item.s_done == 1 %}checked{% endif %} disabled>
                                                {% endif %}
                                            </div>

                                            <div class="text-container gym-based {% if workout_base == 'gym' %}active{% else %}inactive{% endif %}">
                                                <h4 class="text-left head {% if item.s_done == 1 %}completed{% endif %}">{{ item.type|capitalize }}</h4>
                                                <p>{{ item.body|raw }}</p>
                                            </div>

                                            <div class="text-container home-based {% if workout_base == 'home' %}active{% else %}inactive{% endif %}">
                                                <h4 class="text-left head {% if item.s_done == 1 %}completed{% endif %}">{{ item.type|capitalize }}</h4>
                                                <p>{{ item.body_home_based|raw }}</p>
                                            </div>
                                            
                                            <div class="text-container myown-based {% if workout_base == 'myown' %}active{% else %}inactive{% endif %}">
                                                <h4 class="text-left head {% if item.s_done == 1 %}completed{% endif %}">Daily Exercise</h4>
                                            </div>

                                            <div class="nav-icon {% if workout_base == 'myown' %}inactive{% else %}active{% endif %}">
                                                {% if item.is_expand == 1%}
                                                    <a href="http://healthylifeproject.com.au/program/web/pages/{{ day.day_name }}-{{ item.item_id }}?client={{ prog_client_id }}" target="_blank"><img src="{{ asset('img') }}/icon-angle-right-med.png"></a>
                                                {% endif %}
                                            </div>
                                        </li>

                                    {% else %}

                                        <li class="{{ item.bgcolor }} day-item task cat-{{ item.category }} {{ item.type }} {% if item.s_done == 1 %}completed{% endif %} {{ item.client_item_id }}" data-type="{{ item.type }}" data-item="{{ item.client_item_id }}">
                                            <div class="checkbox-container">
                                                {% if week.week_id <= current_week %}
                                                <input type="checkbox" {% if item.s_done == 1 %}checked{% endif %} disabled>
                                                {% endif %}
                                            </div>
                                            <div class="text-container">
                                                <h4 class="text-left head {% if item.s_done == 1 %}completed{% endif %}">{{ item.type|capitalize }}</h4>
                                                <p>{{ item.body|raw }}</p>
                                            </div>
                                            <div class="nav-icon">
                                                {% if item.is_expand == 1%}
                                                    <a href="http://healthylifeproject.com.au/program/web/pages/{{ day.day_name }}-{{ item.item_id }}?client={{ prog_client_id }}" target="_blank"><img src="{{ asset('img') }}/icon-angle-right-med.png"></a>
                                                {% endif %}

                                            </div>
                                        </li>
                                    {% endif %}
                                {% endfor %}

                            </ul>
                        </div>
                                
                        <!-- Day comments-->
                        <div class="comment-holder">
                            <label>Notes:</label>
                            <div class="comment">{% if day.day_comment is defined and day.day_comment != '' %}{{ day.day_comment|raw }}{% endif %}</div>

                        </div>
                    </div>
                </div>
                {% endfor %}

                {% set day_count = day_count + 1 %}
                <div class="col-sm-4 ">
                    <div class="week-tips week-day-item {{ day_count }}">
                        <h3>Tips for a Great Week</h3>
                        <ol class="tips-container">
                                <li>
                                    <p class="tip-head">Plan Ahead</p>
                                    <br>
                                    <p class="tip-body">Taking time to plan your activities and schedule for the week ahead will help you keep on track.</p>
                                </li>
                                <li>
                                    <p class="tip-head">Keep your head in the game </p>
                                    <br>
                                    <p class="tip-body">Nutrition and Exercise are the more obvious parts of the plan, but make sure you stay positive and believe in yourself! Read the daily Mindfulness program and exercise your mind as well as your body.
                                    </p>
                                </li>
                                <li>
                                    <p class="tip-head">Keep a food diary </p>
                                    <br>
                                    <p class="tip-body">Keeping yourself accountable with a food diary is a great way to get visibility on what you're putting in your body. 
                                    </p>
                                </li>
                                <li>
                                    <p class="tip-head">Mix it up! </p>
                                    <br>
                                    <p class="tip-body">Variety is the spice of life – this is true for your workouts as well as your food and state of mind. Try new things and be rewarded. 
                                    </p>
                                </li>
                                <li>
                                    <p class="tip-head">Exercise in the morning</p>
                                    <br>
                                    <p class="tip-body">Do you have the best intentions to train each day but struggle to get your planned exercise in by the end of the day? Why not try early morning workouts? Not only will you get it over and done with but you will feel better throughout the day knowing you have started it by doing something important for yourself!
                                    </p>
                                </li>
                                <li>
                                    <p class="tip-head">Finish your day</p>
                                    <br>
                                    <p class="tip-body">Rather than planning your day when you arrive to work in the morning start planning your day the night before. Pack your gym bag, get any meal prep organised, fill up your water bottle and write down what needs to get done the next day. This will generally help you reduce stress before going to bed and have you feeling more relaxed and organised the next day.
                                    </p>
                            </li>
                            </ol>
                    </div>
                </div>

                {% set day_count = day_count + 1 %}
                <div class="col-sm-4">
                    <div class="promo week-day-item {{ day_count }}">
                        <div class="upper">
                            <img src="{{ asset('templates') }}/hlp-2.0/images/oneStep-logo.png" class="img-responsive img-centered">
                        </div>
                        <div class="middle">
                            <p class="text-center">Working towards a healthy life is easier and more fun with friends. </p>
                            <button class="btn btn-sm text-center img-centered invite-friends" style="display:block">Invite a Friend Today<i class="fa fa-angle-right"></i></button>
                        </div>
                        <div class="bottom">
                        <img src="{{ asset('templates') }}/hlp-2.0/images/promo.png" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        {% if display_week < total_display_week and display_week < current_week + 1 %}
            {% set loopuntil = 0 %}
            {% if current_week + 1 < total_display_week %}
                {% set loopuntil = current_week + 1 %}
            {% else %}
                {% set loopuntil = total_display_week %}
            {% endif %}
            {% for i in (display_week+1)..loopuntil %}
                <div class="item week {{ i }} no-data" id="week-{{ i }}" data-week="{{ i }}">
                    <center><img src="{{asset('img')}}/spinner.gif"/> Loading...</center>
                </div>
            {% endfor %}
        {% endif %}

    </div>
    <div id="mob-program-slider" class="col-xs-12 owl-carousel visible-sm visible-xs events-container">


        {% for week in weekdayitems %}
            {% if week.week_id == display_week %}


                {% for day in week.days %}
                    <div class="item" data-week="{{ display_week }}">
                        <div class="day-detail day day-{{ day.day_id }}" data-day="{{ day.day_id }}">
                            <p><strong>{{ day.day_name|capitalize }}</strong></p>
                                <hr>
                                {% set done_items = 0 %}
                                {% set total_items = 0 %}
                                {% for item in day.items %}
                                    {% if item.type != 'quote' %}
                                        {% set total_items = total_items + 1 %}
                                        {% if item.s_done == 1 %}
                                            {% set done_items = done_items + 1 %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}

                                <h5><span class="done-items">{{ done_items }}</span>/<span class="total-items">{{ total_items }}</span> complete</h5>

                                {% set quote_count = 0 %}
                                {% for item in day.items %}

                                    {% if item.type == 'quote' %}
                                        {% set quote_count = quote_count + 1 %}
                                        {% if quote_count == 1 %}
                                            <div class="quote">
                                                <div class="quote-sign">“</div>
                                                <div class="quote-text">
                                                    <p class="quote-phrase">{{ item.body|striptags }}</p>
                                                    {# 'lk: 291015 #}
{#                                                    <p class="share">{{ item.quote_author|upper }} <a class="share-quote" data-quote="{{ item.item_id }}"><span class="circle-arrow bg-green" style="margin:0 10px;"><i class="fa fa-facebook"></i></span>Share</a></p>#}
                                                    <p class="share">{{ item.quote_author|upper }} <a target="_window" onclick="return !window.open(this.href, 'Facebook', 'width=640,height=300')" href="https://www.facebook.com/dialog/feed?app_id=1469093223400005&display=popup&description=12 weeks that can completely change your life! And it's Free.&link=http://healthylifeproject.com.au/program/&redirect_uri=http://healthylifeproject.com.au/program/close.html&picture=http://healthylifeproject.com.au/program/web/dashboard/share-quote-image?quote={{ item.item_id }}&name=Healthy Life 12 Week Program"><span class="circle-arrow bg-green" style="margin:0 10px;"><i class="fa fa-facebook"></i></span>Share</a></p>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}

                            <div class="event-holder mob">
                                <ul {#id="monday"#} id="mob-day-{{ day.day_name }}" class="sortable-list connectList item-parent">
                                    {% for item in day.items %}
                                        {% if item.type == 'quote' %}
                                        {% elseif item.type == 'workout'%}
                                            <li class="{{ item.bgcolor }} day-item task cat-{{ item.category }} {{ item.type }} {% if item.s_done == 1 %}completed{% endif %} {{ item.client_item_id }}" data-type="{{ item.type }}" data-item="{{ item.client_item_id }}">
                                                <div class="checkbox-container">
                                                    {% if display_week <= current_week %}
                                                    <input type="checkbox" {% if item.s_done == 1 %}checked{% endif %} disabled>
                                                    {% endif %}
                                                </div> 
                                                <div class="text-container gym-based {% if workout_base == 'gym' %}active{% else %}inactive{% endif %}">
                                                    <h4 class="text-left head {% if item.s_done == 1 %}completed{% endif %}">{{ item.type|capitalize }}</h4>
                                                    <p>{{ item.body|raw }}</p>
                                                </div>

                                                <div class="text-container home-based {% if workout_base == 'home' %}active{% else %}inactive{% endif %}">
                                                    <h4 class="text-left head {% if item.s_done == 1 %}completed{% endif %}">{{ item.type|capitalize }}</h4>
                                                    <p>{{ item.body_home_based|raw }}</p>
                                                </div>
                                                
                                                <div class="text-container myown-based {% if workout_base == 'myown' %}active{% else %}inactive{% endif %}">
                                                    <h4 class="text-left head {% if item.s_done == 1 %}completed{% endif %}">Daily Exercise</h4>
                                                </div>
                                                        
                                                <div class="nav-icon {% if workout_base == 'myown' %}inactive{% else %}active{% endif %}" >
                                                    {% if item.is_expand == 1%}
                                                        <a href="http://healthylifeproject.com.au/program/web/pages/{{ day.day_name }}-{{ item.item_id }}?client={{ prog_client_id }}" target="_blank"><img src="{{ asset('img') }}/icon-angle-right-med.png"></a>
                                                    {% endif %}
                                                </div>
                                            </li>

                                        {% else %}

                                            <li class="{{ item.bgcolor }} day-item task cat-{{ item.category }} {{ item.type }} {% if item.s_done == 1 %}completed{% endif %} {{ item.client_item_id }}" data-type="{{ item.type }}" data-item="{{ item.client_item_id }}">
                                                <div class="checkbox-container">
                                                    {% if display_week <= current_week %}
                                                    <input type="checkbox" {% if item.s_done == 1 %}checked{% endif %} disabled>
                                                    {% endif %}
                                                </div>
                                                <div class="text-container">
                                                    <h4 class="text-left head {% if item.s_done == 1 %}completed{% endif %}">{{ item.type|capitalize }}</h4>
                                                    <p>{{ item.body|raw }}</p>
                                                </div>
                                                <div class="nav-icon">
                                                    {% if item.is_expand == 1%}
                                                        <a href="http://healthylifeproject.com.au/program/web/pages/{{ day.day_name }}-{{ item.item_id }}?client={{ prog_client_id }}" target="_blank"><img src="{{ asset('img') }}/icon-angle-right-med.png"></a>
                                                    {% endif %}

                                                </div>
                                            </li>
                                        {% endif %}
                                    {% endfor %}

                                </ul>
                            </div>
                            <!-- Day comments-->
                            <div class="comment-holder">
                                <label>Notes:</label>
                                <div class="comment">{% if day.day_comment is defined and day.day_comment != '' %}{{ day.day_comment|raw }}{% else %}Your note goes here...{% endif %}</div>
                                {#<div class="comment-entry">
                                    <textarea placeholder="Your note goes here..." name="dayComment[{{ day.day_id }}]">{% if day.day_comment is defined and day.day_comment != '' %}{{ day.day_comment|replace({"<br>": "\n"})|replace({"<br/>": "\n"}) }}{% endif %}</textarea>
                                    <button class="btn btn-default btn-save">Save</button>
                                    <button class="btn btn-default btn-cancel">Cancel</button>
                                </div>#}
                            </div>
                        </div>
                    </div>
                {% endfor %}




            {% endif %}
        {% endfor %}







    </div>
</div>
        
<script>
{#    var weeklength = "{{ weekdayitems|length }}";#}
    var weeklength = "{{ total_display_week }}";
</script>