
{% for week in weekdayitems %}
{#    <div class="item week {{ week.week_id }}" id="week-{{ week.week_id }}" data-week="{{ week.week_id }}">#}
        {% set day_count = 0 %}
        {% for day in week.days %}
        {% set day_count = day_count + 1 %}    
        <div class="col-sm-4 ">
            <div class="day-detail day week-day-item {{ day_count }}" data-day="{{ day.day_id }}">
                <p><strong>{{ day.day_name|capitalize }}</strong></p>
                <hr>
                {% set done_items = 0 %}
                {% set total_items = 0 %}

                {% for item in day.items %}
                    {% if item.type != 'quote' %}
                        {% set total_items = total_items + 1 %}
                        {% if item.s_done == 1 %}
                            {% set done_items = done_items + 1 %}
                        {% endif %}
                    {% endif %}
                {% endfor %}

                <h5><span class="done-items">{{ done_items }}</span>/<span class="total-items">{{ total_items }}</span> complete</h5>


                {% set quote_count = 0 %}
                {% for item in day.items %}

                    {% if item.type == 'quote' %}
                        {% set quote_count = quote_count + 1 %}
                        {% if quote_count == 1 %}
                            <div class="quote">
                                <div class="quote-sign">“</div>
                                <div class="quote-text">
                                    <p class="quote-phrase">{{ item.body|striptags }}</p>
                                    {# 'lk: 291015 #}
{#                                                    <p class="share">{{ item.quote_author|upper }} <a class="share-quote" data-quote="{{ item.item_id }}"><span class="circle-arrow bg-green" style="margin:0 10px;"><i class="fa fa-facebook"></i></span>Share</a></p>#}
                                    <p class="share">{{ item.quote_author|upper }} <a target="_window" onclick="return !window.open(this.href, 'Facebook', 'width=640,height=300')" href="https://www.facebook.com/dialog/feed?app_id=1469093223400005&display=popup&description=12 weeks that can completely change your life! And it's Free.&link=http://healthylifeproject.com.au/program&redirect_uri=http://healthylifeproject.com.au/program/close.html&picture=http://healthylifeproject.com.au/program/web/dashboard/share-quote-image?quote={{ item.item_id }}&name=Healthy Life 12 Week Program"><span class="circle-arrow bg-green" style="margin:0 10px;"><i class="fa fa-facebook"></i></span>Share</a></p>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <div class="event-holder web">
                    <ul {#id="monday"#} id="day-{{ day.day_name }}" class="sortable-list connectList item-parent">
                        {% for item in day.items %}
                            {% if item.type == 'quote' %}
                            {% elseif item.type == 'workout'%}
                                <li class="{{ item.bgcolor }} day-item task cat-{{ item.category }} {{ item.type }} {% if item.s_done == 1 %}completed{% endif %} {{ item.client_item_id }}" data-type="{{ item.type }}" data-item="{{ item.client_item_id }}">
                                    <div class="checkbox-container">
                                        {% if week.week_id <= current_week %}
                                        <input type="checkbox" {% if item.s_done == 1 %}checked{% endif %} disabled>
                                        {% endif %}
                                    </div>

                                    <div class="text-container gym-based {% if workout_base == 'gym' %}active{% else %}inactive{% endif %}">
                                        <h4 class="text-left head {% if item.s_done == 1 %}completed{% endif %}">{{ item.type|capitalize }}</h4>
                                        <p>{{ item.body|raw }}</p>
                                    </div>

                                    <div class="text-container home-based {% if workout_base == 'home' %}active{% else %}inactive{% endif %}">
                                        <h4 class="text-left head {% if item.s_done == 1 %}completed{% endif %}">{{ item.type|capitalize }}</h4>
                                        <p>{{ item.body_home_based|raw }}</p>
                                    </div>
                                    
                                    <div class="text-container myown-based {% if workout_base == 'myown' %}active{% else %}inactive{% endif %}">
                                        <h4 class="text-left head {% if item.s_done == 1 %}completed{% endif %}">Daily Exercise</h4>
                                    </div>

                                    <div class="nav-icon {% if workout_base == 'myown' %}inactive{% else %}active{% endif %}">
                                        {% if item.is_expand == 1%}
                                            <a href="http://healthylifeproject.com.au/program/web/pages/{{ day.day_name }}-{{ item.item_id }}?client={{ prog_client_id }}" target="_blank"><img src="{{ asset('img') }}/icon-angle-right-med.png"></a>
                                        {% endif %}
                                    </div>
                                </li>

                            {% else %}

                                <li class="{{ item.bgcolor }} day-item task cat-{{ item.category }} {{ item.type }} {% if item.s_done == 1 %}completed{% endif %} {{ item.client_item_id }}" data-type="{{ item.type }}" data-item="{{ item.client_item_id }}">
                                    <div class="checkbox-container">
                                        {% if week.week_id <= current_week %}
                                        <input type="checkbox" {% if item.s_done == 1 %}checked{% endif %} disabled>
                                        {% endif %}
                                    </div>
                                    <div class="text-container">
                                        <h4 class="text-left head {% if item.s_done == 1 %}completed{% endif %}">{{ item.type|capitalize }}</h4>
                                        <p>{{ item.body|raw }}</p>
                                    </div>
                                    <div class="nav-icon">
                                        {% if item.is_expand == 1%}
                                            <a href="http://healthylifeproject.com.au/program/web/pages/{{ day.day_name }}-{{ item.item_id }}?client={{ prog_client_id }}" target="_blank"><img src="{{ asset('img') }}/icon-angle-right-med.png"></a>
                                        {% endif %}

                                    </div>
                                </li>
                            {% endif %}
                        {% endfor %}

                    </ul>
                </div>
                        
                <!-- Day comments-->
                <div class="comment-holder">
                    <label>Notes:</label>
                    <div class="comment">{% if day.day_comment is defined and day.day_comment != '' %}{{ day.day_comment|raw }}{% endif %}</div>

                </div>
            </div>
        </div>
        {% endfor %}

        {% set day_count = day_count + 1 %}
        <div class="col-sm-4 ">
            <div class="week-tips week-day-item {{ day_count }}">
                <h3>Tips for a Great Week</h3>
                <ol class="tips-container">
                        <li>
                            <p class="tip-head">Plan Ahead</p>
                            <br>
                            <p class="tip-body">Taking time to plan your activities and schedule for the week ahead will help you keep on track.</p>
                        </li>
                        <li>
                            <p class="tip-head">Keep your head in the game </p>
                            <br>
                            <p class="tip-body">Nutrition and Exercise are the more obvious parts of the plan, but make sure you stay positive and believe in yourself! Read the daily Mindfulness program and exercise your mind as well as your body.
                            </p>
                        </li>
                        <li>
                            <p class="tip-head">Keep a food diary </p>
                            <br>
                            <p class="tip-body">Keeping yourself accountable with a food diary is a great way to get visibility on what you're putting in your body. 
                            </p>
                        </li>
                        <li>
                            <p class="tip-head">Mix it up! </p>
                            <br>
                            <p class="tip-body">Variety is the spice of life – this is true for your workouts as well as your food and state of mind. Try new things and be rewarded. 
                            </p>
                        </li>
                        <li>
                            <p class="tip-head">Exercise in the morning</p>
                            <br>
                            <p class="tip-body">Do you have the best intentions to train each day but struggle to get your planned exercise in by the end of the day? Why not try early morning workouts? Not only will you get it over and done with but you will feel better throughout the day knowing you have started it by doing something important for yourself!
                            </p>
                        </li>
                        <li>
                            <p class="tip-head">Finish your day</p>
                            <br>
                            <p class="tip-body">Rather than planning your day when you arrive to work in the morning start planning your day the night before. Pack your gym bag, get any meal prep organised, fill up your water bottle and write down what needs to get done the next day. This will generally help you reduce stress before going to bed and have you feeling more relaxed and organised the next day.
                            </p>
                    </li>
                    </ol>
            </div>
        </div>

        {% set day_count = day_count + 1 %}
        <div class="col-sm-4">
            <div class="promo week-day-item {{ day_count }}">
                <div class="upper">
                    <img src="{{ asset('templates') }}/hlp-2.0/images/oneStep-logo.png" class="img-responsive img-centered">
                </div>
                <div class="middle">
                    <p class="text-center">Working towards a healthy life is easier and more fun with friends. </p>
                    <button class="btn btn-sm text-center img-centered invite-friends" style="display:block">Invite a Friend Today<i class="fa fa-angle-right"></i></button>
                </div>
                <div class="bottom">
                <img src="{{ asset('templates') }}/hlp-2.0/images/promo.png" class="img-responsive">
                </div>
            </div>
        </div>
{#    </div>#}
{% endfor %}