{% extends "::club_layout.html.twig" %}

{% set route_slug = app.request.attributes.get('_route_params')['slug'] %}
{% block title %}{{ route_slug|capitalize }} Client{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('resources') }}/cropper/cropper.css" rel="stylesheet">
    <link href="{{ asset('css') }}/client.css" rel="stylesheet">
{% endblock %}

{% block body %}

<div id="main-content">
        
        <!-- ==============================================
			Detail-header
			=============================================== -->
        <br><br>
        <section id="detail-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                    {% if route_slug == 'new' %}
{#                        <h3>CREATE A NEW CLIENT</h3>#}
                    {% else %}
{#                        <h3>UPDATE CLIENT</h3>#}

                    {% endif %}
                    </div>
                
                </div>
               <div class="content">     
                <div class="row">
                    <div class="col-md-4">
                        <div class="page img-frame">
                            <div id="cropedPhotoPreview">
                                {% if post.picture is defined and post.picture != '' %}
                                    <img class="picture img-responsive img-circle img-centered img-profile" src="{{ asset('uploads') ~ "/" ~ post.picture }}"/>
                                {% else %}
                                    {#{% if post.gender is defined and post.gender == 'female'%}
                                        <img id="preview" class="img-responsive img-circle img-centered img-profile" src="{{ asset('img') }}/img19.png" />
                                    {% else %}#}
                                        <img id="preview" class="img-responsive img-circle img-centered img-profile" src="{{ asset('templates') }}/hlp-2.0/images/user.png" />
{#                                    {% endif %}#}
                                {% endif %}
                            </div>
                            
                            <div class="description text-center">
                                {% if post.picture is defined and post.picture != '' %}
                                        <a class="pointer upload-photo lightbox" data-toggle="modal" data-target="#myModal"><span class="jcf-file"><span class="jcf-fake-input"> Change Photo </span></span></a>
                                {% else %}
                                        <a class="pointer upload-photo lightbox" data-toggle="modal" data-target="#myModal"><span class="jcf-file"><span class="jcf-fake-input"> Add a Photo </span></span></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-sm-12">
                                {% for flashMessage in app.session.flashbag.get('success') %}
                                <div class="alert alert-success">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    {{ flashMessage }}
                                </div>
                                {% endfor %}

                                {% for flashMessage in app.session.flashbag.get('error') %}
                                <div class="alert alert-danger">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    {% for item in flashMessage %}
                                        {{ item.message }}<br/>
                                    {% endfor %}
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        
                        <form action="#" id="frmAddEditClient" method="post">
{#                            <input type="hidden" name="submit">#}
                            {% if route_slug == 'edit' %}
                                <input type="hidden" name="club_client_id" value="{% if post.club_client_id is defined %}{{ post.club_client_id }}{% endif %}">
                            {% endif %}
                            <input type="hidden" name="picture" id="uploadedimg" value="{% if post.picture is defined %}{{ post.picture }}{% endif %}"></input>

                            
                            <div class="field-holder">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <h4>Client's Details</h4>
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group non-member-assessment {% if post.s_non_member_assessment is defined and post.s_non_member_assessment == 1 %}non{% endif %}">
                                            <label class="checkbox-label"><input type="checkbox" name="s_non_member_assessment" {% if post.s_non_member_assessment is defined and post.s_non_member_assessment == 1 %}checked{% endif %}> Non member assessment</label>
                                            <input type="text" class="form-control opt-client-id" name="opt_client_id" placeholder="FOB number" value="{% if post.opt_client_id is defined %}{{ post.opt_client_id }}{% endif %}">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="fname" placeholder="First name" value="{% if post.fname is defined %}{{ post.fname }}{% endif %}"  required>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="lname" placeholder="Last name" value="{% if post.lname is defined %}{{ post.lname }}{% endif %}"  required>
                                        </div>
                                        
                                        <div class="form-group">
                                            {% if errors is defined %}
                                                <input type="text" class="form-control date-control" name="birthdate" placeholder="Birthdate"  value="{% if post.birthdate is defined %}{{ post.birthdate }}{% endif %}" required>{# |date('d/m/Y')  #}
                                            {% else %}
                                                <input type="text" class="form-control date-control" name="birthdate" placeholder="Birthdate"  value="{% if post.birthdate is defined %}{{ post.birthdate|date('d/m/Y') }}{% endif %}" required>{# |date('d/m/Y')  #}
                                            {% endif %}
                                        </div>
                                        
                                        <div class="form-group">
                                            <select class="selectpicker" name="program_type" placeholder="Select Program">
                                                <option value="">-- Program Type --</option>
                                                {% if post.program_id == '' %}
                                                    <option value="4week" {% if post.program_type is defined and post.program_type == '4week'%}selected{% endif %}>4 Week Program</option>
                                                    <option value="8week" {% if post.program_type is defined and post.program_type == '8week'%}selected{% endif %}>8 Week Program</option>
                                                    <option value="12week" {% if post.program_type is defined and post.program_type == '12week'%}selected{% endif %}>12 Week Program</option>
                                                {% else %}
                                                    <option value="4week">4 Week Program</option>
                                                    <option value="8week">8 Week Program</option>
                                                    <option value="12week">12 Week Program</option>
                                                {% endif %}
                                                {% for item in paid_programs %}
                                                    <option value="{{ item.program_id }}" {% if post.program_id is defined and post.program_id == item.program_id %}selected{% endif %}>{{ item.program_name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        
                                        <div class="form-group" id="div_program_start_date" style="display:none;">
{#                                            Program start date#}
                                            <label class="checkbox-label"><input  type="checkbox" name="resetWeek" value="Reset all to this date"> Reset all to this date</label>
                                            <input type="text" class="form-control date-control" name="program_start_date" placeholder="Program start date"  
                                                   value="{% if post.program_start_date is defined and post.program_start_date != '' %}{{ post.program_start_date|date('d/m/Y') }}{% elseif program_client_details.program_start_date is defined and program_client_details.program_start_date != '0000-00-00' and program_client_details.program_start_date != '' %}{{ program_client_details.program_start_date|date('d/m/Y') }}{% elseif program_client_details.registered_datetime is defined and program_client_details.registered_datetime != '' %}{{ program_client_details.registered_datetime|date('d/m/Y') }}{% endif %}">
                                            
                                        </div>
                                        
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group aia-vitality-member {% if post.s_aia_vitality_member is defined and post.s_aia_vitality_member == 1 %}{% else %}non{% endif %}">
                                            <label class="checkbox-label"><input type="checkbox" name="s_aia_vitality_member" {% if post.s_aia_vitality_member is defined and post.s_aia_vitality_member == 1 %}checked{% endif %}> AIA vitality member ($40 AUD)</label>
                                            <input type="text" class="form-control aia-vitality-member-number" name="aia_vitality_member_number" placeholder="AIA vitality member number" value="{% if post.aia_vitality_member_number is defined %}{{ post.aia_vitality_member_number }}{% endif %}">
                                        </div>
                                        
                                        <div class="form-group">
                                            <input type="email"  class="form-control" name="email" placeholder="Email" value="{% if post.email is defined %}{{ post.email }}{% endif %}"  required>
                                            <input type="hidden"  class="form-control" name="orig_email" placeholder="Email" value="{% if post.email is defined %}{{ post.email }}{% endif %}">
                                        </div>
                                        <div class="form-group">
                                            <select class="selectpicker" name="gender" placeholder="Gender">
                                                <option value="">-- Gender --</option>
                                                <option value="male" {% if post.gender is defined and post.gender == 'male'%}selected{% endif %}>Male</option>
                                                <option value="female" {% if post.gender is defined and post.gender == 'female'%}selected{% endif %}>Female</option>
                                            </select>
                                        </div>
                                        {#<div class="form-group">
                                            <input type="text" class="form-control with-tool-tip" style="width: 85%;float:left;" name="height" placeholder="Height (CM)" value="{% if post.height is defined %}{{ post.height }}{% endif %}">
                                            <span><a class="help" data-field="height"  data-toggle="modal" data-target="#myModal-help"><span class="hlp-required" title="Click it to see the guide">?</span></a></span>

                                        </div>  #} 
                                            
                                        <div class="form-group">
                                            <select class="selectpicker" name="client_category" placeholder="Select Category">
                                                <option value="">-- Client Category --</option>
                                                {% for cat in client_category %}
                                                    <option value="{{cat.id}}" {% if post.client_category is defined and post.client_category == cat.id %}selected{% endif %}>{{cat.category_name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                            
                                        {% if app.session.get('user_role') != 'coach'  %}
                                        <div class=" add-select1" >
                                            <div class="form-group">
                                                <select class="selectpicker" name="club_admin_id" >
                                                    <option value="">-- Coached by --</option>
                                                    {% for item in club_admins %}
                                                        <option value="{{ item.club_admin_id }}" {% if post.club_admin_id is defined and post.club_admin_id == item.club_admin_id %}selected{% endif %}>{{ item.fname }} {{ item.lname }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        {% endif %}
                                            
                                        {% if is_prospect is defined and is_prospect==1  %}    
                                            <div class="form-group">
                                                <label>Prospect Setup date</label>
                                                <input type="text" class="form-control readonly" value="{% if post.registered_date is defined %} {{post.registered_date}} {%endif%}"/>
                                            </div>  
                                        {% endif  %}  
                                    </div>
                                </div>
                                <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <h4>Weekly Summary</h4>
                                                <hr>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="checkbox-label"><input  type="checkbox" name="clientSummaryEmail" {% if post.s_weekly_summary_unsubscribed is defined %} {% if post.s_weekly_summary_unsubscribed == 0 or post.s_weekly_summary_unsubscribed == null %}checked{% endif %}{% endif %} value="Reset all to this date"> Client summary email</label>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="checkbox-label"><input  type="checkbox" name="trainerSummaryEmail" {% if post.s_weekly_summary_unsubscribed_trainer is defined %} {% if post.s_weekly_summary_unsubscribed_trainer == 0 or post.s_weekly_summary_unsubscribed_trainer == null %}checked{% endif %}{% endif %} value="Reset all to this date"> Trainer summary email</label>
                                            </div>
                                        </div>
                                    </div>    
                                {% if route_slug == 'edit' %}
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <h4>Change Password</h4>
                                                <hr>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <input type="password" class="form-control" name="password" placeholder="Password" value="" >
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <input type="password" class="form-control" name="confirm_password" placeholder="Re-enter Password" value="" >
                                            </div>
                                        </div>
                                    </div>
                                    
                                {% endif %}
                                
                                <div class="row " >
                                    <div class="col-sm-12">
                                        <div class="form-group button-group">
                                        {% if route_slug == 'new' %}
                                            <button type="submit" class="btn btn-primary">Add Client</button>
                                        {% else %}
                                            <button type="button" class="btn btn-primary btnUpdate">Update Client</button>
                                            <a href="{{ path('acme_club_client_view') }}?id={% if post.club_client_id is defined %}{{ post.club_client_id }}{% endif %}" class="btn btn-primary">View</a>
                                            <button type="button" class="btn btn-danger delete-item" data-id="{% if post.club_client_id is defined %}{{ post.club_client_id }}{% endif %}">Delete Client</button>
                                        {% endif %}

                                        <a href="{{ path('acme_club_client') }}" class="btn btn-default">Cancel</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--<div class="col-md-4">
                        <h3>Help</h3>
                        <p>&nbsp;</p>
                        <div class="help-container">
                        </div>
                    </div>-->
                </div>
                </div>       
            </div>
        </section>
        

        
        
    </div>
<div id="myModal-help" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Help</h4>
      </div>
      <div class="modal-body">
          <div class="help-container"></div>
      </div>
    </div>

  </div>
</div>
        
        
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog{# modal-sm#}">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Upload Photo</h4>
      </div>
      <div class="modal-body">
        <div id="two-columns" class="two-columns">
                <!-- content -->
                <section id="content">
                                    
                    <div class="row">
                        <div class="col-sm-12">
                            <form id="frmAjaxUploadImg" action="{{ asset('resources') }}/ajaxupload/ajaxupload.php">
                                <input type="file" id="imageUpload" name="image" class="form-control ">
                            </form>
                        </div>
                        <label id="crop-size"></label>
                    </div>
                        
                    <center><div id="spinner"></div></center>
                    <div id="imgPreview">
                        
{#                        <img class="picture" src="{{ asset('img') }}/no-preview-available.png">#}
                    </div>
                </section>
                <aside id="sidebar">
                    <div class="field-holder" style="display: none;">
                        <div class="row">
                            <input class="form-control" id="dataX" type="text" placeholder="X" readonly>
                        </div>
                        <div class="row">
                            <input class="form-control" id="dataY" type="text" placeholder="Y" readonly>
                        </div>
                        <div class="row">
                            <input class="form-control" id="dataW" type="text" placeholder="Width" readonly>
                        </div>
                        <div class="row">
                            <input class="form-control" id="dataH" type="text" placeholder="Height" readonly>
                        </div>
                    </div>
					<div >
						
					</div>
                </aside>
        </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary get-selected-image" style="float: left;" disabled>Done</button>
        
      </div>
    </div>

  </div>
</div>
 

{# + Delete area #}
<div id="dialog-confirm" title="Delete this item?" style="display: none">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>These item will be permanently deleted and cannot be recovered. Are you sure?</p>
</div>

<form id="delete" action="{{ path('acme_club_client_delete') }}" method="post">
    <input type="hidden" name="club_client_id">
</form>
{# - Delete area #}
{% endblock %}

{% block javascripts %}
<script src="{{ asset('resources') }}/cropper/cropper.js"></script>
<script type="text/javascript">
    var asset_img = "{{ asset('img') }}";
    var asset_uploads = "{{ asset('uploads') }}";
    var asset_resources = "{{ asset('resources') }}";
    var get_help_path = "{{ path('acme_club_help_get_help') }}";
    var get_crop_photo_path = "{{ path('acme_club_client_crop_photo') }}";
</script>
<script src="{{ asset('resources') }}/ajaxupload/ajaxupload.js"></script>
<script src="{{ asset('js') }}/club/club-client.js?v=070316"></script>
{% endblock %}

