{% extends "::club_layout.html.twig" %}

{% set route_slug = app.request.attributes.get('_route_params')['slug'] %}
{% block title %}{{ route_slug|capitalize }} Client{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('resources') }}/cropper/cropper.css" rel="stylesheet">
    <link href="{{ asset('css') }}/client.css" rel="stylesheet">
{% endblock %}

{% block body %}

<div id="main-content">
        
        <!-- ==============================================
			Detail-header
			=============================================== -->
        
        <section id="detail-header">
            <div class="container">
                <div class="row">
                {% if route_slug == 'new' %}
                    <h3>CREATE A NEW CLIENT</h3>
                {% else %}
                    <h3>UPDATE CLIENT</h3>
                {% endif %}
                    
                {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ flashMessage }}
                </div>
                {% endfor %}

                {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {% for item in flashMessage %}
                        {{ item.message }}<br/>
                    {% endfor %}
                </div>
                {% endfor %}
                </div>
               <div class="content">     
                <div class="row">
                    <div class="col-sm-4">
                        <div class="page img-frame">
                            <div class="description">
                                        {% if post.picture is defined and post.picture != '' %}
                                                <a class="pointer upload-photo lightbox" data-toggle="modal" data-target="#myModal"><span class="jcf-file"><span class="jcf-fake-input"> Change Photo </span></span></a>
                                        {% else %}
                                                <a class="pointer upload-photo lightbox" data-toggle="modal" data-target="#myModal"><span class="jcf-file"><span class="jcf-fake-input"> Add a Photo </span></span></a>
                                        {% endif %}
                            </div>

                            <div id="cropedPhotoPreview">
                                {% if post.picture is defined and post.picture != '' %}
                                    <img class="picture img-responsive img-circle img-centered img-profile" src="{{ asset('uploads') ~ "/" ~ post.picture }}"/>
                                {% else %}
                                    <img id="preview" class="img-responsive img-circle img-centered img-profile" src="{{ asset('img') }}/img19.png" />
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <form action="#" method="post">
                            {% if route_slug == 'edit' %}
                                <input type="hidden" name="club_client_id" value="{% if post.club_client_id is defined %}{{ post.club_client_id }}{% endif %}">
                            {% endif %}
                            <input type="hidden" name="picture" id="uploadedimg" value="{% if post.picture is defined %}{{ post.picture }}{% endif %}"></input>

                            <div class="field-holder">
                                <div class="row">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="opt_client_id" placeholder="Client ID" value="{% if post.opt_client_id is defined %}{{ post.opt_client_id }}{% endif %}" >
                                    </div>
                                </div>
                                <div class="row" >
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="fname" placeholder="First name" value="{% if post.fname is defined %}{{ post.fname }}{% endif %}"  required>
                                    </div>
                                </div>

                                <div class="row" >
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="lname" placeholder="Last name" value="{% if post.lname is defined %}{{ post.lname }}{% endif %}"  required>
                                    </div>
                                </div>

                                <div class="row" >
                                    <div class="form-group">
                                        <input type="email"  class="form-control" name="email" placeholder="Email" value="{% if post.email is defined %}{{ post.email }}{% endif %}"  required>
                                    </div>
                                </div>

                                <div class="row" >
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="birthdate" placeholder="Birthdate"  value="{% if post.birthdate is defined %}{{ post.birthdate}}{% endif %}" id="birthdate" required>{# |date('d/m/Y')  #}
                                    </div>
                                </div>

                                <div class="row" >
                                    <div class="form-group">
                                        <select class="selectpicker" name="gender" placeholder="Gender">
                                            <option value="">Gender</option>
                                            <option value="male" {% if post.gender is defined and post.gender == 'male'%}selected{% endif %}>Male</option>
                                            <option value="female" {% if post.gender is defined and post.gender == 'female'%}selected{% endif %}>Female</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row" >   
                                    <div class="form-group">
                                        <input type="text" class="form-control with-tool-tip" style="width: 85%;float:left;" name="height" placeholder="Height (CM)" value="{% if post.height is defined %}{{ post.height }}{% endif %}">
                                        <span><a class="help" data-field="height"  data-toggle="modal" data-target="#myModal-help"><span class="hlp-required" title="Click it to see the guide">?</span></a></span>
                                        
                                    </div>   
                                </div>
                                <div class="row add-select1" >
                                    <div class="form-group">
                                        <select class="selectpicker" name="club_admin_id" >
                                            <option value="">Coached by</option>
                                            {% for item in club_admins %}
                                                <option value="{{ item.club_admin_id }}" {% if post.club_admin_id is defined and post.club_admin_id == item.club_admin_id %}selected{% endif %}>{{ item.fname }} {{ item.lname }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                {% if route_slug == 'new' %}
                                <div class="row">
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label style="display:table;"><input type="checkbox" name="addTo12WeekProgram" checked> <span>Invite to 12 Week Program</span></label>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                <div class="row " >
                                    <div class="form-group button-group">
                                    {% if route_slug == 'new' %}
                                        <button type="submit" class="btn btn-primary">Add Client</button>
                                    {% else %}
                                        <button type="submit" class="btn btn-primary">Update Client</button>
                                        <a href="{{ path('acme_club_client_view') }}?id={% if post.club_client_id is defined %}{{ post.club_client_id }}{% endif %}" class="btn btn-primary">View</a>
                                        <button type="button" class="btn btn-danger delete-item" data-id="{% if post.club_client_id is defined %}{{ post.club_client_id }}{% endif %}">Delete Client</button>
                                    {% endif %}

                                    <a href="{{ path('acme_club_client') }}" class="btn btn-default">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--<div class="col-md-4">
                        <h3>Help</h3>
                        <p>&nbsp;</p>
                        <div class="help-container">
                        </div>
                    </div>-->
                </div>
                </div>       
            </div>
        </section>
        

        
        
    </div>
<div id="myModal-help" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Help</h4>
      </div>
      <div class="modal-body">
          <div class="help-container"></div>
      </div>
    </div>

  </div>
</div>
        
        
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Upload Photo</h4>
      </div>
      <div class="modal-body">
        <div id="two-columns" class="two-columns">
                <!-- content -->
                <section id="content">
                    <header class="add-header">
                        <div class="header-two-columns">
                            <div class="col-1">
                                <form id="frmAjaxUploadImg" action="{{ asset('resources') }}/ajaxupload/ajaxupload.php">
                                    <input type="file" id="imageUpload" name="image" class="jcf-real-element ">
                                </form>
								
                            </div>
                                
                            <div class="col-2" style="text-align: right;">
								<div id="spinner">
								</div>
                                <label id="crop-size"></label>
                            </div>
                        </div>
                        
                        
                        
                    </header>
                        
                    <div id="imgPreview">
                        <img class="picture" src="{{ asset('img') }}/no-preview-available.png">
                    </div>
                </section>
                <aside id="sidebar">
                    <div class="field-holder" style="display: none;">
                        <div class="row">
                            <input class="form-control" id="dataX" type="text" placeholder="X" readonly>
                        </div>
                        <div class="row">
                            <input class="form-control" id="dataY" type="text" placeholder="Y" readonly>
                        </div>
                        <div class="row">
                            <input class="form-control" id="dataW" type="text" placeholder="Width" readonly>
                        </div>
                        <div class="row">
                            <input class="form-control" id="dataH" type="text" placeholder="Height" readonly>
                        </div>
                    </div>
					<div >
						
					</div>
                </aside>
        </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary get-selected-image" style="float: left;" disabled>Done</button>
      </div>
    </div>

  </div>
</div>
 

{# + Delete area #}
<div id="dialog-confirm" title="Delete this item?" style="display: none">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>These item will be permanently deleted and cannot be recovered. Are you sure?</p>
</div>

<form id="delete" action="{{ path('acme_club_client_delete') }}" method="post">
    <input type="hidden" name="club_client_id">
</form>
{# - Delete area #}
{% endblock %}

{% block javascripts %}
<script src="{{ asset('resources') }}/cropper/cropper.js"></script>
<script type="text/javascript">
    var asset_img = "{{ asset('img') }}";
    var asset_uploads = "{{ asset('uploads') }}";
    var asset_resources = "{{ asset('resources') }}";
    var get_help_path = "{{ path('acme_club_help_get_help') }}";
    var get_crop_photo_path = "{{ path('acme_club_client_crop_photo') }}";
</script>
<script src="{{ asset('resources') }}/ajaxupload/ajaxupload.js"></script>
<script src="{{ asset('js') }}/club/club-client.js"></script>
{% endblock %}

