{% extends "::club_layout.html.twig" %}

{% set route_slug = app.request.attributes.get('_route_params')['slug'] %}
{% block title %}{{ route_slug|capitalize }} Client{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('resources') }}/cropper/cropper.css" rel="stylesheet">
{% endblock %}

{% block body %}


{% if route_slug == 'new' %}
    <h2>CREATE A NEW CLIENT</h2>
{% else %}
    <h2>UPDATE CLIENT</h2>
{% endif %}





<div class="page img-frame">
    <div class="description">
		{% if post.picture is defined and post.picture != '' %}
			<a class="pointer upload-photo lightbox" href="#popup1"><span class="jcf-file"><span class="jcf-fake-input"> Change Photo </span></span></a>
		{% else %}
			<a class="pointer upload-photo lightbox" href="#popup1"><span class="jcf-file"><span class="jcf-fake-input"> Add a Photo </span></span></a>
		{% endif %}
    </div>

    <div id="cropedPhotoPreview">
        {% if post.picture is defined and post.picture != '' %}
            <img class="picture" src="{{ asset('uploads') ~ "/" ~ post.picture }}"/>
        {% else %}
            <img id="preview" src="{{ asset('img') }}/img19.png" />
        {% endif %}
    </div>
</div>
<!-- two columns -->
<div id="two-columns">
    <!-- content -->
    <section id="content">
        
        
        <form action="#" method="post">
            {% if route_slug == 'edit' %}
                <input type="hidden" name="club_client_id" value="{% if post.club_client_id is defined %}{{ post.club_client_id }}{% endif %}">
            {% endif %}
            <input type="hidden" name="picture" id="uploadedimg" value="{% if post.picture is defined %}{{ post.picture }}{% endif %}"></input>

            <div class="field-holder">
				<div class="row">
                    <input type="text" name="opt_client_id" placeholder="Client ID" value="{% if post.opt_client_id is defined %}{{ post.opt_client_id }}{% endif %}" >
                </div>
                <div class="row">
                    <input type="text" name="fname" placeholder="First name" value="{% if post.fname is defined %}{{ post.fname }}{% endif %}"  required>
                </div>

                <div class="row">
                    <input type="text" name="lname" placeholder="Last name" value="{% if post.lname is defined %}{{ post.lname }}{% endif %}"  required>
                </div>

                <div class="row">
                    <input type="email" name="email" placeholder="Email" value="{% if post.email is defined %}{{ post.email }}{% endif %}"  required>
                </div>

                <div class="row">
                    <input type="text" name="birthdate" placeholder="Birthdate"  value="{% if post.birthdate is defined %}{{ post.birthdate}}{% endif %}" class="date-control" required>{# |date('d/m/Y')  #}
                </div>

                <div class="row add-select1">
                    <select name="gender" placeholder="Gender">
                        <option value="">Gender</option>
                        <option value="male" {% if post.gender is defined and post.gender == 'male'%}selected{% endif %}>Male</option>
                        <option value="female" {% if post.gender is defined and post.gender == 'female'%}selected{% endif %}>Female</option>
                    </select>
                </div>

                <div class="row">
                    <input type="text" class="with-tool-tip" name="height" placeholder="Height (CM)" value="{% if post.height is defined %}{{ post.height }}{% endif %}">
                    <a class="tooltip pointer help" data-field="height" title="Click it to see the guide"><i class="icon-help-circled"></i></a>
                </div>

                <div class="row add-select1">
                    <select name="club_admin_id" >
                        <option value="">Coached by</option>
                        {% for item in club_admins %}
                            <option value="{{ item.club_admin_id }}" {% if post.club_admin_id is defined and post.club_admin_id == item.club_admin_id %}selected{% endif %}>{{ item.fname }} {{ item.lname }}</option>
                        {% endfor %}
                    </select>
                </div>
                {% if route_slug == 'new' %}
                <div class="row">
                    <label><input type="checkbox" name="addTo12WeekProgram" checked> Invite to 12 Week Program</label>
                </div>
                {% endif %}
                <div class="row">

                    {% if route_slug == 'new' %}
                        <button type="submit" class="btn btn-primary">Add Client</button>
                    {% else %}
                        <button type="submit" class="btn btn-primary">Update Client</button>
                        <a href="{{ path('acme_club_client_view') }}?id={% if post.club_client_id is defined %}{{ post.club_client_id }}{% endif %}" class="btn btn-primary">View</a>
                        <button type="button" class="btn btn-danger delete-item" data-id="{% if post.club_client_id is defined %}{{ post.club_client_id }}{% endif %}">Delete Client</button>
                    {% endif %}

                    <a href="{{ path('acme_club_client') }}" class="btn btn-default">Cancel</a>
                </div>
            </div>
        </form>

    </section>
    
    <!-- sidebar -->
    <aside id="sidebar">
            <h3>Help</h3>
            <p>&nbsp;</p>
            <div class="help-container">
            </div>
    </aside>
</div>

            
<!-- popup holder -->
<div id="uploadPhoto" class="popup-holder">
    <div id="popup1" class="lightbox">
        <h2 class="modal-title">Upload Photo</h2>
        <a href="#" class="upload-photo-modal-close close">Close</a>
        
        <!-- two columns -->
        <div id="two-columns" class="two-columns">
                <!-- content -->
                <section id="content">
                    <header class="add-header">
                        <div class="header-two-columns">
                            <div class="col-1">
                                <form id="frmAjaxUploadImg" action="{{ asset('resources') }}/ajaxupload/ajaxupload.php">
                                    <input type="file" id="imageUpload" name="image" class="jcf-real-element" style="position: absolute; opacity: 0;">
                                </form>
								
                            </div>
                                
                            <div class="col-2" style="text-align: right;">
								<div id="spinner">
								</div>
                                <label id="crop-size"></label>
                            </div>
                        </div>
                        
                        
                        
                    </header>
                        
                    <div id="imgPreview">
                        <img class="picture" src="{{ asset('img') }}/no-preview-available.png">
                    </div>
                </section>
                <aside id="sidebar">
                    <div class="field-holder" style="display: none;">
                        <div class="row">
                            <input class="form-control" id="dataX" type="text" placeholder="X" readonly>
                        </div>
                        <div class="row">
                            <input class="form-control" id="dataY" type="text" placeholder="Y" readonly>
                        </div>
                        <div class="row">
                            <input class="form-control" id="dataW" type="text" placeholder="Width" readonly>
                        </div>
                        <div class="row">
                            <input class="form-control" id="dataH" type="text" placeholder="Height" readonly>
                        </div>
                    </div>
					<div >
						<button type="button" class="btn btn-primary get-selected-image" style="float: left;" disabled>Done</button>
					</div>
                </aside>
        </div>
        
        
    </div>
</div>

{# + Delete area #}
<div id="dialog-confirm" title="Delete this item?" style="display: none">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>These item will be permanently deleted and cannot be recovered. Are you sure?</p>
</div>

<form id="delete" action="{{ path('acme_club_client_delete') }}" method="post">
    <input type="hidden" name="club_client_id">
</form>
{# - Delete area #}
{% endblock %}

{% block javascripts %}
<script src="{{ asset('resources') }}/cropper/cropper.js"></script>
<script type="text/javascript">
    var asset_img = "{{ asset('img') }}";
    var asset_uploads = "{{ asset('uploads') }}";
    var asset_resources = "{{ asset('resources') }}";
    var get_help_path = "{{ path('acme_club_help_get_help') }}";
    var get_crop_photo_path = "{{ path('acme_club_client_crop_photo') }}";
</script>
<script src="{{ asset('resources') }}/ajaxupload/ajaxupload.js"></script>
<script src="{{ asset('js') }}/club/club-client.js"></script>
{% endblock %}

