
{% for item in clients %}
    {% if item.recent_test[0]['healthy_life_score'] is defined %}
        {% set data_result = (item.recent_test[0]['healthy_life_score'] * 100) %}
    {% else %}
        {% set data_result = 0 %}
    {% endif %} 

    <div class="col-md-4 item" 
         data-client-id="{{ item.club_client_id }}" 
         data-name="{{ item.fname }} {{ item.lname }}" 
         data-coach="{{ item.coach_fname }} {{ item.coach_lname }}"
         data-age="{{ item.age }}"
         data-gender="{{ item.gender }}"
         data-results="{{ data_result }}" 
         data-email="{{ item.email }}" 
         data-category="{{ item.client_category }}">
        <div class="trainer-dashboard">
            <div class="trainer-dashboard-header">
                <a href="{{ path('acme_club_client_view') }}?id={{ item.club_client_id }}" class="tapable-header">
                    <div class="col-xs-9">
                        <div class="row">
                            <h3>{{ item.fname|capitalize }} {{ item.lname|capitalize }}</h3>
                            <p>{{ item.age }} Year Old {{ item.gender|capitalize }} {#{{ time_elapsed_secs }}#}</p>
                        </div>
                    </div>
                    <div class="col-xs-3 arrow-link">
                       <div class="row">
                           <img src="{{ asset('templates')  }}/hlp-2.0/images/icon-angle-right.png">
                        </div>
                    </div>
                </a>
             </div>
            <div class="trainer-dashboard-body">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="row">
                            {% if item.picture != '' %}
                                <img src="{{ asset('uploads') ~ "/" ~ item.picture }}" class="img-responsive img-circle img-centered" {% if item.category_color is defined %}style="{% if item.category_color != '' %}border: 2px solid {{ item.category_color }};{% endif %} {% if item.category_color != '' %}background-color: {{ item.category_color }}{% endif %}"{% endif %}>
                            {% else %}
                                {% if  item.gender == 'male' %}
                                    <img src="{{ asset('img') }}/unknown-male.jpg" class="img-responsive img-circle img-centered" {% if item.category_color is defined %}style="{% if item.category_color != '' %}border: 2px solid {{ item.category_color }};{% endif %} {% if item.category_color != '' %}background-color: {{ item.category_color }}{% endif %}"{% endif %}>
                                {% else %}
                                    <img src="{{ asset('img') }}/unknown-female.jpg" class="img-responsive img-circle img-centered" {% if item.category_color is defined %}style="{% if item.category_color != '' %}border: 2px solid {{ item.category_color }};{% endif %} {% if item.category_color != '' %}background-color: {{ item.category_color }}{% endif %}"{% endif %}>
                                {% endif %}
                            {% endif %}
                            <div class="col-sm-12 text-center profile-text">
                                {% if item.details_from_12weekProgram|length > 0 and item.club_admin_id == app.session.get('club_admin_id') %}
                                    <a class="pointer btn-sm chat-to-client {{  item.club_client_id}} " data-id="{{  item.club_client_id}}" data-email="{{ item.email }}" data-fname="{{ item.fname }}" data-lname="{{ item.lname }}"><span class="glyphicon glyphicon-envelope"></span> Chat</a>

                                {% endif %}
                                {% if item.details_from_12weekProgram|length == 0 %}
                                    <a class="pointer invite-12-week" data-id="{{  item.club_client_id}}" data-email="{{ item.email }}" data-fname="{{ item.fname }}" data-lname="{{ item.lname }}">Program Invitation</a>
                                {% endif %}

                                <a class="pointer lifestyle-questionnaires-invitation" data-id="{{  item.club_client_id}}" data-email="{{ item.email }}" data-fname="{{ item.fname }}" data-lname="{{ item.lname }}"> Lifestyle Questionnaires Invitation</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 item-text">
                        {% if item.recent_test[0]['healthy_life_score'] is defined %}
                            <h3 class="summ-healthy-life-potential">{{ '%.1f' | format((item.recent_test[0]['healthy_life_score'] * 100))| replace({".0" : ""}) }}%</h3>
                        {% else %}
                            <h3 class="summ-healthy-life-potential">---</h3>
                        {% endif %} 
                        <p>Healthy Life Potential</p>
                        <hr>

                        {% if item.recent_test[0]['years_added'] is defined and item.recent_test[0]['years_added'] != '' and item.recent_test[0]['years_added'] > 0 %}
                            <h3 class="summ-years-added">+{{ '%.1f' | format(item.recent_test[0]['years_added'])| replace({".0" : ""}) }}</h3>
                        {% else %}
                            <h3 class="summ-years-added">---</h3>
                        {% endif %}
                        <p>Years Added</p>
                    </div>
                </div>
                    
                
                <div class="row ">
                    <div class="col-sm-12 text-center weekly-and-overall-progress {% if item.details_from_12weekProgram|length > 0 %}active-client{% endif %}">
                        {% if item.details_from_12weekProgram|length > 0 %}
                            
                            {% if item.details_from_12weekProgram['program_name']  is defined and item.details_from_12weekProgram['program_name'] != ''%}
                                <span class="program-type">Program: {{ item.details_from_12weekProgram['program_name'] }}</span>
                            {% else %}
                                {% set program_max_week = 12 %}
                                {% if item.details_from_12weekProgram['program_type'] is defined %}
                                    {% if item.details_from_12weekProgram['program_type'] == '4week' %}
                                        {% set program_max_week = 4 %}
                                    {% elseif item.details_from_12weekProgram['program_type'] == '8week' %}
                                        {% set program_max_week = 8 %}
                                    {% else %}
                                        {% set program_max_week = 12 %}
                                    {% endif %}
                                {% else %}
                                    {% set program_max_week = 12 %}
                                {% endif %}
                                <span class="program-type">Program: {{ program_max_week }} week</span>
                            {% endif %}
                            
                            <br>
                                                    
                            {% if (item.details_from_12weekProgram['prog_total_week_items_done'] is defined and item.details_from_12weekProgram['prog_total_week_items_done'] != '') and (item.details_from_12weekProgram['prog_total_week_items'] is defined and item.details_from_12weekProgram['prog_total_week_items'] != '')%}
                                {% set done_week_items_percentage = item.details_from_12weekProgram['prog_total_week_items_done'] / item.details_from_12weekProgram['prog_total_week_items'] * 100 %}
                            {% else %}
                                {% set done_week_items_percentage = 0 %}
                            {% endif %}
                            <span class="percentage week" data-percent="{{ done_week_items_percentage }}">
                                <span class="text t--20"><span class="done-week-items">{% if item.details_from_12weekProgram['prog_total_week_items_done'] is defined and item.details_from_12weekProgram['prog_total_week_items_done'] != '' %}{{ item.details_from_12weekProgram['prog_total_week_items_done'] }}{% else %}--{% endif %}</span><sup>/<span class="total-week-items">{% if item.details_from_12weekProgram['prog_total_week_items'] is defined and item.details_from_12weekProgram['prog_total_week_items'] != ''%}{{ item.details_from_12weekProgram['prog_total_week_items'] }}{% else %}--{% endif %}</span></sup></span>
                                {% set client_current_week = item.details_from_12weekProgram['current_week'] %}
                                {% if client_current_week <= program_max_week %}
                                    {% set client_current_week = client_current_week %}
                                {% else %}
                                    {% set client_current_week = program_max_week %}
                                {% endif %}
                                <span class="text">week {{ client_current_week }}</span>
                                <span class="text t-20">progress</span>
                            </span>      

                            <br>

                            {% if (item.details_from_12weekProgram['prog_overall_items_done'] is defined and item.details_from_12weekProgram['prog_overall_items_done'] != '') and (item.details_from_12weekProgram['prog_overall_items'] is defined and item.details_from_12weekProgram['prog_overall_items'] != '') %}
                                {% set done_overall_items_percentage = item.details_from_12weekProgram['prog_overall_items_done'] / item.details_from_12weekProgram['prog_overall_items'] * 100 %}
                            {% else %}
                                {% set done_overall_items_percentage = 0 %}
                            {% endif %}
                            <span class="percentage overall" data-percent="{{ done_overall_items_percentage }}">
                                <span class="text t--20"><span class="done-overall-items">{% if item.details_from_12weekProgram['prog_overall_items_done'] is defined and item.details_from_12weekProgram['prog_overall_items_done'] != '' %}{{ item.details_from_12weekProgram['prog_overall_items_done'] }}{% else %}--{% endif %}</span><sup>/<span class="overall-items">{% if item.details_from_12weekProgram['prog_overall_items'] is defined and item.details_from_12weekProgram['prog_overall_items'] != '' %}{{ item.details_from_12weekProgram['prog_overall_items'] }}{% else %}--{% endif %}</span></sup></span>
                                <span class="text">total</span>
                                <span class="text t-20">progress</span>
                            </span>  
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="trainer-dashboard-footer">
                <div class="col-xs-8">
                    <div class="row">
                        <p><span>Coach:&nbsp;</span>{{ item.coach_fname }} {{ item.coach_lname }}</p>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="row">
                        <p class="text-right"><span>Tests:&nbsp;</span><span class="client-number-of-tests">{% if item.all_test is defined %}{{ item.all_test }}{% else %}0{% endif %}</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}