{% extends "::club_layout.html.twig" %}

{% block title %}Clients{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('resources') }}/jquery-datatables/DataTables-1.10.9/media/css/jquery.dataTables.css">
    <link rel="stylesheet" href="{{ asset('css') }}/jquery-datatable-custom.css">
    <link rel="stylesheet" href="{{ asset('css') }}/club-clients-table-list.css">
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h2>Clients </h2>
        </div>
        <div class="col-sm-6 text-right">
            <br>
            <button type="button" class="btn btn-default btn-bulk-email" disabled><span class="glyphicon glyphicon-envelope"></span> Bulk Email</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            

            {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ flashMessage }}
            </div>
            {% endfor %}

            {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {% for item in flashMessage %}
                    {{ item.message }}<br/>
                {% endfor %}
            </div>
            {% endfor %}

            <!-- FILTERS -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        
                        
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Event</label>
                                <select name="event" class="form-control">
                                    <option value="">-- select an event --</option>f
                                    {% for item in events %}
                                        <option value="{{ item.event_id }}">{{ item.event_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Program</label>
                                <select name="program" class="form-control">
                                    <option value="">-- select a program --</option>
                                    <option value="12week">12 Week Program</option>
                                    <option value="8week">8 Week Program</option>
                                    <option value="4week">4 Week Program</option>
                                    {% for item in programs %}
                                        <option value="{{ item.program_id }}">{{ item.program_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        {% if app.session.get("user_role") != 'coach' %}
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Coach</label>
                                <select name="coach" class="form-control">
                                    <option value="">-- select a coach --</option>
                                    {% for item in coaches %}
                                        <option value="{{ item.club_admin_id }}">{{ item.fname ~ ' ' ~ item.lname }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    
                    
                </div>
            </div>

            
            <table id="example" class="table">
                <thead>
                    <tr>
                        <th><input type="checkbox" class="checkall"></th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th></th>
                        <th>Event</th>
                        <th>Program</th>
                        <th>Coach</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in clients %}
                        <tr>
                            <td>
                                {% if app.session.get("club_admin_id") != ''%}
                                    {% if item.club_admin_id == app.session.get("club_admin_id") or app.session.get("user_role") == 'site-admin' %}
                                        <input type="checkbox" name="clients[]" value="{{ item.club_client_id }}">
                                    {% endif %}
                                {% else %}
                                    {% if app.session.get("ho_admin_id") != ''%}
                                        <input type="checkbox" name="clients[]" value="{{ item.club_client_id }}">
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td>{{ item.fname }}</td>
                            <td>{{ item.lname }}</td>
                            <td>{{ item.email }}</td>
                            <td>{{ item.status|capitalize }}</td>
                            <td>
{#                                <a href="{{ path('acme_club_create_test') }}?id={{ item.club_client_id }}">Add a New Test</a> | #}
                                <a href="{{ path('acme_club_client_view') }}?id={{ item.club_client_id }}">View</a> | 
                                <a href="{{ path('acme_club_client_add_edit', {'slug': 'edit'}) }}?id={{ item.club_client_id }}">Edit</a>
{#                                <a class="delete-item pointer" data-id="{{ item.club_client_id }}">Delete</a>#}
                            </td>
                            <td>{% if item.recent_test['event_id'] is defined %}{{ item.recent_test['event_id'] }}{% endif %}</td>
                            <td>{% if item.program_id != '' %}{{ item.program_id }}{% else %}{{ item.program_type }}{% endif %}</td>
                            <td>{{ item.club_admin_id }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            {# + Delete area #}
            <div id="dialog-confirm" title="Delete this item?" style="display: none">
              <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>These item will be permanently deleted and cannot be recovered. Are you sure?</p>
            </div>

            <form id="delete" action="{{ path('acme_club_client_delete') }}" method="post">
                <input type="hidden" name="club_client_id">
            </form>
            {# - Delete area #}
            
        </div>
    </div>
</div>
            
<!-- Modal -->
<form action="{{ path('acme_club_client_bulk_email') }}" method="POST">
<div class="modal fade" id="bulkEmailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Bulk Email</h4>
      </div>
      <div class="modal-body">
                <input type="hidden" name="clients">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Note: Recipients are the selected clients.</label>
                        </div>

                        <div class="form-group">
                            <label>Subject</label>
                            <input type="text" name="subject" class="form-control" required>
                        </div>

                        <div class="form-group">
                            <label>Message</label>
                            <textarea class="wysiwyg-editor" name="message"></textarea>
                        </div>
                    </div>
                </div>
            
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary btn-send-bulk-email">Send</button>
      </div>
    </div>
  </div>
</div>
</form>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('resources') }}/tinymce/js/tinymce/tinymce.min.js"></script>
<script src="{{ asset('resources') }}/jquery-datatables/DataTables-1.10.9/media/js/jquery.dataTables.js"></script>
<script src="{{ asset('js') }}/club/club-clients-table-list.js"></script>
{% endblock %}

