{% extends "::club_layout.html.twig" %}

{% block title %}Clients{% endblock %}

{% block body %}
<h2>Clients </h2> <a href="{{ path('acme_club_client_add_edit', {'slug': 'new'}) }}"> + add client</a>

{% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('error') %}
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {% for item in flashMessage %}
        {{ item.message }}<br/>
    {% endfor %}
</div>
{% endfor %}

<table class="table">
    <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for item in clients %}
            <tr>
                <td>{{ item.fname }}</td>
                <td>{{ item.lname }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.status|capitalize }}</td>
                <td>
                    <a href="{{ path('acme_club_create_test') }}?id={{ item.club_client_id }}">Add a New Test</a> | 
                    <a href="{{ path('acme_club_client_view') }}?id={{ item.club_client_id }}">View</a> | 
                    <a href="{{ path('acme_club_client_add_edit', {'slug': 'edit'}) }}?id={{ item.club_client_id }}">Edit</a> | 
                    <a class="delete-item pointer" data-id="{{ item.club_client_id }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{# + Delete area #}
<div id="dialog-confirm" title="Delete this item?" style="display: none">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>These item will be permanently deleted and cannot be recovered. Are you sure?</p>
</div>

<form id="delete" action="{{ path('acme_club_client_delete') }}" method="post">
    <input type="hidden" name="club_client_id">
</form>
{# - Delete area #}
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js') }}/club/club-client.js"></script>
{% endblock %}

