{% if post.program_items|length > 0 %}
    {% for week, days in post.program_items %}
        <div class="col-sm-4 ">
            <div class="day-detail day week-day-item 1 day-1" data-day="1">
                <p><strong>Monday</strong></p>
                <hr>
                {% set done_items = 0 %}
                {% set total_items = 0 %}

                {% if days[1] is defined %}
                    {% for item in days[1] %}
                        {% if item.kind != 'quote' %}
                            {% set total_items = total_items + 1 %}
                            {% if item.s_done is defined and item.s_done == 1 %}
                                {% set done_items = done_items + 1 %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}

                <h5><span class="done-items">{{ done_items }}</span>/<span class="total-items">{{ total_items }}</span> complete</h5>

                {% set quote_item_id = '' %}
                {% set quote_body = '' %}
                {% set quote_author = '' %}
                {% if days[1] is defined %}
                    {% for item in days[1] %}
                        {% if item.kind == 'quote' %}
                            {% set quote_item_id = item.item_id %}
                            {% set quote_body = item.body|striptags  %}
                            {% set quote_author = item.quote_author %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if quote_author == '' %}
                    {% set quote_author = 'Anonymous' %}
                {% endif %}
                <div class="quote {% if quote_item_id == '' %}inactive{% endif %}" {% if quote_item_id != '' %}data-item="{{ quote_item_id }}"{% endif %}>
                    <div class="quote-sign">“</div>
                    <div class="quote-text">
                        <p class="quote-phrase">{{ quote_body }}</p>
                        <p class="share">{{ quote_author }} {% if quote_item_id != '' %}<a target="_window" onclick="return !window.open(this.href, 'Facebook', 'width=640,height=300')" href="https://www.facebook.com/dialog/feed?app_id=1469093223400005&display=popup&description=12 weeks that can completely change your life! And it's Free.&link=http://healthylifeproject.com.au/12weekProgram&redirect_uri=http://healthylifeproject.com.au/program/close.html&picture=http://healthylifeproject.com.au/program/web/dashboard/share-quote-image?quote={{ quote_item_id }}&name=Healthy Life 12 Week Program"><span class="circle-arrow bg-green" style="margin:0 10px;"><i class="fa fa-facebook"></i></span>Share</a>{% endif %}</p>
                    </div>
                </div>
                <div class="event-holder web">
                    <ul id="day-monday" class="sortable-list connectList item-parent">
                        {% if days[1] is defined %}
                            {% for item in days[1] %}
                                {% if item.kind != 'quote' %}
                                    {% if item.kind == 'exercise' %}
                                        <li class="{{ item.bgcolor }} day-item task cat-{{ item.category }} {{ item.type }} {% if item.s_done == 1 %}completed{% endif %} {{ item.prog_item_id }} ui-sortable-handle" data-type="{{ item.type }}" data-item="{{ item.prog_item_id }}">
                                            <div class="checkbox-container">
                                                {% if week <= current_week %}
                                                <input type="checkbox" {% if item.s_done == 1 %}checked{% endif %} disabled>
                                                {% endif %}
                                            </div>

                                            <div class="text-container home-based {% if workout_base == 'home' %}active{% else %}inactive{% endif %}">
                                                <h4 class="text-left head {% if item.s_done == 1 %}completed{% endif %}">{% if item.item_name != '' %}{{ item.item_name }}{% else %}{{ item.type|capitalize }}{% endif %}</h4>
                                                {% if item.preview is defined and item.preview != '' %}
                                                    {{ item.preview|raw }}
                                                {% else %}
                                                    {% if item.workout_home_beginner_description != '' and item.workout_home_intermediate_description != '' and item.workout_home_advanced_description != ''%}
                                                        <div class="beginner {% if workout_level != 'beginner' %}hidden{% endif %}"><p>{{ item.workout_home_beginner_description|raw }}</p></div>
                                                        <div class="intermediate {% if workout_level != 'intermediate' %}hidden{% endif %}"><p>{{ item.workout_home_intermediate_description|raw }}</p></div>
                                                        <div class="advanced {% if workout_level != 'advanced' %}hidden{% endif %}"><p>{{ item.workout_home_advanced_description|raw }}</p></div>
                                                    {% else %}
                                                        <p>{{ item.body_home_based|raw }}</p>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                            <div class="text-container gym-based {% if workout_base == 'gym' %}active{% else %}inactive{% endif %}">
                                                <h4 class="text-left head {% if item.s_done == 1 %}completed{% endif %}">{% if item.item_name != '' %}{{ item.item_name }}{% else %}{{ item.type|capitalize }}{% endif %}</h4>
                                                {% if item.preview is defined and item.preview != '' %}
                                                    {{ item.preview|raw }}
                                                {% else %}
                                                    {% if item.workout_gym_beginner_description != '' and item.workout_gym_intermediate_description != '' and item.workout_gym_advanced_description != ''%}
                                                        <div class="beginner {% if workout_level != 'beginner' %}hidden{% endif %}"><p>{{ item.workout_gym_beginner_description|raw }}</p></div>
                                                        <div class="intermediate {% if workout_level != 'intermediate' %}hidden{% endif %}"><p>{{ item.workout_gym_intermediate_description|raw }}</p></div>
                                                        <div class="advanced {% if workout_level != 'advanced' %}hidden{% endif %}"><p>{{ item.workout_gym_advanced_description|raw }}</p></div>
                                                    {% else %}
                                                        <p>{{ item.body|raw }}</p>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                            <div class="text-container myown-based {% if workout_base == 'myown' %}active{% else %}inactive{% endif %}">
                                                <h4 class="text-left head {% if item.s_done == 1 %}completed{% endif %}">Daily Exercise</h4>
                                            </div>
                                            <div class="nav-icon {% if workout_base == 'myown' %}inactive{% else %}active{% endif %}">
                                                <a href="{{ site_url }}/view-program-item?item={{ item.item_id }}" target="_blank"><img src="{{ asset('img') }}/icon-angle-right-med.png"></a>
                                            </div>
                                        </li>
                                    {% elseif item.kind == 'sleep' or item.kind == 'water consumption' %}
                                        <li class="{{ item.bgcolor }} day-item task cat-{{ item.category }} {{ item.type }} {% if item.s_done == 1 %}completed{% endif %} {{ item.prog_item_id }} ui-sortable-handle" data-type="{{ item.type }}" data-item="{{ item.prog_item_id }}">
                                            <div class="checkbox-container">
                                                {% if week <= current_week %}
                                                <input type="checkbox" {% if item.s_done == 1 %}checked{% endif %} disabled>
                                                {% endif %}
                                            </div>

                                            <div class="text-container">
                                                <h4 class="text-left head {% if item.s_done == 1 %}completed{% endif %}">{{ item.type|capitalize }}</h4>
                                                {% if item.preview is defined and item.preview != '' %}
                                                    {{ item.preview|raw }}
                                                {% else %}
                                                    <p>{{ item.body|raw }}</p>
                                                {% endif %}
                                            </div>
                                        </li>
                                    {% else %}
                                        <li class="{{ item.bgcolor }} day-item task cat-{{ item.category }} {{ item.type }} {% if item.s_done == 1 %}completed{% endif %} {{ item.prog_item_id }} ui-sortable-handle" data-type="{{ item.type }}" data-item="{{ item.prog_item_id }}">
                                            <div class="checkbox-container">
                                                {% if week <= current_week %}
                                                <input type="checkbox" {% if item.s_done == 1 %}checked{% endif %} disabled>
                                                {% endif %}
                                            </div>

                                            <div class="text-container">
                                                <h4 class="text-left head {% if item.s_done == 1 %}completed{% endif %}">{{ item.type|capitalize }}</h4>
                                                {% if item.preview is defined and item.preview != '' %}
                                                    {{ item.preview|raw }}
                                                {% else %}
                                                    <p>{{ item.body|raw }}</p>
                                                {% endif %}
                                            </div>

                                            <div class="nav-icon">
                                                <a href="{{ site_url }}/view-program-item?item={{ item.item_id }}" target="_blank"><img src="{{ asset('img') }}/icon-angle-right-med.png"></a>
                                            </div>
                                        </li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
                <!-- Day comments-->
                {% if comments[1] is defined %}
                    {% set day_comment = comments[1] %}
                {% else %}
                    {% set day_comment = [] %}
                {% endif %}
                <div class="comment-holder">
                    <label>Notes:</label>
                    <div class="comment">{% if day_comment['comment'] is defined and day_comment['comment'] != '' %}{{ day_comment['comment']|raw }}{% endif %}</div>
                </div>
            </div>
        </div>

        <div class="col-sm-4 ">
            <div class="day-detail day week-day-item 2 day-2" data-day="2">
                <p><strong>Tuesday</strong></p>
                <hr>
                {% set done_items = 0 %}
                {% set total_items = 0 %}

                {% if days[2] is defined %}
                    {% for item in days[2] %}
                        {% if item.kind != 'quote' %}
                            {% set total_items = total_items + 1 %}
                            {% if item.s_done is defined and item.s_done == 1 %}
                                {% set done_items = done_items + 1 %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}

                <h5><span class="done-items">{{ done_items }}</span>/<span class="total-items">{{ total_items }}</span> complete</h5>

                {% set quote_item_id = '' %}
                {% set quote_body = '' %}
                {% set quote_author = '' %}
                {% if days[2] is defined %}
                    {% for item in days[2] %}
                        {% if item.kind == 'quote' %}
                            {% set quote_item_id = item.item_id %}
                            {% set quote_body = item.body|striptags  %}
                            {% set quote_author = item.quote_author %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if quote_author == '' %}
                    {% set quote_author = 'Anonymous' %}
                {% endif %}
                <div class="quote {% if quote_item_id == '' %}inactive{% endif %}" {% if quote_item_id != '' %}data-item="{{ quote_item_id }}"{% endif %}>
                    <div class="quote-sign">“</div>
                    <div class="quote-text">
                        <p class="quote-phrase">{{ quote_body }}</p>
                        <p class="share">{{ quote_author }} {% if quote_item_id != '' %}<a target="_window" onclick="return !window.open(this.href, 'Facebook', 'width=640,height=300')" href="https://www.facebook.com/dialog/feed?app_id=1469093223400005&display=popup&description=12 weeks that can completely change your life! And it's Free.&link=http://healthylifeproject.com.au/12weekProgram&redirect_uri=http://healthylifeproject.com.au/program/close.html&picture=http://healthylifeproject.com.au/program/web/dashboard/share-quote-image?quote={{ quote_item_id }}&name=Healthy Life 12 Week Program"><span class="circle-arrow bg-green" style="margin:0 10px;"><i class="fa fa-facebook"></i></span>Share</a>{% endif %}</p>
                    </div>
                </div>
                <div class="event-holder web">
                    <ul id="day-monday" class="sortable-list connectList item-parent">
                        {% if days[2] is defined %}
                            {% for item in days[2] %}
                                {% if item.kind != 'quote' %}
                                    {% if item.kind == 'exercise' %}
                                        <li class="{{ item.bgcolor }} day-item task cat-{{ item.category }} {{ item.type }} {% if item.s_done == 1 %}completed{% endif %} {{ item.prog_item_id }} ui-sortable-handle" data-type="{{ item.type }}" data-item="{{ item.prog_item_id }}">
                                            <div class="checkbox-container">
                                                {% if week <= current_week %}
                                                <input type="checkbox" {% if item.s_done == 1 %}checked{% endif %} disabled>
                                                {% endif %}
                                            </div>

                                            <div class="text-container home-based {% if workout_base == 'home' %}active{% else %}inactive{% endif %}">
                                                <h4 class="text-left head {% if item.s_done == 1 %}completed{% endif %}">{% if item.item_name != '' %}{{ item.item_name }}{% else %}{{ item.type|capitalize }}{% endif %}</h4>
                                                {% if item.preview is defined and item.preview != '' %}
                                                    {{ item.preview|raw }}
                                                {% else %}
                                                    {% if item.workout_home_beginner_description != '' and item.workout_home_intermediate_description != '' and item.workout_home_advanced_description != ''%}
                                                        <div class="beginner {% if workout_level != 'beginner' %}hidden{% endif %}"><p>{{ item.workout_home_beginner_description|raw }}</p></div>
                                                        <div class="intermediate {% if workout_level != 'intermediate' %}hidden{% endif %}"><p>{{ item.workout_home_intermediate_description|raw }}</p></div>
                                                        <div class="advanced {% if workout_level != 'advanced' %}hidden{% endif %}"><p>{{ item.workout_home_advanced_description|raw }}</p></div>
                                                    {% else %}
                                                        <p>{{ item.body_home_based|raw }}</p>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                            <div class="text-container gym-based {% if workout_base == 'gym' %}active{% else %}inactive{% endif %}">
                                                <h4 class="text-left head {% if item.s_done == 1 %}completed{% endif %}">{% if item.item_name != '' %}{{ item.item_name }}{% else %}{{ item.type|capitalize }}{% endif %}</h4>
                                                {% if item.preview is defined and item.preview != '' %}
                                                    {{ item.preview|raw }}
                                                {% else %}
                                                    {% if item.workout_gym_beginner_description != '' and item.workout_gym_intermediate_description != '' and item.workout_gym_advanced_description != ''%}
                                                        <div class="beginner {% if workout_level != 'beginner' %}hidden{% endif %}"><p>{{ item.workout_gym_beginner_description|raw }}</p></div>
                                                        <div class="intermediate {% if workout_level != 'intermediate' %}hidden{% endif %}"><p>{{ item.workout_gym_intermediate_description|raw }}</p></div>
                                                        <div class="advanced {% if workout_level != 'advanced' %}hidden{% endif %}"><p>{{ item.workout_gym_advanced_description|raw }}</p></div>
                                                    {% else %}
                                                        <p>{{ item.body|raw }}</p>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                            <div class="text-container myown-based {% if workout_base == 'myown' %}active{% else %}inactive{% endif %}">
                                                <h4 class="text-left head {% if item.s_done == 1 %}completed{% endif %}">Daily Exercise</h4>
                                            </div>
                                            <div class="nav-icon {% if workout_base == 'myown' %}inactive{% else %}active{% endif %}">
                                                <a href="{{ site_url }}/view-program-item?item={{ item.item_id }}" target="_blank"><img src="{{ asset('img') }}/icon-angle-right-med.png"></a>
                                            </div>
                                        </li>
                                    {% elseif item.kind == 'sleep' or item.kind == 'water consumption' %}
                                        <li class="{{ item.bgcolor }} day-item task cat-{{ item.category }} {{ item.type }} {% if item.s_done == 1 %}completed{% endif %} {{ item.prog_item_id }} ui-sortable-handle" data-type="{{ item.type }}" data-item="{{ item.prog_item_id }}">
                                            <div class="checkbox-container">
                                                {% if week <= current_week %}
                                                <input type="checkbox" {% if item.s_done == 1 %}checked{% endif %} disabled>
                                                {% endif %}
                                            </div>

                                            <div class="text-container">
                                                <h4 class="text-left head {% if item.s_done == 1 %}completed{% endif %}">{{ item.type|capitalize }}</h4>
                                                {% if item.preview is defined and item.preview != '' %}
                                                    {{ item.preview|raw }}
                                                {% else %}
                                                    <p>{{ item.body|raw }}</p>
                                                {% endif %}
                                            </div>
                                        </li>
                                    {% else %}
                                        <li class="{{ item.bgcolor }} day-item task cat-{{ item.category }} {{ item.type }} {% if item.s_done == 1 %}completed{% endif %} {{ item.prog_item_id }} ui-sortable-handle" data-type="{{ item.type }}" data-item="{{ item.prog_item_id }}">
                                            <div class="checkbox-container">
                                                {% if week <= current_week %}
                                                <input type="checkbox" {% if item.s_done == 1 %}checked{% endif %} disabled>
                                                {% endif %}
                                            </div>

                                            <div class="text-container">
                                                <h4 class="text-left head {% if item.s_done == 1 %}completed{% endif %}">{{ item.type|capitalize }}</h4>
                                                {% if item.preview is defined and item.preview != '' %}
                                                    {{ item.preview|raw }}
                                                {% else %}
                                                    <p>{{ item.body|raw }}</p>
                                                {% endif %}
                                            </div>

                                            <div class="nav-icon">
                                                <a href="{{ site_url }}/view-program-item?item={{ item.item_id }}" target="_blank"><img src="{{ asset('img') }}/icon-angle-right-med.png"></a>
                                            </div>
                                        </li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
                <!-- Day comments-->
                {% if comments[2] is defined %}
                    {% set day_comment = comments[2] %}
                {% else %}
                    {% set day_comment = [] %}
                {% endif %}
                <div class="comment-holder">
                    <label>Notes:</label>
                    <div class="comment">{% if day_comment['comment'] is defined and day_comment['comment'] != '' %}{{ day_comment['comment']|raw }}{% endif %}</div>
                </div>
            </div>

        </div>

        <div class="col-sm-4 ">
            <div class="day-detail day week-day-item 3 day-3" data-day="3">
                <p><strong>Wednesday</strong></p>
                <hr>
                {% set done_items = 0 %}
                {% set total_items = 0 %}

                {% if days[3] is defined %}
                    {% for item in days[3] %}
                        {% if item.kind != 'quote' %}
                            {% set total_items = total_items + 1 %}
                            {% if item.s_done is defined and item.s_done == 1 %}
                                {% set done_items = done_items + 1 %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}

                <h5><span class="done-items">{{ done_items }}</span>/<span class="total-items">{{ total_items }}</span> complete</h5>

                {% set quote_item_id = '' %}
                {% set quote_body = '' %}
                {% set quote_author = '' %}
                {% if days[3] is defined %}
                    {% for item in days[3] %}
                        {% if item.type == 'quote' %}
                            {% set quote_item_id = item.item_id %}
                            {% set quote_body = item.body|striptags  %}
                            {% set quote_author = item.quote_author %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if quote_author == '' %}
                    {% set quote_author = 'Anonymous' %}
                {% endif %}
                <div class="quote {% if quote_item_id == '' %}inactive{% endif %}" {% if quote_item_id != '' %}data-item="{{ quote_item_id }}"{% endif %}>
                    <div class="quote-sign">“</div>
                    <div class="quote-text">
                        <p class="quote-phrase">{{ quote_body }}</p>
                        <p class="share">{{ quote_author }} {% if quote_item_id != '' %}<a target="_window" onclick="return !window.open(this.href, 'Facebook', 'width=640,height=300')" href="https://www.facebook.com/dialog/feed?app_id=1469093223400005&display=popup&description=12 weeks that can completely change your life! And it's Free.&link=http://healthylifeproject.com.au/12weekProgram&redirect_uri=http://healthylifeproject.com.au/program/close.html&picture=http://healthylifeproject.com.au/program/web/dashboard/share-quote-image?quote={{ quote_item_id }}&name=Healthy Life 12 Week Program"><span class="circle-arrow bg-green" style="margin:0 10px;"><i class="fa fa-facebook"></i></span>Share</a>{% endif %}</p>
                    </div>
                </div>
                <div class="event-holder web">
                    <ul id="day-monday" class="sortable-list connectList item-parent">
                        {% if days[3] is defined %}
                            {% for item in days[3] %}
                                {% if item.kind != 'quote' %}
                                    {% if item.kind == 'exercise' %}
                                        <li class="{{ item.bgcolor }} day-item task cat-{{ item.category }} {{ item.type }} {% if item.s_done == 1 %}completed{% endif %} {{ item.prog_item_id }} ui-sortable-handle" data-type="{{ item.type }}" data-item="{{ item.prog_item_id }}">
                                            <div class="checkbox-container">
                                                {% if week <= current_week %}
                                                <input type="checkbox" {% if item.s_done == 1 %}checked{% endif %} disabled>
                                                {% endif %}
                                            </div>

                                            <div class="text-container home-based {% if workout_base == 'home' %}active{% else %}inactive{% endif %}">
                                                <h4 class="text-left head {% if item.s_done == 1 %}completed{% endif %}">{% if item.item_name != '' %}{{ item.item_name }}{% else %}{{ item.type|capitalize }}{% endif %}</h4>
                                                {% if item.preview is defined and item.preview != '' %}
                                                    {{ item.preview|raw }}
                                                {% else %}
                                                    {% if item.workout_home_beginner_description != '' and item.workout_home_intermediate_description != '' and item.workout_home_advanced_description != ''%}
                                                        <div class="beginner {% if workout_level != 'beginner' %}hidden{% endif %}"><p>{{ item.workout_home_beginner_description|raw }}</p></div>
                                                        <div class="intermediate {% if workout_level != 'intermediate' %}hidden{% endif %}"><p>{{ item.workout_home_intermediate_description|raw }}</p></div>
                                                        <div class="advanced {% if workout_level != 'advanced' %}hidden{% endif %}"><p>{{ item.workout_home_advanced_description|raw }}</p></div>
                                                    {% else %}
                                                        <p>{{ item.body_home_based|raw }}</p>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                            <div class="text-container gym-based {% if workout_base == 'gym' %}active{% else %}inactive{% endif %}">
                                                <h4 class="text-left head {% if item.s_done == 1 %}completed{% endif %}">{% if item.item_name != '' %}{{ item.item_name }}{% else %}{{ item.type|capitalize }}{% endif %}</h4>
                                                {% if item.preview is defined and item.preview != '' %}
                                                    {{ item.preview|raw }}
                                                {% else %}
                                                    {% if item.workout_gym_beginner_description != '' and item.workout_gym_intermediate_description != '' and item.workout_gym_advanced_description != ''%}
                                                        <div class="beginner {% if workout_level != 'beginner' %}hidden{% endif %}"><p>{{ item.workout_gym_beginner_description|raw }}</p></div>
                                                        <div class="intermediate {% if workout_level != 'intermediate' %}hidden{% endif %}"><p>{{ item.workout_gym_intermediate_description|raw }}</p></div>
                                                        <div class="advanced {% if workout_level != 'advanced' %}hidden{% endif %}"><p>{{ item.workout_gym_advanced_description|raw }}</p></div>
                                                    {% else %}
                                                        <p>{{ item.body|raw }}</p>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                            <div class="text-container myown-based {% if workout_base == 'myown' %}active{% else %}inactive{% endif %}">
                                                <h4 class="text-left head {% if item.s_done == 1 %}completed{% endif %}">Daily Exercise</h4>
                                            </div>
                                            <div class="nav-icon {% if workout_base == 'myown' %}inactive{% else %}active{% endif %}">
                                                <a href="{{ site_url }}/view-program-item?item={{ item.item_id }}" target="_blank"><img src="{{ asset('img') }}/icon-angle-right-med.png"></a>
                                            </div>
                                        </li>
                                    {% elseif item.kind == 'sleep' or item.kind == 'water consumption' %}
                                        <li class="{{ item.bgcolor }} day-item task cat-{{ item.category }} {{ item.type }} {% if item.s_done == 1 %}completed{% endif %} {{ item.prog_item_id }} ui-sortable-handle" data-type="{{ item.type }}" data-item="{{ item.prog_item_id }}">
                                            <div class="checkbox-container">
                                                {% if week <= current_week %}
                                                <input type="checkbox" {% if item.s_done == 1 %}checked{% endif %} disabled>
                                                {% endif %}
                                            </div>

                                            <div class="text-container">
                                                <h4 class="text-left head {% if item.s_done == 1 %}completed{% endif %}">{{ item.type|capitalize }}</h4>
                                                {% if item.preview is defined and item.preview != '' %}
                                                    {{ item.preview|raw }}
                                                {% else %}
                                                    <p>{{ item.body|raw }}</p>
                                                {% endif %}
                                            </div>
                                        </li>
                                    {% else %}
                                        <li class="{{ item.bgcolor }} day-item task cat-{{ item.category }} {{ item.type }} {% if item.s_done == 1 %}completed{% endif %} {{ item.prog_item_id }} ui-sortable-handle" data-type="{{ item.type }}" data-item="{{ item.prog_item_id }}">
                                            <div class="checkbox-container">
                                                {% if week <= current_week %}
                                                <input type="checkbox" {% if item.s_done == 1 %}checked{% endif %} disabled>
                                                {% endif %}
                                            </div>

                                            <div class="text-container">
                                                <h4 class="text-left head {% if item.s_done == 1 %}completed{% endif %}">{{ item.type|capitalize }}</h4>
                                                {% if item.preview is defined and item.preview != '' %}
                                                    {{ item.preview|raw }}
                                                {% else %}
                                                    <p>{{ item.body|raw }}</p>
                                                {% endif %}
                                            </div>

                                            <div class="nav-icon">
                                                <a href="{{ site_url }}/view-program-item?item={{ item.item_id }}" target="_blank"><img src="{{ asset('img') }}/icon-angle-right-med.png"></a>
                                            </div>
                                        </li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
                <!-- Day comments-->
                {% if comments[3] is defined %}
                    {% set day_comment = comments[3] %}
                {% else %}
                    {% set day_comment = [] %}
                {% endif %}
                <div class="comment-holder">
                    <label>Notes:</label>
                    <div class="comment">{% if day_comment['comment'] is defined and day_comment['comment'] != '' %}{{ day_comment['comment']|raw }}{% endif %}</div>
                </div>
            </div>

        </div>


        <div class="col-sm-4 ">
            <div class="day-detail day week-day-item 4 day-4" data-day="4">
                <p><strong>Thursday</strong></p>
                <hr>
                {% set done_items = 0 %}
                {% set total_items = 0 %}

                {% if days[4] is defined %}
                    {% for item in days[4] %}
                        {% if item.kind != 'quote' %}
                            {% set total_items = total_items + 1 %}
                            {% if item.s_done is defined and item.s_done == 1 %}
                                {% set done_items = done_items + 1 %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}

                <h5><span class="done-items">{{ done_items }}</span>/<span class="total-items">{{ total_items }}</span> complete</h5>

                {% set quote_item_id = '' %}
                {% set quote_body = '' %}
                {% set quote_author = '' %}
                {% if days[4] is defined %}
                    {% for item in days[4] %}
                        {% if item.type == 'quote' %}
                            {% set quote_item_id = item.item_id %}
                            {% set quote_body = item.body|striptags  %}
                            {% set quote_author = item.quote_author %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if quote_author == '' %}
                    {% set quote_author = 'Anonymous' %}
                {% endif %}
                <div class="quote {% if quote_item_id == '' %}inactive{% endif %}" {% if quote_item_id != '' %}data-item="{{ quote_item_id }}"{% endif %}>
                    <div class="quote-sign">“</div>
                    <div class="quote-text">
                        <p class="quote-phrase">{{ quote_body }}</p>
                        <p class="share">{{ quote_author }} {% if quote_item_id != '' %}<a target="_window" onclick="return !window.open(this.href, 'Facebook', 'width=640,height=300')" href="https://www.facebook.com/dialog/feed?app_id=1469093223400005&display=popup&description=12 weeks that can completely change your life! And it's Free.&link=http://healthylifeproject.com.au/12weekProgram&redirect_uri=http://healthylifeproject.com.au/program/close.html&picture=http://healthylifeproject.com.au/program/web/dashboard/share-quote-image?quote={{ quote_item_id }}&name=Healthy Life 12 Week Program"><span class="circle-arrow bg-green" style="margin:0 10px;"><i class="fa fa-facebook"></i></span>Share</a>{% endif %}</p>
                    </div>
                </div>
                <div class="event-holder web">
                    <ul id="day-monday" class="sortable-list connectList item-parent">
                        {% if days[4] is defined %}
                            {% for item in days[4] %}
                                {% if item.kind != 'quote' %}
                                    {% if item.kind == 'exercise' %}
                                        <li class="{{ item.bgcolor }} day-item task cat-{{ item.category }} {{ item.type }} {% if item.s_done == 1 %}completed{% endif %} {{ item.prog_item_id }} ui-sortable-handle" data-type="{{ item.type }}" data-item="{{ item.prog_item_id }}">
                                            <div class="checkbox-container">
                                                {% if week <= current_week %}
                                                <input type="checkbox" {% if item.s_done == 1 %}checked{% endif %} disabled>
                                                {% endif %}
                                            </div>

                                            <div class="text-container home-based {% if workout_base == 'home' %}active{% else %}inactive{% endif %}">
                                                <h4 class="text-left head {% if item.s_done == 1 %}completed{% endif %}">{% if item.item_name != '' %}{{ item.item_name }}{% else %}{{ item.type|capitalize }}{% endif %}</h4>
                                                {% if item.preview is defined and item.preview != '' %}
                                                    {{ item.preview|raw }}
                                                {% else %}
                                                    {% if item.workout_home_beginner_description != '' and item.workout_home_intermediate_description != '' and item.workout_home_advanced_description != ''%}
                                                        <div class="beginner {% if workout_level != 'beginner' %}hidden{% endif %}"><p>{{ item.workout_home_beginner_description|raw }}</p></div>
                                                        <div class="intermediate {% if workout_level != 'intermediate' %}hidden{% endif %}"><p>{{ item.workout_home_intermediate_description|raw }}</p></div>
                                                        <div class="advanced {% if workout_level != 'advanced' %}hidden{% endif %}"><p>{{ item.workout_home_advanced_description|raw }}</p></div>
                                                    {% else %}
                                                        <p>{{ item.body_home_based|raw }}</p>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                            <div class="text-container gym-based {% if workout_base == 'gym' %}active{% else %}inactive{% endif %}">
                                                <h4 class="text-left head {% if item.s_done == 1 %}completed{% endif %}">{% if item.item_name != '' %}{{ item.item_name }}{% else %}{{ item.type|capitalize }}{% endif %}</h4>
                                                {% if item.preview is defined and item.preview != '' %}
                                                    {{ item.preview|raw }}
                                                {% else %}
                                                    {% if item.workout_gym_beginner_description != '' and item.workout_gym_intermediate_description != '' and item.workout_gym_advanced_description != ''%}
                                                        <div class="beginner {% if workout_level != 'beginner' %}hidden{% endif %}"><p>{{ item.workout_gym_beginner_description|raw }}</p></div>
                                                        <div class="intermediate {% if workout_level != 'intermediate' %}hidden{% endif %}"><p>{{ item.workout_gym_intermediate_description|raw }}</p></div>
                                                        <div class="advanced {% if workout_level != 'advanced' %}hidden{% endif %}"><p>{{ item.workout_gym_advanced_description|raw }}</p></div>
                                                    {% else %}
                                                        <p>{{ item.body|raw }}</p>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                            <div class="text-container myown-based {% if workout_base == 'myown' %}active{% else %}inactive{% endif %}">
                                                <h4 class="text-left head {% if item.s_done == 1 %}completed{% endif %}">Daily Exercise</h4>
                                            </div>
                                            <div class="nav-icon {% if workout_base == 'myown' %}inactive{% else %}active{% endif %}">
                                                <a href="{{ site_url }}/view-program-item?item={{ item.item_id }}" target="_blank"><img src="{{ asset('img') }}/icon-angle-right-med.png"></a>
                                            </div>
                                        </li>
                                    {% elseif item.kind == 'sleep' or item.kind == 'water consumption' %}
                                        <li class="{{ item.bgcolor }} day-item task cat-{{ item.category }} {{ item.type }} {% if item.s_done == 1 %}completed{% endif %} {{ item.prog_item_id }} ui-sortable-handle" data-type="{{ item.type }}" data-item="{{ item.prog_item_id }}">
                                            <div class="checkbox-container">
                                                {% if week <= current_week %}
                                                <input type="checkbox" {% if item.s_done == 1 %}checked{% endif %} disabled>
                                                {% endif %}
                                            </div>

                                            <div class="text-container">
                                                <h4 class="text-left head {% if item.s_done == 1 %}completed{% endif %}">{{ item.type|capitalize }}</h4>
                                                {% if item.preview is defined and item.preview != '' %}
                                                    {{ item.preview|raw }}
                                                {% else %}
                                                    <p>{{ item.body|raw }}</p>
                                                {% endif %}
                                            </div>
                                        </li>
                                    {% else %}
                                        <li class="{{ item.bgcolor }} day-item task cat-{{ item.category }} {{ item.type }} {% if item.s_done == 1 %}completed{% endif %} {{ item.prog_item_id }} ui-sortable-handle" data-type="{{ item.type }}" data-item="{{ item.prog_item_id }}">
                                            <div class="checkbox-container">
                                                {% if week <= current_week %}
                                                <input type="checkbox" {% if item.s_done == 1 %}checked{% endif %} disabled>
                                                {% endif %}
                                            </div>

                                            <div class="text-container">
                                                <h4 class="text-left head {% if item.s_done == 1 %}completed{% endif %}">{{ item.type|capitalize }}</h4>
                                                {% if item.preview is defined and item.preview != '' %}
                                                    {{ item.preview|raw }}
                                                {% else %}
                                                    <p>{{ item.body|raw }}</p>
                                                {% endif %}
                                            </div>

                                            <div class="nav-icon">
                                                <a href="{{ site_url }}/view-program-item?item={{ item.item_id }}" target="_blank"><img src="{{ asset('img') }}/icon-angle-right-med.png"></a>
                                            </div>
                                        </li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
                <!-- Day comments-->
                {% if comments[4] is defined %}
                    {% set day_comment = comments[4] %}
                {% else %}
                    {% set day_comment = [] %}
                {% endif %}
                <div class="comment-holder">
                    <label>Notes:</label>
                    <div class="comment">{% if day_comment['comment'] is defined and day_comment['comment'] != '' %}{{ day_comment['comment']|raw }}{% endif %}</div>
                </div>
            </div>
        </div>

        <div class="col-sm-4 ">
            <div class="day-detail day week-day-item 5 day-5" data-day="5">
                <p><strong>Friday</strong></p>
                <hr>
                {% set done_items = 0 %}
                {% set total_items = 0 %}

                {% if days[5] is defined %}
                    {% for item in days[5] %}
                        {% if item.kind != 'quote' %}
                            {% set total_items = total_items + 1 %}
                            {% if item.s_done is defined and item.s_done == 1 %}
                                {% set done_items = done_items + 1 %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}

                <h5><span class="done-items">{{ done_items }}</span>/<span class="total-items">{{ total_items }}</span> complete</h5>

                {% set quote_item_id = '' %}
                {% set quote_body = '' %}
                {% set quote_author = '' %}
                {% if days[5] is defined %}
                    {% for item in days[5] %}
                        {% if item.type == 'quote' %}
                            {% set quote_item_id = item.item_id %}
                            {% set quote_body = item.body|striptags  %}
                            {% set quote_author = item.quote_author %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if quote_author == '' %}
                    {% set quote_author = 'Anonymous' %}
                {% endif %}
                <div class="quote {% if quote_item_id == '' %}inactive{% endif %}" {% if quote_item_id != '' %}data-item="{{ quote_item_id }}"{% endif %}>
                    <div class="quote-sign">“</div>
                    <div class="quote-text">
                        <p class="quote-phrase">{{ quote_body }}</p>
                        <p class="share">{{ quote_author }} {% if quote_item_id != '' %}<a target="_window" onclick="return !window.open(this.href, 'Facebook', 'width=640,height=300')" href="https://www.facebook.com/dialog/feed?app_id=1469093223400005&display=popup&description=12 weeks that can completely change your life! And it's Free.&link=http://healthylifeproject.com.au/12weekProgram&redirect_uri=http://healthylifeproject.com.au/program/close.html&picture=http://healthylifeproject.com.au/program/web/dashboard/share-quote-image?quote={{ quote_item_id }}&name=Healthy Life 12 Week Program"><span class="circle-arrow bg-green" style="margin:0 10px;"><i class="fa fa-facebook"></i></span>Share</a>{% endif %}</p>
                    </div>
                </div>
                <div class="event-holder web">
                    <ul id="day-monday" class="sortable-list connectList item-parent">
                        {% if days[5] is defined %}
                            {% for item in days[5] %}
                                {% if item.kind != 'quote' %}
                                    {% if item.kind == 'exercise' %}
                                        <li class="{{ item.bgcolor }} day-item task cat-{{ item.category }} {{ item.type }} {% if item.s_done == 1 %}completed{% endif %} {{ item.prog_item_id }} ui-sortable-handle" data-type="{{ item.type }}" data-item="{{ item.prog_item_id }}">
                                            <div class="checkbox-container">
                                                {% if week <= current_week %}
                                                <input type="checkbox" {% if item.s_done == 1 %}checked{% endif %} disabled>
                                                {% endif %}
                                            </div>

                                            <div class="text-container home-based {% if workout_base == 'home' %}active{% else %}inactive{% endif %}">
                                                <h4 class="text-left head {% if item.s_done == 1 %}completed{% endif %}">{% if item.item_name != '' %}{{ item.item_name }}{% else %}{{ item.type|capitalize }}{% endif %}</h4>
                                                {% if item.preview is defined and item.preview != '' %}
                                                    {{ item.preview|raw }}
                                                {% else %}
                                                    {% if item.workout_home_beginner_description != '' and item.workout_home_intermediate_description != '' and item.workout_home_advanced_description != ''%}
                                                        <div class="beginner {% if workout_level != 'beginner' %}hidden{% endif %}"><p>{{ item.workout_home_beginner_description|raw }}</p></div>
                                                        <div class="intermediate {% if workout_level != 'intermediate' %}hidden{% endif %}"><p>{{ item.workout_home_intermediate_description|raw }}</p></div>
                                                        <div class="advanced {% if workout_level != 'advanced' %}hidden{% endif %}"><p>{{ item.workout_home_advanced_description|raw }}</p></div>
                                                    {% else %}
                                                        <p>{{ item.body_home_based|raw }}</p>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                            <div class="text-container gym-based {% if workout_base == 'gym' %}active{% else %}inactive{% endif %}">
                                                <h4 class="text-left head {% if item.s_done == 1 %}completed{% endif %}">{% if item.item_name != '' %}{{ item.item_name }}{% else %}{{ item.type|capitalize }}{% endif %}</h4>
                                                {% if item.preview is defined and item.preview != '' %}
                                                    {{ item.preview|raw }}
                                                {% else %}
                                                    {% if item.workout_gym_beginner_description != '' and item.workout_gym_intermediate_description != '' and item.workout_gym_advanced_description != ''%}
                                                        <div class="beginner {% if workout_level != 'beginner' %}hidden{% endif %}"><p>{{ item.workout_gym_beginner_description|raw }}</p></div>
                                                        <div class="intermediate {% if workout_level != 'intermediate' %}hidden{% endif %}"><p>{{ item.workout_gym_intermediate_description|raw }}</p></div>
                                                        <div class="advanced {% if workout_level != 'advanced' %}hidden{% endif %}"><p>{{ item.workout_gym_advanced_description|raw }}</p></div>
                                                    {% else %}
                                                        <p>{{ item.body|raw }}</p>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                            <div class="text-container myown-based {% if workout_base == 'myown' %}active{% else %}inactive{% endif %}">
                                                <h4 class="text-left head {% if item.s_done == 1 %}completed{% endif %}">Daily Exercise</h4>
                                            </div>
                                            <div class="nav-icon {% if workout_base == 'myown' %}inactive{% else %}active{% endif %}">
                                                <a href="{{ site_url }}/view-program-item?item={{ item.item_id }}" target="_blank"><img src="{{ asset('img') }}/icon-angle-right-med.png"></a>
                                            </div>
                                        </li>
                                    {% elseif item.kind == 'sleep' or item.kind == 'water consumption' %}
                                        <li class="{{ item.bgcolor }} day-item task cat-{{ item.category }} {{ item.type }} {% if item.s_done == 1 %}completed{% endif %} {{ item.prog_item_id }} ui-sortable-handle" data-type="{{ item.type }}" data-item="{{ item.prog_item_id }}">
                                            <div class="checkbox-container">
                                                {% if week <= current_week %}
                                                <input type="checkbox" {% if item.s_done == 1 %}checked{% endif %} disabled>
                                                {% endif %}
                                            </div>

                                            <div class="text-container">
                                                <h4 class="text-left head {% if item.s_done == 1 %}completed{% endif %}">{{ item.type|capitalize }}</h4>
                                                {% if item.preview is defined and item.preview != '' %}
                                                    {{ item.preview|raw }}
                                                {% else %}
                                                    <p>{{ item.body|raw }}</p>
                                                {% endif %}
                                            </div>
                                        </li>
                                    {% else %}
                                        <li class="{{ item.bgcolor }} day-item task cat-{{ item.category }} {{ item.type }} {% if item.s_done == 1 %}completed{% endif %} {{ item.prog_item_id }} ui-sortable-handle" data-type="{{ item.type }}" data-item="{{ item.prog_item_id }}">
                                            <div class="checkbox-container">
                                                {% if week <= current_week %}
                                                <input type="checkbox" {% if item.s_done == 1 %}checked{% endif %} disabled>
                                                {% endif %}
                                            </div>

                                            <div class="text-container">
                                                <h4 class="text-left head {% if item.s_done == 1 %}completed{% endif %}">{{ item.type|capitalize }}</h4>
                                                {% if item.preview is defined and item.preview != '' %}
                                                    {{ item.preview|raw }}
                                                {% else %}
                                                    <p>{{ item.body|raw }}</p>
                                                {% endif %}
                                            </div>

                                            <div class="nav-icon">
                                                <a href="{{ site_url }}/view-program-item?item={{ item.item_id }}" target="_blank"><img src="{{ asset('img') }}/icon-angle-right-med.png"></a>
                                            </div>
                                        </li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
                <!-- Day comments-->
                {% if comments[5] is defined %}
                    {% set day_comment = comments[5] %}
                {% else %}
                    {% set day_comment = [] %}
                {% endif %}
                <div class="comment-holder">
                    <label>Notes:</label>
                    <div class="comment">{% if day_comment['comment'] is defined and day_comment['comment'] != '' %}{{ day_comment['comment']|raw }}{% endif %}</div>
                </div>
            </div>
        </div>

        <div class="col-sm-4 ">
            <div class="day-detail day week-day-item 6 day-6" data-day="6">
                <p><strong>Saturday</strong></p>
                <hr>
                {% set done_items = 0 %}
                {% set total_items = 0 %}

                {% if days[6] is defined %}
                    {% for item in days[6] %}
                        {% if item.kind != 'quote' %}
                            {% set total_items = total_items + 1 %}
                            {% if item.s_done is defined and item.s_done == 1 %}
                                {% set done_items = done_items + 1 %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}

                <h5><span class="done-items">{{ done_items }}</span>/<span class="total-items">{{ total_items }}</span> complete</h5>

                {% set quote_item_id = '' %}
                {% set quote_body = '' %}
                {% set quote_author = '' %}
                {% if days[6] is defined %}
                    {% for item in days[6] %}
                        {% if item.type == 'quote' %}
                            {% set quote_item_id = item.item_id %}
                            {% set quote_body = item.body|striptags  %}
                            {% set quote_author = item.quote_author %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if quote_author == '' %}
                    {% set quote_author = 'Anonymous' %}
                {% endif %}
                <div class="quote {% if quote_item_id == '' %}inactive{% endif %}" {% if quote_item_id != '' %}data-item="{{ quote_item_id }}"{% endif %}>
                    <div class="quote-sign">“</div>
                    <div class="quote-text">
                        <p class="quote-phrase">{{ quote_body }}</p>
                        <p class="share">{{ quote_author }} {% if quote_item_id != '' %}<a target="_window" onclick="return !window.open(this.href, 'Facebook', 'width=640,height=300')" href="https://www.facebook.com/dialog/feed?app_id=1469093223400005&display=popup&description=12 weeks that can completely change your life! And it's Free.&link=http://healthylifeproject.com.au/12weekProgram&redirect_uri=http://healthylifeproject.com.au/program/close.html&picture=http://healthylifeproject.com.au/program/web/dashboard/share-quote-image?quote={{ quote_item_id }}&name=Healthy Life 12 Week Program"><span class="circle-arrow bg-green" style="margin:0 10px;"><i class="fa fa-facebook"></i></span>Share</a>{% endif %}</p>
                    </div>
                </div>
                <div class="event-holder web">
                    <ul id="day-monday" class="sortable-list connectList item-parent">
                        {% if days[6] is defined %}
                            {% for item in days[6] %}
                                {% if item.kind != 'quote' %}
                                    {% if item.kind == 'exercise' %}
                                        <li class="{{ item.bgcolor }} day-item task cat-{{ item.category }} {{ item.type }} {% if item.s_done == 1 %}completed{% endif %} {{ item.prog_item_id }} ui-sortable-handle" data-type="{{ item.type }}" data-item="{{ item.prog_item_id }}">
                                            <div class="checkbox-container">
                                                {% if week <= current_week %}
                                                <input type="checkbox" {% if item.s_done == 1 %}checked{% endif %} disabled>
                                                {% endif %}
                                            </div>

                                            <div class="text-container home-based {% if workout_base == 'home' %}active{% else %}inactive{% endif %}">
                                                <h4 class="text-left head {% if item.s_done == 1 %}completed{% endif %}">{% if item.item_name != '' %}{{ item.item_name }}{% else %}{{ item.type|capitalize }}{% endif %}</h4>
                                                {% if item.preview is defined and item.preview != '' %}
                                                    {{ item.preview|raw }}
                                                {% else %}
                                                    {% if item.workout_home_beginner_description != '' and item.workout_home_intermediate_description != '' and item.workout_home_advanced_description != ''%}
                                                        <div class="beginner {% if workout_level != 'beginner' %}hidden{% endif %}"><p>{{ item.workout_home_beginner_description|raw }}</p></div>
                                                        <div class="intermediate {% if workout_level != 'intermediate' %}hidden{% endif %}"><p>{{ item.workout_home_intermediate_description|raw }}</p></div>
                                                        <div class="advanced {% if workout_level != 'advanced' %}hidden{% endif %}"><p>{{ item.workout_home_advanced_description|raw }}</p></div>
                                                    {% else %}
                                                        <p>{{ item.body_home_based|raw }}</p>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                            <div class="text-container gym-based {% if workout_base == 'gym' %}active{% else %}inactive{% endif %}">
                                                <h4 class="text-left head {% if item.s_done == 1 %}completed{% endif %}">{% if item.item_name != '' %}{{ item.item_name }}{% else %}{{ item.type|capitalize }}{% endif %}</h4>
                                                {% if item.preview is defined and item.preview != '' %}
                                                    {{ item.preview|raw }}
                                                {% else %}
                                                    {% if item.workout_gym_beginner_description != '' and item.workout_gym_intermediate_description != '' and item.workout_gym_advanced_description != ''%}
                                                        <div class="beginner {% if workout_level != 'beginner' %}hidden{% endif %}"><p>{{ item.workout_gym_beginner_description|raw }}</p></div>
                                                        <div class="intermediate {% if workout_level != 'intermediate' %}hidden{% endif %}"><p>{{ item.workout_gym_intermediate_description|raw }}</p></div>
                                                        <div class="advanced {% if workout_level != 'advanced' %}hidden{% endif %}"><p>{{ item.workout_gym_advanced_description|raw }}</p></div>
                                                    {% else %}
                                                        <p>{{ item.body|raw }}</p>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                            <div class="text-container myown-based {% if workout_base == 'myown' %}active{% else %}inactive{% endif %}">
                                                <h4 class="text-left head {% if item.s_done == 1 %}completed{% endif %}">Daily Exercise</h4>
                                            </div>
                                            <div class="nav-icon {% if workout_base == 'myown' %}inactive{% else %}active{% endif %}">
                                                <a href="{{ site_url }}/view-program-item?item={{ item.item_id }}" target="_blank"><img src="{{ asset('img') }}/icon-angle-right-med.png"></a>
                                            </div>
                                        </li>
                                    {% elseif item.kind == 'sleep' or item.kind == 'water consumption' %}
                                        <li class="{{ item.bgcolor }} day-item task cat-{{ item.category }} {{ item.type }} {% if item.s_done == 1 %}completed{% endif %} {{ item.prog_item_id }} ui-sortable-handle" data-type="{{ item.type }}" data-item="{{ item.prog_item_id }}">
                                            <div class="checkbox-container">
                                                {% if week <= current_week %}
                                                <input type="checkbox" {% if item.s_done == 1 %}checked{% endif %} disabled>
                                                {% endif %}
                                            </div>

                                            <div class="text-container">
                                                <h4 class="text-left head {% if item.s_done == 1 %}completed{% endif %}">{{ item.type|capitalize }}</h4>
                                                {% if item.preview is defined and item.preview != '' %}
                                                    {{ item.preview|raw }}
                                                {% else %}
                                                    <p>{{ item.body|raw }}</p>
                                                {% endif %}
                                            </div>
                                        </li>
                                    {% else %}
                                        <li class="{{ item.bgcolor }} day-item task cat-{{ item.category }} {{ item.type }} {% if item.s_done == 1 %}completed{% endif %} {{ item.prog_item_id }} ui-sortable-handle" data-type="{{ item.type }}" data-item="{{ item.prog_item_id }}">
                                            <div class="checkbox-container">
                                                {% if week <= current_week %}
                                                <input type="checkbox" {% if item.s_done == 1 %}checked{% endif %} disabled>
                                                {% endif %}
                                            </div>

                                            <div class="text-container">
                                                <h4 class="text-left head {% if item.s_done == 1 %}completed{% endif %}">{{ item.type|capitalize }}</h4>
                                                {% if item.preview is defined and item.preview != '' %}
                                                    {{ item.preview|raw }}
                                                {% else %}
                                                    <p>{{ item.body|raw }}</p>
                                                {% endif %}
                                            </div>

                                            <div class="nav-icon">
                                                <a href="{{ site_url }}/view-program-item?item={{ item.item_id }}" target="_blank"><img src="{{ asset('img') }}/icon-angle-right-med.png"></a>
                                            </div>
                                        </li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
                <!-- Day comments-->
                {% if comments[6] is defined %}
                    {% set day_comment = comments[6] %}
                {% else %}
                    {% set day_comment = [] %}
                {% endif %}
                <div class="comment-holder">
                    <label>Notes:</label>
                    <div class="comment">{% if day_comment['comment'] is defined and day_comment['comment'] != '' %}{{ day_comment['comment']|raw }}{% endif %}</div>
                </div>
            </div>
        </div>


        <div class="col-sm-4 ">
            <div class="day-detail day week-day-item 7 day-7" data-day="7">
                <p><strong>Sunday</strong></p>
                <hr>
                {% set done_items = 0 %}
                {% set total_items = 0 %}

                {% if days[7] is defined %}
                    {% for item in days[7] %}
                        {% if item.kind != 'quote' %}
                            {% set total_items = total_items + 1 %}
                            {% if item.s_done is defined and item.s_done == 1 %}
                                {% set done_items = done_items + 1 %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}

                <h5><span class="done-items">{{ done_items }}</span>/<span class="total-items">{{ total_items }}</span> complete</h5>

                {% set quote_item_id = '' %}
                {% set quote_body = '' %}
                {% set quote_author = '' %}
                {% if days[7] is defined %}
                    {% for item in days[7] %}
                        {% if item.type == 'quote' %}
                            {% set quote_item_id = item.item_id %}
                            {% set quote_body = item.body|striptags  %}
                            {% set quote_author = item.quote_author %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if quote_author == '' %}
                    {% set quote_author = 'Anonymous' %}
                {% endif %}
                <div class="quote {% if quote_item_id == '' %}inactive{% endif %}" {% if quote_item_id != '' %}data-item="{{ quote_item_id }}"{% endif %}>
                    <div class="quote-sign">“</div>
                    <div class="quote-text">
                        <p class="quote-phrase">{{ quote_body }}</p>
                        <p class="share">{{ quote_author }} {% if quote_item_id != '' %}<a target="_window" onclick="return !window.open(this.href, 'Facebook', 'width=640,height=300')" href="https://www.facebook.com/dialog/feed?app_id=1469093223400005&display=popup&description=12 weeks that can completely change your life! And it's Free.&link=http://healthylifeproject.com.au/12weekProgram&redirect_uri=http://healthylifeproject.com.au/program/close.html&picture=http://healthylifeproject.com.au/program/web/dashboard/share-quote-image?quote={{ quote_item_id }}&name=Healthy Life 12 Week Program"><span class="circle-arrow bg-green" style="margin:0 10px;"><i class="fa fa-facebook"></i></span>Share</a>{% endif %}</p>
                    </div>
                </div>
                <div class="event-holder web">
                    <ul id="day-monday" class="sortable-list connectList item-parent">
                        {% if days[7] is defined %}
                            {% for item in days[7] %}
                                {% if item.kind != 'quote' %}
                                    {% if item.kind == 'exercise' %}
                                        <li class="{{ item.bgcolor }} day-item task cat-{{ item.category }} {{ item.type }} {% if item.s_done == 1 %}completed{% endif %} {{ item.prog_item_id }} ui-sortable-handle" data-type="{{ item.type }}" data-item="{{ item.prog_item_id }}">
                                            <div class="checkbox-container">
                                                {% if week <= current_week %}
                                                <input type="checkbox" {% if item.s_done == 1 %}checked{% endif %} disabled>
                                                {% endif %}
                                            </div>

                                            <div class="text-container home-based {% if workout_base == 'home' %}active{% else %}inactive{% endif %}">
                                                <h4 class="text-left head {% if item.s_done == 1 %}completed{% endif %}">{% if item.item_name != '' %}{{ item.item_name }}{% else %}{{ item.type|capitalize }}{% endif %}</h4>
                                                {% if item.preview is defined and item.preview != '' %}
                                                    {{ item.preview|raw }}
                                                {% else %}
                                                    {% if item.workout_home_beginner_description != '' and item.workout_home_intermediate_description != '' and item.workout_home_advanced_description != ''%}
                                                        <div class="beginner {% if workout_level != 'beginner' %}hidden{% endif %}"><p>{{ item.workout_home_beginner_description|raw }}</p></div>
                                                        <div class="intermediate {% if workout_level != 'intermediate' %}hidden{% endif %}"><p>{{ item.workout_home_intermediate_description|raw }}</p></div>
                                                        <div class="advanced {% if workout_level != 'advanced' %}hidden{% endif %}"><p>{{ item.workout_home_advanced_description|raw }}</p></div>
                                                    {% else %}
                                                        <p>{{ item.body_home_based|raw }}</p>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                            <div class="text-container gym-based {% if workout_base == 'gym' %}active{% else %}inactive{% endif %}">
                                                <h4 class="text-left head {% if item.s_done == 1 %}completed{% endif %}">{% if item.item_name != '' %}{{ item.item_name }}{% else %}{{ item.type|capitalize }}{% endif %}</h4>
                                                {% if item.preview is defined and item.preview != '' %}
                                                    {{ item.preview|raw }}
                                                {% else %}
                                                    {% if item.workout_gym_beginner_description != '' and item.workout_gym_intermediate_description != '' and item.workout_gym_advanced_description != ''%}
                                                        <div class="beginner {% if workout_level != 'beginner' %}hidden{% endif %}"><p>{{ item.workout_gym_beginner_description|raw }}</p></div>
                                                        <div class="intermediate {% if workout_level != 'intermediate' %}hidden{% endif %}"><p>{{ item.workout_gym_intermediate_description|raw }}</p></div>
                                                        <div class="advanced {% if workout_level != 'advanced' %}hidden{% endif %}"><p>{{ item.workout_gym_advanced_description|raw }}</p></div>
                                                    {% else %}
                                                        <p>{{ item.body|raw }}</p>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                            <div class="text-container myown-based {% if workout_base == 'myown' %}active{% else %}inactive{% endif %}">
                                                <h4 class="text-left head {% if item.s_done == 1 %}completed{% endif %}">Daily Exercise</h4>
                                            </div>
                                            <div class="nav-icon {% if workout_base == 'myown' %}inactive{% else %}active{% endif %}">
                                                <a href="{{ site_url }}/view-program-item?item={{ item.item_id }}" target="_blank"><img src="{{ asset('img') }}/icon-angle-right-med.png"></a>
                                            </div>
                                        </li>
                                    {% elseif item.kind == 'sleep' or item.kind == 'water consumption' %}
                                        <li class="{{ item.bgcolor }} day-item task cat-{{ item.category }} {{ item.type }} {% if item.s_done == 1 %}completed{% endif %} {{ item.prog_item_id }} ui-sortable-handle" data-type="{{ item.type }}" data-item="{{ item.prog_item_id }}">
                                            <div class="checkbox-container">
                                                {% if week <= current_week %}
                                                <input type="checkbox" {% if item.s_done == 1 %}checked{% endif %} disabled>
                                                {% endif %}
                                            </div>

                                            <div class="text-container">
                                                <h4 class="text-left head {% if item.s_done == 1 %}completed{% endif %}">{{ item.type|capitalize }}</h4>
                                                {% if item.preview is defined and item.preview != '' %}
                                                    {{ item.preview|raw }}
                                                {% else %}
                                                    <p>{{ item.body|raw }}</p>
                                                {% endif %}
                                            </div>
                                        </li>
                                    {% else %}
                                        <li class="{{ item.bgcolor }} day-item task cat-{{ item.category }} {{ item.type }} {% if item.s_done == 1 %}completed{% endif %} {{ item.prog_item_id }} ui-sortable-handle" data-type="{{ item.type }}" data-item="{{ item.prog_item_id }}">
                                            <div class="checkbox-container">
                                                {% if week <= current_week %}
                                                <input type="checkbox" {% if item.s_done == 1 %}checked{% endif %} disabled>
                                                {% endif %}
                                            </div>

                                            <div class="text-container">
                                                <h4 class="text-left head {% if item.s_done == 1 %}completed{% endif %}">{{ item.type|capitalize }}</h4>
                                                {% if item.preview is defined and item.preview != '' %}
                                                    {{ item.preview|raw }}
                                                {% else %}
                                                    <p>{{ item.body|raw }}</p>
                                                {% endif %}
                                            </div>

                                            <div class="nav-icon">
                                                <a href="{{ site_url }}/view-program-item?item={{ item.item_id }}" target="_blank"><img src="{{ asset('img') }}/icon-angle-right-med.png"></a>
                                            </div>
                                        </li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
                <!-- Day comments-->
                {% if comments[7] is defined %}
                    {% set day_comment = comments[7] %}
                {% else %}
                    {% set day_comment = [] %}
                {% endif %}
                <div class="comment-holder">
                    <label>Notes:</label>
                    <div class="comment">{% if day_comment['comment'] is defined and day_comment['comment'] != '' %}{{ day_comment['comment']|raw }}{% endif %}</div>
                </div>
            </div>
        </div>

        <div class="col-sm-4 ">
            <div class="week-tips week-day-item 8">
                <h3>Tips for a Great Week</h3>
                <ol class="tips-container">
                    {% for tip in program_tips %}
                        <li>
                            <p class="tip-head">{{ tip.title }}</p>
                            <br>
                            <p class="tip-body">{{ tip.description }}</p>
                        </li>
                    {% endfor %}
                </ol>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="promo week-day-item 9">
                <div class="upper">
                    <img src="{{ asset('templates') }}/hlp-2.0/images/oneStep-logo.png" class="img-responsive img-centered">
                </div>
                <div class="middle">
                    <p class="text-center">Working towards a healthy life is easier and more fun with friends. </p>
{#                                                <button class="btn btn-sm text-center img-centered invite-friends" style="display:block">Invite a Friend Today<i class="fa fa-angle-right"></i></button>#}
                </div>
                <div class="bottom">
                <img src="{{ asset('templates') }}/hlp-2.0/images/promo.png" class="img-responsive">
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    <div class="col-sm-4 ">
        <div class="day-detail day week-day-item 1 day-1" data-day="1">
            <p><strong>Monday</strong></p>
            <hr>
            <h5><span class="done-items">0</span>/<span class="total-items">0</span> complete</h5>


            <div class="quote inactive">
                <div class="quote-sign">“</div>
                <div class="quote-text">
                    <p class="quote-phrase"></p>
                    <p class="share"></p>
                </div>
            </div>
            <div class="event-holder web">
                <ul id="day-monday" class="sortable-list connectList item-parent">

                </ul>
            </div>
            <!-- Day comments-->
            <div class="comment-holder">
                <label>Notes:</label>
                <div class="comment"></div>
            </div>
        </div>
    </div>

    <div class="col-sm-4 ">
        <div class="day-detail day week-day-item 2 day-2" data-day="2">
            <p><strong>Tuesday</strong></p>
            <hr>
            <h5><span class="done-items">0</span>/<span class="total-items">0</span> complete</h5>


            <div class="quote inactive">
                <div class="quote-sign">“</div>
                <div class="quote-text">
                    <p class="quote-phrase"></p>
                    <p class="share"></p>
                </div>
            </div>
            <div class="event-holder web">
                <ul id="day-tuesday" class="sortable-list connectList item-parent">


                </ul>
            </div>
            <!-- Day comments-->
            <div class="comment-holder">
                <label>Notes:</label>
                <div class="comment"></div>
            </div>
        </div>
    </div>

    <div class="col-sm-4 ">
        <div class="day-detail day week-day-item 3 day-3" data-day="3">
            <p><strong>Wednesday</strong></p>
            <hr>
            <h5><span class="done-items">0</span>/<span class="total-items">0</span> complete</h5>


            <div class="quote inactive">
                <div class="quote-sign">“</div>
                <div class="quote-text">
                    <p class="quote-phrase"></p>
                    <p class="share"></p>
                </div>
            </div>
            <div class="event-holder web">
                <ul id="day-wednesday" class="sortable-list connectList item-parent">


                </ul>
            </div>
            <!-- Day comments-->
            <div class="comment-holder">
                <label>Notes:</label>
                <div class="comment"></div>
            </div>
        </div>
    </div>


    <div class="col-sm-4 ">
        <div class="day-detail day week-day-item 4 day-4" data-day="4">
            <p><strong>Thursday</strong></p>
            <hr>
            <h5><span class="done-items">0</span>/<span class="total-items">0</span> complete</h5>


            <div class="quote inactive">
                <div class="quote-sign">“</div>
                <div class="quote-text">
                    <p class="quote-phrase"></p>
                    <p class="share"></p>
                </div>
            </div>
            <div class="event-holder web">
                <ul id="day-thursday" class="sortable-list connectList item-parent">


                </ul>
            </div>
            <!-- Day comments-->
            <div class="comment-holder">
                <label>Notes:</label>
                <div class="comment"></div>
            </div>
        </div>
    </div>

    <div class="col-sm-4 ">
        <div class="day-detail day week-day-item 5 day-5" data-day="5">
            <p><strong>Friday</strong></p>
            <hr>
            <h5><span class="done-items">0</span>/<span class="total-items">0</span> complete</h5>


            <div class="quote inactive">
                <div class="quote-sign">“</div>
                <div class="quote-text">
                    <p class="quote-phrase"></p>
                    <p class="share"></p>
                </div>
            </div>
            <div class="event-holder web">
                <ul id="day-friday" class="sortable-list connectList item-parent">

                </ul>
            </div>
            <!-- Day comments-->
            <div class="comment-holder">
                <label>Notes:</label>
                <div class="comment"></div>
            </div>
        </div>
    </div>

    <div class="col-sm-4 ">
        <div class="day-detail day week-day-item 6 day-6" data-day="6">
            <p><strong>Saturday</strong></p>
            <hr>
            <h5><span class="done-items">0</span>/<span class="total-items">0</span> complete</h5>


            <div class="quote inactive">
                <div class="quote-sign">“</div>
                <div class="quote-text">
                    <p class="quote-phrase"></p>
                    <p class="share"></p>
                </div>
            </div>
            <div class="event-holder web">
                <ul id="day-saturday" class="sortable-list connectList item-parent">


                </ul>
            </div>
            <!-- Day comments-->
            <div class="comment-holder">
                <label>Notes:</label>
                <div class="comment"></div>
            </div>
        </div>
    </div>

    <div class="col-sm-4 ">
        <div class="day-detail day week-day-item 7 day-7" data-day="7">
            <p><strong>Sunday</strong></p>
            <hr>
            <h5><span class="done-items">0</span>/<span class="total-items">0</span> complete</h5>


            <div class="quote inactive">
                <div class="quote-sign">“</div>
                <div class="quote-text">
                    <p class="quote-phrase"></p>
                    <p class="share"></p>
                </div>
            </div>
            <div class="event-holder web">
                <ul id="day-sunday" class="sortable-list connectList item-parent">


                </ul>
            </div>
            <!-- Day comments-->
            <div class="comment-holder">
                <label>Notes:</label>
                <div class="comment"></div>
            </div>
        </div>
    </div>

    <div class="col-sm-4 ">
        <div class="week-tips week-day-item 1">
            <h3>Tips for a Great Week</h3>
            <ol class="tips-container">
                {% for tip in program_tips %}
                    <li>
                        <p class="tip-head">{{ tip.title }}</p>
                        <br>
                        <p class="tip-body">{{ tip.description }}</p>
                    </li>
                {% endfor %}
            </ol>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="promo week-day-item 1">
            <div class="upper">
                <img src="{{ asset('templates') }}/hlp-2.0/images/oneStep-logo.png" class="img-responsive img-centered">
            </div>
            <div class="middle">
                <p class="text-center">Working towards a healthy life is easier and more fun with friends. </p>
{#                                            <button class="btn btn-sm text-center img-centered invite-friends" style="display:block">Invite a Friend Today<i class="fa fa-angle-right"></i></button>#}
            </div>
            <div class="bottom">
            <img src="{{ asset('templates') }}/hlp-2.0/images/promo.png" class="img-responsive">
            </div>
        </div>
    </div>
{% endif %}