{% extends "::club_layout.html.twig" %}

{% block title %}View Client{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('resources') }}/fauxUpload/fauxupload.css" rel="stylesheet">
    <link href="{{ asset('css') }}/view-client.css" rel="stylesheet">
    
{% endblock %}
{% block body %}

    <div id="main-content">
        
        <!-- ==============================================
        Trainer Detail
        =============================================== -->
        <section id="trainer-detail">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-12">
                        <div class="col-md-4 col-md-offset-0 col-sm-4 col-sm-offset-2">
                             {% if client_details.picture != '' %}
                                    <img src="{{ asset('uploads') ~ "/" ~ client_details.picture }}" class="img-responsive img-circle img-centered {#img-profile#}">
                                {% else %}
                                    <img src="{{ asset('img') }}/unknown-{{ client_details.gender }}.jpg" class="img-responsive img-circle img-centered {#img-profile#}">
                                {% endif %}
                        </div>
                        <div class="col-md-8 col-md-6">
                            <div class="row">                            
                                <h3>{{ client_details.fname|upper }} {{ client_details.lname|upper }}</h3>
                                <p>{{ client_details.age }} Year old {{ client_details.gender }}</p>
                                <p>Reached 
                                <strong>
                                {% if client_details.recent_test['healthy_life_score'] is defined and client_details.recent_test['healthy_life_score'] > 0%}
                                    {{ '%.0f' | format((client_details.recent_test['healthy_life_score'] * 100))| replace({".0" : ""}) }}% 
                                {% else %}
                                    ---
                                {% endif %}
                                </strong> of Healthy Living Potential</p>
                                <p>Coached by {{ client_details.coach_fname }} {{ client_details.coach_lname }} &#32; <a href="{{ path('acme_club_client_add_edit', {'slug': 'edit'}) }}?id={{ client_details.club_client_id }}">Edit</a></p>                           
                                {% if prog_client_details|length > 0 and client_details.club_admin_id == app.session.get('club_admin_id') %}
{#                                {% if prog_client_details|length > 0 %} #}
                                    <a class="pointer btn-sm chat-to-client {{  client_details.club_client_id}} " data-id="{{  client_details.club_client_id}}" data-email="{{ client_details.email }}" data-fname="{{ client_details.fname }}" data-lname="{{ client_details.lname }}"><span class="glyphicon glyphicon-envelope"></span> chat</a>
                                    <br>
                                {% endif %}
                                {% if prog_client_details|length == 0 %} 
                                    <a class="pointer btn-sm invite-12-week" style="margin-left:-10px;" data-id="{{  client_details.club_client_id}}" data-email="{{ client_details.email }}" data-fname="{{ client_details.fname }}" data-lname="{{ client_details.lname }}">Send program invitation</a>
                                    <br>
                                {% endif %}
                                
                                <a class="pointer lifestyle-questionnaires-invitation" data-id="{{  client_details.club_client_id}}" data-email="{{ client_details.email }}" data-fname="{{ client_details.fname }}" data-lname="{{ client_details.lname }}"> Lifestyle Questionnaires Invitation</a>
                            </div>
                        </div>
                         
                            
                          
                                        
                                        
                            
                        <div class="col-md-12 chart-section">
                            <div class="row">
                                <div class="col-md-4 col-sm-12">
                                    <h3>{% if client_details.recent_test['years_added'] is defined %} 
                                            {% if client_details.recent_test['years_added'] > 0 %}
                                                    <strong>+{{ '%.1f' | format(client_details.recent_test['years_added'])| replace({".0" : ""}) }}</strong>

                                            {% else %}
                                                <strong>---</strong>
                                            {% endif %}
                                        {% else %}
                                            <strong>---</strong>
                                        {% endif %}
                                    </h3>
                                    <p>Years Added</p>
                                    {% set years_added_data = '[' %}

                                    {% for item in test_data %}
                                        {% if item.status == 'finalised' and item.years_added > 0%}
                                            {% set years_added_data = years_added_data ~ '[' ~ '"' ~ item.test_datetime|date('d M Y') ~'",' ~ item.years_added ~ '],' %}
                                        {% else %}
                                            {% set years_added_data = years_added_data ~ '[' ~ '"' ~ item.test_datetime|date('d M Y') ~'",0],' %}
                                        {% endif %}
                                    {% endfor %}
                                    {% set years_added_data = years_added_data|trim(',') ~ ']' %}
                                    <div class="img-box bar-chart" data-values='{"title":"yrs", "data":{{ years_added_data }}}'>
										<div class="chart"></div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <h3>{% if client_details.recent_test['cm_lost'] is defined %} 
                                            {% if client_details.recent_test['cm_lost'] > 0 %}
                                                <strong>-{{ '%.1f' | format(client_details.recent_test['cm_lost'])| replace({".0" : ""}) }}</strong>

                                            {% elseif client_details.recent_test['cm_lost'] < 0 %}
                                                <strong>---</strong>
                                            {% else %}
                                                <strong>---</strong>
                                            {% endif %}
                                        {% else %}
                                            <strong>---</strong>
                                        {% endif %}
                                    </h3>
                                    <p>Centimeters Lost</p>
                                    <div class="img-box bar-chart" data-values='{"title":"cm","data":[
                                        ["Chest",{% if client_details.recent_test['biometric_chest_lost'] is defined and client_details.recent_test['biometric_chest_lost'] > 0%}{{ client_details.recent_test['biometric_chest_lost'] }}{% else %}0{% endif %}],
                                        ["Thighs",{% if client_details.recent_test['biometric_thigh_lost'] is defined and client_details.recent_test['biometric_thigh_lost'] > 0 %}{{ client_details.recent_test['biometric_thigh_lost'] }}{% else %}0{% endif %}],
                                        ["Waist",{% if client_details.recent_test['biometric_waist_value_lost'] is defined and client_details.recent_test['biometric_waist_value_lost'] > 0 %}{{ client_details.recent_test['biometric_waist_value_lost'] }}{% else %}0{% endif %}],
                                        ["Arms",{% if client_details.recent_test['biometric_arm_lost'] is defined and client_details.recent_test['biometric_arm_lost'] > 0 %}{{ client_details.recent_test['biometric_arm_lost'] }}{% else %}0{% endif %}]]}'>
										<div class="chart"></div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <h3>{% if client_details.recent_test['kg_lost'] is defined %} 
                                            {% if client_details.recent_test['kg_lost'] > 0 %}
                                                <strong>-{{ '%.1f' | format(client_details.recent_test['kg_lost'])| replace({".0" : ""}) }}</strong>

                                            {% elseif client_details.recent_test['kg_lost'] < 0 %}
                                                <strong>---</strong>
                                            {% else %}
                                                <strong>---</strong>
                                            {% endif %}
                                        {% else %}
                                            <strong>---</strong>
                                        {% endif %}
                                    </h3>
                                    <p>Kilograms Lost</p>
                                    {% set kg_lost_data = '[' %}
                                        {% for item in test_data %}
                                            {% if item.status == 'finalised' and item.kg_lost > 0%}
                                                {% set kg_lost_data = kg_lost_data ~ '[' ~ '"' ~ item.test_datetime|date('d M Y') ~'",' ~ item.kg_lost ~ '],' %}
                                            {% else %}
                                                {% set kg_lost_data = kg_lost_data ~ '[' ~ '"' ~ item.test_datetime|date('d M Y') ~'",0],' %}
                                            {% endif %}
                                        {% endfor %}
                                    {% set kg_lost_data = kg_lost_data|trim(',') ~ ']' %}
                                    <div class="img-box bar-chart" data-values='{"title":"kg", "data":{{ kg_lost_data }}}'>
										<div class="chart"></div>
                                    </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="uploaded-files-header">
                            <h3>Files</h3> 
                            <div class="label-round"><span class="client-files-number">{{ client_files|length }}</span> Files</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 text-right">
                                <a class="new-file" data-toggle="modal" data-target="#uploadFileModal">new file</a>
                            </div>
                        </div>
                        
                        <div class="uploaded-files">
                            <table>
                                {% for item in client_files %}
                                <tr>
                                    <td>
                                        <a class="file-link" href="{{ site_url }}/{{ item.basename }}" target="_blank">
                                        {% if item.filename|length > 20 %}
                                            <span class="glyphicon glyphicon-file"></span> {{ item.filename|slice(0, 20) }}...{{ item.extension }}
                                        {% else %}
                                            <span class="glyphicon glyphicon-file"></span> {{ item.filename|slice(0, 20) }}.{{ item.extension }}
                                        {% endif %}
                                        </a>
                                    </td>
                                    <td>
                                        <span class="file-datecreated">{{ item.datecreated }}</span>
                                    </td>
                                    <td class="text-right">
                                        <a class="delete-file" data-filename="{{ item.basename }}">Delete</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                            
                        </div>
                        <div class="test-history-header">
                            <h3>Test History</h3>
                            <div class="label-round">{{ client_test_history|length }} Tests</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                            {% for item in client_test_history %}
                                {% if loop.index == 1 %}
                                    {% if item.status == 'draft' %}
                                        <div class="test-history bg-color-light-gray" style="margin-bottom: 6px;">  
                                            <a href="{{ path('acme_club_view_test') }}?id={{ item.client_test_id }}{% if item.test_type is defined and item.test_type == 'aia' %}&aia=1{% endif %}" class="tapable-header">
                                                <div class="col-xs-7"> 
                                                    <p>{{ item.test_datetime|date("d F Y") }}</p>
                                                </div>
                                                <div class="col-xs-5">
                                                    <ul>
                                                        <li><img src="{{ asset('templates') }}/hlp-2.0/images/icon-angle-right.png"></li>
                                                    </ul>
                                                </div>
                                            </a>
                                                <h3 style="padding-left: 15px;">DRAFT</h3>                          
                                        </div>
                                    {% else %}
                                        <div class="test-history bg-color-light-gray">  
                                            <a href="{{ path('acme_club_view_test') }}?id={{ item.client_test_id }}" class="tapable-header">
                                                <div class="col-xs-7"> 
                                                    <p>{{ item.test_datetime|date("d F Y") }}</p>
                                                </div>
                                            </a>
                                            <div class="col-xs-5">
                                                <ul>
                                                    {#<li><a href=""><img src="{{ asset('templates') }}/hlp-2.0/images/share.png"></a></li>#}
                                                    <li><a class="email-this-test" data-test-id="{{ item.client_test_id }}" data-email="{{ client_details.email }}"><img src="{{ asset('templates') }}/hlp-2.0/images/icon-envelope.png"></a></li>
                                                    <li><a href="{{ path('acme_club_view_test') }}?id={{ item.client_test_id }}"><img src="{{ asset('templates') }}/hlp-2.0/images/icon-angle-right.png"></a></li>
                                                </ul>
                                            </div>

                                            <div class="col-xs-4 text-center history">
                                                <h3>{{ '%.1f' | format((item.healthy_life_score * 100))| replace({".0" : ""}) }}% </h3>
                                                <p>Of Healthy Life Potential</p>
                                            </div>
                                            <div class="col-xs-4 text-center history">
                                                <h3>{{ '%.1f' | format(item.estimated_current_healthy_life_age)| replace({".0" : ""}) }}</h3>
                                                <p>Healthy Life Age</p>
                                            </div>
                                            <div class="col-xs-4 text-center history">
                                                <h3>{{ '%.1f' | format(item.you_could_add_up_to)| replace({".0" : ""}) }} </h3>
                                                <p>Potential Increase Healthy Life Years</p>
                                            </div>
                                            <div class="col-xs-4 text-center history">
                                                <hr>
                                                <h3>
                                                {% if item.years_added != '' and item.years_added > 0 %}
                                                    +{{ '%.1f' | format(item.years_added)| replace({".0" : ""}) }}
                                                {% else %}
                                                    ---
                                                {% endif %}
                                                </h3>
                                                <p>Healthy Life Years Added</p>
                                            </div>
                                            <div class="col-xs-4 text-center history">
                                                <hr>
                                                <h3>
                                                {% if item.cm_lost != '' and item.cm_lost > 0 %}

                                                    -{{ '%.1f' | format(item.cm_lost)| replace({".0" : ""}) }}

                                                {% else %}
                                                    --- 
                                                {% endif %}
                                                </h3>
                                                <p>CM Lost</p>
                                            </div>
                                            <div class="col-xs-4 text-center history">
                                                <hr>
                                                <h3>
                                                {% if item.kg_lost != '' and item.kg_lost > 0 %}
                                                    -{{ '%.1f' | format(item.kg_lost)| replace({".0" : ""}) }}
                                                {% else %}
                                                    ---
                                                {% endif %}
                                                </h3>
                                                <p>KG Lost</p>
                                            </div>                            
                                        </div>
                                    {% endif %} 
                                {% endif %}   
                            {% endfor %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 all-tests">
                            {% for item in client_test_history %}
                                {% if loop.index > 1 %}
                                    {% if item.status == 'draft' %}
                                        <div class="test-history bg-color-light-gray" style="margin-bottom: 6px;">  
                                            <a href="{{ path('acme_club_view_test') }}?id={{ item.client_test_id }}" class="tapable-header">
                                                <div class="col-xs-7"> 
                                                    <p>{{ item.test_datetime|date("d F Y") }}</p>
                                                </div>
                                                <div class="col-xs-5">
                                                    <ul>
                                                        <li><img src="{{ asset('templates') }}/hlp-2.0/images/icon-angle-right.png"></li>
                                                    </ul>
                                                </div>
                                            </a>
                                                <h3 style="padding-left: 15px;">DRAFT</h3>                          
                                        </div>
                                    {% else %}
                                        <div class="test-history bg-color-light-gray">  
                                            <a href="{{ path('acme_club_view_test') }}?id={{ item.client_test_id }}" class="tapable-header">
                                                <div class="col-xs-7"> 
                                                    <p>{{ item.test_datetime|date("d F Y") }}</p>
                                                </div>
                                            </a>
                                            <div class="col-xs-5">
                                                <ul>
                                                    {#<li><a href=""><img src="{{ asset('templates') }}/hlp-2.0/images/share.png"></a></li>#}
                                                    <li><a class="email-this-test" data-test-id="{{ item.client_test_id }}" data-email="{{ client_details.email }}"><img src="{{ asset('templates') }}/hlp-2.0/images/icon-envelope.png"></a></li>
                                                    <li><a href="{{ path('acme_club_view_test') }}?id={{ item.client_test_id }}"><img src="{{ asset('templates') }}/hlp-2.0/images/icon-angle-right.png"></a></li>
                                                </ul>
                                            </div>

                                            <div class="col-xs-4 text-center history">
                                                <h3>{{ '%.1f' | format((item.healthy_life_score * 100))| replace({".0" : ""}) }}% </h3>
                                                <p>Of Healthy Life Potential</p>
                                            </div>
                                            <div class="col-xs-4 text-center history">
                                                <h3>{{ '%.1f' | format(item.estimated_current_healthy_life_age)| replace({".0" : ""}) }}</h3>
                                                <p>Healthy Life Age</p>
                                            </div>
                                            <div class="col-xs-4 text-center history">
                                                <h3>{{ '%.1f' | format(item.you_could_add_up_to)| replace({".0" : ""}) }} </h3>
                                                <p>Potential Increase Healthy Life Years</p>
                                            </div>
                                            <div class="col-xs-4 text-center history">
                                                <hr>
                                                <h3>
                                                {% if item.years_added != '' and item.years_added > 0 %}
                                                    +{{ '%.1f' | format(item.years_added)| replace({".0" : ""}) }}
                                                {% else %}
                                                    ---
                                                {% endif %}
                                                </h3>
                                                <p>Healthy Life Years Added</p>
                                            </div>
                                            <div class="col-xs-4 text-center history">
                                                <hr>
                                                <h3>
                                                {% if item.cm_lost != '' and item.cm_lost > 0 %}

                                                    -{{ '%.1f' | format(item.cm_lost)| replace({".0" : ""}) }}

                                                {% else %}
                                                    --- 
                                                {% endif %}
                                                </h3>
                                                <p>CM Lost</p>
                                            </div>
                                            <div class="col-xs-4 text-center history">
                                                <hr>
                                                <h3>
                                                {% if item.kg_lost != '' and item.kg_lost > 0 %}
                                                    -{{ '%.1f' | format(item.kg_lost)| replace({".0" : ""}) }}
                                                {% else %}
                                                    ---
                                                {% endif %}
                                                </h3>
                                                <p>KG Lost</p>
                                            </div>                            
                                        </div>
                                    {% endif %} 
                                {% endif %}   
                            {% endfor %}
                            </div>
                        </div>
                        {% if client_test_history|length > 1 %}
                            <button class="btn btn-lg btn-white text-center toggle-tests" data-toggle="collapse" data-target=".all-tests">Show <span>more</span> <i class="fa fa-angle-down"></i></button>
                        {% endif %}  
                        <a class="btn btn-lg btn-special-60 text-center" href="{{ path('acme_club_create_test') }}?id={{ client_details.club_client_id }}">Take the Healthy Life Test<i class="fa fa-angle-right"></i></a>        
                        
                        {% if club_admin_details|length > 0 %}
                            {% if club_admin_details.s_aia_approved is defined and club_admin_details.s_aia_approved == 1 %}
                                {% if client_details is defined and client_details.aia_vitality_member_number!='' %}
                                    {% if club_admin_tests is defined and club_admin_tests >= 5 %}
                                        <a class="btn btn-lg btn-special-60 text-center aia-vitality-test" 
                                            href="{{ path('acme_club_create_test') }}?id={{ client_details.club_client_id }}&aia=1">Take the AIA Vitality Healthy Life Test<i class="fa fa-angle-right"></i></a>                        
                                    {% else %}

                                        <a class="btn btn-lg btn-special-60 text-center aia-vitality-test btn-greyed" type="button" 
                                            data-toggle="tooltip" data-placement="bottom" title="To unlock the AIA Vitality Test you need to have performed 5 Healthy Life Tests"
                                            href="#">Take the AIA Vitality Healthy Life Test<i class="fa fa-angle-right"></i></a>  
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                <a class="btn btn-lg btn-special-60 text-center aia-vitality-test btn-greyed" type="button" 
                                   data-toggle="tooltip" data-placement="bottom" title="To unlock the AIA Vitality Test you need to have performed 5 Healthy Life Tests"
                                   href="#">Take the AIA Vitality Healthy Life Test<i class="fa fa-angle-right"></i></a>                        
                            {% endif %}
                        {% else %}
                            <a class="btn btn-lg btn-special-60 text-center aia-vitality-test btn-greyed" type="button" 
                                data-toggle="tooltip" data-placement="bottom" title="To unlock the AIA Vitality Test you need to have performed 5 Healthy Life Tests"
                                href="#">Take the AIA Vitality Healthy Life Test<i class="fa fa-angle-right"></i></a>                        
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
                    
                    
                    
                    
                    
                    
                    
                    
                    
        {% if prog_client_details|length > 0 %}        
        <section id="Program">
            {% if prog_client_details.program_name is defined and prog_client_details.program_name != '' %}
                <h2 class="text-center">{{ prog_client_details.program_name }}</h2>
            {% elseif prog_client_details.program_type is defined and prog_client_details.program_type != '' %}
                {% if prog_client_details.program_type == '4week' %}
                    <h2 class="text-center">4 Week Program</h2>
                {% elseif prog_client_details.program_type == '8week' %}
                    <h2 class="text-center">8 Week Program</h2>
                {% else %}
                    <h2 class="text-center">12 Week Program</h2>
                {% endif %}
            {% else %}
                <h2 class="text-center">Client's HLP Program</h2>
            {% endif %}
            <div class="container program-container">
                <center><img src="{{asset('img')}}/spinner.gif"/> Loading...</center>
            </div>
        </section>
        {% endif %}  
                    
                    
                    
                    
    </div>   
    
    
<div id="emailTestModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Email This Test</h4>
      </div>
      <div class="modal-body">
        <form id="emailTest" action="{{ path('acme_club_email_test') }}" method="post">
            <div class="box-row" style="padding:15px;">

                <div class="field-holder">
                    <div class="row">
                        <label>Recipients (separated by comma)</label>
                        <input type="text" name="recipients" class="form-control" required>
                        <input type="hidden" name="client_test_id">
                    </div>

                </div>
            </div>
        </form>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary send">Send</button>
      </div>
    </div>

  </div>
</div>
            
            
            
<!-- Upload File Modal -->
<div class="modal fade" id="uploadFileModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Upload File</h4>
      </div>
      <div class="modal-body">
            <strong>Note</strong>: PDF and worddoc file with a maximum size of 2MB only.
            <div class="row">
                <div class="col-sm-12">
                    <div class="clearfix fauxUpload">
                        <div class="pull-left">
                            <input type="text" id="fauxUploadValue" name="fauxUploadValue" class="form-control" value="/" disabled>
                        </div>
                        <div class="pull-right">
                            <label for="fileToUpload" class="btn btn-block btn-primary">Select file &nbsp;<i class="glyphicon glyphicon-folder-open"></i></label>
                        </div>
                        <div class="invisible"><input type="file" name="fileToUpload" id="fileToUpload"/></div>
                    </div><!--fauxUpload-->
                </div>
            </div>
            

            <div class="progress-label">Uploading... <span class="upload-percent">0</span>% complete</div>
            <div class="progress progress-striped active">
              <div class="progress-bar"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
    {#              <span class="percentage">90</span>%#}
              </div>
            </div><!--progress-->
        
        
      </div><!--modal-body-->
      <div class="modal-footer">
        
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary uploadpic">Upload</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock %}
{% block javascripts %}
    {#{% if prog_client_details.current_week is defined %}
        {% set display_week = prog_client_details.current_week %}
    {% else %}
        {% set display_week = 0 %}
    {% endif %}#}
    
    
    {% if prog_client_details|length > 0 %}
        {% if app.request.get("week") is defined and app.request.get("week") != ''%}
            {% set display_week = app.request.get("week") %}
            {% if prog_client_details.current_week == app.request.get("week") %}
                {% set display_day = "now"|date('w','Australia/Melbourne') %}
            {% else %}
                {% set display_day = 1 %}
            {% endif %}
        {% else %}
            {% set display_week = prog_client_details.current_week %}
            {% set display_day = "now"|date('w','Australia/Melbourne') %}
        {% endif %}
    {% else %}
        {% set display_week = 0 %}
        {% set display_day = "now"|date('w','Australia/Melbourne') %}
    {% endif %}


    <script type="text/javascript">
    var invite_friend_url = "{{ path('acme_club_dashboard_invite_friend')}}";
    var get_12weekprogram_items_url = "{{ path('acme_club_client_get_program_items') }}";
    var client_id = "{{ client_details.club_client_id }}";
    var client_email = "{{ client_details.email }}";
    var workingweek="{{ display_week }}";
    var currentday = "{{ display_day }}";
    var prog_client_id = "{% if prog_client_details.client_id is defined %}{{ prog_client_details.client_id }}{% else %}0{% endif %}";
    var current_week="{% if prog_client_details.current_week is defined %}{{ prog_client_details.current_week }}{% else %}0{% endif %}";
    var working_week="{% if prog_client_details.working_week is defined %}{{ prog_client_details.working_week }}{% else %}0{% endif %}";
    var workout_base="{% if prog_client_details.workout_base is defined %}{{ prog_client_details.workout_base }}{% endif %}";
    var program_type="{% if prog_client_details.program_type is defined %}{{ prog_client_details.program_type }}{% endif %}";
    var s_lite_test_complete = "{% if prog_client_details.s_lite_test_complete is defined %}{{ prog_client_details.s_lite_test_complete }}{% endif %}";
    var fauxupload_url = "{{ path('acme_club_client_faux_upload') }}";
    var fauxupload_delete_url = "{{ path('acme_club_client_faux_upload_delete') }}";
    
    var s_paid_program = "{% if prog_client_details.program_id is defined and prog_client_details.program_id != '' %}1{% else %}0{% endif %}";
    s_paid_program = parseInt(s_paid_program);
    var get_paid_program_items_url = "{{ path('acme_club_client_get_paidprogram_items') }}";
    var program = "{% if prog_client_details.program_id is defined %}{{ prog_client_details.program_id }}{% endif %}";
    program = parseInt(program);
    var workout_level = "{% if prog_client_details.workout_level is defined %}{{ prog_client_details.workout_level }}{% endif %}";
    </script>
    <script src="{{ asset('templates') }}/hlp-2.0/js/jquery.easypiechart.js"></script>
    <script src="{{ asset('templates') }}/hlp-2.0/js/jquery.main.js"></script>
    <script src="{{ asset('resources') }}/fauxUpload/fauxupload.js"></script>
    <script src="{{ asset('js') }}/club/view-client.js?v=23022016"></script>
{% endblock %}