{% extends "::club_layout.html.twig" %}

{% block title %}View Client{% endblock %}

{% block body %}
    <section id="info-bar">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1>Error</h2>
                </div>
            </div>
                
            <div class="row">
                <div class="col-sm-12">
                    <p>Unable to get client's data.</p>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                
            </div>
        </div>
    </div>
{% endblock %}

