{% extends "::club_layout.html.twig" %}

{% block title %}View Client{% endblock %}

{% block body %}

<!-- two columns -->
<div id="two-columns" class="two-columns">
    <!-- content -->
    <section id="content">
        <header class="add-header">
            <h1>{{ client_details.fname|upper }} {{ client_details.lname|upper }}</h1>
            <p>{{ client_details.age }} Year old {{ client_details.gender }} coached by {{ client_details.coach_fname }} {{ client_details.coach_lname }} <a href="{{ path('acme_club_client_add_edit', {'slug': 'edit'}) }}?id={{ client_details.club_client_id }}">Edit</a></p>
        </header>
        <!-- three-cols add-three-cols  -->
        <div class="info-box">
            <div class="col">
                <div class="add">
                    <div class="img-holder">
                        <div class="img-area">
                            <a href="#">
                                {% if client_details.picture != '' %}
                                    <img src="{{ asset('uploads') ~ "/" ~ client_details.picture }}" alt="images description">
                                {% else %}
                                    <img src="{{ asset('img') }}/unknown-{{ client_details.gender }}.jpg" alt="images description">
                                {% endif %}
                                <div class="description">
                                        <strong>
                                            
                                            {% if client_details.recent_test['healthy_life_score'] is defined and client_details.recent_test['healthy_life_score'] > 0%}
                                                
                                                    {{ '%.1f' | format((client_details.recent_test['healthy_life_score'] * 100))| replace({".0" : ""}) }}% 
                                            {% else %}
                                                ---
                                            {% endif %}
                                        </strong>
                                        <span>OF HEALTHY <br>LIFE POTENTIAL</span>
                                </div>
                            </a>
                                
                            {% if client_details.recent_test['healthy_life_score'] is defined %}
                                {% set life_level = (client_details.recent_test['healthy_life_score'] * 100) %}
                                {% set life_level_left = 100 - life_level %}
                                {% set life_level_left = '%.1f' | format(life_level_left) %}

                            {% else %}
                                {% set life_level_left = 100 %}
                            {% endif %} 
                            <div class="slider-vertical {% if life_level is not defined or life_level > 60 %}slide1{% else %}red{% endif %}">
                                <div class="ui-slider-range" style="{% if life_level_left == 100 %}display: none{% else %}top:{{ life_level_left ~ '%;'}}{% endif %}"></div>
                                <span class="avg">Avg.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col1">
                    <div class="add">
                        <header class="value">
                            {% if client_details.recent_test['years_added'] is defined %} 
                                {% if client_details.recent_test['years_added'] > 0 %}
                                        <strong>+{{ '%.1f' | format(client_details.recent_test['years_added'])| replace({".0" : ""}) }}</strong>
                                    
                                {% else %}
                                    <strong>---</strong>
                                {% endif %}
                            {% else %}
                                <strong>---</strong>
                            {% endif %}
                                
                            <span>Years<br>Added</span>
                        </header>
                            
                        {% set years_added_data = '[' %}
                        {# for item in test_data %}
                            {% if item.status == 'finalised' and item.years_added > 0%}
                                {% set years_added_data = years_added_data ~ '[' ~ '"Test' ~ loop.index ~'",' ~ item.years_added ~ '],' %}
                            {% else %}
                                {% set years_added_data = years_added_data ~ '[' ~ '"Test' ~ loop.index ~'",0],' %}
                            {% endif %}
                        {% endfor #}
                        
                        {% for item in test_data %}
                            {% if item.status == 'finalised' and item.years_added > 0%}
                                {% set years_added_data = years_added_data ~ '[' ~ '"' ~ item.test_datetime|date('d M Y') ~'",' ~ item.years_added ~ '],' %}
                            {% else %}
                                {% set years_added_data = years_added_data ~ '[' ~ '"' ~ item.test_datetime|date('d M Y') ~'",0],' %}
                            {% endif %}
                        {% endfor %}
                        {% set years_added_data = years_added_data|trim(',') ~ ']' %}
                        
                        <div class="img-box bar-chart" data-values='{"title":"YRS", "data":{{ years_added_data }}}'>
                                <div class="chart"></div>
                                <img src="{{ asset('img') }}/img9.png" alt="images description">
                        </div>
                    </div>
            </div>
            <div class="col col2">
                <div class="add">
                    <header class="value">
                        {% if client_details.recent_test['cm_lost'] is defined %} 
                            {% if client_details.recent_test['cm_lost'] > 0 %}
                                <strong>-{{ '%.1f' | format(client_details.recent_test['cm_lost'])| replace({".0" : ""}) }}</strong>
                                
                            {% elseif client_details.recent_test['cm_lost'] < 0 %}
                                <strong>---</strong>
                            {% else %}
                                <strong>---</strong>
                            {% endif %}
                        {% else %}
                            <strong>---</strong>
                        {% endif %}
                            
                        <span>Centimeters<br>Lost</span>
                    </header>
                    <div class="img-box bar-chart" data-values='{"title":"CM", 
                            "data":[
                            ["Chest",{% if client_details.recent_test['biometric_chest_lost'] is defined and client_details.recent_test['biometric_chest_lost'] > 0%}{{ client_details.recent_test['biometric_chest_lost'] }}{% else %}0{% endif %}],
                            ["Thighs",{% if client_details.recent_test['biometric_thigh_lost'] is defined and client_details.recent_test['biometric_thigh_lost'] > 0 %}{{ client_details.recent_test['biometric_thigh_lost'] }}{% else %}0{% endif %}],
                            ["Waist",{% if client_details.recent_test['biometric_waist_value_lost'] is defined and client_details.recent_test['biometric_waist_value_lost'] > 0 %}{{ client_details.recent_test['biometric_waist_value_lost'] }}{% else %}0{% endif %}],
                            ["Arms",{% if client_details.recent_test['biometric_arm_lost'] is defined and client_details.recent_test['biometric_arm_lost'] > 0 %}{{ client_details.recent_test['biometric_arm_lost'] }}{% else %}0{% endif %}]]}'>
                            <div class="chart"></div>
                            <img src="{{ asset('img') }}/img10.png" alt="images description">
                    </div>
                </div>
            </div>
            <div class="col col3">
                <div class="add">
                    <header class="value">
                        {% if client_details.recent_test['kg_lost'] is defined %} 
                            {% if client_details.recent_test['kg_lost'] > 0 %}
                                <strong>-{{ '%.1f' | format(client_details.recent_test['kg_lost'])| replace({".0" : ""}) }}</strong>
                                
                            {% elseif client_details.recent_test['kg_lost'] < 0 %}
                                <strong>---</strong>
                            {% else %}
                                <strong>---</strong>
                            {% endif %}
                        {% else %}
                            <strong>---</strong>
                        {% endif %}
                        
                        <span>Kilograms<br>Lost</span>
                    </header>
                        
                    {% set kg_lost_data = '[' %}
                    {% for item in test_data %}
                        {% if item.status == 'finalised' and item.kg_lost > 0%}
                            {% set kg_lost_data = kg_lost_data ~ '[' ~ '"' ~ item.test_datetime|date('d M Y') ~'",' ~ item.kg_lost ~ '],' %}
                        {% else %}
                            {% set kg_lost_data = kg_lost_data ~ '[' ~ '"' ~ item.test_datetime|date('d M Y') ~'",0],' %}
                        {% endif %}
                    {% endfor %}
                    {% set kg_lost_data = kg_lost_data|trim(',') ~ ']' %}
                    <div class="img-box line-chart" data-values='{"title":"KG", "data":{{ kg_lost_data }}}'>
                            <div class="chart"></div>
                            <img src="{{ asset('img') }}/img8.png" alt="images description">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <aside id="sidebar">
        <div class="txt-holder">
            <a class="btn-link" href="{{ path('acme_club_create_test') }}?id={{ client_details.club_client_id }}"><i class="icon-14"></i> <span>Add a New Test</span></a>
            <h3>Test History <span>({{ client_test_history|length }})</span></h3>
        </div>
        {% for item in client_test_history %}
            {% if item.status == 'draft' %}
                <section class="box">
                    <header class="add-txt">
                            <a href="{{ path('acme_club_create_test') }}?id={{ item.club_client_id }}&test={{ item.client_test_id }}" class="btn-view">View</a>
                            <div class="wrap">
                                    <time class="date" datetime="{{ item.test_datetime|date("Y-m-d") }}">{{ item.test_datetime|date("d F Y") }}</time>
                                    <p>Coached by: {{ item.coach }}</p>
                            </div>
                    </header>
                    <footer class="txt-frame">
                            <h4>DRAFT</h4>
                    </footer>
                </section>
            {% else %}
                <section class="box">
                    <header class="add-txt">
                        <a href="{{ path('acme_club_view_test') }}?id={{ item.client_test_id }}" class="btn-view">View</a>
                        <div class="wrap">
                                <time class="date" datetime="{{ item.test_datetime|date("Y-m-d") }}">{{ item.test_datetime|date("d F Y") }}</time>
                                <p><a class="pointer email-this-test lightbox" href="#popup1" data-test-id="{{ item.client_test_id }}" data-email="{{ client_details.email }}"><i class="icon-mail"></i> Email this test</a></p>
                        </div>
                    </header>
                    <div class="txt-frame">
                        <ul class="list">
                            <li>
                                <strong>
                                    {{ '%.1f' | format((item.healthy_life_score * 100))| replace({".0" : ""}) }}% 
                                    <span>of Healthy Life <br>Potential</span>
                                </strong>
                            </li>
                            <li>
                                <strong>
                                    {{ '%.1f' | format(item.estimated_current_healthy_life_age)| replace({".0" : ""}) }} 
                                    <span>Healthy <br>Life Age</span>
                                </strong>
                            </li>
                            <li>
                                <strong>
                                    {{ '%.1f' | format(item.you_could_add_up_to)| replace({".0" : ""}) }} 
                                    <span>Potential increase in <br>Healthy Life Years</span>
                                </strong>
                            </li>
                        </ul>
                        <ul class="add-list">
                            {% if item.years_added != '' and item.years_added > 0 %}
                                
                                <li>
                                    <strong>
                                        +{{ '%.1f' | format(item.years_added)| replace({".0" : ""}) }}
                                        <span><em>Healthy Life <br>Years added</em></span>
                                    </strong>
                                    
                                </li>
                            {% else %}
                                <li><strong>---<span><span><em>Healthy Life <br>Years added</em></span></strong></li>
                            {% endif %}
                            
                            {% if item.cm_lost != '' and item.cm_lost > 0 %}
                                <li>
                                    <strong>
                                        -{{ '%.1f' | format(item.cm_lost)| replace({".0" : ""}) }}
                                        <br/>
                                        <span><em>CM <br>Lost</em></span>
                                    </strong>
                                </li>
                            {% else %}
                                <li><strong>--- <br/><span>CM <br>Lost</span></strong></li>
                            {% endif %}
                            
                            {% if item.kg_lost != '' and item.kg_lost > 0 %}
                                <li>
                                    <strong>
                                        -{{ '%.1f' | format(item.kg_lost)| replace({".0" : ""}) }}<br/>
                                        <span>KG <br>Lost</span>
                                    </strong>
                                </li>
                            {% else %}
                                <li><strong>---<br/><span>KG <br>Lost</span></strong></li>
                            {% endif %}
                            
                        </ul>
                    </div>
                    <footer class="designation">
                        <p>Coached by: {{ item.coach }}</p>
                        <p>Challenge: {{ item.event_name }}</p>
                    </footer>
                </section>
            {% endif %}
        {% endfor %}
        
        
    </aside>
</div>












    
    <!-- popup holder -->
    <div id="emailTestModal" class="popup-holder">
        <div id="popup1" class="lightbox">
            <fieldset>
                    <h2 class="modal-title">Email This Test</h2>
                    <a href="#" class="email-modal-close close">Close</a>
                    <form id="emailTest" action="{{ path('acme_club_email_test') }}" method="post">
                        <div class="box-row">

                            <div class="field-holder">
                                <div class="row">
                                    <label>Recipients (separated by comma)</label>
                                    <input type="text" name="recipients" class="form-control" required>
                                    <input type="hidden" name="client_test_id">
                                </div>

                            </div>
                        </div>
                    </form>
                    <button type="button" class="btn btn-primary send">Save &amp; Submit</button>
                    {#<input type="submit" class="send" value="Save &amp; Submit">#}
            </fieldset>
        </div>
    </div>

{% endblock %}
