<h1>Hey {{ data.fname }},</h1>

<p>We heard you need a password reset. Click the link below and you'll be 
    redirected to a secure site from which you can set a new password.</p>

<a href="{{ request_form }}?em={{ email }}&rp={{ token }}">Reset Password</a>

<p>If you didn't try to reset your password, <a href="{{ request_undo }}?em={{ email }}&rp={{ token }}">click here</a> and we'll forget this ever happened. </p>