{# extends "::club_layout.html.twig" #}
{% extends "::club_layout_test.html.twig" %}

{% block title %}Create Test{% endblock %}

{% block body %}
<h2>Create Test</h2>

<div class="row">
    <div class="col-lg-7">
        <form action="" method="post">
            <input type="hidden" name="club_client_id" value="{{ client_details.club_client_id }}">
            {% if post.client_test_id is defined %}
                <input type="hidden" id="client_test_id" name="client_test_id" value="{{ post.client_test_id }}">
            {% endif %}
            
                
            <h3>{{ client_details.fname|upper }} {{ client_details.lname|upper }}</h3>
            {{ client_details.age }} Year old {{ client_details.gender }} coached by {{ client_details.coach_fname }} {{ client_details.coach_lname }}
            <br><br>

            {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ flashMessage }}
            </div>
            {% endfor %}

            {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {% for item in flashMessage %}
                    {{ item.message }}<br/>
                {% endfor %}
            </div>
            {% endfor %}


            <h4>General</h4>
            <hr>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Weight (kg) <a class="pointer help" data-field="weight"><span class="glyphicon glyphicon-question-sign"></span></a></label>
                        <input type="number" name="weight" placeholder="Weight (kg)" value="{% if post.weight is defined %}{{ post.weight }}{% endif %}" class="form-control" > 
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Body Mass Index (BMI) <a class="pointer help" data-field="bmi"><span class="glyphicon glyphicon-question-sign"></span></a></label>
                        <input type="text" name="bmi" placeholder="Body Mass Index (BMI)" value="{% if post.bmi is defined %}{{ post.bmi }}{% endif %}" class="form-control" readonly>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-7">
                    <h4>Lifestyle</h4>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <input type="text"  name="lifestyle_physical_activity" {# style="display: none;" #} placeholder="Physical Activity" value="{% if post.lifestyle_physical_activity is defined %}{{ post.lifestyle_physical_activity }}{% else %}{{ app.session.get('lifestyle-physical-activity') }}{% endif %}" class="form-control" readonly>
                        <span class="lifestyle-is-done lifestyle-physical-activity glyphicon {% if s_lifestyle_physical_activity_answer_complete == true %}glyphicon-check{% else %}glyphicon-unchecked{% endif %}"></span> Physical Activity
                    </div>
                </div>

                <div class="col-lg-4">
                    <button type="button" class="btn-questionnaire" data-code="physical_activity">Questionnaire</button> 
                    <a class="pointer help" data-field="physical_activity"><span class="glyphicon glyphicon-question-sign"></span></a>
                </div>
                    
                <div class="col-lg-2">
                    <input type="text" value="{% if post.physical_activity_crf is defined %}{% if post.physical_activity_crf != '' %}{{ post.physical_activity_crf }}{% else %}FALSE{% endif %}{% endif %}" placeholder="CRF" class="form-control" readonly>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <input type="text"  name="lifestyle_smoking" {# style="display: none;" #} placeholder="Smoking" value="{% if post.lifestyle_smoking is defined %}{{ post.lifestyle_smoking }}{% else %}{{ app.session.get('lifestyle-smoking') }}{% endif %}" class="form-control" readonly>
                        <span class="lifestyle-is-done lifestyle-smoking glyphicon {% if s_lifestyle_smoking_answer_complete == true %}glyphicon-check{% else %}glyphicon-unchecked{% endif %}"></span> Smoking
                    </div>
                </div>

                <div class="col-lg-4">
                    <button type="button" class="btn-questionnaire" data-code="smoking">Questionnaire</button> 
                    <a class="pointer help" data-field="smoking"><span class="glyphicon glyphicon-question-sign"></span></a>
                </div>
                    
                <div class="col-lg-2">
                    <input type="text" value="{% if post.smoking_crf is defined %}{% if post.smoking_crf != '' %}{{ post.smoking_crf }}{% else %}FALSE{% endif %}{% endif %}" placeholder="CRF" class="form-control" readonly>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <input type="text"  name="lifestyle_alcohol" {# style="display: none;" #} placeholder="Alcohol Consumption" value="{% if post.lifestyle_alcohol is defined %}{{ post.lifestyle_alcohol }}{% else %}{{ app.session.get('lifestyle-alcohol') }}{% endif %}" class="form-control" readonly>
                        <span class="lifestyle-is-done lifestyle-alcohol glyphicon {% if s_lifestyle_alcohol_answer_complete == true %}glyphicon-check{% else %}glyphicon-unchecked{% endif %}"></span> Alcohol Consumption
                    </div>
                </div>

                <div class="col-lg-4">
                    <button type="button" class="btn-questionnaire" data-code="alcohol">Questionnaire</button> 
                    <a class="pointer help" data-field="alcohol"><span class="glyphicon glyphicon-question-sign"></span></a>
                </div>
                    
                <div class="col-lg-2">
                    <input type="text" value="{% if post.alcohol_crf is defined %}{% if post.alcohol_crf != '' %}{{ post.alcohol_crf }}{% else %}FALSE{% endif %}{% endif %}" placeholder="CRF" class="form-control" readonly>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <input type="text"  name="lifestyle_nutrition" {# style="display: none;" #} placeholder="Nutrition" value="{% if post.lifestyle_nutrition is defined %}{{ post.lifestyle_nutrition }}{% else %}{{ app.session.get('lifestyle-nutrition') }}{% endif %}" class="form-control" readonly>
                        <span class="lifestyle-is-done lifestyle-nutrition glyphicon {% if s_lifestyle_nutrition_answer_complete == true %}glyphicon-check{% else %}glyphicon-unchecked{% endif %}"></span> Nutrition
                    </div>
                </div>

                <div class="col-lg-4">
                    <button type="button" class="btn-questionnaire" data-code="nutrition">Questionnaire</button> 
                    <a class="pointer help" data-field="nutrition"><span class="glyphicon glyphicon-question-sign"></span></a>
                </div>
                    
                <div class="col-lg-2">
                    <input type="text" value="{% if post.nutrition_crf is defined %}{% if post.nutrition_crf != '' %}{{ post.nutrition_crf }}{% else %}FALSE{% endif %}{% endif %}" placeholder="CRF" class="form-control" readonly>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <input type="text"  name="lifestyle_mental_health" {# style="display: none;" #} placeholder="Mental Health" value="{% if post.lifestyle_mental_health is defined %}{{ post.lifestyle_mental_health }}{% else %}{{ app.session.get('lifestyle-mental-health') }}{% endif %}" class="form-control" readonly>
                        <span class="lifestyle-is-done lifestyle-mental-health glyphicon {% if s_lifestyle_mental_health_answer_complete == true %}glyphicon-check{% else %}glyphicon-unchecked{% endif %}"></span> Mental Health
                    </div>
                </div>

                <div class="col-lg-4">
                    <button type="button" class="btn-questionnaire" data-code="mental_health">Questionnaire</button> 
                    <a class="pointer help" data-field="mental_health"><span class="glyphicon glyphicon-question-sign"></span></a>
                </div>
                    
                <div class="col-lg-2">
                    <input type="text" value="{% if post.mental_health_crf is defined %}{% if post.mental_health_crf != '' %}{{ post.mental_health_crf }}{% else %}FALSE{% endif %}{% endif %}" placeholder="CRF" class="form-control" readonly>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <input type="text"  name="lifestyle_risk_profile" {# style="display: none;" #} placeholder="Risk Profile" value="{% if post.lifestyle_risk_profile is defined %}{{ post.lifestyle_risk_profile }}{% else %}{{ app.session.get('lifestyle-risk-profile') }}{% endif %}" class="form-control" readonly>
                        <span class="lifestyle-is-done lifestyle-risk-profile glyphicon {% if s_lifestyle_risk_profile_answer_complete == true %}glyphicon-check{% else %}glyphicon-unchecked{% endif %}"></span> Risk Profile
                    </div>
                </div>

                <div class="col-lg-4">
                    <button type="button" class="btn-questionnaire" data-code="risk_profile">Questionnaire</button> 
                    <a class="pointer help" data-field="risk_profile"><span class="glyphicon glyphicon-question-sign"></span></a>
                </div>
                  
                <div class="col-lg-2">
                    <input type="text" value="{% if post.mental_health_crf is defined %}{% if post.mental_health_crf != '' %}{{ post.mental_health_crf }}{% else %}FALSE{% endif %}{% endif %}" placeholder="CRF" class="form-control" readonly>
                </div>
            </div>
            
            

            <h4>Physiological</h4>
            <hr>
            <div class="row">
                <div class="col-lg-1">
                    <div class="form-group">
                        <label>VO<sup>2</sup> </label>
                    </div>
                </div>

                <div class="col-lg-2">
                    <select name="physiological_vo2_test_type" class="form-control">
                        <option value="">-- select test type --</option>
                        <option value="bike" {% if post.physiological_vo2_test_type is defined and post.physiological_vo2_test_type == 'bike' %}selected{% endif %}>Bike Test</option>
                        <option value="resting-hr" {% if post.physiological_vo2_test_type is defined and post.physiological_vo2_test_type == 'resting-hr' %}selected{% endif %}>Resting HR Test</option>
                        <option value="treadmill" {% if post.physiological_vo2_test_type is defined and post.physiological_vo2_test_type == 'treadmill' %}selected{% endif %}>Treadmill Test</option>
                        <option value="beep" {% if post.physiological_vo2_test_type is defined and post.physiological_vo2_test_type == 'beep' %}selected{% endif %}>Beep Test</option>
                        <option value="direct-entry" {% if post.physiological_vo2_test_type is defined and post.physiological_vo2_test_type == 'direct-entry' %}selected{% endif %}>Direct Entry</option>
                    </select>
                </div>

                <div class="col-lg-2">
                    <input type="number" name="physiological_vo2_test_value1" value="{% if post.physiological_vo2_test_value1 is defined %}{{ post.physiological_vo2_test_value1 }}{% endif %}" class="weight-dependent form-control">
                    <input type="number" name="physiological_vo2_test_value2" value="{% if post.physiological_vo2_test_value2 is defined %}{{ post.physiological_vo2_test_value2 }}{% endif %}" class="weight-dependent form-control" style="display: none">
                </div>
                <div class="col-lg-2">
                    <input type="text" id="physiological_vo2_score" readonly class="form-control" placeholder="Score">
                </div>
                <div class="col-lg-2">
                    <input type="text" name="physiological_vo2" value="{% if post.physiological_vo2 is defined %}{{ post.physiological_vo2 }}{% endif %}" class="form-control" placeholder="Result" readonly> 
                </div>
                <div class="col-lg-1">
                    <a class="pointer help" data-field="physiological_vo2"><span class="glyphicon glyphicon-question-sign"></span></a>
                </div>
                
                {# removelater #}
                <div class="col-lg-2">
                    <input type="text" value="{% if post.vo2_crf is defined %}{% if post.vo2_crf != '' %}{{ post.vo2_crf }}{% else %}FALSE{% endif %}{% endif %}" placeholder="CRF" class="form-control" readonly>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-2">
                    <div class="form-group">
                        <label>Balance Test</label>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="form-group">
                        <select name="physiological_balance_type" class="form-control">
                            <option value="">-- select test type --</option>
                            <option value="standing functional reach" {% if post.physiological_balance_type is defined and post.physiological_balance_type == 'standing functional reach' %}selected{% endif %}>Standing Functional Reach</option>
                            <option value="stork test" {% if post.physiological_balance_type is defined and post.physiological_balance_type == 'stork test' %}selected{% endif %}>Stork Test</option>
                        </select>
                    </div>
                </div>
                    
                <div class="col-lg-2">
                    <div class="form-group">
                        <input type="number" name="physiological_balance_value" value="{% if post.physiological_balance_value is defined %}{{ post.physiological_balance_value }}{% endif %}" class="form-control">
                    </div>
                </div>

                <div class="col-lg-2">
                    <div class="form-group">
                        <input type="text" name="physiological_balance" value="{% if post.physiological_balance is defined %}{{ post.physiological_balance }}{% endif %}" class="form-control" placeholder="Result" readonly>
                    </div>
                </div>
                <div class="col-lg-1">
                    <a class="pointer help" data-field="physiological_balance"><span class="glyphicon glyphicon-question-sign"></span></a>
                </div>
                    
                {# removelater #}
                <div class="col-lg-2">
                    <input type="text" value="{% if post.balance_crf is defined %}{% if post.balance_crf != '' %}{{ post.balance_crf }}{% else %}FALSE{% endif %}{% endif %}" placeholder="CRF" class="form-control" readonly>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Squat Test</label>
                        <input type="text" name="physiological_squat_value" value="{% if post.physiological_squat_value is defined %}{{ post.physiological_squat_value }}{% endif %}" class="form-control" placeholder="Squat Test" >
                        {# removelater #}
                        <input type="text" value="{% if post.physiological_squat is defined  %}{{ post.physiological_squat }}{% endif %}" class="form-control" placeholder="Result" readonly>
                    </div>
                </div>
                <div class="col-lg-1">
                    <a class="pointer help" data-field="physiological_squat"><span class="glyphicon glyphicon-question-sign"></span></a>
                </div>
                    
                {# removelater #}
                <div class="col-lg-2">
                    <input type="text" value="{% if post.squat_test_crf is defined %}{% if post.squat_test_crf != '' %}{{ post.squat_test_crf }}{% else %}FALSE{% endif %}{% endif %}" placeholder="CRF" class="form-control" readonly>
                </div>
                    
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>7 Stage Situp Test</label>
                        <input type="text" name="physiological_situp_value" value="{% if post.physiological_situp_value is defined %}{{ post.physiological_situp_value }}{% endif %}" class="form-control" placeholder="7 Stage Situp Test" >
                        {# removelater #}
                        <input type="text" value="{% if post.physiological_situp is defined %}{{ post.physiological_situp }}{% endif %}" class="form-control" placeholder="Result" readonly>
                    </div>
                </div>
                    
                <div class="col-lg-1">
                    <a class="pointer help" data-field="physiological_situp"><span class="glyphicon glyphicon-question-sign"></span></a>
                </div>
                    
                {# removelater #}
                <div class="col-lg-2">
                    <input type="text" value="{% if post.seven_stage_situp_crf is defined %}{% if post.seven_stage_situp_crf != '' %}{{ post.seven_stage_situp_crf }}{% else %}FALSE{% endif %}{% endif %}" placeholder="CRF" class="form-control" readonly>
                </div>
            </div>

            <h4>Biometric</h4>
            <hr>
            <div class="row">
                <div class="col-lg-11">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Waist</label>
                                <input type="text" name="biometric_waist_value" value="{% if post.biometric_waist_value is defined %}{{ post.biometric_waist_value }}{% endif %}" class="form-control" placeholder="Waist">
                                {# removelater #}
                                <input type="text" id="biometric_waist_score" readonly class="form-control" placeholder="Score">
                                {# removelater #}
                                <input type="text" value="{% if post.waist_crf is defined %}{% if post.waist_crf != '' %}{{ post.waist_crf }}{% else %}FALSE{% endif %}{% endif %}" placeholder="CRF" class="form-control" readonly>
                                
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Chest</label>
                                <input type="text" name="biometric_chest" value="{% if post.biometric_chest is defined %}{{ post.biometric_chest }}{% endif %}" class="form-control" placeholder="Chest">
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Abdomen</label>
                                <input type="text" name="biometric_abdomen" value="{% if post.biometric_abdomen is defined %}{{ post.biometric_abdomen }}{% endif %}" class="form-control" placeholder="Abdomen">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Hip</label>
                                <input type="text" name="biometric_hip" value="{% if post.biometric_hip is defined %}{{ post.biometric_hip }}{% endif %}" class="form-control" placeholder="HIP">
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Thigh</label>
                                <input type="text" name="biometric_thigh" value="{% if post.biometric_thigh is defined %}{{ post.biometric_thigh }}{% endif %}" class="form-control" placeholder="Thigh">
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Arm</label>
                                <input type="text" name="biometric_arm" value="{% if post.biometric_arm is defined %}{{ post.biometric_arm }}{% endif %}" class="form-control" placeholder="Arm">
                            </div>
                        </div>
                    </div>
                </div>
                    
                <div class="col-lg-1">
                    <a class="pointer help" data-field="biometric_upper"><span class="glyphicon glyphicon-question-sign"></span></a>
                </div>
            </div>
            
            

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Body Fat Percentage (%)</label>
                        <input type="text" name="biometric_body_fat_value" value="{% if post.biometric_body_fat_value is defined %}{{ post.biometric_body_fat_value }}{% endif %}" class="form-control" placeholder="Body Fat Percentage (%)">
                        {# removelater #}
                        <input type="text" value="{% if post.biometric_body_fat is defined %}{{ post.biometric_body_fat }}{% endif %}" class="form-control" placeholder="Result" readonly>
                        {# removelater #}
                        <input type="text" value="{% if post.body_fat_crf is defined %}{% if post.body_fat_crf != '' %}{{ post.body_fat_crf }}{% else %}FALSE{% endif %}{% endif %}" placeholder="CRF" class="form-control" readonly>
                    </div>
                </div>
                <div class="col-lg-1">
                    <a class="pointer help" data-field="biometric_body_fat"><span class="glyphicon glyphicon-question-sign"></span></a>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">

                    <div class="row">
                        <div class="col-lg-6">
                            <label>Blood Pressure</label>
                            <div class="form-group">
                                <input type="text" name="biometric_blood_pressure_systolic" value="{% if post.biometric_blood_pressure_systolic is defined  %}{{ post.biometric_blood_pressure_systolic }}{% endif %}" class="form-control" >
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <label>Over</label>
                            <div class="form-group">
                                <input type="text" name="biometric_blood_pressure_diastolic" value="{% if post.biometric_blood_pressure_diastolic is defined  %}{{ post.biometric_blood_pressure_diastolic }}{% endif %}" class="form-control" >
                            </div>
                        </div>
                    </div>
                    
                    {# removelater #}
                    <div class="row">
                        <div class="col-lg-12">
                            <input type="text" value="{% if post.biometric_blood_pressure is defined %}{{ post.biometric_blood_pressure }}{% endif %}" class="form-control" placeholder="Score" readonly>
                            
                            <input type="text" value="{% if post.blood_pressure_crf is defined %}{% if post.blood_pressure_crf != '' %}{{ post.blood_pressure_crf }}{% else %}FALSE{% endif %}{% endif %}" placeholder="CRF" class="form-control" readonly>
                        </div>
                    </div>
                </div>
                    
                <div class="col-lg-1">
                    <a class="pointer help" data-field="biometric_blood_pressure"><span class="glyphicon glyphicon-question-sign"></span></a>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Blood Oxygen</label>
                        <input type="text" name="biometric_blood_oxygen_value" value="{% if post.biometric_blood_oxygen_value is defined  %}{{ post.biometric_blood_oxygen_value }}{% endif %}" class="form-control" placeholder="Blood Oxygen Level">
                        {# removelater #}
                        <input type="text" value="{% if post.biometric_blood_oxygen is defined  %}{{ post.biometric_blood_oxygen }}{% endif %}" class="form-control" placeholder="Result" readonly>
                        {# removelater #}
                        <input type="text" value="{% if post.blood_oxygen_crf is defined %}{% if post.blood_oxygen_crf != '' %}{{ post.blood_oxygen_crf }}{% else %}FALSE{% endif %}{% endif %}" placeholder="CRF" class="form-control" readonly>
                    </div>
                </div>
                    
                <div class="col-lg-1">
                    <a class="pointer help" data-field="biometric_blood_oxygen"><span class="glyphicon glyphicon-question-sign"></span></a>
                </div>
            </div>

            <hr>

            <h4>Cumulative Risk Factor is {% if post.total_crf is defined %}{{ post.total_crf }}{% endif %}</h4>
            
            <hr>
            <h4>Is this assessment part of an event?</h4>
            <hr>

            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <select name="event_id" class="form-control">
                            <option value="">-- select event --</option>
                            {% for item in events %} 
                                <option value="{{ item.event_id }}" {% if post.event_id is defined and post.event_id == item.event_id %}selected{% endif %}>{{ item.event_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <hr>

            <button type="submit" class="btn btn-default btn-draft" name="submit" value="draft">Save Draft</button> 
            <button type="submit" class="btn btn-primary btn-finalise" name="submit" value="finalise">Submit</button>
        </form>
    </div>
        
    <div class="col-lg-5">
        <h3>Help</h3>
        
        <p>Click here to see the guide.</p>
        
        <div class="help-container">
        </div>
    </div>
</div>

<form id="frmLifestyle" action="{{ path('acme_club_create_test_life_style_test_answer') }}" method="post">
    <input type="hidden" name="club_client_id" value="{{ client_details.club_client_id }}">
    <!-- Modal -->
    <div class="modal fade" id="lifeStyleQuestionnaireModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Modal title</h4>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn-submit-lifestyle-answer btn btn-primary">Save & Submit</button>
          </div>
        </div>
      </div>
    </div>
</form>


<form id="frmVo2">
    <!-- Modal -->
    <div class="modal fade" id="vO2QuestionnaireModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Modal title</h4>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn-submit-vo2 btn btn-primary">Save & Submit</button>
          </div>
        </div>
      </div>
    </div>
</form>
{% endblock %}


{% block javascripts %}
<script type="text/javascript">
    var asset_img = "{{ asset('img') }}";
    var asset_resources = "{{ asset('resources') }}";
    var test_questionnaire_path = "{{ path('acme_club_create_test_questionnaire') }}";
    var vo2_questionnaire_path = "{{ path('acme_club_create_vo2_questionnaire') }}";
    var get_help_path = "{{ path('acme_club_help_get_help') }}";
    var club_client_id = "{{ client_details.club_client_id }}";
    var client_test_id = "{% if app.request.get('test') is defined %}{{ app.request.get('test') }}{% endif %}";
    var default_height = "{{ client_details.height }}";
    var default_gender = "{{ client_details.gender }}";
    var default_age = "{{ client_details.age }}";
    
    // Test Result Paths
    var get_bmi_result_path = "{{ path('acme_club_create_test_get_bmi_result') }}";
    var get_physical_activity_result_path = "{{ path('acme_club_create_test_get_physical_activity_result') }}";
    var get_smoking_path = "{{ path('acme_club_create_test_get_smoking_result') }}";
    var get_alcohol_consumption_path = "{{ path('acme_club_create_test_get_alcohol_consumption_result') }}";
    var get_nutrition_path = "{{ path('acme_club_create_test_get_nutrition_result') }}";
    var get_mental_health_path = "{{ path('acme_club_create_test_get_mental_health_result') }}";
    var get_risk_profile_path = "{{ path('acme_club_create_test_get_risk_profile_result')  }}";
    var get_vo2_test_path = "{{ path('acme_club_create_test_get_vo2_test_result') }}";
    var get_balance_test_path = "{{ path('acme_club_create_test_get_balance_test_result') }}";
    
    // removelater
    var get_waist_test_path = "{{ path('acme_club_create_test_get_waist_test_result') }}";
</script>
<script src="{{ asset('js') }}/club/test.js"></script>
{% endblock %}