<div class="wrapper">
    {# HEADER #}
    <table class="logo-area">
        <tr>
            <td class="logo">
                <img src="{{ site_url }}/img/logo-anytime.png" alt="images description">
            </td>
            <td class="club-name">
                {{ app.session.get('club_name') }}
            </td>
        </tr>
    </table>

    <table class="client">
        <tr>
            <td class="name">
                <h1>{{ client_details.fname|upper }} {{ client_details.lname|upper }}</h1>
                <p>{{ client_details.age }} Year old {{ client_details.gender }} coached by {{ client_details.coach_fname }} {{ client_details.coach_lname }}</p>
            </td>
            <td class="datetime">
                <p>{{ test_details.test_datetime|date("d F Y") }}</p>
            </td>
        </tr>
    </table>

    {% if test_details.event_id != '' %}
    <div class="challenge"><p><strong>Challenge:</strong> {{ test_details.event_name }}</p></div>
    {% endif %}
    <div class="intro-text">
        <strong>The Healthy Life Project is about EDUCATING Australians about how they can potentially live more years free of the burden of disease, INSPIRE them to make the positive changes required in their lives &amp; MOTIVATE them to stick with it.</strong>
    </div>
        
        
    <table class="intro-averages">
        <tr>
            <td class="col-1">
                <img src="{{ site_url }}/img/reports-icons/icon-27.jpg">
                <p>The average Australian male lives for a total of {{ hl_expectancy_male.total_expectancy }} years, {{ hl_expectancy_male.expectancy }} Healthy Life years &amp; {{ hl_expectancy_male.dalys }} Disability affected life years as a result of Injury, Illness or disease. </p>
            </td>
            <td class="col-2">
                <img src="{{ site_url }}/img/reports-icons/icon-28.jpg">
                <p>The average Australian female lives for a total of {{ hl_expectancy_female.total_expectancy }} years, {{ hl_expectancy_female.expectancy }} 
                Healthy Life years & {{ hl_expectancy_female.dalys }} Disability affected life years as a result 
                of Injury, Illness or disease.</p>
            </td>
            <td class="col-3">
                <img src="{{ site_url }}/img/reports-icons/icon-29.jpg">
                <p>95% of these Years of Healthy life lost are a result of Chronic disease, injury or illness - Most of which could be prevented or avoided through lifestyle modification.</p>
            </td>
        </tr>
    </table>
        

    {# SUMMARY OF YOUR RESULTS #}
                
    <div class="summary">
        <h2>SUMMARY OF YOUR RESULTS</h2>
        
        
        <table class="summary-wrapper">
            <tr>
                <td class="col-0">
                    <img src="{{ site_url }}/img/reports-icons/life-expectancy.jpg">
                </td>
                <td class="col-1">
                    {# TABLE 1 #}
                    <table cellspacing="0">
                        <tr>
                            <td class="description-1">
                                YEARS LOST TO CHRONIC DISEASE INJURY, ILLNESS OR EARLY DEATH
                            </td>
                            <td class="value">
                                <span class="number">
                                    {{ '%.1f' | format(test_details.estimated_years_you_will_live_with_did)| replace({".0" : ""}) }} 
                                </span><br>
                                <span>Years of <br>Affected Life</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="description-2">
                                
                            </td>
                            <td class="value"></td>
                        </tr>
                        <tr>
                            <td class="description-3">
                                <p>YOUR <br>HEALTHY <br>LIFE YEAR <br>EXPECTANCY</p>
                            </td>
                            <td class="value">
                                <span class="number">
                                    {{ '%.1f' | format(test_details.estimated_healthy_life_expectancy)| replace({".0" : ""}) }} 
                                </span><br>
                                <span>Years of <br>Expected <br>Healthy Life</span>
                            </td>
                        </tr>
                    </table>
                
                </td>
                <td class="col-2">
                    
                    {# TABLE 2 #}
                    <table cellspacing="0">
                        <tr>
                            <td class="img-1"><img src="{{ site_url }}/img/reports-icons/years-added.jpg"></td>
                            <td class="value value-1">
                                <span class="number">
                                    {{ '%.1f' | format((test_details.healthy_life_score * 100))| replace({".0" : ""}) }}%
                                </span>
                                <br>of Healthy Life <br>Potential
                            </td>
                            <td class="description-1">
                                <span>Of the total number of Healthy Life years you could live. </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="img-2"><img src="{{ site_url }}/img/reports-icons/cake.jpg"></td>
                            <td class="value">
                                <span class="number">
                                    {{ '%.1f' | format(test_details.estimated_current_healthy_life_age)| replace({".0" : ""}) }}
                                </span>
                                <br>Healthy Life Age
                            </td>
                            <td class="description-2">
                                <span>Your estimated 'age' based on your estimated years of healthy life left compared to the Australian average.</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="img-3"><img src="{{ site_url }}/img/reports-icons/life.jpg"></td>
                            <td class="value">
                                <span class="number">
                                    {{ '%.1f' | format(test_details.you_could_add_up_to)| replace({".0" : ""}) }}
                                </span>
                                <br>Potential Healthy Life Years to Add
                            </td>
                            <td class="description-3">
                                <span>The number of healthy years you could add to your life by making a change.</span>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        
        <span class="summary-client-name">{{ client_details.fname|upper }}</span>
    </div>
        
    <br><br>
    <div class="summary-footer">
        <table>
            <tr>
                <td class="col1">

                    <table>
                        <tr>
                            <td class="img"><img src="{{ site_url }}/img/reports-icons/years-added.jpg"></td>
                            <td class="value">
                                {% if test_details.years_added != '' and test_details.years_added > 0 %}
                                    {{ '%.1f' | format(test_details.years_added)| replace({".0" : ""}) }}
                                {% else %}
                                    ---
                                {% endif %}
                            </td>
                            <td class="description">Years <br>Added</td>
                        </tr>
                    </table>

                </td>
                
                <td class="col2">
                    <table>
                        <tr>
                            <td class="img"><img src="{{ site_url }}/img/reports-icons/cm-lost.jpg"></td>
                            <td class="value">
                                {% if test_details.cm_lost != '' and test_details.cm_lost > 0 %}
                                    {{ '%.1f' | format(test_details.cm_lost)| replace({".0" : ""}) }}
                                {% else %}
                                    ---
                                {% endif %}
                            </td>
                            <td class="description">CM <br>Lost</td>
                        </tr>
                    </table>
                </td>
                
                <td class="col3">
                    <table>
                        <tr>
                            <td class="img"><img src="{{ site_url }}/img/reports-icons/kg-lost.jpg"></td>
                            <td class="value">
                                {% if test_details.kg_lost != '' and test_details.kg_lost > 0 %}
                                    {{ '%.1f' | format(test_details.kg_lost)| replace({".0" : ""}) }}
                                {% else %}
                                    ---
                                {% endif %}
                            </td>
                            <td class="description">KG <br>Lost</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    
    <br>
    <div class="results-detail">
        <h2>YOUR RESULTS (IN DETAIL)</h2>
        
        <table cellspacing="0">
            <tr>
                <td class="description"><p>Your Current <br>Healthy Life <br>Score is</p></td>
                <td class="value">
                    <span class="number">{{ '%.1f' | format((test_details.healthy_life_score * 100))| replace({".0" : ""}) }}%</span>
                </td>
                <td class="result-special">
                    <div class="result" style="background-color: {{ test_details.healthy_life_score_outcome['color'] }}">{{ test_details.healthy_life_score_outcome['result'] }}</div>
                    <p>Your healthy life score is where you are currently at of your 'Healthy Life Potential' - The average Australian is at roughly 80% of their Healthy Life potential, 100% means you are as healthy as can be, below 55% means some serious changes need to be made.</p>
                    <p>95% of these Years of Healthy life lost are a result of Chronic disease or Injury - Most of which could be prevented or avoided through lifestyle modification.</p>
                </td>
            </tr>
            
            <tr>
                <td class="description"><p>Your Estimated <br>Healthy Life <br>Expectancy is</p></td>
                <td class="value-colspan" colspan="2">
                    <table width="200px">
                        <tr>
                            <td class="value">
                                <span class="number">{{ '%.1f' | format(test_details.estimated_healthy_life_expectancy)| replace({".0" : ""}) }}</span>
                                <br>
                                <span class="text">Years</span>
                            </td>
                            
                            <td class="middle">
                                <p>Out of a <br>possible</p>
                            </td>
                            
                            <td class="value">
                                <span class="number">{{ test_details.max_hle }}</span>
                                <br><span class="text">Years</span>
                            </td>
                        </tr>
                    </table>
                    
                    
                </td>
            </tr>
            
            
            <tr>
                <td class="description"><p>Estimated <br>Years of Healthy <br>Life left</p></td>
                <td class="value">
                    <span class="number">{{ '%.1f' | format(test_details.estimated_years_of_healthy_life_left)| replace({".0" : ""}) }} </span>
                    <br><span class="text">Years</span>
                </td>
                <td class="result">
                    <p>Based on the average Australian, your current age, lifestyle & physical 
                        condition this is an estimate of the number of healthy years you've 
                        added to before being affected by disability, injury or disease - 
                        many of which are preventable through positive lifestyle change.</p>
                </td>
            </tr>
            
            <tr class="last-row">
                <td class="description"><p>Estimated number <br>of years you will <br>live with a disability, <br>injury or disease</p></td>
                <td class="value-colspan" colspan="2">
                    <table width="200px">
                        <tr>
                            <td class="value">
                                <span class="number">{{ '%.1f' | format(test_details.estimated_years_you_will_live_with_did)| replace({".0" : ""}) }}</span>
                                <br>
                                <span class="text">Years</span>
                            </td>
                            
                            <td class="middle">
                                <p>as opposed to <br>the Australian <br>average of</p>
                            </td>
                            
                            <td class="value">
                                <span class="number">{{ '%.1f' | format(test_details.estimated_years_you_will_live_with_did_as_opposed_to)| replace({".0" : ""}) }}</span>
                                <br><span class="text">Years</span>
                            </td>
                        </tr>
                    </table>
                    
                    
                </td>
            </tr>
        </table>
        
    </div>
    
    <div class="results-detail">
    <div class="middle-text">
        <p>You could add up to <br>
            <strong>
                    {{ '%.1f' | format(test_details.you_could_add_up_to)| replace({".0" : ""}) }} years
            </strong> 
                to your estimated <br>healthy life years.</p>
    </div>

    <table cellspacing="0">
        <tr>
            <td class="description"><p>Your estimated <br>current Healthy <br>Life Age is</p></td>
            <td class="value">
                <span class="number">{{ '%.1f' | format(test_details.estimated_current_healthy_life_age)| replace({".0" : ""}) }}</span>
                <br>
                <span class="text">Years Old</span>
            </td>
            <td class="result">
                <p>Based on your estimated years <br>of healthylife left compared <br>to the Australian average.</p>
            </td>
        </tr>
    </table>
    </div>
    
    <div class="results-detail detailed">
        <table cellspacing="0">
            <tr>
                <td class="description"><p>Physical Activity</p></td>
                <td class="value">
                    {% if test_details.lifestyle_physical_activity_result['level'] == 'High'%}
                        <img class="thumb" src="{{ site_url }}/img/reports-icons/icon-31.jpg">
                    {% elseif test_details.lifestyle_physical_activity_result['level'] == 'Low'%}
                        <img class="thumb" src="{{ site_url }}/img/reports-icons/icon-30.jpg">
                    {% else %}
                        <img class="thumb" src="{{ site_url }}/img/reports-icons/icon-32.jpg">
                    {% endif %}
                </td>
                <td class="result">
                    <p>Physical activity is any activity that gets your body moving, makes your breathing become quicker and your heart beat faster.  You can be physically active in many different ways, at any time of the day.</p>
                    <p><strong>YOUR SCORE:  {{ test_details.lifestyle_physical_activity_result['text']|raw }}</strong></p>
                </td>
            </tr>
            
            <tr>
                <td class="description"><p>Smoking Habits</p></td>
                <td class="value">
                    {% if test_details.lifestyle_smoking_result['level'] == 'High'%}
                        <img class="thumb" src="{{ site_url }}/img/reports-icons/icon-31.jpg">
                    {% elseif test_details.lifestyle_smoking_result['level'] == 'Low'%}
                        <img class="thumb" src="{{ site_url }}/img/reports-icons/icon-30.jpg">
                    {% else %}
                        <img class="thumb" src="{{ site_url }}/img/reports-icons/icon-32.jpg">
                    {% endif %}
                </td>
                <td class="result">
                    <p>Tobacco smoking is a leading risk factor for chronic disease and early death, including many types of cancer, respiratory disease and heart disease - Tobacco smoking is one of the highest contributors to the burden of disease in Australia of all the risk factors for ill health.</p>
                    <p><strong>YOUR SCORE:  {{ test_details.lifestyle_smoking_result['text']|raw }}</strong></p>
                </td>
            </tr>
            
            <tr>
                <td class="description"><p>Alcohol Consumption</p></td>
                <td class="value">
                    {% if test_details.lifestyle_alcohol_result['level'] == 'High'%}
                        <img class="thumb" src="{{ site_url }}/img/reports-icons/icon-31.jpg">
                    {% elseif test_details.lifestyle_alcohol_result['level'] == 'Low'%}
                        <img class="thumb" src="{{ site_url }}/img/reports-icons/icon-30.jpg">
                    {% else %}
                        <img class="thumb" src="{{ site_url }}/img/reports-icons/icon-32.jpg">
                    {% endif %}

                </td>
                <td class="result">
                    <p>The consumption of alcohol is widespread in Australia and entwined with many social and cultural activities.  Excessive consumption is a major cause of road and other accidents, domestic and public violence, crime, liver disease and brain damage, and contributes to family breakdown and broader social dysfunction.can lead to liver damage and a range of other health problems.  Based on the standards outlined by the National Health & Medical Resource Council, One in Five Australians drink at levels that place them at risk of lifetime harm and over two in five Australian adults drink at levels that placed them at risk of an alcohol related injury from a single drinking occassion. </p>
                    <p><strong>YOUR SCORE: {{ test_details.lifestyle_alcohol_result['text']|raw }}</strong></p>
                </td>
            </tr>
            
            <tr>
                <td class="description"><p>Nutrition</p></td>
                <td class="value">
                    {% if test_details.lifestyle_nutrition_result['level'] == 'High'%}
                        <img class="thumb" src="{{ site_url }}/img/reports-icons/icon-31.jpg">
                    {% elseif test_details.lifestyle_nutrition_result['level'] == 'Low'%}
                        <img class="thumb" src="{{ site_url }}/img/reports-icons/icon-30.jpg">
                    {% else %}
                        <img class="thumb" src="{{ site_url }}/img/reports-icons/icon-32.jpg">
                    {% endif %}

                </td>
                <td class="result">
                    <p>A healthy diet is crucial to ensure we get enough of the nutrients essential for good health and to help reduce our risk of chronic health problems such as heart disease, type 2 diabetes, some cancers and obesity. Our dietary patterns are made up of foods and drinks, not simply nutrients – it’s the types and amounts of the foods and drinks that we consume regularly that really matter for our health.  We may also feel better, look better, enjoy life more and live longer! </p>
                    <p><strong>YOUR SCORE: {{ test_details.lifestyle_nutrition_result['text']|raw }}</strong></p>
                </td>
            </tr>
            
            <tr>
                <td class="description"><p>Mental Health</p></td>
                <td class="value">
                    {% if test_details.lifestyle_mental_health_result['level'] == 'High'%}
                        <img class="thumb" src="{{ site_url }}/img/reports-icons/icon-31.jpg">
                    {% elseif test_details.lifestyle_mental_health_result['level'] == 'Low'%}
                        <img class="thumb" src="{{ site_url }}/img/reports-icons/icon-30.jpg">
                    {% else %}
                        <img class="thumb" src="{{ site_url }}/img/reports-icons/icon-32.jpg">
                    {% endif %}

                </td>
                <td class="result">
                    <p>Good mental health is a sense of wellbeing, confidence and self-esteem. It enables us to fully enjoy and appreciate other people, day-to-day life and our environment. When we are mentally healthy we can: Form positive relationships, Use our abilities to reach our potential and deal with lifes challenges.  </p>
                    <p><strong>YOUR SCORE: {{ test_details.lifestyle_mental_health_result['text']|raw }}</strong></p>
                </td>
            </tr>
            
            <tr>
                <td class="description"><p>VO²</p></td>
                <td class="value">
                    {% if test_details.physiological_vo2_result['level'] == 'High'%}
                        <img class="thumb" src="{{ site_url }}/img/reports-icons/icon-31.jpg">
                    {% elseif test_details.physiological_vo2_result['level'] == 'Low'%}
                        <img class="thumb" src="{{ site_url }}/img/reports-icons/icon-30.jpg">
                    {% else %}
                        <img class="thumb" src="{{ site_url }}/img/reports-icons/icon-32.jpg">
                    {% endif %}
                </td>
                <td class="result">
                    <p>VO2 max testing asseses the cardiovascular systems ability to deliver and utilise oxygen to the muscles, as such we use this to evaluate the capacity of your heart, lungs and circulation.  Cardiovascular efficiency is linked to many health benefits including:  1. Reduce your risk of, or help manage, cardiovascular disease and type 2 diabetes 2. Maintain or improve your blood pressure, cholesterol and blood sugar levels 3. Reduce your risk of and assist with rehabilitation of some cancers 4. Weight management 5. Help develop and maintain overall physical and mental well-being.</p>
                    <p><strong>YOUR SCORE: {{ test_details.physiological_vo2_result['text']|raw }}</strong></p>
                </td>
            </tr>
            
            <tr>
                <td class="description"><p>Risk Profile</p></td>
                <td class="value">
                    {% if test_details.lifestyle_risk_profile_result['level'] == 'High'%}
                        <img class="thumb" src="{{ site_url }}/img/reports-icons/icon-31.jpg">
                    {% elseif test_details.lifestyle_risk_profile_result['level'] == 'Low'%}
                        <img class="thumb" src="{{ site_url }}/img/reports-icons/icon-30.jpg">
                    {% else %}
                        <img class="thumb" src="{{ site_url }}/img/reports-icons/icon-32.jpg">
                    {% endif %}
                </td>
                <td class="result">
                    <p>Risk taking behaviors such as - thrill seeking, reckless, rebellious and antisocial or even criminal activities are related to some specific physical, socioeconomic and emotional vulnerability.  Your personal Risk taking ‘profile’ can increase your risk of specific injuries and diseases.</p>
                    <p><strong>YOUR SCORE: {{ test_details.lifestyle_risk_profile_result['text']|raw }}</strong></p>
                </td>
            </tr>
            
            <tr>
                <td class="description"><p>Body Fat Percentage</p></td>
                <td class="value">
                    {% if test_details.biometric_body_fat_result['level'] == 'High'%}
                        <img class="thumb" src="{{ site_url }}/img/reports-icons/icon-31.jpg">
                    {% elseif test_details.biometric_body_fat_result['level'] == 'Low'%}
                        <img class="thumb" src="{{ site_url }}/img/reports-icons/icon-30.jpg">
                    {% else %}
                        <img class="thumb" src="{{ site_url }}/img/reports-icons/icon-32.jpg">
                    {% endif %}
                </td>
                <td class="result">
                    <p>Your body fat % is an estimate of the percentage of fat your body contains. Some body fat is required for overall health as it plays an important role in protecting internal organs, providing energy, and regulating hormones.  Excess body fat is linked to an increased risk for diseases such as cancer, diabetes, and heart disease.</p>
                    <p><strong>YOUR SCORE: {{ test_details.biometric_body_fat_result['text']|raw }}</strong></p>
                </td>
            </tr>
            
            <tr>
                <td class="description"><p>Blood Pressure</p></td>
                <td class="value">
                    {% if test_details.biometric_blood_pressure_result['level'] == 'High'%}
                        <img class="thumb" src="{{ site_url }}/img/reports-icons/icon-31.jpg">
                    {% elseif test_details.biometric_blood_pressure_result['level'] == 'Low'%}
                        <img class="thumb" src="{{ site_url }}/img/reports-icons/icon-30.jpg">
                    {% else %}
                        <img class="thumb" src="{{ site_url }}/img/reports-icons/icon-32.jpg">
                    {% endif %}
                </td>
                <td class="result">
                    <p>Blood pressure is a measure of the pressure of the blood in the arteries as the heart pumps it around the body.  Recorded as two numbers, for example 120 over 80 (120/80). The higher number indicates the pressure in the arteries as the heart squeezes blood out during each beat. It is called the systolic blood pressure. The lower number indicates the pressure as the heart relaxes before the next beat. It is called the diastolic blood pressure.</p>
                    <p><strong>YOUR SCORE: {{ test_details.biometric_blood_pressure_result['text']|raw }}</strong></p>
                </td>
            </tr>
            
            <tr>
                <td class="description"><p>Blood Oxygen</p></td>
                <td class="value">
                    {% if test_details.biometric_blood_oxygen_result['level'] == 'High'%}
                        <img class="thumb" src="{{ site_url }}/img/reports-icons/icon-31.jpg">
                    {% elseif test_details.biometric_blood_oxygen_result['level'] == 'Low'%}
                        <img class="thumb" src="{{ site_url }}/img/reports-icons/icon-30.jpg">
                    {% else %}
                        <img class="thumb" src="{{ site_url }}/img/reports-icons/icon-32.jpg">
                    {% endif %}
                </td>
                <td class="result">
                    <p>Blood oxygen % is a measure of the oxygen levels in your blood. It is an indicator of oxygen delivery to different areas of the body.  A low Blood oxygen % may indicate health problems relating to your heart and lungs.</p>
                    <p><strong>YOUR SCORE: {{ test_details.biometric_blood_oxygen_result['text']|raw }}</strong></p>
                </td>
            </tr>
            
            <tr>
                <td class="description"><p>Balance Test</p></td>
                <td class="value">
                    {% if test_details.physiological_balance_result['level'] == 'High'%}
                        <img class="thumb" src="{{ site_url }}/img/reports-icons/icon-31.jpg">
                    {% elseif test_details.physiological_balance_result['level'] == 'Low'%}
                        <img class="thumb" src="{{ site_url }}/img/reports-icons/icon-30.jpg">
                    {% else %}
                        <img class="thumb" src="{{ site_url }}/img/reports-icons/icon-32.jpg">
                    {% endif %}
                            
                </td>
                <td class="result">
                    <p>Every activity we do relies on our ability to balance.  As we age, we gradually start to lose our muscle strength, vision and sensory perception – all things that contribute to our ability to balance. As a result, our mobility can be compromised and lack of mobility can lead to falling, which can lead to a whole new set of health issues.</p>
                    <p><strong>YOUR SCORE: {{ test_details.physiological_balance_result['text']|raw }}</strong></p>
                </td>
            </tr>
            
            <tr>
                <td class="description"><p>Squat Test</p></td>
                <td class="value">
                    {% if test_details.physiological_squat_result['level'] == 'High'%}
                        <img class="thumb" src="{{ site_url }}/img/reports-icons/icon-31.jpg">
                    {% elseif test_details.physiological_squat_result['level'] == 'Low'%}
                        <img class="thumb" src="{{ site_url }}/img/reports-icons/icon-30.jpg">
                    {% else %}
                        <img class="thumb" src="{{ site_url }}/img/reports-icons/icon-32.jpg">
                    {% endif %}
                            
                </td>
                <td class="result">
                    <p>Every activity we do relies on our ability to balance.  As we age, we gradually start to lose our muscle strength, vision and sensory perception – all things that contribute to our ability to balance. As a result, our mobility can be compromised and lack of mobility can lead to falling, which can lead to a whole new set of health issues.</p>
                    <p><strong>YOUR SCORE: {{ test_details.physiological_balance_result['text']|raw }}</strong></p>
                </td>
            </tr>
            
            <tr >
                <td class="description"><p>Sit Up Test</p></td>
                <td class="value">
                    {% if test_details.physiological_situp_result['level'] == 'High'%}
                        <img class="thumb" src="{{ site_url }}/img/reports-icons/icon-31.jpg">
                    {% elseif test_details.physiological_situp_result['level'] == 'Moderate'%}
                        <img class="thumb" src="{{ site_url }}/img/reports-icons/icon-30.jpg">
                    {% elseif test_details.physiological_situp_result['level'] == 'Low'%}
                        <img class="thumb" src="{{ site_url }}/img/reports-icons/icon-30.jpg">
                    {% else %}
                        <img class="thumb" src="{{ site_url }}/img/reports-icons/icon-32.jpg">
                    {% endif %}
                </td>
                <td class="result">
                    <p>The 7 stage sit-up test is designed to give an assessment of your abdominal strength - The abdominal muscles performs vital functions in everyday life. Playing an essential role in a range of activities including</p>
                    <ol>
                        <li>Lifting</li>
                        <li>Maintaining good posture</li>
                        <li>Maintaining core stability during physical activities</li>
                        <li>Trunk flexion during tasks</li>
                        <li>Activities such as breathing, urination and childbirth</li>
                        <li>Reducing the risk of back injury. Individuals who have weak abdominals are predisposed to the development of back injury.</li>
                    </ol>
                    <p><strong>YOUR SCORE: {{ test_details.physiological_situp_result['text']|raw }}</strong></p>
                </td>
            </tr>
            
            <tr class="last-row">
                <td class="description"><p>Waist Measurement</p></td>
                <td class="value">
                    {% if test_details.biometric_waist_result['level'] == 'High'%}
                        <img class="thumb" src="{{ site_url }}/img/reports-icons/icon-31.jpg">
                    {% elseif test_details.biometric_waist_result['level'] == 'Low'%}
                        <img class="thumb" src="{{ site_url }}/img/reports-icons/icon-30.jpg">
                    {% else %}
                        <img class="thumb" src="{{ site_url }}/img/reports-icons/icon-32.jpg">
                    {% endif %}
                </td>
                <td class="result">
                    <p>Measuring your waist circumference is a simple check to tell how much body fat you have and where it is placed around your body.  Where your fat is located can be an important sign of your risk of developing an ongoing health problem.</p>
                    <p><strong>YOUR SCORE: {{ test_details.biometric_waist_result['text']|raw }}</strong></p>
                </td>
            </tr>
            
        </table>
            
        <div class="footer-area">
            <p>The Healthy Life Project &amp; Healthy Life Score is designed to give you an overall idea of your health &amp; well-being, &amp; a general indication of how lifestyle, physiological &amp; biometric factors may affect it.  The test will also give you a general indication of whether there is more you can do to improve.  This is not intended to be a medical diagnostic tool, nor a substitute for professional medical advice.  It has been designed as a tool to Educate, Inspire &amp; Motivate on possible positive change in respect to your health &amp; well-being.</p>
        </div>
    </div>
    
    
</div>

