<h4>Answer these questions based on your exercise patterns for the last 7 days, try & be as honest as possible in order to get the most accurate estimate of your 'Healthy Life Score'.</h4>
<input type="hidden" name="answer_type" value="physical-activity">
<input type="hidden" name="client_test_id" value="{{ client_test_id }}">


{% for item in questions %}
<div class="row">
    <div class="col-lg-8">
        <div class="form-group">
            {{ loop.index }}. {{ item.question }}
        </div>
    </div>
        
    <div class="col-lg-4">
        <div class="form-group">
            <input type="number" name="answer[{{ item.lq_id }}]" value="{{ item.answer }}" id="{{ item.class }}" class="form-control">
        </div>
    </div>
</div>
{% endfor %}