<h4>On a scale of 1 (highly unlikely)- 7 (Highly likely) how likely are you to partake in the following activities?</h4>
<input type="hidden" name="answer_type" value="risk-profile">
<input type="hidden" name="client_test_id" value="{{ client_test_id }}">


{% for item in questions %}
<div class="row">
    <div class="col-lg-8">
        <div class="form-group">
            {{ loop.index }}. {{ item.question }}
        </div>
    </div>
    
    <div class="col-lg-4">
        <div class="form-group">
            <input type="number" name="answer[{{ item.lq_id }}]" value="{% if item.answer is defined %}{{ item.answer }}{% endif %}" min="1" max="7" class="form-control">
        </div>
    </div>
</div>
{% endfor %}