<h4>Answer the 10 questions below based on the last 7 days:  Be honest, this is all about assessing whether you are eating for health.</h4>

<input type="hidden" name="answer_type" value="nutrition">
<input type="hidden" name="client_test_id" value="{{ client_test_id }}">


{% for item in questions %}
<div class="row">
    <div class="col-lg-8">
        <div class="form-group">
            {{ loop.index }}. {{ item.question }}
        </div>
    </div>
        
    <div class="col-lg-4">
        <div class="form-group">
            <label><input type="radio" name="answer[{{ item.lq_id }}]" class="{{ item.class }}" value="1" {% if item.answer is defined and item.answer == 1 %}checked{% endif %}> Yes</label>
            <label><input type="radio" name="answer[{{ item.lq_id }}]" class="{{ item.class }}" value="0" {% if item.answer is defined and item.answer == 0 and item.answer is not empty %}checked{% endif %}> No</label>
        </div>
    </div>
</div>
{% endfor %}