<input type="hidden" name="answer_type" value="alcohol">
<input type="hidden" name="client_test_id" value="{{ client_test_id }}">


{% for item in questions %}
<div class="row">
    <div class="col-lg-8">
        <div class="form-group">
            {{ loop.index }}. {{ item.question }}
        </div>
    </div>
        
    <div class="col-lg-4">
        <div class="form-group">
            <input type="number" id="{{ item.class }}" name="answer[{{ item.lq_id }}]" value="{{ item.answer }}" class="form-control">
        </div>
    </div>
</div>
{% endfor %}