<h4>In the last 30 days, how often have you felt:</h4>
<input type="hidden" name="answer_type" value="mental-health">
<input type="hidden" name="client_test_id" value="{{ client_test_id }}">


{% for item in questions %}
<div class="row">
    <div class="col-lg-8">
        <div class="form-group">
            {{ loop.index }}. {{ item.question }}
        </div>
    </div>
    
    <div class="col-lg-4">
        <div class="form-group">
            <select name="answer[{{ item.lq_id }}]" class="form-control">
                <option value="">-- select answer --</option>
                {% for option in options %}
                    <option value="{{ option.option_value }}" {% if item.answer is defined and item.answer == option.option_value %}selected{% endif %}>{{ option.option_description }}</option>
                {% endfor %}
            </select>
                
        </div>
    </div>
</div>
{% endfor %}