{% extends "::head_office_layout.html.twig" %}

{% block title %}Dashboard{% endblock %}

{% block body %}

<!-- section cols -->
<div class="three-cols">
    <div class="container">
        <section class="col">
            <div class="add">
                <header class="value">
                    {% if summary[0]['total_kg_lost'] is defined and summary[0]['total_kg_lost'] > 0 %}
                        <strong>-{{ '%.1f' | format(summary[0]['total_kg_lost'])| replace({".0" : ""}) }} <em>KG Lost</em></strong>
                        
                    {% else %}
                        <strong>--- <em>KG Lost</em></strong>
                    {% endif %}
                        
                    {% if summary[0]['avg_kg_lost'] is defined and summary[0]['avg_kg_lost'] > 0 %}
                        <span>Avg {{ '%.1f' | format(summary[0]['avg_kg_lost'])| replace({".0" : ""}) }} KG <br>Per Client</span>
                    {% else %}
                        <span>Avg --- KG <br>Per Client</span>
                    {% endif %}
                    
                </header>
                {% set kg_lost_data = '[' %}
                {% for month, value in data %}
                    {% if value[0]['total_kg_lost'] is defined and value[0]['total_kg_lost'] > 0 %}
                        {% set kg_lost_data = kg_lost_data ~ '[' ~ '"' ~ month ~'",' ~ value[0]['total_kg_lost'] ~ '],' %}
                    {% else %}
                        {% set kg_lost_data = kg_lost_data ~ '[' ~ '"' ~ month ~'",' ~ 0 ~ '],' %}
                    {% endif %}
                {% endfor %}
                {% set kg_lost_data = kg_lost_data|trim(',') ~ ']' %}
                <div class="img-box line-chart" data-values='{"title":"KG", "data":{{ kg_lost_data }}}'>
                        <div class="chart"></div>
                        <img src="{{ asset('img') }}/img8.png" alt="image description">
                </div>
            </div>
        </section>
        <section class="col col1">
            <div class="add">
                <header class="value">
                    {% if summary[0]['total_years_added'] is defined and summary[0]['total_years_added'] > 0 %}
                        <strong>+{{ '%.1f' | format(summary[0]['total_years_added'])| replace({".0" : ""}) }}<em>Years Added</em></strong>
                    {% else %}
                        <strong>---<em>Years Added</em></strong>
                    {% endif %}
                        
                    {% if summary[0]['avg_years_added'] is defined and summary[0]['avg_years_added'] > 0%}
                        <span>Avg {{ '%.1f' | format(summary[0]['avg_years_added'])| replace({".0" : ""}) }} Years <br>Per Client</span>
                    {% else %}
                        <span>Avg --- Years <br>Per Client</span>
                    {% endif %}
                        
                    
                </header>
                {% set years_added_data = '[' %}
                {% for month, value in data %}
                    {% if value[0]['total_years_added'] is defined and value[0]['total_years_added'] > 0 %}
                        {% set years_added_data = years_added_data ~ '[' ~ '"' ~ month ~'",' ~ value[0]['total_years_added'] ~ '],' %}
                    {% else %}
                        {% set years_added_data = years_added_data ~ '[' ~ '"' ~ month ~'",' ~ 0 ~ '],' %}
                    {% endif %}
                {% endfor %}
                {% set years_added_data = years_added_data|trim(',') ~ ']' %}
                
                <div class="img-box bar-chart" data-values='{"title":"YRS", "data":{{ years_added_data }}}'>
                        <div class="chart"></div>
                        <img src="{{ asset('img') }}/img9.png" alt="images description">
                </div>
            </div>
        </section>
        <section class="col col2">
            <div class="add">
                <header class="value">
                    {% if summary[0]['total_cm_lost'] is defined and summary[0]['total_cm_lost'] > 0%}
                        <strong>-{{ '%.1f' | format(summary[0]['total_cm_lost'])| replace({".0" : ""}) }} <em>CM Lost</em></strong>
                    {% else %}
                        <strong>--- <em>CM Lost</em></strong>
                    {% endif %}
                    
                    {% if summary[0]['avg_cm_lost'] is defined and summary[0]['avg_cm_lost'] > 0 %}
                        <span>Avg {{ '%.1f' | format(summary[0]['avg_cm_lost'])| replace({".0" : ""}) }} CM <br>Per Client</span>
                    {% else %}
                        <span>Avg --- CM <br>Per Client</span>
                    {% endif %}
                    
                </header>
                <div class="img-box bar-chart" data-values='{"title":"CM", 
                        "data":[
                        ["Chest",{% if summary[0]['total_biometric_chest_lost'] is defined and summary[0]['total_biometric_chest_lost'] > 0 %}{{ summary[0]['total_biometric_chest_lost'] }}{% else %}0{% endif %}],
                        ["Thighs",{% if summary[0]['total_biometric_thigh_lost'] is defined and summary[0]['total_biometric_thigh_lost'] > 0 %}{{ summary[0]['total_biometric_thigh_lost'] }}{% else %}0{% endif %}],
                        ["Waist",{% if summary[0]['total_biometric_waist_value_lost'] is defined and summary[0]['total_biometric_waist_value_lost'] > 0%}{{ summary[0]['total_biometric_waist_value_lost'] }}{% else %}0{% endif %}],
                        ["Arms",{% if summary[0]['total_biometric_arm_lost'] is defined and summary[0]['total_biometric_arm_lost'] > 0 %}{{ summary[0]['total_biometric_arm_lost'] }}{% else %}0{% endif %}]]}'>
                        <div class="chart"></div>
                        <img src="{{ asset('img') }}/img10.png" alt="images description">
                </div>
            </div>
        </section>
    </div>
    <a class="veiw-more" href="{{ path('acme_head_office_report') }}"><i class="icon-19"></i> View More Reports</a>
</div>
<br><br>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    var club_client_list_path = "{{ path('acme_club_client_ajax_list') }}";
    var sort_by = "{{ app.request.get('sort') }}";
    var keyword = "{{ app.request.get('keyword') }}";
</script>
{#<script src="{{ asset('js') }}/club/dashboard.js"></script>#}
{% endblock %}
