{% extends "::club_layout.html.twig" %}


{% block title %}Registration{% endblock %}

{% block stylesheets %}
{% endblock %}
{% block body %}
<div id="main-content">

        <section id="signup" class="full-width">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>Congratulations!</h1>
                    </div>
                </div>
                <br/><br/>
                <div class="row">
                    <div class="col-sm-12">
                        
                        <p>Thanks for registering your club to the Healthy Life Project!<p> 
                        <p>We're going to send you an email now with your login details as well some basic instructions on what to do next. You can also login right now by hitting the button below and get started right away. We've prepared a help section on your dashboard to get you up to speed as quickly as possible.</p>
                        <br/>
                        <a class="btn btn-primary" href="{{path('acme_club_dashboard')}}">Go to dashboard</a>
                    </div>
                </div>
            </div>
        </section>     
</div>        
        

{% endblock %}