<!DOCTYPE html>
<html lang="en-US" class="no-js">

<head>

    <!-- ==============================================
		Title and Meta Tags
		=============================================== -->
    <meta charset="utf-8">
    <title>{% block title %}Healthy Life Project{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- ==============================================
		Favicons
		=============================================== -->
    <!--
		<link rel="shortcut icon" href="{{ asset('templates') }}/hlp-2.0/images/favicon.ico">
		<link rel="apple-touch-icon" href="{{ asset('templates') }}/hlp-2.0/images/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="72x72" href="{{ asset('templates') }}/hlp-2.0/images/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="{{ asset('templates') }}/hlp-2.0/images/apple-touch-icon-114x114.png">
-->

    <!-- ==============================================
		CSS
		=============================================== -->
    <link rel="stylesheet" href="{{ asset('templates') }}/hlp-2.0/css/bootstrap.css">
    <link rel="stylesheet" href="{{ asset('templates') }}/hlp-2.0/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="{{ asset('templates') }}/hlp-2.0/css/bootstrap-toggle.min.css">
    <link rel="stylesheet" href="{{ asset('templates') }}/hlp-2.0/css/jquery.steps.css">
    <link rel="stylesheet" href="{{ asset('templates') }}/hlp-2.0/css/owl.carousel.css">
    <link rel="stylesheet" href="{{ asset('templates') }}/hlp-2.0/css/owl.theme.css">
    <link rel="stylesheet" href="{{ asset('templates') }}/hlp-2.0/css/font-awesome.min.css">
    <link id="theme" rel="stylesheet" href="{{ asset('templates') }}/hlp-2.0/css/color-1.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="{{ asset('css') }}/main.css">
    <link rel="stylesheet" href="{{ asset('css') }}/club-registration.css">
    <!-- ==============================================
		Fonts
		=============================================== -->
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,200,600,700' rel='stylesheet' type='text/css'>


    <!-- ==============================================
		JS
		=============================================== -->

    <!--[if lt IE 9]>
			<script src="{{ asset('templates') }}/hlp-2.0/js/libs/respond.min.js"></script>
		<![endif]-->
    {% block stylesheets %}{% endblock %}
    <script type="text/javascript" src="{{ asset('templates') }}/hlp-2.0/js/libs/modernizr.min.js"></script>

</head>

<body class="noselect" data-spy="scroll" data-target="#main-nav" data-offset="400">

    <!--=== PAGE PRELOADER ===-->
    <!--		<div id="page-loader"><span class="page-loader-gif"></span></div>-->

    <!-- ==============================================
		MAIN NAV
		=============================================== -->
    {% if app.request.attributes.get('_route') != 'acme_club_login' %}
        <div id="main-nav" class="navbar navbar-fixed-top">
            <div class="container">
                
                <nav id="mobnav" class="navbar navbar-inverse navbar-fixed-top">
                    <div class="navbar-header">
                        <div class="col-sm-5 col-xs-4">
                            {% if app.session.get('user_type') != '' and app.session.get('user_type') == 'club-user' %}
                            <div class="row">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".mob-navbar">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            {% endif %}
                        </div>
                        <div class="col-sm-2 col-xs-4">
                            <div class="row">
                                <div class="logo-mob"></div>
                            </div>
                        </div>
                        <div class="col-sm-5 col-xs-4">
                            <div class="row">
                                {% if app.session.get('user_type') != '' and app.session.get('user_type') == 'club-user' %}
                                <div class="profile-info">
                                    <span>{{ app.session.get('fname') }}</span>
                                    <img role="button" data-toggle="collapse" data-target=".user-nav" src="{{ asset('templates')  }}/hlp-2.0/images/avatar.png">
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('acme_club_login_out') }}">Logout</a></li>
                                    </ul>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="user-nav navbar-collapse collapse">
                        {% if app.session.get('user_type') != '' and app.session.get('user_type') == 'club-user' %}
                        <ul class="nav navbar-nav">
                            <li><a href="{{ path('acme_club_login_out') }}">Logout</a></li>
                        </ul>
                        {% endif %}
                    </div>
                </nav>
                
                
                
                <div id="site-nav" class="navbar-collapse collapse">
                    <div class="row">
                    
                        <div class="col-sm-5">
                            {% if app.session.get('user_type') != '' and app.session.get('user_type') == 'club-user' %}
                            <div class="row">
                                <ul>
                                    <li><a href="{{ path('acme_club_dashboard') }}">Dashboard</a></li>
                                    <li><a href="{{ path('acme_club_report') }}">Reports</a></li>
                                    <li><a href="{{ path('acme_club_admin_area') }}">Admin</a></li>
                                </ul>
                            </div>
                            {% endif %}
                        </div>
                    

                        <div class="col-sm-2">
                            <div class="row">
                                <div class="logo"></div>
                            </div>
                        </div>

                    
                        <div class="col-sm-5 right-content">
                            <div class="row">
                                {% if app.session.get('user_type') != '' and app.session.get('user_type') == 'club-user' %}
                                <ul>
                                    <li><span class="profile-logo"></span>
                                        <a href="#">Welcome back {{ app.session.get('fname') }}</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('acme_club_login_out') }}">Logout</a>
                                    </li>
                                </ul>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--End navbar-collapse -->
            </div>
            <!-- End Container -->


        </div>
        <!--End main-nav -->

        
    {% endif %}
    
    <div id="main-content">
     <header id="header" class="small-margin">
        <div class="container">
            <h1>Register your club</h1>
            
        </div>
    </header>
    <!--End header -->

    <div id="main-content">


        <section id="signup" class="full-width">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <br><br>
                        {% for flashMessage in app.session.flashbag.get('success') %}
                        <div class="alert alert-success">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ flashMessage }}
                        </div>
                        {% endfor %}

                        {% for flashMessage in app.session.flashbag.get('error') %}
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {% for item in flashMessage %}
                                {{ item.message }}<br/>
                            {% endfor %}
                        </div>
                        {% endfor %}
                        
                        <form id="wizard-form" action="{{ path('acme_club_registration')}}"  method="post" class="wizard-big">
                            <input type="text" name="save" style="display: none;"/>
                            <h1>Club Details</h1>
                            <section class="big-padding">                            
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="row">
                                                
                                            <div class="col-sm-6">                                                
                                                <div class="form-group">
                                                    <input type="text" name="clubname" value="{%if post is defined %}{{post.clubname}}{%endif%}"  class="form-control required" placeholder="Club name">
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" name="address" value="{%if post is defined %}{{post.address}}{%endif%}"  class="form-control required" placeholder="Address">
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" name="city" value="{%if post is defined %}{{post.city}}{%endif%}"  class="form-control required" placeholder="City">
                                                </div>
                                                
                                               
                                            </div>
                                                    
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <input type="text" name="postcode" value="{%if post is defined %}{{post.postcode}}{%endif%}"  class="form-control required" placeholder="Postcode">
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" name="phone" value="{%if post is defined %}{{post.phone}}{%endif%}"  class="form-control" placeholder="Phone">
                                                </div>
                                                <div class="form-group">
                                                    <select name="state" class="selectpicker required" title="-- Select State --">
                                                       {% for item in states %}
                                                            <option value="{{ item.code }}" {%if post is defined %}{% if post.state==item.code  %}selected{%endif%}{%endif%}>{{ item.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <select name="lam" class="selectpicker" title="-- Select LAM --">
                                                        <option value="" {%if post is defined %}{% if post.lam==''  %}selected{%endif%}{%endif%}  >NA</option>
                                                       {% for item in lams %}
                                                            <option value="{{ item.lam }}" {%if post is defined %}{% if post.lam==item.lam  %}selected{%endif%}{%endif%} >{{ item.lam }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div> 
                                            </div>

                                        </div>
                                    </div>                                    
                                </div>
                            </section>
                            <h1>Admin Details</h1>
                            <section class="big-padding">
                                <div class="row">
                                    <div class="col-sm-6">                                        
                                        <div class="form-group">
                                            <input type="text" name="fname" value="{%if post is defined %}{{post.fname}}{%endif%}" class="form-control required" placeholder="First name" required>
                                        </div>

                                        <div class="form-group">
                                            <input type="text" name="lname" value="{%if post is defined %}{{post.lname}}{%endif%}" class="form-control required" placeholder="Last name" required>
                                        </div>

                                        <div class="form-group">
                                            <input type="email" name="email" value="{%if post is defined %}{{post.email}}{%endif%}" class="form-control required" placeholder="Email" required>
                                        </div>
                                            
                                        
                                    </div>
                                        
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="password" id="password" name="password" class="form-control required"  placeholder="Password" value="{% if post.password is defined %}{{ post.password }}{% endif %}" required>
                                        </div>    

                                        <div class="form-group">
                                            <input type="password" name="confirm_password" class="form-control"  placeholder="Confirm Password" value="{% if post.confirm_password is defined %}{{ post.confirm_password }}{% endif %}" required>
                                        </div>
                                    </div>
                                    
                                </div>
                                
                            </section>
                            <h1>Card Details</h1>
                            <section class="big-padding">
                                <div class="row">
                                    <div class="col-sm-12 registration-option">
                                        <h3>Payment Option</h3>
                                        <label><input type="radio" name="registration_option" value="regular" {% if post is defined %}{% if post.registration_option == 'regular' %}checked{% endif %}{% else %}checked{% endif %}> Regular ($160 AUD)</label>
                                        <label><input type="radio" name="registration_option" value="monthly" {% if post is defined and post.registration_option == 'monthly' %}checked{% endif %}> Unlimited tests ($200 AUD / month)</label>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h3>Billing Address</h3>
                                        <div class="checkbox club-registration-checkbox">
                                            <label {#style="font-size: 13px;margin-left: 0px;"#}><input type="checkbox"  id="same_address">Same as club address</label>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="bill_address" value="{%if post is defined %}{{post.bill_address}}{%endif%}" class="form-control required" placeholder="Street Address" required>
                                        </div>

                                        <div class="form-group">
                                            <input type="text" name="bill_city" value="{%if post is defined %}{{post.bill_city}}{%endif%}" class="form-control required" placeholder="City" required>
                                        </div>

                                        <div class="form-group">
                                            <input type="teXt" name="bill_postcode" value="{%if post is defined %}{{post.bill_postcode}}{%endif%}" class="form-control required" placeholder="Postcode" required>
                                        </div>
                                            
                                        <div class="form-group">
                                            <select name="bill_state" class="selectpicker required" title="-- Select State --">
                                               {% for item in states %}
                                                    <option value="{{ item.code }}" {%if post is defined %}{% if post.bill_state==item.code  %}selected{%endif%}{%endif%}>{{ item.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div> 
                                    </div>
                                    <div class="col-sm-6"> 
                                        <h3>Card Details</h3>
                                        <label>&nbsp;</label>
                                        <div class="form-group">
                                            <input type="text" name="card_number" value="{%if post is defined %}{{post.card_number}}{%endif%}" class="form-control required" placeholder="Card number" required>
                                        </div>

                                        <div class="form-group">
                                            <input type="text" name="card_name" value="{%if post is defined %}{{post.card_name}}{%endif%}" class="form-control required" placeholder="Card name" required>
                                        </div>
                                        
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <select class="form-control required" name="card_month"  required title="-- Month --">
                                                        <option value="01" {%if post is defined %}{% if post.card_month=='01'  %}selected{%endif%}{%endif%}>Jan</option>
                                                        <option value="02" {%if post is defined %}{% if post.card_month=='02'  %}selected{%endif%}{%endif%}>Feb</option>
                                                        <option value="03" {%if post is defined %}{% if post.card_month=='03'  %}selected{%endif%}{%endif%}>Mar</option>
                                                        <option value="04" {%if post is defined %}{% if post.card_month=='04'  %}selected{%endif%}{%endif%}>Apr</option>
                                                        <option value="05" {%if post is defined %}{% if post.card_month=='05'  %}selected{%endif%}{%endif%}>May</option>
                                                        <option value="06" {%if post is defined %}{% if post.card_month=='06'  %}selected{%endif%}{%endif%}>Jun</option>
                                                        <option value="07" {%if post is defined %}{% if post.card_month=='07'  %}selected{%endif%}{%endif%}>Jul</option>
                                                        <option value="08" {%if post is defined %}{% if post.card_month=='08'  %}selected{%endif%}{%endif%}>Aug</option>
                                                        <option value="09" {%if post is defined %}{% if post.card_month=='09'  %}selected{%endif%}{%endif%}>Sep</option>
                                                        <option value="10" {%if post is defined %}{% if post.card_month=='10'  %}selected{%endif%}{%endif%}>Oct</option>
                                                        <option value="11" {%if post is defined %}{% if post.card_month=='11'  %}selected{%endif%}{%endif%}>Nov</option>
                                                        <option value="12" {%if post is defined %}{% if post.card_month=='12'  %}selected{%endif%}{%endif%}>Dec</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <select class="form-control required" name="card_year" required title="-- Year --">
                                                       {% for i in 0..5 %}
                                                           {% set year = "now"|date_modify("+" ~ i ~" year")|date("Y") %}
                                                           <option value="{{ year }}" {%if post is defined %}{% if post.card_year== year  %}selected{%endif%}{%endif%}>{{ year }}</option>
                                                       {% endfor %}
                                                   </select>
                                               </div>   
                                            </div>
                                        </div>
                                        
                                            
                                        
                                        <div class="form-group">
                                            <input type="text" name="ccv" value="{%if post is defined %}{{post.ccv}}{%endif%}" class="form-control"  placeholder="CCV" required>
                                        </div>
                                    </div>
                                        
                                    
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 text-right">
                                        <h3><span class="registration-fee-text">{% if post.registration_option is defined and post.registration_option == 'monthly' %}Monthly{% else %}Registration{% endif %} Fee</span>: <strong>$<span class="registration-fee">{% if post.registration_option is defined and post.registration_option == 'monthly' %}200{% else %}169{% endif %}</span></strong> AUD</h3>
                                    </div>
                                </div>
                            </section>
                            
                        </form>
                    </div>
                </div>
            </div>
        </section>     
</div>        
        

    <footer class="footer {% if app.request.attributes.get('_route') == 'acme_club_dashboard' %}dashboard-footer{% endif %}">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">                    
                    <img src="{{ asset('templates')  }}/hlp-2.0/images/main-logo.png" class="img-responsive">
                    <ul>
                        <li>
                            <a href="http://www.healthylifeproject.com.au/disclaimer/" target="_blank">Disclaimer</a>
                        </li>
                        <li>
                            <a href="">Contact Us</a>
                        </li>
                    </ul>
                </div>                
                <div class="col-sm-6 col-xs-12">
{#                            <button class="btn"><i class="fa fa-envelope-o"></i> Leave us a message</button>#}
                </div>
            </div>
        </div>
    </footer>
    </div>
    <!-- ==============================================
		SCRIPTS
		=============================================== -->
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="{{ asset('templates') }}/hlp-2.0/js/libs/jquery-1.9.1.min.js">\x3C/script>')

    </script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="{{ asset('templates') }}/hlp-2.0/js/libs/jquery-1.9.1.min.js">\x3C/script>')

    </script>

    <script src="{{ asset('templates') }}/hlp-2.0/js/libs/bootstrap.min.js"></script>
    <script src="{{ asset('templates') }}/hlp-2.0/js/libs/bootstrap-select.min.js"></script>
    <script src="{{ asset('templates') }}/hlp-2.0/js/libs/bootstrap-toggle.min.js"></script>
    <script src="{{ asset('resources') }}/bootbox/bootbox.min.js"></script>
    
    <script src="{{ asset('templates') }}/hlp-2.0/js/jquery.easing.1.3.min.js"></script>
    <script src="{{ asset('templates') }}/hlp-2.0/js/waypoints.min.js"></script>
    <script src="{{ asset('templates') }}/hlp-2.0/js/owl.carousel.min.js"></script>
    <script src="{{ asset('templates') }}/hlp-2.0/js/jquery.fitvids.js"></script>
    <script src="{{ asset('templates') }}/hlp-2.0/js/jquery.steps.js"></script>
    
    <script src="{{ asset('templates') }}/hlp-2.0/js/jquery.validate.min.js"></script>
{#    <script src="{{ asset('resources') }}/rendro-easy-pie-chart/dist/jquery.easypiechart.min.js"></script>#}
    <script src="{{ asset('templates') }}/hlp-2.0/js/jquery.easypiechart.js"></script>
{#    <script src="{{ asset('templates') }}/hlp-2.0/js/jquery-ui.min.js"></script>#}
    <script src="{{ asset('resources') }}/jquery-ui/1.11.4/jquery-ui.min.js"></script>
    <script src="{{ asset('templates') }}/hlp-2.0/js/scripts.js"></script>
    
    <!--		<script src="{{ asset('templates') }}/hlp-2.0/js/contact.js"></script>-->
    <script src="{{ asset('templates') }}/hlp-2.0/js/scripts.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="{{ asset('templates') }}/hlp-2.0/js/jquery.main.js"></script>
    
    <script type="text/javascript" src="{{ asset('resources') }}/jquery-idleTimeout/jquery-idleTimeout.js"></script>
    <script src="{{ asset('resources') }}/jquery-ui/1.11.4/jquery-ui.js"></script>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-42580516-3', 'auto');
    ga('send', 'pageview');

    </script>
    <script>
        var login_url = '{{ path('acme_club_login') }}';
        var logout_url = '{{ path('acme_club_login_out') }}';
        var dashboard_url = '{{ path('acme_club_dashboard') }}';
        
        
    </script>
    <script src="{{ asset('js') }}/club/club-registration.js"></script>  
    <script src="{{ asset('js') }}/main.js"></script>  
    {% block javascripts %}{% endblock %}
{#    <script src="{{ asset('templates') }}/hlp-2.0/js/scripts.js"></script>#}
    
</body>

</html>
