{% extends "::club_layout.html.twig" %}

{% block title %}Healthy Life | Dashboard{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css') }}/dashboard.css?v=040216" rel="stylesheet">
{% endblock %}

{% block body %}
<!-- ==============================================
                Sub-header
                =============================================== -->

<section id="sub-header">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="col-md-12 chart-section">
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            {% if summary[0]['total_years_added'] is defined and summary[0]['total_years_added'] > 0 %}
                                <h3 class="total-years-added">{{ '%.1f' | format(summary[0]['total_years_added'])| replace({".0" : ""}) }}</h3>
                            {% else %}
                                <h3 class="total-years-added">---</h3>
                            {% endif %}
                            <p>Years Added</p>
                            
                            {% set years_added_data = '[' %}
                            {% for month, value in data %}
                                {% if value[0]['total_years_added'] is defined and value[0]['total_years_added'] > 0 %}
                                    {% set years_added_data = years_added_data ~ '[' ~ '"' ~ month ~'",' ~ value[0]['total_years_added'] ~ '],' %}
                                {% else %}
                                    {% set years_added_data = years_added_data ~ '[' ~ '"' ~ month ~'",' ~ 0 ~ '],' %}
                                {% endif %}
                            {% endfor %}
                            {% set years_added_data = years_added_data|trim(',') ~ ']' %}
                            
                            <div id="yearsAdded" class="img-box bar-chart yearsadded" data-values='{"title":"yrs", "data":{{ years_added_data }}}'>
                                <div class="chart"></div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            {% if summary[0]['total_cm_lost'] is defined and summary[0]['total_cm_lost'] > 0%}
                                <h3 class="total-cm-lost">{{ '%.1f' | format(summary[0]['total_cm_lost'])| replace({".0" : ""}) }}</h3>
                            {% else %}
                                <h3 class="total-cm-lost">---</h3>
                            {% endif %}
                            <p>Centimeters Lost</p>
                            <div class="img-box bar-chart cmlost" data-values='{"title":"cm", 
                                "data":[
                                ["Chest",{% if summary[0]['total_biometric_chest_lost'] is defined and summary[0]['total_biometric_chest_lost'] > 0 %}{{ summary[0]['total_biometric_chest_lost'] }}{% else %}0{% endif %}],
                                ["Thighs",{% if summary[0]['total_biometric_thigh_lost'] is defined and summary[0]['total_biometric_thigh_lost'] > 0 %}{{ summary[0]['total_biometric_thigh_lost'] }}{% else %}0{% endif %}],
                                ["Waist",{% if summary[0]['total_biometric_waist_value_lost'] is defined and summary[0]['total_biometric_waist_value_lost'] > 0%}{{ summary[0]['total_biometric_waist_value_lost'] }}{% else %}0{% endif %}],
                                ["Arms",{% if summary[0]['total_biometric_arm_lost'] is defined and summary[0]['total_biometric_arm_lost'] > 0 %}{{ summary[0]['total_biometric_arm_lost'] }}{% else %}0{% endif %}]]}'>
                                    <div class="chart"></div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            {% if summary[0]['total_kg_lost'] is defined and summary[0]['total_kg_lost'] > 0 %}
                                <h3 class="total-kg-lost">{{ '%.1f' | format(summary[0]['total_kg_lost'])| replace({".0" : ""}) }}</h3>

                            {% else %}
                                <h3 class="total-kg-lost">---</h3>
                            {% endif %}
                            
                            <p>Kilograms Lost</p>
                            
                            {% set kg_lost_data = '[' %}
                            {% for month, value in data %}
                                {% if value[0]['total_kg_lost'] is defined and value[0]['total_kg_lost'] > 0 %}
                                    {% set kg_lost_data = kg_lost_data ~ '[' ~ '"' ~ month ~'",' ~ value[0]['total_kg_lost'] ~ '],' %}
                                {% else %}
                                    {% set kg_lost_data = kg_lost_data ~ '[' ~ '"' ~ month ~'",' ~ 0 ~ '],' %}
                                {% endif %}
                            {% endfor %}
                            {% set kg_lost_data = kg_lost_data|trim(',') ~ ']' %}
                            <div class="img-box bar-chart kglost" data-values='{"title":"kg", "data":{{ kg_lost_data }}}'>
                                <div class="chart"></div>
                            </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 vertical-padding">
                <form class="search-form" action="{{ path('acme_club_dashboard') }}" method="GET">
                    <div class="input-group hlp-input-group">
                        <input type="text" class="form-control lg" name="keyword" placeholder="Search Clients(name, coach)" value="{{ app.request.get('keyword') }}">
                        <span class="input-group-addon">
                            <button type="submit">
                                <span class="fa fa-search"></span>
                        </button>
                        </span>
                    </div>
                </form>
                <div class="form-group">
                    <a class="btn btn-lg btn-special-60" href="{{ path('acme_club_client_add_edit', {'slug': 'new'}) }}">Add a New Client <i class="fa fa-angle-right"></i></a>
                </div>
                <div class="form-group">
                    <a class="btn btn-lg btn-white text-center" href="{{ path('acme_club_report') }}">Show More Reports</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ==============================================
                SnapShot
                =============================================== -->
    <section id="snapshot">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="text-center">Client Snapshot </h2>
                    <div id="breadcrumb">
                        <div class="col-sm-6">
                            <p>Filter Results</p>
                        </div>
                        <div class="col-sm-6">
                            <form class="form-area" method="GET">
                                <div class="col-sm-6">
    {#                                <div class="form-group">#}
                                        <select name="sort" class="selectpicker sort-options" title="Sort by Coach">
                                            <option value="name" {% if app.request.get('sort') == 'name' %}selected{% endif %}>Sort By Name</option>
                                            <option value="coach" {% if app.request.get('sort') == 'coach' %}selected{% endif %}>Sort By Coach</option>
                                            <option value="results" {% if app.request.get('sort') == 'results' %}selected{% endif %}>Sort By Results</option>
                                            <option value="age" {% if app.request.get('sort') == 'age' %}selected{% endif %}>Sort By Age</option>
                                            <option value="gender" {% if app.request.get('sort') == 'gender' %}selected{% endif %}>Sort By Gender</option>
                                            <option value="category" {% if app.request.get('sort') == 'category' %}selected{% endif %}>Sort By Category</option>
                                        </select>
    {#                                </div>#}
                                </div>  
                                <div class="col-sm-6">
                                    <div class="input-group hlp-input-group pull-right">
                                        <input type="text" name="keyword" class="form-control" placeholder="Search Clients(name, coach)" value="{{ app.request.get('keyword') }}">
                                        <span class="input-group-addon">
                                            <button type="submit">
                                                <span class="fa fa-search"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </div>                        
                    </div>
                </div>
                <div id="clientSnapShots">
                    {% if clients is defined %}
                        {% for item in clients %}
                            {% if item.recent_test[0]['healthy_life_score'] is defined %}
                                {% set data_result = (item.recent_test[0]['healthy_life_score'] * 100) %}
                            {% else %}
                                {% set data_result = 0 %}
                            {% endif %} 

                            <div class="col-md-4 item" 
                                 data-client-id="{{ item.club_client_id }}" 
                                 data-name="{{ item.fname }} {{ item.lname }}" 
                                 data-coach="{{ item.coach_fname }} {{ item.coach_lname }}"
                                 data-age="{{ item.age }}"
                                 data-gender="{{ item.gender }}"
                                 data-results="{{ data_result }}" 
                                 data-email="{{ item.email }}" 
                                 data-category="{{ item.client_category }}">
                                <div class="trainer-dashboard">
                                    <div class="trainer-dashboard-header">
                                        <a href="{{ path('acme_club_client_view') }}?id={{ item.club_client_id }}" class="tapable-header">
                                         <div class="col-xs-9">
                                             <div class="row">
                                                 <h3>{{ item.fname|capitalize }} {{ item.lname|capitalize }}</h3>
                                                 <p>{{ item.age }} Year Old {{ item.gender|capitalize }}</p>
                                             </div>
                                         </div>
                                         <div class="col-xs-3 arrow-link">
                                            <div class="row">
                                                <img src="{{ asset('templates')  }}/hlp-2.0/images/icon-angle-right.png">
                                             </div>
                                         </div>
                                        </a>
                                     </div>
                                    <div class="trainer-dashboard-body">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="row">
                                                    {% if item.picture != '' %}
                                                        <img src="{{ asset('uploads') ~ "/" ~ item.picture }}" class="img-responsive img-circle img-centered" {% if item.category_color is defined %}style="{% if item.category_color != '' %}border: 2px solid {{ item.category_color }};{% endif %} {% if item.category_color != '' %}background-color: {{ item.category_color }}{% endif %}"{% endif %}>
                                                    {% else %}
                                                        {% if  item.gender == 'male' %}
                                                            <img src="{{ asset('img') }}/unknown-male.jpg" class="img-responsive img-circle img-centered" {% if item.category_color is defined %}style="{% if item.category_color != '' %}border: 2px solid {{ item.category_color }};{% endif %} {% if item.category_color != '' %} background-color: {{ item.category_color }}{% endif %}"{% endif %}>
                                                        {% else %}
                                                            <img src="{{ asset('img') }}/unknown-female.jpg" class="img-responsive img-circle img-centered" {% if item.category_color is defined %}style="{% if item.category_color != '' %}border: 2px solid {{ item.category_color }};{% endif %} {% if item.category_color != '' %}background-color: {{ item.category_color }}{% endif %}"{% endif %}>
                                                        {% endif %}
                                                    {% endif %}
                                                    <div class="col-sm-12 text-center profile-text">
                                                        {% if item.details_from_12weekProgram|length > 0 and item.club_admin_id == app.session.get('club_admin_id') %}
                                                            <a class="pointer btn-sm chat-to-client {{  item.club_client_id}} " data-id="{{  item.club_client_id}}" data-email="{{ item.email }}" data-fname="{{ item.fname }}" data-lname="{{ item.lname }}"><span class="glyphicon glyphicon-envelope"></span> chat</a>

                                                        {% endif %}
                                                        {% if item.details_from_12weekProgram|length == 0 %}
                                                            <a class="pointer invite-12-week" data-id="{{  item.club_client_id}}" data-email="{{ item.email }}" data-fname="{{ item.fname }}" data-lname="{{ item.lname }}">Program invitation</a>
                                                        {% endif %}

                                                        <a class="pointer lifestyle-questionnaires-invitation" data-id="{{  item.club_client_id}}" data-email="{{ item.email }}" data-fname="{{ item.fname }}" data-lname="{{ item.lname }}"> Lifestyle Questionnaires Invitation</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 item-text">
                                                {% if item.recent_test[0]['healthy_life_score'] is defined %}
                                                    <h3 class="summ-healthy-life-potential">{{ '%.1f' | format((item.recent_test[0]['healthy_life_score'] * 100))| replace({".0" : ""}) }}%</h3>
                                                {% else %}
                                                    <h3 class="summ-healthy-life-potential">---</h3>
                                                {% endif %} 
                                                <p>Healthy Life Potential</p>
                                                <hr>

                                                {% if item.recent_test[0]['years_added'] is defined and item.recent_test[0]['years_added'] != '' and item.recent_test[0]['years_added'] > 0 %}
                                                    <h3 class="summ-years-added">+{{ '%.1f' | format(item.recent_test[0]['years_added'])| replace({".0" : ""}) }}</h3>
                                                {% else %}
                                                    <h3 class="summ-years-added">---</h3>
                                                {% endif %}
                                                <p>Years Added</p>
                                            </div>
                                        </div>
                                            
                                        <div class="row ">
                                            <div class="col-sm-12 text-center weekly-and-overall-progress {% if item.details_from_12weekProgram|length > 0 %}active-client{% endif %}">
                                                
                                                {% if item.details_from_12weekProgram|length > 0 %}
                                                    {% if item.details_from_12weekProgram['program_name']  is defined and item.details_from_12weekProgram['program_name'] != ''%}
                                                        {% if item.details_from_12weekProgram['total_weeks'] is defined %}
                                                            {% set program_max_week = item.details_from_12weekProgram['total_weeks'] %}
                                                        {% else %}
                                                            {% set program_max_week = 0 %}
                                                        {% endif %}
                                                        <span class="program-type">Program: {{ item.details_from_12weekProgram['program_name'] }}</span>
                                                    {% else %}
                                                        {% set program_max_week = 12 %}
                                                        {% if item.details_from_12weekProgram['program_type'] is defined %}
                                                            {% if item.details_from_12weekProgram['program_type'] == '4week' %}
                                                                {% set program_max_week = 4 %}
                                                            {% elseif item.details_from_12weekProgram['program_type'] == '8week' %}
                                                                {% set program_max_week = 8 %}
                                                            {% else %}
                                                                {% set program_max_week = 12 %}
                                                            {% endif %}
                                                        {% else %}
                                                            {% set program_max_week = 12 %}
                                                        {% endif %}
                                                        <span class="program-type">Program: {{ program_max_week }} week</span>
                                                    {% endif %}
                                                    <br>
                                                    {% if (item.details_from_12weekProgram['prog_total_week_items_done'] is defined and item.details_from_12weekProgram['prog_total_week_items_done'] != '') and (item.details_from_12weekProgram['prog_total_week_items'] is defined and item.details_from_12weekProgram['prog_total_week_items'] != '')%}
                                                        {% if item.details_from_12weekProgram['prog_total_week_items'] > 0 %}
                                                            {% set done_week_items_percentage = item.details_from_12weekProgram['prog_total_week_items_done'] / item.details_from_12weekProgram['prog_total_week_items'] * 100 %}
                                                        {% else %}
                                                            {% set done_week_items_percentage = 0 %}
                                                        {% endif %}
                                                    {% else %}
                                                        {% set done_week_items_percentage = 0 %}
                                                    {% endif %}
                                                    <span class="percentage week" data-percent="{{ done_week_items_percentage }}">
                                                        <span class="text t--20"><span class="done-week-items">{% if item.details_from_12weekProgram['prog_total_week_items_done'] is defined and item.details_from_12weekProgram['prog_total_week_items_done'] != '' %}{{ item.details_from_12weekProgram['prog_total_week_items_done'] }}{% else %}--{% endif %}</span><sup>/<span class="total-week-items">{% if item.details_from_12weekProgram['prog_total_week_items'] is defined and item.details_from_12weekProgram['prog_total_week_items'] != ''%}{{ item.details_from_12weekProgram['prog_total_week_items'] }}{% else %}--{% endif %}</span></sup></span>
                                                        {% set client_current_week = item.details_from_12weekProgram['current_week'] %}
                                                        {% if client_current_week <= program_max_week %}
                                                            {% set client_current_week = client_current_week %}
                                                        {% else %}
                                                            {% set client_current_week = program_max_week %}
                                                        {% endif %}
                                                        <span class="text">week {{ client_current_week }}</span>
                                                        <span class="text t-20">progress</span>
                                                    </span>      
                                                    

                                                    <br>

                                                    {% if (item.details_from_12weekProgram['prog_overall_items_done'] is defined and item.details_from_12weekProgram['prog_overall_items_done'] != '') and (item.details_from_12weekProgram['prog_overall_items'] is defined and item.details_from_12weekProgram['prog_overall_items'] != '') %}
                                                        {% if item.details_from_12weekProgram['prog_overall_items'] > 0 %}
                                                            {% set done_overall_items_percentage = item.details_from_12weekProgram['prog_overall_items_done'] / item.details_from_12weekProgram['prog_overall_items'] * 100 %}
                                                        {% else %}
                                                            {% set done_overall_items_percentage = 0 %}
                                                        {% endif %}
                                                    {% else %}
                                                        {% set done_overall_items_percentage = 0 %}
                                                    {% endif %}
                                                    <span class="percentage overall" data-percent="{{ done_overall_items_percentage }}">
                                                        <span class="text t--20"><span class="done-overall-items">{% if item.details_from_12weekProgram['prog_overall_items_done'] is defined and item.details_from_12weekProgram['prog_overall_items_done'] != '' %}{{ item.details_from_12weekProgram['prog_overall_items_done'] }}{% else %}--{% endif %}</span><sup>/<span class="overall-items">{% if item.details_from_12weekProgram['prog_overall_items'] is defined and item.details_from_12weekProgram['prog_overall_items'] != '' %}{{ item.details_from_12weekProgram['prog_overall_items'] }}{% else %}--{% endif %}</span></sup></span>
                                                        <span class="text">total</span>
                                                        <span class="text t-20">progress</span>
                                                    </span>  
                                                {% endif %}
                                            </div>
                                        </div>
                                            
                                        

                                    </div>
                                    <div class="trainer-dashboard-footer">
                                        <div class="col-xs-8">
                                            <div class="row">
                                                <p><span>Coach:&nbsp;</span>{{ item.coach_fname }} {{ item.coach_lname }}</p>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="row">
                                                <p class="text-right"><span>Tests:&nbsp;</span><span class="client-number-of-tests">{% if item.all_test is defined %}{{ item.all_test }}{% else %}0{% endif %}</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}   
                    {% endif %}
                </div> 
            </div>
        </div>    
        <div id="endOfRecord" style="display:none"><center>-- end of record --</center></div>        
        <div id="loadMore" style="display:none"><center><img src="{{asset('img')}}/spinner.gif"/> Loading...</center></div>
        
    </section>


<!-- Modal -->
<div class="modal fade" id="showFirstLoginMsg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Welcome to the Healthy Life Project Club Dashboard!</h4>
      </div>
      <div class="modal-body">
            <p>Hi there! Welcome to the Healthy Life Project Club Dashboard!</p> 
            <p>This is where you'll be able to get a 
                birds eye view on your whole clubs progress and track your members success. 
                Your first stop should be the help section to go through our training videos on how to 
                get setup.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    
    var club_client_list_path = "{{ path('acme_club_client_ajax_list') }}";
    var sort_by = "{{ app.request.get('sort') }}";
    var keyword = "{{ app.request.get('keyword') }}";
    var update_program_progress_url = "{{ path('acme_club_dashboard_update_12weekprogram_client_progress') }}";
    var update_client_snapshots_summary_results = "{{ path('acme_club_dashboard_update_client_snapshots_summary_results') }}";
    var generate_summary_url = "{{ path('acme_club_dashboard_generate_summary') }}";
    var generate_data_url = "{{ path('acme_club_dashboard_generate_data') }}";
{#    var total_clients = {{ total_clients }};#}
    {% if app.session.get('show_first_login_msg') == 1 %}
        $("#showFirstLoginMsg").modal('show');
    {% endif %}
</script>
<script src="{{ asset('resources') }}/tinysort/dist/tinysort.min.js"></script>
<script src="{{ asset('resources') }}/tinysort/dist/jquery.tinysort.js"></script>
<script src="{{ asset('js') }}/club/dashboard.js"></script>
{% endblock %}
