{% extends "::club_layout.html.twig" %}

{% block title %}Dashboard{% endblock %}

{% block body %}

<!-- section cols -->
<div class="three-cols">
    <div class="container">
        <section class="col">
            <div class="add">
                <header class="value">
                    {% if summary[0]['total_kg_lost'] is defined and summary[0]['total_kg_lost'] > 0 %}
                        <strong>-{{ '%.1f' | format(summary[0]['total_kg_lost'])| replace({".0" : ""}) }} <em>KG Lost</em></strong>
                        
                    {% else %}
                        <strong>--- <em>KG Lost</em></strong>
                    {% endif %}
                        
                    {% if summary[0]['avg_kg_lost'] is defined and summary[0]['avg_kg_lost'] > 0 %}
                        <span>Avg {{ '%.1f' | format(summary[0]['avg_kg_lost'])| replace({".0" : ""}) }} KG <br>Per Client</span>
                    {% else %}
                        <span>Avg --- KG <br>Per Client</span>
                    {% endif %}
                    
                </header>
                {% set kg_lost_data = '[' %}
                {% for month, value in data %}
                    {% if value[0]['total_kg_lost'] is defined and value[0]['total_kg_lost'] > 0 %}
                        {% set kg_lost_data = kg_lost_data ~ '[' ~ '"' ~ month ~'",' ~ value[0]['total_kg_lost'] ~ '],' %}
                    {% else %}
                        {% set kg_lost_data = kg_lost_data ~ '[' ~ '"' ~ month ~'",' ~ 0 ~ '],' %}
                    {% endif %}
                {% endfor %}
                {% set kg_lost_data = kg_lost_data|trim(',') ~ ']' %}
                <div class="img-box line-chart" data-values='{"title":"KG", "data":{{ kg_lost_data }}}'>
                        <div class="chart"></div>
                        <img src="{{ asset('img') }}/img8.png" alt="image description">
                </div>
            </div>
        </section>
        <section class="col col1">
            <div class="add">
                <header class="value">
                    {% if summary[0]['total_years_added'] is defined and summary[0]['total_years_added'] > 0 %}
                        <strong>+{{ '%.1f' | format(summary[0]['total_years_added'])| replace({".0" : ""}) }}<em>Years Added</em></strong>
                    {% else %}
                        <strong>---<em>Years Added</em></strong>
                    {% endif %}
                        
                    {% if summary[0]['avg_years_added'] is defined and summary[0]['avg_years_added'] > 0%}
                        <span>Avg {{ '%.1f' | format(summary[0]['avg_years_added'])| replace({".0" : ""}) }} Years <br>Per Client</span>
                    {% else %}
                        <span>Avg --- Years <br>Per Client</span>
                    {% endif %}
                        
                    
                </header>
                {% set years_added_data = '[' %}
                {% for month, value in data %}
                    {% if value[0]['total_years_added'] is defined and value[0]['total_years_added'] > 0 %}
                        {% set years_added_data = years_added_data ~ '[' ~ '"' ~ month ~'",' ~ value[0]['total_years_added'] ~ '],' %}
                    {% else %}
                        {% set years_added_data = years_added_data ~ '[' ~ '"' ~ month ~'",' ~ 0 ~ '],' %}
                    {% endif %}
                {% endfor %}
                {% set years_added_data = years_added_data|trim(',') ~ ']' %}
                
                <div class="img-box bar-chart" data-values='{"title":"YRS", "data":{{ years_added_data }}}'>
                        <div class="chart"></div>
                        <img src="{{ asset('img') }}/img9.png" alt="images description">
                </div>
            </div>
        </section>
        <section class="col col2">
            <div class="add">
                <header class="value">
                    {% if summary[0]['total_cm_lost'] is defined and summary[0]['total_cm_lost'] > 0%}
                        <strong>-{{ '%.1f' | format(summary[0]['total_cm_lost'])| replace({".0" : ""}) }} <em>CM Lost</em></strong>
                    {% else %}
                        <strong>--- <em>CM Lost</em></strong>
                    {% endif %}
                    
                    {% if summary[0]['avg_cm_lost'] is defined and summary[0]['avg_cm_lost'] > 0 %}
                        <span>Avg {{ '%.1f' | format(summary[0]['avg_cm_lost'])| replace({".0" : ""}) }} CM <br>Per Client</span>
                    {% else %}
                        <span>Avg --- CM <br>Per Client</span>
                    {% endif %}
                    
                </header>
                <div class="img-box bar-chart" data-values='{"title":"CM", 
                        "data":[
                        ["Chest",{% if summary[0]['total_biometric_chest_lost'] is defined and summary[0]['total_biometric_chest_lost'] > 0 %}{{ summary[0]['total_biometric_chest_lost'] }}{% else %}0{% endif %}],
                        ["Thighs",{% if summary[0]['total_biometric_thigh_lost'] is defined and summary[0]['total_biometric_thigh_lost'] > 0 %}{{ summary[0]['total_biometric_thigh_lost'] }}{% else %}0{% endif %}],
                        ["Waist",{% if summary[0]['total_biometric_waist_value_lost'] is defined and summary[0]['total_biometric_waist_value_lost'] > 0%}{{ summary[0]['total_biometric_waist_value_lost'] }}{% else %}0{% endif %}],
                        ["Arms",{% if summary[0]['total_biometric_arm_lost'] is defined and summary[0]['total_biometric_arm_lost'] > 0 %}{{ summary[0]['total_biometric_arm_lost'] }}{% else %}0{% endif %}]]}'>
                        <div class="chart"></div>
                        <img src="{{ asset('img') }}/img10.png" alt="images description">
                </div>
            </div>
        </section>
    </div>
    <a class="veiw-more" href="{{ path('acme_club_report') }}"><i class="icon-19"></i> View More Reports</a>
</div>

<!-- three cols add three cols -->
<div class="three-cols add-three-cols">
    <header class="header">
        <h1>Client Snapshot</h1>
        <form class="form-area" method="GET">
            <fieldset>
                <div class="row">
                    <i class="icon-search92 submit"></i>
                    <input type="search" name="keyword" placeholder="Search Clients (Name, Coach)" value="{{ app.request.get('keyword') }}">
                </div>
                <div class="add-select1">
                    <select name="sort">
                        <option value="coach" {% if app.request.get('sort') == 'coach' %}selected{% endif %}>Sort By Coach</option>
                        <option value="results" {% if app.request.get('sort') == 'results' %}selected{% endif %}>Sort By Results</option>
                        <option value="age" {% if app.request.get('sort') == 'age' %}selected{% endif %}>Sort By Age</option>
                        <option value="gender" {% if app.request.get('sort') == 'gender' %}selected{% endif %}>Sort By Gender</option>
                        {#<option value="event" {% if app.request.get('sort') == 'event' %}selected{% endif %}>Sort By Event</option>#}
                    </select>
                </div>
            </fieldset>
        </form>
    </header>
    <!-- container -->
    <div class="container" id="clientSnapShots">
        {% for item in clients %}
        <section class="col item">
            <div class="add">
                <header class="add-txt">
                    <a class="btn-view" href="{{ path('acme_club_client_view') }}?id={{ item.club_client_id }}">View</a>
                    <div class="wrap">
                        <a class="author" href="{{ path('acme_club_client_view') }}?id={{ item.club_client_id }}">{{ item.fname|upper }} {{ item.lname|upper }}</a>
                        <p>{{ item.age }} Year old {{ item.gender|capitalize }}</p>
                    </div>
                </header>
                <div class="img-holder">
                    <div class="img-area">
                        
                        <a href="{{ path('acme_club_client_view') }}?id={{ item.club_client_id }}">
                            {% if item.picture != '' %}
                                <img src="{{ asset('uploads') ~ "/" ~ item.picture }}">
                            {% else %}
                                {% if  item.gender == 'male' %}
                                    <img src="{{ asset('img') }}/unknown-male.jpg">
                                {% else %}
                                    <img src="{{ asset('img') }}/unknown-female.jpg">
                                {% endif %}
                            {% endif %}
                        </a>
                        
                        {% if item.recent_test[0]['healthy_life_score'] is defined %}
                            {% set life_level = (item.recent_test[0]['healthy_life_score'] * 100) %}
                            {% set life_level_left = 100 - life_level %}
                            {% set life_level_left = '%.0f' | format(life_level_left) %}
                            
                        {% else %}
                            {% set life_level_left = 100 %}
                        {% endif %} 
                        <div class="slider-vertical {% if life_level is not defined or life_level > 60 %}slide1{% else %}red{% endif %}">
                            <div class="ui-slider-range" style="{% if life_level_left == 100 %}display: none{% else %}top:{{ life_level_left ~ '%;'}}{% endif %}"></div>
                        </div>
                    </div>
                    <div class="detail">
                        <strong>
                            {% if item.recent_test[0]['healthy_life_score'] is defined %}
                                {{ '%.1f' | format((item.recent_test[0]['healthy_life_score'] * 100))| replace({".0" : ""}) }}%
                            {% else %}
                                ---
                            {% endif %} 
                            <em>OF HEALTHY LIFE POTENTIAL</em>
                        </strong>
                        {% if item.recent_test[0]['years_added'] is defined and item.recent_test[0]['years_added'] != '' and item.recent_test[0]['years_added'] > 0 %}
                            <span class="cont">+{{ '%.1f' | format(item.recent_test[0]['years_added'])| replace({".0" : ""}) }} <em>Years Added</em></span>
                        {% else %}
                            <span class="cont">--- <em>Years Added</em></span>
                        {% endif %}
                    </div>
                </div>
                <footer class="designation">
                        <span>Tests: {{ item.all_test|length }}</span>
                        <p>Coached by: {{ item.coach_fname }} {{ item.coach_lname }}</p>
                </footer>
            </div>
        </section>
        {% endfor %}
    </div>
</div>




<div id="loadMore" style="display:none"><center><img src="{{asset('img')}}/spinner.gif"/></center></div>
<br><br>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    var club_client_list_path = "{{ path('acme_club_client_ajax_list') }}";
    var sort_by = "{{ app.request.get('sort') }}";
    var keyword = "{{ app.request.get('keyword') }}";
</script>
<script src="{{ asset('js') }}/club/dashboard.js"></script>
{% endblock %}
