{% for item in data %}
    <li class="{% if item.s_read ==0 %}unread{% endif %}" 
        data-note-id="{{ item.note_id }}" 
        data-club-client-id="{{ item.club_client_id }}"
        data-fname="{{ item.client_fname }}" 
        data-lname="{{ item.client_lname }}" 
        data-email="{{ item.email }}" 
        data-note-type="{{ item.note_type }}">
        <div class="notice-photo">
            {% if item.note_type != 'payment-card-details' and item.note_type != 'request-call' %}
                {% if item.picture != '' %}
                    <img src="{{ asset('uploads') ~ "/" ~ item.picture }}">
                {% else %}
                    <img src="{{ asset('img') }}/unknown-{{ item.gender }}.jpg">
                {% endif %}
            {% else %}
                <img src="{{ asset('img') }}/logo-new.png">
            {% endif %}
        </div>
        <div class="notice-details">
            {% if request == 'chat-messages' %}
                <strong>{{ item.client_fname ~ ' ' ~ item.client_lname }}:</strong><br>
                {% if item.details|length > 15 %}{{ item.details|slice(0, 15) ~ '...' }}{% else %}{{ item.details }}{% endif %}
            {% else %}
                <strong>{{ item.client_fname ~ ' ' ~ item.client_lname }}</strong> {{ item.details }}
            {% endif %}
            <br>
            
            <span class="notice-time">{{ item.time_ago }}</span>
        </div>
        <div class="notice-sread">
            <a><span class="glyphicon glyphicon-record"></span></a>
        </div>
    </li>
{% endfor %}
