/* =The style for the lab
-------------------------------------------------------------- */

.side_bar{
    padding-top: 10px;
    background-color:rgb(240,240,240);
    border-radius: 5px;
    
}
.side_title{
    padding-left: 10px;
    padding-bottom: 15px;
    font-size: 18px;
    color:#000;
    font-weight: bold;
}
#content {

    padding-left:24px;
}


/* navigation */
nav1 {
   
    padding:0 12px;
}
.fixed_side{
    position: fixed;
}

.hash{
    padding-top: 50px;
}
nav1.stick {
    position: fixed;
    top: 0;
    z-index: 10000;
    margin-top:60px;
    
    
}

#side_bar.stick {
    position: fixed;
    top: 0;
    z-index: 10000;
    margin-top:60px;
    width: 24.8%;
    float: left;
}

nav1 ul {
    list-style-type:none;
    margin:0;
    padding:0;
    padding-left: 10px!important;
}
#general p{
    background: url("../img/help_icons/arrow.png") bottom left no-repeat;
    height: 42px;
    padding-left: 20px;
    margin-top: 10px;
    margin-left: 72px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(240,240,240); 
}
#assessment p{
    background: url("../img/help_icons/arrow.png") bottom left no-repeat;
    height: 56px;
    padding-top: 13px;
    padding-left: 20px;
    margin-top: -11px;
    margin-bottom: 10px;
    border-top: 1px solid rgb(240,240,240);
    border-bottom: 1px solid rgb(240,240,240);
}
#li_general {
    background: url("../img/help_icons/question.png") bottom left no-repeat;
    height: 35px;
    padding-top: 8px;
    padding-left: 40px;
    margin-bottom: 10px;
}
#h_general {
    background: url("../img/help_icons/question_title.png") bottom left no-repeat;
    height: 60px;
    padding-top: 10px;
    padding-left: 70px;
    margin-bottom: 10px;
}

#li_assessment {
    background: url("../img/help_icons/assessment.png") bottom left no-repeat;
    height: 35px;
    padding-top: 8px;
    padding-left: 40px;
    margin-bottom: 10px;
}
#h_assessment {
    background: url("../img/help_icons/assessment_title.png") bottom left no-repeat;
    height: 60px;
    padding-top: 10px;
    padding-left: 70px;
    margin-bottom: 10px;
}

#li_aia {
    background: url("../img/help_icons/vitality.png") bottom left no-repeat;
    height: 35px;
    padding-top: 8px;
    padding-left: 40px;
    margin-bottom: 10px;
}
#h_aia {
    background: url("../img/help_icons/vitality_title.png") bottom left no-repeat;
    height: 60px;
    padding-top: 10px;
    padding-left: 70px;
    margin-bottom: 10px;
}

#li_material {
    background: url("../img/help_icons/material.png") bottom left no-repeat;
    height: 35px;
    padding-top: 8px;
    padding-left: 40px;
    margin-bottom: 10px;
}
#h_material {
    background: url("../img/help_icons/material_title.png") bottom left no-repeat;
    height: 60px;
    padding-top: 10px;
    padding-left: 70px;
    margin-bottom: 10px;
}

nav1 li a {
    color:rgb(50,50,50);
    font-weight:700;
    
}

a.nav-active {
    color:#6c4695;
}



.marketing_mat{
    text-align: center;
    background-color:rgb(240,240,240);
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 10px;
    height: 200px;
}
.video_label{
    margin-left: 15px;
    height: 116px;
    padding-top:52px;
    background-color:rgb(240,240,240);
}

div.row-new {
    padding-left: 75px!important;
    padding-bottom: 10px;
}

div.vid {
    margin-left:-90px;
    margin-bottom: 15px;
}