{% extends "::club_layout.html.twig" %}

{% block title %}AIA Vitality Trainer Registration{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css') }}/aia-vitality-trainer-registration.css" rel="stylesheet">
{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Register to become an AIA Vitality Fitness Trainer</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>AIA Vitality Healthy Life Project Assessments are an important part of the AIA Vitality program.  AIA Vitality members receive AIA Vitality points for having a Healthy Life Project Assessment and additional points for being in the healthy range.</p>
            
            <p>In light of that, please ensure you follow the simple steps here to register as a Healthy Life Project AIA Vitality Fitness Trainer and make you can properly perform the HLP Fitness Assessments.</p>
            
            <p>Please remember to follow the guidelines within the testing protocol and if you have any feedback, contact us directly.  We welcome any questions or feedback.</p>
            
            <p style="color: red;"><strong>To be eligible to be a Healthy Life Project AIA Vitality Fitness Trainer, you must complete 5 Healthy Life Assessments. This must be maintained every 12 Months. As soon as you’ve completed your 5 assessments you will be able unlock the AIA Vitality Assessments button in your club dashboard.</strong></p>
            
            <form action="{{ path('acme_club_aia_vitality_trainer_registration') }}" method="post">
            <h3 class="terms-acceptance">I accept the terms <input type="checkbox" name="accept_terms" required></h3>
            
            <p>‘I accept the terms’, I confirm that I have read and agree to the AIA Vitality Terms and Conditions for Fitness Trainers located in this link: <a href="https://resources.aia.com.au/VFA_Termsandconditions.html" target="_blank">https://resources.aia.com.au/VFA_Termsandconditions.html</a> (including the Requirements referred to therein) and any other terms and conditions as notified to me by AIA Australia Limited (AIAA) and Need vs Want Healthy Life Project from time to time. I confirm that in conducting AIA Vitality Fitness Assessments (VFAs) I will comply with the obligations set out in those documents. I have read and consented to the collection, use (including handling and storage) and disclosure of my personal and sensitive information by AIAA, AIA Vitality Company Limited (HK), Discovery Holdings Ltd (SA) in accordance with the privacy policy and/or privacy statement of each of these entities as available on their websites and in relation to AIAA, available at www.aia.com.au or by calling AIAA on 1800 333 613 and in relation to Discovery Holdings Ltd available at <a href="https://www.discovery.co.za/portal/individual/terms-and-conditions" target="_blank">https://www.discovery.co.za/portal/individual/terms-and-conditions</a>. I acknowledge that these documents may be updated from time to time and that personal and sensitive information will be collected, used (including handled and stored) and disclosed in accordance with the most recent Privacy Policy and/or Privacy Statement of each of the above entities.</p>
            
            <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>


    </div>
                    
                    
        
    </div>
    
</div>
{% endblock %}

{% block javascripts %}
    
{% endblock %}
