{% extends "::club_layout.html.twig" %}

{% block title %}AIA Vitality Trainer Registration{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css') }}/aia-vitality-trainer-registration.css" rel="stylesheet">
{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Congratulations!</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>You are now registered to become an AIA Vitality Accredited Fitness Trainer. </p>
            <p>The final step in your registration is to complete 5 Healthy Life Assessments. This must be maintained every 12 Months to retain your eligibility to continue to perform the AIA Vitality tests. As soon as you’ve completed your 5 assessments you will be able unlock the AIA Vitality Assessments button in your club dashboard.</p>
            <p>Thank you!</p>
            
        </div>


    </div>
                    
                    
        
    </div>
    
</div>
{% endblock %}

{% block javascripts %}
    
{% endblock %}
