{% extends "::lite_test_layout_new.html.twig" %}

{% block title %}Create Test{% endblock %}

{% block stylesheets %}
<style>
.glyphicon.glyphicon-check{
    background:url({{ asset('img') }}/icon-checked.jpg) no-repeat top left;
}
.glyphicon.glyphicon-unchecked{
    background:url({{ asset('img') }}/icon-unchecked.jpg) no-repeat top left;
}
</style>
<link href="{{ asset('templates') }}/hlp-2.0/css/jquery.steps.css" rel="stylesheet">
<link href="{{ asset('css') }}/test.css" rel="stylesheet">
<link href="{{ asset('css') }}/litetest_new.css" rel="stylesheet">
{% endblock %}


{% block specialscripts %}
    {% if  litetest_success is defined and  litetest_success == 1 %}
    <!-- Facebook Conversion Code for Free Test Pixel -->
    <script>(function() {
    var _fbq = window._fbq || (window._fbq = []);
    if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '//connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
    }
    })();
    window._fbq = window._fbq || [];
    window._fbq.push(['track', '6029220955349', {'value':'0.00','currency':'USD'}]);
    </script>
    <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6029220955349&amp;cd[value]=0.00&amp;cd[currency]=USD&amp;noscript=1" /></noscript>
    {% endif %}
{% endblock %}

{% block body %}
{#<h2>Take the Healthy Life Test</h2>#}
<br><br>
<div class="row ">
    <div class='col-sm-2'></div>
    <div class="col-sm-8">
        {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger test-alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>You've got the following error: </h4>
            <ul>
            {% for item in flashMessage %}
                <li>{{ item.message }}</li>
            {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
</div>

<section id="form-wizard">
        <div class="row">
            <div class="col-sm-12">
                <form id="testForm" action="{{ path('acme_lite_test_create_test_new') }}" class="wizard-big {% if post.status is defined %}{{ post.status }}{% endif %}" method="post">
                    <input type="hidden" name="redirect" value="">    
                    <h1>Lifestyle</h1>
                    <fieldset>
                        <div class="row">
                            <div class="col-lg-12">
                                <h4><i class="hlp-required pointer help" data-field="physical_activity" title="Click to see the guide">?</i> Physical Activity</h4>
                                <h6 class="no-margin-left">This assessment has been designed to give an indication of whether you are meeting the current Australian guidelines for physical activity and sedentary behaviour.</h6>
                                
                                {% for item in physical_activity_questions %}
                                    <div class="form-group"> 
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label class="bullet">{{ item.question|raw }}</label>
                                            </div>
                                            <div class="col-sm-offset-1 col-sm-5">
                                                <input type="number" class="form-control required" name="{{ item.class }}" {#name="answer[{{ item.lq_id }}]"#} value="{% if app.session.get('post')[ item.class ] is defined %}{{ app.session.get('post')[ item.class ] }}{% endif %}" id="{{ item.class }}" placeholder="0">
                                            </div> 
                                        </div>
                                    </div>
                                {% endfor %}
                                
                                <hr>
                                
                                <h4><i class="hlp-required pointer help" data-field="smoking" title="Click to see the guide">?</i> Smoking Habits</h4>
                                
                                <div class="form-group"> 
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label class="bullet">Please select the following description that best describes your smoking habits or history.</label>
                                        </div>
                                        <div class="col-sm-offset-1 col-sm-5">
                                             <select name="lifestyle_smoking" class="selectpicker required" title="--- smoke habits --- ">
                                                <option value="">--- smoke habits ---</option>
                                                {% for item in smoking_options %}
                                                <option value="{{ item.option_value }}" {% if app.session.get('post')[ 'lifestyle_smoking' ] is defined and app.session.get('post')[ 'lifestyle_smoking' ] == item.option_value  %}selected{% endif %}> {{ item.option_description }}</option>
                                                {% endfor %}
                                            </select>
                                        </div> 
                                    </div>
                                </div>
                                
                                
                                <hr>
                                
                                <h4><i class="hlp-required pointer help" data-field="alcohol" title="Click to see the guide">?</i> Alcohol Consumption</h4>
                                <h6 class="no-margin-left">This test has been designed based on the Australian guidelines for Alcohol consumption.</h6>
                                {% for item in alcohol_questions %}
                                    <div class="form-group"> 
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label class="bullet">{{ item.question }}</label>
                                            </div>
                                            <div class="col-sm-offset-1 col-sm-5">
                                                <input type="number" id="{{ item.class }}" name="{{ item.class }}" {#name="answer[{{ item.lq_id }}]"#} value="{% if app.session.get('post')[ item.class ] is defined %}{{ app.session.get('post')[ item.class ] }}{% endif %}" class="form-control required" placeholder="0">
                                            </div> 
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </fieldset>
                                    
                                    
                                    
                    <h1>Nutrition</h1>
                    <fieldset>
                        <div class="row">
                            <div class="col-sm-12">
                                <h4><i class="hlp-required pointer help" data-field="nutrition" title="Click to see the guide">?</i> Nutrition</h4>
                                <h6 class="no-margin-left">This test is based on the current Australian Dietary guidelines for Healthy eating and has been created to give an indication of whether you are eating for your health.</h6>
                                <div class="form-group nutrition-items"> 
                                    {% for item in nutrition_questions %}
                                        <div class="row item">
                                            <div class="col-sm-6">
                                                <label class="bullet">{{ item.question }}</label>
                                            </div>
                                            <div class="col-sm-offset-1 col-sm-5">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="nutrition[{{ item.lq_id }}]" {#name="answer[{{ item.lq_id }}]"#} class="{{ item.class }} opt1" value="0" {% if app.session.get('post')['nutrition'][ item.lq_id ] is defined and app.session.get('post')['nutrition'][ item.lq_id ] == 0 and app.session.get('post')['nutrition'][ item.lq_id ] is not empty %}checked{% endif %}> No
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="nutrition[{{ item.lq_id }}]" {#name="answer[{{ item.lq_id }}]"#} class="{{ item.class }} opt2" value="1" {% if app.session.get('post')['nutrition'][ item.lq_id ] is defined and app.session.get('post')['nutrition'][ item.lq_id ] == 1 %}checked{% endif %}> Yes
                                                    </label>
                                                </div>
                                            </div> 
                                            <hr>
                                        </div>
                                    {% endfor %}
                            </div>
                        </div>
                    </fieldset>
                                
                                
                                
                                
                                
                    <h1>Physical</h1>
                    <fieldset>                            
                        <div class="row">
                            <div class="col-sm-6">
                                <h4>General</h4>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="label-control">First name</label>
                                            <input type="text" name="fname" class="form-control required" value="{% if post.fname is defined %}{{ post.fname }}{% elseif app.session.get('post')['fname'] is defined %}{{ app.session.get('post')['fname'] }}{% endif %}" placeholder="First name" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="label-control">Last name</label>
                                            <input type="text" name="lname" class="form-control required" value="{% if post.lname is defined %}{{ post.lname }}{% elseif app.session.get('post')['lname'] is defined %}{{ app.session.get('post')['lname'] }}{% endif %}" placeholder="Last name" required>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    
                                    <div class="col-md-6">
                                        <div class="form-group">
                                        <label class="label-control">Gender</label>
                                        <select name="gender" class="selectpicker required" title="--- select gender --- ">
                                            <option value="">--- select gender ---</option>
                                            <option value="male" {% if post.gender is defined and post.gender == 'male'%}selected{% elseif app.session.get('post')['gender'] is defined and app.session.get('post')['gender'] == 'male' %}selected{% endif %}>Male</option>
                                            <option value="female" {% if post.gender is defined and post.gender == 'female'%}selected{% elseif app.session.get('post')['gender'] is defined and app.session.get('post')['gender'] == 'female' %}selected{% endif %}>Female</option>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="label-control">Email</label>
                                            <input type="email" name="email" class="form-control required" value="{% if post.email is defined %}{{ post.email }}{% elseif app.session.get('post')['email'] is defined %}{{ app.session.get('post')['email'] }}{% endif %}" placeholder="Email" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="label-control">Date of Birth</label>
                                                    <input type="text" name="birthdate" value="{% if post.birthdate is defined %}{{ post.birthdate|date('d/m/Y') }}{% endif %}" class="form-control date-control required" placeholder="Date of Birth">
                                                </div>
                                         {#<div class="form-group">
                                            <label class="label-control">Age</label>
                                            <input type="text" name="age" class="form-control required" value="{% if post.age is defined %}{{ post.age }}{% elseif app.session.get('post')['age'] is defined %}{{ app.session.get('post')['age'] }}{% endif %}" placeholder="Age" required>
                                        </div>#}
                                    </div>
                                    
                                    <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="label-control">Height</label>
                                        <input type="number" name="height" class="form-control required" value="{% if post.height is defined %}{{ post.height }}{% elseif app.session.get('post')['height'] is defined %}{{ app.session.get('post')['height'] }}{% endif %}" placeholder="Height (cm)" required>
                                    </div>
                                    </div>
                                    
                                </div>
                                
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="label-control">Postcode</label>
                                            <input type="text" name="postcode" id="postcode" class="form-control required" value="{% if post.postcode is defined %}{{ post.postcode }}{% elseif app.session.get('post')['postcode'] is defined %}{{ app.session.get('post')['postcode'] }}{% endif %}" placeholder="postcode" required>
                                        </div>
                                    </div>
                                </div>

                                
                                
                                
                                
                                <div class="form-group">
                                    <label class="label-control">Weight</label>
                                    <input type="number" name="weight" class="form-control required" value="{% if app.session.get('post')['weight'] is defined %}{{ app.session.get('post')['weight'] }}{% endif %}" placeholder="Weight (kg)">
                                    <span class="hlp-required pointer help" title="Click to see the guide" data-field="weight">?</span>
                                </div>
                                <div class="form-group">
                                    <label class="label-control">BMI</label>
                                    <input type="text" name="bmi" class="form-control required" value="{% if app.session.get('post')['bmi'] is defined %}{{ app.session.get('post')['bmi'] }}{% endif %}" placeholder="Body Mass Index (BMI)" readonly>
                                    <span class="hlp-required pointer help" data-field="bmi" title="Click to see the guide">?</span>
                                </div>
                                <br/>
                                <div class="row">
                                <div class="form-group" style="margin-left: 40px;font-size: 12px;">
                                    <input type="checkbox" id="s_contact" name="s_like_to_be_contact" {% if post.s_like_to_be_contact is defined and post.s_like_to_be_contact==1  %}checked{% endif %} > I would like to be contacted by my local Healthy Life Partner
                                </div>
                                <div class="col-sm-6" id="div_contact" style="display: none;">
                                    <div class="form-group">
                                        <input type="text" id="phone" name="phone" value="{% if post.phone is defined %}{{ post.phone }}{% endif %}" class="form-control" placeholder="Phone">
                                    </div>
                                </div>
                            </div>
                            <h4>Nearest community partner:</h4>
                                <div id="result_container">
                                        <div id="default">No result</div>
                                        
                                        </div>
                                <br/><br/>
                            </div>
                            <div class="col-sm-6">
                                <h4>Waist Measurement</h4>
                                <div class="form-group">
                                    <label class="label-control">Waist</label>
                                    <input type="text" name="biometric_waist_value" class="form-control required" value="{% if app.session.get('post')['biometric_waist_value'] is defined %}{{ app.session.get('post')['biometric_waist_value'] }}{% endif %}" placeholder="Waist (cm)">
                                    <span class="hlp-required pointer help" data-field="biometric_upper" title="Click to see the guide">?</span>
                                </div>
                                
                            </div>
                            
                        </div>
                    </fieldset>
                </form>
                {% if post.status is defined and post.status == 'draft' %}
                    {% if post.client_test_id is defined %}
                    <button type="button" class="btn btn-danger btn-delete" name="submit" value="delete"><span class="glyphicon glyphicon-remove"></span> Delete Draft</button> 
                    <button type="button" class="btn btn-default btn-draft" name="submit" value="draft"><span class="glyphicon glyphicon-floppy-disk"></span> <span class="text">Save Draft</span></button> 
                    {% endif %}
                {% endif %}
            </div>
        </div>
</section>

                               
<!-- Modal -->
<div class="modal fade" id="mdlHelp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">HELP</h4>
      </div>
      <div class="modal-body help-container">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block javascripts %}
<script type="text/javascript">
    var asset_img = "{{ asset('img') }}";
    var asset_resources = "{{ asset('resources') }}";
    var get_submit_path = "{{ path("acme_lite_test_create_test") }}";
    var test_questionnaire_path = "{{ path('acme_lite_test_create_test_questionnaire') }}";
    var vo2_questionnaire_path = "{{ path('acme_lite_test_create_vo2_questionnaire') }}";
    var get_help_path = "{{ path('acme_club_help_get_help') }}";
    
    // Test Result Paths
    var get_bmi_result_path = "{{ path('acme_lite_test_create_test_get_bmi_result') }}";
    var get_physical_activity_result_path = "{{ path('acme_lite_test_create_test_get_physical_activity_result') }}";
    var get_smoking_path = "{{ path('acme_lite_test_create_test_get_smoking_result') }}";
    var get_alcohol_consumption_path = "{{ path('acme_lite_test_create_test_get_alcohol_consumption_result') }}";
    var get_nutrition_path = "{{ path('acme_lite_test_create_test_get_nutrition_result') }}";
    var get_mental_health_path = "{{ path('acme_lite_test_create_test_get_mental_health_result') }}";
    var get_risk_profile_path = "{{ path('acme_lite_test_create_test_get_risk_profile_result')  }}";
    var get_vo2_test_path = "{{ path('acme_lite_test_create_test_get_vo2_test_result') }}";
    var get_balance_test_path = "{{ path('acme_lite_test_create_test_get_balance_test_result') }}";
    var get_load_nearest_club_path = "{{ path('acme_lite_test_nearest_club') }}";
    // removelater
    var get_waist_test_path = "{{ path('acme_lite_test_create_test_get_waist_test_result') }}";
    
    
</script>

{#<script src="{{ asset('templates') }}/hlp-2.0/js/jquery.steps.min.js"></script>#}
<script src="{{ asset('js') }}/litetest/jquery.steps.js"></script>
<!-- Jquery Validate -->
<script src="{{ asset('templates') }}/hlp-2.0/js/jquery.validate.min.js"></script>
<script src="{{ asset('resources') }}/jquery-form/jquery.form.js"></script>
<script src="{{ asset('js') }}/litetest/litetest_new.js"></script>
{% endblock %}