{% extends "::lite_test_layout.html.twig" %}

{% block title %}Create Test{% endblock %}

{% block stylesheets %}
<style>
.glyphicon.glyphicon-check{
    background:url({{ asset('img') }}/icon-checked.jpg) no-repeat top left;
}
.glyphicon.glyphicon-unchecked{
    background:url({{ asset('img') }}/icon-unchecked.jpg) no-repeat top left;
}
</style>
{% endblock %}


{% block specialscripts %}
    {% if  litetest_success is defined and  litetest_success == 1 %}
    <!-- Facebook Conversion Code for Free Test Pixel -->
    <script>(function() {
    var _fbq = window._fbq || (window._fbq = []);
    if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '//connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
    }
    })();
    window._fbq = window._fbq || [];
    window._fbq.push(['track', '6029220955349', {'value':'0.00','currency':'USD'}]);
    </script>
    <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6029220955349&amp;cd[value]=0.00&amp;cd[currency]=USD&amp;noscript=1" /></noscript>
    {% endif %}
{% endblock %}

{% block body %}
    <br><br>
    {# if app.session.flashbag.get('success')|length > 0#}

    {% if  litetest_success is defined and  litetest_success == 1 %}
        <center>
            <h3>Your Lite Test has been submitted. Thank you!</h3>
        </center>

    {% else %}
        <!-- two columns -->
        <div id="two-columns">
                <!-- content -->
                <section id="content">
                        <form id="testForm" action="{{ path("acme_lite_test_create_test") }}" method="post">
                                <input type="hidden" name="redirect" value="">
                                <fieldset>


                                        {% for flashMessage in app.session.flashbag.get('error') %}
                                        <div class="alert alert-danger">
                                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                                            {% for item in flashMessage %}
                                                {{ item.message }}<br/>
                                            {% endfor %}
                                        </div>
                                        {% endfor %}

                                        <div class="box">
                                                <h2>General</h2>
                                                <div class="row-holder">
                                                    <div class="add-row">
                                                            <div class="row">
                                                                    <input type="text" name="fname" value="{% if post.fname is defined %}{{ post.fname }}{% elseif app.session.get('post')['fname'] is defined %}{{ app.session.get('post')['fname'] }}{% endif %}" placeholder="First Name" required>
                                                            </div>
                                                    </div>
                                                    <div class="add-row">
                                                            <div class="row">
                                                                    <input type="text" name="lname" value="{% if post.lname is defined %}{{ post.lname }}{% elseif app.session.get('post')['lname'] is defined %}{{ app.session.get('post')['lname'] }}{% endif %}" placeholder="Last Name" required>
                                                            </div>
                                                    </div>
                                                </div>
                                                <div class="row-holder">
                                                    <div class="add-row">
                                                            <div class="row">
                                                                <input type="number" name="age" placeholder="Age" value="{% if post.age is defined %}{{ post.age }}{% elseif app.session.get('post')['age'] is defined %}{{ app.session.get('post')['age'] }}{% endif %}"  required>
                                                            </div>
                                                    </div>
                                                    <div class="add-row">
                                                            <div class="row">
                                                                <input type="email" name="email" placeholder="Email" value="{% if post.email is defined %}{{ post.email }}{% elseif app.session.get('post')['email'] is defined %}{{ app.session.get('post')['email'] }}{% endif %}"  required>
                                                            </div>
                                                    </div>
                                                </div>
                                                <div class="box box4">
                                                    <div class="row-holder">
                                                        <div class="add-row litetest-select">
                                                            <div class="add-select1">
                                                                <select name="gender" placeholder="Gender" required>
                                                                    <option value="">Gender</option>
                                                                    <option value="male" {% if post.gender is defined and post.gender == 'male'%}selected{% elseif app.session.get('post')['gender'] is defined and app.session.get('post')['gender'] == 'male' %}selected{% endif %}>Male</option>
                                                                    <option value="female" {% if post.gender is defined and post.gender == 'female'%}selected{% elseif app.session.get('post')['gender'] is defined and app.session.get('post')['gender'] == 'female' %}selected{% endif %}>Female</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="add-row">
                                                            <div class="row">
                                                                <input type="number" class="input-help" name="height" placeholder="Height (CM)" value="{% if post.height is defined %}{{ post.height }}{% elseif app.session.get('post')['height'] is defined %}{{ app.session.get('post')['height'] }}{% endif %}" required>
                                                                <a class="tooltip pointer help" data-field="height" title="Click it to see the guide"><i class="icon-help-circled"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row-holder">

                                                        <div class="add-row">
                                                                <div class="row">
                                                                        <input type="number" class="input-help" name="weight" value="{% if post.weight is defined %}{{ post.weight }}{% elseif app.session.get('post')['weight'] is defined %}{{ app.session.get('post')['weight'] }}{% endif %}" placeholder="Weight (KG)" required>
                                                                </div>
                                                                <a class="tooltip pointer help" title="Click to see the guide" data-field="weight"><i class="icon-help-circled"></i></a>
                                                        </div>
                                                        <div class="add-row">
                                                                <div class="row">
                                                                    <input type="text" class="input-help" name="bmi" placeholder="Body Mass Index (BMI)" value="{% if post.bmi is defined %}{{ post.bmi }}{% elseif app.session.get('post')['bmi'] is defined %}{{ app.session.get('post')['bmi'] }}{% endif %}" readonly>
                                                                </div>
                                                                <a class="tooltip pointer help" data-field="bmi" title="Click to see the guide"><i class="icon-help-circled"></i></a>
                                                        </div>
                                                </div>
                                        </div>
                                        <div class="box box1">
                                                <h2>Lifestyle</h2>
                                                <div class="row-holder">
                                                        <div class="add-row">
                                                                <div class="add-container">
                                                                    <a type="button" class="btn-link btn-questionnaire {#lightbox#} pointer input-help" data-code="physical_activity" {#href="#popup1"#}>Complete the Questionnaire</a> 
                                                                    <a class="tooltip pointer help" data-field="physical_activity" title="Click to see the guide"><i class="icon-help-circled"></i></a>

                                                                </div>
                                                                <div class="row">
                                                                    <input type="text"  name="lifestyle_physical_activity" style="display: none;" placeholder="Physical Activity" value="{% if post.lifestyle_physical_activity is defined %}{{ post.lifestyle_physical_activity }}{% else %}{{ app.session.get('lifestyle-physical-activity') }}{% endif %}"  readonly>
                                                                    <span class="lifestyle-is-done lifestyle-physical-activity glyphicon {% if s_lifestyle_physical_activity_answer_complete == true %}glyphicon-check{% else %}glyphicon-unchecked{% endif %}"></span> Physical Activity
                                                                </div>
                                                        </div>

                                                        <div class="add-row">
                                                                <div class="add-container">
                                                                    <a type="button" class="btn-link btn-questionnaire {#lightbox#} pointer input-help" data-code="smoking" {#href="#popup1"#}>Complete the Questionnaire</a> 
                                                                    <a class="tooltip pointer help" data-field="smoking" title="Click to see the guide"><i class="icon-help-circled"></i></a>

                                                                </div>
                                                                <div class="row">
                                                                    <input type="text"  name="lifestyle_smoking" style="display: none;" placeholder="Smoking Habits" value="{% if post.lifestyle_smoking is defined %}{{ post.lifestyle_smoking }}{% else %}{{ app.session.get('lifestyle-smoking') }}{% endif %}"  readonly>
                                                                    <span class="lifestyle-is-done lifestyle-smoking glyphicon {% if s_lifestyle_smoking_answer_complete == true %}glyphicon-check{% else %}glyphicon-unchecked{% endif %}"></span> Smoking
                                                                </div>
                                                        </div>
                                                        <div class="add-row">
                                                                <div class="add-container">
                                                                    <a type="button" class="btn-questionnaire btn-link {#lightbox#} pointer input-help" data-code="alcohol" {#href="#popup1"#}>Complete the Questionnaire</a> 
                                                                    <a class="tooltip pointer help" data-field="alcohol" title="Click to see the guide"><i class="icon-help-circled"></i></a>
                                                                </div>
                                                                <div class="row">
                                                                    <input type="text"  name="lifestyle_alcohol" style="display: none;" placeholder="Alcohol Consumption" value="{% if post.lifestyle_alcohol is defined %}{{ post.lifestyle_alcohol }}{% else %}{{ app.session.get('lifestyle-alcohol') }}{% endif %}"  readonly>
                                                                    <span class="lifestyle-is-done lifestyle-alcohol glyphicon {% if s_lifestyle_alcohol_answer_complete == true %}glyphicon-check{% else %}glyphicon-unchecked{% endif %}"></span> Alcohol Consumption

                                                                </div>
                                                        </div>
                                                        <div class="add-row">
                                                                <div class="add-container">
                                                                    <a type="button" class="btn-link btn-questionnaire {#lightbox#} pointer input-help" data-code="nutrition" {#href="#popup1"#}>Complete the Questionnaire</a> 
                                                                    <a class="tooltip pointer help" data-field="nutrition" title="Click to see the guide"><i class="icon-help-circled"></i></a>
                                                                </div>
                                                                <div class="row">
                                                                    <input type="text"  name="lifestyle_nutrition" style="display: none;" placeholder="Nutrition" value="{% if post.lifestyle_nutrition is defined %}{{ post.lifestyle_nutrition }}{% else %}{{ app.session.get('lifestyle-nutrition') }}{% endif %}"  readonly>
                                                                    <span class="lifestyle-is-done lifestyle-nutrition glyphicon {% if s_lifestyle_nutrition_answer_complete == true %}glyphicon-check{% else %}glyphicon-unchecked{% endif %}"></span> Nutrition
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>

                                        <div class="box">
                                                <h2>Waist Measurement (CM)</h2>
                                                <div class="row-holder">
                                                        <div class="add-row">
                                                                <div class="row">
                                                                    <input type="number" class="input-help" name="biometric_waist_value" value="{% if post.biometric_waist_value is defined %}{{ post.biometric_waist_value }}{% elseif app.session.get('post')['biometric_waist_value'] is defined %}{{ app.session.get('post')['biometric_waist_value'] }}{% endif %}" placeholder="Waist (CM)">
                                                                    <a class="tooltip pointer help" data-field="biometric_waist" title="Click to see the guide"><i class="icon-help-circled"></i></a>
                                                                </div>

                                                        </div>

                                                </div>


                                        </div>
                                    
                                        
                                        
                                        <div class="box box4">
                                                
                                                <div class="btn-holder">
                                                    <div class="termsconditions"><input type="checkbox" name="termsconditions" required> I agree to the <a href="http://www.healthylifeproject.com.au/disclaimer/" target="_blank">terms and conditions</a>.</div>
                                                    {#<a  class="btn btn-primary btn-open-disclaimer pointer">Submit</a>#}
                                                    <button type="submit" class="btn btn-primary btn-finalise" name="submit" value="finalise">Submit</button>
                                                </div>
                                        </div>
                                </fieldset>
                        </form>
                </section>
                <!-- sidebar -->
                <aside id="sidebar-lite">
                        <h3>Help</h3>
                                        <br><br>
                        <div class="help-container">
                            <p>We'll display some helpful hints in this area when you press click on the <a class="tooltip"><i class="icon-help-circled"></i></a> through the test.</p>

                            <p>Remember, honesty is the best policy!</p>
                        </div>
                </aside>
                
                
                
                
                
                
        </div>

        <a href="#popup3" class="lightbox the-guide" style="display: none">the guide</a>
        <!-- popup holder -->
        {#
        <div id="lifeStyleQuestionnaireModal" class="popup-holder">
            <div id="popup1" class="lightbox">
                <fieldset>
                        <h2 class="modal-title">Email This Test</h2>
                        <a href="#" class="questionnaire-modal-close close">Close</a>
                        <form id="frmLifestyle" action="{{ path('acme_lite_test_create_test_life_style_test_answer') }}" method="post">
                            <div class="modal-body final">
                            </div>
                        </form>
                        <button type="button" class="btn-submit-lifestyle-answer btn btn-primary">Save & Submit</button>
                     
                </fieldset>
            </div>
        </div>
        #}
        <div id="lifeStyleQuestionnaireModal" class="fancybox-lock">
            <div class="fancybox-overlay fancybox-overlay-fixed" style="display:none"><div class="fancybox-wrap fancybox-desktop fancybox-type-inline fancybox-opened" tabindex="-1" style="width: 1008px; height: auto; position: absolute; top: 31px; left: {#170px#} 5px; opacity: 1; overflow: visible;"><div class="fancybox-skin" style="padding: 15px; width: auto; height: auto;"><div class="fancybox-outer"><div class="fancybox-inner" style="overflow: auto; {#width: 978px;#} height: auto;"><div id="popup1" class="lightbox" style="display: block;">
                    <fieldset>
                            <h2 class="modal-title">Physical Activity Questionnaire</h2>
                            <a href="#" class="questionnaire-modal-close close">Close</a>
                            <form id="frmLifestyle" action="{{ path('acme_lite_test_create_test_life_style_test_answer') }}" method="post">
                                <div class="modal-body final">
                                </div>
                            </form>
                            <button type="button" class="btn-submit-lifestyle-answer btn btn-primary">Save &amp; Submit</button>
                        </fieldset>
                </div></div></div><a title="Close" class="fancybox-item fancybox-close" href="javascript:;"></a></div></div>
            </div>
        </div>
        
        
        
        
        
        <!-- popup holder -->
        <div id="theGuideModal" class="popup-holder">
            <div id="popup3" class="lightbox">
                <fieldset>
                        <h2 class="modal-title">HELP</h2>
                        <a href="#" class="term-condition-modal-close close">Close</a>
                        <div class="modal-body final">


                        </div>
                </fieldset>
            </div>
        </div>
        <div id="termsConditionModal" class="fancybox-lock">
            <div class="fancybox-overlay fancybox-overlay-fixed" style="display:none"><div class="fancybox-wrap fancybox-desktop fancybox-type-inline fancybox-opened" tabindex="-1" style="width: 1008px; height: auto; position: absolute; top: 31px; left: 170px; opacity: 1; overflow: visible;"><div class="fancybox-skin" style="padding: 15px; width: auto; height: auto;"><div class="fancybox-outer"><div class="fancybox-inner" style="overflow: auto; {#width: 978px;#} height: auto;"><div id="popup2" class="lightbox" style="display: block;">
                    <fieldset>
                            <h2 class="modal-title">Legal Disclaimer</h2>
                            <a href="#" class="term-condition-modal-close close">Close</a>
                            <ol >
                                <li>Need Verses Want – The Healthy Life Project (<strong>'we'</strong>, <strong>'us'</strong> or <strong>'our'</strong>) provides The Healthy Life Project as a tool to assist consumers in identifying health risks and potential changes that may promote healthier habits.</li>
                                <li>Any consumer that utilises The Healthy Life Project (<strong>'you'</strong> or <strong>'your'</strong>) agrees to and accepts these terms as a legally binding agreement between you and us. These terms take legal effect on the date of your use, and each subsequent use of The Healthy Life Project.</li>
                                <li>Use of The Healthy Life Project does not constitute medical advice on behalf of us or any agent, contractor, director, employee or assignee of us. Please consult a qualified health care professional prior to implementing any new health care plans or changes in diet.</li>
                                <li>Any results, information or outcomes presented, published or otherwise communicated to a consumer through the use of The Healthy Life Project are based solely in the inputs provided by the consumer and <strong>do not</strong> represent a medical opinion or advice.</li>
                                <li>Any use of The Healthy Life Project, and any results, information or outcomes presented, published or otherwise communicated to you on account of that use is bound by these terms.</li>
                            </ol>

                            <h3>Exclusion of warranties and liability</h3>
                            <ol start="6">
                                <li>To the maximum extent allowable by law, we exclude, and do not make any representation, warranty or endorsement of any kind, whether expressed or implied except which may be implied by statute and are incapable of exclusion, in respect of any results, information or outcomes presented, published or otherwise communicated to you on account of use of The Healthy Life Project or any associated webpages, applications or software.</li>
                                <li>All content and services associated with The Healthy Life Project are provided on an 'as is' and 'as available' basis. We make no guarantees, and do not warrant that the use of The Healthy Life Project, or any results provided on account of that use will accurately represent your actual life expectancy or any health benefits that may apply to you.</li>
                                <li>To the maximum extent permitted by law, we exclude all liability for any loss or damage whatsoever which arises or is suffered, (including but not limited to direct, indirect, incidental, special, consequential or exemplary damages, loss of profits or revenue, business interruption, loss, damage or corruption of data or failure to realise anticipated savings or benefits or business opportunities) as a result of the use of, reliance on, or action taken as a result of, any information or material in The Healthy Life Project for any decision or otherwise.</li>
                                <li>You hereby waive, release, forgive, discharge, relinquish any and all claims that you may have against us, our related bodies corporate, directors, officers, employees, contractors, agents and representatives (those indemnified), in connection with, or arising out of, or incidental to, your use of The Healthy Life Project, and indemnify same from and against:
                                    <ol type="a">
                                        <li>any loss or damage or liability for any loss or damage incurred by you relating to The Healthy Life Project;</li>
                                        <li>any loss, liability, claim, demand, damage or expense (including legal fees) made by any third party against those indemnified, howsoever caused (including through negligence) directly or indirectly arising out of or in connection with:
                                            <ol type="i">
                                                <li>your use of or reliance on information contained in or accessed through the Application; or</li>
                                                <li>breach by you of these terms.</li>
                                            </ol>

                                        </li>
                                    </ol>

                                </li>
                            </ol>

                            <h3>Administrative Clauses</h3>
                            <ol start="10">
                                <li>These terms shall be governed by and construed in accordance with the laws in force in the State of Victoria, Australia. You irrevocably and unconditionally submit to the exclusive jurisdiction of the courts of Victoria in relation to these terms.</li>
                                <li>These terms constitute the entire agreement between you and us relating to your use of The Healthy Life Project and any reliance on the results provided therein.</li>
                                <li>The invalidity or unenforceability of any provision of these terms shall not affect the rest of the provision of the terms, which will continue in full force and effect.</li>
                                <li>If a provision of these terms is found by a court of law to be invalid or unenforceable:
                                    <ol type="a">
                                        <li>it is to be read down or severed to the extent of the invalidity or unenforceability; and</li>
                                        <li>that fact does not affect the validity or enforceability of the remaining provisions.</li>
                                    </ol>

                                </li>
                            </ol>
                            <a class="btn btn-primary btn-fake-finalise pointer">Accept & Submit Test</a>
                            <a class="btn btn-default btn-cancel-terms-condition pointer">Cancel</a>
                        </fieldset>
                </div></div></div><a title="Close" class="fancybox-item fancybox-close" href="javascript:;"></a></div></div>
            </div>
        </div>
        
        <div class="submit-gif" style="display: none">
            <span class="helper"></span>
            <img src="{{ asset('img') }}/submit-spinner.gif">
        </div>
        
    {% endif %}
{% endblock %}


{% block javascripts %}
<script type="text/javascript">
    var asset_img = "{{ asset('img') }}";
    var asset_resources = "{{ asset('resources') }}";
    var get_submit_path = "{{ path("acme_lite_test_create_test") }}";
    var test_questionnaire_path = "{{ path('acme_lite_test_create_test_questionnaire') }}";
    var vo2_questionnaire_path = "{{ path('acme_lite_test_create_vo2_questionnaire') }}";
    var get_help_path = "{{ path('acme_club_help_get_help') }}";
    
    // Test Result Paths
    var get_bmi_result_path = "{{ path('acme_lite_test_create_test_get_bmi_result') }}";
    var get_physical_activity_result_path = "{{ path('acme_lite_test_create_test_get_physical_activity_result') }}";
    var get_smoking_path = "{{ path('acme_lite_test_create_test_get_smoking_result') }}";
    var get_alcohol_consumption_path = "{{ path('acme_lite_test_create_test_get_alcohol_consumption_result') }}";
    var get_nutrition_path = "{{ path('acme_lite_test_create_test_get_nutrition_result') }}";
    var get_mental_health_path = "{{ path('acme_lite_test_create_test_get_mental_health_result') }}";
    var get_risk_profile_path = "{{ path('acme_lite_test_create_test_get_risk_profile_result')  }}";
    var get_vo2_test_path = "{{ path('acme_lite_test_create_test_get_vo2_test_result') }}";
    var get_balance_test_path = "{{ path('acme_lite_test_create_test_get_balance_test_result') }}";
    
    // removelater
    var get_waist_test_path = "{{ path('acme_lite_test_create_test_get_waist_test_result') }}";
    
    
</script>

<script src="{{ asset('js') }}/litetest/litetest.js"></script>
{% endblock %}