<style>
    .premium-only{
        background-image: url('{{ site_url }}/img/reports-icons/premium-only.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: right top; 
    }
</style>
    {# HEADER #}
    <table class="logo-area">
        <tr>
            <td class="logo">
                <img src="{{ site_url }}/img/logo-anytime.png">
            </td>
            <td class="club-name">
                {{ app.session.get('club_name') }}
            </td>
        </tr>
    </table>

    <table class="client">
        <tr>
            <td class="name">
                <p>{{ client_details.fname|upper }} {{ client_details.lname|upper }}<br/>
                <span>{{ client_details.age }} Year old {{ client_details.gender }}</span></p>
            </td>
            <td class="datetime">
                <p>{{ test_details.test_datetime|date("d F Y") }}</p>
            </td>
        </tr>
    </table>

{#    {% if test_details.event_id != '' %}
        <div class="challenge"><p>Challenge: <span>{{ test_details.event_name }}</span></p></div>
    {% else %}
        <div class="challenge"><p>Challenge: </p></div>
    {% endif %}#}
    <div class="intro-text">
        The Healthy Life Project is about EDUCATING Australians about how they can potentially live more years free of the burden of disease, INSPIRE them to make the positive changes required in their lives &amp; MOTIVATE them to stick with it.
    </div>
        
    <table class="intro-averages">
        <tr>
            <td class="col-1">
                <img src="{{ site_url }}/templates/hlp-2.0/images/male-logo.png">
                <p>The average Australian male lives for a total of {{ hl_expectancy_male.total_expectancy }} years, {{ hl_expectancy_male.expectancy }} Healthy Life years &amp; {{ hl_expectancy_male.dalys }} Disability affected life years as a result of Injury, Illness or disease. </p>
            </td>
            <td class="col-2">
                <img src="{{ site_url }}/templates/hlp-2.0/images/female-logo.png">
                <p>The average Australian female lives for a total of {{ hl_expectancy_female.total_expectancy }} years, {{ hl_expectancy_female.expectancy }} 
                Healthy Life years & {{ hl_expectancy_female.dalys }} Disability affected life years as a result 
                of Injury, Illness or disease.</p>
            </td>
            <td class="col-3">
                <img src="{{ site_url }}/templates/hlp-2.0/images/heart-logo.png">
                <p>95% of these Years of Healthy life lost are a result of Chronic disease, injury or illness - Most of which could be prevented or avoided through lifestyle modification.</p>
            </td>
        </tr>
    </table>
        

    {# SUMMARY OF YOUR RESULTS #}
                
    <div class="summary">
        <div class='rotate-this'>
            Average Life Expectancy
        </div>
        <table border='0' cellpadding='0' cellspacing='0'>
            <thead>
                <tr>
                    <td class='title' colspan='2'>Summary of Results</td>
{#                    <td></td>#}
                    <td><center><img src="{{ site_url }}/templates/hlp-2.0/images/summary-heartbeat-logo.png"></center></td>
                    <td><center><img src="{{ site_url }}/templates/hlp-2.0/images/summary-apple-logo.png"></center></td>
                    <td><center><img src="{{ site_url }}/templates/hlp-2.0/images/summary-heart-logo.png"></center></td>
                </tr>
            </thead>
            
            <tbody>
                <tr>
                    <td class='purple'>
                        <div>Estimated Years of Potential Healthy Life Lost</div>
                    </td>
                    <td class='row-1 no-border'>
                        <span>
                        {% if test_details.estimated_years_you_will_live_with_did <= 0 %}
                            ---
                        {% else %}
                            {{ '%.1f' | format(test_details.estimated_years_you_will_live_with_did)| replace({".0" : ""}) }} 
                        {% endif %}
                        </span><br>
                        Years of Affected Life
                    </td>
                    <td class='row-1'>
                        <div>
                            <span>
                            {% if (test_details.healthy_life_score * 100) <= 0 %}
                                ---
                            {% else %}
                                {{ '%.1f' | format((test_details.healthy_life_score * 100))| replace({".0" : ""}) }}%
                            {% endif %}
                            </span><br>
                            Of my Healthy Life Potential
                        </div>
                    </td>
                    <td class='row-1'>
                        <div>
                            <span>
                            {% if test_details.estimated_current_healthy_life_age <= 0 %}
                                ---
                            {% else %}
                                {{ '%.1f' | format(test_details.estimated_current_healthy_life_age)| replace({".0" : ""}) }}
                            {% endif %}
                            </span><br>
                            My Healthy Life Age
                        </div>
                    </td>
                    <td class='row-1'>
                        <div>
                            <span>
                            {% if test_details.you_could_add_up_to <= 0 %}
                                ---
                            {% else %}
                                {{ '%.1f' | format(test_details.you_could_add_up_to)| replace({".0" : ""}) }}
                            {% endif %}
                            </span><br>
                            Potential Healthy Life Years to Add
                        </div>
                    </td>
                </tr>
                
                <tr>
                    <td class='gray'>
                        <div>Predicted Years of Healthy Life</div>
                    </td>
                    <td class='row-2'>
                        <span>
                            {% if test_details.estimated_healthy_life_expectancy <= 0 %}
                                ---
                            {% else %}
                                {{ '%.1f' | format(test_details.estimated_healthy_life_expectancy)| replace({".0" : ""}) }} 
                            {% endif %}
                        </span><br>
                        Years of Expected Healthy Life
                    </td>
                    <td class='row-2'>
                        <div>
                        Based on the average Australian, your current age, lifestyle & physical condition.
                        </div>
                    </td>
                    <td class='row-2'>
                        <div>
                        Your estimated 'age' based on your estimated years of healthy life left compared to the Australian average.
                        </div>
                    </td>
                    <td class='row-2'>
                        <div>
                            {% if client_details.age <= 60 %}
                                The number of healthy years you could potentially add to your life by making a change.
                            {% else %}
                                The number of healthy years you could potentially improve your estimated healthy life age through positive changes.
                            {% endif %}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
                        
                        
                        
                        
                        
                        
    <div class='full-results'>
        <div class="title">Full Results</div>
        
        <table class="results-detail" border="0" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <td class="first-row"><div class="result" style="background-color: {{ test_details.healthy_life_score_outcome['color'] }}">{{ test_details.healthy_life_score_outcome['result'] }}</div></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="last-row"></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="first-row">
                        <div class="upper">
                            Your Current Healthy Life Score is<br>
                            <span>
                                {% if (test_details.healthy_life_score * 100) <= 0 %}
                                    ---
                                {% else %}
                                    {{ '%.1f' | format((test_details.healthy_life_score * 100))| replace({".0" : ""}) }}%
                                {% endif %}
                            </span>
                        </div>
                    </td>
                    <td>
                        <div class="upper">
                            Your Predicted Years of Healthy Life<br>
                            <span>
                                {% if test_details.estimated_healthy_life_expectancy <= 0 %}
                                    ---
                                {% else %}
                                    {{ '%.1f' | format(test_details.estimated_healthy_life_expectancy)| replace({".0" : ""}) }}
                                {% endif %}
                            </span>
                        </div>
                    </td>
                    <td>
                        <div class="upper {% if client_details.age > 60 %}age-over-60{% endif %}">
                            {% if client_details.age <= 60 %}
                                Estimated Years of Healthy Life Left<br>
                                <span>
                                    {% if test_details.estimated_years_of_healthy_life_left <= 0 %}
                                        ---
                                    {% else %}
                                        {{ '%.1f' | format(test_details.estimated_years_of_healthy_life_left)| replace({".0" : ""}) }} 
                                    {% endif %}
                                </span>
                            {% else %}
                                Based on the average Australian, your current age, lifestyle & physical condition, you are likely to already be affected by some form of chronic disease, injury or illness. The good news is that positive lifestyle changes can can help manage & reduce further development of existing issues & can also assist in prevention of new conditions.
                            {% endif %}
                        </div>
                    </td>
                    <td>
                        <div class="upper">
                            Estimated number of years you will live with a disability, injury or disease<br>
                            <span>
                                {% if test_details.estimated_years_you_will_live_with_did <= 0 %}
                                    ---
                                {% else %}
                                    {{ '%.1f' | format(test_details.estimated_years_you_will_live_with_did)| replace({".0" : ""}) }}
                                {% endif %}
                            </span>
                        </div>
                    </td>
                    <td class="last-row">
                        <div class="upper">
                            Your estimated current Healthy Life Age is<br>
                            <span>
                                {% if test_details.estimated_current_healthy_life_age <= 0 %}
                                    ---
                                {% else %}
                                    {{ '%.1f' | format(test_details.estimated_current_healthy_life_age)| replace({".0" : ""}) }}
                                {% endif %}
                            </span>
                        </div>
                    </td>
                </tr>
                
                <tr>
                    <td class="first-row">
                        <div class="lower">
                            <p>Your healthy life score is where you are currently at of your 'Healthy Life Potential' - The average Australian is at roughly 80% of their Healthy Life potential, 100% means you are as healthy as can be, below 55% means some serious changes need to be made.</p>
                            <p>95% of these Years of Healthy life lost are a result of Chronic disease or Injury - Most of which could be prevented or avoided through lifestyle modification.</p>
                        </div>
                    </td>
                    <td>
                        <div class="lower">
                            <center>
                                <p>Out of a possible
                                    <span>{{ test_details.max_hle }}</span>
                                    Years
                                </p>
                            </center>
                        </div>
                    </td>
                    <td>
                        {% if client_details.age <= 60 %}
                            <div class="lower">
                                {% if test_details.estimated_years_of_healthy_life_left > 0 %}
                                    <p>Based on the average Australian, your current age, lifestyle & physical 
                                    condition this is an estimate of the number of healthy life years before you 
                                    are likely to be affected by disability, injury or disease - many of which are 
                                    preventable through positive lifestyle change.</p>
                                {% else %}
                                    <p>Based on the average Australian, your current age, lifestyle & physical condition it is likely that you are already affected by some form of disability, injury or chronic disease - the good news is that through positive lifestyle change it is likely that these can be improved or managed.</p>
                                {% endif %}
                            </div>
                        {% else %}
                            <div class="lower-age-over-60">
                            </div>
                        {% endif %}
                    </td>
                    <td>
                        <div class="lower">
                            <center>
                                <p>as opposed to the Australian average of
                                    <span>
                                    {% if test_details.estimated_years_you_will_live_with_did_as_opposed_to <= 0 %}
                                        ---
                                    {% else %}
                                        {{ '%.1f' | format(test_details.estimated_years_you_will_live_with_did_as_opposed_to)| replace({".0" : ""}) }}
                                    {% endif %}
                                    </span>
                                    Years.
                                </p>
                                <p>Remember some or many of these affected years could already be behind you.</p>
                            </center>
                        </div>
                    </td>
                    <td class="last-row">
                        <div class="lower">
                            <p>Based on your estimated years of healthy life left compared to the Australian average.</p>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
                                    
    <div class="highlight">
        {% if client_details.age <= 60 %}
            You could add up to 
            <span>
                {% if test_details.you_could_add_up_to <= 0 %}
                    --- years
                {% else %}
                    {{ '%.1f' | format(test_details.you_could_add_up_to)| replace({".0" : ""}) }} years
                {% endif %}
            </span> 
            years to your estimated healthy life years.
        {% else %}
            You could improve your estimated healthy life age by up to 
            <span>
                {% if test_details.you_could_add_up_to <= 0 %}
                    --- years
                {% else %}
                    {{ '%.1f' | format(test_details.you_could_add_up_to)| replace({".0" : ""}) }} years
                {% endif %}
            </span> 
            years.
        {% endif %}
    </div>
        
    <div class="detail-row">
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td class="icon">
                    {% if test_details.lifestyle_physical_activity_result['level'] == 'High' or test_details.lifestyle_physical_activity_result['level'] == 'Low'%}
                        <img src="{{ site_url }}/img/reports-icons/{{ test_details.lifestyle_physical_activity_result['color_val'] }}.png">
                    {% else %}
                        <img src="{{ site_url }}/img/reports-icons/report-gray-icon.png">
                    {% endif %}
                    
                </td>
                <td class="description">
                    <span class="heading">Physical Activity</span>
                    <p>Physical activity is any activity that gets your body moving, makes your breathing become quicker and your heart beat faster.  You can be physically active in many different ways, at any time of the day.</p>
                    <p>
                        YOUR SCORE: {{ test_details.lifestyle_physical_activity_result['text']|raw }}
                    </p>
                </td>
            </tr>
        </table>
    </div>
                    
    <div class="detail-row">
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td class="icon">
                    {% if test_details.lifestyle_smoking_result['level'] == 'High' or test_details.lifestyle_smoking_result['level'] == 'Low'%}
                        <img src="{{ site_url }}/img/reports-icons/{{ test_details.lifestyle_smoking_result['color_val'] }}.png">
                    {% else %}
                        <img src="{{ site_url }}/img/reports-icons/report-gray-icon.png">
                    {% endif %}
                </td>
                <td class="description">
                    <span class="heading">Smoking Habits</span>
                    <p>Physical activity is any activity that gets your body moving, makes your breathing become quicker and your heart beat faster.  You can be physically active in many different ways, at any time of the day.</p>
                    <p>Tobacco smoking is a leading risk factor for chronic disease and early death, including many types of cancer, respiratory disease and heart disease - Tobacco smoking is one of the highest contributors to the burden of disease in Australia of all the risk factors for ill health.</p>
                    <p>YOUR SCORE:  {{ test_details.lifestyle_smoking_result['text']|raw }}</p>
                </td>
            </tr>
        </table>
    </div>
                
    <div class="detail-row">
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td class="icon">
                    {% if test_details.lifestyle_alcohol_result['level'] == 'High' or test_details.lifestyle_alcohol_result['level'] == 'Low'%}
                        <img src="{{ site_url }}/img/reports-icons/{{ test_details.lifestyle_alcohol_result['color_val'] }}.png">
                    {% else %}
                        <img src="{{ site_url }}/img/reports-icons/report-gray-icon.png">
                    {% endif %}
                </td>
                <td class="description">
                    <span class="heading">Alcohol Consumption</span>
                    <p>The consumption of alcohol is widespread in Australia and entwined with many social and cultural activities.  Excessive consumption is a major cause of road and other accidents, domestic and public violence, crime, liver disease and brain damage, and contributes to family breakdown and broader social dysfunction.  Based on the standards outlined by the National Health & Medical Resource Council, One in Five Australians drink at levels that place them at risk of lifetime harm and over two in five Australian adults drink at levels that placed them at risk of an alcohol related injury from a single drinking occassion. </p>
                    <p>YOUR SCORE: {{ test_details.lifestyle_alcohol_result['text']|raw }}</p>
                </td>
            </tr>
        </table>
    </div>
                
    <div class="detail-row">
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td class="icon">
                    {% if test_details.lifestyle_nutrition_result['level'] == 'High' or test_details.lifestyle_nutrition_result['level'] == 'Low'%}
                       <img src="{{ site_url }}/img/reports-icons/{{ test_details.lifestyle_nutrition_result['color_val'] }}.png">
                    {% else %}
                        <img src="{{ site_url }}/img/reports-icons/report-gray-icon.png">
                    {% endif %}
                </td>
                <td class="description">
                    <span class="heading">Nutrition</span>
                    <p>A healthy diet is crucial to ensure we get enough of the nutrients essential for good health and to help reduce our risk of chronic health problems such as heart disease, type 2 diabetes, some cancers and obesity. Our dietary patterns are made up of foods and drinks, not simply nutrients – it’s the types and amounts of the foods and drinks that we consume regularly that really matter for our health.  We may also feel better, look better, enjoy life more and live longer! </p>
                    <p>YOUR SCORE: {{ test_details.lifestyle_nutrition_result['text']|raw }}</p>
                </td>
            </tr>
        </table>
    </div>
                
    
    
    <div class="detail-row">
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td class="icon">
                    {% if test_details.biometric_waist_result['level'] == 'High' or test_details.biometric_waist_result['level'] == 'Low'%}
                       <img src="{{ site_url }}/img/reports-icons/{{ test_details.biometric_waist_result['color_val'] }}.png">
                    {% else %}
                        <img src="{{ site_url }}/img/reports-icons/report-gray-icon.png">
                    {% endif %}
                </td>
                <td class="description">
                    <span class="heading">Waist Measurement</span>
                    <p>Measuring your waist circumference is a simple check to tell how much body fat you have and where it is placed around your body.  Where your fat is located can be an important sign of your risk of developing an ongoing health problem.</p>
                    <p>YOUR SCORE: {{ test_details.biometric_waist_result['text']|raw }}</p>
                </td>
            </tr>
        </table>
    </div>
                
                
    
                
            
        <div class="detail-row premium-only">
            
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="icon">
                        <img src="{{ site_url }}/img/reports-icons/report-gray-icon.png">
                    </td>
                    <td class="description">
                        <span class="heading">Mental Health & Wellness</span>
                        <p>Good mental health is a sense of wellbeing, confidence and self-esteem. It enables us to fully enjoy and appreciate other people, day-to-day life and our environment. When we are mentally healthy we can: Form positive relationships, Use our abilities to reach our potential and deal with lifes challenges.  </p>
                        <p>YOUR SCORE: Premium membership only. <a href="#" target="_blank">Upgrade today ›</a></p>
                    </td>
                </tr>
            </table>
        </div>
                    
        <div class="detail-row premium-only">
            
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="icon">
                        <img src="{{ site_url }}/img/reports-icons/report-gray-icon.png">
                    </td>
                    <td class="description">
                        
                        <span class="heading">Risk Profile</span>
                        <p>Risk taking behaviors such as - thrill seeking, reckless, rebellious and antisocial or even criminal activities are related to some specific physical, socioeconomic and emotional vulnerability.  Your personal Risk taking ‘profile’ can increase your risk of specific injuries and diseases.</p>
                        <p>YOUR SCORE: Premium membership only. <a href="#" target="_blank">Upgrade today ›</a></p>
                    </td>
                </tr>
            </table>
        </div>
                    
        <div class="detail-row premium-only">
            
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="icon">
                        <img src="{{ site_url }}/img/reports-icons/report-gray-icon.png">
                    </td>
                    <td class="description">
                        
                        <span class="heading">VO²</span>
                        <p>VO2 max testing asseses the cardiovascular systems ability to deliver and utilise oxygen to the muscles, as such we use this to evaluate the capacity of your heart, lungs and circulation.  Cardiovascular efficiency is linked to many health benefits including:  1. Reduce your risk of, or help manage, cardiovascular disease and type 2 diabetes 2. Maintain or improve your blood pressure, cholesterol and blood sugar levels 3. Reduce your risk of and assist with rehabilitation of some cancers 4. Weight management 5. Help develop and maintain overall physical and mental well-being.</p>
                        <p>YOUR SCORE: Premium membership only. <a href="#" target="_blank">Upgrade today ›</a></p>
                    </td>
                </tr>
            </table>
        </div>
                    
        <div class="detail-row premium-only">
            
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="icon">
                        <img src="{{ site_url }}/img/reports-icons/report-gray-icon.png">
                    </td>
                    <td class="description">
                        
                        <span class="heading">Body Fat Percentage</span>
                        <p>Your body fat % is an estimate of the percentage of fat your body contains. Some body fat is required for overall health as it plays an important role in protecting internal organs, providing energy, and regulating hormones.  Excess body fat is linked to an increased risk for diseases such as cancer, diabetes, and heart disease.</p>
                        <p>YOUR SCORE: Premium membership only. <a href="#" target="_blank">Upgrade today ›</a></p>
                    </td>
                </tr>
            </table>
        </div>
                    
        <div class="detail-row premium-only">
            
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="icon">
                        <img src="{{ site_url }}/img/reports-icons/report-gray-icon.png">
                    </td>
                    <td class="description">
                        
                        <span class="heading">Blood Pressure</span>
                        <p>Blood pressure is a measure of the pressure of the blood in the arteries as the heart pumps it around the body.  Recorded as two numbers, for example 120 over 80 (120/80). The higher number indicates the pressure in the arteries as the heart squeezes blood out during each beat. It is called the systolic blood pressure. The lower number indicates the pressure as the heart relaxes before the next beat. It is called the diastolic blood pressure.</p>
                        <p>YOUR SCORE: Premium membership only. <a href="#" target="_blank">Upgrade today ›</a></p>
                    </td>
                </tr>
            </table>
        </div>
                    
        <div class="detail-row premium-only">
            
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="icon">
                        <img src="{{ site_url }}/img/reports-icons/report-gray-icon.png">
                    </td>
                    <td class="description">
                        
                        <span class="heading">Blood Oxygen</span>
                        <p>Blood oxygen % is a measure of the oxygen levels in your blood. It is an indicator of oxygen delivery to different areas of the body.  A low Blood oxygen % may indicate health problems relating to your heart and lungs.</p>
                        <p>YOUR SCORE: Premium membership only. <a href="#" target="_blank">Upgrade today ›</a></p>
                    </td>
                </tr>
            </table>
        </div>
                    
        <div class="detail-row premium-only">
            
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="icon">
                        <img src="{{ site_url }}/img/reports-icons/report-gray-icon.png">
                    </td>
                    <td class="description">
                        
                        <span class="heading">Balance Test</span>
                        <p>Every activity we do relies on our ability to balance.  As we age, we gradually start to lose our muscle strength, vision and sensory perception – all things that contribute to our ability to balance. As a result, our mobility can be compromised and lack of mobility can lead to falling, which can lead to a whole new set of health issues.</p>
                        <p>YOUR SCORE: Premium membership only. <a href="#" target="_blank">Upgrade today ›</a></p>
                    </td>
                </tr>
            </table>
            
        </div>
                    
        <div class="detail-row premium-only">
            
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="icon">
                        <img src="{{ site_url }}/img/reports-icons/report-gray-icon.png">
                    </td>
                    <td class="description">
                        
                        <span class="heading">Squat Test</span>
                        <p>The squat test assesses general lower body strength and mobility. The major muscles involved are the Muscles in the legs & core and is a good indicator of your risk of Injury assosciated with muscle imbalances or reduced mobility of the lower body.</p>
                        <p>YOUR SCORE: Premium membership only. <a href="#" target="_blank">Upgrade today ›</a></p>
                    </td>
                </tr>
            </table>
        </div>
                    
        <div class="detail-row premium-only">
            
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="icon">
                        <img src="{{ site_url }}/img/reports-icons/report-gray-icon.png">
                    </td>
                    <td class="description">
                        
                        <span class="heading">Sit Up Test</span>
                        <p>The 7 stage sit-up test is designed to give an assessment of your abdominal strength - The abdominal muscles performs vital functions in everyday life. Playing an essential role in a range of activities including</p>
                        <ol>
                            <li>Lifting</li>
                            <li>Maintaining good posture</li>
                            <li>Maintaining core stability during physical activities</li>
                            <li>Trunk flexion during tasks</li>
                            <li>Activities such as breathing, urination and childbirth</li>
                            <li>Reducing the risk of back injury. Individuals who have weak abdominals are predisposed to the development of back injury.</li>
                        </ol>
                        <p>YOUR SCORE: Premium membership only. <a href="#" target="_blank">Upgrade today ›</a></p>
                    </td>
                </tr>
            </table>
        </div> 
                
                
                
                
    <img src="{{ site_url }}/img/Free7daypass.png" style="width: 100%; margin-top: 15px"><br>
    <div class="footer">
        <p>
            Link to 7 day pass application on the Anytime Fitness website <a href="http://anytimefitness.com.au/membership/gym-pass">http://anytimefitness.com.au/membership/gym-pass</a>
        </p>
        <p>
            The Healthy Life Project & Healthy Life Score is designed to give you an overall idea of your health & well-being, & a general indication of how lifestyle, physiological & biometric factors may affect it. The test will also give you a general indication of whether there is more you can do to improve. This is not intended to be a medical diagnostic tool, nor a substitute for professional medical advice. It has been designed as a tool to Educate, Inspire & Motivate on possible positive change in respect to your health & well-being.
        </p>
        <p>
            Use of this site, and all information contained within is subject to our <a href="http://www.healthylifeproject.com.au/disclaimer/" target="_blank">legal disclaimer</a>.
        </p>
    </div>
                


