<h1>Hi {{ name|capitalize }},</h1>
 
<p>Thank you and congratulations on completing the Healthy Life Age Lite Test.  Want to know how your lifestyle choices are potentially affecting your health?</p>

<p>Please find your Lite test results attached to gain an idea of where you are currently at compared to where you could be in terms of your 'Healthy Life Potential'.</p>

<center>
<h2>OUR MISSION:<br>
Add 1,000,000 Healthier Years<br>
to Australian Lives by 2020.</h2>
</center>


<p>We believe we can help you make a difference in your life. The decisions you make today can have an enormous impact on your future and this could not be truer when it comes to your health: the lifestyle that you choose to lead can cause certain lifestyle diseases to develop.</p>

<p>Despite having choice and control when it comes down to lifestyle factors – such as what we eat, how often we exercise, whether we choose to smoke and the amount of alcohol we drink, lifestyle diseases remain the leading cause of death in Australia – with heart disease being the most prevalent.</p>
 
<p>Of the top 10 causes of death in Australia in 2012, 8 are lifestyle related, of the top 20, 14 are lifestyle related.</p>
 
<p>Helping people to make good lifestyle choices at all stages of life can help to keep them in good health & prevent illness for as long as possible. We don’t just focus on one aspect of your life, but take in the whole picture to show you where you can improve.</p>
 
<p>If left unchecked, trends in chronic disease risk factors – especially physical inactivity & poor nutrition leading to overweight & obesity – combined with a growing & ageing population will lead to increasing numbers of people living with chronic diseases.</p>
 
<p>Want to know how your lifestyle choices are potentially affecting your health?</p>
 
<p>Our <a href="http://healthylifeproject.com.au/program">12 Week Healthy Life Program</a> is packed with a nutrition plan, exercise program, daily mindfulness activities and much more. Coupled with our exclusive Healthy Life Age tool, you can easily assess how your healthy choices are affecting your potential age.</p>
 
<p><a href="#">Now is the time to take action.</a></p>


<center><h2>Live. Your. Whole. Life</h2></center>

<p>The average Australian is expected to live up to 20% of their life affected by some kind of disability, illness or injury.</p>
 
<p>Lets change this, starting right now.</p>
 
<p>&nbsp;</p>

<p>The Healthy Life Project team.</p>
<img src="http://www.healthylifeproject.com.au/web/img/logo-new.png" style="width: 150px;">

<p>&nbsp;</p>

<p>Use of this site, and all information contained within is subject to our <a href="http://www.healthylifeproject.com.au/disclaimer/" target="_blank">legal disclaimer</a>.</p>
