<h1>Hey there!</h1>

<p>{{ name }} has submitted a Lite Test on {{ test_date|date("d F Y") }}. Below is his/her details.</p>
<p>
    Name: {{ name }}<br>
    Gender: {{ gender|capitalize }}<br>
    Age: {{ age }} years old<br>
    Weight: {{ weight }} kg<br>
    Height: {{ height }} cm<br>
    Waist: {{ biometric_waist_value }} cm
</p>
<p>Attached is the PDF version of his/her Healthy Life Project Lite Test results.</p>

<p>Regards,<br><br>
    Healthy Life Project
</p>
