<h3>This test has been designed to assess your risk of health issues relating to risk taking behaviors such as - thrill seeking, reckless, rebellious, antisocial or even criminal activities.</h3>
<h3>On a scale of 1 (highly unlikely) – 7 (highly likely) if the opportunity arose, how likely are you to partake in the following activities?  All answers remain anonymous but if you are unsure or uncomfortable with how to answer select 1.</h3>

<input type="hidden" name="answer_type" value="risk-profile">
<div class="box">
    {% for item in questions %}
	<br>
    <div class="row-holder">
		<div class="col-1">
            {{ loop.index }}. {{ item.question }}
		</div>
		<div class="col-2">
			<table class="table-risk-profile-options" cellspacing="0">
				<tr>
					<td class="label">Highly unlikely</td>
					<td>
						<ul class="risk-profile-options">
						{% for i in 1..7 %}
							<li>
								{{ i }} <input type="radio" name="answer[{{ item.lq_id }}]" value="{{ i }}" {% if item.answer is defined and item.answer == i %}checked{% endif %}>
							</li> 
						{% endfor %}
						</ul>
					</td>
					<td class="label">Highly likely</td>
				</tr>
			</table>
		</div>
    </div>
    {% endfor %}
</div>