<h3>Please select the following description that best describes your smoking habits or history.</h3>

<input type="hidden" name="answer_type" value="smoking">
<input type="hidden" name="gender" value="{{ gender }}">

<div class="box">
    {% for item in options %}
    <div class="row-holder">
        <div class="col-12">
            <label><input type="radio" name="answer" value="{{ item.option_value }}" {% if app.session.get('litetest-smoking')[ 3 ]['answer'] is defined and app.session.get('litetest-smoking')[ 3 ]['answer'] is not empty and app.session.get('litetest-smoking')[ 3 ]['answer'] == item.option_value  %}checked{% endif %}> {{ item.option_description }}</label>
        </div>
    </div>
    {% endfor %}
</div>