{% extends "::lite_test_layout.html.twig" %}

{% block title %}Create Test{% endblock %}

{% block stylesheets %}
<style>
.glyphicon.glyphicon-check{
    background:url({{ asset('img') }}/icon-checked.jpg) no-repeat top left;
}
.glyphicon.glyphicon-unchecked{
    background:url({{ asset('img') }}/icon-unchecked.jpg) no-repeat top left;
}
</style>
{% endblock %}


{% block specialscripts %}
    {% if  litetest_success is defined and  litetest_success == 1 %}
    <!-- Facebook Conversion Code for Free Test Pixel -->
    <script>(function() {
    var _fbq = window._fbq || (window._fbq = []);
    if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '//connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
    }
    })();
    window._fbq = window._fbq || [];
    window._fbq.push(['track', '6029220955349', {'value':'0.00','currency':'USD'}]);
    </script>
    <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6029220955349&amp;cd[value]=0.00&amp;cd[currency]=USD&amp;noscript=1" /></noscript>
    {% endif %}
{% endblock %}

{% block body %}
<br><br>
<center>
<h3 style="color:#6c4695;">Thank you for taking the 'lite' version of our healthy life test. We're processing your results and will send you an email with the results.</h3>
<a style="color: #666;text-decoration: underline;" href="http://www.healthylifeproject.com.au">Click to go back to the home page</a>
</center>    

<div id="item-popup" class="white-popup mfp-hide">
    <h1 class="sortable-header" style="margin-left: 0px;" id="lblday">Share Test Result</h1>
    <p>Share your result in Facebook.</p>
           <div class="fb-share-button" style="text-height: 20px;" data-href="{{ path('acme_lite_test_result_share',{'slug':litetest_id}) }}" data-layout="button_count"></div>

           <div style="padding-top: 10px; width: 100%;">
               <img src="{{ path('acme_lite_test_result_image',{'slug':litetest_id}) }}" style="width: 100%"  />
           </div> 
  </div>  
    <div id="fb-root"></div>
<br><br>
<br><br>
<script>window.fbAsyncInit = function() {
    FB.init({
      appId      : '695956080505489',
      xfbml      : true,
      version    : 'v2.4'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
  </script>
 
{% endblock %}


{% block javascripts %}


<script src="{{ asset('js') }}/litetest/litetest.js"></script>
{% endblock %}