<h3>This test is based on the current Australian Dietary guidelines for Healthy eating and has been created to give an indication of whether you are eating for your health.</h3>
<h3>Answer the 10 questions below based on the last 7 days:  Be honest, this is all about assessing whether you are eating for health.</h3>

<input type="hidden" name="answer_type" value="nutrition">

<div class="box">
    {% for item in questions %}
    <div class="row-holder">
        <div class="col-1">
            {{ loop.index }}. {{ item.question }}
        </div>

        <div class="col-2">
            <label><input type="radio" name="answer[{{ item.lq_id }}]" class="{{ item.class }}" value="1" {% if app.session.get('litetest-nutrition')[ item.lq_id ]['answer'] is defined and app.session.get('litetest-nutrition')[ item.lq_id ]['answer'] == 1 %}checked{% endif %}> Yes</label>
            <label><input type="radio" name="answer[{{ item.lq_id }}]" class="{{ item.class }}" value="0" {% if app.session.get('litetest-nutrition')[ item.lq_id ]['answer'] is defined and app.session.get('litetest-nutrition')[ item.lq_id ]['answer'] == 0 and app.session.get('litetest-nutrition')[ item.lq_id ]['answer'] is not empty %}checked{% endif %}> No</label>
        </div>
    </div>
    {% endfor %}
</div>