<h3>This assessment has been designed to give an indication of whether you are meeting the current Australian guidelines for physical activity and sedentary behaviour.</h3>
<h3>Answer these questions based on your exercise patterns for the last 7 days. Try & be as honest as possible in order to get the most accurate estimate of your 'Healthy Life Score'.</h3>
<input type="hidden" name="answer_type" value="physical-activity">

<div class="box">
    {% for item in questions %}
    <div class="row-holder">
        <div class="col-1">
            {{ loop.index }}. {{ item.question|raw }}
        </div>

        <div class="col-2">
            <div class="row">
                <input type="number" min="0" name="answer[{{ item.lq_id }}]" value="{% if app.session.get('litetest-physical-activity')[ item.lq_id ]['answer'] is defined %}{{ app.session.get('litetest-physical-activity')[ item.lq_id ]['answer'] }}{% endif %}" id="{{ item.class }}">
            </div>
        </div>
    </div>
    {% endfor %}
</div>