<h3>This test has been designed based on the Australian guidelines for Alcohol consumption.</h3>
<input type="hidden" name="answer_type" value="alcohol">

<div class="box">
    {% for item in questions %}
    <div class="row-holder">
        <div class="col-1">
            {{ loop.index }}. {{ item.question }}
        </div>

        <div class="col-2">
            <div class="row">
                <input type="number" min="0" id="{{ item.class }}" name="answer[{{ item.lq_id }}]" value="{% if app.session.get('litetest-alcohol')[ item.lq_id ]['answer'] is defined %}{{ app.session.get('litetest-alcohol')[ item.lq_id ]['answer'] }}{% endif %}" class="form-control">
            </div>
        </div>
    </div>
    {% endfor %}
</div>