<!DOCTYPE html>
<html>
    <head>
        <!-- set the encoding of your site -->
            <meta charset="utf-8">
            <!-- set the viewport width or mobile devices -->
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta property="og:url" content="{{ path('acme_lite_test_result_share',{'slug':litetest_id}) }}" />
            <meta property="og:type" content="website" />
            <meta property="og:title" content="Healthy Life Project Test Result" />
            <meta property="og:description" content="I just took the need vs want Healthy life test." />
            <meta property="og:image" content="{{ path('acme_lite_test_result_image',{'slug':litetest_id}) }}" />
            <!-- Title of the site -->
            <title>{% block title %}Healthy Life Project{% endblock %}</title>
            <!-- include the site stylesheet -->
            <link media="all" rel="stylesheet" href="{{ asset('css') }}/all.css">
            <link media="all" rel="stylesheet" href="{{ asset('css') }}/jquery-ui.css">
            <link media="all" rel="stylesheet" href="{{ asset('css') }}/owl.carousel.css">
            <!-- include the google fonts -->
            <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
            <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300' rel='stylesheet' type='text/css'>
            {% block stylesheets %}{% endblock %}
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
            
            {% block specialscripts %}{% endblock %}
    </head>
    <title>View Test</title>

    <body>   
</body>

{% block javascripts %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript">
    window.jQuery || document.write('<script src="js/jquery-1.11.1.min.js"><\/script>')

</script>
<script type="text/javascript">
    $(document).ready(function () {
        window.location = "http://www.healthylifeproject.com.au/litetest/";
    });
</script>
<script src="{{ asset('js') }}/client/test.js"></script>
{% endblock %}

</html>