{% extends "::club_layout.html.twig" %}

{% block title %}View Test{% endblock %}

{% block body %}
{% if error.title is defined %}
	<h2>{{ error.title }}</h2>
{% else %}
	<h2>View Test</h2>
{% endif %}

{% if error.message is defined %}
<p>{{ error.message }}</p>
{% else %}
<p>Unable to find test.</p>
{% endif %}
{% endblock %}

