{% if item is defined %}
<tr>
    <td>
        <a class="file-link" href="{{ site_url }}/{{ item.basename }}" target="_blank">
        {% if item.filename|length > 20 %}
            <span class="glyphicon glyphicon-file"></span> {{ item.filename|slice(0, 20) }}...{{ item.extension }}
        {% else %}
            <span class="glyphicon glyphicon-file"></span> {{ item.filename|slice(0, 20) }}.{{ item.extension }}
        {% endif %}
        </a>
    </td>
    <td>
        <span class="file-datecreated">{{ item.datecreated }}</span>
    </td>
    <td class="text-right">
        <a class="delete-file" data-filename="{{ item.basename }}">Delete</a>
    </td>
</tr>
{% endif %}