.card-details .form-control{
    background-color: #fff!important;
}

#mdlNewAdmin p.aia-terms input[type="checkbox"]{
    margin-left: -15px!important;
}

#mdlNewAdmin .aia-terms-content{
    max-height: 350px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding-left: 10px;
}

#mdlNewAdmin .aia-terms-content p{
    font-size: 14px!important;
}
#mdlNewAdmin .aia-terms-content ul li{
    list-style: none;
    font-size: 14px!important;
    padding-bottom: 10px;
}

#mdlUpdateAdmin .aia-option-disabled input{
    margin-left: -15px!important;
}