#imgPreview{
    width: 100%;
}
#imgPreview img.picture{
    width: 100%;
}

#myModal{
    font-size: 14px!important;

}

#crop-size{
    display: none;
}

img.img-profile {
    width: 250px;
    height: 250px;
}

.checkbox-label{
    font-size: 13px;
    font-weight: normal;
    padding-left: 25px;
    min-height: 27px;
}
.aia-vitality-member.non{
    margin-bottom: 0px;
}
.aia-vitality-member.non input.aia-vitality-member-number{
    display: none;
}

.non-member-assessment.non{
    margin-bottom: 0px;
}
.non-member-assessment.non input.opt-client-id{
    display: none;
}