table.table tr td input[type=checkbox],
table.table tr th input[type=checkbox]{
    margin-left: 0px!important;
}

.form-control{
    padding: 4px!important;
    line-height: 15px!important;
    min-height: 0px!important;
}