.weekly-and-overall-progress{
    margin-top: 20px;
    font-size: 13px;
    min-height: 38px;
}
#loadMore {
    font-size: 14px;
}
#loadMore  img{
    height: 30px;
}

#endOfRecord{
    font-size: 14px;
}

.invite-12-week,
.chat-to-client{
    margin-bottom: 8px;
    display: block;
}

.trainer-dashboard-header h3{
    overflow: hidden;
    max-height: 18px;
}

@media (max-width: 480px){
    img.img-circle:not(.img-profile) {
        height: 130px;
    }
}