@page { margin: 16px 16px!important; }

table{
    font-size: 9pt;
}
table thead th{
    vertical-align: top;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
    padding: 5px;
}

table tbody tr.odd td{
    background-color: #e9e9e9;
}

table tbody td{
    padding: 5px;
}

table tfoot td{
    padding: 5px;
    border-top: 1px solid #e0e0e0;
    font-weight: bold;
}