@page { 
    margin: 20px 18px!important; 
}
@font-face {
  font-family: 'Gotham-Light';
  font-style: normal;
  font-weight: 400;
  src: url(templates/hlp-2.0/fonts/Gotham-Light.otf);
  /*src: url(http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3aCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');*/
}

body {
    font-family: 'Open Sans';
    font-size: 16px;
    color: #282b2f;
    overflow-x: hidden;
    word-wrap: break-word;
    
}

div{
    page-break-inside:avoid
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #6c4695;
    font-family: 'Gotham-Light';
}

.logo-area .logo{
    width: 208px;
    border-right: 1px solid #000;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}
.logo-area .logo img{
    width: 100%;
}
.logo-area .club-name{
    vertical-align: middle;
    font-family: 'Gotham-Light';
    color: #6c4695;
    padding-left: 10px;
    font-size: 25px;
}

.logo-area .logo-anytime{
    width: 365px!important;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.logo-area .logo-aia{
    width: 365px!important;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: right;
}

.logo-area .logo-anytime img{
    width: 208px!important;
}

.logo-area .logo-aia img{
    width: 208px!important;
    float: right!important;;
}

.client{
    width: 100%;
    padding-top: -20px;
    padding-bottom: -10px;
    border-top: 1px solid #e9ebf0;
    border-bottom: 1px solid #e9ebf0;
    margin-top: 28px;
    margin-bottom: 15px;
}

.client .name{
    width: 50%;
    font-size: 23px;
    color: #6c4695;
    font-family: 'Gotham-Light';
}
.client .name p{
    padding: 0px;
}
.client .name span{
    font-size: 15px;
    color: #282b2f;
}
.client .datetime{
    width: 50%;
    text-align: right;
    font-size: 15px;
    color: #282b2f;
    font-family: 'Gotham-Light';
    vertical-align: bottom;
}


.challenge{
    margin-top: 10px;
    width: 100%;
    font-size: 15px;
    font-family: 'Gotham-Light';
    color: #929aa5;
}

.challenge span{
    color: #282b2f;
}
.intro-text{
    color: #6c4695;
    font-size: 18px;
    font-family: 'Gotham-Light';
    line-height: 18px;
    width: 100%;
}
.intro-averages{
    width: 100%;
    border-bottom: 1px solid #e9ebf0;
    margin-top: 20px;
    /*padding-bottom: -20px;*/
}

.intro-averages td{
    width: 33.33%;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    vertical-align: top;
    font-family: 'Gotham-Light';
    font-size: 14px;
    line-height: 14px;
    color: #282b2f;
    
}
.intro-averages td.col-1{
    border-right:#666;
    padding-left: 0px;
}

/*.intro-averages td.col-1 img, td.col-2 img{
    margin-left: 55px;
}

.intro-averages td.col-3 img{
    margin-left: 40px;
}*/

.intro-averages td.col-3{
    border-left:#666;
    padding-right: 0px;
}

.summary{
    padding-top: 50px;
    width: 100%;
}
.summary > table{
    width: 100%;
}
.summary > table td{
    font-family: 'Gotham-Light';
}
.summary > table thead td{
    padding-bottom: 20px;
}

.summary > table thead td.title{
    /*width: 25%;*/
    font-size: 23px;
    line-height: 20px;
    color: #6c4695;
}
.summary > table td.purple,
.summary > table td.gray{
    width: 25%;
}

.summary > table td.purple div{
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    padding: 40px 10px 40px 10px;
    width: 70%;
    margin-left: 15%;
}

.summary > table td.gray div{
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    padding: 70px 10px 70px 10px;
    width: 70%;
    margin-left: 15%;
}

.summary > table td.purple div{
    background-color: #553c83;
    color: #fff;
    
}

.summary > table td.gray div{
    background-color: #e5e7ee;
    color: #282b2f;
}

.summary > .rotate-this{
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    white-space: nowrap;
    position: absolute;
    /*top: 250px;*/
    top: 60%;
    margin-left: -10px;
    font-size: 13px;
    font-family: 'Gotham-Light';
}

.summary > table tbody td.row-1{
    font-family: 'Gotham-Light';
    font-size: 14px;
    color: #282b2f;
    line-height: 14px;
    vertical-align: top;
    padding-top: 10px;
    border-bottom: 1px solid #e9ebf0;
}

.summary > table tbody td.row-1.no-border{
    border-bottom: none!important;
}

.summary > table tbody td.row-1 span,
.summary > table tbody td.row-2 span{
    font-family: 'Gotham-Light';
    font-size: 26px;
    color: #6c4695;
    display: block;
}

.summary > table tbody td.row-1 div,
.summary > table tbody td.row-2 div{
    text-align: center;
    /*border-bottom: 1px solid #e9ebf0;*/
}

.summary > table tbody td.row-2{
    font-family: 'Gotham-Light';
    font-size: 14px;
    color: #282b2f;
    line-height: 14px;
    vertical-align: top;
    padding-top: 25px;
}

.full-results .title{
    font-family: 'Gotham-Light';
    font-size: 23px;
    line-height: 20px;
    color: #6c4695;
}

table.results-detail{
    width: 100%;
    margin-top: 20px;
}

table.results-detail thead td,
table.results-detail tbody td{
    width: 20%;
    padding: 0 5px;
}

table.results-detail thead td.first-row,
table.results-detail tbody td.first-row{
    padding-left: 0px !important;
}

table.results-detail thead td.last-row,
table.results-detail tbody td.last-row{
    padding-right: 0px !important;
}

table.results-detail thead td div.result{
    width:100%;
    z-index:50;
    border-radius: 5px 5px 0px 1px;
    padding: 8px 0px 8px 0px;
    text-align: center;
    font-family: 'Gotham-Light';
    font-size: 13px;
    text-transform: uppercase;
    color: #fff;
}

table.results-detail tbody td div{
    font-family: 'Gotham-Light';
    font-size: 14px;
    line-height: 14px;
}
table.results-detail tbody td.first-row div.upper{
    border-top: none;
}
table.results-detail tbody td div.upper{
    background-color: #fff;
    padding: 20px 10px 20px 10px;
    height: 150px;
    text-align: center;
    border-top: 1px solid #e5e7ee;
    border-left: 1px solid #e5e7ee;
    border-right: 1px solid #e5e7ee;
}


table.results-detail tbody td div.lower-age-over-60{
    height: 560px!important;
    border-bottom: 1px solid #e5e7ee;
    border-left: 1px solid #e5e7ee;
    border-right: 1px solid #e5e7ee;
}

table.results-detail tbody td div.upper span{
    font-family: 'Gotham-Light';
    font-size: 26px;
    color: #6c4695;
    display: block;
    margin-top: 30px;
}

table.results-detail tbody td div.lower{
    background-color: #e5e7ee;
    padding: 0px 10px 10px 10px;
    text-align: left;
    height: 550px;
}

table.results-detail tbody td div.lower span{
    font-family: 'Gotham-Light';
    font-size: 26px;
    color: #6c4695;
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
}

div.highlight{
    border-radius: 5px;
    background-color: #6c4697;
    color: #fff;
    text-align: center;
    padding: 20px 40px;
    font-family: 'Gotham-Light';
    font-size: 30px;
    line-height: 27px;
    margin-top: 25px;
    margin-bottom: 85px;
}

div.detail-row{
    border-radius: 5px;
    padding: 25px 40px 20px 10px;
    margin-top: 15px;
    background-color: #e5e7ee;
    page-break-inside:avoid;
}

div.detail-row .icon{
    vertical-align: top;
    width: 13%;
    text-align: center;
}

div.detail-row .icon img{
    height: 65px;
}

div.detail-row .description{
    font-family: 'Gotham-Light';
    color: #282b2f;
    font-size: 14px;
    line-height: 14px;
}

div.detail-row .description .heading{
    font-size: 26px;
    color: #6c4695;
    
}

div.footer{
    font-family: 'Gotham-Light';
    color: #282b2f;
    font-size: 14px;
    line-height: 14px;
}

img.premium-only{
    position: absolute;
    right: 2px;
    margin-top: -10px;
}

.full-results.lite-test table.results-detail tbody td div.lower{
    height: 750px!important;
}

.focus-results-title .title{
    font-family: 'Gotham-Light';
    font-size: 23px;
    line-height: 20px;
    color: #6c4695;
    margin-top: 10px;
    margin-bottom: 10px;
}

.focus-results-body{
    border-radius: 5px;
    border: 1px solid #e5e7ee;
    padding: 8px;
}

.focus-results-body .title{
    font-family: 'Gotham-Light';
    font-size: 23px;
    line-height: 20px;
    color: #6c4695;
}

.focus-results-body p{
    font-family: 'Gotham-Light';
    font-size: 14px;
    line-height: 14px;
    margin-top: 5px!important;
}

table.focus-test-results td.result-item{
    border-radius: 5px;
    border: 1px solid #e5e7ee;
    padding-top: 10px;
    padding-bottom: 10px;
    
} 

table.focus-test-results td.result-item.s200{
    width: 200px;
}

table.focus-test-results td.result-item.s100{
    width: 148px;
}

table.focus-test-results td.result-item span{
    font-family: 'Gotham-Light';
    font-size: 26px;
    color: #6c4695;
    display: block;
    margin-top: 25px;
    
}

table.focus-test-results td.fitness-padding{
    width: 26px;
}

.measurements-wrap{
    padding-top: 20px;
}

table.measurements td.measure-item{
    border-radius: 5px;
    border: 1px solid #e5e7ee;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 86px
} 

table.measurements td.measure-item span{
    font-family: 'Gotham-Light';
    font-size: 23px;
    color: #6c4695;
    display: block;
    margin-top: 10px;
}

div.highlight.lite-test{
    margin-top: 25px;
    margin-bottom: 25px;
}

.tests-comparison{
    
    border-radius: 5px;
    margin-bottom: 20px;
}

.tests-comparison table{
    width: 100%;
}

.tests-comparison table td{
    border: 1px solid #e9ebf0;
    padding: 5px;
    font-family: 'Gotham-Light';
    font-size: 12px;
}

.tests-comparison table td.heading{
    font-size: 14px;
    color: #6c4695;
    text-align: left;
}
.tests-comparison table td.details{
    width: 120px;
}
.tests-comparison table td.test-details{
    width: 50px;
    text-align: center;
}

.test-comparison-title{
    font-family: 'Gotham-Light';
    font-size: 23px;
    line-height: 20px;
    color: #6c4695;
}

.tests-comparison table tr.total td.details {
    font-weight: bold;
}

.weight-cont{
    border: 1px solid #e9ebf0;
    padding: 5px;
    border-radius: 5px;
    width: 160px;
    margin-left: 280px;
}

.weight-cont span{
    font-family: 'Gotham-Light';
    font-size: 23px;
    color: #6c4695;
    display: block;
    margin-top: 10px;
}