.wrapper{
    color: #666;
}
.logo-area .logo{
    width: 308px;
    border-right: 1px solid #000;
    
}

.logo-area .club-name{
    color: #666;
    display: inline-block;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
    font-size: 40px;
    padding-left: 20px;
}

.client{
    margin-top: 5px;
    width: 710px;
}

.client .name{
    width: 50%;
    font-size: 1.8421052632em;
}
.client .name p{
    margin-top: -15px;
}
.client .datetime{
    width: 50%;
    text-align: right;
    font-size: 1em;
    font-weight: bold;
    padding-top: 15px;
}

h1, h2, h3 {
    color: #6c4695;
}

.challenge{
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    margin-top: 10px;
    padding-bottom: 10px;
    width: 710px;
}

.intro-text{
    font-size: 18px;
    font-weight: 700;
    padding: 13px 0;
    display: block;
    color: #000;
    width: 710px;
}
.intro-averages{
    width: 710px;
}

.intro-averages td{
    width: 200px;
    padding-right: 10px;
    padding-left: 10px;
}
.intro-averages td.col-1{
    border-right:#666;
    padding-left: 0px;
}

.intro-averages td.col-1 img, td.col-2 img{
    margin-left: 55px;
}

.intro-averages td.col-3 img{
    margin-left: 40px;
}

.intro-averages td.col-3{
    border-left:#666;
    padding-right: 0px;
}

.summary{
    border-top: #666;
    margin-top: 10px;
    width: 710px;
}

.summary-wrapper .col-0{
    width: 8px;
}

.summary-wrapper .col-0 img{
    margin-top: 40px;
}

.summary-wrapper .col-1{
    border-left: 4px solid #666;
    border-bottom: 4px solid #666;
    padding-left: 10px;
    padding-bottom: 10px;
}

.summary-wrapper .col-1 table .description-1{
    background-color: #6c4695;
    color: #fff;
    padding: 28px 15px 25px 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    width: 95px;
}
.summary-wrapper .col-1 table .description-2{
    background-color: #9b83b7;
    height: 100px;
    width: 95px;
}
.summary-wrapper .col-1 table .description-3{
    background-color: #9b83b7;
    color: #fff;
    padding: 18px 15px 18px 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    width: 95px;
}

.summary-wrapper table .value{
    text-align: center;
    width: 130px;
}

.summary-wrapper table .value .number{
    font-size: 45px;
    font-weight: bold;
    color: #6c4695;
}

.summary-wrapper .col-2{
    
} 

.summary-wrapper .col-2 .value{
    width: 160px;
    height: 100px;
}

.summary-wrapper .col-2 .value-1{
    padding-bottom: -27px;
    height: 185px;
}

.summary-wrapper .col-2 table td.img-1, td.img-2, td.img-3{
    padding-left: -40px;
}

.summary-wrapper .col-2 table td img{
    width: 55px;
}

.summary-wrapper .col-2 table .description-1,
.summary-wrapper .col-2 table .description-2,
.summary-wrapper .col-2 table .description-3{
    width: 105px;
    border-left: 1px solid #666;
    padding-left: 10px;
    padding-top: 10px;
}

.summary-wrapper .col-2 table td{
    border-bottom: 1px solid #666;
}

.summary-client-name{
    font-weight: bold;
    font-size: 18px;
    margin-left: 150px;
}
.summary-footer{
    width: 710px;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    height: 90px;
    padding-top: 20px;
    overflow: hidden;
}
.summary-footer td.col1,
.summary-footer td.col2,
.summary-footer td.col3{
    text-align: center;
    width: 230px;
}

.summary-footer td.col2{
    border-left: 1px solid #666;
    border-right: 1px solid #666;
}

.summary-footer td.col1 table,
.summary-footer td.col2 table,
.summary-footer td.col3 table{
    margin: auto;
}

.summary-footer td.img img{
    width: 60px;
}

.summary-footer td.value{
    font-size: 30px;
    font-weight: bold;
}

.summary-footer td.description{
    font-size: 15px;
}

.results-detail{
    width: 710px;
}

.results-detail td.description,
.results-detail td.value,
.results-detail td.result
{
    border-top: 1px solid #666;
}

.results-detail td.description{
    width: 150px;
    text-align: right;
    font-size: 16px;
    padding-right: 10px;
}

.results-detail td.value{
    width: 150px;
    padding-left: 10px;
    padding-top: 20px;
    border-left: 1px solid #666;
    border-right: 1px solid #666;
}

.results-detail td.value-colspan{
    width: 150px;
    padding-left: 10px;
    padding-top: 20px;
    border-top: 1px solid #666;
    border-left: 1px solid #666;
    border-right: 0px;
}

.results-detail td.value-colspan .value{
    width: 150px;
    padding: 0px;
    border: 0px;
}

.results-detail td.value-colspan .number{
    font-size: 45px;
    font-weight: bold;
    color: #6c4695;
}

.results-detail td.value-colspan .text,
.results-detail td.value .text{
    margin-left: 20px;
}

.results-detail td.value-colspan .middle{
    width: 150px;
}

.results-detail td.value .number{
    font-size: 45px;
    font-weight: bold;
    color: #6c4695;
}

.results-detail td.result{
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 340px;
}

.results-detail td.result-special{
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 340px;
    border-top: 1px solid #666;
}

.results-detail td.result-special .result{
    text-transform: uppercase;
    padding: 6px;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    width: auto;
}

.results-detail td.result p{
}

.results-detail .middle-text{
    font-size: 50px;
    text-align: center;
    color: #6c4695;
    
    margin-bottom: 20px;
    margin-top: -10px;
}

.detailed td.value{
    width: 70px;
}

.detailed td.result{
    width: 415px;
}

.detailed td.result p strong{
    color: #000000;
}
.detailed td.value{
    text-align: center;
}
.detailed td.value img.thumb{
    margin: auto;
}

.results-detail table tr.last-row  td.description,
.results-detail table tr.last-row  td.value-colspan,
.detailed table tr.last-row td
{
    border-bottom: 1px solid #666;
}

.footer-area{
    width: 710px;
    color: #6c4695;
    margin-top: 10px;
}
