.with-na-option .form-control{
    width: 76%!important;
}

.with-na-option .checkbox{
    margin-left: 5px;
    padding-top: 7px;
    float: left;
    min-width: 37px!important;
    width: 37px;
}

.btn-delete,
.btn-draft{
    margin-top: -72px;
}

.wizard > .actions {
    width: 60%;
    float: right;
}

.wizard ul:not(.dropdown-menu):not(.steps-actions) > li:not(:last-child):not(.done):not(.current) > a:after {
    border-left: 20px solid #eeeeee;
}

.test-alert{
    margin-top: 30px;
    margin-bottom: -20px;
}

.btn-danger{
    background-color: #d9534f!important;
    border-color: #d9534f!important;
}

.answer-selection-heading ul,
.answer-selection-options ul{
    width: 100%;
}
.answer-selection-heading ul li,
.answer-selection-options ul li{
    width: 20%;
    text-align: center;
} 

.answer-selection-options-risk-profile ul li{
    width: 13%;
    text-align: center;
} 

.answer-selection-options .option-description{
    display: none;
}

.wizard > .steps > ul > li {
    width: 50%!important;
}

@media (max-width: 767px){
    .wizard > .actions > ul.steps-actions{
        float: right;
    }
    .wizard .checkbox {
        float: left;
    }
    
    .btn-delete,
    .btn-draft{
        margin-top: -64px;
    }
    
    .answer-selection-heading{
        display: none;
    }
    
    .answer-selection-options .option-description{
        display: block;
    }
}

@media (max-width: 434px){
    .wizard > .actions a, .wizard > .actions a:hover, .wizard > .actions a:active {
        padding: 6px 8px !important;
    }
    
    
    
    .btn-delete {
        margin-top: -55px;
        padding: 5px 8px !important;
    }
}

@media (max-width: 531px){
    .btn-delete, .btn-draft {
        width: 99.5%!important;
        margin-top: 10px;
    }
    
    .wizard > .actions {
        width: 100%!important;
    }
    .wizard > .actions > ul {
        width: 100%!important;
    }
    
    .wizard > .actions > ul > li{
        width: 100%!important;
        padding-top: 10px;
        margin-left: 0px!important;
    }
    
    .wizard > .actions > ul > li > a{
        text-align: center;
    }
}