.alert{
    font-size: 14px;
    line-height: 14px;
    padding: 10px;
}

.link{
    color: #fff;
}

.link:hover{
    color: #fff;
    text-decoration: underline;
}

.login-background{
    min-height: 500px;
}

.remember-me label{
    font-family: Gotham-Light;
    font-size: 16px;
    font-weight: normal!important;
    padding-left: 25px;
    color: #fff;
}

@media (max-height: 500px){
    .login-background{
        background-size: initial;
    }
}

@media (max-height: 600px){
    #login-form{
        position: initial!important;
    }
    #login-footer{
        position: initial;
        opacity: 1;
        margin-top:-5px;
    }
}