.gym-title img{
    float: left;
}

.gym-title h2{
    float: left;
    margin-top: 30px;
}

.pointer{
    cursor: hand;
    cursor: pointer;
}

select.error {
    background: rgb(251, 227, 228);
    border: 1px solid #fbc2c4 !important;
    color: #8a1f11;
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    background-color: #c8c8c7!important;
    border-color: #c8c8c7!important;
}

.test-report-header {
    min-height: 182px;
}

.banner-blue h1{
    color: #fff;
    font-weight: bolder;
}

.blood-pressure .systolic input{
    width: 100% !important;
}

.blood-pressure .over{
    padding: 25px 0px 0px 0px !important;
    vertical-align: middle;
}
.blood-pressure .help{
    position: absolute;
    right: 10.3%;
    margin-top: 28px;    
}
.alert{
    font-size: 10px;
    font-family: Gotham-Light;
}

/*
 * color-1.css replacements
 */
.form-control,
.dropdown-toggle{
    min-height: 44px;
}

.report-filter .form-control,
.report-filter .dropdown-toggle{
    min-height: 0px;
}

.chart {
    display: block!important;
}

.form-group .btn span {
     float: none!important; 
}

.location-option .btn{
    height: 60px;
}

#snapshot {
    border-top: 3px solid #ffaf4e !important;
}

.trainer-dashboard-header .arrow-link{
    padding-top: 10px;
}
a.tapable-header {
    color: #282b2f;
}

.trainer-dashboard-header,
.trainer-dashboard-body,
.trainer-dashboard-footer
{
    padding-left: 15px;
    padding-right: 15px;
}

.trainer-dashboard-header .arrow-link img{
    float: right;
}

#breadcrumb{
    padding-top: 20px;
    width: 100%;
}
img.img-circle:not(.img-profile) {
    width: 150px;
    height: 150px;
}



.trainer-dashboard-body .item-text{
    padding-right: 0px;
}

.footer.dashboard-footer {
    position: relative;
    background: #6c4695;
    margin-top: 0;
    padding: 10px 0;
}

.btn-special-60{
    min-height: 60px;
    padding-top: 17px!important;
    padding-bottom: 17px!important;
}

.btn-special-44{
    min-height: 44px;
}

#snapshot {
    background-color: #d3d7e2;
    border-top: 2px solid #ffaf4e;
    padding-bottom: 100px;
}

.button-group{
    margin-top: 10px;
}

.wizard{
    overflow: visible!important;
}

.logo-mob, 
.logo-xs-signup {
    background: url('../templates/hlp-2.0/images/main-logo2.png');
    background-size: cover !important;
    height: 95px ;
    width: 95px ;
}

.btn, .btn:focus{
    padding: 6px 25px 6px 12px;
}
.btn:not(.dropdown-toggle) .fa {
    position: absolute;
    /*right: 23px;*/
}

.modal-backdrop.in{
    opacity: 0.5!important;
}

.ui-chatbox{
    z-index: 9;
}

.label-control{
    display: block!important;
    margin-left: 2px;
}

#full-result .activity .red{
    background-color: #c0504d !important;
}

#full-result .activity .candy-pink{
    background-color: #da9694 !important;
}

#full-result .activity .apricot{
    background-color: #ffc7ce!important;
}

#full-result .activity .big-foot-feet{
    background-color: #fabf8f !important;
}

#full-result .activity .light-big-foot-feet{
    background-color: #fcd5b4 !important;
}

#full-result .activity .buff{
    background-color: #ffeb9c !important;
}

#full-result .activity .transparent-android-green{
    background-color: #d8e4bc !important;
}

#full-result .activity .light-android-green{
    background-color: #c4d79b !important;
}

#full-result .activity .light-blue{
    background-color: #c6efce !important;
}

#full-result .activity .android-green{
    background-color: #9bbb59 !important;
}

.form-control.lg{
    padding: 0px 20px 0px 20px !important;
}

.trainer-dashboard-body{
    min-height: 346px;
}

.profile-text{
    line-height: 18px;
    margin-top: 5px;
}

.test-report-body.age-over-60{
    min-height: 277px;
}

.ul-no-bullet li{
    list-style: none;
    margin-bottom: 10px;
}

.lifestyle-questionnaires-invitation,
.invite-12-week{
    font-size: 12px;
}

.task .fa.fa-angle-right{
    font-size: 20px;
}

.tests-comparison{
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
}

.tests-comparison table{
    width: 100%;
}

.tests-comparison table td,
.tests-comparison table th{
    border: 1px solid #e9ebf0;
    padding: 5px;
}

.tests-comparison table th.heading{
    font-size: 16px;
    color: #6c4695;
    text-align: left;
}

.tests-comparison table td.test-details,
.tests-comparison table th.test-details{
    width: 130px;
    text-align: center;
}

@media (max-width: 991px){
    #header {
        margin-top: 140px!important;
    }
    
    .test-report-header {
        min-height: 200px;
        font-size: 14px;
    }
    
    .test-report-body.age-over-60{
        min-height: 294px;
    }
}
@media (max-width: 1199px) and (min-width: 992px){
    .test-report-body.age-over-60{
        min-height: 357px;
    }
}

@media (max-width: 480px){
    #trainer-detail .col-sm-12 .col-sm-4 img {
        max-width: 150px;
        margin-bottom: 0;
    }
}