.section-white{
    background: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
    padding: 25px 16px 16px 16px;
    font-size: 14px;
    position: relative;
}

.measurements .col-sm-6:first-child{
    padding-right: 0px!important;
}

.measurements .col-sm-6:last-child{
    padding-left: 0px!important;
}

.measurements .measure-item div{
    text-align: center;
    border: 1px solid #e9ebf0;
    border-radius: 5px;
    padding: 15px;
}

.measurements .measure-item p{
/*    border-bottom: 1px solid #e9ebf0;
    padding-bottom: 8px;*/
}

.measurements .measure-item h3{
    margin-top: 5px!important;
}

.assessment-title{
    
}

.focus-test-results{
    margin-top: 25px;
}

.focus-test-results .result-item div{
    text-align: center;
    border: 1px solid #e9ebf0;
    border-radius: 5px;
    padding: 15px;
}