/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 24, 2016, 12:43:53 PM
    Author     : leokarl2108
*/
#mobnav ul.mob-notices{
    float: left;
}
#site-nav .right-content ul li.notifications{
    padding-right: 20px;
    padding-top: 4px;
}
#site-nav .right-content ul li.chat-messages{
    padding-top: 4px;
    padding-right: 5px;
}
#mobnav ul.mob-notices{
    padding: 0px;
}
#mobnav ul.mob-notices li.notifications{
    padding-right: 20px;
    list-style: none;
    float: left;
}
#mobnav ul.mob-notices li.chat-messages{
    padding-right: 5px;
    list-style: none;
    float: left;
}

#site-nav .right-content ul li.notifications .badge,
#site-nav .right-content ul li.chat-messages .badge{
    position: absolute;
    z-index: 9;
    font-size: 8px;
    background-color: #e61e27;
    margin-top: -5px;
    margin-left: -3px;
    cursor: hand;
    cursor: pointer;
    display: none;
}

#mobnav ul.mob-notices li.notifications .badge,
#mobnav ul.mob-notices li.chat-messages .badge{
    position: absolute;
    z-index: 9;
    font-size: 8px;
    background-color: #e61e27;
/*    margin-top: -5px;
    margin-left: -3px;*/
    cursor: hand;
    cursor: pointer;
    padding: 3px 7px !important;
    display: none;
}

#site-nav .right-content ul li.notifications .badge.show,
#site-nav .right-content ul li.chat-messages .badge.show,
#mobnav ul.mob-notices li.notifications .badge.show,
#mobnav ul.mob-notices li.chat-messages .badge.show
{
    display: block;
}
#site-nav .right-content ul li.notifications a,
#site-nav .right-content ul li.chat-messages a,
#mobnav ul.mob-notices li.notifications a,
#mobnav ul.mob-notices li.chat-messages a
{
    padding-left: 5px!important;
    padding-right: 5px!important;
}
#site-nav .right-content ul li.notifications a span,
#site-nav .right-content ul li.chat-messages a span,
#mobnav ul.mob-notices li.notifications a span,
#mobnav ul.mob-notices li.chat-messages a span
{
    font-size: 17px;
    color: #96919b;
}

#mobnav ul.mob-notices .notification-dropdown,
#mobnav ul.mob-notices .chat-messages-dropdown{
    left: -40px;
}
.notification-dropdown,
.chat-messages-dropdown{
    z-index: 999;
    background-color: #fff;
    overflow: hidden;
    width: 320px;
    position: absolute;
    border: 2px solid #ccc;
    display: none;
    
}

.notification-dropdown .lists,
.chat-messages-dropdown .lists{
    max-height: 360px;
    overflow-y: auto;
}

.notification-dropdown::-webkit-scrollbar-track,
.chat-messages-dropdown::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.notification-dropdown::-webkit-scrollbar,
.chat-messages-dropdown::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

.notification-dropdown::-webkit-scrollbar-thumb,
.chat-messages-dropdown::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.notification-dropdown.show,
.chat-messages-dropdown.show{
    display: block!important;
}

.notification-dropdown .notification-header,
.chat-messages-dropdown .chat-messages-header{
    font-size: 13px!important;
    border-bottom: 1px solid #e0e1e1;
    padding: 5px;
    color: #282b2f !important;
    text-align: left !important;
}

#mobnav ul.mob-notices .notification-dropdown .lists ul,
#mobnav ul.mob-notices .chat-messages-dropdown .lists ul{
    padding: 0px !important;
}
.notification-dropdown .lists,
.chat-messages-dropdown .lists{
    display: none;
}
.notification-dropdown .lists.show,
.chat-messages-dropdown .lists.show{
    display: block;
}
.notification-dropdown .lists ul,
.chat-messages-dropdown .lists ul{
    float: none!important;
    width: 100%;
}
.notification-dropdown .lists ul li,
.chat-messages-dropdown .lists ul li{
    float: none!important;
    border-bottom: 1px solid #e0e1e1;
    font-size: 13px;
    padding: 5px;
    overflow: hidden;
    color: #282b2f !important;
}

.notification-dropdown .lists ul li:hover,
.chat-messages-dropdown .lists ul li:hover{
    background-color: #f4faf9;
    
}

.notification-dropdown .lists ul li.unread,
.chat-messages-dropdown .lists ul li.unread{
    background-color: #e4f4f0;
}

.notification-dropdown .lists ul li > .notice-photo,
.chat-messages-dropdown .lists ul li > .notice-photo{
    float: left;
    height: 40px;
    width: 40px;
    overflow: hidden;
    cursor: hand;
    cursor: pointer;
}

.notification-dropdown .lists ul li > .notice-photo img,
.chat-messages-dropdown .lists ul li > .notice-photo img{
    width: 95%;
    height: 95%;
    border-radius: 50%;
}

.notification-dropdown .lists ul li > .notice-details,
.chat-messages-dropdown .lists ul li > .notice-details{
    float: left;
    min-height: 40px;
    padding-left: 3px;
    width: 230px;
    cursor: hand;
    cursor: pointer;
    text-align: left;
}

.notification-dropdown .lists ul li > .notice-details .notice-time,
.chat-messages-dropdown .lists ul li > .notice-details .notice-time{
    font-size: 10px;
}

.notification-dropdown .lists ul li > .notice-sread,
.chat-messages-dropdown .lists ul li > .notice-sread{
    float: right;
    width: 16px;
    min-height: 40px;
    cursor: default;
}
.notification-dropdown .lists ul li > .notice-sread a span,
.chat-messages-dropdown .lists ul li > .notice-sread a span{
    font-size: 10px!important;
}
.notification-dropdown .spinner,
.chat-messages-dropdown .spinner{
    display: none;
}

.notification-dropdown .spinner.show,
.chat-messages-dropdown .spinner.show{
    display: block;
    padding-top: 5px;
}
.notification-dropdown .spinner img,
.chat-messages-dropdown .spinner img{
    width: 25px;
    float: none!important;
}
.notification-dropdown .see-all,
.chat-messages-dropdown .see-all{
    text-align: center;
    padding: 5px;
    font-size: 12px;
}
.notification-dropdown .see-all a,
.chat-messages-dropdown .see-all a{
    color: inherit!important;
    font-size: 13px;
}

@media (max-width: 577px){
    .profile-info span.user-name{
        display: none;
    }
}
@media (max-width: 767px){
    #mobnav ul.mob-notices .notification-dropdown, #mobnav ul.mob-notices .chat-messages-dropdown{
        left: -80px;
    }
}

@media (max-width: 710px){
    #mobnav ul.mob-notices .notification-dropdown, #mobnav ul.mob-notices .chat-messages-dropdown{
        left: -100px;
    }
}

@media (max-width: 651px){
    #mobnav ul.mob-notices .notification-dropdown, #mobnav ul.mob-notices .chat-messages-dropdown{
        left: -150px;
    }
}

@media (max-width: 509px){
    #mobnav ul.mob-notices .notification-dropdown, #mobnav ul.mob-notices .chat-messages-dropdown{
        left: -200px;
    }
    
    .notification-dropdown, .chat-messages-dropdown{
        width: 300px;
    }
}

@media (max-width: 372px){
    #mobnav ul.mob-notices li.notifications{
        padding-right: 5px;
    }
    
    #mobnav ul.mob-notices li.chat-messages{
        padding-right: 0px;
    }
}