@page { margin: 10px 12px!important; }

@font-face {
  font-family: 'Gotham-Light';
  font-style: normal;
  font-weight: 400;
  src: url(templates/hlp-2.0/fonts/Gotham-Light.otf);
}

@font-face {
    font-family: 'Gotham-LightItalic';
    src: url(templates/hlp-2.0/fonts/Gotham-LightItalic.otf);
}

@font-face {
    font-family: 'Gotham-Medium';
    src: url(templates/hlp-2.0/fonts/Gotham-Medium.otf);
}

@font-face {
    font-family: CenturySchoolbook;
    src: url(templates/hlp-2.0/fonts/CenturySchoolbook.otf);
    /*src: url(templates/hlp-2.0/fonts/CenturySchoolbook.ttf);*/
}



body {
    font-family: 'Open Sans';
    font-size: 12px;
    color: #282b2f;
    overflow-x: hidden;
    word-wrap: break-word;
    
}

.bg-green{
    background: #47b69b !important;
    color: #fff !important
}
.yellow{
    background-color: #ffce57 !important;
}
.sky-blue{
    background-color: #6dcff6 !important;
}
.purple{
    background-color: #9a71c7 !important;
}

.blue{
    background-color: #0000FF !important;
}
.dark-blue{
    background-color: #00008B !important;
}
.pink{
    background-color: #FF1493 !important;
}

.green{
    background-color: #008000 !important;
}

.rebicca-purple{
    background-color: #663399 !important;
}

/*div{
    page-break-inside:avoid;
}*/


.heading{
    text-align: center;
    font-family: 'Gotham-Light';
}
.heading span.title{
    color: #6c4695;
    font-family: 'Gotham-Light';
    display: block;
    font-size: 20px;
}

.program {
    width: 100%;
}

.program .day{
    width: 30%;
    padding: 5px 5px;
    vertical-align: text-top;
}

.program .day .day-wrapper{
    width: 100%;
    border-radius: 5px;
    border: 1px solid #d3d7e2;
    /*padding: 8px;*/
    /*height: 600px;*/
    /*page-break-inside:avoid;*/
    overflow: hidden;
}

.program .day .day-wrapper .upper{
    padding: 5px 5px 0px 5px;
}
.program .day .day-wrapper .day-title,
.program .day .day-wrapper .day-title span.day-name{
    color: #282b2f;
    font-family: 'Gotham-Medium'!important;
    font-size: 14px!important;
    border-bottom: 1px solid #eeeeee;
    padding: 3px;
    margin-bottom: 3px;
}

.program .day .day-wrapper .total-complete-text{
    color: #6c4695;
    font-family: 'Gotham-Light';
    display: block;
    font-size: 18px;
}
.program .day .day-wrapper .quote{
    width: 100%;
}


.program .day .day-wrapper .quote .quote-sign{
    width: 17%;
    vertical-align: text-top;
}

.program .day .day-wrapper .quote .quote-sign span{
    font-family: CenturySchoolbook;
    font-size: 45px;
    line-height: 1;
    color: #d7dbe4;
    margin-top: -20px;
}
.program .day .day-wrapper .quote .quote-text{
    width: 83%;
    
}
.program .day .day-wrapper .quote .quote-text .quote-phrase{
    font-family: 'Gotham-LightItalic'!important;
    line-height: 12px!important;
    text-align: left!important;
    width: 100%;
}

.program .day .day-wrapper .quote .quote-text .share{
    font-family: 'Gotham-Light';
    font-size: 10px;
}

.program .day .day-wrapper .event-holder{
    padding: 0px 0px 5px 5px;
}

.program .day .day-wrapper .event-holder .day-item{
    width: 100%;
    border-radius: 5px;
    padding-left: 5px;
    margin-bottom: 8px;
}
.program .day .day-wrapper .event-holder .day-item table{
    width: 100%;
    background-color: #ede6f5;
    padding-top: 5px;
    padding-bottom: 5px;
}
.program .day .day-wrapper .event-holder .day-item .checkbox-container{
    width: 12%;
    padding-left: 5px;
    vertical-align: text-top;
}

.program .day .day-wrapper .event-holder .day-item .text-container{
    width: 88%;
    font-family: 'Gotham-Light'!important;
    line-height: 12px!important;
}

.program .day .day-wrapper .event-holder .day-item .text-container div, 
.program .day .day-wrapper .event-holder .day-item .text-container ul li, 
.program .day .day-wrapper .event-holder .day-item .text-container ul li span, 
.program .day .day-wrapper .event-holder .day-item .text-container li, 
.program .day .day-wrapper .event-holder .day-item .text-container p, 
.program .day .day-wrapper .event-holder .day-item .text-container p span{
    font-family: 'Gotham-Light'!important;
    font-size: 11px!important;
    line-height: 11px!important;
    color: #686a6c!important;
}

.program .day .day-wrapper .event-holder .day-item .text-container ul,
.program .day .day-wrapper .event-holder .day-item .text-container ol{
    padding-left: 15px!important;
} 



.program .day .day-wrapper .event-holder .day-item .text-container .head{
    font-family: 'Gotham-Medium'!important;
    font-size: 13px!important;
    line-height: 12px!important;
}

.program .day .day-wrapper .event-holder .day-item .text-container ul{
    list-style: none;
}

.program .day .day-wrapper .event-holder .day-item .text-container.completed .head,
.program .day .day-wrapper .event-holder .day-item .text-container.completed div, 
.program .day .day-wrapper .event-holder .day-item .text-container.completed div ul li, 
.program .day .day-wrapper .event-holder .day-item .text-container.completed div ul li span, 
.program .day .day-wrapper .event-holder .day-item .text-container.completed li, 
.program .day .day-wrapper .event-holder .day-item .text-container.completed p, 
.program .day .day-wrapper .event-holder .day-item .text-container.completed p span{
    text-decoration: line-through;
}

.program .day .day-wrapper .event-holder .day-item .text-container p{
    margin-top: 8px!important;
}

.day-body-tips{
    background-color: #9c76b6;
    color: #fff;
    padding: 5px;
}

.day-body-tips .tip-title{
    font-family: 'Gotham-Medium';
    font-size: 18px;
}

.day-body-tips .icon{
    vertical-align: text-top;
}
.day-body-tips .icon .number{
    background-color: #fff;
    color: black;
    padding: 3px 7px;
    border-radius: 10px;
    display: block;
}

.day-body-tips .text .title{
    font-family: 'Gotham-Medium';
    font-size: 13px;
    color: #282b2f;
} 

.day-body-tips .text p{
    font-family: 'Gotham-Light'!important;
    padding-top: -15px!important;
    line-height: 12px;
}

.day-body-advert{
    text-align: center;
    overflow: hidden;
}

.day-body-advert img.txt-one{
    width: 150px;
    opacity: 0.6;
    margin-top: 50px;
    margin-bottom: 50px;
}

.day-body-advert p{
    font-family: 'Gotham-Light'!important;
    color: #67686b;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
}

.day-body-advert img.bottom-img{
    width: 100%;
    margin-top: 251px;
}

.comment-holder{
    font-family: 'Gotham-Light'!important;
    padding: 0px 5px 5px 5px;
}

.comment-holder .comment{
    color: #636363;
    line-height: 12px;
}