/* 
    Document   : report-pdf
    Created on : Jul 30, 2015, 11:19:16 AM
    Author     : froid quitorio
    Description:
        Purpose of the stylesheet follows.
*/
.report-filter-wrapper{
    border-bottom: 1px solid #666;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
table.report-filter td{
    width: 200px;
    display: block;
    color: #666;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
}


h3{
    line-height: 30px; 
    font-size: 27px; 
    color: #666;
}
.footer-area {
    margin-top: 10px;
    border-top: 1px solid #666;
    color: #666;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
}
.footer-area ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.footer-area ul li{
    display: block;
    padding-left: -12px;
    color: #666;
}


