.report-filter {
    background-color: #e9eaef;
    padding: 10px 15px;
    font-size: 12px;
    margin-top: 1px;
    border-radius: 0 0 4px 4px;
}

.report-filter.date-filter {
    margin-top: 30px;
    border-radius: 4px 4px 0 0;
}

.report-filter.date-filter .bootstrap-select{
    width:32%!important;
    float: left!important;
}

.report-filter.date-filter .bootstrap-select:not(:last-child){
    margin-right: 5px;
}

.report-filter .bootstrap-select .filter-option{
    font-size: 12px;
}

.report-filter .text-label{
    padding-top: 8px;
}

.report-filter .text-label a{
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.report-filter .text-label a:not(:last-child){
    padding-right: 15px;
}

.reports-graph{
    margin-bottom: 40px;
}

.reports-graph h3{
    margin-bottom: 0px!important;
}

.reports-graph span.avg{
    font-size: 11px;
}

.reports-graph .reports-graph-header{
    margin-top: 50px;
    margin-bottom: 30px;
}

.reports-averages{
    margin-top: 30px;
}

.reports-averages h1{
    margin: 0px;
}

.reports-averages .item{
    overflow: hidden;
}

.reports-averages .item img{
    float: left;
    /*height: 35px;*/
}

.reports-averages .item h1{
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

.reports-averages .item span{
    float: left;
    font-size: 11px;
    margin-left: 10px;
    margin-top: 15px;
}


.detailed-results{
    margin-top: 30px;
    font-size: 12px;
}
.detailed-results label{
    font-size: 12px!important;
}
.detailed-results table.dataTable thead td,
.detailed-results table.dataTable tbody td,
.detailed-results table.dataTable tfoot td{
    min-width: 90px;
} 

.detailed-results .spinner{
    text-align: center;
}
.dataTables_processing{
    z-index: 9;
    width: 150px;
}
.dataTables_filter{
    display: none!important;
}

.report-filter .age-range .bootstrap-select{
    width:28%!important;
    float: left!important;
}

.report-filter .age-range label{
    float: left!important;
    margin-top: 8px;
}

.report-filter .age-range label.separator{
    margin-left: 10px;
}
.btn-column-filter{
    float: right;
    /*margin-bottom: -33px;*/
    background-color: #e0e0e0;
    color: #666;
    border: 0px;
}

.btn-column-filter:hover,
.btn-column-filter:focus{
    background-color: #e0e0e0!important;
    color: #666;
}

.column-filter-list li {
    font-size: 12px;
    float: left;
    width: 260px;
    list-style: none;
    padding-right: 20px;
}

#columnFilterModal .modal-body{
    overflow: hidden;
}

.processing-data{
    margin-top: 20px;
}
@media screen and (max-width: 991px) {
    .report-filter.filter .form-control{
        margin-bottom: 18px;
    }
    
    .report-filter .age-range .bootstrap-select {
        width: 43%!important;
    }
}