p.quote-phrase + p:not(.share){
    font-size: 14px;
    font-style: italic;
    text-align: left;
    padding-left: 60px;
    line-height: inherit!important;
    margin-top: -10px;
}

.event-holder ul li.cat-exercise .text-container.inactive {
    display: none;
}

.event-holder ul li.cat-exercise .text-container.active {
    display: inline;
}

.unluck-nextweek,
.take-a-test{
    opacity: 0.5;
}

a.btn{
    color: #fff;
    /*padding: 6px 12px !important;*/
    font-size: 14px;
    margin-top: 0px;
}

.wizard > .content > .body .form-control {
    width: 100% !important;
}

.input-group-addon{
    border: 1px solid #edeff3 !important;
    
}

.Pie-Chart {
    position: absolute !important;
}

ul.sortable-list li{
    overflow: hidden;
}
.day-item .text-container div,
.day-item .text-container div ul li,
.day-item .text-container div ul li span,
.day-item .text-container p,
.day-item .text-container p span{
    font-size: 13px!important;
    color: #686a6c!important;
    line-height: 18px !important;
}

.day-item.completed .text-container div,
.day-item.completed .text-container div ul li,
.day-item.completed .text-container div ul li span,
.day-item.completed .text-container li,
.day-item.completed .text-container p,
.day-item.completed .text-container p span{
    text-decoration: line-through;
}


.promo {
    max-height: none!important;
}

.promo .bottom{
    position: absolute;
    padding-right: 15px;
    bottom: 20px;
}

.promo .bottom img{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#testOptionsModal ul{
    padding: 0px;
}
#testOptionsModal ul li{
    list-style: none;
}
@media (min-width: 991px){
/*    .day-detail {
        min-height: 1700px;
    }*/
    
}

@media (max-width: 767px){
    .Pie-Chart {
        position: relative !important;
    }
    
    .toggle-tests,
    .take-healthy-life-test{
        width: 100%;
        margin-bottom: 5px;
    }
    
    #overview #dashboard img {
        max-width: 150px !important;
        max-height: 150px !important;
    }
}

.program-actions{
    margin-top: 40px;
    margin-bottom: 20px;
}

.chat-to-client{
    padding: 0px;
}

//==============================================================================
// 12weekProgram
//==============================================================================
p.quote-phrase + p:not(.share){
    font-size: 14px;
    font-style: italic;
    text-align: left;
    padding-left: 60px;
    line-height: inherit!important;
    margin-top: -10px;
}

.event-holder ul li.workout .text-container.inactive {
    display: none;
}

.event-holder ul li.workout .text-container.active {
    display: inline;
}

.unluck-nextweek,
.take-a-test{
    opacity: 0.5;
}

a.btn{
    color: #fff;
    /*padding: 6px 12px !important;*/
    font-size: 14px;
    margin-top: 0px;
}

.wizard > .content > .body .form-control {
    width: 100% !important;
}

.input-group-addon{
    border: 1px solid #edeff3 !important;
    
}

.Pie-Chart {
    position: absolute !important;
}

ul.sortable-list li{
    overflow: hidden;
}
.day-item .text-container div,
.day-item .text-container div ul li,
.day-item .text-container div ul li span,
.day-item .text-container p,
.day-item .text-container p span{
    font-size: 13px!important;
    color: #686a6c!important;
    line-height: 18px !important;
}

.day-item.completed .text-container div,
.day-item.completed .text-container div ul li,
.day-item.completed .text-container div ul li span,
.day-item.completed .text-container li,
.day-item.completed .text-container p,
.day-item.completed .text-container p span{
    text-decoration: line-through;
}


.promo {
    max-height: none!important;
}

.promo .bottom{
    position: absolute;
    padding-right: 30px;
    bottom: 20px;
    width: 100%;
}

.promo .bottom img{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.blue{
    border-left-color: #0000FF !important;
}
.dark-blue{
    border-left-color: #00008B !important;
}
.pink{
    border-left-color: #FF1493 !important;
}

.green{
    border-left-color: #008000 !important;
}

.rebicca-purple{
    border-left-color: #663399 !important;
}
.medium-purple{
    border-left-color: #d5b9f0 !important;
}
ul.sortable-list li.day-item li{
    overflow: visible!important;
}
ul.sortable-list li.day-item ul,
ul.sortable-list li.day-item ol{
    margin-bottom: 5px;
}
ul.sortable-list li.day-item ul li {
    list-style: circle!important;
}
ul.sortable-list li.day-item ol li {
    list-style: decimal!important;
}

ul.sortable-list li.day-item li {
    background: none !important;
    padding: 0px !important;
    margin: 0px !important;
    border: none!important;
    display: list-item !important;
    font-size: 13px !important;
    color: #686a6c;
}

.day-detail .comment-holder{
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    font-size: 13px;
}

.day-detail .comment-holder .comment{
    color: #636363;
}

.mob-filter-nav .bootstrap-select>.dropdown-toggle {
    padding: 0px 15px!important;
    min-height: 10px!important;
}

#program-slider .week:not(.active-week) {
    /* display: none; */
    height: 500px!important;
    overflow: hidden;
}

.week-day-filter-right,
.week-day-filter-left{
    padding-right: 8px;
    padding-left: 8px;
}

a.aia-vitality-test{
    margin-top: 5px;
}

.btn-greyed{
    background-color: #c8c8c7!important;
    border-color: #c8c8c7!important;
    cursor: default!important;
}
.uploaded-files-header{
    overflow:hidden;
}
.uploaded-files-header h3 {
    float: left;
}
.new-file{
    color: #6c4695;
    text-decoration: underline;
}
.uploaded-files{
    margin-bottom: 10px;
    margin-top: 10px;
}
.uploaded-files table{
    width: 100%;
}

.uploaded-files table td{
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
    font-size: 12px;
}
.file-datecreated{
    color: #848485;
}

.file-link{
    color: #282b2f;
    text-decoration: none;
}

.file-link:hover{
    color: #282b2f;
    text-decoration: underline;
}
.delete-file{
    color: red;
}
.delete-file:hover{
    color: red;
    text-decoration: underline;
}

.day-detail .quote.inactive{
    display: none;
}
@media (min-width: 991px){
/*    .day-detail {
        min-height: 1700px;
    }*/
    
}

@media (max-width: 767px){
    .Pie-Chart {
        position: relative !important;
    }
    
    .toggle-tests,
    .take-healthy-life-test{
        width: 100%;
        margin-bottom: 5px;
    }
}


