/*-------------------
---- Main Styles ----
---------------------*/

html,
body {
    height: auto;
}
body {
    font-family: Gotham-Light;
    font-size: 16px;
    color: #282b2f;
    overflow-x: hidden;
    word-wrap: break-word;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #6c4695;
}
.checkbox {
    min-width: 85px;
    margin: 0;
    font-size: 12px;
}
input[type="checkbox"]{
    margin-left: -25px;
    margin-top: 0;
    width: 16px;
    height: 16px;
}
a:focus,
button:focus {
    outline: none !important;
}
a {    
    color: #47b69b;
    cursor: pointer !important;
    -webkit-transition: color .15s ease-out;
    transition: color .15s ease-out;
}
a:hover,
a:focus {
    text-decoration: none;
}
.no-padding{
    padding: 0 !important
}
.no-margin-left{
    margin-left: 0 !important;
}
.vertical-center {
    display: table-cell;
    vertical-align: middle;
}
label {
    margin-right: 10px;
    margin-bottom: 0;
}
label.bullet {
    padding-left: 24px;
    margin: 0;
}
label.bullet:before {
    content: "";
    width: 5px;
    position: absolute;
    height: 5px;
    background-color: #d3d7e2;
    left: 24px;
    top: 10px;
    border-radius: 50%;
}
hr {
    margin: 0;
}
.form-group{
    display: inline-block;
    width: 100%;
}
h4 .hlp-required {
    padding: 5px 9px;
    margin: 0 5px 0 0;
}
.hlp-required {
    padding: 3px 9px;
    display: inline-block;
    background-color: #47b69b;
    width: 24px;
    height: 24px;
    font-size: 12px;
    font-family: Gotham-Light;
    color: #fff;
    border-radius: 50%;
    margin: 5px 0 0 12px;
    font-style: normal;
}
.logo-signup {
    background: url('../images/main-logo.png');
    display: block;
    height: 150px;
    width: 150px;
    margin-top: -20px;
}
.logo {
    background: url('../images/main-logo.png');
    display: block;
    margin: 0 auto;
    height: 150px;
    width: 150px;
    margin-top: -20px;
}
.img-centered{
    margin: 0 auto;
}
.bootstrap-select .dropdown-toggle:focus{
    outline: 0 !important;
    outline: 0 !important;
    outline-offset: 0;
    border: 1px solid #47b69b !important;
    color: #686a6c;
}
.scrolled .logo {
    background: url('../images/logo.png');
    display: block;
    margin: 0 auto;
    width: 35px;
    height: 30px;
}
.logo-mob, .logo-xs-signup {
    background: url('../images/main-logo1.png');
    display: block;
    margin: 0 auto;
    height: 84px;
    width: 84px;
    margin-top: 8px;
    z-index: 10;
    margin-bottom: -53px;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.scrolled .logo-mob {
    background: url('../images/logo.png');
    display: block;
    margin: 0 auto;
    width: 35px;
    height: 30px;
    position: initial;
    margin-top: 10px;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.profile-logo {
    background: url('../images/profile-logo.png');
    width: 15px;
    height: 20px;
    display: block;
    float: left;
    margin: 3px -7px;
}
.profile-info img{
    float: right !important;
    border-radius: 50%;
    cursor: pointer;
}
.border-round{
    border-radius: 3px 
}

.t--20{
    top: -20px;
}

.t-20{
    top: 20px;
}

/*-------------------
---- Font faces ----
---------------------*/

@font-face {
    font-family: Gotham-Book;
    src: url('../fonts/Gotham-Book.otf') format("opentype");
}
@font-face {
    font-family: Gotham-Light;
    src: url("../fonts/Gotham-Light.otf") format("opentype");
}
@font-face {
    font-family: Gotham-Medium;
    src: url("../fonts/Gotham-Medium.otf") format("opentype");
}
@font-face {
    font-family: CenturySchoolbook;
    src: url('../fonts/CenturySchoolbook.otf') format("opentype");
    src: url('../fonts/CenturySchoolbook.ttf') format("opentype");
}

/*-------------------
---- columns ----
---------------------*/
    
    .col-xs-5ths,
    .col-sm-5ths,
    .col-md-5ths,
    .col-lg-5ths {
       position: relative;
       min-height: 1px;
       padding-right: 5px;
       padding-left: 5px;
    }

    .col-xs-5ths {
       width: 20%;
       float: left;
    }

    @media (min-width: 768px) {
       .col-sm-5ths {
           width: 20%;
           float: left;
       }
    }

    @media (min-width: 992px) {
       .col-md-5ths {
           width: 20%;
           float: left;
       }
    }

    @media (min-width: 1200px) {
       .col-lg-5ths {
           width: 20%;
           float: left;
       }
    }

/*-------------------
---- margins ----
---------------------*/
.margin-top-140{
    margin-top: 140px !important;
} 

.margin-top-160{
    margin-top: 140px !important;
} 

.margin-top-180{
    margin-top: 180px !important;
} 

.small-margin{
    margin-top: 140px !important;
}

.big-margin{
    margin-top: 180px !important;
}
.margin-top-30{
    margin-top: 30px !important;
}
.margin-top-10{
    margin-top: 10px !important;
}
.margin-top-60{
    margin-top: 60px !important;
}
.margin-top-200{
    margin-top: 200px;
}
.m-t-xs {
    margin-top: 10px;
}

.m-t-sm {
    margin-top: 20px;
}

.m-t-ms {
    margin-top: 30px;
}

.m-t-ls {
    margin-top: 60px;
}
.m-t-xl{
    margin-top: 80px;
}
.m-t-xxl{
    margin-top: 150px;
}

/*-------------------
---- paddings ----
---------------------*/
.small-padding{
    padding: 20px !important;
    margin-bottom: 20px;
}

.big-padding{
    padding: 30px !important;
}

.vertical-padding{
    padding-top:60px;
    padding-bottom:60px;
}

/*---------------
---- colors ----
-----------------*/

.main-color{
    color: #47b69b !important
}

.bg-color-light-gray{
    background-color: #f0f2f5 !important;
}
.bg-color-light-gray .form-control{
    background-color: #fff !important;
}
.bg-color-light-gray > span{
    cursor: pointer;
    font-size: 21px;
    color: #8d9093;
}
.bg-color-light-gray .btn,.bg-color-light-gray .btn:active {
    background: #fff;
    border-color: transparent;
    color: #282b2f;
}
.bg-color-light-gray .btn:hover,.bg-color-light-gray .btn:focus {
    background-color: transparent;    
    border-color: #47b69b;
    color: #282b2f;
}
.bg-green{
    background: #47b69b !important;
    color: #fff !important
}
.yellow{
    border-left-color: #ffce57 !important;
}
.sky-blue{
    border-left-color: #6dcff6 !important;
}
.purple{
    border-left-color: #9a71c7 !important;
}

/*---------------
---- Buttons ----
-----------------*/

.btn:active {
    background-color: #47b69b;
    border-color: #47b69b;
    color: #fff;
}
.btn:hover {
    background-color: #1c9376;
    border-color: #1c9376;
    color: #fff;
}
.btn, .btn:focus {
    background-color: #47b69b;
    border-color: #47b69b;
    color: #fff;
    border-radius: 3px;
    padding: 6px 12px;
}
.btn-lg{
    padding: 8px 20px !important;
    width: 100%;
    text-align: left;
    border-radius: 3px;
    font-size: 16px;
}
.btn:not(.dropdown-toggle) .fa{
    float: right;
    padding-top: 3px;
    padding-left: 10px
}
.btn-white{
    background-color: #fff !important;
    border-color: #dce0e6 !important;
    color: #808183 !important;
    margin-bottom: 5px;
    text-align: center;
}
.btn-white:hover, .btn-white:focus {
    border-color: #47b69b !important;
    color: #808183 !important;
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    background-color: #f0f2f5;
    border-color: #f0f2f5;
}

/*---------------
---- Form controls ----
-----------------*/

.form-control{
    padding: 8px 12px;
    font-size: 12px;
    color: #282b2f;
    background-color: #f0f2f5;
    border-radius: 5px;
    border: 1px solid #f0f2f5;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 3px;
}
.form-control:focus {
    border: 1px solid #47b69b !important;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 3px;
}
.form-control.lg{
    padding: 20px;
    font-size: 16px
}

/*---------------
---- input group ----
-----------------*/

.input-group{
    margin-bottom: 10px;
}

/*-----------------------
---- Preloader Styles ----
-------------------------*/

#page-loader {
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 99999;
}
#page-loader .page-loader-gif {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -32px 0 0 -20px;
    background: url('../images/preloader.gif') no-repeat;
}

/*------------------
---- Nav Styles ----
--------------------*/

#main-nav {
    height: 80px;
    padding: 0;
    background: #2c2336;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#main-nav .container {
    padding-top: 27px;
    padding-bottom: 0;
    -webkit-transition: padding .3s ease-out;
    transition: padding .3s ease-out;
}
.scrolled #main-nav .container {
    padding-top: 12px;
}
.scrolled #main-nav {
    background: #2c2336;
    height: 50px;
}
.navbar > .container .navbar-brand {
    padding: 17px 0 5px 15px;
    font-size: 30px;
    font-weight: bold;
}
.navbar-brand {
    position: relative;
}
.scrolled #main-nav .navbar-brand:after {
    position: absolute;
    height: 30px;
    right: -30px;
    top: 50%;
    margin-top: -5px;
    font-family: fontAwesome;
    font-size: 20px !important;
    content: "\f102";
    color: #d9e4eC !important;
    opacity: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
.scrolled #main-nav .navbar-brand:hover:after {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
#site-nav a {
    vertical-align: middle;
    padding: 0 20px 0 0;
    min-width: 110px;
    font-size: 12px;
    font-family: Gotham-Book;
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 1px;
    text-align: center;
    background: none;
    -webkit-transition: color .2s ease-out, padding .3s ease-out;
    transition: color .2s ease-out, padding .3s ease-out;
}
#site-nav .active a,
#site-nav a:hover,
#site-nav a:focus {
    color: #47b69b !important;
    background: none;
}
#site-nav a .fa {
    display: block;
    margin-bottom: 5px;
    font-size: 21px;
    text-align: center;
}
#site-nav ul {
    list-style: none;
    display: inline-block;
    padding: 0;
}
#site-nav ul li {
    float: left;
}
#site-nav .right-content ul {
    float: right;
}
#site-nav .right-content ul li a {
    padding: 0 0 0 20px;
}
.signup #main-nav {
    background: #2c2336;
    height: 80px !important;
}
.signup #site-nav{
    display: block !important;
    visibility: visible !important;
}
.signup #site-nav a{
    float: left;
    padding: 0 27px 0 0 !important;
    font-size: 12px;
}
.signup #site-nav a .fa{
    float: left;
    margin-top: -2px;
    margin-right: 5px;
}
.navbar-inverse .navbar-toggle {
    border-color: transparent;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: transparent;
}
.profile-info {
    text-align: right;
    float: right;
    color: #fff;
    font-family: Gotham-Book;
    font-size: 12px;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.green-nav {
    background-color: #47b69b;
    margin-top: 75px;
    display: block;
    width: 100%;
    text-align: center;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    border-bottom: 1px solid #EBEBEB;
}
.scrolled .green-nav {
    margin-top: 50px;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.green-nav ul {
    list-style: none;
    margin: 0 auto;
    display: inline-flex;
    padding: 0;
}
.green-nav ul li {
    float: left;
}
.green-nav ul li a {
    padding: 18px 0px 15px;
    font-size: 12px;
    display: block;
    font-family: Gotham-Light;
    color: #fff;
    text-transform: capitalize;
    border-bottom: 3px solid #47b69b;
    margin: 0 10px;
}
.scrolled .green-nav ul li a{
    padding: 16px 0px 13px;
     -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.green-nav ul li.active a {
    border-bottom: 3px solid #fff;
}


/*---------------------
---- Mobile Filter  ----
-----------------------*/

.mob-filter-nav{
    background-color: #fff;
    text-align: center;
    font-family: Gotham-Light;
    width: 100%;
    text-transform: capitalize;
    font-size: 12px;
    color: #282b2f;
    
}
.mob-filter-nav hr {
    margin: 0
}
.mob-filter-nav ul.week-filter{
    max-height: 50px;
}
.mob-filter-nav ul {
    list-style: none;
    margin: 0 auto;
    display: inline-block;
    padding: 0;   
}
.mob-filter-nav .week-filter>li {
    float: left;
    padding: 16px 10px;
}
.mob-filter-nav .label-day{
    font-family: Gotham-Medium;
    text-transform: uppercase;
    color: #282b2f;
}
.mob-filter-nav .fa {
    color: #47b69b;
    font-size: 14px;
}
.mob-filter-nav .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 80px !Important;
}
.mob-filter-nav .bootstrap-select>.dropdown-toggle {
    width: inherit;
    padding: 0 25px 0 0;
    border: none;
    font-family: Gotham-Medium;
    font-size: 12px;
    text-transform: uppercase;
    color: #282b2f;
    background-color: transparent;
}
.mob-filter-nav .btn-default:hover,
.mob-filter-nav .btn-default:focus,
.mob-filter-nav .btn-default.focus,
.mob-filter-nav .btn-default:active,
.mob-filter-nav .btn-default.active,
.mob-filter-nav .open > .dropdown-toggle.btn-default{
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background-color: #fff;
}
.mob-filter-nav .bootstrap-select .dropdown-toggle:focus{
    outline: 0 !important;
    outline: 0 !important;
    outline-offset: 0;
    border: none !important
}
.mob-filter-nav .toggle.btn {
    margin-top: -7px;
    border: none;
    width: 76px !important;
}
.week-day-filter-right, .week-day-filter-left{
    cursor: pointer;
}
.week-day-filter-right, .week-day-filter-left, #week-day{
    float: left;
}
.mob-nav-actions {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 15px 15px 10px;
    max-width: 400px;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.mob-nav-actions a {
    text-align: center;
    display: block;
    color: #282b2f;
    max-width: 60px;
    font-size: 12px;
    font-family: Gotham-Light;
    word-break: break-word;
    margin: 0 auto;
}
.mob-nav-actions a:hover, .mob-nav-actions a.active {
    color: #47b69b;
}
.filter-collapse{
    display: none;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.filter-collapse li{
    float: left;
}
.filter-content{
    width: 100%;
    padding: 20px 0 15px;
    background-color: #d3d7e2;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.filter-close {
    width: 50px;
    background-color: #d3d7e2;
    float: right;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    color: #fff;
    font-size: 37px;
    cursor: pointer;
}

/*---------------------
---- Hlp Icons  ----
-----------------------*/

.icon {
    width: 24px;
    height: 24px;
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
}
.icon-filter{
    background-image: url(../images/icon-filter.png);    
}
.icon-print{
    background-image: url(../images/icon-print.png);
}
.icon-email{
    background-image: url(../images/icon-email.png);
}
.icon-cart{
    background-image: url(../images/icon-cart.png);
}

/*---------------------
---- Hlp on/off button  ----
-----------------------*/

.toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; }
.toggle.btn {
    min-height: 32px !important;
    height: 32px !important;
    border: none;
    min-width: 75px;
    background-color: transparent;
}
.toggle.btn * {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.toggle-handle {
    position: relative;
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 32px;
    height: 28px;
    width: 28px;
    background-color: #47b69b;
    border-width: 0;
    border-radius: 50%;
    margin-top: 2px;
}
.toggle.off .toggle-group>.toggle-handle {
    margin-right: 0;
    margin-left: 32px;
}
.toggle-on.btn, .toggle-on.btn:hover, .toggle-on.btn:focus {
    padding-right: 34px;
    font-family: Gotham-Light;
    font-size: 12px;
    color: #282b2f;
    background-color: #f3f4f8 !important;
    padding-top: 7px;
    padding-left: 5px;
}
.toggle-off.btn, .toggle-off.btn:hover, .toggle-off.btn:focus {
    padding-top: 7px;
    padding-left: 34px;
    font-family: Gotham-Light;
    font-size: 12px;
    color: #282b2f;
    background-color: #f3f4f8 !important;
}
.toggle-handle:hover {
    background-color: #47b69b !important;
}
.toggle-on:active, .toggle-on:hover, .toggle-on:focus{
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

/*---------------------
---- Desktop Filter  ----
-----------------------*/

.l-filter-nav{
    display: none;
     background: -webkit-linear-gradient(left, #ffffff 50%,#f2f3f6 50%);
    background: -moz-linear-gradient(left, #ffffff 50%,#f2f3f6 50%);
    background: linear-gradient(left, #ffffff 50%,#f2f3f6 50%);
    width: 100%;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    color: #282b2f;
    font-family: Gotham-Light !important;
    font-size: 12px;
    text-transform: capitalize;
}
.l-filter-nav a{
    color: #282b2f;
    padding: 8px 20px;
    float: left;
    display: block;
}
.l-filter-nav a:hover{
    color: #47b69b;
}
.l-filter-nav .filter-label{
    font-family: Gotham-Medium;
    float: left;
    margin-right: 15px;
}
.scrolled .l-filter-nav{   
    display: inline-block;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.l-filter-nav .col-l{
    padding: 15px 15px 0;
}
.checkbox{
    float: left;
}
.checkbox + .checkbox{
    margin: 0 !important
}
.l-filter-nav .col-c{
    text-align: center;
    padding: 8px;
    background: #ffffff;
    border-left: 1px solid #e5e7ee;
    border-right: 1px solid #e5e7ee;
}
.l-filter-nav .col-r{
    padding: 7px;
    background-color: #f2f3f6;
}
/*---------------------
---- Login Styles ----
-----------------------*/
.login-background{
    position: relative;
    height: 100%;
    background: url('../images/Login/login-background.jpg') center;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
}
.login-background .login-content{
    display: table;
    height: 100%;  
    width: 100%;
}
.login-background .living-logo{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}
.login-background .living-logo img {
    max-width: 150px;
    margin-bottom: 10px;
}

.login-background .living-logo .form-group {
    margin: 0;
}

#login-form .form-group .facebook-btn {
    background-color: #3c5a8c;
    border-color: #3c5a8c;
    margin-bottom: 6px;
}

#login-form .form-group .facebook-btn:hover, #login-form .form-group .facebook-btn:focus{
    background-color: #6591DA;
    border-color: #6591DA;
}
#login-form .form-group .google-btn {
    background-color: #e64732;
    border-color: #e64732;
}

#login-form .form-group .google-btn:hover, #login-form .form-group .google-btn:focus{
    background-color: #FF3D23;
    border-color: #FF3D23;
}
.form-group .btn span {
    float: left;
}
.form-group .btn span.signIN {
    float: left;
    padding: 6px;
}
span.signIN + span{
    float: left;
    margin-top: 6px;
}
.logo-circle{
    background: #fff;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    text-align: center;
}
.logo-circle i{
    font-size: 20px;
    padding: 7px 12px !important;
    color: #3c5a8c;
}
.logo-circle i.fa-google-plus{
    padding: 7px 8px !important;
}
#login-footer{
    background: #686e7e;
    opacity: .9;
    display: inline-block;
    width: 100%;
    position: absolute;
    bottom: 0;
    color: #fff;
}
#login-footer p{
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 14px;
}
#login-footer img{
    max-height: 60px;
}
#login-footer .copyright {
    font-size: 10px;
    color: #bec0c7;
}
/*---------------------
---- Header Styles ----
-----------------------*/

#header {
    border-bottom: 1px solid #e9ebf0;
    padding: 15px 0;
}
.signup #header{    
    border-bottom: none;
}
#header h1 {
    color: #6c4695;
    width: 100%;   
    margin: 0 !important;
} 
.hlp-input-group .input-group-addon{
    background: #f0f2f5; 
    border: none;
    border-radius: 3px;
}
.hlp-input-group button{
    border:0;
    background:#f0f2f5;
    color: #47b69b;
}

/*---------------------
---- Info-bar Styles ----
-----------------------*/

#info-bar {
    border-bottom: 1px solid #e9ebf0;
    padding: 35px 0 15px;
}
#info-bar h1 {
    font-family: Gotham-Light;
    float: left;
    font-size: 22px;
    margin: 0;
    width: 100%
} 
#info-bar .date{
    color: #553c83;
}
#info-bar p{
    margin: 0;
    font-size: 12px;
}

/*---------------------
---- breadcrumb Styles ----
-----------------------*/
#breadcrumb {
    background-color: #fff;
    display: inline-block;
    border-radius: 5px;
    padding: 17px 0 10px 0;
}
#breadcrumb p {
    margin-top: 6px;
    padding: 0;
    font-family: Gotham-Medium;
}
#breadcrumb .input-group hlp-input-group pull-right{
    margin-bottom: 0;
}

/*------------------------
---- Form wizard ----
-------------------------*/

#form-wizard{
    padding: 35px 0
}

/*---------------------
---- Credits Styles ----
-----------------------*/
#credits{
    margin-top: 30px;
}
#credits h4 {
    font-family: Gotham-Medium;
}
#credits table {
    background-color: #f0f2f5;
    border-radius: 5px;
}
#credits .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 20px 15px 10px;
}
#credits .table > tbody tr:last-child td {
    padding-bottom: 15px;
}
#credits .pad{
    padding: 9px 15px !important;
}
#credits .tr-min-height{
    height: 99px;
}
#credits .table > tbody > tr > td, .table > tfoot > tr > td {
    font-size: 13px;
    padding: 6px 15px;
    border: none;
}
#credits .table > tbody > tr > td a{
    color: #6c4695;
}
#credits .table > thead > tr > th {
    border-bottom: 1px solid #e1e4eb;
    font-weight: 100;
}
#credits .table > thead > tr > th span {
    font-size: 25px;
    color: #6c4695;
    font-weight: 600;
}
.purchase-credits, .all-tests {
    display: none;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
#credits .purchase-credit-form {
    padding: 25px 35px;
    margin-top: 30px;
    display: inline-block;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
#credits .purchase-credit-form:before {
    content: '';
    width: 0;
    left: 15px;
    top: 15px;
    position: absolute;
    height: 0;
    border-bottom: 15px solid #f0f2f5;
    border-right: 15px solid transparent;
}
#credits .purchase-credit-form p {
    margin: 20px 0;
    font-size: 14px;
}
.close-btn{
    cursor: pointer;
    font-size: 21px;
    color: #8d9093;
}
/*-------------------
---- paddings ----
---------------------*/
.blog-sub-head {
    font-family: Gotham-Light;
    color: #aaabac;
}
.blog-text {
    padding-left: 12px;
    padding-right: 12px;
    font-size: 16px;
}

.blog-hr {
    border: 1px solid #f2f3f6;
}

.right-slide {
    padding-left: 30px;
    padding-top: 20px;
}

.right-slide h4 {
    font-family: Gotham Medium;
}

.right-slide img {
    border-radius: 5px;
}

/*---------------------
---- Trainer-detail Styles ----
-----------------------*/
#trainer-detail{
    margin-top: 30px;
}
#trainer-detail .col-md-5 h3{
    margin-bottom: 5px;
    margin-top: 10%;
}
.label-round{
    border: 1px solid #d4dbe5;
    border-radius: 20px;
    float: right;
    margin-top: 15px;
    padding: 5px 10px;
}
 .test-history-header h3{
    float: left;
    margin-bottom: 25px;
}
#trainer-detail p{
    font-size: 14px;
    margin: 0 0 5px;
}
.test-history{
    padding: 20px 0;
    display: inline-block;
    width: 100%;
    border-radius: 5px;
}
#trainer-detail .col-xs-5 ul{
    list-style: none;
    padding: 0;
    float: right;
}
#trainer-detail .col-xs-5 ul li{
    float: left;
    padding: 0 7px;
    margin-top: -3px;
}
.test-history .history p{
    font-size: 12px !important;
    margin: 0 !important;
}
.test-history .history hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #dfe3e9;
    margin: 1em 0;
    padding: 0;
}
.chart-section{
    margin-bottom:  30px;
    margin-top: 15px;
}

/*---------------------
---- snapshot Styles ----
-----------------------*/
#snapshot{
    background-color: #d3d7e2;
    border-top: 2px solid #ffaf4e;
}
#snapshot h2{
    margin-top: 50px;
    margin-bottom: 25px;
}
.trainer-dashboard {
    background-color: #fff;
    margin: 20px 0;
    border-radius: 5px;
    display: inline-block;
    width: 100%;
}
.trainer-dashboard-header{
    padding: 10px;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #e8e9e9;
}
.trainer-dashboard-header h3{
    margin: 5px 0;
    font-size: 17px;
    font-family: Gotham-Medium;
}
.trainer-dashboard-header p{
    margin: 5px 0;
    font-size: 14px;
}
.trainer-dashboard-header img{
    margin: 0 auto;
    display: block;
    padding-top: 7px;
}
.trainer-dashboard-body{
    padding: 10px;
    display: inline-block;
    width: 100%;   
}
.trainer-dashboard-body img{
    max-width: 150px;
}
.trainer-dashboard-body p{
    font-size: 13px;
}
.trainer-dashboard-footer {
    background-color: #f2f3f6;
    padding: 10px;
    display: inline-block;
    width: 100%;
    margin-bottom: -6px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.trainer-dashboard-footer span{
    color: #929aa5;
}
.trainer-dashboard-footer p{
    margin: 0;
    padding-top: 8px;
    font-size: 14px;
}

/*-------------------
---- 12week program ----
---------------------*/

.pad-adjustment{
    padding-left: 53px;
    padding-top: 15px;
}
#overview #dashboard img{
    min-width: 125px;
    max-width: 160px;
}
.Pie-Chart {
    margin: 0 auto;
    display: block;
    height: 150px;
    position: relative;
}
.Pie-Chart .text {
    position: absolute;
    width: 100%;
    font-size: 18px;
    color: #6c4695;
    text-align: center;
}
.piechart{
    position:relative;
    text-align: center;
    canvas{
        position: absolute;
        top: 0;
        left: 0;
    }
}
canvas {
    margin: auto;
    display: block;
}
sup{
    top: -0.2em;
    margin-left: 1px;
}
#your-tests .col-xs-5 ul {
    list-style: none;
    padding: 0;
    float: right;
}
#your-tests .col-xs-5 ul li {
    float: left;
    padding: 0 7px;
    margin-top: -3px;
}
#Program {
    margin: 20px 0;
    background-color: #d3d7e2;
    border-top: 2px solid #ffaf4e;
    margin-bottom: -110px;
    padding-bottom: 82px;
}
#Program .radio label, .checkbox label {
    padding-left: 18px;
}
#Program .l-filter-nav a {
    padding: 8px 15px;
}
.circle-arrow {
    padding: 5px 13px;
    background: #fff;
    border-radius: 50%;
    color: #47b69b;
    display: inline-block;
    border: 2px solid #47b69b;
}
.circle-arrow .fa-chevron-left, .circle-arrow .fa-chevron-right{
    margin-top: 5px;
}
/*
.day-detail {
    background: #fff;
    padding: 35px 10px 1px 10px;
    border-radius: 5px;
    margin: 20px 0;
    max-height: 700px;
    min-height: 700px;
    overflow: hidden;
    display: block;
}
*/
.day-detail {
    background: #fff;
    padding: 35px 6px 1px 10px;
    border-radius: 5px;
    margin: 20px 0;
    /* max-height: 700px; */
    /* min-height: 700px; */
    /* overflow: hidden; */
    /* display: block; */
}

.day-detail>p{
    font-family: Gotham-Medium;
    padding-left: 10px;
}
.day-detail h5 {
    font-size: 24px;
    padding-left: 10px;
}
.quote-sign{
    font-family: CenturySchoolbook;
    font-size: 60px;
    line-height: 1;
    color: #d7dbe4;
    width: 60px;
    float: left;
    padding-left: 10px;
}
.quote-text {
    padding-top: 14px;
}
.quote-phrase {
    font-size: 14px;
    font-style: italic;
    text-align: left;
    padding-left: 60px;
}
.quote .share {
    font-size: 10px;
    padding-left: 60px;
    text-align: left
}
.quote .share .circle-arrow {
    padding: 5px 10px !important;
}

ul.sortable-list {
    list-style: none;
    padding: 0;
    width: 100%;
}

ul.sortable-list li {
    background: #ede6f5;
    border-left: 4px solid red;
    padding: 10px;
    margin: 6px;
    border-radius: 5px;
    display: inline-flex;
    width: 100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 0;
    padding-right: 0;
}
ul.sortable-list li:hover{
    cursor: url(../images/cursor/openhand_8_8.cur), default;
}
ul.sortable-list li input[type="checkbox"] {
    margin-right: 10px;
    margin-top: 0;
    width: 15px;
    height: 15px;
    margin-left: 0;
}
.ui-sortable-handle.completed {
    text-decoration: line-through;
}
.ui-sortable-handle .nav-icon {
    color: #b7bcca;
    font-size: 24px;
    margin-top: 10px;
    margin-left: 0;
}
 .checkbox-container{
    float: left;
    display: block;
}
.text-container {
    display: block;
    float: left;
    width: calc(100% - 40px);
}
ul.sortable-list li h4{
    margin: 0;
    color: #282b2f;
    font-family: Gotham-Medium;
    font-size: 16px;
}
ul.sortable-list li p {
    color: #686a6c;
    margin: 5px 3px 0 0;
    font-size: 13px;
    text-align: left;
}
.week-tips {
    background: #9c76b6;
    border-radius: 5px;
    padding: 0 0 0 0px;
    margin-top: 20px;
}
.week-tips h3{
    color: #fff;
    padding: 10px 20px;
    font-family: Gotham-Medium;
}
.week-tips h4{
    color: #000;
    font-weight: bold;
}
.week-tips p{
    color: #fff;
}
.tips-container {
    margin-left: 0;
    padding: 0 10px;
    list-style-type: none;
}
.tips-container li {
    counter-increment: step-counter;
    margin: 15px 0;
}
.tips-container li::before {
   content: counter(step-counter);
    margin-right: 5px;
    font-size: 14px;
    background-color: #fff;
    color: black;
    font-weight: bold;
    padding: 6px 10px;
    border-radius: 50%;
}
.tip-head {
    font-family: Gotham-Medium;
    margin-left: 40px;
    margin-top: -32px;
    font-size: 18px;
    margin-bottom: 0;
    color: black !important;
}
.tips-container li p.tip-body {
    margin-left: 40px;
    margin-top: -10px;
    font-size: 14px;
}
.promo {
    background: #fdfcfc;
    padding: 36px 0 0 0;
    border-radius: 5px;
    margin: 20px 0;
    max-height: 700px;
    min-height: 800px;
    overflow: hidden;
    display: block;
}
.middle p {
    font-size: 13px;
    margin: 50px 10px;
}
.promo .bottom{
    margin-top: 100px;
}
/*---------------------
---- Trainer-client-detail Styles ----
-----------------------*/
#sub-header{
    border-bottom: 1px solid #e9ebf0;
    padding-bottom: 25px;
}
#sub-header .test-action {
    padding: 0;    
}
#sub-header .test-action p {
    float: right
}
#sub-header .test-action a{
    font-size: 14px;
    float: right;
}
#week-challenge{
    margin-top: 20px;
    border-bottom: 1px solid #e9ebf0;
    padding-bottom: 25px;
}
#week-challenge h3 {
    margin-bottom: 30px;
    font-size: 21px;
    line-height: 1.4;
}
#week-challenge p span{
   color: #929aa5;
}
#full-result{
    background-color: #d3d7e2;
    border-top: 2px solid #ffaf4e;
    font-size: 14px;
    padding-bottom: 90px;
    margin-bottom: -90px;
}
.poor {
    background-color: red;
    width: 19.2%;
    margin-left: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
    display: table;
    text-align: center;
    font-family: Gotham-Medium;
}
.poor p{
    margin-top: 12px;
}
.test-report-header{
    text-align: center;
    padding: 30px 5px 15px;
    background-color: #fff;
}
.test-report-body{
    background-color: #f6f7f9;
    padding: 15px 16px;
    font-size: 14px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 20px;
    min-height: 410px;
}
.banner-blue{
        background-color: #6c4697;
        display: inline-block;
        width: 100%;
        border-radius: 5px;
        color: #fff;
        text-align: center;
        padding: 20px 0;
        margin-bottom: 20px;
}
.banner-blue p{
    margin: 0;
}
.activity{
    background: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
    padding: 16px;
    font-size: 14px;
    position: relative;
}
.success{
    background: #86b648 !important;
}
.warning{
    background: #ed1c24 !important;
}
.default{
    background: #d3d7e2;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    padding: 31px 41px;
    font-size: 26px;
    color: #fff;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
}
.activity h3 .badge {
    background-color: transparent;
    color: #553c83;
    font-size: 12px;
    margin-top: -4px;
    margin-left: -4px;
    font-family: Gotham-Light;
    position: absolute;
}
.premium {
    border-top: 100px solid #47b69b;
    border-left: 100px solid transparent;
    margin: -16px 0;
    width: 80px;
    right: 0;
    position: absolute;
}
.premium p span {
    display: inline-block;
    position: absolute;
    right: 10px;
    font-size: 12px;
    top: -95px;
    color: #fff;
    text-transform: uppercase;
    text-align: right;
}

#summary-result {
    margin: 20px 0;
}
.rotate{
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    white-space: nowrap;
    margin-top: 216px;
}
#summary-result p{
    font-size: 14px;
}
#summary-result img{
    margin-top: 20px;
}
#summary-result .border-bottom{
    border-bottom: none;
}
.summary-header {
    border-bottom: 1px solid #e9ebf0;
    min-height: 200px;
    margin-bottom: 30px;
    padding: 0 5px;
    margin-left: 15px;
    margin-right: 15px;
}
.blue-block {
    background-color: #553c83;
    color: #fff;
    padding: 27px 20px;
}
.blue-block p {
    margin: 0;
}
.gray-block {
    background-color: #e5e7ee;
    padding: 60px 12px;
}

/*---------------------
---- Shopping-list Styles ----
-----------------------*/
#shopping-list .week-panelbar{
    background: #f2f3f6;
    border-radius: 5px;
    margin: 20px 0;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #ededed;
}
.week-panelbar ul{
    list-style: none;
    margin: 0;
    width: 100%;
    display: flex;
    padding: 0;
}
.week-panelbar ul li{
    margin: 0 15px;
    display: inline-block;
}
.week-panelbar ul li a, .week-panelbar ul li p, .week-panelbar ul li #weeks .owl-item {
    padding: 20px 0;
    display: inline-flex;
    margin: 0;
}
#shopping-list .col-xs-6 li ul li{
    border-left: 1px solid #dfe2ea;
    padding-left: 20px;
}
.weeks-left, .weeks-right{
    font-size: 18px;
}
.shopping-list{
    margin-top: 40px;
}
.shopping-list hr {
    margin-top: 20px;
    margin-bottom: 20px;
}
.shopping-list h4{
    color:#282b2f;
    font-family: Gotham-Medium;
}
.witdh-83{
    width: 83px;
}
.weeks-settings{
    width: 70px;
    opacity: 1;
    display: block;
    float: left;
    font-size: 14px;
    text-align: center;
    padding: 0px 8px;
}
.shopping-list .list-item{
    background: #f8f9fb;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
    width: 100%;
}
.shopping-list .list-item input[type="checkbox"] {
    margin: 7px 0 0;
    width: 17px;
    height: 20px;
    float: left;
}
.shopping-list .list-item span{
    margin: 8px 12px 0;
    float: left;
    color: #686a6c;
    font-size: 12px;
}
/*------------------------
---footer---
-------------------------*/
.footer{
    position: relative;
    background: #6c4695;
    margin-top: 110px;
    padding: 10px 0;
}
.footer img{
    margin-top: -84px;
    float: left;
}
.footer ul{
    list-style: none;
    margin: 0;
}
.footer ul li{
    float: left;
    font-size: 14px;
}
.footer ul li a {
    padding: 25px 10px;
    display: inline-block;
    color: #fff;
}
.footer button{
    margin: 19px 0;
    float: right;
}





#test-info {
    border-bottom: 1px solid #e9ebf0;
    padding: 35px 0 15px;
}

#test-info h1 {
    font-family: Gotham-Light;
    float: left;
    font-size: 22px;
    margin: 0;
    width: 100%
}

#test-info .date {
    color: #553c83;
}

#test-info p {
    color: black;
    font-size: 12px;
}

.form-label {
    padding-left: 30px;
}

.live-test .border-bottom {
    width: 100% !important
}
.modal-header {
    border: none !important;
}
.modal-body .hlp-required{
    margin-top: 1px;
}
.modal-body h3{
    padding-left:50px;
    margin:0;
}
.large-width .modal-dialog {
    width:80%;
}

.small-width .modal-dialog {
    width:30%;
}

.medium-width .modal-dialog {
    width:50%;
}

.large-width .modal-body {
    min-height: 408px;
}

.medium-width .modal-body {
    min-height: 368px;
}
.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: 1;
    background: #666666;
}
.modal-body p{
    padding: 10px 15px;
    margin: 0;
}
.thanks  {
    text-align: center;
}
.thanks p{
    color: #282b2f;
    margin-top: 20px;
}

/*------------------------
---Scrolling animations---
-------------------------*/

.scrollimation.fade-in {
    opacity: 0;
    -webkit-transition: opacity 1.2s ease-out;
    transition: opacity 1.2s ease-out;
}
.scrollimation.fade-in.in {
    opacity: 1;
}
.scrollimation.scale-in {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transition: -webkit-transform .6s cubic-bezier(.17, .89, .67, 1.57), opacity .6s ease-out;
    transition: transform .6s cubic-bezier(.17, .89, .67, 1.57), opacity .6s ease-out;
}
.scrollimation.scale-in.in {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.scrollimation.fade-right {
    opacity: 0;
    -webkit-transform: translateX(-60px);
    -moz-transform: translateX(-60px);
    -ms-transform: translateX(-60px);
    transform: translateX(-60px);
    -webkit-transition: -webkit-transform 1.2s ease-out, opacity 1.2s ease-out;
    transition: transform 1.2s ease-out, opacity 1.2s ease-out;
}
.scrollimation.fade-right.in {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
}
.scrollimation.fade-left {
    opacity: 0;
    -webkit-transform: translateX(60px);
    -moz-transform: translateX(60px);
    -ms-transform: translateX(60px);
    transform: translateX(60px);
    -webkit-transition: -webkit-transform 1.2s ease-out, opacity 1.2s ease-out;
    transition: transform 1.2s ease-out, opacity 1.2s ease-out;
}
.scrollimation.fade-left.in {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
}
.scrollimation.fade-up {
    opacity: 0;
    -webkit-transform: translateY(60px);
    -moz-transform: translateY(60px);
    -ms-transform: translateY(60px);
    transform: translateY(60px);
    -webkit-transition: -webkit-transform 1.2s ease-out, opacity 1.2s ease-in;
    transition: transform 1.2s ease-out, opacity 1.2s ease-in-out;
}
.scrollimation.fade-up.in {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}
.scrollimation.fade-down {
    opacity: 0;
    -webkit-transform: translateY(-60px);
    -moz-transform: translateY(-60px);
    -ms-transform: translateY(-60px);
    transform: translateY(-60px);
    -webkit-transition: -webkit-transform 1.2s ease-out, opacity 1.2s ease-in;
    transition: transform 1.2s ease-out, opacity 1.2s ease-in-out;
}
.scrollimation.fade-down.in {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}
.scrollimation.d1 {
    transition-delay: .3s;
}
.scrollimation.d2 {
    transition-delay: .6s;
}
.scrollimation.d3 {
    transition-delay: .9s;
}
.scrollimation.d4 {
    transition-delay: 1.2s;
}
.touch .scrollimation.fade-in {
    opacity: 1;
}
.touch .scrollimation.scale-in {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.touch .scrollimation.fade-right {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
}
.touch .scrollimation.fade-left {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
}
.touch .scrollimation.fade-up {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}
.touch .scrollimation.fade-down {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}

/*----------------------
---- Media Queries  ----
------------------------*/

@media (min-width:1500px) {
    .container {
        width: 1500px;
    }
}
@media (max-width:1499px) {
    
}
@media (min-width:992px) and (max-width:1199px) {
    #site-nav a {
        padding: 0 11px 0 0;
    }
    #site-nav .right-content ul li a {
        padding: 0 0 0 11px;
    }
    .poor {
        width: 19%;
        margin-left: 5px;
    }
    .test-report-header {
        min-height: 168px;
    }
    .test-report-body {
        min-height: 550px;
    }
}
@media (min-width:992px) {
    #mobnav {
        display: none !important;
        visibility: hidden !important;
    }
    .green-nav{
         display: none !important;
        visibility: hidden !important;
    }
    .mob-filter-nav{
         display: none !important;
        visibility: hidden !important;
    }
    .checkbox {
        min-width: 55px;
    }
    #header {
        margin-top: 130px;
    }
    .scrolled #header {
        margin-top: 110px;
    }
    #header h1 {
        float: left;
        margin: 45px 15px;
    }
    
    #header img{
        max-width: 400px;
    }
    #info-bar .left{
        text-align: left;
    }
    #info-bar .right{
        text-align: right;
        margin-top: 7px;
    }
}
@media (max-width:1199px) {
    .push-down {
        margin-top: 60px;
    }
    #home .container {
        padding-top: 100px;
    }
    #home .row {
        top: 15%;
    }
    #home .header-img {
        width: 800px;
        margin-left: -400px;
    }
    .service-item {
        padding: 0 15px;
    }
    .skills .plus-symbol:after,
    .skills .equal-symbol:after {
        right: -32px;
    }
    
    #main-content.m-t-ls{
        margin-top: 0
    }
}
@media (max-width:991px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }    
    #main-nav .container,
    .scrolled #main-nav .container {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    #main-nav,
    .scrolled #main-nav {
        background: #2c2336;
    }
    .navbar > .container .navbar-brand {
        padding: 12px 0 5px 15px;
    }
    #main-nav .navbar-brand:after {
        display: none !important;
    }
    #site-nav a {
        padding: 10px 30px;
        font-size: 18px;
    }
    #site-nav .active a,
    #site-nav a:hover,
    #site-nav a:focus {
        padding: 10px 30px;
        color: #00CCCB !important;
        background: none;
    }
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }    
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-nav {
        float: none!important;
        margin: 0;
        padding: 15px 0;
        font-family: Gotham-Book;
        font-size: 12px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
    }
    .navbar-collapse {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    .navbar-collapse.in{
        overflow-y: hidden !important
    }
    #site-nav {
        display: none !important;
        visibility: hidden !important;
    }
    #mobnav {
        padding-left: 15px;
        padding-right: 15px;
    }
    #mobnav .navbar-collapse.collapse {
        display: none !important;
        visibility: hidden!important;
    }
    #mobnav .collapse.in {
        display: block !important;
        visibility: visible !important;
    }
    .navbar-fixed-top .container #mobnav .navbar-header .navbar-toggle {
        padding: 28px 0;
        -webkit-transition: all .3s ease-out;
        transition: all .3s ease-out;
        margin: 0;
    }
    .scrolled .navbar .container #mobnav .navbar-header .navbar-toggle {
        padding: 16px 0;
        -webkit-transition: all .3s ease-out;
        transition: all .3s ease-out;
        margin: 0;
    }
    .navbar-fixed-top #mobnav .navbar-header .profile-info {        
        padding: 23px 0
    }    
    .profile-info span {
        padding: 4px 5px 0 0;
        display: inline-block;
    }    
    .scrolled #mobnav .navbar-header .profile-info {
        padding: 11px 0;
    }    
    #main-nav {
        height: 75px;
    }    
     #header {
        margin-top: 280px;
    }
    .scrolled #header {
        margin-top: 246px;
    }
    #header img{
        margin-bottom: 20px;
        margin: 0 auto;
    }
    
    /*******Credits*******/
    
    #credits .table > tbody > tr > td, .table > tfoot > tr > td {
        font-size: 11px;
        padding: 6px 10px;
    }
    #credits .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr >       td, .table > tfoot > tr > td {
        padding: 6px 10px;
        font-size: 14px;
    }
    #credits .pad{
        padding: 0px 7px;
    }
    #credits .tr-min-height{
        height: 70px;
    }
    
    /********Trainer-detail*********/
    
    #trainer-detail .col-md-5 h3 {
        margin-bottom: 5px;
        margin-top: 12.6%;
        font-size: 25px;
    }
    #trainer-detail .col-sm-12 .col-sm-4 img{
        max-width: 170px;
        margin-bottom: 20px;
    }
    #trainer-detail h3{
        margin-top: 15px;
        font-size: 20px;
        margin-bottom: 5px;
    }
    #trainer-detail p {
        font-size: 13px;
        margin: 0;
    }
    .test-history-header{
        display: none;
    }
    .chart-section h3{
        font-size: 32px !important;
    }
    .chart-section p{
        font-size: 17px !important;
    }
    /********* Trainer-client-detail ***********/
    #sub-header .test-action a {
        font-size: 10px;
        float: right;
    }
    .poor {
        width: 18.7%;
        margin-left: 5px;
    }
    .test-report-header {
        min-height: 161px;
        font-size: 14px;
    }
    .test-report-body {
        min-height: 608px;
        font-size: 13px;
    }
    
    /********* Shopping-list ***********/
    .margin-top-200{
        margin-top: 300px !important;
    }
    #shopping-list .col-md-4 {
        display: none !important;
    }
    /********* Login ***********/
    .form-group .btn span.signIN {
        float: left;
        padding: 6px;
        margin-top: -3px;
        margin-left: 6px;
        font-size: 11px;
    }
    span.signIN + span {
        float: left;
        margin-top: -9px;
        margin-left: 11px;
    }
    
    /******* 12Week Program ******/
    
    #dashboard p{
        font-size: 12px;
    }
    .Pie-Chart .text {
        font-size: 12px !important;
    }
    .read-more {
        margin: 20px auto;
        display: block;
    }
    .thanks.margin-top-200{
        margin-top: 130px !important;
    }
}
@media (max-width:767px) {
    .pad-adjustment
    {
        padding-left: 0 !important;
        padding-top: 10px;
    }
    .big-margin{
        margin-top: 120px !important
    }
    .btn-centered{
        margin: 0 auto;
        display: block;
        margin-bottom: 5px;
        float: none !important;
    }
    
    #main-nav .container,
    .scrolled #main-nav .container {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .navbar > .container .navbar-brand {
        padding: 12px 0 5px 15px;
    }
    #main-nav .navbar-brand:after {
        display: none !important;
    }
    #site-nav a {
        padding: 10px 30px;
        font-size: 18px;
    }
    #site-nav .active a,
    #site-nav a:hover,
    #site-nav a:focus {
        padding: 10px 30px;
        color: #00CCCB !important;
        background: none;
    }
    #site-nav a .fa {
        display: none;
    }    
    .navbar-toggle {
        display: block
    }    
    .scrolled .navbar-fixed-top #mobnav .navbar-header .profile-info {
        padding: 11px 0;
    }
    .green-nav{
        font-size: 11px;
    }
    .mob-filter-nav .content .col-xs-3{
        padding: 0;
    }
    
    h1, h2, h3, h4, h5, h6, p{
        text-align: center;
    }
    
    h1{
        font-size: 24px;
    }
    
    /*---- buttons ----*/
    
    .form-control, .btn-lg{
        font-size: 14px;
    }
    
    /*---- info-bar ----*/
    
    #info-bar{
        text-align: center;
    }
    
    .footer button{
        margin: 0 auto;
        display: block;
        float: none;
        width: 100%;
        margin-bottom: 10px;
        }
    .footer button .fa {
        float: none;
    }
    .footer img {
        margin-top: -58px;
        float: left;
        max-width: 95px;
        margin-bottom: 10px;
    }
    .footer ul li{
        float: left;
        font-size: 11px;
    }
    .footer ul li a {
        padding: 6px 12px;
        color: #fff;
        font-size: 12px;
    }
    .bg-color-light-gray h3{
        font-size: 22px;
    }
    #credits .purchase-credit-form p {
        font-size: 12px;
    }
    
    /********Trainer-detail*********/
   
    #trainer-detail .col-sm-12 .col-sm-4 img{
        max-width: 150px;
        margin-bottom: 0;
    }
    #trainer-detail h3 {
        margin-bottom: 5px;
        margin-top: 15px;
        font-size: 25px;
        text-align: center;
    }
    #trainer-detail p {
        font-size: 13px;
        margin: 0;
    }
    .chart-section p, .chart-section h3{
        text-align: left !important;
    }
    /***************** Trianer-clients-details *******************/
        
    #sub-header h3{
        text-align: left;
        float: left;
        width: 100%;
        font-size: 20px;
    }
    #sub-header p{
        text-align: left;        
        font-size: 14px;
    }
    #sub-header .test-action a{
        float:left;
    }
    #sub-header .test-action.second a{
        float:right;
    }
    #week-challenge h3{
        margin-bottom: 30px;
        font-size: 18px;
        line-height: 1.4;
    }
    #week-challenge p span{
       color: #929aa5;
        font-size: 14px;
    }    
    .poor {
        width: 98.6%;
        margin-left: 5px;
    }
    .test-report-header {
        min-height: auto;
        font-size: 14px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        display: table;
        width: 100%;
        height: 100%;
        padding: 20px 0;
    }
    .test-report-header p {
        float: left;
        border-right: 1px solid #e0e3eb;
        text-align: center;
        width: 50%;
        height: 50px;
        padding: 13px;
        margin: 0;
    }
    .test-report-header h3 {
        float: right;
        width: 50%;
        height: 100%;
        display: table-cell;
        vertical-align: middle;
        margin: 0;
        padding: 10px;
    }
    .test-report-body {
        min-height: 0px;
        font-size: 13px;
    }   
    .rotate{
            margin-top: 185px;
    }
    .summary-header {
        border-bottom: none;
        float: left;
        width: 50%;
        margin: 15px -15px;
        border-right: 1px solid #e9ebf0;
    }
    .summary-body {
        float: right;
        width: 42%;
        padding: 36px 0;
    }
    .col-xs-1.hide{
        display: block !important;
    }
    #summary-result .border-bottom {
        border-bottom: 1px solid #e9ebf0;
    }
    /******* Shopping-List******/
    .col-xs-6.settings {
        font-size: 12px;
        padding: 0 0 0 10px;
    }
    #shopping-list h2.margin-top-200{
        font-size: 20px;
    }
    #shopping-list h2 + p {
        font-size: 14px;
    }
    
    /******* Login******/
    span.signIN + span {
        float: left;
        margin-top: 3px;
        margin-left: -1px;
    }
    .form-group .btn span.signIN {
        float: left;
        padding: 6px;
        margin-top: 1px;
        margin-left: 6px;
        font-size: 11px;
    } 
    /******* Login******/
    #your-tests p {
        font-size: 13px;
        margin: 0;
    }    
    .Pie-Chart {
        height: 100px !important;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #overview #dashboard img{
        max-width: 125px;
    }
    .modal-dialog-center { 
        width: 100%;
      }
    .modal-body h3 {
        margin: 0 0 15px 0;
        font-size: 18px;
        text-align: left;
    }
    .modal-body p {
        font-size: 12px;
        text-align: left;
    }
}
@media (min-width:768px) {
    .signup #main-nav .container {
        padding-top: 27px !important;
    }    
}
@media (max-width:546px) {
    .poor {
        width: 98%;
        margin-left: 5px;
    }    
    
}
@media (min-width:374px) and (max-width:546px){
    .form-group .btn span.signIN {
        float: left;
        padding: 6px;
        margin-top: -5px;
        margin-left: 6px;
        font-size: 11px;
        width: 56%;
        text-align: left;
    }
    span.signIN + span {
        float: left;
        margin-top: -9px;
        margin-left: 12px;
    }
}
@media (max-width:480px){
    .mob-filter-nav .week-filter>li {
        padding: 16px 5px;
    }
    #trainer-detail .col-xs-5 ul li,#your-tests .col-xs-5 ul li {
        padding: 0 3px;
    }
    .trainer-dashboard-body img {
        max-width: 130px;
        margin-top: 25px;
    }
    /**********Trainer-client-details************/
    #sub-header p{
        text-align: left;        
        font-size: 11px;
    }
    .poor {
        width: 97%;
        margin-left: 5px;
    }  
    .rotate{
        margin-top: 240px;
    }
    .test-report-header p {
        font-size: 12px;
    }
    .test-report-header h3 {
        margin-top: 5px;
    }
    .premium p span{
        font-size: 10px;
        right: 4px;
        width: 60px;
    }
    .test-report-header {
        height: 0;
        min-height:20px;
    }
    .banner-blue p{
      padding: 0 15px;
   }
    /******** Shopping-list********/
    .week-panelbar ul li {
        margin: 0 10px;
    }
    #shopping-list .col-xs-6 li ul li {
        padding-left: 14px;
    }
    .weeks-settings {
        width: 54px;
        font-size: 12px;
        padding: 0px 4px;
    }
    .witdh-83 {
        width: 67px;
    }
}
@media (max-width:373px){
    .logo-circle i {
        font-size: 13px;
        padding: 7px 10px !important;
        color: #3c5a8c;
    }
    span.signIN + span {
        float: left;
        margin-top: -17px;
        margin-left: 30px;
    }
    .form-group .btn span.signIN {
        float: left;
        padding: 6px;
        margin-top: -35px;
        margin-left: 26px;
        font-size: 10px;
    }
    .living-logo img {
        max-width: 95px;
        margin-bottom: 10px;
    }
    .living-logo img + p{
        font-size: 14px;
    }
}
@media (max-width:361px){
    .week-panelbar ul li {
        margin: 0 8px;
    }
    .witdh-83 {
        margin-right: 0 !important;
    }
}
@media (max-width:329px){
    .week-panelbar ul li {
        margin: 0 6px;
    }
}