/*-------------------
---- Main Styles ----
---------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #6c4695;
}
.litetest .checkbox {
    min-width: 85px;
    margin: 0;
    font-size: 12px;
}
.litetest input[type="checkbox"]{
    margin-left: -25px;
    margin-top: 0;
    width: 16px;
    height: 16px;
}
.litetest a:focus,
.litetest button:focus {
    outline: none !important;
}
.litetest a {    
    color: #47b69b;
    cursor: pointer !important;
    -webkit-transition: color .15s ease-out;
    transition: color .15s ease-out;
}
.litetest a:hover,
.litetest a:focus {
    text-decoration: none;
}
.litetest .no-padding{
    padding: 0 !important
}
.litetest .no-margin-left{
    margin-left: 0 !important;
}
.litetest .vertical-center {
    display: table-cell;
    vertical-align: middle;
}
.litetest label {
    margin-right: 10px;
    margin-bottom: 0;
}
.litetest label.bullet {
    padding-left: 24px;
    margin: 0;
}
.litetest label.bullet:before {
    content: "";
    width: 5px;
    position: absolute;
    height: 5px;
    background-color: #d3d7e2;
    left: 24px;
    top: 10px;
    border-radius: 50%;
}
.litetest hr {
    margin: 0;
}
.litetest .form-group{
    display: inline-block;
    width: 100%;
}
.litetest h4 .hlp-required {
    padding: 5px 9px;
    margin: 0 5px 0 0;
}
.litetest .hlp-required {
    padding: 3px 9px;
    display: inline-block;
    background-color: #47b69b;
    width: 24px;
    height: 24px;
    font-size: 12px;
    font-family: Gotham-Light;
    color: #fff;
    border-radius: 50%;
    margin: 5px 0 0 12px;
    font-style: normal;
}
.litetest .bootstrap-select .dropdown-toggle:focus{
    outline: 0 !important;
    outline: 0 !important;
    outline-offset: 0;
    border: 1px solid #47b69b !important;
    color: #686a6c;
}

.litetest .border-round{
    border-radius: 3px 
}

.litetest .t--20{
    top: -20px;
}

.litetest .t-20{
    top: 20px;
}

/*-------------------
---- Font faces ----
---------------------*/

@font-face {
    font-family: Gotham-Book;
    src: url('../fonts/Gotham-Book.otf') format("opentype");
}
@font-face {
    font-family: Gotham-Light;
    src: url("../fonts/Gotham-Light.otf") format("opentype");
}
@font-face {
    font-family: Gotham-Medium;
    src: url("../fonts/Gotham-Medium.otf") format("opentype");
}
@font-face {
    font-family: CenturySchoolbook;
    src: url('../fonts/CenturySchoolbook.otf') format("opentype");
    src: url('../fonts/CenturySchoolbook.ttf') format("opentype");
}

/*-------------------
---- columns ----
---------------------*/
    
    .litetest .col-xs-5ths,
    .litetest .col-sm-5ths,
    .litetest .col-md-5ths,
    .litetest .col-lg-5ths {
       position: relative;
       min-height: 1px;
       padding-right: 5px;
       padding-left: 5px;
    }

    .litetest .col-xs-5ths {
       width: 20%;
       float: left;
    }

    @media (min-width: 768px) {
       .litetest .col-sm-5ths {
           width: 20%;
           float: left;
       }
    }

    @media (min-width: 992px) {
       .litetest .col-md-5ths {
           width: 20%;
           float: left;
       }
    }

    @media (min-width: 1200px) {
       .litetest .col-lg-5ths {
           width: 20%;
           float: left;
       }
    }

/*-------------------
---- margins ----
---------------------*/
.litetest .margin-top-140{
    margin-top: 140px !important;
} 

.litetest .margin-top-160{
    margin-top: 140px !important;
} 

.litetest .margin-top-180{
    margin-top: 180px !important;
} 

.litetest .small-margin{
    margin-top: 140px !important;
}

.litetest .big-margin{
    margin-top: 180px !important;
}
.litetest .margin-top-30{
    margin-top: 30px !important;
}
.litetest .margin-top-10{
    margin-top: 10px !important;
}
.litetest .margin-top-60{
    margin-top: 60px !important;
}
.litetest .margin-top-200{
    margin-top: 200px;
}
.litetest .m-t-xs {
    margin-top: 10px;
}

.litetest .m-t-sm {
    margin-top: 20px;
}

.litetest .m-t-ms {
    margin-top: 30px;
}

.litetest .m-t-ls {
    margin-top: 60px;
}
.litetest .m-t-xl{
    margin-top: 80px;
}
.litetest .m-t-xxl{
    margin-top: 150px;
}

/*-------------------
---- paddings ----
---------------------*/
.litetest .small-padding{
    padding: 20px !important;
    margin-bottom: 20px;
}

.litetest .big-padding{
    padding: 30px !important;
}

.litetest .vertical-padding{
    padding-top:60px;
    padding-bottom:60px;
}

/*---------------
---- colors ----
-----------------*/

.litetest .main-color{
    color: #47b69b !important
}

.litetest .bg-color-light-gray{
    background-color: #f0f2f5 !important;
}
.litetest .bg-color-light-gray .form-control{
    background-color: #fff !important;
}
.litetest .bg-color-light-gray > span{
    cursor: pointer;
    font-size: 21px;
    color: #8d9093;
}
.litetest .bg-color-light-gray .btn,
.litetest .bg-color-light-gray .btn:active {
    background: #fff;
    border-color: transparent;
    color: #282b2f;
}
.litetest .bg-color-light-gray .btn:hover,
.litetest .bg-color-light-gray .btn:focus {
    background-color: transparent;    
    border-color: #47b69b;
    color: #282b2f;
}
.litetest .bg-green{
    background: #47b69b !important;
    color: #fff !important
}
.litetest .yellow{
    border-left-color: #ffce57 !important;
}
.litetest .sky-blue{
    border-left-color: #6dcff6 !important;
}
.litetest .purple{
    border-left-color: #9a71c7 !important;
}

/*---------------
---- Buttons ----
-----------------*/

.litetest .btn:active {
    background-color: #47b69b;
    border-color: #47b69b;
    color: #fff;
}
.litetest .btn:hover {
    background-color: #1c9376;
    border-color: #1c9376;
    color: #fff;
}
.litetest .btn, .btn:focus {
    background-color: #47b69b;
    border-color: #47b69b;
    color: #fff;
    border-radius: 3px;
    padding: 6px 12px;
}
.litetest .btn-lg{
    padding: 8px 20px !important;
    width: 100%;
    text-align: left;
    border-radius: 3px;
    font-size: 16px;
}
.litetest .btn:not(.dropdown-toggle) .fa{
    float: right;
    padding-top: 3px;
    padding-left: 10px
}
.litetest .btn-white{
    background-color: #fff !important;
    border-color: #dce0e6 !important;
    color: #808183 !important;
    margin-bottom: 5px;
    text-align: center;
}
.litetest .btn-white:hover, .btn-white:focus {
    border-color: #47b69b !important;
    color: #808183 !important;
}
.litetest .btn.disabled, 
.litetest .btn[disabled], 
.litetest fieldset[disabled] .btn {
    background-color: #f0f2f5;
    border-color: #f0f2f5;
}

/*---------------
---- Form controls ----
-----------------*/

.litetest .form-control{
    padding: 8px 12px;
    font-size: 12px;
    color: #282b2f;
    background-color: #f0f2f5;
    border-radius: 5px;
    border: 1px solid #f0f2f5;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 3px;
}
.litetest .form-control:focus {
    border: 1px solid #47b69b !important;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 3px;
}
.litetest .form-control.lg{
    padding: 20px;
    font-size: 16px
}

/*---------------
---- input group ----
-----------------*/

.litetest .input-group{
    margin-bottom: 10px;
}

/*-----------------------
---- Preloader Styles ----
-------------------------*/

.litetest #page-loader {
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 99999;
}
.litetest #page-loader .page-loader-gif {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -32px 0 0 -20px;
    background: url('../images/preloader.gif') no-repeat;
}



/*---------------------
---- Hlp Icons  ----
-----------------------*/

.litetest .icon {
    width: 24px;
    height: 24px;
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
}
.litetest .icon-filter{
    background-image: url(../images/icon-filter.png);    
}
.litetest .icon-print{
    background-image: url(../images/icon-print.png);
}
.litetest .icon-email{
    background-image: url(../images/icon-email.png);
}
.litetest .icon-cart{
    background-image: url(../images/icon-cart.png);
}

/*---------------------
---- Hlp on/off button  ----
-----------------------*/

.litetest .toggle.ios, 
.litetest .toggle-on.ios, 
.litetest .toggle-off.ios { border-radius: 20px; }
.litetest .toggle.btn {
    min-height: 32px !important;
    height: 32px !important;
    border: none;
    min-width: 75px;
    background-color: transparent;
}
.litetest .toggle.btn * {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.litetest .toggle-handle {
    position: relative;
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 32px;
    height: 28px;
    width: 28px;
    background-color: #47b69b;
    border-width: 0;
    border-radius: 50%;
    margin-top: 2px;
}
.litetest .toggle.off .toggle-group>.toggle-handle {
    margin-right: 0;
    margin-left: 32px;
}
.litetest .toggle-on.btn, 
.litetest .toggle-on.btn:hover, 
.litetest .toggle-on.btn:focus {
    padding-right: 34px;
    font-family: Gotham-Light;
    font-size: 12px;
    color: #282b2f;
    background-color: #f3f4f8 !important;
    padding-top: 7px;
    padding-left: 5px;
}
.litetest .toggle-off.btn, 
.litetest .toggle-off.btn:hover, 
.litetest .toggle-off.btn:focus {
    padding-top: 7px;
    padding-left: 34px;
    font-family: Gotham-Light;
    font-size: 12px;
    color: #282b2f;
    background-color: #f3f4f8 !important;
}
.litetest .toggle-handle:hover {
    background-color: #47b69b !important;
}
.litetest .toggle-on:active, 
.litetest .toggle-on:hover, 
.litetest .toggle-on:focus{
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

/*---------------------
---- Desktop Filter  ----
-----------------------*/

.litetest .l-filter-nav{
    display: none;
     background: -webkit-linear-gradient(left, #ffffff 50%,#f2f3f6 50%);
    background: -moz-linear-gradient(left, #ffffff 50%,#f2f3f6 50%);
    background: linear-gradient(left, #ffffff 50%,#f2f3f6 50%);
    width: 100%;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    color: #282b2f;
    font-family: Gotham-Light !important;
    font-size: 12px;
    text-transform: capitalize;
}
.litetest .l-filter-nav a{
    color: #282b2f;
    padding: 8px 20px;
    float: left;
    display: block;
}
.litetest .l-filter-nav a:hover{
    color: #47b69b;
}
.litetest .l-filter-nav .filter-label{
    font-family: Gotham-Medium;
    float: left;
    margin-right: 15px;
}
.litetest .scrolled .l-filter-nav{   
    display: inline-block;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.litetest .l-filter-nav .col-l{
    padding: 15px 15px 0;
}
.litetest .checkbox{
    float: left;
}
.litetest .checkbox + .checkbox{
    margin: 0 !important
}
.litetest .l-filter-nav .col-c{
    text-align: center;
    padding: 8px;
    background: #ffffff;
    border-left: 1px solid #e5e7ee;
    border-right: 1px solid #e5e7ee;
}
.litetest .l-filter-nav .col-r{
    padding: 7px;
    background-color: #f2f3f6;
}

.litetest .form-group .btn span {
    float: left;
}
.litetest .form-group .btn span.signIN {
    float: left;
    padding: 6px;
}
.litetest span.signIN + span{
    float: left;
    margin-top: 6px;
}
.litetest .logo-circle{
    background: #fff;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    text-align: center;
}
.litetest .logo-circle i{
    font-size: 20px;
    padding: 7px 12px !important;
    color: #3c5a8c;
}
.litetest .logo-circle i.fa-google-plus{
    padding: 7px 8px !important;
}


.litetest .hlp-input-group .input-group-addon{
    background: #f0f2f5; 
    border: none;
    border-radius: 3px;
}
.litetest .hlp-input-group button{
    border:0;
    background:#f0f2f5;
    color: #47b69b;
}

/*---------------------
---- Info-bar Styles ----
-----------------------*/

.litetest #info-bar {
    border-bottom: 1px solid #e9ebf0;
    padding: 35px 0 15px;
}
.litetest #info-bar h1 {
    font-family: Gotham-Light;
    float: left;
    font-size: 22px;
    margin: 0;
    width: 100%
} 
.litetest #info-bar .date{
    color: #553c83;
}
.litetest #info-bar p{
    margin: 0;
    font-size: 12px;
}

/*---------------------
---- breadcrumb Styles ----
-----------------------*/
.litetest #breadcrumb {
    background-color: #fff;
    display: inline-block;
    border-radius: 5px;
    padding: 17px 0 10px 0;
}
.litetest #breadcrumb p {
    margin-top: 6px;
    padding: 0;
    font-family: Gotham-Medium;
}
.litetest #breadcrumb .input-group hlp-input-group pull-right{
    margin-bottom: 0;
}

/*------------------------
---- Form wizard ----
-------------------------*/

.litetest #form-wizard{
    padding: 35px 0
}


.litetest .close-btn{
    cursor: pointer;
    font-size: 21px;
    color: #8d9093;
}
/*-------------------
---- paddings ----
---------------------*/
.litetest .blog-sub-head {
    font-family: Gotham-Light;
    color: #aaabac;
}
.litetest .blog-text {
    padding-left: 12px;
    padding-right: 12px;
    font-size: 16px;
}

.litetest .blog-hr {
    border: 1px solid #f2f3f6;
}

.litetest .right-slide {
    padding-left: 30px;
    padding-top: 20px;
}

.litetest .right-slide h4 {
    font-family: Gotham Medium;
}

.litetest .right-slide img {
    border-radius: 5px;
}

/*---------------------
---- Trainer-detail Styles ----
-----------------------*/
.litetest #trainer-detail{
    margin-top: 30px;
}
.litetest #trainer-detail .col-md-5 h3{
    margin-bottom: 5px;
    margin-top: 10%;
}
.litetest .label-round{
    border: 1px solid #d4dbe5;
    border-radius: 20px;
    float: right;
    margin-top: 15px;
    padding: 5px 10px;
}
 .litetest .test-history-header h3{
    float: left;
    margin-bottom: 25px;
}
.litetest #trainer-detail p{
    font-size: 14px;
    margin: 0 0 5px;
}
.litetest .test-history{
    padding: 20px 0;
    display: inline-block;
    width: 100%;
    border-radius: 5px;
}
.litetest #trainer-detail .col-xs-5 ul{
    list-style: none;
    padding: 0;
    float: right;
}
.litetest #trainer-detail .col-xs-5 ul li{
    float: left;
    padding: 0 7px;
    margin-top: -3px;
}
.litetest .test-history .history p{
    font-size: 12px !important;
    margin: 0 !important;
}
.litetest .test-history .history hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #dfe3e9;
    margin: 1em 0;
    padding: 0;
}
.litetest .chart-section{
    margin-bottom:  30px;
    margin-top: 15px;
}


.litetest .circle-arrow {
    padding: 5px 13px;
    background: #fff;
    border-radius: 50%;
    color: #47b69b;
    display: inline-block;
    border: 2px solid #47b69b;
}
.litetest .circle-arrow .fa-chevron-left, 
.litetest .circle-arrow .fa-chevron-right{
    margin-top: 5px;
}

 .litetest .checkbox-container{
    float: left;
    display: block;
}


.litetest .success{
    background: #86b648 !important;
}
.litetest .warning{
    background: #ed1c24 !important;
}
.litetest .default{
    background: #d3d7e2;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    padding: 31px 41px;
    font-size: 26px;
    color: #fff;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
}

.litetest #test-info {
    border-bottom: 1px solid #e9ebf0;
    padding: 35px 0 15px;
}

.litetest #test-info h1 {
    font-family: Gotham-Light;
    float: left;
    font-size: 22px;
    margin: 0;
    width: 100%
}

.litetest #test-info .date {
    color: #553c83;
}

.litetest #test-info p {
    color: black;
    font-size: 12px;
}

.litetest .form-label {
    padding-left: 30px;
}

.litetest .live-test .border-bottom {
    width: 100% !important
}
.litetest .modal-header {
    border: none !important;
}
.litetest .modal-body .hlp-required{
    margin-top: 1px;
}
.litetest .modal-body h3{
    padding-left:50px;
    margin:0;
}
.litetest .large-width .modal-dialog {
    width:80%;
}

.litetest .small-width .modal-dialog {
    width:30%;
}

.litetest .medium-width .modal-dialog {
    width:50%;
}

.litetest .large-width .modal-body {
    min-height: 408px;
}

.litetest .medium-width .modal-body {
    min-height: 368px;
}
.litetest .modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: 1;
    background: #666666;
}
.litetest .modal-body p{
    padding: 10px 15px;
    margin: 0;
}
.litetest .thanks  {
    text-align: center;
}
.litetest .thanks p{
    color: #282b2f;
    margin-top: 20px;
}

/*------------------------
---Scrolling animations---
-------------------------*/

.litetest .scrollimation.fade-in {
    opacity: 0;
    -webkit-transition: opacity 1.2s ease-out;
    transition: opacity 1.2s ease-out;
}
.litetest .scrollimation.fade-in.in {
    opacity: 1;
}
.litetest .scrollimation.scale-in {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transition: -webkit-transform .6s cubic-bezier(.17, .89, .67, 1.57), opacity .6s ease-out;
    transition: transform .6s cubic-bezier(.17, .89, .67, 1.57), opacity .6s ease-out;
}
.litetest .scrollimation.scale-in.in {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.litetest .scrollimation.fade-right {
    opacity: 0;
    -webkit-transform: translateX(-60px);
    -moz-transform: translateX(-60px);
    -ms-transform: translateX(-60px);
    transform: translateX(-60px);
    -webkit-transition: -webkit-transform 1.2s ease-out, opacity 1.2s ease-out;
    transition: transform 1.2s ease-out, opacity 1.2s ease-out;
}
.litetest .scrollimation.fade-right.in {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
}
.litetest .scrollimation.fade-left {
    opacity: 0;
    -webkit-transform: translateX(60px);
    -moz-transform: translateX(60px);
    -ms-transform: translateX(60px);
    transform: translateX(60px);
    -webkit-transition: -webkit-transform 1.2s ease-out, opacity 1.2s ease-out;
    transition: transform 1.2s ease-out, opacity 1.2s ease-out;
}
.litetest .scrollimation.fade-left.in {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
}
.litetest .scrollimation.fade-up {
    opacity: 0;
    -webkit-transform: translateY(60px);
    -moz-transform: translateY(60px);
    -ms-transform: translateY(60px);
    transform: translateY(60px);
    -webkit-transition: -webkit-transform 1.2s ease-out, opacity 1.2s ease-in;
    transition: transform 1.2s ease-out, opacity 1.2s ease-in-out;
}
.litetest .scrollimation.fade-up.in {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}
.litetest .scrollimation.fade-down {
    opacity: 0;
    -webkit-transform: translateY(-60px);
    -moz-transform: translateY(-60px);
    -ms-transform: translateY(-60px);
    transform: translateY(-60px);
    -webkit-transition: -webkit-transform 1.2s ease-out, opacity 1.2s ease-in;
    transition: transform 1.2s ease-out, opacity 1.2s ease-in-out;
}
.litetest .scrollimation.fade-down.in {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}
.litetest .scrollimation.d1 {
    transition-delay: .3s;
}
.litetest .scrollimation.d2 {
    transition-delay: .6s;
}
.litetest .scrollimation.d3 {
    transition-delay: .9s;
}
.litetest .scrollimation.d4 {
    transition-delay: 1.2s;
}
.litetest .touch .scrollimation.fade-in {
    opacity: 1;
}
.litetest .touch .scrollimation.scale-in {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.litetest .touch .scrollimation.fade-right {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
}
.litetest .touch .scrollimation.fade-left {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
}
.litetest .touch .scrollimation.fade-up {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}
.litetest .touch .scrollimation.fade-down {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}

/*----------------------
---- Media Queries  ----
------------------------*/

@media (min-width:1500px) {
    .litetest .container {
        width: 1500px;
    }
}
@media (max-width:1499px) {
    
}
@media (min-width:992px) and (max-width:1199px) {
    .litetest #site-nav a {
        padding: 0 11px 0 0;
    }
    .litetest #site-nav .right-content ul li a {
        padding: 0 0 0 11px;
    }
    .litetest .poor {
        width: 19%;
        margin-left: 5px;
    }
    .litetest .test-report-header {
        min-height: 168px;
    }
    .litetest .test-report-body {
        min-height: 550px;
    }
}
@media (min-width:992px) {
    .litetest #mobnav {
        display: none !important;
        visibility: hidden !important;
    }
    .litetest .green-nav{
         display: none !important;
        visibility: hidden !important;
    }
    .litetest .mob-filter-nav{
         display: none !important;
        visibility: hidden !important;
    }
    .litetest .checkbox {
        min-width: 55px;
    }
    .litetest #header {
        margin-top: 130px;
    }
    .litetest .scrolled #header {
        margin-top: 110px;
    }
    .litetest #header h1 {
        float: left;
        margin: 45px 15px;
    }
    
    .litetest #header img{
        max-width: 400px;
    }
    .litetest #info-bar .left{
        text-align: left;
    }
    .litetest #info-bar .right{
        text-align: right;
        margin-top: 7px;
    }
}
@media (max-width:1199px) {
    .litetest .push-down {
        margin-top: 60px;
    }
    .litetest #home .container {
        padding-top: 100px;
    }
    .litetest #home .row {
        top: 15%;
    }
    .litetest #home .header-img {
        width: 800px;
        margin-left: -400px;
    }
    .litetest .service-item {
        padding: 0 15px;
    }
    .litetest .skills .plus-symbol:after,
    .litetest .skills .equal-symbol:after {
        right: -32px;
    }
    
    .litetest #main-content.m-t-ls{
        margin-top: 0
    }
}
@media (max-width:991px) {
    .litetest .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }    
    .litetest #main-nav .container,
    .litetest .scrolled #main-nav .container {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .litetest #main-nav,
    .litetest .scrolled #main-nav {
        background: #2c2336;
    }
    .litetest .navbar > .container .navbar-brand {
        padding: 12px 0 5px 15px;
    }
    .litetest #main-nav .navbar-brand:after {
        display: none !important;
    }
    .litetest #site-nav a {
        padding: 10px 30px;
        font-size: 18px;
    }
    .litetest #site-nav .active a,
    .litetest #site-nav a:hover,
    .litetest #site-nav a:focus {
        padding: 10px 30px;
        color: #00CCCB !important;
        background: none;
    }
    .litetest .navbar-header {
        float: none;
    }
    .litetest .navbar-toggle {
        display: block;
    }    
    .litetest .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .litetest .navbar-nav {
        float: none!important;
        margin: 0;
        padding: 15px 0;
        font-family: Gotham-Book;
        font-size: 12px;
    }
    .litetest .navbar-nav>li {
        float: none;
    }
    .litetest .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
    }
    .litetest .navbar-collapse {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    .litetest .navbar-collapse.in{
        overflow-y: hidden !important
    }
    .litetest #site-nav {
        display: none !important;
        visibility: hidden !important;
    }
    .litetest #mobnav {
        padding-left: 15px;
        padding-right: 15px;
    }
    .litetest #mobnav .navbar-collapse.collapse {
        display: none !important;
        visibility: hidden!important;
    }
    .litetest #mobnav .collapse.in {
        display: block !important;
        visibility: visible !important;
    }
    .litetest .navbar-fixed-top .container #mobnav .navbar-header .navbar-toggle {
        padding: 28px 0;
        -webkit-transition: all .3s ease-out;
        transition: all .3s ease-out;
        margin: 0;
    }
    .litetest .scrolled .navbar .container #mobnav .navbar-header .navbar-toggle {
        padding: 16px 0;
        -webkit-transition: all .3s ease-out;
        transition: all .3s ease-out;
        margin: 0;
    }
    .litetest .navbar-fixed-top #mobnav .navbar-header .profile-info {        
        padding: 23px 0
    }    
    .litetest .profile-info span {
        padding: 4px 5px 0 0;
        display: inline-block;
    }    
    .litetest .scrolled #mobnav .navbar-header .profile-info {
        padding: 11px 0;
    }    
    .litetest #main-nav {
        height: 75px;
    }    
     .litetest #header {
        margin-top: 280px;
    }
    .litetest .scrolled #header {
        margin-top: 246px;
    }
    .litetest #header img{
        margin-bottom: 20px;
        margin: 0 auto;
    }
    
    /*******Credits*******/
    
    .litetest #credits .table > tbody > tr > td, 
    .litetest .table > tfoot > tr > td {
        font-size: 11px;
        padding: 6px 10px;
    }
    .litetest #credits .table > thead > tr > th, 
    .litetest .table > tbody > tr > th, 
    .litetest .table > tfoot > tr > th, 
    .litetest .table > thead > tr > td, 
    .litetest .table > tbody > tr >       td, 
    .litetest .table > tfoot > tr > td {
        padding: 6px 10px;
        font-size: 14px;
    }
    .litetest #credits .pad{
        padding: 0px 7px;
    }
    .litetest #credits .tr-min-height{
        height: 70px;
    }
    
}
@media (max-width:767px) {
    .litetest .pad-adjustment
    {
        padding-left: 0 !important;
        padding-top: 10px;
    }
    .litetest .big-margin{
        margin-top: 120px !important
    }
    .litetest .btn-centered{
        margin: 0 auto;
        display: block;
        margin-bottom: 5px;
        float: none !important;
    }
    
    .litetest #main-nav .container,
    .litetest .scrolled #main-nav .container {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .litetest .navbar > .container .navbar-brand {
        padding: 12px 0 5px 15px;
    }
    .litetest #main-nav .navbar-brand:after {
        display: none !important;
    }
    .litetest #site-nav a {
        padding: 10px 30px;
        font-size: 18px;
    }
    .litetest #site-nav .active a,
    .litetest #site-nav a:hover,
    .litetest #site-nav a:focus {
        padding: 10px 30px;
        color: #00CCCB !important;
        background: none;
    }
    .litetest #site-nav a .fa {
        display: none;
    }    
    .litetest .navbar-toggle {
        display: block
    }    
    .litetest .scrolled .navbar-fixed-top #mobnav .navbar-header .profile-info {
        padding: 11px 0;
    }
    .litetest .green-nav{
        font-size: 11px;
    }
    .litetest .mob-filter-nav .content .col-xs-3{
        padding: 0;
    }
    
    .litetest h1, 
    .litetest h2, 
    .litetest h3, 
    .litetest h4, 
    .litetest h5, 
    .litetest h6, 
    .litetest p{
        text-align: center;
    }
    
    .litetest h1{
        font-size: 24px;
    }
    
    /*---- buttons ----*/
    
    .litetest .form-control, 
    .litetest .btn-lg{
        font-size: 14px;
    }
    
    /*---- info-bar ----*/
    
    .litetest #info-bar{
        text-align: center;
    }
    
    .litetest .footer button{
        margin: 0 auto;
        display: block;
        float: none;
        width: 100%;
        margin-bottom: 10px;
        }
    .litetest .footer button .fa {
        float: none;
    }
    .litetest .footer img {
        margin-top: -58px;
        float: left;
        max-width: 95px;
        margin-bottom: 10px;
    }
    .litetest .footer ul li{
        float: left;
        font-size: 11px;
    }
    .litetest .footer ul li a {
        padding: 6px 12px;
        color: #fff;
        font-size: 12px;
    }
    .litetest .bg-color-light-gray h3{
        font-size: 22px;
    }
    .litetest #credits .purchase-credit-form p {
        font-size: 12px;
    }
    
    
    .litetest #your-tests p {
        font-size: 13px;
        margin: 0;
    }    
    .litetest .Pie-Chart {
        height: 100px !important;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .litetest #overview #dashboard img{
        max-width: 125px;
    }
    .litetest .modal-dialog-center { 
        width: 100%;
      }
    .litetest .modal-body h3 {
        margin: 0 0 15px 0;
        font-size: 18px;
        text-align: left;
    }
    .litetest .modal-body p {
        font-size: 12px;
        text-align: left;
    }
}
@media (min-width:768px) {
    .litetest .signup #main-nav .container {
        padding-top: 27px !important;
    }    
}
@media (max-width:546px) {
    .litetest .poor {
        width: 98%;
        margin-left: 5px;
    }    
    
}
@media (min-width:374px) and (max-width:546px){
    .litetest .form-group .btn span.signIN {
        float: left;
        padding: 6px;
        margin-top: -5px;
        margin-left: 6px;
        font-size: 11px;
        width: 56%;
        text-align: left;
    }
    .litetest span.signIN + span {
        float: left;
        margin-top: -9px;
        margin-left: 12px;
    }
}
@media (max-width:480px){
    .litetest .mob-filter-nav .week-filter>li {
        padding: 16px 5px;
    }
    .litetest #trainer-detail .col-xs-5 ul li,
    .litetest #your-tests .col-xs-5 ul li {
        padding: 0 3px;
    }
    .litetest .trainer-dashboard-body img {
        max-width: 130px;
        margin-top: 25px;
    }
    
}
@media (max-width:373px){
    .litetest .logo-circle i {
        font-size: 13px;
        padding: 7px 10px !important;
        color: #3c5a8c;
    }
    .litetest span.signIN + span {
        float: left;
        margin-top: -17px;
        margin-left: 30px;
    }
    .litetest .form-group .btn span.signIN {
        float: left;
        padding: 6px;
        margin-top: -35px;
        margin-left: 26px;
        font-size: 10px;
    }
    .litetest .living-logo img {
        max-width: 95px;
        margin-bottom: 10px;
    }
    .litetest .living-logo img + p{
        font-size: 14px;
    }
}
@media (max-width:361px){
    .litetest .week-panelbar ul li {
        margin: 0 8px;
    }
    .litetest .witdh-83 {
        margin-right: 0 !important;
    }
}
@media (max-width:329px){
    .litetest .week-panelbar ul li {
        margin: 0 6px;
    }
}