{% extends "::head_office_layout.html.twig" %}

{% block title %}Club{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('resources') }}/jquery-datatables/DataTables-1.10.9/media/css/jquery.dataTables.css">
    <link rel="stylesheet" href="{{ asset('css') }}/jquery-datatable-custom.css">
    <link rel="stylesheet" href="{{ asset('css') }}/head-office/clubs.css">
{% endblock %}

{% block body %}

<div class="header-two-columns">
    <div class="col-1">
        <h2>CLUBS</h2>
    </div>
    <div class="col-2 text-right">
        <a class="btn btn-primary" href="{{ path('acme_head_office_club_add_edit', {'slug': 'new'}) }}"> + add club</a>
    </div>
</div>
    
<form class="report-from" action="#">
        <div class="row">
                <div class="col">
                        <label>From</label>
                        <div class="box-frame">
                                <div class="select-holder">
                                        <div class="add-select1 add-select2">
                                            <select name="dtFrDay">
                                                {% for i in 1..31 %}
                                                    <option value="{{ i }}" {% if filter_daterange['from']['day'] == i %}selected{% endif %}>{{ "%02d"|format(i) }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="add-select1">
                                            <select name="dtFrMonth">
                                                <option value="01" {% if filter_daterange['from']['month'] == "01" %}selected{% endif %}>Jan</option>
                                                <option value="02" {% if filter_daterange['from']['month'] == "02" %}selected{% endif %}>Feb</option>
                                                <option value="03" {% if filter_daterange['from']['month'] == "03" %}selected{% endif %}>Mar</option>
                                                <option value="04" {% if filter_daterange['from']['month'] == "04" %}selected{% endif %}>Apr</option>
                                                <option value="05" {% if filter_daterange['from']['month'] == "05" %}selected{% endif %}>May</option>
                                                <option value="06" {% if filter_daterange['from']['month'] == "06" %}selected{% endif %}>Jun</option>
                                                <option value="07" {% if filter_daterange['from']['month'] == "07" %}selected{% endif %}>Jul</option>
                                                <option value="08" {% if filter_daterange['from']['month'] == "08" %}selected{% endif %}>Aug</option>
                                                <option value="09" {% if filter_daterange['from']['month'] == "09" %}selected{% endif %}>Sep</option>
                                                <option value="10" {% if filter_daterange['from']['month'] == "10" %}selected{% endif %}>Oct</option>
                                                <option value="11" {% if filter_daterange['from']['month'] == "11" %}selected{% endif %}>Nov</option>
                                                <option value="12" {% if filter_daterange['from']['month'] == "12" %}selected{% endif %}>Dec</option>
                                            </select>
                                        </div>
                                        <div class="add-select1">
                                            <select name="dtFrYear" >
                                                {% set year1 = 2015 %}
                                                <option value="{{ year1 }}" {% if filter_daterange['from']['year'] == year1 %}selected{% endif %}>{{ year1 }}</option>
                                                {% for i in 0..6 %}
                                                    {% set year = "now"|date_modify("+" ~ i ~" year")|date("Y") %}
                                                    <option value="{{ year }}" {% if filter_daterange['from']['year'] == year %}selected{% endif %}>{{ year }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        
                                </div>
                                
                        </div>
                
                        <label>To</label>
                        <div class="box-frame">
                                <div class="select-holder">
                                        
                                        <div class="add-select1 add-select2">
                                            <select name="dtToDay">
                                                {% for i in 1..31 %}
                                                    <option value="{{ i }}" {% if filter_daterange['to']['day'] == i %}selected{% endif %}>{{ "%02d"|format(i) }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="add-select1">
                                            <select name="dtToMonth">
                                                <option value="01" {% if filter_daterange['to']['month'] == "01" %}selected{% endif %}>Jan</option>
                                                <option value="02" {% if filter_daterange['to']['month'] == "02" %}selected{% endif %}>Feb</option>
                                                <option value="03" {% if filter_daterange['to']['month'] == "03" %}selected{% endif %}>Mar</option>
                                                <option value="04" {% if filter_daterange['to']['month'] == "04" %}selected{% endif %}>Apr</option>
                                                <option value="05" {% if filter_daterange['to']['month'] == "05" %}selected{% endif %}>May</option>
                                                <option value="06" {% if filter_daterange['to']['month'] == "06" %}selected{% endif %}>Jun</option>
                                                <option value="07" {% if filter_daterange['to']['month'] == "07" %}selected{% endif %}>Jul</option>
                                                <option value="08" {% if filter_daterange['to']['month'] == "08" %}selected{% endif %}>Aug</option>
                                                <option value="09" {% if filter_daterange['to']['month'] == "09" %}selected{% endif %}>Sep</option>
                                                <option value="10" {% if filter_daterange['to']['month'] == "10" %}selected{% endif %}>Oct</option>
                                                <option value="11" {% if filter_daterange['to']['month'] == "11" %}selected{% endif %}>Nov</option>
                                                <option value="12" {% if filter_daterange['to']['month'] == "12" %}selected{% endif %}>Dec</option>
                                            </select>
                                        </div>
                                        <div class="add-select1">
                                            <select name="dtToYear">
                                                {% set year1 = "now"|date_modify("-" ~ 1 ~" year")|date("Y") %}
                                                <option value="{{ year1 }}" {% if filter_daterange['to']['year'] == year1 %}selected{% endif %}>{{ year1 }}</option>
                                                {% for i in 0..6 %}
                                                    {% set year = "now"|date_modify("+" ~ i ~" year")|date("Y") %}
                                                    <option value="{{ year }}" {% if filter_daterange['to']['year'] == year %}selected{% endif %}>{{ year }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                </div>
                  
                        </div>
                </div>

               

        </div>
        <input class="btn btn-primary btn-summary-reports" type="submit" value="Query Club">
</form>
<table id="clubs" class="table display">
    <thead>
        <tr>
            <th>Club</th>
            <th>AIA Approved</th>
            <th>Location</th>
            <th>No. of Tests</th>
            <th>Last Login</th>
            <th>Available Credit</th>
            <th>No. of Prospects</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% set row_color = 'odd' %}
        {% for item in clubs %}
            <tr class="{{ row_color }}">
                <td>{{ item.club_name }}</td>
                <td>{% if item.s_aia_approved == 1 %}Yes{% else %}No{% endif %}</td>
                <td>{{ item.address }}</td>
                <td>{{ item.num_of_tests }}</td>
                <td>{{ item.last_login_datetime }}</td>
                <td>{% if item.available_credit != '' %}{{ item.available_credit }}{% else %}0{% endif %}</td>
                <td>{{ item.num_of_prospects }}</td>
                <td>{{ item.status|capitalize }}</td>
                <td>
                    <a href="{{ path('acme_club_login') }}?club={{ item.club_id }}&headoffice={{ app.session.get('email') }}" target="_blank"class="club-login pointer">Login</a> | 
                    <a href="{{ path('acme_head_office_club_add_edit', {'slug': 'edit'}) }}?cid={{ item.club_id }}">Edit</a> |
                    <a href="{{ path('acme_head_office_club_admin') }}?cid={{ item.club_id }}">Users({{ item.club_admins|length }})</a>
                </td>
            </tr>
            {% if row_color == 'odd' %}
                {% set row_color = 'even' %}
            {% else %}
                {% set row_color = 'odd' %}
            {% endif %}
        {% endfor %}
    </tbody>
</table>

<form id="frmClubLogin" action="{{ path('acme_club_login') }}" method="post">
    <input type="hidden" name="headofficelogin">
    <input type="hidden" name="email" class="form-control">
    <input type="hidden" name="password" class="form-control">
</form>

<br><br><br>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('resources') }}/jquery-datatables/DataTables-1.10.9/media/js/jquery.dataTables.js"></script>
    <script src="{{ asset('js') }}/club/clubs.js"></script>
{% endblock %}
