{% extends "::lite_test_layout_new.html.twig" %}

{% block title %}Create Test{% endblock %}

{% block stylesheets %}
<style>
 #map, #right-panel {
        height: 60%;
        border: 1px solid #a1539b;
      }
     #right-panel {
        overflow-y: scroll;
      }
      h2 {
        font-size: 22px;
        margin: 0 0 5px 0;
      }
      .places td{
        padding: 10px;
        color: #fff;
      }
      .places tr{
        background-color: #a1539b;
      }
      .places tr:hover{
        background-color: #bb6db5;
        cursor: pointer;
      }
      #sort{
        background: url(http://www.healthylifeproject.com.au/web/img/maps-marker/white_pin.png) no-repeat;
            color: #a1539b;
            height: 60px;
            padding-left: 14px;
            padding-top: 8px;
            width: 45px;
            font-size: 19px;
            margin-left:25px;
      }
      #kilo{
        padding-left:15px;
        font-size: 20px;
      }
      #club{
        font-size: 28px;  
        text-align: left;
        top:5px;
      }
      .labels {
        color: black;
        background-color: red;
        font-family: "Lucida Grande", "Arial", sans-serif;
        font-size: 10px;
        text-align: center;
        width: 70px;
        white-space: nowrap;
      }
      .right-panel a{
          text-decoration:none;
          color: #fff;
      }
     
</style>
{% endblock %}


{% block specialscripts %}
    
{% endblock %}

{% block body %}
{#<h2>Take the Healthy Life Test</h2>#}
<br><br>
<div class="row ">
    <div class='col-sm-1'></div>
    <div class="col-sm-9">
        {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger test-alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>You've got the following error: </h4>
            <ul>
            {% for item in flashMessage %}
                <li>{{ item.message }}</li>
            {% endfor %}
            </ul>
        </div>
        {% endfor %}

    </div>
</div>
<div class="row ">
    <div class='col-sm-1'></div>
    <div class='col-sm-10' style="color:#a1539b;"><center><h2 style="font-size: 27px;">Find your nearest AIA Vitality accredited assessment location</h2></center></div>
</div><br/>
<div class="row ">
    <div class='col-sm-1'></div>
    <div class='col-sm-10' style="color:#a1539b;"><center><h3 style="font-size: 20px;">enter a postcode or location</h3></center></div>
</div>
<div class="row ">
    <div class='col-sm-1'></div>
    <div class='col-sm-10' style="color:#a1539b;"><center><input type="text" name="search" id="search" style="width:500px; height: 40px;font-size: 18px;"/></center></div>
    
</div>
<br/><br/>
    
<div class="row ">
    <table style="width:100%; height: 700px;">
        <tr>
            <td width="35%" style="vertical-align: top;">
                <div id="right-panel" class="right-panel">
                    <table class="places" style="width: 100%;">
                        <tbody id="places"></tbody>
                    </table>   
                </div>
            </td>
            <td width="65%" style="height: 100%;vertical-align: top;">
                <div id="map"></div>
            </td>
        </tr>
    </table>
    {#<div class='col-sm-1'></div>
    <div class='col-sm-3' style="width: 430px;">
        <div id="right-panel">
              <table style="width: 100%;">
                <tbody id="places">
                    
                </tbody>
            </table>   
          </div>
    </div>
    <div class="col-sm-7" style="margin-left:-30px;">
        <div id="map"></div>
            
    </div>#}
</div>
<input type="hidden" id="lat" value="{{lat}}" />
<input type="hidden" id="long" value="{{long}}" />
{% endblock %}


{% block javascripts %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDY5AlCGqI49cOQIX3YLeBgkMH89PBaG2c&sensor=true&libraries=places&language=en-AU"></script>
<script type="text/javascript">
    
   
      var def_lat ='';
      var def_long ='';
      var map;
      var infowindow = new google.maps.InfoWindow();
      
//getLocation();
      $(document).ready(function(){ 
          //showMap();
          
            //if( navigator.geolocation )
            //{
            //   // Call getCurrentPosition with success and failure callbacks
            //   navigator.geolocation.getCurrentPosition( success, fail );
            //}
            //else
            //{
            //   alert("Sorry, your browser does not support geolocation services.");
            //}
            //var add=results[0].formatted_address;       
                 if($('#search').val()=='' ){
                    loc = 'Australia';
                }else{
                    loc = $('#search').val();
                }
                $.ajax({
                url: "http://healthylifeproject.com.au/web/app_dev.php/aia-nearby-data/"+loc,
                method: 'POST',
                data: '',
                success: function(response) {
                      var json = JSON.parse(response);

                      var mapProp = {
                      center: new google.maps.LatLng(json.nearby[0].latitude, json.nearby[0].longitude), //LLANDRINDOD WELLS
                      zoom: 4,
                      mapTypeId: google.maps.MapTypeId.ROADMAP
                      };

                      map = new google.maps.Map(document.getElementById("map"), mapProp);

                    var i=1;
                    $.each(json.nearby, function (key, data) {
                    var latLng = new google.maps.LatLng(data.latitude, data.longitude);
                    if(i<=50){
                      var pinImage = new google.maps.MarkerImage("http://healthylifeproject.com.au/web/img/maps-marker/"+i+".png",
                                     null, null, null, new google.maps.Size(21,30));
                    }else{
                        var pinImage = new google.maps.MarkerImage("http://healthylifeproject.com.au/web/img/maps-marker/0.png",
                                     null, null, null, new google.maps.Size(21,30));
                    }
                    var marker = new google.maps.Marker({
                        position: latLng,
                        map: map,
                        icon: pinImage,
                        animation: google.maps.Animation.DROP,
                        title: data.club_name

                    });
                    // On idle, change marker animation to bounce

                    var details = data.club_name + ", " + data.address + ".";
                    placesList.innerHTML += '<tr><td width="20%"><a href="http://healthylifeproject.com.au/aia-details?cid='+data.club_id+'"><div id="sort">' + i + '</div><div id="kilo">'+data.distance+'<br/>km</div></a></td><td width="80%" style="vertical-align:top;"><a href="http://healthylifeproject.com.au/aia-details?cid='+data.club_id+'"><div id="club">' + data.club_name + '</div><div>'+data.address+'<br/>'+data.city+', '+data.state+' '+data.postcode+'</div></a></td></tr>';
                    bindInfoWindow(marker, map, infowindow, details);
                    i+=1;

                });  
                },
                error:function(){
                }
              }); 
          
      });

      function bindInfoWindow(marker, map, infowindow, strDescription) {
          google.maps.event.addListener(marker, 'click', function () {
              infowindow.setContent(strDescription);
              infowindow.open(map, marker);
          });
      }   
    
     function success(position)
     {
         
        var loc = '';
        var placesList = document.getElementById('places');
        placesList.innerHTML = '';
        
        var geocoder  = new google.maps.Geocoder();             // create a geocoder object
        var location  = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);    // turn coordinates into an object          
        
        geocoder.geocode({'latLng': location}, function (results, status) {
            if(status == google.maps.GeocoderStatus.OK) {           // if geocode success
            
            }
        });
        
         
     }
    function fail()
     {
        // Could not obtain location
     }
     
    function showMap(){
        var loc = '';
          var placesList = document.getElementById('places');
          placesList.innerHTML = '';
          var json1 = '';
          if($('#search').val()=='' ){
              loc = 'Australia';
          }else{
              loc = $('#search').val();
          }
          $.ajax({
          url: "http://healthylifeproject.com.au/web/app_dev.php/aia-nearby-data/"+loc,
          method: 'POST',
          data: '',
          success: function(response) {
                var json = JSON.parse(response);

                var mapProp = {
                center: new google.maps.LatLng(json.nearby[0].latitude, json.nearby[0].longitude), //LLANDRINDOD WELLS
                zoom: 8,
                mapTypeId: google.maps.MapTypeId.ROADMAP
                };

                map = new google.maps.Map(document.getElementById("map"), mapProp);
              
              var i=1;
              $.each(json.nearby, function (key, data) {
              var latLng = new google.maps.LatLng(data.latitude, data.longitude);
              if(i<=50){
                var pinImage = new google.maps.MarkerImage("http://healthylifeproject.com.au/web/img/maps-marker/"+i+".png",
                                     null, null, null, new google.maps.Size(21,30));
              }else{
                  var pinImage = new google.maps.MarkerImage("http://healthylifeproject.com.au/web/img/maps-marker/0.png",
                                     null, null, null, new google.maps.Size(21,30));
              }
              var marker = new google.maps.Marker({
                  position: latLng,
                  map: map,
                  icon: pinImage,
                  animation: google.maps.Animation.DROP,
                  title: data.club_name
                  
              });
              // On idle, change marker animation to bounce
              
              var details = data.club_name + ", " + data.address + ".";
              placesList.innerHTML += '<tr><td width="20%"><a href="http://healthylifeproject.com.au/aia-details?cid='+data.club_id+'"><div id="sort">' + i + '</div><div id="kilo">'+data.distance+'<br/>km</div></a></td><td width="80%" style="vertical-align:top;"><a href="http://healthylifeproject.com.au/aia-details?cid='+data.club_id+'"><div id="club">' + data.club_name + '</div><div>'+data.address+'<br/>'+data.city+', '+data.state+' '+data.postcode+'</div></a></td></tr>';
              bindInfoWindow(marker, map, infowindow, details);
              i+=1;

          });  
          },
          error:function(){
          }
        }); 
    }
    $('#search').keypress(function(e){
        if(e.which == 13) {
            showMap();
        }
        
    });
    
   // $('#search').change(function(e){
   //     if(e.which != 13) {
   //         showMap();
   //     }     
   // });
    
    
    var autocomplete = new google.maps.places.Autocomplete($("#search")[0], {});

            google.maps.event.addListener(autocomplete, 'place_changed', function() {
                var place = autocomplete.getPlace();
                console.log(place.address_components);
            });
</script>

{% endblock %}