{% extends "::lite_test_layout_new.html.twig" %}

{% block title %}Create Test{% endblock %}

{% block stylesheets %}
<style>
 #map, #right-panel {
        height: 60%;
        border: 1px solid #a1539b;
      }
     #right-panel {
        
      }
      h2 {
        font-size: 22px;
        margin: 0 0 5px 0;
      }
      
      #club{
        font-size: 28px;  
        text-align: left;
        top:5px;
      }
      .labels {
        color: black;
        background-color: red;
        font-family: "Lucida Grande", "Arial", sans-serif;
        font-size: 10px;
        text-align: center;
        width: 70px;
        white-space: nowrap;
      }
     .btn-transparent {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    border-color: #fff !important;
}
.btn-lg {
    border-radius: 3px;
    font-size: 20px;
    padding: 16px 20px !important;
    text-align: left;
    width: 98%;
}
.btn, .btn:focus {
    background-color: #47b69b;
    border-color: #47b69b;
    border-radius: 3px;
    color: #fff;
    padding: 6px 12px;
}
.text-center {
    text-align: center !important;
}
#phone{
    height: 100px;
     background: url(http://www.healthylifeproject.com.au/web/img/club-phone.gif) no-repeat;
     color: #fff;
     padding-left: 50px;
}
#address{
    background: url("http://www.healthylifeproject.com.au/web/img/maps-marker/white_pin.png") no-repeat;
    color: #fff;
    font-size: 25px;
    height: 120px;
    margin-left: 10px;
    margin-top: 20px;
    padding: 12px 48px 10px;
}

</style>
{% endblock %}


{% block specialscripts %}
    
{% endblock %}

{% block body %}
{#<h2>Take the Healthy Life Test</h2>#}
<br><br>

<div class="row ">
    <div class='col-sm-1'><a href="http://www.healthylifeproject.com.au/aia/" class="btn btn-sm ">Back to search</a></div>
   
</div>
    
<div class="row ">
    <h1 style="color:#a1539b;">{{data.club_name}}, {{data.state}}</h1>
    <div class="col-sm-12">
        {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger test-alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>You've got the following error: </h4>
            <ul>
            {% for item in flashMessage %}
                <li>{{ item.message }}</li>
            {% endfor %}
            </ul>
        </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ flashMessage }}
        </div>
        {% endfor %}    
    </div>
    <table style="width:100%; height: 700px;">
        <tr>
            <td width="35%" style="vertical-align: top;">
                <div id="right-panel" style="background-color: #a1539b;">
                    <div id="address">
                        {{data.address}}, {{data.city}} {{data.postcode}} {{data.state}}
                    </div>
                    <div style="color:#fff;font-size: 30px;padding: 10px;">
                        <div id="phone">{%if data.phone != '' %}{{data.phone}}{%else%}NA{%endif%}</div>
                    </div>
                    
                    <div id="lite_test">
                        <a class="btn btn-lg text-center btn-transparent" href="http://www.healthylifeproject.com.au/12weekProgram/web/client/registration" target="_blank">Join the Healthy Life Project today! </a>
                    </div>
                    <br/>
                    <div id="request_call">
                        <a class="btn btn-lg text-center btn-transparent btn-new-category" href="#">Request a Call </a>
                    </div>
                </div>
            </td>
            <td width="65%" style="height: 100%;vertical-align: top;">
                <div id="map"></div>
            </td>
        </tr>
    </table>
   
</div>
<form action="{{path('acme_ho_aia_request_call')}}" method="post">
    <!-- Modal -->
    <div class="modal fade" id="mdlNewCategory" tabindex="-1" role="dialog" >
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title" id="myModalLabel">Request a Call</h3>
          </div>
          <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <input type="hidden" name="club_email" value="{{data.email}}"/>
                        <input type="hidden" name="club_id" value="{{data.club_id}}"/>
                        <input type="hidden" name="club_admin_id" value="{{data.club_admin_id}}"/>
                        <div class="form-group">
                            <input type="text" class="form-control" name="name"  placeholder="Full Name" required>
                        </div>
                          
                         <div class="form-group">
                            <input type="text" class="form-control" name="phone"  placeholder="Phone Number" required>
                        </div>  
                    </div>
                </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </div>
</form>
{% endblock %}


{% block javascripts %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDY5AlCGqI49cOQIX3YLeBgkMH89PBaG2c&sensor=true&libraries=places&language=en-AU"></script>
<script type="text/javascript">
    
   
      var def_lat ='';
      var def_long ='';
      var map;
      var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
      var labelIndex = 0;
      var infowindow = new google.maps.InfoWindow();
      
//getLocation();
      $(document).ready(function(){ 
          showMap();
          
      });

      function bindInfoWindow(marker, map, infowindow, strDescription) {
          google.maps.event.addListener(marker, 'click', function () {
              infowindow.setContent(strDescription);
              infowindow.open(map, marker);
          });
      }   
    
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }
    
    function showMap(){

                var mapProp = {
                center: new google.maps.LatLng("{{data.latitude}}", {{data.longitude}}), //LLANDRINDOD WELLS
                zoom: 14,
                mapTypeId: google.maps.MapTypeId.ROADMAP
                };

                map = new google.maps.Map(document.getElementById("map"), mapProp);
              
              //$.each(json.nearby, function (key, data) {
              var latLng = new google.maps.LatLng({{data.latitude}}, {{data.longitude}});

              var pinImage = new google.maps.MarkerImage("http://healthylifeproject.com.au/web/img/maps-marker/0.png",
                                     null, null, null, new google.maps.Size(21,30));

              var marker = new google.maps.Marker({
                  position: latLng,
                  map: map,
                  icon: pinImage,
                  animation: google.maps.Animation.DROP,
                  title: "{{data.club_name}}"
                  
              });
              // On idle, change marker animation to bounce
              var details = "{{data.club_name}}";
            
              bindInfoWindow(marker, map, infowindow, details);


    }
    
    $('#search').keypress(function(e){
        if(e.which == 13) {
            showMap();
        }
        
    });
    
    $('#search').change(function(e){
        if(e.which != 13) {
            showMap();
        }     
    });
    
    $(".btn-new-category").click(function(){

        $('#mdlNewCategory').modal({
            backdrop: 'static',
            keyboard: false
        });
    });
</script>

{% endblock %}