<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Template</title>

    <style type="text/css">
        @font-face {
            font-family: Gotham-Book;
            src: url('http://www.healthylifeproject.com.au/program/web/templates/hlp-2.0/fonts/Gotham-Book.otf') format("opentype");
        }
        
        @font-face {
            font-family: Gotham-Light;
            src: url("http://www.healthylifeproject.com.au/program/web/templates/hlp-2.0/fonts/Gotham-Light.otf") format("opentype");
        }
        
        @font-face {
            font-family: Gotham-Medium;
            src: url("http://www.healthylifeproject.com.au/program/web/templates/hlp-2.0/fonts/Gotham-Medium.otf") format("opentype");
        }
        /* Client-specific Styles */
        
        #outlook a {
            padding: 0;
        }
        /* Force Outlook to provide a "view in browser" menu link. */
        
        body {
            width: 100% !important;
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
            margin: 0;
            padding: 0;
        }
        /* Prevent Webkit and Windows Mobile platforms from changing default font sizes, while not breaking desktop design. */
        
        .ExternalClass {
            width: 100%;
        }
        /* Force Hotmail to display emails at full width */
        
        .ExternalClass,
        .ExternalClass p,
        .ExternalClass span,
        .ExternalClass font,
        .ExternalClass td,
        .ExternalClass div {
            line-height: 100%;
        }
        /* Force Hotmail to display normal line spacing.*/
        
        #backgroundTable {
            margin: 0;
            padding: 0;
            width: 100% !important;
            line-height: 100% !important;
        }
        
        img {
            outline: none;
            text-decoration: none;
            border: none;
            -ms-interpolation-mode: bicubic;
        }
        
        a img {
            border: none;
        }
        
        button#playstore:hover {
            background: #FBB539 !important;
        }
        
        .image_fix {
            display: block;
        }
        
        p {
            margin: 0px 0px !important;
        }
        
        table td {
            border-collapse: collapse;
        }
        
        table {
            border-collapse: collapse;
            mso-table-lspace: 0pt;
            mso-table-rspace: 0pt;
        }
        
        a {
            color: #0a8cce;
            text-decoration: none;
            text-decoration: none!important;
        }
        /*STYLES*/
        
        table[class=full] {
            width: 100%;
            clear: both;
        }
        
        
        .content-font{
                font-size: 16px;
            }
        
        /*IPAD STYLES*/
        @media only screen and (max-width: 640px) {
            a[href^="tel"],
            a[href^="sms"] {
                text-decoration: none;
                color: #0a8cce;
                /* or whatever your want */
                pointer-events: none;
                cursor: default;
            }
            .mobile_link a[href^="tel"],
            .mobile_link a[href^="sms"] {
                text-decoration: default;
                color: #0a8cce !important;
                pointer-events: auto;
                cursor: default;
            }
            table[class=devicewidth] {
                width: 440px!important;
                text-align: center!important;
            }
            table[class=devicewidthinner] {
                width: 420px!important;
                text-align: center!important;
            }
            img[class=banner] {
                max-width: 100%;
                height: auto;
            }
            .removeMobile {
                display: none;
            }
            #name{
                font-size: 18px !important;
            }
            #first-quote{
                font-size: 16px !important;
            }
            .content-font{
                font-size: 14px;
            }
            .center{
                text-align: center;
                margin: 0 auto;
                display: block;
            }
        }
        /*IPHONE STYLES*/
        
        @media only screen and (max-width: 480px) {
            a[href^="tel"],
            a[href^="sms"] {
                text-decoration: none;
                color: #0a8cce;
                /* or whatever your want */
                pointer-events: none;
                cursor: default;
            }
            .mobile_link a[href^="tel"],
            .mobile_link a[href^="sms"] {
                text-decoration: default;
                color: #0a8cce !important;
                pointer-events: auto;
                cursor: default;
            }
            table[class=devicewidth] {
                width: 280px!important;
                text-align: center!important;
            }
            table[class=devicewidthinner] {
                width: 260px!important;
                text-align: center!important;
            }
            img[class=banner] {
                max-width: 100%;
                height: auto;
            }
            td[class=mobile-hide] {
                display: none!important;
            }
            td[class="padding-bottom25"] {
                padding-bottom: 25px!important;
            }
        }

    </style>
</head>

<body>

    <!-- Start of main-banner -->
    <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="banner">
        <tbody>
            <tr>
                <td>
                    <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                        <tbody>
                            <tr>
                                <td width="100%">
                                    <table width="600" align="center" cellspacing="0" cellpadding="0" border="0" class="devicewidth">
                                        <tbody>
                                            <tr>
                                                <!-- start of image -->
                                                <td align="center" st-image="banner-image">
                                                    <div class="imgpop">
                                                        <a target="_blank" href="#"><img alt="" border="0" style="display:block;max-width:100%; border:none; outline:none; text-decoration:none;" src="http://www.healthylifeproject.com.au/program/web/templates/hlp-2.0/images/email-template/email-poster.png" class="banner"></a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- end of image -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- End of main-banner -->

    <!-- Start Full Text -->
    <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="full-text">
        <tbody>
            <tr>
                <td>
                    <table width="500" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                        <tbody>
                            <tr>
                                <td width="100%">
                                    <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <table id="content-table" width="100%" align="center" cellpadding="0" cellspacing="0" border="0" class="devicewidthinner">
                                                        <tbody>
                                                            <tr>
                                                                <!-- Spacing -->
                                                                <tr>
                                                                    <td height="35" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                                                                </tr>
                                                                <!-- End Spacing -->
                                                            <!-- content -->
                                                                <td id="name" style="font-family: Gotham-Light; font-size: 24px; color: #6c4695;" st-content="fulltext-content">
                                                                    Dear {{ club_details.club_name|title }}<br/>
                                                                </td>
                                                            </tr>
                                                            <!-- End content -->
                                                            <!-- Spacing -->
                                                            <tr>
                                                                <td height="25" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                                                            </tr>
                                                            <!-- End Spacing -->
                                                            <tr>
                                                                <td {#id="first-quote"#} style="font-family: Gotham-Light; font-size: 17px; color: #666666; line-height: 25px;" st-content="fulltext-content">
                                                                    AIA vitality member <strong>{{ post.name }}</strong> has requested a call to book an appointment for an AIA Vitality Health Assessment via the AIA club locator.
                                                                </td>
                                                            </tr>
                                                            <!-- Spacing -->
                                                            <tr>
                                                                <td height="25" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                                                            </tr>
                                                            <!-- End Spacing -->
                                                            <tr>
                                                                <td {#id="first-quote"#} style="font-family: Gotham-Light; font-size: 17px; color: #666666; line-height: 25px;" st-content="fulltext-content">
                                                                    Please contact on <strong>{{ post.phone }}</strong> as soon as possible to schedule an appointment.
                                                                </td>
                                                            </tr>
                                                            <!-- Spacing -->
                                                            <tr>
                                                                <td height="25" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                                                            </tr>
                                                            <!-- End Spacing -->
                                                            <tr>
                                                                <td {#id="first-quote"#} style="font-family: Gotham-Light; font-size: 17px; color: #666666; line-height: 25px;" st-content="fulltext-content">
                                                                   Congratulations.
                                                                </td>
                                                            </tr>
                                                            <!-- Spacing -->
                                                            <tr>
                                                                <td height="25" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                                                            </tr>
                                                            <!-- End Spacing -->
                                                            <tr>
                                                                <td {#id="first-quote"#} style="font-family: Gotham-Light; font-size: 17px; color: #666666; line-height: 25px;" st-content="fulltext-content">
                                                                    <h3>The Healthy Life Team.</h3>
                                                                </td>
                                                            </tr>
                                                            
                                                            
                                                            <!-- Spacing -->
                                                            <tr>
                                                                <td height="20" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                                                            </tr>
                                                            <!-- Spacing -->
                                                            <tr>
                                                                <td style="" st-content="fulltext-content">
                                                                    <hr style="border-top: .2px solid #e9ebf0;">
                                                                </td>
                                                            </tr>
                                                            <!-- Spacing -->
                                                            <tr>
                                                                <td height="20" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                                                            </tr>
                                                            <!-- Spacing -->
                                                            <!-- End of content -->
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>                                            
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- end of full text -->
    <!-- 2 Start of Columns -->
    <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" id="backgroundTable">
        <tbody>
            <tr>
                <td>
                    <table width="500" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                        <tbody>
                            <tr>
                                <td width="100%">
                                    <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <!-- col 1 -->
                                                    <table width="245" align="left" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
                                                        <tbody>
                                                            <tr>
                                                                <td width="100%" align="left" class="devicewidth">
                                                                    <img class="center" src="http://www.healthylifeproject.com.au/program/web/templates/hlp-2.0/images/email-template/live-life.png" alt="" border="0" style="display:block; border:none; outline:none; text-decoration:none; max-width:100%;">
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <!-- end of col 1 -->
                                                    <!-- col 2 -->
                                                    <table width="245" align="left" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
                                                        <tbody>                                                            
                                                            <tr>
                                                                <td>
                                                                    <!-- start of text content table -->
                                                                    <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" class="devicewidthinner">
                                                                        <tbody>
                                                                            <!-- Spacing -->
                                                                            <tr>
                                                                                <td width="100%" height="35" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                                                                            </tr>
                                                                            <!-- Spacing -->
                                                                            <!-- content2 -->
                                                                            <tr>
                                                                                <td class="content-font" align="right"  style="font-family: Gotham-Light; color: #666666; line-height: 27px;" st-content="3col-content1">
                                                                                    <p style="text-align: left">
                                                                                        The average Australian is expected to live up to 20% of their life affected by some kind of disability, illness or injury.
                                                                                    </p>
                                                                                    <br>
                                                                                    <p style="text-align: left; font-size: 27px; color: #6c4695;">
                                                                                        Lets change this, starting right now.
                                                                                    </p>
                                                                                </td>
                                                                            </tr>
                                                                            <!-- end of content2 -->
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <!-- end of text content table -->
                                                        </tbody>
                                                    </table>
                                                    <!-- end of col 2 -->
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <!-- Spacing -->
                                                            <tr>
                                                                <td height="20" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                                                            </tr>
                                                            <!-- Spacing -->
                                                            <tr>
                                                                <td style="" st-content="fulltext-content">
                                                                    <hr style="border-top: .2px solid #e9ebf0;">
                                                                </td>
                                                            </tr>
                                                            <!-- Spacing -->
                                                            <tr>
                                                                <td height="20" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                                                            </tr>
                                                            <!-- Spacing -->
                        </tbody>
                    </table>
                </td>                
            </tr>            
        </tbody>
    </table>
    <!-- end of 2 Columns -->
     <!-- footer -->
    <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" id="backgroundTable">
        <tbody>
            <tr>
                <td>
                    <table width="500" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                        <tbody>
                            <tr>
                                <td width="100%">
                                    <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <!-- col 1 -->
                                                    <table width="150" align="left" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
                                                        <tbody>
                                                            <tr>
                                                                <td width="100%" align="left" class="devicewidth">
                                                                    <img class="center" src="http://www.healthylifeproject.com.au/program/web/templates/hlp-2.0/images/email-template/main-logo.png" alt="" border="0" style="display:block; border:none; outline:none; text-decoration:none; max-width:100%;">
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <!-- end of col 1 -->
                                                    <!-- col 2 -->
                                                    <table width="350" align="left" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
                                                        <tbody>                                                            
                                                            <tr>
                                                                <td>
                                                                    <!-- start of text content table -->
                                                                    <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" class="devicewidthinner">
                                                                        <tbody>
                                                                            <!-- Spacing -->
                                                                            <tr>
                                                                                <td width="100%" height="55" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                                                                            </tr>
                                                                            <!-- Spacing -->
                                                                            <!-- content2 -->
                                                                            <tr>
                                                                                <td class="content-font" align="right"  style="font-family: Gotham-Light; color: #666666; line-height: 27px;" st-content="3col-content1">
                                                                                    <p style="text-align: center">
                                                                                        The Healthy Life Project team.
                                                                                    </p>
                                                                                </td>
                                                                            </tr>
                                                                            <!-- end of content2 -->
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <!-- end of text content table -->
                                                        </tbody>
                                                    </table>
                                                    <!-- end of col 2 -->
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>                
            </tr>            
        </tbody>
    </table>
    <!-- end footer -->
</body>

</html>
