.clearfix.fauxUpload{
    padding-bottom: 10px;
}
.fauxUpload .pull-left {
    width: 60%;
}
.fauxUpload .pull-left input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.fauxUpload .pull-right {
    float: right!important;
    width: 40%;
}
.fauxUpload label {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.fauxUpload .form-control{
    min-height: 0px!important;
}

.progress-label{
    display: none;
}
.progress{
    display: none;
}
.progress-label.uploading,
.progress.uploading{
    display: block;
}
