{% extends "::club_layout.html.twig" %}

{% block title %}Club Admin{% endblock %}

{% block body %}


<h2>Club Admin</h2> {% if app.session.get('user_role') == 'site-admin' %}<a href="{{ path('acme_club_admin_add_edit', {'slug': 'new'}) }}"> + add club admin</a>{% endif %}

<table class="table">
    <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Status</th>
            <th>Last login</th>
            {% if app.session.get('user_role') == 'site-admin' %}
                <th></th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for item in club_admins %}
            <tr>
                <td>{{ item.fname }}</td>
                <td>{{ item.lname }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.role|replace('-',' ')|capitalize }}</td>
                <td>{{ item.status|capitalize }}</td>
                <td>{% if item.last_login_datetime != '' %}{{ item.last_login_datetime|date("d/m/Y H:i:s")  }}{% endif %}</td>
                {% if app.session.get('user_role') == 'site-admin' %}
                <td>
                    <a href="{{ path('acme_club_admin_add_edit', {'slug': 'edit'}) }}?caid={{ item.club_admin_id }}">Edit</a> | 
                    <a class="delete-item pointer" data-id="{{ item.club_admin_id }}">Delete</a>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>

{# + Delete area #}
<div id="dialog-confirm" title="Delete this item?" style="display: none">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>These item will be permanently deleted and cannot be recovered. Are you sure?</p>
</div>

<form id="delete" action="{{ path('acme_club_admin_delete') }}" method="post">
    <input type="hidden" name="club_admin_id">
</form>
{# - Delete area #}

{% endblock %}

{% block javascripts %}
<script src="{{ asset('js') }}/head-office/club-admin.js"></script>
{% endblock %}