{% extends "::head_office_layout.html.twig" %}

{% set route_slug = app.request.attributes.get('_route_params')['slug'] %}
{% block title %}{{ route_slug|capitalize }} Admin{% endblock %}

{% block body %}

{% if route_slug == 'new' %}
    <h2>CREATE A NEW ADMIN</h2>
{% else %}
    <h2>UPDATE ADMIN</h2>
{% endif %}


{% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('error') %}
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {% for item in flashMessage %}
        {{ item.message }}<br/>
    {% endfor %}
</div>
{% endfor %}
    
<form action="#" method="post">
    <div class="wide-fields field-holder">
        {% if route_slug == 'edit' %}
            <input type="hidden" name="ho_admin_id" value="{% if post.ho_admin_id is defined %}{{ post.ho_admin_id }}{% endif %}">
        {% endif %}
        <div class="row">
            <input type="text" name="fname" value="{% if post.fname is defined %}{{ post.fname }}{% endif %}" placeholder="First name" required>
        </div>

        <div class="row">
            <input type="text" name="lname" value="{% if post.lname is defined %}{{ post.lname }}{% endif %}" placeholder="Last name" required>
        </div>

        <div class="row">
            <input type="email" name="email" value="{% if post.email is defined %}{{ post.email }}{% endif %}" placeholder="Email" required>
        </div>
            
        

        <div class="row">
            <input type="password" name="password" value="{% if route_slug == 'new' and post.password is defined %}{{ post.password }}{% endif %}" placeholder="{% if route_slug == 'edit' %}New {% endif %}Password" {% if route_slug == 'new' %}required{%endif%}>
        </div>    

        <div class="row">
            <input type="password" name="confirm_password" placeholder="Confirm Password" {% if route_slug == 'new' %}required{%endif%}>
        </div> 

        <div class="row add-select1">
            <select name="status" class="form-control" required>
                <option value="">Status</option>
                <option value="active" {% if post.status is defined and post.status == 'active'%}selected{% endif %}>Active</option>
                <option value="inactive" {% if post.status is defined and post.status == 'inactive'%}selected{% endif %}>Inactive</option>
            </select>
        </div>
            
        <div class="row">
            <label><input type="checkbox" name="receive_litetests" {% if post.receive_litetests is defined and post.receive_litetests == 1%}checked{% endif %} > Receive Litetest submissions</label>
        </div>

        <div class="row">
            
            {% if route_slug == 'new' %}
                <button type="submit" class="btn btn-primary">Add Admin</button>
            {% else %}
                <button type="submit" class="btn btn-primary">Update Admin</button>
                <button type="button" class="btn btn-danger delete-admin" data-id="{% if post.ho_admin_id is defined %}{{ post.ho_admin_id }}{% endif %}">Delete Admin</button>
            {% endif %}
            <a href="{{ path('acme_head_office_admin_area') }}" class="btn btn-default">Cancel</a>
        </div>
    </div>
</form>


{# + Delete area #}
<div id="dialog-confirm" title="Delete this item?" style="display: none">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>These item will be permanently deleted and cannot be recovered. Are you sure?</p>
</div>

<form id="deleteHoAdmin" action="{{ path('acme_head_office_admin_delete') }}" method="post">
    <input type="hidden" name="ho_admin_id">
</form>
{# - Delete area #}
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js') }}/head-office/ho-admin.js"></script>
{% endblock %}

