{% extends "::head_office_layout.html.twig" %}

{% block title %}Admin{% endblock %}

{% block body %}
<h2>Admin</h2> <a href="{{ path('acme_head_office_admin_add_edit', {'slug': 'new'}) }}"> + add user</a>

{% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('error') %}
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {% for item in flashMessage %}
        {{ item.message }}<br/>
    {% endfor %}
</div>
{% endfor %}

<table class="table">
    <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Status</th>
            <th>Last login</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for item in admin_users %}
            <tr>
                <td>{{ item.fname }}</td>
                <td>{{ item.lname }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.status|capitalize }}</td>
                <td>{% if item.last_login_datetime != '' %}{{ item.last_login_datetime|date("d/m/Y H:i:s")  }}{% endif %}</td>
                <td>
                    <a href="{{ path('acme_head_office_admin_add_edit', {'slug': 'edit'}) }}?id={{ item.ho_admin_id }}">Edit</a> | 
                    <a class="delete-item pointer" data-id="{{ item.ho_admin_id }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{# + Delete area #}
<div id="dialog-confirm" title="Delete this item?" style="display: none">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>These item will be permanently deleted and cannot be recovered. Are you sure?</p>
</div>

<form id="delete" action="{{ path('acme_head_office_admin_delete') }}" method="post">
    <input type="hidden" name="ho_admin_id">
</form>
{# - Delete area #}
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js') }}/head-office/ho-admin.js"></script>
{% endblock %}

