{% extends "::head_office_layout.html.twig" %}

{% block title %}Admin{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('error') %}
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {% for item in flashMessage %}
        {{ item.message }}<br/>
    {% endfor %}
</div>
{% endfor %}


<!-- three cols add three cols -->
<div class="three-cols add-three-cols">
    <!-- container -->
    <div class="container">
        
        {# CREDITS #}
        <section class="col">
            <div class="add">
                <header class="add-txt">
                    <h1>CREDIT</h1>
                    <p><strong>YOU HAVE {{ app.session.get('available_credit') }} Credits Remaining</strong><br>
                    Each Test is 1 Credit
                </header>
                    
                <form action="{{ path('acme_payment') }}" method="post">
                    <div class="field-holder">
                        <div class="row">
                            ADD <input type="number" name="qty"  value="1" style="width: 50%;" required> CREDITS
                               
                        </div>
                        <hr>
                        <div class="row">
                            <input type="text" name="address"  placeholder="Street address" required>
                        </div>
                        <div class="row">
                            <input type="text" name="city"  placeholder="City" required>
                        </div>
                        <div class="row">
                            <input type="text" name="postcode"  placeholder="Postcode" required>
                        </div>


                        <div class="row add-select1">
                            <select name="state" >
                                <option value="">-- select state --</option>
                                {% for item in states %}
                                    <option value="{{ item.code }}">{{ item.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <hr>



                        <div class="row">
                            <input type="text" name="card_number"  placeholder="Card number" required>
                        </div>

                        <div class="row">
                            <input type="text" name="card_name"  placeholder="Card name" required>
                        </div>

                        <div class="row add-select1">
                                <select name="card_month"  required>
                                    <option value="">Month</option>
                                    <option value="01">Jan</option>
                                    <option value="02">Feb</option>
                                    <option value="03">Mar</option>
                                    <option value="04">Apr</option>
                                    <option value="05">May</option>
                                    <option value="06">Jun</option>
                                    <option value="07">Jul</option>
                                    <option value="08">Aug</option>
                                    <option value="09">Sep</option>
                                    <option value="10">Oct</option>
                                    <option value="11">Nov</option>
                                    <option value="12">Dec</option>
                                </select>
                        </div>
                        
                        <div class="row add-select1">
                            <select name="card_year" required>
                                <option value="">Year</option>
                                {% for i in 0..5 %}
                                    {% set year = "now"|date_modify("+" ~ i ~" year")|date("Y") %}
                                    <option value="{{ year }}">{{ year }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="row">
                                <input type="text" name="card_ccv" placeholder="CCV" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Buy Now</button>
                    </div>
                </form>
            </div>
        </section>
        
        {# ADMIN USERS #}
        <section class="col">
            <div class="add">
                <header class="add-txt header-two-columns">
                    <div class="col-1">
                        <h1>ADMIN USERS</h1>
                    </div>
                    <div class="col-2">
                        <a href="{{ path('acme_head_office_admin_add_edit', {'slug': 'new'}) }}" class="btn btn-primary">Add a New User</a>
                    </div>
                </header>
                    
                <table class="table">
                    <thead>
                        <tr>
                            <th>USERS</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in admin_users %}
                            <tr>
                                <td>{{ item.fname }} {{ item.lname }}</td>
                                <td>
                                    <a href="{{ path('acme_head_office_admin_add_edit', {'slug': 'edit'}) }}?id={{ item.ho_admin_id }}">Edit</a> | 
                                    <a class="delete-admin pointer" data-id="{{ item.ho_admin_id }}">Delete</a>
                                </td>
                            </tr>

                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </section>
        
        {# EVENTS #}
        <section class="col">
            <div class="add">
                <header class="add-txt header-two-columns">
                    <div class="col-1">
                        <h1>EVENTS</h1>
                    </div>
                    <div class="col-2">
                        <a href="{{ path('acme_head_office_event_add_edit', {'slug': 'new'}) }}" class="btn btn-primary">Add a New Event</a>
                    </div>
                </header>
                    
                <table class="table">
                    <thead>
                        <tr>
                            <th>NAME</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in events %}
                            <tr>
                                <td>{{ item.event_name }}</td>
                                <td>
                                    <a href="{{ path('acme_head_office_event_add_edit', {'slug': 'edit'}) }}?eid={{ item.event_id }}">Edit</a> | 
                                    <a class="delete-event pointer" data-id="{{ item.event_id }}">Delete</a>
                                    
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>





{# + Delete area #}
<div id="dialog-confirm" title="Delete this item?" style="display: none">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>These item will be permanently deleted and cannot be recovered. Are you sure?</p>
</div>

<form id="deleteHoAdmin" action="{{ path('acme_head_office_admin_delete') }}" method="post">
    <input type="hidden" name="ho_admin_id">
</form>

<form id="deleteEvent" action="{{ path('acme_head_office_event_delete') }}" method="post">
    <input type="hidden" name="event_id">
</form>
{# - Delete area #}
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js') }}/head-office/ho-admin.js"></script>
<script src="{{ asset('js') }}/head-office/event.js"></script>
{% endblock %}