{% extends "::club_layout.html.twig" %}

{% block title %}Healthy Life | {% if post.status is defined and post.status == 'finalised' %}{% if app.session.get('ho_admin_id') is defined and app.session.get('ho_admin_id') != '' %}Edit{% else %}View{% endif %} Test Inputs{% else %}Create Test{% endif %}{% endblock %}

{% block stylesheets %}
<link href="{{ asset('templates') }}/hlp-2.0/css/jquery.steps.css" rel="stylesheet">
<link href="{{ asset('css') }}/test.css" rel="stylesheet">
{% endblock %}


{% block body %}
<!-- ==============================================
                ABOUT
=============================================== -->

<section id="info-bar">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 left">
                <a href="{{ path('acme_club_client_view') }}?id={{ client_details.club_client_id }}"><h1>{{ client_details.fname|upper }} {{ client_details.lname|upper }}</h1></a>
                <p>{{ client_details.age }} Year old {{ client_details.gender }}</p>
            </div>
            <div class="col-sm-6 right">
{#                <p class="date">07 September 2015</p>#}
                <p class="date">{% if post.test_datetime is defined %}{{ post.test_datetime|date("d F Y") }}{% else %}{{ "now"|date("d F Y") }}{% endif %}</p>
                <p>Coached by {{ client_details.coach_fname }} {{ client_details.coach_lname }} <a href="{{ path('acme_club_client_add_edit', {'slug': 'edit'}) }}?id={{ client_details.club_client_id }}">Edit</a></p>
            </div>
        </div>
    </div>
</section>
            
<div class="container">
    <div class="row ">
        <div class='col-sm-2'></div>
        <div class="col-sm-8">
            {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-danger test-alert">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h4>You've got the following error: </h4>
                <ul>
                {% for item in flashMessage %}
                    <li>{{ item.message }}</li>
                {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<section id="form-wizard">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <form id="testForm" action="{{ path('acme_club_create_lite_test') }}" class="wizard-big {% if post.status is defined %}{{ post.status }}{% endif %}" method="post">
                    <input type="hidden" name="submit_type" value="draft">
                    <input type="hidden" name="club_client_id" value="{{ client_details.club_client_id }}">
                    <input type="hidden" name="test_type" value="{{ app.request.get("type") }}">
                    {% if post.client_test_id is defined %}
                        <input type="hidden" id="client_test_id" name="client_test_id" value="{{ post.client_test_id }}">
                    {% endif %}     
                    {% if questions_goal is defined %}
                    <h1>Customization</h1>
                    <fieldset>
                        <div class="row">
                            <div class="col-sm-6">                                        
                                <h4>What are you looking at acheiving?</h4>
                                <div class="form-group"> 
                                    {% for item in questions_goal %}

                                    <div class="row">
                                        <div class="col-xs-9">
                                            <label>{{ item.question }}</label>
                                        </div>
                                        <div class="col-xs-3">
                                            <input type="checkbox" name="goal[{{ item.sq_id }}]" {% if item.answer is defined and item.answer == 1 %}checked{% endif %} value="1" data-toggle="toggle" data-on="Yes" data-off="No" data-style="ios" data-onstyle="default" data-offstyle="default" {% if client_details.s_signup_questions_done is defined and client_details.s_signup_questions_done == 1 %}disabled{% endif %}>
                                        </div> 
                                        <hr>
                                    </div>
                                    {% endfor %}

                                </div>
                            </div>
                            <div class="col-sm-5 col-sm-offset-1">                                        
                                <h4>What matters most to you?</h4>
                                <div class="form-group"> 
                                    {% for item in questions_wmm %}

                                    <div class="row">
                                        <div class="col-xs-9">
                                            <label>{{ item.question }}</label>
                                        </div>
                                        <div class="col-xs-3">
                                            <input type="checkbox" name="wmm[{{ item.sq_id }}]" {% if item.answer is defined and item.answer == 1 %}checked{% endif %} value="1" data-toggle="toggle" data-on="Yes" data-off="No" data-style="ios" data-onstyle="default" data-offstyle="default" {% if client_details.s_signup_questions_done is defined and client_details.s_signup_questions_done == 1 %}disabled{% endif %}>
                                        </div> 
                                        <hr>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">                                        
                                <h4>How experienced and motivated are you?</h4>
                                <div class="form-group"> 
                                    {% for item in questions_experience %}

                                    <div class="row">
                                        <div class="col-xs-9">
                                            <label>{{ item.question }}</label>
                                        </div>
                                        <div class="col-xs-3">
                                            <input type="checkbox" name="experience[{{ item.sq_id }}]" {% if item.answer is defined and item.answer == 1 %}checked{% endif %} value="1" data-toggle="toggle" data-on="Yes" data-off="No" data-style="ios" data-onstyle="default" data-offstyle="default" {% if client_details.s_signup_questions_done is defined and client_details.s_signup_questions_done == 1 %}disabled{% endif %}>
                                        </div> 
                                        <hr>
                                    </div>
                                    {% endfor %}

                                </div>
                            </div>                                    
                        </div>
                    </fieldset>
                                    
                    
                    <h1 data-type="normal">Health</h1>
                    <fieldset class="normal">
                        <div class="row">
                            <div class="col-sm-4">   
                                <div class="bg-color-light-gray border-round small-padding">
                                    <p>If you answer 'Yes' to any of the 7 questions, please seek guidance from your GP or appropriate allied health professional prior to undertaking physical activity/exercise.</p>
                                    <p>If you answer 'No' to all of the 7 questions, and you have no other concerns about your health, you may proceed to undertake light-moderate intensity physical activity/exercise.</p>
                                </div>
                            </div>
                            <div class="col-sm-8">                                        
                                <div class="form-group"> 
                                    {% for item in questions_pe %}
                                    <div class="row">
                                        <div class="col-xs-9">
                                            <label>{{ item.question }}</label>
                                        </div>
                                        <div class="col-xs-3">
                                            <input type="checkbox" name="pe[{{ item.sq_id }}]" {% if item.answer is defined and item.answer == 1 %}checked{% endif %} data-toggle="toggle" data-on="Yes" value="1" data-off="No" data-style="ios" data-onstyle="default" data-offstyle="default" class="pull-right" {% if client_details.s_signup_health_questions_done is defined and client_details.s_signup_health_questions_done == 1 %}disabled{% endif %}>
                                        </div> 
                                        <hr>
                                    </div>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                    </fieldset>
                    
                    {% endif %}
                    <h1>Lifestyle</h1>
                    <fieldset>
                        <div class="row">
                            <div class="col-lg-12">
                                <h4><i class="hlp-required pointer help" data-field="physical_activity" title="Click to see the guide">?</i> Physical Activity</h4>
                                <h6 class="no-margin-left">This assessment has been designed to give an indication of whether you are meeting the current Australian guidelines for physical activity and sedentary behaviour.</h6>
                                
                                {% for item in physical_activity_questions %}
                                    <div class="form-group"> 
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label class="bullet">{{ item.question|raw }}</label>
                                            </div>
                                            <div class="col-sm-offset-1 col-sm-5">
                                                <input type="number" class="form-control required" name="{{ item.class }}" {#name="answer[{{ item.lq_id }}]"#} value="{{ item.answer }}" id="{{ item.class }}" placeholder="0">
                                            </div> 
                                        </div>
                                    </div>
                                {% endfor %}
                                
                                <hr>
                                
                                <h4><i class="hlp-required pointer help" data-field="smoking" title="Click to see the guide">?</i> Smoking Habits</h4>
                                
                                <div class="form-group"> 
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label class="bullet">Please select the following description that best describes your smoking habits or history.</label>
                                        </div>
                                        <div class="col-sm-offset-1 col-sm-5">
                                             <select name="lifestyle_smoking" class="form-control selectpicker required" title="--- smoke habits --- ">
                                                <option value="">--- smoke habits ---</option>
                                                {% for item in smoking_options %}
                                                <option value="{{ item.option_value }}" {% if smoking_answer is defined and smoking_answer is not empty and smoking_answer == item.option_value  %}selected{% endif %}> {{ item.option_description }}</option>
                                                {% endfor %}
                                            </select>
                                        </div> 
                                    </div>
                                </div>
                                
                                
                                <hr>
                                
                                <h4><i class="hlp-required pointer help" data-field="alcohol" title="Click to see the guide">?</i> Alcohol Consumption</h4>
                                <h6 class="no-margin-left">This test has been designed based on the Australian guidelines for Alcohol consumption.</h6>
                                {% for item in alcohol_questions %}
                                    <div class="form-group"> 
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label class="bullet">{{ item.question }}</label>
                                            </div>
                                            <div class="col-sm-offset-1 col-sm-5">
                                                <input type="number" id="{{ item.class }}" name="{{ item.class }}" {#name="answer[{{ item.lq_id }}]"#} value="{{ item.answer }}" class="form-control required" placeholder="0">
                                            </div> 
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </fieldset>
                                    
                    <h1>Nutrition</h1>
                    <fieldset>
                        <div class="row">
                            <div class="col-sm-12">
                                <h4><i class="hlp-required pointer help" data-field="nutrition" title="Click to see the guide">?</i> Nutrition</h4>
                                <h6 class="no-margin-left">This test is based on the current Australian Dietary guidelines for Healthy eating and has been created to give an indication of whether you are eating for your health.</h6>
                                <div class="form-group nutrition-items"> 
                                    {% for item in nutrition_questions %}
                                        <div class="row item">
                                            <div class="col-sm-6">
                                                <label class="bullet">{{ item.question }}</label>
                                            </div>
                                            <div class="col-sm-offset-1 col-sm-5">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="nutrition[{{ item.lq_id }}]" {#name="answer[{{ item.lq_id }}]"#} class="{{ item.class }} opt1" value="0" {% if item.answer is defined and item.answer == 0 and item.answer is not empty %}checked{% endif %}> No
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="nutrition[{{ item.lq_id }}]" {#name="answer[{{ item.lq_id }}]"#} class="{{ item.class }} opt2" value="1" {% if item.answer is defined and item.answer == 1 %}checked{% endif %}> Yes
                                                    </label>
                                                </div>
                                            </div> 
                                            <hr>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </fieldset>
                              
                                
                                
                                
                    <h1>Physical</h1>
                    <fieldset>                            
                        <div class="row">
                            <div class="col-sm-6">
                                <h4>General</h4>
                                <div class="form-group">
                                    <label class="label-control">Height</label>
                                    <input type="text" name="height" class="form-control required" value="{% if post.height is defined %}{{ post.height }}{% endif %}" placeholder="Height (cm)">
                                    <span class="hlp-required pointer help" title="Click to see the guide" data-field="height">?</span>
                                </div>
                                <div class="form-group">
                                    <label class="label-control">Weight</label>
                                    <input type="text" name="weight" class="form-control required" value="{% if post.weight is defined %}{{ post.weight }}{% endif %}" placeholder="Weight (kg)">
                                    <span class="hlp-required pointer help" title="Click to see the guide" data-field="weight">?</span>
                                </div>
                                <div class="form-group">
                                    <label class="label-control">BMI</label>
                                    <input type="text" name="bmi" class="form-control required" value="{% if post.bmi is defined %}{{ post.bmi }}{% endif %}" placeholder="Body Mass Index (BMI)" readonly>
                                    <span class="hlp-required pointer help" data-field="bmi" title="Click to see the guide">?</span>
                                </div>
                                
                                <h4>Physiological</h4>
                                <label>1RM Squat</label>
                                <div class="form-group strength-fields">
                                    <div class="row s-direct-entry">
                                        <div class="col-sm-6">
                                            <label><input type="checkbox" name="physiological_squat_1rm_s_direct_entry" {% if post.physiological_squat_1rm_s_direct_entry is defined and post.physiological_squat_1rm_s_direct_entry == 1 %}checked{% endif %}> <span>Direct entry?</span></label>
                                        </div>
                                        <div class="col-sm-4 text-right">
                                            <label class="est">Est. 1RM <span>0.00</span></label>
                                        </div>
                                    </div>
                                    <div class="row two-fields {% if post.physiological_squat_1rm_s_direct_entry is defined and post.physiological_squat_1rm_s_direct_entry == 1 %}hidden{% endif %}">
                                        <div class="col-sm-6">
                                            <input type="text" name="physiological_squat_1rm_weight" class="form-control required full-width needs-result-display weight-input" value="{% if post.physiological_squat_1rm_weight is defined %}{{ post.physiological_squat_1rm_weight }}{% endif %}" placeholder="Weight (kg)">
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text" name="physiological_squat_1rm_reps" class="form-control required full-width needs-result-display reps-input" value="{% if post.physiological_squat_1rm_reps is defined %}{{ post.physiological_squat_1rm_reps }}{% endif %}" placeholder="Reps">
                                        </div>
                                    </div>
                                        
                                    <div class="row direct-entry {% if post.physiological_squat_1rm_s_direct_entry is defined and post.physiological_squat_1rm_s_direct_entry == 1 %}{% else %}hidden{% endif %}">
                                        <div class="col-sm-12">
                                            <input type="text" name="physiological_squat_1rm_direct_entry" class="form-control required" value="{% if post.physiological_squat_1rm_direct_entry is defined %}{{ post.physiological_squat_1rm_direct_entry }}{% endif %}" placeholder="Direct entry">
                                        </div>
                                    </div>
                                        
                                    <span class="hlp-required pointer help" data-field="squat_1rm" title="Click to see the guide">?</span>
                                </div>
                                        
                                        
                                        
                                <label>1RM Bench Press</label>
                                <div class="form-group strength-fields">
                                    <div class="row s-direct-entry">
                                        <div class="col-sm-6">
                                            <label><input type="checkbox" name="physiological_bench_press_1rm_s_direct_entry" {% if post.physiological_bench_press_1rm_s_direct_entry is defined and post.physiological_bench_press_1rm_s_direct_entry == 1 %}checked{% endif %}> <span>Direct entry?</span></label>
                                        </div>
                                        <div class="col-sm-4 text-right">
                                            <label class="est">Est. 1RM <span>0.00</span></label>
                                        </div>
                                    </div>
                                    <div class="row two-fields {% if post.physiological_bench_press_1rm_s_direct_entry is defined and post.physiological_bench_press_1rm_s_direct_entry == 1 %}hidden{% endif %}">
                                        <div class="col-sm-6">
                                            <input type="text" name="physiological_bench_press_1rm_weight" class="form-control required full-width needs-result-display weight-input" value="{% if post.physiological_bench_press_1rm_weight is defined %}{{ post.physiological_bench_press_1rm_weight }}{% endif %}" placeholder="Weight (kg)">
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text" name="physiological_bench_press_1rm_reps" class="form-control required full-width needs-result-display reps-input" value="{% if post.physiological_bench_press_1rm_reps is defined %}{{ post.physiological_bench_press_1rm_reps }}{% endif %}" placeholder="Reps">
                                        </div>
                                    </div>
                                        
                                    <div class="row direct-entry {% if post.physiological_bench_press_1rm_s_direct_entry is defined and post.physiological_bench_press_1rm_s_direct_entry == 1 %}{% else %}hidden{% endif %}">
                                        <div class="col-sm-12">
                                            <input type="text" name="physiological_bench_press_1rm_direct_entry" class="form-control required" value="{% if post.physiological_bench_press_1rm_direct_entry is defined %}{{ post.physiological_bench_press_1rm_direct_entry }}{% endif %}" placeholder="Direct entry">
                                        </div>
                                    </div>
                                        
                                    <span class="hlp-required pointer help" data-field="bench_press_1rm" title="Click to see the guide">?</span>
                                </div>
                                        
                                <label>1RM Deadlift</label>
                                <div class="form-group strength-fields">
                                    <div class="row s-direct-entry">
                                        <div class="col-sm-6">
                                            <label><input type="checkbox" name="physiological_deadlift_1rm_s_direct_entry" {% if post.physiological_deadlift_1rm_s_direct_entry is defined and post.physiological_deadlift_1rm_s_direct_entry == 1 %}checked{% endif %}> <span>Direct entry?</span></label>
                                        </div>
                                        <div class="col-sm-4 text-right">
                                            <label class="est">Est. 1RM <span>0.00</span></label>
                                        </div>
                                    </div>
                                    <div class="row two-fields {% if post.physiological_deadlift_1rm_s_direct_entry is defined and post.physiological_deadlift_1rm_s_direct_entry == 1 %}hidden{% endif %}">
                                        <div class="col-sm-6">
                                            <input type="text" name="physiological_deadlift_1rm_weight" class="form-control required full-width needs-result-display weight-input" value="{% if post.physiological_deadlift_1rm_weight is defined %}{{ post.physiological_deadlift_1rm_weight }}{% endif %}" placeholder="Weight (kg)">
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text" name="physiological_deadlift_1rm_reps" class="form-control required full-width needs-result-display reps-input" value="{% if post.physiological_deadlift_1rm_reps is defined %}{{ post.physiological_deadlift_1rm_reps }}{% endif %}" placeholder="Reps">
                                        </div>
                                    </div>
                                        
                                    <div class="row direct-entry {% if post.physiological_deadlift_1rm_s_direct_entry is defined and post.physiological_deadlift_1rm_s_direct_entry == 1 %}{% else %}hidden{% endif %}">
                                        <div class="col-sm-12">
                                            <input type="text" name="physiological_deadlift_1rm_direct_entry" class="form-control required" value="{% if post.physiological_deadlift_1rm_direct_entry is defined %}{{ post.physiological_deadlift_1rm_direct_entry }}{% endif %}" placeholder="Direct entry">
                                        </div>
                                    </div>
                                        
                                    <span class="hlp-required pointer help" data-field="deadlift_1rm" title="Click to see the guide">?</span>
                                </div>
                                        
                                <label>1RM Overhead Press</label>
                                <div class="form-group strength-fields">
                                    <div class="row s-direct-entry">
                                        <div class="col-sm-6">
                                            <label><input type="checkbox" name="physiological_overhead_press_s_direct_entry" {% if post.physiological_overhead_press_s_direct_entry is defined and post.physiological_overhead_press_s_direct_entry == 1 %}checked{% endif %}> <span>Direct entry?</span></label>
                                        </div>
                                        <div class="col-sm-4 text-right">
                                            <label class="est">Est. 1RM <span>0.00</span></label>
                                        </div>
                                    </div>
                                    <div class="row two-fields {% if post.physiological_overhead_press_s_direct_entry is defined and post.physiological_overhead_press_s_direct_entry == 1 %}hidden{% endif %}">
                                        <div class="col-sm-6">
                                            <input type="text" name="physiological_overhead_press_weight" class="form-control required full-width needs-result-display weight-input" value="{% if post.physiological_overhead_press_weight is defined %}{{ post.physiological_overhead_press_weight }}{% endif %}" placeholder="Weight (kg)">
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text" name="physiological_overhead_press_reps" class="form-control required full-width needs-result-display reps-input" value="{% if post.physiological_overhead_press_reps is defined %}{{ post.physiological_overhead_press_reps }}{% endif %}" placeholder="Reps">
                                        </div>
                                    </div>
                                        
                                    <div class="row direct-entry {% if post.physiological_overhead_press_s_direct_entry is defined and post.physiological_overhead_press_s_direct_entry == 1 %}{% else %}hidden{% endif %}">
                                        <div class="col-sm-12">
                                            <input type="text" name="physiological_overhead_press_direct_entry" class="form-control required" value="{% if post.physiological_overhead_press_direct_entry is defined %}{{ post.physiological_overhead_press_direct_entry }}{% endif %}" placeholder="Direct entry">
                                        </div>
                                    </div>
                                        
                                    <span class="hlp-required pointer help" data-field="overhead_press" title="Click to see the guide">?</span>
                                </div>
                                
                            </div>
                            <div class="col-sm-6">
                                <h4>Biometric</h4>
                                
                                <div class="form-group with-na-option">
                                    <label class="label-control">Body Fat Percentage (%)</label>
                                    <input type="text" name="biometric_body_fat_value"  class="form-control required"value="{% if post.biometric_body_fat_value is defined %}{{ post.biometric_body_fat_value }}{% endif %}" placeholder="Body Fat Percentage (%)" {% if post.biometric_body_fat_value is defined and post.biometric_body_fat_value|lower == 'na' %}readonly{% endif %}>
                                    <div class="checkbox">
                                        <label><input type="checkbox" class="na-body-fat" {% if post.biometric_body_fat_value is defined and post.biometric_body_fat_value|lower == 'na' %}checked{% endif %}> NA</label>
                                    </div>
                                    <span class="hlp-required pointer help" data-field="biometric_body_fat" title="Click to see the guide">?</span>
                                </div>
                                    
                                
                                <div class="form-group">
                                    <label class="label-control">Waist</label>
                                    <input type="text" name="biometric_waist_value" class="form-control required" value="{% if post.biometric_waist_value is defined %}{{ post.biometric_waist_value }}{% endif %}" placeholder="Waist">
                                    <span class="hlp-required pointer help" data-field="biometric_upper" title="Click to see the guide">?</span>
                                </div>
                                <div class="form-group">
                                    <label class="label-control">Chest</label>
                                    <input type="text" name="biometric_chest" class="form-control required" value="{% if post.biometric_chest is defined %}{{ post.biometric_chest }}{% endif %}" placeholder="Chest">
                                </div>
                                <div class="form-group">
                                    <label class="label-control">Abdomen</label>
                                    <input type="text" name="biometric_abdomen" class="form-control required" value="{% if post.biometric_abdomen is defined %}{{ post.biometric_abdomen }}{% endif %}" placeholder="Abdomen">
                                </div>
                                <div class="form-group">
                                    <label class="label-control">HIP</label>
                                    <input type="text" name="biometric_hip" class="form-control required" value="{% if post.biometric_hip is defined %}{{ post.biometric_hip }}{% endif %}" placeholder="HIP">
                                </div>
                                <div class="form-group">
                                    <label class="label-control">Thigh</label>
                                    <div class="row two-fields">
                                        <div class="col-sm-6">
                                            <input type="text" name="biometric_thigh_left" class="form-control required full-width" value="{% if post.biometric_thigh_left is defined %}{{ post.biometric_thigh_left }}{% endif %}" placeholder="L">
                                        </div>
                                        
                                        <div class="col-sm-6">
                                            <input type="text" name="biometric_thigh_right" class="form-control required full-width" value="{% if post.biometric_thigh_right is defined %}{{ post.biometric_thigh_right }}{% endif %}" placeholder="R">
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="form-group">
                                    <label class="label-control">Arm</label>
                                    <div class="row two-fields">
                                        <div class="col-sm-6">
                                            <input type="text" name="biometric_arm_left" class="form-control required full-width" value="{% if post.biometric_arm_left is defined %}{{ post.biometric_arm_left }}{% endif %}" placeholder="Arm">
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text" name="biometric_arm_right" class="form-control required full-width" value="{% if post.biometric_arm_right is defined %}{{ post.biometric_arm_right }}{% endif %}" placeholder="Arm">
                                        </div>
                                    </div>
                                    
                                </div>
                                
                                <div class="form-group">
                                    <label class="label-control">Waist to Hip Ratio</label>
                                    <input type="text" id="waist_hip_ratio" name="waist_hip_ratio" class="form-control required" value="{% if post.waist_hip_ratio is defined %}{{ post.waist_hip_ratio }}{% endif %}" placeholder="Waist to Hip Ratio" readonly>
{#                                    <span class="hlp-required pointer help" data-field="bmi" title="Click to see the guide">?</span>#}
                                </div>
                                
                                <h4>Is this assesment part of an event?</h4>
                                <div class="form-group">
                                    <select name="event_id" class="form-control selectpicker" title="-- select event --">
                                        <option value="">-- select event --</option>
                                        {% for item in events %} 
                                            <option value="{{ item.event_id }}" {% if post.event_id is defined and post.event_id == item.event_id %}selected{% endif %}>{{ item.event_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
                {% if app.session.get('ho_admin_id') is defined and app.session.get('ho_admin_id') != ''%}
                    {% if post.client_test_id is defined %}
                    <button type="button" class="btn btn-danger btn-delete" name="submit" value="delete"><span class="glyphicon glyphicon-remove"></span> Delete</button> 
                    <button type="button" class="btn btn-default btn-draft" name="submit" value="draft"><span class="glyphicon glyphicon-floppy-disk"></span> <span class="text">Save</span></button> 
                    {% endif %}
                {% else %}
                    {% if post.status is defined and post.status == 'draft' %}
                        {% if post.client_test_id is defined %}
                        <button type="button" class="btn btn-danger btn-delete" name="submit" value="delete"><span class="glyphicon glyphicon-remove"></span> Delete Draft</button> 
                        <button type="button" class="btn btn-default btn-draft" name="submit" value="draft"><span class="glyphicon glyphicon-floppy-disk"></span> <span class="text">Save Draft</span></button> 
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</section>

                               
<!-- Modal -->
<div class="modal fade" id="mdlHelp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">HELP</h4>
      </div>
      <div class="modal-body help-container">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{# + Delete area #}
<div id="dialog-confirm" title="Delete this item?" style="display: none">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>These item will be permanently deleted and cannot be recovered. Are you sure?</p>
</div>

<form id="delete" action="{{ path('acme_club_delete_test') }}" method="post">
    {% if post.client_test_id is defined %}
        <input type="hidden" name="client_test_id" value="{{ post.client_test_id }}">
    {% endif %}      
</form>
{# - Delete area #}

<!-- Modal -->
<div class="modal fade" id="mdlDeclaration" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Declaration</h4>
      </div>
      <div class="modal-body help-container">
          <ul>
              <li>I am registered with AIA Vitality as a fitness trainer and acknowledge and agree that I am bound by the Terms and Conditions for Fitness Trainers, the AIA Vitality Fitness 
                    Assessment protocol and any other terms and conditions as noted to me by AIAAustralia Limited (AIAA) from time to time. I confirm that in conducting this fitness 
                    assessment, I have complied with all of the obligations set out in these documents.</li>
              <li>The AIA Vitality member is aware of the specific terms governing this AIA Vitality Fitness Assessment set out in the AIA Vitality Terms and Conditions and that any personal (and sensitive) information arising from this assessment will be collected, 
                used (including handled and stored) and disclosed by AIA Australia LTD, AIA Vitality Company Limited, Discovery Holdings Ltd. (SA) and the relevant AIA Vitality fitness trainer and gym partner in accordance with the privacy policy and/or privacy 
                statement of each of these entities as available on their websites. These documents may be updated from time to time. Any personal (and sensitive) information arising from this assessment will be governed by the most current Privacy Policy and/or Privacy Statement of each of the above entities.</li>
          </ul>
              <br>
              <div style="margin-left: 30px;"><label><input type="checkbox" id="chkDeclaration" > - I confirm that the answers to the questions are true and correct as received from the member.</label></div>
              
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default disabled" id="btnDeclaration">Continue</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block javascripts %}
<script type="text/javascript">
    var asset_img = "{{ asset('img') }}";
    var asset_resources = "{{ asset('resources') }}";
    var test_questionnaire_path = "{{ path('acme_club_create_test_questionnaire') }}";
    var vo2_questionnaire_path = "{{ path('acme_club_create_vo2_questionnaire') }}";
    var get_help_path = "{{ path('acme_club_help_get_help') }}";
    var club_client_id = "{{ client_details.club_client_id }}";
    var client_test_id = "{% if app.request.get('test') is defined %}{{ app.request.get('test') }}{% endif %}";
    var default_height = "{{ client_details.height }}";
    var default_gender = "{{ client_details.gender }}";
    var default_age = "{{ client_details.age }}";
    var is_aia_test = "{% if app.request.get('aia') is defined %}{{ app.request.get('aia') }}{% endif %}";
    
    // Test Result Paths
    var get_bmi_result_path = "{{ path('acme_club_create_test_get_bmi_result') }}";
    var get_physical_activity_result_path = "{{ path('acme_club_create_test_get_physical_activity_result') }}";
    var get_smoking_path = "{{ path('acme_club_create_test_get_smoking_result') }}";
    var get_alcohol_consumption_path = "{{ path('acme_club_create_test_get_alcohol_consumption_result') }}";
    var get_nutrition_path = "{{ path('acme_club_create_test_get_nutrition_result') }}";
    var get_mental_health_path = "{{ path('acme_club_create_test_get_mental_health_result') }}";
    var get_risk_profile_path = "{{ path('acme_club_create_test_get_risk_profile_result')  }}";
    var get_vo2_test_path = "{{ path('acme_club_create_test_get_vo2_test_result') }}";
    var get_balance_test_path = "{{ path('acme_club_create_test_get_balance_test_result') }}";
    var get_waist_hip_ratio_path = "{{ path('acme_club_create_test_get_wait_hip_ratio') }}";
    // removelater
    var get_waist_test_path = "{{ path('acme_club_create_test_get_waist_test_result') }}";
    var s_signup_questions_done = "{% if client_details.s_signup_questions_done is defined and client_details.s_signup_questions_done == 1 %}1{% else %}0{% endif %}";
    s_signup_questions_done = parseInt(s_signup_questions_done);
    var s_signup_health_questions_done = "{% if client_details.s_signup_health_questions_done is defined and client_details.s_signup_health_questions_done == 1 %}1{% else %}0{% endif %}";
    s_signup_health_questions_done = parseInt(s_signup_health_questions_done);
    var s_aia_health_questions_done = "{% if client_details.s_aia_health_questions_done is defined and client_details.s_aia_health_questions_done == 1 %}1{% else %}0{% endif %}";
    s_aia_health_questions_done = parseInt(s_aia_health_questions_done);
    var test_type = "{% if post.test_type is defined and post.test_type == 'aia' %}aia{% else %}normal{% endif %}"
</script>

<script src="{{ asset('templates') }}/hlp-2.0/js/jquery.steps.js"></script>
<!-- Jquery Validate -->
<script src="{{ asset('templates') }}/hlp-2.0/js/jquery.validate.min.js"></script>
<script src="{{ asset('resources') }}/jquery-form/jquery.form.js"></script>
<script src="{{ asset('js') }}/club/test.js"></script>
{% endblock %}