
    {# HEADER #}
    <table class="logo-area">
        {% if test_details.test_type == 'aia' %}
            <tr>
                <td class="logo-anytime">
                    <img src="{{ site_url }}/img/logo-anytime.png">
                </td>
                <td class="logo-aia">
                    <img src="{{ site_url }}/img/aia-vitality-logo-sm.jpg">
                </td>
            </tr>
        {% else %}
            <tr>
                <td class="logo">
                    <img src="{{ site_url }}/img/logo-anytime.png">
                </td>
                <td class="club-name">
                    {{ app.session.get('club_name') }}
                </td>
            </tr>
        {% endif %}
    </table>

    <table class="client">
        <tr>
            <td class="name">
                <p>{{ client_details.fname|upper }} {{ client_details.lname|upper }}<br/>
                <span>{{ client_details.age }} Year old {{ client_details.gender }}</span></p>
            </td>
            <td class="datetime">
                <p>{{ test_details.test_datetime|date("d F Y") }}</p>
            </td>
        </tr>
    </table>

    {% if test_details.event_id != '' %}
        <div class="challenge"><p>Challenge: <span>{{ test_details.event_name }}</span></p></div>
    {% else %}
        <div class="challenge"><p>Challenge: </p></div>
    {% endif %}
    <div class="intro-text">
        The Healthy Life Project is about EDUCATING Australians about how they can potentially live more years free of the burden of disease, INSPIRE them to make the positive changes required in their lives &amp; MOTIVATE them to stick with it.
    </div>
        
    <table class="intro-averages">
        <tr>
            <td class="col-1">
                <img src="{{ site_url }}/templates/hlp-2.0/images/male-logo.png">
                <p>The average Australian male lives for a total of {{ hl_expectancy_male.total_expectancy }} years, {{ hl_expectancy_male.expectancy }} Healthy Life years &amp; {{ hl_expectancy_male.dalys }} Disability affected life years as a result of Injury, Illness or disease. </p>
            </td>
            <td class="col-2">
                <img src="{{ site_url }}/templates/hlp-2.0/images/female-logo.png">
                <p>The average Australian female lives for a total of {{ hl_expectancy_female.total_expectancy }} years, {{ hl_expectancy_female.expectancy }} 
                Healthy Life years & {{ hl_expectancy_female.dalys }} Disability affected life years as a result 
                of Injury, Illness or disease.</p>
            </td>
            <td class="col-3">
                <img src="{{ site_url }}/templates/hlp-2.0/images/heart-logo.png">
                <p>95% of these Years of Healthy life lost are a result of Chronic disease, injury or illness - Most of which could be prevented or avoided through lifestyle modification.</p>
            </td>
        </tr>
    </table>
        

    {# SUMMARY OF YOUR RESULTS #}
                
    <div class="summary">
        <div class='rotate-this'>
            Average Life Expectancy
        </div>
        <table border='0' cellpadding='0' cellspacing='0'>
            <thead>
                <tr>
                    <td class='title' colspan='2'>Summary of Results</td>
{#                    <td></td>#}
                    <td><center><img src="{{ site_url }}/templates/hlp-2.0/images/summary-heartbeat-logo.png"></center></td>
                    <td><center><img src="{{ site_url }}/templates/hlp-2.0/images/summary-apple-logo.png"></center></td>
                    <td><center><img src="{{ site_url }}/templates/hlp-2.0/images/summary-heart-logo.png"></center></td>
                </tr>
            </thead>
            
            <tbody>
                <tr>
                    <td class='purple'>
                        <div>Estimated Years of Potential Healthy Life Lost</div>
                    </td>
                    <td class='row-1 no-border'>
                        <span>
                        {% if test_details.estimated_years_you_will_live_with_did <= 0 %}
                            ---
                        {% else %}
                            {{ '%.1f' | format(test_details.estimated_years_you_will_live_with_did)| replace({".0" : ""}) }} 
                        {% endif %}
                        </span><br>
                        Years of Affected Life
                    </td>
                    <td class='row-1'>
                        <div>
                            <span>
                            {% if (test_details.healthy_life_score * 100) <= 0 %}
                                ---
                            {% else %}
                                {{ '%.1f' | format((test_details.healthy_life_score * 100))| replace({".0" : ""}) }}%
                            {% endif %}
                            </span><br>
                            Of my Healthy Life Potential
                        </div>
                    </td>
                    <td class='row-1'>
                        <div>
                            <span>
                            {% if test_details.estimated_current_healthy_life_age <= 0 %}
                                ---
                            {% else %}
                                {{ '%.1f' | format(test_details.estimated_current_healthy_life_age)| replace({".0" : ""}) }}
                            {% endif %}
                            </span><br>
                            My Healthy Life Age
                        </div>
                    </td>
                    <td class='row-1'>
                        <div>
                            <span>
                            {% if test_details.you_could_add_up_to <= 0 %}
                                ---
                            {% else %}
                                {{ '%.1f' | format(test_details.you_could_add_up_to)| replace({".0" : ""}) }}
                            {% endif %}
                            </span><br>
                            Potential Healthy Life Years to Add
                        </div>
                    </td>
                </tr>
                
                <tr>
                    <td class='gray'>
                        <div>Predicted Years of Healthy Life</div>
                    </td>
                    <td class='row-2'>
                        <span>
                            {% if test_details.estimated_healthy_life_expectancy <= 0 %}
                                ---
                            {% else %}
                                {{ '%.1f' | format(test_details.estimated_healthy_life_expectancy)| replace({".0" : ""}) }} 
                            {% endif %}
                        </span><br>
                        Years of Expected Healthy Life
                    </td>
                    <td class='row-2'>
                        <div>
                        Based on the average Australian, your current age, lifestyle & physical condition.
                        </div>
                    </td>
                    <td class='row-2'>
                        <div>
                        Your estimated 'age' based on your estimated years of healthy life left compared to the Australian average.
                        </div>
                    </td>
                    <td class='row-2'>
                        <div>
                            {% if client_details.age <= 60 %}
                                The number of healthy years you could potentially add to your life by making a change.
                            {% else %}
                                The number of healthy years you could potentially improve your estimated healthy life age through positive changes.
                            {% endif %}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
                        
                        
                        
                        
                        
                        
    {#<div class='full-results lite-test'>
        <div class="title">Full Results</div>
        
        <table class="results-detail" border="0" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <td class="first-row"><div class="result" style="background-color: {{ test_details.healthy_life_score_outcome['color'] }}">{{ test_details.healthy_life_score_outcome['result'] }}</div></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="last-row"></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="first-row">
                        <div class="upper">
                            Your Current Healthy Life Score is<br>
                            <span>
                                {% if (test_details.healthy_life_score * 100) <= 0 %}
                                    ---
                                {% else %}
                                    {{ '%.1f' | format((test_details.healthy_life_score * 100))| replace({".0" : ""}) }}%
                                {% endif %}
                            </span>
                        </div>
                    </td>
                    <td>
                        <div class="upper">
                            Your Predicted Years of Healthy Life<br>
                            <span>
                                {% if test_details.estimated_healthy_life_expectancy <= 0 %}
                                    ---
                                {% else %}
                                    {{ '%.1f' | format(test_details.estimated_healthy_life_expectancy)| replace({".0" : ""}) }}
                                {% endif %}
                            </span>
                        </div>
                    </td>
                    <td>
                        <div class="upper {% if client_details.age > 60 %}age-over-60{% endif %}">
                            {% if client_details.age <= 60 %}
                                Estimated Years of Healthy Life Left<br>
                                <span>
                                    {% if test_details.estimated_years_of_healthy_life_left <= 0 %}
                                        ---
                                    {% else %}
                                        {{ '%.1f' | format(test_details.estimated_years_of_healthy_life_left)| replace({".0" : ""}) }} 
                                    {% endif %}
                                </span>
                            {% else %}
                                Based on the average Australian, your current age, lifestyle & physical condition, you are likely to already be affected by some form of chronic disease, injury or illness. The good news is that positive lifestyle changes can can help manage & reduce further development of existing issues & can also assist in prevention of new conditions.
                            {% endif %}
                        </div>
                    </td>
                    <td>
                        <div class="upper">
                            Estimated number of years you will live with a disability, injury or disease<br>
                            <span>
                                {% if test_details.estimated_years_you_will_live_with_did <= 0 %}
                                    ---
                                {% else %}
                                    {{ '%.1f' | format(test_details.estimated_years_you_will_live_with_did)| replace({".0" : ""}) }}
                                {% endif %}
                            </span>
                        </div>
                    </td>
                    <td class="last-row">
                        <div class="upper">
                            Your estimated current Healthy Life Age is<br>
                            <span>
                                {% if test_details.estimated_current_healthy_life_age <= 0 %}
                                    ---
                                {% else %}
                                    {{ '%.1f' | format(test_details.estimated_current_healthy_life_age)| replace({".0" : ""}) }}
                                {% endif %}
                            </span>
                        </div>
                    </td>
                </tr>
                
                <tr>
                    <td class="first-row">
                        <div class="lower">
                            <p>Your healthy life score is where you are currently at of your 'Healthy Life Potential' - The average Australian is at roughly 80% of their Healthy Life potential, 100% means you are as healthy as can be, below 55% means some serious changes need to be made.</p>
                            <p>95% of these Years of Healthy life lost are a result of Chronic disease or Injury - Most of which could be prevented or avoided through lifestyle modification.</p>
                        </div>
                    </td>
                    <td>
                        <div class="lower">
                            <center>
                                <p>Out of a possible
                                    <span>{{ test_details.max_hle }}</span>
                                    Years
                                </p>
                            </center>
                        </div>
                    </td>
                    
                    <td>
                        {% if client_details.age <= 60 %}
                            <div class="lower">
                                {% if test_details.estimated_years_of_healthy_life_left > 0 %}
                                    <p>Based on the average Australian, your current age, lifestyle & physical 
                                    condition this is an estimate of the number of healthy life years before you 
                                    are likely to be affected by disability, injury or disease - many of which are 
                                    preventable through positive lifestyle change.</p>
                                {% else %}
                                    <p>Based on the average Australian, your current age, lifestyle & physical condition it is likely that you are already affected by some form of disability, injury or chronic disease - the good news is that through positive lifestyle change it is likely that these can be improved or managed.</p>
                                {% endif %}
                            </div>
                        {% else %}
                            <div class="lower-age-over-60">
                            </div>
                        {% endif %}
                    </td>
                    
                    <td>
                        <div class="lower">
                            <center>
                                <p>as opposed to the Australian average of
                                    <span>
                                    {% if test_details.estimated_years_you_will_live_with_did_as_opposed_to <= 0 %}
                                        ---
                                    {% else %}
                                        {{ '%.1f' | format(test_details.estimated_years_you_will_live_with_did_as_opposed_to)| replace({".0" : ""}) }}
                                    {% endif %}
                                    </span>
                                    Years.
                                </p>
                                <p>Remember some or many of these affected years could already be behind you.</p>
                            </center>
                        </div>
                    </td>
                    <td class="last-row">
                        <div class="lower">
                            <p>Based on your estimated years of healthy life left compared to the Australian average.</p>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>#}
                                    
    <div class="focus-results-title">
        {% set test_title = test_details.test_type|replace('-', ' ') %}
        
        {% if test_title == 'weight loss' %}
            <div class="title">Fat Loss Focus</div>
        {% else %}
            <div class="title">{{ test_title|title }} Focus</div>
        {% endif %}
    </div>
    
    <div class="focus-results-body">
        {% if test_details.test_type == 'weight-loss' %}
            <div class="title">Body Mass </div>
            <p>Body mass gives a measure of total body weight.  It is important to realise that although your body weight may not change, your body shape may be changing if you are losing fat & gaining lean muscle mass.  This is why it is important to monitor your body measurements regularly.</p>
            
            <div class="weight-cont">
                <center>
                    <p>Weight
                        <span>{% if test_details.weight is defined %}{{ test_details.weight }}kg{% else %}--{% endif %}</span>
                    </p>
                </center>
            </div>
        {% elseif test_details.test_type == 'strength' %}
            <div class="title">1RM's </div>
            <p>Muscular strength testing provides an estimation of a clients maximal ability to contract muscles against an external resistance.  One repetition maximum testing (1-RM) is a measure of the maximal weight a person can lift in one repetition.</p>
            
            <table class="focus-test-results">
                <tr>
                    <td class="fitness-padding">
                    </td>
                    <td class="fitness-padding">
                    </td>
                    <td class="result-item s100">
                        <center>
                            <p>Squat
                                {% if test_details.physiological_squat_1rm is defined and test_details.physiological_squat_1rm > 0%}
                                    <span>{{ '%.1f' | format(test_details.physiological_squat_1rm)| replace({".0" : ""}) }}kg</span>
                                {% else %}
                                    <span>--</span>
                                {% endif %}
                            </p>
                        </center>
                    </td>
                    
                    <td class="result-item s100">
                        <center>
                            <p>Bench Press
                                {% if test_details.physiological_bench_press_1rm is defined and test_details.physiological_bench_press_1rm > 0%}
                                    <span>{{ '%.1f' | format(test_details.physiological_bench_press_1rm)| replace({".0" : ""}) }}kg</span>
                                {% else %}
                                    <span>--</span>
                                {% endif %}
                            </p>
                        </center>
                    </td>
                    
                    <td class="result-item s100">
                        <center>
                            <p>Deadlift
                                {% if test_details.physiological_deadlift_1rm is defined and test_details.physiological_deadlift_1rm > 0%}
                                    <span>{{ '%.1f' | format(test_details.physiological_deadlift_1rm)| replace({".0" : ""}) }}kg</span>
                                {% else %}
                                    <span>--</span>
                                {% endif %}
                            </p>
                        </center>
                    </td>
                    
                    <td class="result-item s100">
                        <center>
                            <p>Overhead Press
                                {% if test_details.physiological_overhead_press is defined and test_details.physiological_overhead_press > 0%}
                                    <span>{{ '%.1f' | format(test_details.physiological_overhead_press)| replace({".0" : ""}) }}kg</span>
                                {% else %}
                                    <span>--</span>
                                {% endif %}
                            </p>
                        </center>
                    </td>
                </tr>
            </table>
            
        {% elseif test_details.test_type == 'fitness' %}
            <div class="title">Fitness </div>
            <p>Physical fitness is a general state of health and well-being and, more specifically, the ability to perform aspects of sports, work and daily activities. By monitoring many aspects of physical fitness we can measure improvements over time.</p>
            
            <table class="focus-test-results">
                <tr>
                    <td class="fitness-padding">
                    </td>
                    <td class="fitness-padding">
                    </td>
                    <td class="result-item s200">
                        <center>
                            <p>1 Min squat
                                {% if test_details.physiological_squat_1min_min is defined and test_details.physiological_squat_1min_min > 0%}
                                    <span>{{ test_details.physiological_squat_1min_min }}</span>
                                {% else %}
                                    <span>--</span>
                                {% endif %}
                            </p>
                        </center>
                    </td>
                    
                    <td class="result-item s200">
                        <center>
                            <p>1 Min Push ups
                                {% if test_details.physiological_push_ups_1min_min is defined and test_details.physiological_push_ups_1min_min > 0%}
                                    <span>{{ test_details.physiological_push_ups_1min_min }}</span>
                                {% else %}
                                    <span>--</span>
                                {% endif %}
                            </p>
                        </center>
                    </td>
                    
                    <td class="result-item s200">
                        <center>
                            <p>1 Min Sit ups
                                {% if test_details.physiological_sit_ups_1min_min is defined and test_details.physiological_sit_ups_1min_min > 0%}
                                    <span>{{ test_details.physiological_sit_ups_1min_min }}</span>
                                {% else %}
                                    <span>--</span>
                                {% endif %}
                            </p>
                        </center>
                    </td>
                </tr>
            </table>
            <table class="focus-test-results">
                <tr>
                    <td class="fitness-padding">
                    </td>
                    <td class="fitness-padding">
                    </td>
                    <td class="fitness-padding">
                    </td>
                    <td class="fitness-padding">
                    </td>
                    <td class="fitness-padding">
                    </td>
                    <td class="result-item s200">
                        {% set item_min = '' %}
                        {% set item_sec = '' %}
                        {% if test_details.physiological_row_500m_min is defined and test_details.physiological_row_500m_min > 0%}
                            {% set item_min = test_details.physiological_row_500m_min ~ 'min'%}
                        {% endif %}

                        {% if test_details.physiological_row_500m_sec is defined and test_details.physiological_row_500m_sec > 0%}
                            {% set item_sec = test_details.physiological_row_500m_sec ~ 'sec'%}
                        {% endif %}
                        <center>
                            <p>500m Row for Time
                                <span>{{ item_min ~ ' ' ~ item_sec }}</span>
                            </p>
                        </center>
                    </td>
                    
                    <td class="result-item s200">
                        <center>
                            <p>Standing Broad Jump
                                {% if test_details.physiological_standing_broad_jump is defined and test_details.physiological_standing_broad_jump > 0%}
                                    <span>{{ '%.1f' | format(test_details.physiological_standing_broad_jump)| replace({".0" : ""}) }}cm</span>
                                {% else %}
                                    <span>--</span>
                                {% endif %}
                            </p>
                        </center>
                    </td>
                </tr>
            </table>
            
                    
        {% elseif test_details.test_type == 'run' %}
            {% set item_min = '' %}
            {% set item_sec = '' %}
            {% if test_details.physiological_time_trial_min is defined and test_details.physiological_time_trial_min > 0%}
                {% set item_min = test_details.physiological_time_trial_min ~ 'min'%}
            {% endif %}

            {% if test_details.physiological_time_trial_sec is defined and test_details.physiological_time_trial_sec > 0%}
                {% set item_sec = test_details.physiological_time_trial_sec ~ 'sec'%}
            {% endif %}

            <div class="title">{{ test_details.physiological_time_trial_option }} Run </div>
            <p>This represents a measure of your current aerobic fitness. As you improve your fitness and running ability by following the program consistently you can expect to reduce the time it takes you to run the given distance and feel stronger doing it.</p>
            
            <div class="weight-cont">
                <center>
                    <p>Time Trial
                        <span>{{ item_min ~ ' ' ~ item_sec }}</span>
                    </p>
                </center>
            </div>
        {% endif %}


        <div class="measurements-wrap">
            <div class="title">Measurements</div>
            <p>By measuring the circumference of multiple sites around the body we can monitor improvement over time.  Some numbers we may want to decrease (Waist, Hip) & for some people an increase may be desired (Bicep, Chest).</p>
            <table class="measurements">
                <tr>
                    <td class="measure-item">
                        <center>
                            <p>Waist
                                <span>{% if test_details.biometric_waist_value is defined %}{{ test_details.biometric_waist_value }}cm{% else %}--{% endif %}</span>
                            </p>
                        </center>
                    </td>

                    <td class="measure-item">
                        <center>
                            <p>HIP
                                <span>{% if test_details.biometric_hip is defined %}{{ test_details.biometric_hip }}cm{% else %}--{% endif %}</span>
                            </p>
                        </center>
                    </td>

                    <td class="measure-item">
                        <center>
                            <p>Abdomen
                                <span>{% if test_details.biometric_abdomen is defined %}{{ test_details.biometric_abdomen }}cm{% else %}--{% endif %}</span>
                            </p>
                        </center>
                    </td>

                    <td class="measure-item">
                        <center>
                            <p>Chest
                                <span>{% if test_details.biometric_chest is defined %}{{ test_details.biometric_chest }}cm{% else %}--{% endif %}</span>
                            </p>
                        </center>
                    </td>

                    <td class="measure-item">
                        <center>
                            <p>Arm L
                                <span>{% if test_details.biometric_arm_left is defined %}{{ test_details.biometric_arm_left }}cm{% else %}--{% endif %}</span>
                            </p>
                        </center>
                    </td>

                    <td class="measure-item">
                        <center>
                            <p>Arm R
                                <span>{% if test_details.biometric_arm_right is defined %}{{ test_details.biometric_arm_right }}cm{% else %}--{% endif %}</span>
                            </p>
                        </center>
                    </td>

                    <td class="measure-item">
                        <center>
                            <p>Thigh L
                                <span>{% if test_details.biometric_thigh_left is defined %}{{ test_details.biometric_thigh_left }}cm{% else %}--{% endif %}</span>
                            </p>
                        </center>
                    </td>

                    <td class="measure-item">
                        <center>
                            <p>Thigh R
                                <span>{% if test_details.biometric_thigh_right is defined %}{{ test_details.biometric_thigh_right }}cm{% else %}--{% endif %}</span>
                            </p>
                        </center>
                    </td>
                </tr>
            </table>
        </div>
        
    </div>
                                    
    <div class="highlight lite-test">
        {% if client_details.age <= 60 %}
            You could add up to 
            <span>
                {% if test_details.you_could_add_up_to <= 0 %}
                    --- years
                {% else %}
                    {{ '%.1f' | format(test_details.you_could_add_up_to)| replace({".0" : ""}) }} years
                {% endif %}
            </span> 
            years to your estimated healthy life years.
        {% else %}
            You could improve your estimated healthy life age by up to 
            <span>
                {% if test_details.you_could_add_up_to <= 0 %}
                    --- years
                {% else %}
                    {{ '%.1f' | format(test_details.you_could_add_up_to)| replace({".0" : ""}) }} years
                {% endif %}
            </span> 
            years.
        {% endif %}
    </div>
        
    <div class="detail-row">
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td class="icon">
                    <img src="{{ site_url }}/img/reports-icons/{{ test_details.lifestyle_physical_activity_result['color_val'] }}.png">
                    {#{% if test_details.lifestyle_physical_activity_result['level'] == 'High'%}
                        <img src="{{ site_url }}/img/reports-icons/report-alert-{{ test_details.lifestyle_physical_activity_result['color'] }}-icon.png">
                    {% elseif test_details.lifestyle_physical_activity_result['level'] == 'Low'%}
                        <img src="{{ site_url }}/img/reports-icons/report-check-{{ test_details.lifestyle_physical_activity_result['color'] }}-icon.png">
                    {% else %}
                        <img src="{{ site_url }}/img/reports-icons/report-gray-{{ test_details.lifestyle_physical_activity_result['color'] }}-icon.png">
                    {% endif %}#}
                    
                </td>
                <td class="description">
                    <span class="heading">Physical Activity</span>
                    <p>Physical activity is any activity that gets your body moving, makes your breathing become quicker and your heart beat faster.  You can be physically active in many different ways, at any time of the day.</p>
                    <p>
                        YOUR SCORE: {{ test_details.lifestyle_physical_activity_result['text']|raw }}
                    </p>
                </td>
            </tr>
        </table>
    </div>
                    
    <div class="detail-row">
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td class="icon">
                    <img src="{{ site_url }}/img/reports-icons/{{ test_details.lifestyle_smoking_result['color_val'] }}.png">
                </td>
                <td class="description">
                    <span class="heading">Smoking Habits</span>
                    <p>Physical activity is any activity that gets your body moving, makes your breathing become quicker and your heart beat faster.  You can be physically active in many different ways, at any time of the day.</p>
                    <p>Tobacco smoking is a leading risk factor for chronic disease and early death, including many types of cancer, respiratory disease and heart disease - Tobacco smoking is one of the highest contributors to the burden of disease in Australia of all the risk factors for ill health.</p>
                    <p>YOUR SCORE:  {{ test_details.lifestyle_smoking_result['text']|raw }}</p>
                </td>
            </tr>
        </table>
    </div>
                
    <div class="detail-row">
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td class="icon">
                    <img src="{{ site_url }}/img/reports-icons/{{ test_details.lifestyle_alcohol_result['color_val'] }}.png">
                    
                </td>
                <td class="description">
                    <span class="heading">Alcohol Consumption</span>
                    <p>The consumption of alcohol is widespread in Australia and entwined with many social and cultural activities.  Excessive consumption is a major cause of road and other accidents, domestic and public violence, crime, liver disease and brain damage, and contributes to family breakdown and broader social dysfunction.  Based on the standards outlined by the National Health & Medical Resource Council, One in Five Australians drink at levels that place them at risk of lifetime harm and over two in five Australian adults drink at levels that placed them at risk of an alcohol related injury from a single drinking occassion. </p>
                    <p>YOUR SCORE: {{ test_details.lifestyle_alcohol_result['text']|raw }}</p>
                </td>
            </tr>
        </table>
    </div>
                
    <div class="detail-row">
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td class="icon">
                    <img src="{{ site_url }}/img/reports-icons/{{ test_details.lifestyle_nutrition_result['color_val'] }}.png">
                    
                </td>
                <td class="description">
                    <span class="heading">Nutrition</span>
                    <p>A healthy diet is crucial to ensure we get enough of the nutrients essential for good health and to help reduce our risk of chronic health problems such as heart disease, type 2 diabetes, some cancers and obesity. Our dietary patterns are made up of foods and drinks, not simply nutrients – it’s the types and amounts of the foods and drinks that we consume regularly that really matter for our health.  We may also feel better, look better, enjoy life more and live longer! </p>
                    <p>YOUR SCORE: {{ test_details.lifestyle_nutrition_result['text']|raw }}</p>
                </td>
            </tr>
        </table>
    </div>
                
    <div class="detail-row">
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td class="icon">
                    <img src="{{ site_url }}/img/reports-icons/{{ test_details.biometric_body_fat_result['color_val'] }}.png">

                </td>
                <td class="description">
                    <span class="heading">Body Fat Percentage</span>
                    <p>Your body fat % is an estimate of the percentage of fat your body contains. Some body fat is required for overall health as it plays an important role in protecting internal organs, providing energy, and regulating hormones.  Excess body fat is linked to an increased risk for diseases such as cancer, diabetes, and heart disease.</p>
                    <p>YOUR SCORE: {{ test_details.biometric_body_fat_result['text']|raw }}</p>
                </td>
            </tr>
        </table>
    </div>
    
    <div class="detail-row">
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td class="icon">
                    <img src="{{ site_url }}/img/reports-icons/{{ test_details.biometric_waist_result['color_val'] }}.png">
                    
                </td>
                <td class="description">
                    <span class="heading">Waist Measurement</span>
                    <p>Measuring your waist circumference is a simple check to tell how much body fat you have and where it is placed around your body.  Where your fat is located can be an important sign of your risk of developing an ongoing health problem.</p>
                    <p>YOUR SCORE: {{ test_details.biometric_waist_result['text']|raw }}</p>
                </td>
            </tr>
        </table>
    </div>
                
    <div class="detail-row">
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td class="icon">
                    <img src="{{ site_url }}/img/reports-icons/{{ test_details.waist_hip_ratio_result['color_val'] }}.png">

                </td>
                <td class="description">
                    <span class="heading">Waist to Hip Ratio</span>
                    <p>Your Waist to Hip ratio gives an indication of where fatty deposits are located & a high waist to hip ratio has been associated with many chronic health conditions - specifically heart disease, hypertension & stroke.</p>
                    <p>YOUR SCORE: {{ test_details.waist_hip_ratio_result['text']|raw }}</p>
                </td>
            </tr>
        </table>
    </div>
                    
    <div class="footer">
        <p>
            The Healthy Life Project & Healthy Life Score is designed to give you an overall idea of your health & well-being, & a general indication of how lifestyle, physiological & biometric factors may affect it. The test will also give you a general indication of whether there is more you can do to improve. This is not intended to be a medical diagnostic tool, nor a substitute for professional medical advice. It has been designed as a tool to Educate, Inspire & Motivate on possible positive change in respect to your health & well-being.
        </p>
        <p>
            Use of this site, and all information contained within is subject to our <a href="http://www.healthylifeproject.com.au/disclaimer/" target="_blank">legal disclaimer</a>.
        </p>
    </div>
                


