{% extends "::club_layout.html.twig" %}

{% block title %}View Test{% endblock %}

{% block stylesheets %}
<link href="{{ asset('css') }}/new-lite-test.css" rel="stylesheet">
{% endblock %}

{% block body %}
    
<section id="sub-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <a href="{{ path('acme_club_client_view') }}?id={{ client_details.club_client_id }}"><h3>{{ client_details.fname|upper }} {{ client_details.lname|upper }}</h3></a>
            </div>
            <div class="col-sm-8 col-xs-5">
                <p>{{ client_details.age }} Year Old {{ client_details.gender|capitalize }}</p>
            </div>
            <div class="col-sm-4">
                <div class="col-sm-12 test-action">
                    <p>{{ test_details.test_datetime|date("d F Y") }}</p>
                </div>
                <div class="col-xs-6 test-action">
                    <a class="email-this-test" data-test-id="{{ test_details.client_test_id }}" data-email="{{ client_details.email }}"><img src="{{ asset('templates') }}/hlp-2.0/images/icon-envelope.png"> Email this test</a>
                </div>
                <div class="col-xs-6 test-action second">
                    <a href="{{ path('acme_club_create_lite_test') }}?id={{ client_details.club_client_id }}&test={{ test_details.client_test_id }}&type={{ test_details.test_type }}"><img src="{{ asset('templates') }}/hlp-2.0/images/icon-angle-right.png"> {% if app.session.get('ho_admin_id') is defined and app.session.get('ho_admin_id') != '' %}Edit{% else %}View{% endif %} test inputs</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==============================================
                12 week challenge
                =============================================== -->
<section id="week-challenge">
    <div class="container">
        <p><span>Challenge:&nbsp;</span>
            {% if test_details.event_id != '' %}
                {{ test_details.event_name }}
            {% endif %}</p>
        <h3>The Healthy Life Project is about EDUCATING Australians about how they can potentially live more years free of the burden of disease, INSPIRE them to make the positive changes required in their lives & MOTIVATE them to stick with it.</h3>
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-4 text-center">
                    <img src="{{ asset('templates') }}/hlp-2.0/images/male-logo.png" class="img-responsive img-centered">
                    <p style="margin: 10px 0; font-size: 14px;">The average Australian male lives for a total of {{ hl_expectancy_male.total_expectancy }} years, {{ hl_expectancy_male.expectancy }} Healthy Life years & {{ hl_expectancy_male.dalys }} Disability affected life years as a result of Injury, Illness or disease.</p>
                </div>
                <div class="col-sm-4 text-center">
                    <img src="{{ asset('templates') }}/hlp-2.0/images/female-logo.png" class="img-responsive img-centered">
                    <p style="margin: 10px 0; font-size: 14px;">The average Australian female lives for a total of {{ hl_expectancy_female.total_expectancy }} years, {{ hl_expectancy_female.expectancy }} Healthy Life years & {{ hl_expectancy_female.dalys }} Disability affected life years as a result of Injury, Illness or disease.</p>
                </div>
                <div class="col-sm-4 text-center">
                    <img src="{{ asset('templates') }}/hlp-2.0/images/heart-logo.png" class="img-responsive img-centered">
                    <p style="margin: 10px 0; font-size: 14px;">95% of these Years of Healthy life lost are a result of Chronic disease, injury or illness - Most of which could be prevented or avoided through lifestyle modification.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ==============================================
                summary results
                =============================================== -->
<section id="summary-result">
    <div class="container">
        <div class="col-sm-5">
            <div class="row">
                <h3 style="text-align:left;">Summary of Results</h3>
                <div class="col-xs-1">
                    <div class="rotate">
                        <p>Average Life Expectancy</p>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="blue-block margin-top-30 text-center">
                        <p>Estimated Years of Potential Healthy Life Lost</p>
                    </div>
                    <div class="gray-block text-center">
                        <p>Predicted Years of Healthy Life</p>
                    </div>
                </div>
                <div class="col-xs-4">
                    <h2 class="margin-top-30">
                        {% if test_details.estimated_years_you_will_live_with_did <= 0 %}
                            ---
                        {% else %}
                            {{ '%.1f' | format(test_details.estimated_years_you_will_live_with_did)| replace({".0" : ""}) }} 
                        {% endif %}
                    </h2>
                    <p>Years of Affected Life</p>
                    <h2 class="margin-top-60">
                        {% if test_details.estimated_healthy_life_expectancy <= 0 %}
                            ---
                        {% else %}
                            {{ '%.1f' | format(test_details.estimated_healthy_life_expectancy)| replace({".0" : ""}) }} 
                        {% endif %}
                    </h2>
                    <p>Years of Expected Healthy Life</p>
                </div>
            </div>
        </div>
        <div class="col-sm-7">
            <div class="row">
                <div class="col-sm-4 col-xs-12 text-center">
                    <div class="row">
                        <div class="border-bottom">
                            <div class="col-xs-1 hide">&nbsp;&nbsp;</div>
                            <div class="summary-header">
                                <img src="{{ asset('templates') }}/hlp-2.0/images/summary-heartbeat-logo.png">
                                <h2 class="margin-top-30">
                                    {% if (test_details.healthy_life_score * 100) <= 0 %}
                                        ---
                                    {% else %}
                                        {{ '%.1f' | format((test_details.healthy_life_score * 100))| replace({".0" : ""}) }}%
                                    {% endif %}
                                </h2>
                                <p>of my Healthy Life Potential</p>
                            </div>
                            <div class="summary-body">
                                <p>Based on the average Australian, your current age, lifestyle & physical condition.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12 text-center">
                    <div class="row">
                        <div class="border-bottom">
                            <div class="col-xs-1 hide">&nbsp;&nbsp;</div>
                            <div class="summary-header">
                                <img src="{{ asset('templates') }}/hlp-2.0/images/summary-apple-logo.png">
                                <h2 class="margin-top-30">
                                    {% if test_details.estimated_current_healthy_life_age <= 0 %}
                                        ---
                                    {% else %}
                                        {{ '%.1f' | format(test_details.estimated_current_healthy_life_age)| replace({".0" : ""}) }}
                                    {% endif %}
                                </h2>
                                <p>My Healthy Life Age</p>
                            </div>
                            <div class="summary-body">
                                <p>Your estimated 'age' based on your estimated years of healthy life left compared to the Australian average.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12 text-center">
                    <div class="row">
                        <div class="border-bottom">
                            <div class="col-xs-1 hide">&nbsp;&nbsp;</div>
                            <div class="summary-header">
                                <img src="{{ asset('templates') }}/hlp-2.0/images/summary-heart-logo.png">
                                <h2 class="margin-top-30">
                                    {% if test_details.you_could_add_up_to <= 0 %}
                                        ---
                                    {% else %}
                                        {{ '%.1f' | format(test_details.you_could_add_up_to)| replace({".0" : ""}) }}
                                    {% endif %}
                                </h2>
                                <p>Potential Healthy Life Years to Add</p>
                            </div>
                            <div class="summary-body">
                                {% if client_details.age <= 60 %}
                                    <p>The number of healthy years you could potentially add to your life by making a change.</p>
                                {% else %}
                                    <p>The number of healthy years you could potentially improve your estimated healthy life age through positive changes.</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==============================================
                full results
                =============================================== -->
<section id="full-result">
    <div class="container">
        {#<h3>Full Results</h3>
        <div class="poor" style="background-color: {{ test_details.healthy_life_score_outcome['color'] }} !important;">
            <p>{{ test_details.healthy_life_score_outcome['result']|upper }}</p>
        </div>
        <div class="col-sm-5ths">
            <div class="test-report-header">
                <p>Your Current Healthy Life Score is</p>
                <h3>
                    {% if (test_details.healthy_life_score * 100) <= 0 %}
                        ---
                    {% else %}
                        {{ '%.1f' | format((test_details.healthy_life_score * 100))| replace({".0" : ""}) }}%
                    {% endif %}
                </h3>
            </div>
            <div class="test-report-body">
                <p>
                    Your healthy life score is where you are currently at of your 'Healthy Life Potential' - The average Australian is at roughly 80% of their Healthy Life potential, 100% means you are as healthy as can be, below 55% means some serious changes need to be made.
                </p>
                <p>
                    95% of these Years of Healthy life lost are a result of Chronic disease or Injury - Most of which could be prevented or avoided through lifestyle modification.
                </p>
            </div>
        </div>
        <div class="col-sm-5ths">
            <div class="test-report-header">
                <p>Your Predicted Years of Healthy Life</p>
                <h3>
                    {% if test_details.estimated_healthy_life_expectancy <= 0 %}
                        ---
                    {% else %}
                        {{ '%.1f' | format(test_details.estimated_healthy_life_expectancy)| replace({".0" : ""}) }}
                    {% endif %}
                </h3>
            </div>
            <div class="test-report-body">
                <p class="text-center">
                    Out of a possible
                </p>
                <h3 class="text-center">
                    {{ test_details.max_hle }}
                </h3>
                <p class="text-center">
                    Years
                </p>
            </div>
        </div>
        <div class="col-sm-5ths">
            <div class="test-report-header">
                {% if client_details.age <= 60 %}
                    <p>Estimated Years of Healthy Life Left</p>
                    <h3>{% if test_details.estimated_years_of_healthy_life_left <= 0 %}
                            ---
                        {% else %}
                            {{ '%.1f' | format(test_details.estimated_years_of_healthy_life_left)| replace({".0" : ""}) }} 
                        {% endif %}</h3>
                {% else %}
                    <p>
                        Based on the average Australian, your current age, lifestyle & physical condition, you are likely to already be affected by some form of chronic disease, injury or illness. The good news is that positive lifestyle changes can can help manage & reduce further development of existing issues & can also assist in prevention of new conditions.
                    </p>
                {% endif %}
            </div>
            <div class="test-report-body {% if client_details.age > 60 %}age-over-60{% endif %}">
                {% if client_details.age <= 60 %}
                <p>
                    Based on the average Australian, your current age, lifestyle & physical condition this is an estimate of the number of healthy life years before you are likely to be affected by disability, injury or disease - many of which are preventable through positive lifestyle change.
                </p>
                {% endif %}
            </div>
        </div>
        <div class="col-sm-5ths">
            <div class="test-report-header">
                <p>Estimated number of years you will live with a disability, injury or disease.</p>
                <h3>
                {% if test_details.estimated_years_you_will_live_with_did <= 0 %}
                    ---
                {% else %}
                    {{ '%.1f' | format(test_details.estimated_years_you_will_live_with_did)| replace({".0" : ""}) }}
                {% endif %}
                </h3>
            </div>
            <div class="test-report-body">
                <p class="text-center">
                    as opposed to the Australian average of
                </p>
                <h3 class="text-center">
                    {% if test_details.estimated_years_you_will_live_with_did_as_opposed_to <= 0 %}
                        ---
                    {% else %}
                        {{ '%.1f' | format(test_details.estimated_years_you_will_live_with_did_as_opposed_to)| replace({".0" : ""}) }}
                    {% endif %}
                </h3>
                <p class="text-center">Years.</p>
                <p class="text-center">Remember some or many of these affected years could already be behind you.</p>
            </div>
        </div>
        <div class="col-sm-5ths">
            <div class="test-report-header">
                <p>Your estimated current Healthy Life Age is</p>
                <h3>
                    {% if test_details.estimated_current_healthy_life_age <= 0 %}
                        ---
                    {% else %}
                        {{ '%.1f' | format(test_details.estimated_current_healthy_life_age)| replace({".0" : ""}) }}
                    {% endif %}
                </h3>
            </div>
            <div class="test-report-body">
                <p>
                    Based on your estimated years of healthy life left compared to the Australian average.
                </p>
            </div>
        </div>#}
        
        
            
        
        <div class="assessment-title">
            {% set test_title = test_details.test_type|replace('-', ' ') %}
            {% if test_title == 'weight loss' %}
                <h3>Fat Loss Focus</h3>
            {% else %}
                <h3>{{ test_title|title }} Focus</h3>
            {% endif %}
        </div>
        <div class="section-white">
            {% if test_details.test_type == 'weight-loss' %}
                <div class="row">
                    <div class="col-sm-12">
                        <h3>Body Mass </h3>

                        <p>Body mass gives a measure of total body weight.  It is important to realise that although your body weight may not change, your body shape may be changing if you are losing fat & gaining lean muscle mass.  This is why it is important to monitor your body measurements regularly.</p>
                        
                    </div>
                </div>
                <br/>
                <div class="row measurements">
                    <div class="col-sm-5"></div>
                    <div class="col-sm-2 measure-item">
                        <div>
                        <p>Weight</p>
                        <h3>{% if test_details.weight is defined %}{{ test_details.weight }}kg{% else %}--{% endif %}</h3>
                        </div>
                    </div>
                    <div class="col-sm-5"></div>
                </div>
            {% elseif test_details.test_type == 'strength' %}
                <div class="row">
                    <div class="col-sm-12">
                        <h3>1RM's </h3>

                        <p>Muscular strength testing provides an estimation of a clients maximal ability to contract muscles against an external resistance.  One repetition maximum testing (1-RM) is a measure of the maximal weight a person can lift in one repetition.</p>
                    </div>
                </div>

                <div class="row focus-test-results">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-2 result-item">
                        <div>
                            <p>Squat</p>
                            
                            {% if test_details.physiological_squat_1rm is defined and test_details.physiological_squat_1rm > 0%}
                                <h3>{{ '%.1f' | format(test_details.physiological_squat_1rm)| replace({".0" : ""}) }}kg</h3>
                            {% else %}
                                <h3>--</h3>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-sm-2 result-item">
                        <div>
                            <p>Bench Press</p>
                            {% if test_details.physiological_bench_press_1rm is defined and test_details.physiological_bench_press_1rm > 0%}
                                <h3>{{ '%.1f' | format(test_details.physiological_bench_press_1rm)| replace({".0" : ""}) }}kg</h3>
                            {% else %}
                                <h3>--</h3>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-sm-2 result-item">
                        <div>
                            <p>Deadlift</p>
                            {% if test_details.physiological_deadlift_1rm is defined and test_details.physiological_deadlift_1rm > 0%}
                                <h3>{{ '%.1f' | format(test_details.physiological_deadlift_1rm)| replace({".0" : ""}) }}kg</h3>
                            {% else %}
                                <h3>--</h3>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-sm-2 result-item">
                        <div>
                            <p>Overhead Press</p>
                            {% if test_details.physiological_overhead_press is defined and test_details.physiological_overhead_press > 0%}
                                <h3>{{ '%.1f' | format(test_details.physiological_overhead_press)| replace({".0" : ""}) }}kg</h3>
                            {% else %}
                                <h3>--</h3>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                        
            {% elseif test_details.test_type == 'fitness' %}
                <div class="row">
                    <div class="col-sm-12">
                        <h3>Fitness </h3>

                        <p>Physical fitness is a general state of health and well-being and, more specifically, the ability to perform aspects of sports, work and daily activities. By monitoring many aspects of physical fitness we can measure improvements over time.</p>
                    </div>
                </div>

                <div class="row focus-test-results">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-2 result-item">
                        <div>
                            <p>1 Min squat</p>
                            {% if test_details.physiological_squat_1min_min is defined and test_details.physiological_squat_1min_min > 0%}
                                <h3>{{ test_details.physiological_squat_1min_min }}</h3>
                            {% else %}
                                <h3>--</h3>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-sm-2 result-item">
                        <div>
                            <p>1 Min Push ups</p>
                            {% if test_details.physiological_push_ups_1min_min is defined and test_details.physiological_push_ups_1min_min > 0%}
                                <h3>{{ test_details.physiological_push_ups_1min_min }}</h3>
                            {% else %}
                                <h3>--</h3>
                            {% endif %}
                            
                        </div>
                    </div>
                    <div class="col-sm-2 result-item">
                        <div>
                            <p>1 Min Sit ups</p>
                            {% if test_details.physiological_sit_ups_1min_min is defined and test_details.physiological_sit_ups_1min_min > 0%}
                                <h3>{{ test_details.physiological_sit_ups_1min_min }}</h3>
                            {% else %}
                                <h3>--</h3>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
                <div class="row focus-test-results">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-2 result-item">
                        <div>
                            <p>500m Row for Time</p>
                            {% set item_min = '' %}
                            {% set item_sec = '' %}
                            {% if test_details.physiological_row_500m_min is defined and test_details.physiological_row_500m_min > 0%}
                                {% set item_min = test_details.physiological_row_500m_min ~ 'min'%}
                            {% endif %}
                            
                            {% if test_details.physiological_row_500m_sec is defined and test_details.physiological_row_500m_sec > 0%}
                                {% set item_sec = test_details.physiological_row_500m_sec ~ 'sec'%}
                            {% endif %}
                            
                            <h3>{{ item_min ~ ' ' ~ item_sec }}</h3>
                        </div>
                    </div>
                    <div class="col-sm-2 result-item">
                        <div>
                            <p>Standing Broad Jump</p>
                            {% if test_details.physiological_standing_broad_jump is defined and test_details.physiological_standing_broad_jump > 0%}
                                <h3>{{ '%.1f' | format(test_details.physiological_standing_broad_jump)| replace({".0" : ""}) }}cm</h3>
                            {% else %}
                                <h3>--</h3>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
                        
            {% elseif test_details.test_type == 'run' %}
                
                <div class="row">
                    <div class="col-sm-12">
                        

                        <h3>{{ test_details.physiological_time_trial_option }} Run</h3>

                        <p>This represents a measure of your current aerobic fitness. As you improve your fitness and running ability by following the program consistently you can expect to reduce the time it takes you to run the given distance and feel stronger doing it.</p>
                    </div>
                </div>
                <br/>
                {% set item_min = '' %}
                {% set item_sec = '' %}
                {% if test_details.physiological_time_trial_min is defined and test_details.physiological_time_trial_min > 0%}
                    {% set item_min = test_details.physiological_time_trial_min ~ 'min'%}
                {% endif %}

                {% if test_details.physiological_time_trial_sec is defined and test_details.physiological_time_trial_sec > 0%}
                    {% set item_sec = test_details.physiological_time_trial_sec ~ 'sec'%}
                {% endif %}
                <div class="row measurements">
                    <div class="col-sm-5"></div>
                    <div class="col-sm-2 measure-item">
                        <div>
                        <p>Time Trial</p>
                        <h3>{{ item_min ~ ' ' ~ item_sec }}</h3>
                        </div>
                    </div>
                    <div class="col-sm-5"></div>
                </div>
                
            {% endif %}
            
            
            
            <div class="row">
                <div class="col-sm-12">
                    <h3>Measurements</h3>
                    <p>By measuring the circumference of multiple sites around the body we can monitor improvement over time.  Some numbers we may want to decrease (Waist, Hip) & for some people an increase may be desired (Bicep, Chest).</p>
                </div>
            </div>
            <div class="row measurements">
                <div class="col-sm-6">
                    <div class="col-sm-3 measure-item">
                        <div>
                            <p>Waist</p>
                            <h3>{% if test_details.biometric_waist_value is defined %}{{ test_details.biometric_waist_value }}cm{% else %}--{% endif %}</h3>
                        </div>
                    </div>
                    <div class="col-sm-3 measure-item">
                        <div>
                            <p>HIP</p>
                            <h3>{% if test_details.biometric_hip is defined %}{{ test_details.biometric_hip }}cm{% else %}--{% endif %}</h3>
                        </div>
                    </div>
                    <div class="col-sm-3 measure-item">
                        <div>
                            <p>Abdomen</p>
                            <h3>{% if test_details.biometric_abdomen is defined %}{{ test_details.biometric_abdomen }}cm{% else %}--{% endif %}</h3>
                        </div>
                    </div>
                    <div class="col-sm-3 measure-item">
                        <div>
                            <p>Chest</p>
                            <h3>{% if test_details.biometric_chest is defined %}{{ test_details.biometric_chest }}cm{% else %}--{% endif %}</h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="col-sm-3 measure-item">
                        <div>
                            <p>Arm L</p>
                            <h3>{% if test_details.biometric_arm_left is defined %}{{ test_details.biometric_arm_left }}cm{% else %}--{% endif %}</h3>
                        </div>
                    </div>
                    <div class="col-sm-3 measure-item">
                        <div>
                            <p>Arm R</p>
                            <h3>{% if test_details.biometric_arm_right is defined %}{{ test_details.biometric_arm_right }}cm{% else %}--{% endif %}</h3>
                        </div>
                    </div>
                    <div class="col-sm-3 measure-item">
                        <div>
                            <p>Thigh L</p>
                            <h3>{% if test_details.biometric_thigh_left is defined %}{{ test_details.biometric_thigh_left }}cm{% else %}--{% endif %}</h3>
                        </div>
                    </div>
                    <div class="col-sm-3 measure-item">
                        <div>
                            <p>Thigh R</p>
                            <h3>{% if test_details.biometric_thigh_right is defined %}{{ test_details.biometric_thigh_right }}cm{% else %}--{% endif %}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner-blue">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                {% if client_details.age <= 60 %}
                    <h1>You could add up to 
                    {% if test_details.you_could_add_up_to <= 0 %}
                        ---
                    {% else %}
                        {{ '%.1f' | format(test_details.you_could_add_up_to)| replace({".0" : ""}) }} 
                    {% endif %}
                    years to your estimated healthy life years.</h1>
                {% else %}
                    <h1>You could improve your estimated healthy life age by up to 
                    {% if test_details.you_could_add_up_to <= 0 %}
                        ---
                    {% else %}
                        {{ '%.1f' | format(test_details.you_could_add_up_to)| replace({".0" : ""}) }} 
                    {% endif %}
                    years.</h1>
                {% endif %}
            </div>
            
        </div>
        <div class="activity">
            <div class="col-sm-2">
                <div class="gauge" data-value="{{ test_details.lifestyle_physical_activity_result['color_val'] }}"></div>
            </div>
            <div class="col-sm-10">
                <h3>Physical Activity</h3>
                <p>Physical activity is any activity that gets your body moving, makes your breathing become quicker and your heart beat faster.  You can be physically active in many different ways, at any time of the day.</p>
                <p>
                    <strong>YOUR SCORE:</strong> {{ test_details.lifestyle_physical_activity_result['text']|raw }}
                </p>
            </div>
        </div>
        <div class="activity">
            <div class="col-sm-2">
                <div class="gauge" data-value="{{ test_details.lifestyle_smoking_result['color_val'] }}"></div>
            </div>
            <div class="col-sm-10">
                <h3>Smoking Habits</h3>
                <p>Tobacco smoking is a leading risk factor for chronic disease and early death, including many types of cancer, respiratory disease and heart disease - Tobacco smoking is one of the highest contributors to the burden of disease in Australia of all the risk factors for ill health.</p>
                <p><strong>YOUR SCORE:</strong>  {{ test_details.lifestyle_smoking_result['text']|raw }}</p>
            </div>
        </div>
        <div class="activity">
            <div class="col-sm-2">
                <div class="gauge" data-value="{{ test_details.lifestyle_alcohol_result['color_val'] }}"></div>
            </div>
            <div class="col-sm-10">
                <h3>Alcohol Consumption</h3>
                <p>The consumption of alcohol is widespread in Australia and entwined with many social and cultural activities.  Excessive consumption is a major cause of road and other accidents, domestic and public violence, crime, liver disease and brain damage, and contributes to family breakdown and broader social dysfunction.  Based on the standards outlined by the National Health & Medical Resource Council, One in Five Australians drink at levels that place them at risk of lifetime harm and over two in five Australian adults drink at levels that placed them at risk of an alcohol related injury from a single drinking occassion. </p>
                <p><strong>YOUR SCORE:</strong> {{ test_details.lifestyle_alcohol_result['text']|raw }}</p>
            </div>
        </div>
        <div class="activity">
            <div class="col-sm-2">
                <div class="gauge" data-value="{{ test_details.lifestyle_nutrition_result['color_val'] }}"></div>
            </div>
            <div class="col-sm-10">
                <h3>Nutrition</h3>
                <p>A healthy diet is crucial to ensure we get enough of the nutrients essential for good health and to help reduce our risk of chronic health problems such as heart disease, type 2 diabetes, some cancers and obesity. Our dietary patterns are made up of foods and drinks, not simply nutrients – it’s the types and amounts of the foods and drinks that we consume regularly that really matter for our health.  We may also feel better, look better, enjoy life more and live longer! </p>
                <p><strong>YOUR SCORE:</strong> {{ test_details.lifestyle_nutrition_result['text']|raw }}</p>
            </div>
        </div>
              
        <div class="activity">
            <div class="col-sm-2">
                <div class="gauge" data-value="{{ test_details.biometric_body_fat_result['color_val'] }}"></div>
            </div>

            <div class="col-sm-10">
                <h3>Body Fat Percentage</h3>
                <p>Your body fat % is an estimate of the percentage of fat your body contains. Some body fat is required for overall health as it plays an important role in protecting internal organs, providing energy, and regulating hormones.  Excess body fat is linked to an increased risk for diseases such as cancer, diabetes, and heart disease.</p>
                <p><strong>YOUR SCORE:</strong> {{ test_details.biometric_body_fat_result['text']|raw }}</p>
            </div>
        </div>
        
        
        <div class="activity">
            <div class="col-sm-2">
                <div class="gauge" data-value="{{ test_details.biometric_waist_result['color_val'] }}"></div>
            </div>
            <div class="col-sm-10">
                <h3>Waist Measurement</h3>
                <p>Measuring your waist circumference is a simple check to tell how much body fat you have and where it is placed around your body.  Where your fat is located can be an important sign of your risk of developing an ongoing health problem.</p>
                <p><strong>YOUR SCORE:</strong> {{ test_details.biometric_waist_result['text']|raw }}</p>
            </div>
        </div>
            
        <div class="activity">
            <div class="col-sm-2">
                <div class="gauge" data-value="{{ test_details.waist_hip_ratio_result['color_val'] }}"></div>
            </div>
            <div class="col-sm-10">
                <h3>Waist to Hip Ratio</h3>
                <p>Your Waist to Hip ratio gives an indication of where fatty deposits are located & a high waist to hip ratio has been associated with many chronic health conditions - specifically heart disease, hypertension & stroke.</p>
                <p><strong>YOUR SCORE:</strong> {{ test_details.waist_hip_ratio_result['text']|raw }}</p>
            </div>
        </div>
        
        <div class="col-xs-12">
            <p>
                The Healthy Life Project & Healthy Life Score is designed to give you an overall idea of your health & well-being, & a general indication of how lifestyle, physiological & biometric factors may affect it. The test will also give you a general indication of whether there is more you can do to improve. This is not intended to be a medical diagnostic tool, nor a substitute for professional medical advice. It has been designed as a tool to Educate, Inspire & Motivate on possible positive change in respect to your health & well-being.
            </p>
            <p>
                Use of this site, and all information contained within is subject to our <a href="http://www.healthylifeproject.com.au/disclaimer/" target="_blank">legal disclaimer</a>.
            </p>
        </div>
    </div>
</section>
                
                
<!-- Modal -->
<div class="modal fade" id="emailTestModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">EMAIL THIS TEST</h4>
      </div>
      <div class="modal-body">
        <form id="emailTest" action="{{ path('acme_club_email_lite_test') }}" method="post">
            <div class="form-group">
                <label>Recipients (separated by comma)</label>
                <input type="text" name="recipients" class="form-control" placeholder="example@email.com" required>
                <input type="hidden" name="client_test_id">
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary send">Send</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block javascripts %}
<script type="text/javascript">
    $('.gauge').each(function(i, e){
        new Gauge($(this), { value: parseInt($(this).attr('data-value')) });
    });
    
    var email_full_test_url = "{{ path('acme_club_email_test') }}";
    var email_focus_test_url = "{{ path('acme_club_email_lite_test') }}";
</script>
{#<script src="{{ asset('js') }}/club/view-test.js"></script>#}
{% endblock %}