<!DOCTYPE html>
<html lang="en-US">

<head>

    <!-- ==============================================
		Title and Meta Tags
		=============================================== -->
    <meta charset="utf-8">
    <title>Healthy LIfe| Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- ==============================================
		Favicons
		=============================================== -->
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
    <!--
		<link rel="shortcut icon" href="{{ asset('templates') }}/hlp-2.0/images/favicon.ico">
		<link rel="apple-touch-icon" href="{{ asset('templates') }}/hlp-2.0/images/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="72x72" href="{{ asset('templates') }}/hlp-2.0/images/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="{{ asset('templates') }}/hlp-2.0/images/apple-touch-icon-114x114.png">
-->

    <!-- ==============================================
		CSS
		=============================================== -->
    <link rel="stylesheet" href="{{ asset('templates') }}/hlp-2.0/css/bootstrap.css">
    <link rel="stylesheet" href="{{ asset('templates') }}/hlp-2.0/css/font-awesome.min.css">
    <link id="theme" rel="stylesheet" href="{{ asset('templates') }}/hlp-2.0/css/color-1.css">
    <link rel="stylesheet" href="{{ asset('css') }}/login.css">
    <!-- ==============================================
		Fonts
		=============================================== -->
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,200,600,700' rel='stylesheet' type='text/css'>


    <!-- ==============================================
		JS
		=============================================== -->
    <script type="text/javascript" src="{{ asset('templates') }}/hlp-2.0/js/libs/modernizr.min.js"></script>
    <style type="text/css">
        html,body{
            height: 100%;
        }
        body{
            overflow: auto !important;
        }
    </style>
</head>

<body class="login-background">
    <!-- ==============================================
		Form
		=============================================== -->
    <div id="login-form" class="col-sm-6 col-sm-offset-2 col-md-5 col-md-offset-2" style="height: 100%; position:absolute; bottom:40px;">
        <div class="login-content">
            <div class="living-logo">
                <img src="{{ asset('templates') }}/hlp-2.0/images/Login/living-logo.png" class="img-responsive img-centered">            
{#                <p class="text-center">Not a member yet? <a href="#">Sign up now</a></p>#}
                <div class="form-group">
                    <div class="col-xs-12 col-md-8 col-md-offset-2">
                        {% for flashMessage in app.session.flashbag.get('error') %}
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ flashMessage|raw }}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                
                <form method="post" class="form-horizontal" id="login-form" action="">
                    {% if app.request.get('club') is defined and app.request.get('club') != '' %}
                        <input type="hidden" name="club" value="{{ app.request.get('club') }}">
                    {% endif %}
                    <div class="form-group">
                        <div class="col-xs-12 col-md-8 col-md-offset-2">
                            {% if app.request.get('club') is defined and app.request.get('club') != '' %}
                                <input type="email" name="email" value="{{ app.request.get('headoffice') }}" placeholder="Email address" class="form-control">
                            {% else %}
                                <input type="email" name="email" value="{% if post.email is defined %}{{ post.email }}{% endif %}" placeholder="Email address" class="form-control">
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-md-8 col-md-offset-2">
                            <input type="password" name="password" placeholder="Password" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-md-8 col-md-offset-2 remember-me">
                            <label><input type="checkbox" name="remember_me" checked> Remember me</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-md-8 col-md-offset-2">
                            <button type="submit" class="btn" style="width:100%">Login</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
                            <a class="link" href="{{ path('acme_club_admin_reset_password') }}">I forgot my password</a>
                        </div>
                    </div>
                    {#<div class="form-group">
                        <div class="col-xs-6 col-md-8 col-md-offset-2">
                            <a href="" class="btn facebook-btn" style="width:100%">
                              <span class="logo-circle"><i class="fa fa-facebook"></i></span>
                              <span class="signIN">Sign in with </span>
                              <span><strong>Facebook</strong></span>
                            </a>
                        </div>                    
                        <div class="col-xs-6 col-md-8 col-md-offset-2">
                            <a href="" class="btn google-btn" style="width:100%">
                                <span class="logo-circle"><i class="fa fa-google-plus"></i></span>
                                <span class="signIN">Sign in with </span>
                                <span><strong>Google</strong></span>
                            </a>
                        </div>
                    </div>#}
                </form>
            </div>
        </div>
    </div>
    
    <!-- ==============================================
		Login-footer
		=============================================== -->
    <section id="login-footer">         
        <p class="text-center">OUR PARTNERS</p>
        <div class="col-xs-4 col-sm-2 col-sm-offset-3">
            <a href="http://voodoocreative.com.au/" target="_blank"><img src="{{ asset('templates') }}/hlp-2.0/images/Login/vodoo-logo.png" class="img-responsive img-centered margin-top-10"></a>
        </div>
        <div class="col-xs-4 col-sm-2">
            <a href="http://www.anytimefitness.com.au" target="_blank"><img src="{{ asset('templates') }}/hlp-2.0/images/Login/anyTime-logo.png" class="img-responsive img-centered margin-top-10"></a>
        </div>
        <div class="col-xs-4 col-sm-2">
            <a href="https://www.metabolicjumpstart.com/" target="_blank"><img src="{{ asset('templates') }}/hlp-2.0/images/Login/metabolic-logo.png" class="img-responsive img-centered"></a>
        </div>
        <div class="col-xs-12">
        <p class="text-center copyright">Copyright 2015 - Healthy Life Project</p>
            </div>
    </section>
    <!-- ==============================================
		SCRIPTS
		=============================================== -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="{{ asset('templates') }}/hlp-2.0/js/libs/jquery-1.9.1.min.js">\x3C/script>')

    </script>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','{{ asset('js') }}/google-analytics.js','ga');
{#    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');#}

    ga('create', 'UA-42580516-3', 'auto');
    ga('send', 'pageview');
    </script>
    <script src="{{ asset('templates') }}/hlp-2.0/js/libs/bootstrap.min.js"></script>
    <script src="{{ asset('templates') }}/hlp-2.0/js/libs/bootstrap-select.min.js"></script>
    <script src="{{ asset('templates') }}/hlp-2.0/js/libs/bootstrap-toggle.min.js"></script>
    <script src="{{ asset('templates') }}/hlp-2.0/js/jquery.easing.1.3.min.js"></script>
    <script src="{{ asset('templates') }}/hlp-2.0/js/waypoints.min.js"></script>
    <script src="{{ asset('templates') }}/hlp-2.0/js/owl.carousel.min.js"></script>
    <script src="{{ asset('templates') }}/hlp-2.0/js/jquery.validate.min.js"></script>
    <!--		<script src="{{ asset('templates') }}/hlp-2.0/js/contact.js"></script>-->
    <script src="{{ asset('templates') }}/hlp-2.0/js/scripts.js"></script> 
        
</body>
</html>
