{% extends "::club_layout.html.twig" %}

{% block title %}Help{% endblock %}

{% block body %}
<style>
a:hover, a:focus{
    color:#6c4695!important;
}

</style>
<div class="container">
    <div class="row row-new">
        <div class="col-md-6">
            
        </div>
        
        <div class="col-md-12" style="padding-bottom:10px;padding-top: 10px;">
            
            {#{% if club_admin_details.s_aia_approved != 1 %}#}
                <a class="btn btn-default" href="{{ path('acme_club_aia_vitality_trainer_registration') }}">AIA Vitality Member Registration</a>
            {#{% endif %}#}
                <br>
        </div>
    </div>
    <div class="row row-new">
        <div class="col-md-4">
            <div class="side_bar" id="side_bar">
                <div class="side_title">What are you looking for?</div>
                <div id="sidebar">
                    <div id="nav-anchor"></div>
                    <nav1>
                        <ul>
                            <li id="li_general"><a href="#general">General Help</a></li>
                            <li id="li_assessment"><a href="#assessment">Healthy Life Assessment</a></li>
                            <li id="li_aia"><a href="#aia">AIA Vitality</a></li>
                            <li id="li_material"><a href="#materials">Marketing Materials for your club</a></li>
                        </ul>
                    </nav1>
                </div><!-- /sidebar -->
            </div>
                
        </div>
        <div class="col-md-8">
            <div id="content">
            
            
        
            <section id="general">
                <h1 id="h_general">General Help</h1>
                <div class="row row-new" >
                        <div class="col-md-3 col-sm-12">
                            <iframe width="100%" height="115" src="https://www.youtube.com/embed/nPP__QBhvsE" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <div class="video_label">What is Healthy Life Project</div>
                </div>
                <div class="row row-new">
                        <div class="col-md-3 col-sm-12">
                            <iframe width="100%" height="115" src="https://www.youtube.com/embed/eYUIE0-fIu8" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <div class="video_label">The Club Dashboard Overview</div>
                </div> 
            <p><a href="http://healthylifeproject.com.au/web/help-doc/Healthy Life Project Basic Guide.pdf" target="_blank">Basic Guide</a></p>
            <p><a href="http://healthylifeproject.com.au/web/help-doc/Goal Setting Guide.pdf" target="_blank">Goal Setting Guide</a></p> 
            <p><a href="http://healthylifeproject.com.au/web/help-doc/Member Journey.pdf" target="_blank">Member Journey Guide</a></p>
            <p><a href="http://healthylifeproject.com.au/web/help-doc/Offline Test Form.pdf" target="_blank">Printable Test Form for offline tests</a></p>
            </section>  
            <br/>
            <section id="assessment">
                <h1 id="h_assessment">Healthy Life Assessment</h1>
                 <div class="row row-new">
                        <div class="col-md-6 col-sm-12">
                            <h4>Education</h4>
                            <p><a href="http://healthylifeproject.com.au/web/help-doc/Assesment Eductation - What is the Healthy Life Assessment.pdf" target="_blank">1. What is the Healthy Life Assessment</a></p>
                            <p><a href="http://healthylifeproject.com.au/web/help-doc/Assesment Eductation - Physical Activity.pdf" target="_blank">2. Physical Activity</a></p>
                            <p><a href="http://healthylifeproject.com.au/web/help-doc/Assesment Eductation - Smoking.pdf" target="_blank">3. Smoking</a></p>
                            <p><a href="http://healthylifeproject.com.au/web/help-doc/Assesment Eductation - Alcohol Consumption.pdf" target="_blank">4. Alcohol Consumption</a></p>
                            <p><a href="http://healthylifeproject.com.au/web/help-doc/Assesment Eductation - Nutrition.pdf" target="_blank">5. Nutrition</a></p>
                            <p><a href="http://healthylifeproject.com.au/web/help-doc/Assesment Eductation - Mental Health.pdf" target="_blank">6. Mental Health</a></p>
                            <p><a href="http://healthylifeproject.com.au/web/help-doc/Assesment Eductation - Risk.pdf" target="_blank">7. Risk Profile</a></p>
                            <p><a href="http://healthylifeproject.com.au/web/help-doc/Assesment Eductation - Weight.pdf" target="_blank">8. Weight</a></p>
                            <p><a href="http://healthylifeproject.com.au/web/help-doc/Assesment Eductation - Cardio.pdf" target="_blank">9. Cardiovascular Efficiency</a></p>
                            <p><a href="http://healthylifeproject.com.au/web/help-doc/Assesment Eductation - Balance.pdf" target="_blank">10. Balance</a></p>
                            <p><a href="http://healthylifeproject.com.au/web/help-doc/Assesment Eductation - Lower Boyd Strength.pdf" target="_blank">11. Lower Body Strength & Mobility</a></p>
                            <p><a href="http://healthylifeproject.com.au/web/help-doc/Assesment Eductation - Abdominal Strength.pdf" target="_blank">12. Abdominal Strength</a></p>
                            <p><a href="http://healthylifeproject.com.au/web/help-doc/Assesment Eductation - Measurements.pdf" target="_blank">13. Measurements</a></p>
                            <p><a href="http://healthylifeproject.com.au/web/help-doc/Assesment Eductation - Body Fat.pdf" target="_blank">14. Body Fat %</a></p>
                            <p><a href="http://healthylifeproject.com.au/web/help-doc/Assesment Eductation - Blood Pressure.pdf" target="_blank">15. Blood Pressure</a></p>
                            <p><a href="http://healthylifeproject.com.au/web/help-doc/Assesment Eductation - Blood Oxyygen.pdf" target="_blank">16. Blood Oxygen %</a></p>
                            <a class="btn btn-default" href="http://healthylifeproject.com.au/web/help-doc/Assesment Eductation - FULL GUIDE.pdf" target="_blank">Download the full guide</a>
                        </div>
                        <div class="col-md-6 col-sm-12" style="border-left: 1px solid rgb(240,240,240);">
                            <h4>How to perform the test</h4>  
                            <p><a href="http://healthylifeproject.com.au/web/help-doc/How to perform the tests - Physical Activity.pdf" target="_blank">Physical Activity</a></p>
                            <p><a href="http://healthylifeproject.com.au/web/help-doc/How to perform the tests -Smoking.pdf" target="_blank">Smoking</a></p>
                            <p><a href="http://healthylifeproject.com.au/web/help-doc/How to perform the tests -Alcohol.pdf" target="_blank">Alcohol Consumption</a></p>
                            <p><a href="http://healthylifeproject.com.au/web/help-doc/How to perform the tests -Nutrition.pdf" target="_blank">Nutrition</a></p>
                            <p><a href="http://healthylifeproject.com.au/web/help-doc/How to perform the tests - Mental Health.pdf" target="_blank">Mental Health</a></p>
                            <p><a href="http://healthylifeproject.com.au/web/help-doc/How to perform the tests - Risk Profile.pdf" target="_blank">Risk Profile</a></p>
                            <div class="row row-new vid">
                                <div class="col-md-6 col-sm-12" >
                                    <iframe width="100%" height="115" src="https://www.youtube.com/embed/eYUIE0-fIu8" frameborder="0" allowfullscreen></iframe>
                                </div>
                                <div class="video_label"><a href="http://healthylifeproject.com.au/web/help-doc/How to perform the tests - Weight.pdf" target="_blank">Weight</a></div>
                            </div>
                            <p><a href="http://healthylifeproject.com.au/web/help-doc/How to perform the tests - Body Mass Index.pdf" target="_blank">Body Mass Index</a></p>
                            <div class="row row-new vid">
                                <div class="col-md-6 col-sm-12" >
                                    <iframe width="100%" height="115" src="https://www.youtube.com/embed/D6D7mlUmAy4" frameborder="0" allowfullscreen></iframe>
                                </div>
                                <div class="video_label"><a href="http://healthylifeproject.com.au/web/help-doc/How to perform the tests -Cardiovascular Efficiency.pdf" target="_blank">Cardiovascular Efficiency</a></div>
                            </div>
                            <div class="row row-new vid">
                                <div class="col-md-6 col-sm-12" >
                                    <iframe width="100%" height="115" src="https://www.youtube.com/embed/X8U7OiEiSw0" frameborder="0" allowfullscreen></iframe>
                                </div>
                                <div class="video_label"><a href="http://healthylifeproject.com.au/web/help-doc/How to perform the tests -Balance.pdf" target="_blank">Balance Test</a></div>
                            </div>
                            <div class="row row-new vid">
                                <div class="col-md-6 col-sm-12" >
                                    <iframe width="100%" height="115" src="https://www.youtube.com/embed/OuUjQD0Wq0c" frameborder="0" allowfullscreen></iframe>
                                </div>
                                <div class="video_label"><a href="http://healthylifeproject.com.au/web/help-doc/How to perform the tests -Lower Body Strength.pdf" target="_blank">Lower Body Strength & Mobility</a></div>
                            </div>
                            <div class="row row-new vid">
                                <div class="col-md-6 col-sm-12" >
                                    <iframe width="100%" height="115" src="https://www.youtube.com/embed/FEzOZAzlKLI" frameborder="0" allowfullscreen></iframe>
                                </div>
                                <div class="video_label"><a href="http://healthylifeproject.com.au/web/help-doc/How to perform the tests -Abdominal Strenght.pdf" target="_blank">Abdominal Strength</a></div>
                            </div>
                            <div class="row row-new vid">
                                <div class="col-md-6 col-sm-12" >
                                    <iframe width="100%" height="115" src="https://www.youtube.com/embed/dK14Gp3R8kA" frameborder="0" allowfullscreen></iframe>
                                </div>
                                <div class="video_label"><a href="http://healthylifeproject.com.au/web/help-doc/How to perform the tests -Measurements.pdf" target="_blank">Measurements</a></div>
                            </div>
                            <div class="row row-new vid">
                                <div class="col-md-6 col-sm-12" >
                                    <iframe width="100%" height="115" src="https://www.youtube.com/embed/voiYeCzGu3A" frameborder="0" allowfullscreen></iframe>
                                </div>
                                <div class="video_label"><a href="http://healthylifeproject.com.au/web/help-doc/How to perform the tests -Body Fat.pdf" target="_blank">Body Fat</a> </div>
                            </div>
                            <div class="row row-new vid">
                                <div class="col-md-6 col-sm-12" >
                                    <iframe width="100%" height="115" src="https://www.youtube.com/embed/X6EwlSmeZBY" frameborder="0" allowfullscreen></iframe>
                                </div>
                                <div class="video_label"><a href="http://healthylifeproject.com.au/web/help-doc/How to perform the tests - Blood Pressure.pdf" target="_blank">Blood Pressure</a></div>
                            </div>
                             <div class="row row-new vid">
                                <div class="col-md-6 col-sm-12" >
                                    <iframe width="100%" height="115" src="https://www.youtube.com/embed/h_GzJUBjo64" frameborder="0" allowfullscreen></iframe>
                                </div>
                                <div class="video_label"><a href="http://healthylifeproject.com.au/web/help-doc/How to perform the tests - Blood Pressure.pdf" target="_blank">Blood Pressure</a></div>
                            </div>
                            <a class="btn btn-default" href="http://healthylifeproject.com.au/web/help-doc/How to perform the tests - FULL GUIDE.pdf" target="_blank">Download the full guide</a>
                        </div>
                </div>
                
            </section>   
             <br/> 
            <section id="aia">
                <h1 id="h_aia">AIA Vitality</h1>
                 <div class="row row-new">
                        <div class="col-md-3 col-sm-12">
                            <iframe width="100%" height="115" src="https://www.youtube.com/embed/zW9vE4FGlGk" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <div class="video_label">AIA vitality requirements</div>
                </div>
                <div class="row row-new">
                        <div class="col-md-3 col-sm-12">
                            <iframe width="100%" height="115" src="https://www.youtube.com/embed/TzOKYQMvQwM" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <div class="video_label">Conducting the AIA vitality healthy life test</div>
                </div>
            </section>  
            <br/> 
            <section id="materials">
                <h1 id="h_material">Marketing Materials for your club</h1>
                <div class="row row-new" style="margin-left: 5px;">
                    <div class="col-md-3 col-sm-9 marketing_mat">
                            <a href="http://healthylifeproject.com.au/web/help-doc/DL Flyer Template.pdf">
                                <img src="{{asset('img')}}/help_icons/dl_flyer.png"/><br/>
                                <b style="color: #000;font-size:14px;">DL Flyer</b><br/>
                                <label style="color:#47b69b;">PDF</label>
                            </a>
                        </div>
                       <div class="col-md-3 col-sm-9 marketing_mat">
                            <a href="http://healthylifeproject.com.au/web/help-doc/A3 Poster Templates.pdf">
                                <img src="{{asset('img')}}/help_icons/posters.png"/></a><br/>
                                <b style="color: #000;font-size:14px;">Posters</b><br/>
                                <label style="color:#47b69b;">PDF</label>
                        </div>
                        <div class="col-md-3 col-sm-9 marketing_mat">
                            <a href="http://healthylifeproject.com.au/web/help-doc/Free Test Hand Out Card.pdf">
                                <img src="{{asset('img')}}/help_icons/free_test_hand_out.png"/></a><br/>
                                <b style="color: #000;font-size:14px;">Free Test Hand out Card</b><br/>
                                <label style="color:#47b69b;">PDF</label>
                        </div>
                </div>
                <div class="row row-new" style="margin-left: 5px;">
                    <div class="col-md-3 col-sm-9 marketing_mat">
                            <a href="http://healthylifeproject.com.au/web/help-doc/Healthy-Life-Project-Marketing_Pull-UpBanner_A4.pdf">
                                <img src="{{asset('img')}}/help_icons/pull_up_banner_a4.png"/><br/>
                                <b style="color: #000;font-size:14px;">Pull-up Banner A4</b><br/>
                                <label style="color:#47b69b;">PDF</label>
                            </a>
                        </div>
                       <div class="col-md-3 col-sm-9 marketing_mat">
                            <a href="http://healthylifeproject.com.au/web/help-doc/Healthy-Life-Project-Marketing_Pull-UpBanner-850x2000mm.pdf">
                                <img src="{{asset('img')}}/help_icons/pull_up_banner_850x2000mm.png"/></a><br/>
                                <b style="color: #000;font-size:14px;">Pull-up Banner 850x2000mm</b><br/>
                                <label style="color:#47b69b;">PDF</label>
                        </div>
                        <div class="col-md-3 col-sm-9 marketing_mat">
                            <a href="http://healthylifeproject.com.au/web/help-doc/Healthy-Life-Project-Marketing_Window-Sticker-A-830x1800mm.pdf">
                                <img src="{{asset('img')}}/help_icons/window_sticker_a.png"/></a><br/>
                                <b style="color: #000;font-size:14px;">Window Sticker A-830x1800mm</b><br/>
                                <label style="color:#47b69b;">PDF</label>
                        </div>
                </div>
                <div class="row row-new" style="margin-left: 5px;">
                    <div class="col-md-3 col-sm-9 marketing_mat">
                            <a href="http://healthylifeproject.com.au/web/help-doc/Healthy-Life-Project-Marketing_Window-Sticker-B-830x1800mm.pdf">
                                <img src="{{asset('img')}}/help_icons/window_sticker_b.png"/><br/>
                                <b style="color: #000;font-size:14px;">Window Sticker B-830x1800mm</b><br/>
                                <label style="color:#47b69b;">PDF</label>
                            </a>
                        </div>
                       <div class="col-md-3 col-sm-9 marketing_mat">
                            <a href="http://healthylifeproject.com.au/web/help-doc/Healthy-Life-Project-Marketing_Window-Sticker-C-830x1800mm.pdf">
                                <img src="{{asset('img')}}/help_icons/window_sticker_c.png"/></a><br/>
                                <b style="color: #000;font-size:14px;">Window Sticker C-830x1800mm</b><br/>
                                <label style="color:#47b69b;">PDF</label>
                        </div>
                        <div class="col-md-3 col-sm-9 marketing_mat">
                            <a href="http://healthylifeproject.com.au/web/help-doc/Healthy-Life-Project-Marketing_Wobbler-A.pdf">
                                <img src="{{asset('img')}}/help_icons/wobbler_a.png"/></a><br/>
                                <b style="color: #000;font-size:14px;">Wobbler A</b><br/>
                                <label style="color:#47b69b;">PDF</label>
                        </div>
                </div>
                <div class="row row-new" style="margin-left: 5px;">
                    <div class="col-md-3 col-sm-9 marketing_mat">
                            <a href="http://healthylifeproject.com.au/web/help-doc/Healthy-Life-Project-Marketing_Wobbler-B.pdf">
                                <img src="{{asset('img')}}/help_icons/wobbler_b.png"/><br/>
                                <b style="color: #000;font-size:14px;">Wobbler B</b><br/>
                                <label style="color:#47b69b;">PDF</label>
                            </a>
                        </div>
                       <div class="col-md-3 col-sm-9 marketing_mat">
                            <a href="http://healthylifeproject.com.au/web/help-doc/Healthy-Life-Project-Marketing_Wobbler-C.pdf">
                                <img src="{{asset('img')}}/help_icons/wobbler_c.png"/></a><br/>
                                <font style="color: #000;font-size:14px;">Wobbler C</font><br/>
                                <label style="color:#47b69b;">PDF</label>
                        </div>
                        <div class="col-md-3 col-sm-9 marketing_mat">
                            <a href="http://healthylifeproject.com.au/web/help-doc/Healthy-Life-Project-Marketing_Wobbler-D.pdf">
                                <img src="{{asset('img')}}/help_icons/wobbler_d.png"/></a><br/>
                                <b style="color: #000;font-size:14px;">Wobbler D</b><br/>
                                <label style="color:#47b69b;">PDF</label>
                        </div>
                </div>
                <div class="row row-new" style="margin-left: 5px;">
                    <div class="col-md-3 col-sm-9 marketing_mat">
                            <a href="http://healthylifeproject.com.au/web/help-doc/Healthy-Life-Project-Marketing_Wobbler-E.pdf">
                                <img src="{{asset('img')}}/help_icons/wobbler_e.png"/><br/>
                                <b style="color: #000;font-size:14px;">Wobbler E</b><br/>
                                <label style="color:#47b69b;">PDF</label>
                            </a>
                        </div>
                       <div class="col-md-3 col-sm-9 marketing_mat">
                            <a href="http://healthylifeproject.com.au/web/help-doc/Healthy-Life-Project-Marketing_Wobbler-F.pdf">
                                <img src="{{asset('img')}}/help_icons/wobbler_f.png"/></a><br/>
                                <b style="color: #000;font-size:14px;">Wobbler F</b><br/>
                                <label style="color:#47b69b;">PDF</label>
                        </div>
                        
                </div>
                
            </section>
        
            </div>
         
        
        </div><!-- /#content -->
        
            
           
        </div>
        
       
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js') }}/club/event.js"></script>
{% endblock %}
