{% extends "::club_client_layout.html.twig" %}

{% block title %}Healthy Life | Lifestyle Questionnaires{% endblock %}

{% block stylesheets %}
<link href="{{ asset('templates') }}/hlp-2.0/css/jquery.steps.css" rel="stylesheet">
<link href="{{ asset('css') }}/lifestyle-questionnaires-test-invitation.css" rel="stylesheet">
{% endblock %}


{% block body %}
<!-- ==============================================
    HEADER
    =============================================== -->
<header id="header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 gym-title">
{#                    <img src="{{ asset('templates')  }}/hlp-2.0/images/fitness.png" class="img-responsive">#}
                <img src="{{ asset('img') }}/fitness.jpg" class="img-responsive"> <h2>{% if club_details.club_name is defined %}{{ club_details.club_name }}{% endif %}</h2>
{#                    <img src="{{ asset('resources') }}/html2image/html2image.php?nome={{ app.session.get('club_name') }}" class="img-responsive">#}
            </div>
        </div>
    </div>
</header>
<!--End header -->   
<div id="main-content">
    <!-- ==============================================
                    ABOUT
    =============================================== -->

    <section id="info-bar">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 left">
                    <a href="{{ path('acme_club_client_view') }}?id={{ client_details.club_client_id }}"><h1>{{ client_details.fname|upper }} {{ client_details.lname|upper }}</h1></a>
                    <p>{{ client_details.age }} Year old {{ client_details.gender }}</p>
                </div>
                <div class="col-sm-6 right">
    {#                <p class="date">07 September 2015</p>#}
                    <p class="date">{% if post.test_datetime is defined %}{{ post.test_datetime|date("d F Y") }}{% else %}{{ "now"|date("d F Y") }}{% endif %}</p>
                    <p>Coached by {{ client_details.coach_fname }} {{ client_details.coach_lname }}</p>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="row ">
            <div class='col-sm-2'></div>
            <div class="col-sm-8">
                
                {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-danger test-alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <h4>You've got the following error: </h4>
                    <ul>
                    {% for item in flashMessage %}
                        <li>{{ item.message }}</li>
                    {% endfor %}
                    </ul>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <section id="form-wizard">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <form id="testForm" action="{{ path('acme_club_client_lifestyle_questionnaires') }}" class="wizard-big" method="post">
                        <input type="hidden" name="submit_type" value="draft">
                        <input type="hidden" name="club_client_id" value="{{ client_details.club_client_id }}">
                        <input type="hidden" name="test" value="{% if test_id is defined %}{{ test_id }}{% endif %}">
                        <h1>Lifestyle</h1>
                        <fieldset>
                            <div class="row">
                                <div class="col-lg-12">
                                    <h4><i class="hlp-required pointer help" data-field="physical_activity" title="Click to see the guide">?</i> Physical Activity</h4>
                                    <h6 class="no-margin-left">This assessment has been designed to give an indication of whether you are meeting the current Australian guidelines for physical activity and sedentary behaviour.</h6>

                                    {% for item in physical_activity_questions %}
                                        <div class="form-group"> 
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label class="bullet">{{ item.question|raw }}</label>
                                                </div>
                                                <div class="col-sm-offset-1 col-sm-5">
                                                    <input type="number" class="form-control required" name="{{ item.class }}" {#name="answer[{{ item.lq_id }}]"#} value="{{ item.answer }}" id="{{ item.class }}" placeholder="0">
                                                </div> 
                                            </div>
                                        </div>
                                    {% endfor %}

                                    <hr>

                                    <h4><i class="hlp-required pointer help" data-field="smoking" title="Click to see the guide">?</i> Smoking Habits</h4>

                                    <div class="form-group"> 
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label class="bullet">Please select the following description that best describes your smoking habits or history.</label>
                                            </div>
                                            <div class="col-sm-offset-1 col-sm-5">
                                                 <select name="lifestyle_smoking" class="form-control selectpicker required" title="--- smoke habits --- ">
                                                    <option value="">--- smoke habits ---</option>
                                                    {% for item in smoking_options %}
                                                    <option value="{{ item.option_value }}" {% if smoking_answer is defined and smoking_answer is not empty and smoking_answer == item.option_value  %}selected{% endif %}> {{ item.option_description }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div> 
                                        </div>
                                    </div>


                                    <hr>

                                    <h4><i class="hlp-required pointer help" data-field="alcohol" title="Click to see the guide">?</i> Alcohol Consumption</h4>
                                    <h6 class="no-margin-left">This test has been designed based on the Australian guidelines for Alcohol consumption.</h6>
                                    {% for item in alcohol_questions %}
                                        <div class="form-group"> 
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label class="bullet">{{ item.question }}</label>
                                                </div>
                                                <div class="col-sm-offset-1 col-sm-5">
                                                    <input type="number" id="{{ item.class }}" name="{{ item.class }}" {#name="answer[{{ item.lq_id }}]"#} value="{{ item.answer }}" class="form-control required" placeholder="0">
                                                </div> 
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <hr>

                                    <h4><i class="hlp-required pointer help" data-field="nutrition" title="Click to see the guide">?</i> Nutrition</h4>
                                    <h6 class="no-margin-left">This test is based on the current Australian Dietary guidelines for Healthy eating and has been created to give an indication of whether you are eating for your health.</h6>
                                    <div class="form-group nutrition-items"> 
                                        {% for item in nutrition_questions %}
                                            <div class="row item">
                                                <div class="col-sm-6">
                                                    <label class="bullet">{{ item.question }}</label>
                                                </div>
                                                <div class="col-sm-offset-1 col-sm-5">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="nutrition[{{ item.lq_id }}]" {#name="answer[{{ item.lq_id }}]"#} class="{{ item.class }} opt1" value="0" {% if item.answer is defined and item.answer == 0 and item.answer is not empty %}checked{% endif %}> No
                                                        </label>
                                                    </div>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="nutrition[{{ item.lq_id }}]" {#name="answer[{{ item.lq_id }}]"#} class="{{ item.class }} opt2" value="1" {% if item.answer is defined and item.answer == 1 %}checked{% endif %}> Yes
                                                        </label>
                                                    </div>
                                                </div> 
                                                <hr>
                                            </div>
                                        {% endfor %}





                                    </div>
                                </div>
                            </div>
                        </fieldset>



                        <h1>Wellness</h1>
                        <fieldset>
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4><i class="hlp-required pointer help" data-field="mental_health" title="Click to see the guide">?</i> Mental Health</h4>
                                    <h6 class="no-margin-left">This test has been designed to assess your risk of Mental Health concerns – it is called the 'Kessler – 10' and is used as part of the Australian National Mental Health Strategy.</h6>
                                    <h6 class="no-margin-left">In the last 30 days, how often have you felt:</h6>
                                    <div class="row">
                                        <div class="col-sm-4">
                                        </div>
                                        <div class="col-sm-offset-1 col-sm-7 answer-selection-heading">
                                            <ul>
                                                <li><label>None of the time</label></li>
                                                <li><label>A little of the time</label></li>
                                                <li><label>Some of the time</label></li>
                                                <li><label>Most of the time</label></li>
                                                <li><label>All of the time</label></li>
                                            </ul>
                                        </div>
                                    </div>
                                    {% for item in mental_health_questions %}
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <label class="bullet">{{ item.question }}</label>
                                            </div>
                                            <div class="col-sm-offset-1 col-sm-7 answer-selection-options">
                                                <ul>
                                                    {% for option in mental_health_options %}
                                                        <li> <label><input type="radio" name="mental_health[{{ item.lq_id }}]" value="{{ option.option_value }}" {% if item.answer is defined and item.answer == option.option_value %}checked{% endif %}> <span class="option-description">{{ option.option_description }}</span></label></li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            {#<div class="col-sm-offset-1 col-sm-5">
                                                <select name="mental_health[{{ item.lq_id }}]" class="form-control selectpicker required" title="-- select -- ">
                                                    <option value="">-- select --</option>
                                                    {% for option in mental_health_options %}
                                                        <option value="{{ option.option_value }}" {% if item.answer is defined and item.answer == option.option_value %}selected{% endif %}>{{ option.option_description }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div> #}
                                        </div>
                                        {% if loop.index < mental_health_questions|length %}
                                        <hr class="border-bottom">
                                        {% endif %}
                                    {% endfor %}

                                    <br>
                                    <hr>
                                    <br>
                                    <h4><i class="hlp-required pointer help" data-field="risk_profile" title="Click to see the guide">?</i> Risk Profile</h4>
                                    <h6 class="no-margin-left">This test has been designed to assess your risk of health issues relating to risk taking behaviors such as - thrill seeking, reckless, rebellious, antisocial or even criminal activities.</h6>
                                    <h6 class="no-margin-left">On a scale of 1 (highly unlikely) – 7 (highly likely) if the opportunity arose, how likely are you to partake in the following activities?  All answers remain anonymous but if you are unsure or uncomfortable with how to answer select 1.</h6>

                                    {% for item in risk_profile_questions %}
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <label class="bullet">{{ item.question }}</label>
                                            </div>
                                            <div class="col-sm-offset-1 col-sm-7 answer-selection-options-risk-profile">
                                                <ul>
                                                    {% for i in 1..7 %}
                                                        <li> <label><input type="radio" name="risk_profile[{{ item.lq_id }}]" value="{{ i }}" {% if item.answer is defined and item.answer == i %}checked{% endif %}> {{ i }}</label></li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            {#<div class="col-sm-offset-1 col-sm-6">
                                                <select name="risk_profile[{{ item.lq_id }}]" class="form-control selectpicker required" title="-- select -- ">
                                                   <option value="">-- select --</option>
                                                   {% for i in 1..7 %}
                                                   <option value="{{ i }}" {% if item.answer is defined and item.answer == i %}selected{% endif %}>{{ i }} {% if i == 1 %}(highly unlikely){% elseif i == 7 %}(highly likely){% endif %}</option>
                                                   {% endfor %}
                                               </select>
                                           </div> #}
                                        </div>
                                        {% if loop.index < risk_profile_questions|length %}
                                        <hr class="border-bottom">
                                        {% endif %}
                                    {% endfor %}

                                    <hr>
                                </div>
                            </div>
                        </fieldset>

                    </form>
                                    
                    <button type="button" class="btn btn-default btn-draft" name="submit" value="draft"><span class="glyphicon glyphicon-floppy-disk"></span> <span class="text">Save</span></button> 
                        
                </div>
            </div>
        </div>
    </section>


    <!-- Modal -->
    <div class="modal fade" id="mdlHelp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">HELP</h4>
          </div>
          <div class="modal-body help-container">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- ==============================================
                    footer
                    =============================================== -->
    <footer class="footer {% if app.request.attributes.get('_route') == 'acme_club_dashboard' %}dashboard-footer{% endif %}">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">                    
                    <img src="{{ asset('templates')  }}/hlp-2.0/images/main-logo.png" class="img-responsive">
                    <ul>
                        <li>
                            <a href="http://www.healthylifeproject.com.au/disclaimer/" target="_blank">Disclaimer</a>
                        </li>
                        <li>
                            <a href="http://www.healthylifeproject.com.au/contact-us/" target="_blank">Contact Us</a>
                        </li>
                    </ul>
                </div>                
                <div class="col-sm-6 col-xs-12">
{#                            <button class="btn"><i class="fa fa-envelope-o"></i> Leave us a message</button>#}
                </div>
            </div>
        </div>
    </footer>
</div>
{% endblock %}


{% block javascripts %}
<script type="text/javascript">
    var asset_img = "{{ asset('img') }}";
    var asset_resources = "{{ asset('resources') }}";
    var test_questionnaire_path = "{{ path('acme_club_create_test_questionnaire') }}";
    var vo2_questionnaire_path = "{{ path('acme_club_create_vo2_questionnaire') }}";
    var get_help_path = "{{ path('acme_club_help_get_help') }}";
    var club_client_id = "{{ client_details.club_client_id }}";
    var client_test_id = "{% if app.request.get('test') is defined %}{{ app.request.get('test') }}{% endif %}";
    var default_height = "{{ client_details.height }}";
    var default_gender = "{{ client_details.gender }}";
    var default_age = "{{ client_details.age }}";
    
    // Test Result Paths
    var get_bmi_result_path = "{{ path('acme_club_create_test_get_bmi_result') }}";
    var get_physical_activity_result_path = "{{ path('acme_club_create_test_get_physical_activity_result') }}";
    var get_smoking_path = "{{ path('acme_club_create_test_get_smoking_result') }}";
    var get_alcohol_consumption_path = "{{ path('acme_club_create_test_get_alcohol_consumption_result') }}";
    var get_nutrition_path = "{{ path('acme_club_create_test_get_nutrition_result') }}";
    var get_mental_health_path = "{{ path('acme_club_create_test_get_mental_health_result') }}";
    var get_risk_profile_path = "{{ path('acme_club_create_test_get_risk_profile_result')  }}";
    
    // removelater
    var get_waist_test_path = "{{ path('acme_club_create_test_get_waist_test_result') }}";
</script>

<script src="{{ asset('templates') }}/hlp-2.0/js/jquery.steps.js"></script>
<!-- Jquery Validate -->
<script src="{{ asset('templates') }}/hlp-2.0/js/jquery.validate.min.js"></script>
<script src="{{ asset('resources') }}/jquery-form/jquery.form.js"></script>
<script src="{{ asset('js') }}/lifestyle-questionnaires/test.js"></script>
{% endblock %}