{% extends "::club_client_layout.html.twig" %}

{% block title %}Healthy Life | Lifestyle Questionnaires{% endblock %}

{% block body %}
    
<!-- ==============================================
    HEADER
    =============================================== -->
<header id="header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 gym-title">
{#                    <img src="{{ asset('templates')  }}/hlp-2.0/images/fitness.png" class="img-responsive">#}
                <img src="{{ asset('img') }}/fitness.jpg" class="img-responsive"> <h2>{% if club_details.club_name is defined %}{{ club_details.club_name }}{% endif %}</h2>
{#                    <img src="{{ asset('resources') }}/html2image/html2image.php?nome={{ app.session.get('club_name') }}" class="img-responsive">#}
            </div>
        </div>
    </div>
</header>
<!--End header -->   
<div id="main-content">
    <section id="info-bar">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    {% if error.title is defined %}
                            <h1>{{ error.title }}</h2>
                    {% else %}
                            <h1>Lifestyle Questionnaires</h2>
                    {% endif %}
                </div>
            </div>
                
            <div class="row">
                <div class="col-sm-12">
                    {% if error.message is defined %}
                        <p>{{ error.message }}</p>
                        {% if error.type is defined and error.type=='continue-draft' %}
                            <p>&nbsp;</p>
                            <a class="btn btn-primary" href="{{ path('acme_club_view_test') }}?id={{ draft_test_id }}">Go to DRAFT TEST <i class="fa fa-angle-right"></i></a>
                            
                        {% endif %}
                    {% else %}
                    <p>This test is no longer available.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                
            </div>
        </div>
    </div>
        
    <!-- ==============================================
                    footer
                    =============================================== -->
    <footer class="footer {% if app.request.attributes.get('_route') == 'acme_club_dashboard' %}dashboard-footer{% endif %}">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">                    
                    <img src="{{ asset('templates')  }}/hlp-2.0/images/main-logo.png" class="img-responsive">
                    <ul>
                        <li>
                            <a href="http://www.healthylifeproject.com.au/disclaimer/" target="_blank">Disclaimer</a>
                        </li>
                        <li>
                            <a href="http://www.healthylifeproject.com.au/contact-us/" target="_blank">Contact Us</a>
                        </li>
                    </ul>
                </div>                
                <div class="col-sm-6 col-xs-12">
{#                            <button class="btn"><i class="fa fa-envelope-o"></i> Leave us a message</button>#}
                </div>
            </div>
        </div>
    </footer>
</div>
{% endblock %}

