.dataTables_length label, .dataTables_filter label{
    font-size: 12px!important;
}
.jcf-select.jcf-unselectable{
    height: auto!important;
    min-width: 70px!important;
}

.dataTables_filter{
    display: block!important;
}