.row{
    overflow: hidden;
    margin-bottom: 10px;
}
.col-50{
    width: 50%;
    float: left;
}

.col-30{
    width: 30%;
    float: left;
}

.col-20{
    width: 20%;
    float: left;
}

.dataTables_filter{
    display: inline-block!important;
}

.jcf-select .jcf-select-text > span{
    display: block;
    padding-top: 10px;
}