{% extends "::club_layout.html.twig" %}

{% block title %}Reset Your Healthy Life Project Password{% endblock %}

{% block body %}
<section id="sub-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>Reset Your Healthy Life Project Password</h2>
                <p>It looks like this password reset link can't be used anymore. This probably means that you sent us another password reset request; in that case you'll need to use the newer reset link.</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}
