{% extends "::club_layout.html.twig" %}

{% block title %}Reset Your Healthy Life Project Password{% endblock %}

{% block body %}
<section id="sub-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>Reset Your Healthy Life Project Password</h2>
                <p>Your password has been successfully changed. <a href="{{ path('acme_club_login') }}">Click here to return to the login page.</a></p>
            </div>
        </div>
    </div>
</section>

{% endblock %}
