{% extends "::club_layout.html.twig" %}

{% block title %}Reset Your Healthy Life Project Password{% endblock %}

{% block body %}
<section id="sub-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>Reset Your Healthy Life Project Password</h2>
                
                
                {% if app.session.flashbag.get('success')|length > 0%}
                    <p>Help is on the way.</p>
                {% else %}

                    <p>Submit your email address and we'll send you a link to reset your password. </p>

                    <div class="row">
                        <div class="col-sm-4">
                        </div>
                        <div class="col-sm-4">
                            {% for flashMessage in app.session.flashbag.get('error') %}
                            <div class="alert alert-danger">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                {% for item in flashMessage %}
                                    {{ item.message }}<br/>
                                {% endfor %}
                            </div>
                            {% endfor %}
                        </div>
                    </div>


                    <form class="form" action="" method="post">
                        <div class="row">
                            <div class="col-sm-4">
                            </div>
                            <div class="col-sm-4">
                                <div class="reset-password-fields field-holder">
                                    <div class="form-group">
                                        <input type="email" name="email" class="form-control" placeholder="Email" required>
                                    </div>
                                    
                                    <a class="btn btn-default" href="{{ path('acme_club_login') }}">Cancel</a>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </div>


                    </form>
                {% endif %}
            </div>
        </div>
    </div>
</section>


{% endblock %}
