{% extends "::club_layout.html.twig" %}

{% block title %}Reset Your Healthy Life Project Password{% endblock %}

{% block body %}

<section id="sub-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>Reset Your Healthy Life Project Password</h2>
                <div class="row">
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-4">
                        {% for flashMessage in app.session.flashbag.get('error') %}
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {% for item in flashMessage %}
                                {{ item.message }}<br/>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                    
                <div class="row">
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-4">
                        <form action="" method="post">
                            <div class="reset-password-fields field-holder">
                                <input type="hidden" name="email" value="{{ email }}">
                                <input type="hidden" name="token" value="{{ token }}">
                                <div class="form-group">
                                    <input type="password" name="password" class="form-control" placeholder="New password" required>
                                </div>

                                <div class="form-group">
                                    <input type="password" name="confirm_password" class="form-control" placeholder="New password (again)" required>
                                </div>

                                <a class="btn btn-default" href="{{ path('acme_club_login') }}">Cancel</a>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
