{% extends "::head_office_layout.html.twig" %}

{% set route_slug = app.request.attributes.get('_route_params')['slug'] %}
{% block title %}{{ route_slug|capitalize }} Event{% endblock %}

{% block body %}


{% if route_slug == 'new' %}
    <h2>CREATE A NEW EVENT</h2>
{% else %}
    <h2>UPDATE EVENT</h2>
{% endif %}


{% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('error') %}
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {% for item in flashMessage %}
        {{ item.message }}<br/>
    {% endfor %}
</div>
{% endfor %}
    
<form action="#" method="post">
    <div class="wide-fields field-holder">
        {% if route_slug == 'edit' %}
            <input type="hidden" name="event_id" value="{% if post.event_id is defined %}{{ post.event_id }}{% endif %}">
        {% endif %}


        <div class="row">
            <label>Event name</label>
            <input type="text" name="event_name" value="{% if post.event_name is defined %}{{ post.event_name }}{% endif %}" placeholder="Event name" required>
        </div>

        <div class="row">
            <label>Location</label>
            <input type="text" name="location" value="{% if post.location is defined %}{{ post.location }}{% endif %}" placeholder="Location" required>
        </div>

        <div class="row add-select1">
            <label>Club (to specific club)</label>
            <select name="club_id">
                <option value="">-- select club --</option>
                {% for item in clubs %}
                    <option value="{{ item.club_id }}" {% if post.club_id is defined and post.club_id == item.club_id %}selected{% endif %}>{{ item.club_name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="row add-select1">
            <label>Status</label>
            <select name="status">
                <option value="active" {% if post.status is defined and post.status == 'active'%}selected{% endif %}>Active</option>
                <option value="archive" {% if post.status is defined and post.status == 'archive'%}selected{% endif %}>Archive</option>
            </select>
        </div>

        <div class="row">
            {% if route_slug == 'new' %}
                <button type="submit" class="btn btn-primary">Add Event</button>
            {% else %}
                <button type="submit" class="btn btn-primary">Update Event</button>
                <button type="button" class="btn btn-danger delete-event" data-id="{% if post.event_id is defined %}{{ post.event_id }}{% endif %}">Delete Event</button>
            {% endif %}
            <a href="{{ path('acme_head_office_admin_area') }}" class="btn btn-default">Cancel</a>
        </div>
    </div>
</form>

{# + Delete area #}
<div id="dialog-confirm" title="Delete this item?" style="display: none">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>These item will be permanently deleted and cannot be recovered. Are you sure?</p>
</div>

<form id="deleteEvent" action="{{ path('acme_head_office_event_delete') }}" method="post">
    <input type="hidden" name="event_id">
</form>
{# - Delete area #}
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js') }}/head-office/event.js"></script>
{% endblock %}
