{% extends "::head_office_layout.html.twig" %}

{% block title %}Event{% endblock %}

{% block body %}
<h2>Event</h2> <a href="{{ path('acme_head_office_event_add_edit', {'slug': 'new'}) }}"> + add event</a>

{% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('error') %}
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {% for item in flashMessage %}
        {{ item.message }}<br/>
    {% endfor %}
</div>
{% endfor %}

<table class="table">
    <thead>
        <tr>
            <th>Event name</th>
            <th>Location</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for item in events %}
            <tr>
                <td>{{ item.event_name }}</td>
                <td>{{ item.location }}</td>
                <td>{{ item.status|capitalize }}</td>
                <td>
                    <a href="{{ path('acme_head_office_event_add_edit', {'slug': 'edit'}) }}?eid={{ item.event_id }}">Edit</a> | 
                    <a class="delete-item pointer" data-id="{{ item.event_id }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{# + Delete area #}
<div id="dialog-confirm" title="Delete this item?" style="display: none">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>These item will be permanently deleted and cannot be recovered. Are you sure?</p>
</div>

<form id="delete" action="{{ path('acme_head_office_event_delete') }}" method="post">
    <input type="hidden" name="event_id">
</form>
{# - Delete area #}
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js') }}/head-office/event.js"></script>
{% endblock %}
