{% if s_to_admin is defined %}
    <h1>Hi {{ details.club_admin_name }}</h1>

    <p>You've got the following message(s) from {{ details.client_fname }}, a client from {{ club.club_name }}:</p>
{% else %}
    <h1>Hi {{ details.client_fname }}</h1>

    <p>You've got the following message(s) from {{ details.club_admin_name }} of {{ club.club_name }}:</p>
{% endif %}

<ul>
    {% for item in msgs %}
        <li>{{ item.message }}</li>
    {% endfor %}
</ul>

<p>Regards,<br><br>
    Healthy Life Project
</p>
