{% extends "::club_client_layout.html.twig" %}

{% block title %}Login{% endblock %}

{% block body %}
<!-- promo add promo add promo1 -->
<section class="promo add-promo add-promo1  win-height">
        <img class="bg-stretch" src="{{ asset('img') }}/img4.jpg" alt="images description">
        <div class="description">
                <div class="add-description">
                        <div class="holder">
                                <h3 class="txt-start">start living today</h3>
                                <form class="form" action="" method="post">
                                        <fieldset>
                                            <div class="row">
                                            {% for flashMessage in app.session.flashbag.get('error') %}
                                            <div class="alert alert-danger">
                                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                                {{ flashMessage|raw }}
                                            </div>
                                            {% endfor %}
                                            </div>
                                            <div class="row">
                                                    <input type="email" name="email" value="{% if post.email is defined %}{{ post.email }}{% endif %}" placeholder="email address">
                                            </div>
                                            <div class="row">
                                                    <input type="password" name="password" placeholder="password">
                                            </div>
                                            <input type="submit" value="Login">
                                            
                                        </fieldset>
                                        <a class="link" href="{{ path('acme_club_client_reset_password') }}">I forgot my password</a>
                                </form>
                        </div>
                </div>
        </div>
</section>

<!-- add section -->
<section class="add-section">
        <header class="holder">
                <h2>OUR PARTNERS</h2>
        </header>
        <!-- details -->
        <div class="details">
                <div class="holder">
                        <ul>
                            <li><a href="http://voodoocreative.com.au/" target="_blank"><img src="{{ asset('img') }}/voodoo-logo_white.png" alt="imgaes description"></a></li>
                            <li><a href="http://www.anytimefitness.com.au" target="_blank"><img src="{{ asset('img') }}/anytime_logo.png" alt="imgaes description" style="width: 205px"></a></li>
                            <li><a href="https://www.metabolicjumpstart.com/" target="_blank"><img src="{{ asset('img') }}/metabolic-jumpstart-logo.png" alt="imgaes description" style="width: 205px"></a></li>
                        </ul>
                </div>
        </div>
</section>
{% endblock %}
