{% extends "::club_client_layout.html.twig" %}

{% block title %}Disclaimer{% endblock %}

{% block body %}
<!-- two columns -->
<div id="two-columns">
    <!-- content -->
    <section id="content">
        <h3>Legal Disclaimer</h3>
        <ol >
            <li>Need Verses Want – The Healthy Life Project (<strong>'we'</strong>, <strong>'us'</strong> or <strong>'our'</strong>) provides The Healthy Life Project as a tool to assist consumers in identifying health risks and potential changes that may promote healthier habits.</li>
            <li>Any consumer that utilises The Healthy Life Project (<strong>'you'</strong> or <strong>'your'</strong>) agrees to and accepts these terms as a legally binding agreement between you and us. These terms take legal effect on the date of your use, and each subsequent use of The Healthy Life Project.</li>
            <li>Use of The Healthy Life Project does not constitute medical advice on behalf of us or any agent, contractor, director, employee or assignee of us. Please consult a qualified health care professional prior to implementing any new health care plans or changes in diet.</li>
            <li>Any results, information or outcomes presented, published or otherwise communicated to a consumer through the use of The Healthy Life Project are based solely in the inputs provided by the consumer and <strong>do not</strong> represent a medical opinion or advice.</li>
            <li>Any use of The Healthy Life Project, and any results, information or outcomes presented, published or otherwise communicated to you on account of that use is bound by these terms.</li>
        </ol>

        <h3>Exclusion of warranties and liability</h3>
        <ol start="6">
            <li>To the maximum extent allowable by law, we exclude, and do not make any representation, warranty or endorsement of any kind, whether expressed or implied except which may be implied by statute and are incapable of exclusion, in respect of any results, information or outcomes presented, published or otherwise communicated to you on account of use of The Healthy Life Project or any associated webpages, applications or software.</li>
            <li>All content and services associated with The Healthy Life Project are provided on an 'as is' and 'as available' basis. We make no guarantees, and do not warrant that the use of The Healthy Life Project, or any results provided on account of that use will accurately represent your actual life expectancy or any health benefits that may apply to you.</li>
            <li>To the maximum extent permitted by law, we exclude all liability for any loss or damage whatsoever which arises or is suffered, (including but not limited to direct, indirect, incidental, special, consequential or exemplary damages, loss of profits or revenue, business interruption, loss, damage or corruption of data or failure to realise anticipated savings or benefits or business opportunities) as a result of the use of, reliance on, or action taken as a result of, any information or material in The Healthy Life Project for any decision or otherwise.</li>
            <li>You hereby waive, release, forgive, discharge, relinquish any and all claims that you may have against us, our related bodies corporate, directors, officers, employees, contractors, agents and representatives (those indemnified), in connection with, or arising out of, or incidental to, your use of The Healthy Life Project, and indemnify same from and against:
                <ol type="a">
                    <li>any loss or damage or liability for any loss or damage incurred by you relating to The Healthy Life Project;</li>
                    <li>any loss, liability, claim, demand, damage or expense (including legal fees) made by any third party against those indemnified, howsoever caused (including through negligence) directly or indirectly arising out of or in connection with:
                        <ol type="i">
                            <li>your use of or reliance on information contained in or accessed through the Application; or</li>
                            <li>breach by you of these terms.</li>
                        </ol>

                    </li>
                </ol>

            </li>
        </ol>

        <h3>Administrative Clauses</h3>
        <ol start="10">
            <li>These terms shall be governed by and construed in accordance with the laws in force in the State of Victoria, Australia. You irrevocably and unconditionally submit to the exclusive jurisdiction of the courts of Victoria in relation to these terms.</li>
            <li>These terms constitute the entire agreement between you and us relating to your use of The Healthy Life Project and any reliance on the results provided therein.</li>
            <li>The invalidity or unenforceability of any provision of these terms shall not affect the rest of the provision of the terms, which will continue in full force and effect.</li>
            <li>If a provision of these terms is found by a court of law to be invalid or unenforceable:
                <ol type="a">
                    <li>it is to be read down or severed to the extent of the invalidity or unenforceability; and</li>
                    <li>that fact does not affect the validity or enforceability of the remaining provisions.</li>
                </ol>

            </li>
        </ol>
    </section>
</div>
{% endblock %}
