{% extends "::head_office_layout.html.twig" %}

{% set route_slug = app.request.attributes.get('_route_params')['slug'] %}
{% block title %}{{ route_slug|capitalize }} Club Admin{% endblock %}

{% block body %}

{% if route_slug == 'new' %}
    <h2>CREATE A NEW CLUB ADMIN</h2>
{% else %}
    <h2>UPDATE CLUB ADMIN</h2>
{% endif %}



<form action="#" method="post">
    <div class="wide-fields field-holder">
        {% if get.cid is defined %}
            <input type="hidden" name="club_id" value="{{ get.cid }}">
        {% endif %}
        {% if route_slug == 'edit' %}
            <input type="hidden" name="club_admin_id" value="{% if post.club_admin_id is defined %}{{ post.club_admin_id }}{% endif %}">
        {% endif %}
            
        {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ flashMessage }}
        </div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {% for item in flashMessage %}
                {{ item.message }}<br/>
            {% endfor %}
        </div>
        {% endfor %}

        <div class="row add-select1">
            <select name="club_id" class="form-control">
                <option value="">-- select club --</option>
                {% for item in clubs %}
                <option value="{{ item.club_id }}" {% if post.club_id is defined and post.club_id == item.club_id %}selected{% elseif get.cid is defined and get.cid == item.club_id%}selected{% endif %}>{{ item.club_name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="row">
            <input type="text" name="fname" value="{% if post.fname is defined %}{{ post.fname }}{% endif %}" placeholder="First name" required>
        </div>

        <div class="row">
            <input type="text" name="lname" value="{% if post.lname is defined %}{{ post.lname }}{% endif %}" placeholder="Last name" required>
        </div>

        <div class="row">
            <input type="email" name="email" value="{% if post.email is defined %}{{ post.email }}{% endif %}" placeholder="Email" required>
        </div>

        <div class="row add-select1">
            <select name="role" required>
                <option value="">Role</option>
                <option value="site-admin" {% if post.role is defined and post.role == 'site-admin'%}selected{% endif %}>Site Admin</option>
                <option value="coach" {% if post.role is defined and post.role == 'coach'%}selected{% endif %}>Coach</option>
            </select>
        </div>

        <div class="row add-select1">
            <select name="status" placeholder="" required>
                <option value="">Status</option>
                <option value="active" {% if post.status is defined and post.status == 'active'%}selected{% endif %}>Active</option>
                <option value="inactive" {% if post.status is defined and post.status == 'inactive'%}selected{% endif %}>Inactive</option>
            </select>
        </div>

        <div class="row">
            <input type="password" name="password" value="{% if route_slug == 'new' and post.password is defined %}{{ post.password }}{% endif %}" placeholder="{% if route_slug == 'edit' %}New {% endif %}Password" {% if route_slug == 'new' %}required{%endif%}>
        </div>    

        <div class="row">
            <input type="password" name="confirm_password" placeholder="Confirm Password" {% if route_slug == 'new' %}required{%endif%}>
        </div> 


        <div class="row">
            <label><input type="checkbox" name="s_aia_approved_by_admin" {% if post.s_aia_approved_by_admin is defined and post.s_aia_approved_by_admin == 1 %}checked{% endif %}>User is AIA Approved</label>
        </div>

        <div class="row">
            {% if route_slug == 'new' %}
                <button type="submit" class="btn btn-primary">Add User</button>
            {% else %}
                <button type="submit" class="btn btn-primary">Update User</button>
            {% endif %}
            <a href="{{ path('acme_head_office_club_admin') }}?cid={% if get.cid is defined %}{{ get.cid }}{% elseif post.club_id is defined %}{{ post.club_id }}{% endif %}" class="btn btn-default">Cancel</a>
        </div>
    </div>
</form>


{% endblock %}
