{% extends "::head_office_layout.html.twig" %}

{% block title %}Club{% endblock %}

{% block body %}
<div class="header-two-columns">
    <div class="col-1">
        <h2>{% if club.club_name is defined %}{{ club.club_name }}: Admins{% else %}Club Admins{% endif %}</h2>
    </div>
    <div class="col-2 text-right">
        <a class="btn btn-primary" href="{{ path('acme_head_office_club_admin_add_edit', {'slug': 'new'}) }}?cid={{ get.cid }}"> + add club admin</a>
    </div>
</div>
 

<table class="table">
    <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>No. of tests conducted</th>
            <th>Role</th>
            <th>Status</th>
            <th>Last login</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for item in club_admins %}
            <tr>
                <td>{{ item.fname }}</td>
                <td>{{ item.lname }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.num_of_tests }}</td>
                <td>{{ item.role|replace('-',' ')|capitalize }}</td>
                <td>{{ item.status|capitalize }}</td>
                <td>{% if item.last_login_datetime != '' %}{{ item.last_login_datetime|date("d/m/Y H:i:s")  }}{% endif %}</td>
                <td>
                    <a href="{{ path('acme_head_office_club_admin_add_edit', {'slug': 'edit'}) }}?caid={{ item.club_admin_id }}">Edit</a> | 
                    <a class="delete-item pointer" data-id="{{ item.club_admin_id }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{# + Delete area #}
<div id="dialog-confirm" title="Delete this item?" style="display: none">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>These item will be permanently deleted and cannot be recovered. Are you sure?</p>
</div>

<form id="delete" action="{{ path('acme_head_office_club_admin_delete') }}" method="post">
    <input type="hidden" name="club_admin_id">
</form>
{# - Delete area #}

{% endblock %}

{% block javascripts %}
<script src="{{ asset('js') }}/head-office/club-admin.js"></script>
{% endblock %}