{% extends "::head_office_layout.html.twig" %}

{% block title %}Client{% endblock %}

{% block body %}
<div class="header-two-columns">
    <div class="col-1">
        <h2>Clients</h2>
    </div>
    {#<div class="col-2 text-right">
        <a class="btn btn-primary" href="{{ path('acme_head_office_club_admin_add_edit', {'slug': 'new'}) }}?cid={{ get.cid }}"> + add club admin</a>
    </div>#}
</div>
{% if data_count > 0 %} 

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>FIRST NAME</th>
            <th>LAST NAME</th>
            <th>EMAIL</th>
            <th>CLUB</th>
            <th>PROGRAM TYPE</th>
            <th>LAST LOGIN</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for item in club_clients %}
            <tr>
                <td>{{ item.club_client_id }}</td>
                <td>{{ item.fname }}</td>
                <td>{{ item.lname }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.club_name }}</td>
                <td>{{ item.program_type }}</td>
                <td>{% if item.last_login_datetime != '' %}{{ item.last_login_datetime|date("d/m/Y H:i:s")  }}{% endif %}</td>
                <td>
                    {%if item.club_id !=''%}
                        <a href="{{path('acme_club_client_view')}}?club={{ item.club_id }}&cid={{ item.club_client_id }} " target="_blank">View</a> | 
                        <a href="{{ path('acme_head_office_club_client_edit')}}?cid={{ item.club_client_id }}&email={{item.email}}">Password Management</a> | 
                        <a class="delete-client-item pointer" data-id="{{ item.club_client_id }}" data-email="{{item.email}}">Delete</a>
                    {%else%}
                        <a href="{{path('acme_club_12weekclient_view')}}?club={{ item.club_id }}&cid={{ item.club_client_id }}" target="_blank">View</a> |
                        <a href="{{ path('acme_head_office_club_12week_client_edit')}}?cid={{ item.club_client_id }}&email={{item.email}}">Password Management</a> | 
                        <a class="delete-12week-client-item pointer" data-id="{{ item.club_client_id }}" data-email="{{item.email}}">Delete</a>
                    {%endif%}
                    
                    
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% else %} 
<h2>No record found.</h2>
{% endif %} 
{# + Delete area #}
<div id="dialog-confirm" title="Delete this item?" style="display: none">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>These item will be permanently deleted and cannot be recovered. Are you sure?</p>
</div>

<form id="delete" action="{{ path('acme_head_office_club_client_delete') }}" method="post">
    <input type="hidden" name="club_client_id">
    <input type="hidden" name="club_client_email">
    <input type="hidden" name="type">
</form>
{# - Delete area #}

{% endblock %}

{% block javascripts %}
<script src="{{ asset('js') }}/head-office/club-admin.js"></script>
{% endblock %}