{% extends "::head_office_layout.html.twig" %}

{% block title %}Password Management{% endblock %}

{% block body %}

<h2>Password Management</h2>



<form action="{{path('acme_head_office_club_client_edit')}}" method="post" id="pass_management">
    <div class="wide-fields field-holder">
        {% if get.cid is defined %}
            <input type="hidden" name="club_id" value="{{ get.cid }}">
        {% endif %}
            
        {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ flashMessage }}<br/>
        </div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {% for item in flashMessage %}
                {{ item.message }}<br/>
            {% endfor %}
        </div>
        {% endfor %}
            <table>
                <tr>
                    <td style="width: 100px;"><h4>Client Id </h4></td><td style="width: 30px;"><h4>:</h4></td>
                    <td style="width: 100px;"><h4>{% if post.club_client_id is defined %}{{ post.club_client_id }}{% endif %}</h4></td>
                </tr>
                <tr>
                    <td><h4>First name </h4></td><td><h4>:</h4></td>
                    <td><h4>{% if post.fname is defined %}{{ post.fname }}{% endif %}</h4></td>
                </tr>
                <tr>
                    <td><h4>Last name </h4></td><td><h4>:</h4></td>
                    <td><h4>{% if post.lname is defined %}{{ post.lname }}{% endif %}</h4></td>
                </tr>
                <tr>
                    <td><h4>Email </h4></td><td><h4>:</h4></td>
                    <td><h4>{% if post.email is defined %}{{ post.email }}{% endif %}</h4></td>
                </tr>
                <tr>
                    <td><h4>Club </h4></td><td><h4>:</h4></td>
                    <td><h4>{% if post.club_name is defined %}{{ post.club_name }}{% endif %}</h4></td>
                </tr>
                <tr>
                    <td><h4>Program type </h4></td><td><h4>:</h4></td>
                    <td><h4>{% if post.program_type is defined %}{{ post.program_type }}{% endif %}</h4></td>
                </tr>
              
            </table>
         <div class="row">
            <input type="hidden" name="club_client_id" value="{% if post.club_client_id is defined %}{{ post.club_client_id }}{% endif %}"  >
            <input type="hidden" name="club_client_email" value="{% if post.email is defined %}{{ post.email }}{% endif %}"  >
            <input type="hidden" name="club_client_fname" value="{% if post.fname is defined %}{{ post.fname }}{% endif %}"  >
            <input type="hidden" name="slug" value="">
        </div> 

        <div class="row">
            <label><h5>{% if post.password is defined %}Assign new password{% else %}Assign temporary password{% endif %}</h5></label>
            <input type="password" name="password" value="" placeholder="Password">
        </div>    

        <div class="row">
            <button type="button" class="btn btn-primary assign_pass">{% if post.password is defined %}Update password{% else %}Assign temporary password{% endif %}</button>
            <button type="button" class="btn btn-primary reset_pass">Send reset password link</button>
            <a href="{{ path('acme_head_office_club_client_search') }}" class="btn btn-default">Cancel</a>
        </div>
    </div>
</form>


{% endblock %}

{% block javascripts %}
<script src="{{ asset('js') }}/head-office/club-admin.js"></script>
{% endblock %}
