{% extends "::club_layout.html.twig" %}

{% block title %}FAQ's{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>FAQ's</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>How should I explain the Healthy Life Assessment to my clients?</h3>
            <p>The Healthy Life Assessment has been designed as a way to educate people about how they can potentially live more years free of injury, illness or disease.  Inspire them to make the necessary positive lifestyle changes & inspire them to stick with it.</p>
            
            <h3>How does the Healthy Life Assessment work?</h3>
            <p>The Need vs Want Healthy Life Assessment measures your clients current Lifestyle, physiological & biometric risk factors based on the ‘Australian Burden of Disease’ & gives them an indication of how their current lifestyle choices & physical condition could potentially affect their future health outlook.</p>
            
            <h3>What qualifications are needed to conduct the healthy life assessment?</h3>
            <p>No qualifications are specifically required to conduct the Healthy Life Assessment.  The Healthy Life Assessment is not a clinical test but a tool for Inspiring & facilitating positive health changes.</p>
            
            <h3>What does it cost?</h3>
            <p>The RRP for conducting the Healthy Life Assessment & Action planning session for your clients is $79.00.</p>
            <h4>Purchasing test credits:</h4>
            <p>There are a few options available to Anytime Fitness for HLP test credits:</p>
            <ul class='ul-no-bullet'>
                <li><strong>Option 1:</strong> Pay as you go – This option is great for when you are just starting out & are not sure about the volume of tests you will be conducting.  <br>
                    Registration: Once off $169.00<br>
                    Test credits: $5.00 each
                </li>
                <li><strong>Option 2:</strong>  Monthly Membership – This option is perfect if you plan to conduct more than 10 Healthy Life Assessments per week & really build up the volume of Healthy Life Years you are adding to your members lives.<br>
                    Registration:  Once off $169.00<br>
                    Monthly membership fee of $200.00 for UNLIMITED test credits.
                </li>
            </ul>
            
            <h3>How do I select the best testing options for my client?</h3>
            <p>The following tests provide options in order to select the most relevant test for your test environment or client.</p>
            <ul class="ul-no-bullet">
                <li><strong>Body Fat:</strong>  Any method for testing body fat % is acceptable depending on what options you have available or prefer.</li>
                <li><strong>Balance:</strong>  The standing functional reach test has been designed for older clients or clients or clients with injuries.</li>
                <li><strong>VO2:</strong>  There are a number of options for the VO2 test.  In many cases the equipment available to you will dictate the test most suitable.  However for older & deconditioned clients injury & capability need to be taken into consideration – for these clients the Life Fitness VO2 test via upright bike is the preferred testing method.</li>
            </ul>
        </div>
        
       
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js') }}/club/event.js"></script>
{% endblock %}
