{% extends "::head_office_layout.html.twig" %}

{% block title %}Detailed Reports{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('resources') }}/jquery-datatables/DataTables-1.10.9/media/css/jquery.dataTables.css">
    <link rel="stylesheet" href="{{ asset('css') }}/jquery-datatable-custom.css">
{% endblock %}


{% block body %}

<!-- addsection -->
<section class="add-section1">
    <form class="report-from" action="#">
        <fieldset>
            <h2>Detailed Reports</h2>
            <div class="row">
                <div class="col">
                        <label>Date Range</label>
                        <div class="box-frame">
                                <div class="select-holder">
                                        <div class="add-select1 add-select2">
                                            <select name="dtFrDay">
                                                {% for i in 1..31 %}
                                                    <option value="{{ i }}" {% if filter_daterange['from']['day'] == i %}selected{% endif %}>{{ "%02d"|format(i) }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="add-select1">
                                            <select name="dtFrMonth">
                                                <option value="01" {% if filter_daterange['from']['month'] == "01" %}selected{% endif %}>Jan</option>
                                                <option value="02" {% if filter_daterange['from']['month'] == "02" %}selected{% endif %}>Feb</option>
                                                <option value="03" {% if filter_daterange['from']['month'] == "03" %}selected{% endif %}>Mar</option>
                                                <option value="04" {% if filter_daterange['from']['month'] == "04" %}selected{% endif %}>Apr</option>
                                                <option value="05" {% if filter_daterange['from']['month'] == "05" %}selected{% endif %}>May</option>
                                                <option value="06" {% if filter_daterange['from']['month'] == "06" %}selected{% endif %}>Jun</option>
                                                <option value="07" {% if filter_daterange['from']['month'] == "07" %}selected{% endif %}>Jul</option>
                                                <option value="08" {% if filter_daterange['from']['month'] == "08" %}selected{% endif %}>Aug</option>
                                                <option value="09" {% if filter_daterange['from']['month'] == "09" %}selected{% endif %}>Sep</option>
                                                <option value="10" {% if filter_daterange['from']['month'] == "10" %}selected{% endif %}>Oct</option>
                                                <option value="11" {% if filter_daterange['from']['month'] == "11" %}selected{% endif %}>Nov</option>
                                                <option value="12" {% if filter_daterange['from']['month'] == "12" %}selected{% endif %}>Dec</option>
                                            </select>
                                        </div>
                                        <div class="add-select1">
                                            <select name="dtFrYear" >
                                                {% set year1 = "now"|date_modify("-" ~ 1 ~" year")|date("Y") %}
                                                <option value="{{ year1 }}" {% if filter_daterange['from']['year'] == year1 %}selected{% endif %}>{{ year1 }}</option>
                                                {% for i in 0..6 %}
                                                    {% set year = "now"|date_modify("+" ~ i ~" year")|date("Y") %}
                                                    <option value="{{ year }}" {% if filter_daterange['from']['year'] == year %}selected{% endif %}>{{ year }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <em class="ipad-drto">To</em>
                                        <div class="add-select1 add-select2">
                                            <select name="dtToDay">
                                                {% for i in 1..31 %}
                                                    <option value="{{ i }}" {% if filter_daterange['to']['day'] == i %}selected{% endif %}>{{ "%02d"|format(i) }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="add-select1">
                                            <select name="dtToMonth">
                                                <option value="01" {% if filter_daterange['to']['month'] == "01" %}selected{% endif %}>Jan</option>
                                                <option value="02" {% if filter_daterange['to']['month'] == "02" %}selected{% endif %}>Feb</option>
                                                <option value="03" {% if filter_daterange['to']['month'] == "03" %}selected{% endif %}>Mar</option>
                                                <option value="04" {% if filter_daterange['to']['month'] == "04" %}selected{% endif %}>Apr</option>
                                                <option value="05" {% if filter_daterange['to']['month'] == "05" %}selected{% endif %}>May</option>
                                                <option value="06" {% if filter_daterange['to']['month'] == "06" %}selected{% endif %}>Jun</option>
                                                <option value="07" {% if filter_daterange['to']['month'] == "07" %}selected{% endif %}>Jul</option>
                                                <option value="08" {% if filter_daterange['to']['month'] == "08" %}selected{% endif %}>Aug</option>
                                                <option value="09" {% if filter_daterange['to']['month'] == "09" %}selected{% endif %}>Sep</option>
                                                <option value="10" {% if filter_daterange['to']['month'] == "10" %}selected{% endif %}>Oct</option>
                                                <option value="11" {% if filter_daterange['to']['month'] == "11" %}selected{% endif %}>Nov</option>
                                                <option value="12" {% if filter_daterange['to']['month'] == "12" %}selected{% endif %}>Dec</option>
                                            </select>
                                        </div>
                                        <div class="add-select1">
                                            <select name="dtToYear">
                                                {% set year1 = "now"|date_modify("-" ~ 1 ~" year")|date("Y") %}
                                                <option value="{{ year1 }}" {% if filter_daterange['from']['year'] == year1 %}selected{% endif %}>{{ year1 }}</option>
                                                {% for i in 0..6 %}
                                                    {% set year = "now"|date_modify("+" ~ i ~" year")|date("Y") %}
                                                    <option value="{{ year }}" {% if filter_daterange['to']['year'] == year %}selected{% endif %}>{{ year }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                </div>
                                <em class="normal-drto">To</em>
                        </div>
                </div>
                <div class="col">
                        <label>Filters</label>
                        <div class="box-frame">
                                <div class="select-holder">
                                    <div class="add-select1">
                                        <input type="checkbox" name="sAddClub" {% if app.request.get('sAddClub') == 'on' %}checked{% endif %}>
                                        <select name="fClub">
                                            <option value="">Gym</option>
                                            {% for item in clubs %}
                                                <option value="{{ item.club_id }}" {% if app.request.get('fClub') == item.club_id %}selected{% endif %}>{{ item.club_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="add-select1">
                                        <input type="checkbox" name="sAddEvent" {% if app.request.get('sAddEvent') == 'on' %}checked{% endif %}>
                                        <select name="fEvent">
                                            <option value="">Event</option>
                                            {% for item in events %}
                                                <option value="{{ item.event_id }}" {% if app.request.get('fEvent') == item.event_id %}selected{% endif %}>{{ item.event_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="add-select1 add-select3">
                                        <input type="checkbox" name="sAddResults" {% if app.request.get('sAddResults') == 'on' %}checked{% endif %}>
                                        <select name="fResults">
                                            <option value="">Results</option>
                                            <option value="1" {% if app.request.get('fResults') == "1" %}selected{% endif %}>Gained 1 Year</option>
                                            {% for i in 2..14 %}
                                                <option value="{{ i }}" {% if app.request.get('fResults') == i %}selected{% endif %}>Gained {{ i }} Years</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="add-select1">
                                        <input type="checkbox" name="sAddGender" {% if app.request.get('sAddGender') == 'on' %}checked{% endif %}>
                                        <select name="fGender">
                                            <option value="">Gender</option>
                                            <option value="male" {% if app.request.get('fGender') == "male" %}selected{% endif %}>Male</option>
                                            <option value="female" {% if app.request.get('fGender') == "female" %}selected{% endif %}>Female</option>
                                        </select>
                                    </div>
                                    <div class="add-select1">
                                        <input type="checkbox" name="sAddAgeRange" {% if app.request.get('sAddAgeRange') == 'on' %}checked{% endif %}>
                                        
                                        <select name="fAgeRangeFr">
                                            <option value="">Age (from)</option>
                                            {% for i in 16..100 %}
                                                <option value="{{ i }}" {% if app.request.get('fAgeRangeFr') == i %}selected{% endif %}>{{ i }}</option>
                                            {% endfor %}
                                        </select>
                                        
                                        
                                    </div>
                                        
                                    <div class="add-select1">
                                        <select name="fAgeRangeTo">
                                            <option value="">Age (to)</option>
                                            {% for i in 16..100 %}
                                                <option value="{{ i }}" {% if app.request.get('fAgeRangeTo') == i %}selected{% endif %}>{{ i }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                        </div>
                </div>
            </div>
            <div class="row pdf-reports">
                    
                    <input class="btn btn-default pointer btn-summary-reports" type="submit" value="Run Detailed Report">
                    <a href="{{ path('acme_head_office_detailed_report') }}?print=1{% if request_params != '' %}&{{ request_params }}{% endif %}" target="_blank"><i class="icon-25"></i></a>
                    <a href="{{ path('acme_head_office_detailed_report') }}?download=1{% if request_params != '' %}&{{ request_params }}{% endif %}"><i class="icon-24"></i></a>
                    <input class="btn btn-primary btn-detailed-reports" type="submit" value="Run Summary Report">
            </div>
        </fieldset>
    </form>
</section>


<!-- section -->
<section class="section">
    <!-- section -->
    <div class="container detailed-results">
        <a type="button" class="btn btn-default btn-column-filter lightbox" href="#popup1">Select Columns</a>
        <table id="example" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Club</th>
            <th>Name</th>
            <th>BMI improvement</th>
            <th>Years added</th>
            <th>CM's lost</th>
            <th>KG's lost</th>
            <th>Body fat % reduction</th>
            <th>VO2 improvement</th>
            <th>Squat test improvement</th>
            <th>Standing functional reach improvement</th>
            <th>Stork test improvement</th>
            <th>Abdominal test improvement</th>
            <th>Increase in days of physical activity / week</th>
            <th>Increase in days of strength activity / week</th>
            <th>Smoking improvement</th>
            <th>Reduction in standard Alcoholic drinks / week</th>
            <th>Reduction in max # of standard drinks in 1 sitting</th>
            <th>Nutrition score improvement</th>
            <th>Mental Health improvement</th>
            <th>Risk profile improvement</th>
        </tr>
    </thead>
    {% if summary is defined %}
    <tbody>
        {% for item in summary %}
        <tr>
            <td>{{ item.club_name }}</td>
            <td>{{ item.fname }} {{ item.lname }}</td>
            <td>{% if item.bmi_improvement < 0 %}0{% else %}{{ "%01d"|format(item.bmi_improvement) }}{% endif %}</td>
            <td>{% if item.years_added < 0 %}0{% else %}{{ "%01d"|format(item.years_added) }}{% endif %}</td>
            <td>{% if item.cm_lost < 0 %}0{% else %}{{ "%01d"|format(item.cm_lost) }}{% endif %}</td>
            <td>{% if item.kg_lost < 0 %}0{% else %}{{ "%01d"|format(item.kg_lost) }}{% endif %}</td>
            <td>{% if item.body_fat_reduction < 0 %}0{% else %}{{ "%01d"|format(item.body_fat_reduction) }}{% endif %}</td>
            <td>{% if item.vo2_improvement < 0 %}0{% else %}{{ "%01d"|format(item.vo2_improvement) }}{% endif %}</td>
            <td>{% if item.squat_test_improvement < 0 %}0{% else %}{{ "%01d"|format(item.squat_test_improvement) }}{% endif %}</td>
            <td>{% if item.standing_functional_reach_improvement < 0 %}0{% else %}{{ "%01d"|format(item.standing_functional_reach_improvement) }}{% endif %}</td>
            <td>{% if item.stork_test_improvement < 0 %}0{% else %}{{ "%01d"|format(item.stork_test_improvement) }}{% endif %}</td>
            <td>{% if item.abdominal_test_improvement < 0 %}0{% else %}{{ "%01d"|format(item.abdominal_test_improvement) }}{% endif %}</td>
            <td>{% if item.vigorous_pa_per_week < 0 %}0{% else %}{{ "%01d"|format(item.vigorous_pa_per_week) }}{% endif %}</td>
            <td>{% if item.strength_pa_per_week < 0 %}0{% else %}{{ "%01d"|format(item.strength_pa_per_week) }}{% endif %}</td>
            <td>{% if item.smoking_improvement < 0 %}0{% else %}{{ "%01d"|format(item.smoking_improvement) }}{% endif %}</td>
            <td>{% if item.standard_alcohol_per_week < 0 %}0{% else %}{{ "%01d"|format(item.standard_alcohol_per_week) }}{% endif %}</td>
            <td>{% if item.maximum_alcohol_one_sitting < 0 %}0{% else %}{{ "%01d"|format(item.maximum_alcohol_one_sitting) }}{% endif %}</td>
            <td>{% if item.nutrition_score_improvement < 0 %}0{% else %}{{ "%01d"|format(item.nutrition_score_improvement) }}{% endif %}</td>
            <td>{% if item.mental_health_improvement < 0 %}0{% else %}{{ "%01d"|format(item.mental_health_improvement) }}{% endif %}</td>
            <td>{% if item.risk_profile_improvement < 0 %}0{% else %}{{ "%01d"|format(item.risk_profile_improvement) }}{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
    {% endif %}
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tfoot>
</table>
    </div>
    
    
    
</section>
{#<p class="disclaimer">Use of this site, and all information contained within is subject to our <a href="http://www.healthylifeproject.com.au/disclaimer/" target="_blank">legal disclaimer</a>.</p>#}
<!-- popup holder -->
<div id="columnFilterModal" class="popup-holder">
    <div id="popup1" class="lightbox">
        <h2 class="modal-title">Select Columns</h2>
        <a href="#" class="column-filter-modal-close close">Close</a>
        <form id="frmColumnFilter" action="{{ path('acme_head_office_detailed_report_column_filter') }}" method="post">
            <div class="column-filter-list-wrapper">
            <ul class='column-filter-list'>
                {% if ho_admin_details.report_column_filter is defined and ho_admin_details.report_column_filter|length > 0 %}

                    <li><label><input type="checkbox" data-column="2" {% if "bmi_improvement" in ho_admin_details.report_column_filter %}checked{% endif %} name="column_filter[]" value="bmi_improvement"> BMI improvement</label></li>
                    <li><label><input type="checkbox" data-column="3" {% if "years_added" in ho_admin_details.report_column_filter %}checked{% endif %} name="column_filter[]" value="years_added"> Years added</label></li>
                    <li><label><input type="checkbox" data-column="4" {% if "cm_lost" in ho_admin_details.report_column_filter %}checked{% endif %} name="column_filter[]" value="cm_lost"> CM's lost</label></li>
                    <li><label><input type="checkbox" data-column="5" {% if "kg_lost" in ho_admin_details.report_column_filter %}checked{% endif %} name="column_filter[]" value="kg_lost"> KG's lost</label></li>
                    <li><label><input type="checkbox" data-column="6" {% if "body_fat_reduction" in ho_admin_details.report_column_filter %}checked{% endif %} name="column_filter[]" value="body_fat_reduction"> Body fat reduction</label></li>
                    <li><label><input type="checkbox" data-column="7" {% if "vo2_improvement" in ho_admin_details.report_column_filter %}checked{% endif %} name="column_filter[]" value="vo2_improvement"> VO2 improvement</label></li>
                    <li><label><input type="checkbox" data-column="8" {% if "squat_test_improvement" in ho_admin_details.report_column_filter %}checked{% endif %} name="column_filter[]" value="squat_test_improvement"> Squat test improvement</label></li>
                    <li><label><input type="checkbox" data-column="9" {% if "standing_functional_reach_improvement" in ho_admin_details.report_column_filter %}checked{% endif %} name="column_filter[]" value="standing_functional_reach_improvement"> Standing functional reach improvement</label></li>
                    <li><label><input type="checkbox" data-column="10" {% if "stork_test_improvement" in ho_admin_details.report_column_filter %}checked{% endif %} name="column_filter[]" value="stork_test_improvement"> Stork test improvement</label></li>
                    <li><label><input type="checkbox" data-column="11" {% if "abdominal_test_improvement" in ho_admin_details.report_column_filter %}checked{% endif %} name="column_filter[]" value="abdominal_test_improvement"> Abdominal test improvement</label></li>
                    <li><label><input type="checkbox" data-column="12" {% if "vigorous_pa_per_week" in ho_admin_details.report_column_filter %}checked{% endif %} name="column_filter[]" value="vigorous_pa_per_week"> Increase in days of physical activity / week</label></li>
                    <li><label><input type="checkbox" data-column="13" {% if "strength_pa_per_week" in ho_admin_details.report_column_filter %}checked{% endif %} name="column_filter[]" value="strength_pa_per_week"> Increase in days of strength activity / week</label></li>
                    <li><label><input type="checkbox" data-column="14" {% if "smoking_improvement" in ho_admin_details.report_column_filter %}checked{% endif %} name="column_filter[]" value="smoking_improvement"> Smoking improvement</label></li>
                    <li><label><input type="checkbox" data-column="15" {% if "standard_alcohol_per_week" in ho_admin_details.report_column_filter %}checked{% endif %} name="column_filter[]" value="standard_alcohol_per_week"> Reduction in standard alcoholic drinks / week</label></li>
                    <li><label><input type="checkbox" data-column="16" {% if "maximum_alcohol_one_sitting" in ho_admin_details.report_column_filter %}checked{% endif %} name="column_filter[]" value="maximum_alcohol_one_sitting"> Reduction in max # of standard drinks in 1 sitting</label></li>
                    <li><label><input type="checkbox" data-column="17" {% if "nutrition_score_improvement" in ho_admin_details.report_column_filter %}checked{% endif %} name="column_filter[]" value="nutrition_score_improvement"> Nutrition score improvement</label></li>
                    <li><label><input type="checkbox" data-column="18" {% if "mental_health_improvement" in ho_admin_details.report_column_filter %}checked{% endif %} name="column_filter[]" value="mental_health_improvement"> Mental health improvement</label></li>
                    <li><label><input type="checkbox" data-column="19" {% if "risk_profile_improvement" in ho_admin_details.report_column_filter %}checked{% endif %} name="column_filter[]" value="risk_profile_improvement"> Risk profile improvement</label></li>
                {% else %}
                    <li><label><input type="checkbox" data-column="2" checked name="column_filter[]" value="bmi_improvement"> BMI improvement</label></li>
                    <li><label><input type="checkbox" data-column="3" checked name="column_filter[]" value="years_added"> Years added</label></li>
                    <li><label><input type="checkbox" data-column="4" checked name="column_filter[]" value="cm_lost"> CM's lost</label></li>
                    <li><label><input type="checkbox" data-column="5" checked name="column_filter[]" value="kg_lost"> KG's lost</label></li>
                    <li><label><input type="checkbox" data-column="6" checked name="column_filter[]" value="body_fat_reduction"> Body fat reduction</label></li>
                    <li><label><input type="checkbox" data-column="7" checked name="column_filter[]" value="vo2_improvement"> VO2 improvement</label></li>
                    <li><label><input type="checkbox" data-column="8" checked name="column_filter[]" value="squat_test_improvement"> Squat test improvement</label></li>
                    <li><label><input type="checkbox" data-column="9" checked name="column_filter[]" value="standing_functional_reach_improvement"> Standing functional reach improvement</label></li>
                    <li><label><input type="checkbox" data-column="10" checked name="column_filter[]" value="stork_test_improvement"> Stork test improvement</label></li>
                    <li><label><input type="checkbox" data-column="11" checked name="column_filter[]" value="abdominal_test_improvement"> Abdominal test improvement</label></li>
                    <li><label><input type="checkbox" data-column="12" checked name="column_filter[]" value="vigorous_pa_per_week"> Increase in days of physical activity / week</label></li>
                    <li><label><input type="checkbox" data-column="13" checked name="column_filter[]" value="strength_pa_per_week"> Increase in days of strength activity / week</label></li>
                    <li><label><input type="checkbox" data-column="14" checked name="column_filter[]" value="smoking_improvement"> Smoking improvement</label></li>
                    <li><label><input type="checkbox" data-column="15" checked name="column_filter[]" value="standard_alcohol_per_week"> Reduction in standard alcoholic drinks / week</label></li>
                    <li><label><input type="checkbox" data-column="16" checked name="column_filter[]" value="maximum_alcohol_one_sitting"> Reduction in max # of standard drinks in 1 sitting</label></li>
                    <li><label><input type="checkbox" data-column="17" checked name="column_filter[]" value="nutrition_score_improvement"> Nutrition score improvement</label></li>
                    <li><label><input type="checkbox" data-column="18" checked name="column_filter[]" value="mental_health_improvement"> Mental health improvement</label></li>
                    <li><label><input type="checkbox" data-column="19" checked name="column_filter[]" value="risk_profile_improvement"> Risk profile improvement</label></li>
                {% endif %}
            </ul>
            </div>
            
            <button type="button" class="btn btn-default btn-column-filter-modal-close" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary btn-save-report-column-filter">Save changes</button>
            
        </form>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    
<script type="text/javascript">
    var asset_img = "{{ asset('img') }}";
    var asset_resources = "{{ asset('resources') }}";
    var chart_session_path = "{{ path('acme_club_report_set_chart_session') }}";
    var detailed_report = "{{ path('acme_head_office_detailed_report') }}";
    var report = "{{ path('acme_head_office_report') }}";
    var detailed_report_ajax = "{{ path('acme_head_office_detailed_report_ajax') }}";
    var request_params = "{{ request_params }}";
    
    
</script>
<script src="{{ asset('resources') }}/jquery-datatables/DataTables-1.10.9/media/js/jquery.dataTables.js"></script>
<script src="{{ asset('js') }}/head-office/detailed-reports.js"></script>
{% endblock %}
