{% extends "::head_office_layout.html.twig" %}

{% block title %}Reports{% endblock %}

{% block body %}

<!-- addsection -->
<section class="add-section1">
    <form class="report-from" action="#">
        <fieldset>
            <h2>Reports</h2>
            <div class="row">
                <div class="col">
                        <label>Date Range</label>
                        <div class="box-frame">
                                <div class="select-holder">
                                        <div class="add-select1 add-select2">
                                            <select name="dtFrDay">
                                                {% for i in 1..31 %}
                                                    <option value="{{ i }}" {% if filter_daterange['from']['day'] == i %}selected{% endif %}>{{ "%02d"|format(i) }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="add-select1">
                                            <select name="dtFrMonth">
                                                <option value="01" {% if filter_daterange['from']['month'] == "01" %}selected{% endif %}>Jan</option>
                                                <option value="02" {% if filter_daterange['from']['month'] == "02" %}selected{% endif %}>Feb</option>
                                                <option value="03" {% if filter_daterange['from']['month'] == "03" %}selected{% endif %}>Mar</option>
                                                <option value="04" {% if filter_daterange['from']['month'] == "04" %}selected{% endif %}>Apr</option>
                                                <option value="05" {% if filter_daterange['from']['month'] == "05" %}selected{% endif %}>May</option>
                                                <option value="06" {% if filter_daterange['from']['month'] == "06" %}selected{% endif %}>Jun</option>
                                                <option value="07" {% if filter_daterange['from']['month'] == "07" %}selected{% endif %}>Jul</option>
                                                <option value="08" {% if filter_daterange['from']['month'] == "08" %}selected{% endif %}>Aug</option>
                                                <option value="09" {% if filter_daterange['from']['month'] == "09" %}selected{% endif %}>Sep</option>
                                                <option value="10" {% if filter_daterange['from']['month'] == "10" %}selected{% endif %}>Oct</option>
                                                <option value="11" {% if filter_daterange['from']['month'] == "11" %}selected{% endif %}>Nov</option>
                                                <option value="12" {% if filter_daterange['from']['month'] == "12" %}selected{% endif %}>Dec</option>
                                            </select>
                                        </div>
                                        <div class="add-select1">
                                            <select name="dtFrYear" >
                                                {% set year1 = "now"|date_modify("-" ~ 1 ~" year")|date("Y") %}
                                                <option value="{{ year1 }}" {% if filter_daterange['from']['year'] == year1 %}selected{% endif %}>{{ year1 }}</option>
                                                {% for i in 0..6 %}
                                                    {% set year = "now"|date_modify("+" ~ i ~" year")|date("Y") %}
                                                    <option value="{{ year }}" {% if filter_daterange['from']['year'] == year %}selected{% endif %}>{{ year }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <em class="ipad-drto">To</em>
                                        <div class="add-select1 add-select2">
                                            <select name="dtToDay">
                                                {% for i in 1..31 %}
                                                    <option value="{{ i }}" {% if filter_daterange['to']['day'] == i %}selected{% endif %}>{{ "%02d"|format(i) }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="add-select1">
                                            <select name="dtToMonth">
                                                <option value="01" {% if filter_daterange['to']['month'] == "01" %}selected{% endif %}>Jan</option>
                                                <option value="02" {% if filter_daterange['to']['month'] == "02" %}selected{% endif %}>Feb</option>
                                                <option value="03" {% if filter_daterange['to']['month'] == "03" %}selected{% endif %}>Mar</option>
                                                <option value="04" {% if filter_daterange['to']['month'] == "04" %}selected{% endif %}>Apr</option>
                                                <option value="05" {% if filter_daterange['to']['month'] == "05" %}selected{% endif %}>May</option>
                                                <option value="06" {% if filter_daterange['to']['month'] == "06" %}selected{% endif %}>Jun</option>
                                                <option value="07" {% if filter_daterange['to']['month'] == "07" %}selected{% endif %}>Jul</option>
                                                <option value="08" {% if filter_daterange['to']['month'] == "08" %}selected{% endif %}>Aug</option>
                                                <option value="09" {% if filter_daterange['to']['month'] == "09" %}selected{% endif %}>Sep</option>
                                                <option value="10" {% if filter_daterange['to']['month'] == "10" %}selected{% endif %}>Oct</option>
                                                <option value="11" {% if filter_daterange['to']['month'] == "11" %}selected{% endif %}>Nov</option>
                                                <option value="12" {% if filter_daterange['to']['month'] == "12" %}selected{% endif %}>Dec</option>
                                            </select>
                                        </div>
                                        <div class="add-select1">
                                            <select name="dtToYear">
                                                {% set year1 = "now"|date_modify("-" ~ 1 ~" year")|date("Y") %}
                                                <option value="{{ year1 }}" {% if filter_daterange['to']['year'] == year1 %}selected{% endif %}>{{ year1 }}</option>
                                                {% for i in 0..6 %}
                                                    {% set year = "now"|date_modify("+" ~ i ~" year")|date("Y") %}
                                                    <option value="{{ year }}" {% if filter_daterange['to']['year'] == year %}selected{% endif %}>{{ year }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                </div>
                                <em class="normal-drto">To</em>
                        </div>
                </div>
                <div class="col">
                        <label>Filters</label>
                        <div class="box-frame">
                                <div class="select-holder">
                                    <div class="add-select1">
                                        <input type="checkbox" name="sAddClub" {% if app.request.get('sAddClub') == 'on' %}checked{% endif %}>
                                        <select name="fClub">
                                            <option value="">Gym</option>
                                            {% for item in clubs %}
                                                <option value="{{ item.club_id }}" {% if app.request.get('fClub') == item.club_id %}selected{% endif %}>{{ item.club_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="add-select1">
                                        <input type="checkbox" name="sAddEvent" {% if app.request.get('sAddEvent') == 'on' %}checked{% endif %}>
                                        <select name="fEvent">
                                            <option value="">Event</option>
                                            {% for item in events %}
                                                <option value="{{ item.event_id }}" {% if app.request.get('fEvent') == item.event_id %}selected{% endif %}>{{ item.event_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="add-select1 add-select3">
                                        <input type="checkbox" name="sAddResults" {% if app.request.get('sAddResults') == 'on' %}checked{% endif %}>
                                        <select name="fResults">
                                            <option value="">Results</option>
                                            <option value="1" {% if app.request.get('fResults') == "1" %}selected{% endif %}>Gained 1 Year</option>
                                            {% for i in 2..14 %}
                                                <option value="{{ i }}" {% if app.request.get('fResults') == i %}selected{% endif %}>Gained {{ i }} Years</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="add-select1">
                                        <input type="checkbox" name="sAddGender" {% if app.request.get('sAddGender') == 'on' %}checked{% endif %}>
                                        <select name="fGender">
                                            <option value="">Gender</option>
                                            <option value="male" {% if app.request.get('fGender') == "male" %}selected{% endif %}>Male</option>
                                            <option value="female" {% if app.request.get('fGender') == "female" %}selected{% endif %}>Female</option>
                                        </select>
                                    </div>
                                    <div class="add-select1">
                                        <input type="checkbox" name="sAddAgeRange" {% if app.request.get('sAddAgeRange') == 'on' %}checked{% endif %}>
                                        
                                        <select name="fAgeRangeFr">
                                            <option value="">Age (from)</option>
                                            {% for i in 16..100 %}
                                                <option value="{{ i }}" {% if app.request.get('fAgeRangeFr') == i %}selected{% endif %}>{{ i }}</option>
                                            {% endfor %}
                                        </select>
                                        
                                        
                                    </div>
                                        
                                    <div class="add-select1">
                                        <select name="fAgeRangeTo">
                                            <option value="">Age (to)</option>
                                            {% for i in 16..100 %}
                                                <option value="{{ i }}" {% if app.request.get('fAgeRangeTo') == i %}selected{% endif %}>{{ i }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                        </div>
                </div>
            </div>
            <div class="row">
{#                    <input type="submit" value="Run Report">#}
                    <input class="btn btn-primary btn-summary-reports" type="submit" value="Run Report">
                    <a href="{{ path('acme_head_office_report') }}?print=1{% if request_params != '' %}&{{ request_params }}{% endif %}" target="_blank"><i class="icon-25"></i></a>
                    <a href="{{ path('acme_head_office_report') }}?download=1{% if request_params != '' %}&{{ request_params }}{% endif %}"><i class="icon-24"></i></a>
                    <input class="btn btn-default pointer btn-detailed-reports" type="submit" value="Run Detailed Reports">
            </div>
        </fieldset>
    </form>
</section>


<!-- three cols add three cols add three cols1 columns holder -->
<div class="three-cols add-three-cols add-three-cols1 columns-holder">
    <section class="add-col">
        <div class="col col1">
            <div class="add">
                <header class="value">
                    {% if summary[0]['total_years_added'] is defined and summary[0]['total_years_added'] > 0%}
                        <strong>
                            +{{ '%.1f' | format(summary[0]['total_years_added'])| replace({".0" : ""}) }} 
                            <em>Years Added</em>
                        </strong>
                    {% else %}
                        <strong>--- <em>Years Added</em></strong>
                    {% endif %}
                    
                    {% if summary[0]['avg_years_added'] is defined and summary[0]['avg_years_added'] > 0%}
                        <span>Avg {{ '%.1f' | format(summary[0]['avg_years_added'])| replace({".0" : ""}) }} Years<br>Per Client</span>
                        
                    {% else %}
                        <span>Avg --- Years<br>Per Client</span>
                    {% endif %}
                    
                </header>
                    
                {% set years_added_data = '[' %}
                {% for key, value in report_data %}
                    {% if value[0]['total_years_added'] is defined and value[0]['total_years_added'] > 0 %}
                        {% set years_added_data = years_added_data ~ '[' ~ '"' ~ key ~'",' ~ value[0]['total_years_added'] ~ '],' %}
                    {% else %}
                        {% set years_added_data = years_added_data ~ '[' ~ '"' ~ key ~'",' ~ 0 ~ '],' %}
                    {% endif %}
                {% endfor %}
                {% set years_added_data = years_added_data|trim(',') ~ ']' %}
                
                <div class="img-box big-chart bar-chart" data-values='{"title":"YRS", "data":{{ years_added_data }}}'>
                        <div class="chart"></div>
                        <img src="{{ asset('img') }}/img18.png" alt="image description">
                </div>
            </div>
        </div>
    </section>
    <section class="add-col">
        <div class="col col2">
            <div class="add">
                <header class="value">
                    {% if summary[0]['total_cm_lost'] is defined and summary[0]['total_cm_lost'] > 0%}
                        <strong>
                            -{{ '%.1f' | format(summary[0]['total_cm_lost'])| replace({".0" : ""}) }} 
                            
                            <em>CM Lost</em>
                        </strong>
                    {% else %}
                        <strong>--- <em>CM Lost</em></strong>
                    {% endif %}
                    
                    {% if summary[0]['avg_cm_lost'] is defined and summary[0]['avg_cm_lost'] > 0 %}
                            <span>Avg {{ '%.1f' | format(summary[0]['avg_cm_lost'])| replace({".0" : ""}) }} Years<br>Per Client</span>
                        
                    {% else %}
                        <span>Avg --- Years<br>Per Client</span>
                    {% endif %}
                    
                </header>
                <div class="img-box bar-chart" data-values='{"title":"CM", 
                        "data":[
                        ["Chest",{% if summary[0]['total_biometric_chest_lost'] is defined and summary[0]['total_biometric_chest_lost'] > 0 %}{{ summary[0]['total_biometric_chest_lost'] }}{% else %}0{% endif %}],
                        ["Thighs",{% if summary[0]['total_biometric_thigh_lost'] is defined and summary[0]['total_biometric_thigh_lost'] > 0%}{{ summary[0]['total_biometric_thigh_lost'] }}{% else %}0{% endif %}],
                        ["Waist",{% if summary[0]['total_biometric_waist_value_lost'] is defined and summary[0]['total_biometric_waist_value_lost'] > 0 %}{{ summary[0]['total_biometric_waist_value_lost'] }}{% else %}0{% endif %}],
                        ["Arms",{% if summary[0]['total_biometric_arm_lost'] is defined and summary[0]['total_biometric_arm_lost'] > 0 %}{{ summary[0]['total_biometric_arm_lost'] }}{% else %}0{% endif %}]]}'>
                        <div class="chart"></div>
                        <img src="{{ asset('img') }}/img10.png" alt="image description">
                </div>
            </div>
        </div>
        <div class="col col3">
                <div class="add">
                        <header class="value">
                            {% if summary[0]['total_kg_lost'] is defined and summary[0]['total_kg_lost'] > 0%}
                                <strong>
                                        -{{ '%.1f' | format(summary[0]['total_kg_lost'])| replace({".0" : ""}) }} 
                                        
                                    <em>KG Lost</em>
                                </strong>
                            {% else %}
                                <strong>--- <em>KG Lost</em></strong>
                            {% endif %}
                            
                            {% if summary[0]['avg_kg_lost'] is defined and summary[0]['avg_kg_lost'] > 0%}
                                    <span>Avg {{ '%.1f' | format(summary[0]['avg_kg_lost'])| replace({".0" : ""}) }} KG<br>Per Client</span>
                                
                            {% else %}
                                <span>Avg --- KG<br>Per Client</span>
                            {% endif %}
                                
                        </header>
                        
                        {% set kg_lost_data = '[' %}
                        {% for key, value in report_data %}
                            {% if value[0]['total_kg_lost'] is defined and value[0]['total_kg_lost'] > 0 %}
                                {% set kg_lost_data = kg_lost_data ~ '[' ~ '"' ~ key ~'",' ~ value[0]['total_kg_lost'] ~ '],' %}
                            {% else %}
                                {% set kg_lost_data = kg_lost_data ~ '[' ~ '"' ~ key ~'",' ~ 0 ~ '],' %}
                            {% endif %}
                        {% endfor %}
                        {% set kg_lost_data = kg_lost_data|trim(',') ~ ']' %}
                        
                        <div class="img-box line-chart" data-values='{"title":"KG", "data":{{ kg_lost_data }}}'>
                                <div class="chart"></div>
                                <img src="{{ asset('img') }}/img8.png" alt="image description">
                        </div>
                </div>
        </div>
    </section>
</div>

<!-- section -->
<section class="section">
    <h3>Averages</h3>
    <ul>
        <li>
            <i class="icon-14"></i>
            <div class="price-holder">
                {% if summary[0]['avg_healthy_life_score']  is defined and summary[0]['avg_healthy_life_score'] > 0 %}
                        <strong>{{ '%.1f' | format((summary[0]['avg_healthy_life_score'] * 100))| replace({".0" : ""}) }}%</strong>
                    
                {% else %}
                    <strong>---</strong>
                {% endif %}
                
                <span>Of Healthy Life <br>Age Potential</span>
            </div>
        </li>
        <li>
            <i class="icon-22"></i>
            <div class="price-holder">
                {% if summary[0]['avg_estimated_current_healthy_life_age'] is defined and summary[0]['avg_estimated_current_healthy_life_age'] > 0%}
                        <strong>{{ '%.1f' | format(summary[0]['avg_estimated_current_healthy_life_age'])| replace({".0" : ""}) }}</strong>
                {% else %}
                    <strong>---</strong>
                {% endif %}
                
                <span>Healthy<br>Life Age</span>
            </div>
        </li>
        <li>
            <i class="icon-23"></i>
            <div class="price-holder">
                {% if summary[0]['avg_you_could_add_up_to'] is defined and summary[0]['avg_you_could_add_up_to'] > 0 %}
                    <strong>{{ '%.1f' | format(summary[0]['avg_you_could_add_up_to'])| replace({".0" : ""}) }}</strong>
                {% else %}
                    <strong>---</strong>
                {% endif %}
                
                <span>Potential Healthy<br>Life Years to Add</span>
            </div>
        </li>
    </ul>
    
    
</section>

{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    var asset_img = "{{ asset('img') }}";
    var asset_resources = "{{ asset('resources') }}";
    var chart_session_path = "{{ path('acme_club_report_set_chart_session') }}";
    var detailed_report = "{{ path('acme_head_office_detailed_report') }}";
    var report = "{{ path('acme_head_office_report') }}";
</script>
<script src="{{ asset('js') }}/head-office/reports.js"></script>
{% endblock %}
