{% extends "::head_office_layout.html.twig" %}

{% block title %}Reset Your Healthy Life Project Password{% endblock %}

{% block body %}
<!-- add section -->
<section class="add-section">
        <div class="description">
                <div class="add-description">
                        <div class="holder">
                                <h2>Reset Your Healthy Life Project Password</h2>
                                {% if app.session.flashbag.get('success')|length > 0%}
                                    <p>Help is on the way.</p>
                                {% else %}

                                    <p>Submit your email address and we'll send you a link to reset your password. </p>

                                    {% for flashMessage in app.session.flashbag.get('error') %}
                                    <div class="alert alert-danger">
                                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                                        {% for item in flashMessage %}
                                            {{ item.message }}<br/>
                                        {% endfor %}
                                    </div>
                                    {% endfor %}


                                    <form class="form" action="" method="post">
                                        <div class="reset-password-fields field-holder">
                                            <div class="row">
                                                <input type="email" name="email" placeholder="Email" required>
                                            </div>
                                                
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                                
                                        </div>
                                        
                                    </form>
                                {% endif %}
                        </div>
                </div>
        </div>
</section>

<!-- add section -->
<section class="add-section">
        <header class="holder">
                <h2>OUR PARTNERS</h2>
        </header>
        <!-- details -->
        <div class="details">
                <div class="holder">
                        <ul>
                            <li><a href="http://voodoocreative.com.au/"><img src="{{ asset('img') }}/voodoo-logo_white.png" alt="imgaes description"></a></li>
                            {#
                                <li><a href="#"><img src="{{ asset('img') }}/img5.png" alt="imgaes description"></a></li>
                                <li><a href="#"><img src="{{ asset('img') }}/img6.png" alt="imgaes description"></a></li>
                            #}
                        </ul>
                </div>
        </div>
</section>
{% endblock %}
