{% extends "::head_office_layout.html.twig" %}

{% block title %}Reset Your Healthy Life Project Password{% endblock %}

{% block body %}
<!-- add section -->
<section class="add-section">
        <div class="description">
                <div class="add-description">
                        <div class="holder">
                                <h2>Reset Your Healthy Life Project Password</h2>
                                <p>Your password has been successfully changed. <a href="{{ path('acme_head_office_login') }}">Click here to return to the login page.</a></p>
                        </div>
                </div>
        </div>
</section>

<!-- add section -->
<section class="add-section">
        <header class="holder">
                <h2>OUR PARTNERS</h2>
        </header>
        <!-- details -->
        <div class="details">
                <div class="holder">
                        <ul>
                            <li><a href="http://voodoocreative.com.au/"><img src="{{ asset('img') }}/voodoo-logo_white.png" alt="imgaes description"></a></li>
                            {#
                                <li><a href="#"><img src="{{ asset('img') }}/img5.png" alt="imgaes description"></a></li>
                                <li><a href="#"><img src="{{ asset('img') }}/img6.png" alt="imgaes description"></a></li>
                            #}
                        </ul>
                </div>
        </div>
</section>
{% endblock %}
