{% extends "::club_layout.html.twig" %}

{% block title %}Healthy Life | Reports{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('resources') }}/jquery-datatables/DataTables-1.10.9/media/css/jquery.dataTables.css">
    <link rel="stylesheet" href="{{ asset('css') }}/jquery-datatable-custom.css">
    <link rel="stylesheet" href="{{ asset('css') }}/reports.css">
{% endblock %}

{% block body %}
<div class="container">
    <h4>Prospect Clients</h4>
   <!-- section -->
    <div class="container detailed-results">
        <table id="example" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Client Id</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Birth date</th>
                    <th>Gender</th>
                    <th>Height</th>
                    <th>Weight</th>
                    <th>Status</th>
                    <th>Program Type</th>
                    <th>Registration Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                     <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>

            </tbody>
 
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    
                </tr>
            </tfoot>
        </table>
    </div>
</div>

{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    var asset_img = "{{ asset('img') }}";
    var asset_resources = "{{ asset('resources') }}";
    var client_view_path = "{{ path('acme_club_client_view') }}";
{#    var chart_session_path = "{{ path('acme_club_report_set_chart_session') }}";#}
    var detailed_report = "{{ path('acme_club_detailed_report') }}";
    var report = "{{ path('acme_club_report') }}";
    var detailed_report_ajax = "{{ path('acme_club_prospects_list') }}";
</script>
<script src="{{ asset('resources') }}/jquery-datatables/DataTables-1.10.9/media/js/jquery.dataTables.js"></script>
<script src="{{ asset('js') }}/club/prospects.js"></script>
{% endblock %}
