{% extends "::head_office_layout.html.twig" %}

{% block title %}Healthy Life | Coaches{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('resources') }}/jquery-datatables/DataTables-1.10.9/media/css/jquery.dataTables.css">
    <link rel="stylesheet" href="{{ asset('css') }}/jquery-datatable-custom.css">
    <link rel="stylesheet" href="{{ asset('css') }}/reports.css">
    <link rel="stylesheet" href="{{ asset('css') }}/head-office/coaches.css">
{% endblock %}

{% block body %}
<div class="container">
   
    {% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ flashMessage }}
    </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {% for item in flashMessage %}
            {{ item.message }}<br/>
        {% endfor %}
    </div>
    {% endfor %}
    <div class="row">
        <div class="col-50">
            <h2>Coaches </h2>
        </div>
        <div class="col-50 text-right">
            <br>
            <a class="btn btn-default lightbox btn-bulk-email" href="#popup1" disabled><i class="icon-mail"></i> Bulk Email</a>
        </div>
    </div>
    <div class="row">
        <div class="col-30">
            <label>Club</label><br>
            <select name="club">
                <option value="">-- select a club --</option>
                {% for item in clubs %}
                    <option value="{{ item.club_id }}">{{ item.club_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-20">
            <label>AIA Approved?</label><br>
            <select name="s_aia_approved">
                <option value="">-- select option --</option>
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
        </div>
            
        <div class="col-20">
            <label>Status</label><br>
            <select name="status">
                <option value="">-- select status --</option>
                <option value="active">Active</option>
                <option value="inactive">Inactive</option>
            </select>
        </div>
            
        <div class="col-20">
            <label>Role</label><br>
            <select name="role">
                <option value="">-- select role --</option>
                <option value="site-admin">Site Admin</option>
                <option value="coach">Coach</option>
            </select>
        </div>
    </div>
   <!-- section -->
    <div class="container">
        <table id="example" class="table">
            <thead>
                <tr>
                    <th><input type="checkbox" name="all" class="checkall"></th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Email</th>
                    <th>Club</th>
                    <th>Status</th>
                    <th>Role</th>
                    <th>AIA Approved?</th>
                    <th>club_id</th>
                    <th>s_aia_approved</th>
                    <th>status</th>
                    <th>role</th>
                </tr>
            </thead>
            <tbody>
                {% for item in coaches %}
                <tr>
                    <td><input type="checkbox" name="coach" value="{{ item.club_admin_id }}"></td>
                    <td>{{ item.fname }}</td>
                    <td>{{ item.lname }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.club_name }}</td>
                    <td>{{ item.status|capitalize }}</td>
                    <td>{% if item.role == 'site-admin' %}Site Admin{% else %}Coach{% endif %}</td>
                    <td>{% if item.s_aia_approved == 1 %}Yes{% else %}No{% endif %}</td>
                    <td>{{ item.club_id }}</td>
                    <td>{% if item.s_aia_approved == 1 %}1{% else %}0{% endif %}</td>
                    <td>{% if item.status == 'active' %}active{% else %}inactive{% endif %}</td>
                    <td>{{ item.role }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<br/>

<!-- Modal -->

    <div id="bulkEmailModal" class="popup-holder">
        <div id="popup1" class="lightbox">
            <fieldset>
                    <h2 class="modal-title">Bulk Email</h2>
                    <a href="#" class="email-modal-close close">Close</a>
                    <form action="{{ path('acme_head_office_coaches_bulk_email') }}" method="POST">
                        <input type="hidden" name="clients">
                        <div class="box-row">
                            <div class="field-holder">
                                <div class="row">
                                    <label>Subject</label>
                                    <input type="text" name="subject" class="form-control" required>
                                </div>
                            </div>
                            
                            <div class="field-holder">
                                <div class="row">
                                    <label>Message</label>
                                    <textarea id="message" class="wysiwyg-editor" name="message"></textarea>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-send-bulk-email">Send</button>
                    </form>
                    
            </fieldset>
        </div>
    </div>
            
            
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('resources') }}/tinymce/js/tinymce/tinymce.min.js"></script>
<script src="{{ asset('resources') }}/jquery-datatables/DataTables-1.10.9/media/js/jquery.dataTables.js"></script>
<script src="{{ asset('js') }}/head-office/coaches.js"></script>
{% endblock %}
