{% extends "::head_office_layout.html.twig" %}

{% set route_slug = app.request.attributes.get('_route_params')['slug'] %}
{% block title %}{{ route_slug|capitalize }} Club{% endblock %}

{% block body %}

{% if route_slug == 'new' %}
    <h2>CREATE A NEW CLUB</h2>
{% else %}
    <h2>UPDATE CLUB</h2>
{% endif %}


{% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('error') %}
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {% for item in flashMessage %}
        {{ item.message }}<br/>
    {% endfor %}
</div>
{% endfor %}
<form action="#" method="post">
    <div class="wide-fields field-holder">
        {% if route_slug == 'edit' %}
            <input type="hidden" name="club_id" value="{% if post.club_id is defined %}{{ post.club_id }}{% endif %}">
        {% endif %}
        <div class="row">
            <input type="text" name="club_name" value="{% if post.club_name is defined %}{{ post.club_name }}{% endif %}" placeholder="Club name" required>
        </div>

        <div class="row">
            <input type="text" name="address" value="{% if post.address is defined %}{{ post.address }}{% endif %}" placeholder="Address" required>
        </div>

        <div class="row">
            <input type="text" name="city" value="{% if post.city is defined %}{{ post.city }}{% endif %}" placeholder="City" required>
        </div>

        <div class="row">
            <input type="text" name="postcode" value="{% if post.postcode is defined %}{{ post.postcode }}{% endif %}" placeholder="Postcode" required>
        </div>

        <div class="row add-select1">
            <select name="state" class="form-control">
                <option value="">-- select state --</option>
                {% for item in states %}
                    <option value="{{ item.code }}" {% if post.state is defined and post.state == item.code%}selected{% endif %}>{{ item.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="row add-select1">
            <select name="lam" class="form-control">
                <option value="">-- select LAM --</option>
                {% for item in lams %}
                    <option value="{{ item.lam }}" {% if post.lam is defined and post.lam == item.lam%}selected{% endif %}>{{ item.lam }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="row">
            <label>Top up Credits ({% if post.available_credit is defined %}{{ post.available_credit }}{% else %}0{% endif %} Credits Remaining)</label>
            <input type="number" name="available_credit" value="0">
        </div>


        <div class="row add-select1">
            <select name="status">
                <option value="">Status</option>
                <option value="active" {% if post.status is defined and post.status == 'active'%}selected{% endif %}>Active</option>
                <option value="inactive" {% if post.status is defined and post.status == 'inactive'%}selected{% endif %}>Inactive</option>
            </select>
        </div>

        <div class="row">
            
            {% if route_slug == 'new' %}
                <button type="submit" class="btn btn-primary">Add Club</button>
            {% else %}
                <button type="submit" class="btn btn-primary">Update Club</button>
            {% endif %}
            <a href="{{ path('acme_head_office_club') }}" class="btn btn-default">Cancel</a>
        </div>
    </div>
</form>

{% endblock %}
