<div class="wrapper">
    {# HEADER #}
    <img src="{{ site_url }}/img/light-test-logo.png" alt="images description" style="height: 120px">

    <table class="client" style="margin-top: 10px;">
        <tr>
            <td class="name">
                <h1>{{ test_details.fname|upper }} {{ test_details.lname|upper }}</h1>
                <p>{{ test_details.age }} Year old </p>
            </td>
            <td class="datetime">
                <p>{{ test_details.test_datetime_finalised|date("d F Y") }}</p>
            </td>
        </tr>
    </table>

        
    <div class="intro-text" style="margin-top: 0px;">
        <strong>The Healthy Life Project is about EDUCATING Australians about how they can potentially live more years free of the burden of disease, INSPIRE them to make the positive changes required in their lives &amp; MOTIVATE them to stick with it.</strong>
    </div>
        
        
    <table class="intro-averages">
        <tr>
            <td class="col-1">
                <img src="{{ site_url }}/img/reports-icons/icon-27.jpg">
                <p>The average Australian male lives for a total of {{ hl_expectancy_male.total_expectancy }} years, {{ hl_expectancy_male.expectancy }} Healthy Life years &amp; {{ hl_expectancy_male.dalys }} Disability affected life years as a result of Injury, Illness or disease. </p>
            </td>
            <td class="col-2">
                <img src="{{ site_url }}/img/reports-icons/icon-28.jpg">
                <p>The average Australian female lives for a total of {{ hl_expectancy_female.total_expectancy }} years, {{ hl_expectancy_female.expectancy }} 
                Healthy Life years & {{ hl_expectancy_female.dalys }} Disability affected life years as a result 
                of Injury, Illness or disease.</p>
            </td>
            <td class="col-3">
                <img src="{{ site_url }}/img/reports-icons/icon-29.jpg">
                <p>95% of these Years of Healthy life lost are a result of Chronic disease, injury or illness - Most of which could be prevented or avoided through lifestyle modification.</p>
            </td>
        </tr>
    </table>
        

    {# SUMMARY OF YOUR RESULTS #}
                
    <div class="summary">
        <h2>SUMMARY OF YOUR RESULTS</h2>
        
        
        <table class="summary-wrapper">
            <tr>
                <td class="col-0">
                    <img src="{{ site_url }}/img/reports-icons/life-expectancy.jpg">
                </td>
                <td class="col-1">
                    {# TABLE 1 #}
                    <table cellspacing="0">
                        <tr>
                            <td class="description-1">
                                YEARS LOST TO CHRONIC DISEASE INJURY, ILLNESS OR EARLY DEATH
                            </td>
                            <td class="value">
                                <span class="number">
                                    {{ '%.1f' | format(test_details.estimated_years_you_will_live_with_did)| replace({".0" : ""}) }} 
                                </span><br>
                                <span>Years of <br>Affected Life</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="description-2">
                                
                            </td>
                            <td class="value"></td>
                        </tr>
                        <tr>
                            <td class="description-3">
                                <p>YOUR <br>HEALTHY <br>LIFE YEAR <br>EXPECTANCY</p>
                            </td>
                            <td class="value">
                                <span class="number">
                                    {{ '%.1f' | format(test_details.estimated_healthy_life_expectancy)| replace({".0" : ""}) }} 
                                </span><br>
                                <span>Years of <br>Expected <br>Healthy Life</span>
                            </td>
                        </tr>
                    </table>
                
                </td>
                <td class="col-2">
                    
                    {# TABLE 2 #}
                    <table cellspacing="0">
                        <tr>
                            <td class="img-1"><img src="{{ site_url }}/img/reports-icons/years-added.jpg"></td>
                            <td class="value value-1">
                                <span class="number">
                                    {{ '%.1f' | format((test_details.healthy_life_score * 100))| replace({".0" : ""}) }}%
                                </span>
                                <br>of Healthy Life <br>Potential
                            </td>
                            <td class="description-1">
                                <span>Based on the average Australian, your current age, lifestyle & physical condition.</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="img-2"><img src="{{ site_url }}/img/reports-icons/cake.jpg"></td>
                            <td class="value">
                                <span class="number">
                                    {{ '%.1f' | format(test_details.estimated_current_healthy_life_age)| replace({".0" : ""}) }}
                                </span>
                                <br>Healthy Life Age
                            </td>
                            <td class="description-2">
                                <span>Your estimated 'age' based on your estimated years of healthy life left compared to the Australian average.</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="img-3"><img src="{{ site_url }}/img/reports-icons/life.jpg"></td>
                            <td class="value">
                                <span class="number">
                                    {{ '%.1f' | format(test_details.you_could_add_up_to)| replace({".0" : ""}) }}
                                </span>
                                <br>Potential Healthy Life Years to Add
                            </td>
                            <td class="description-3">
                                <span>The number of healthy years you could add to your life by making a change.</span>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        
        <span class="summary-client-name">{{ test_details.fname|upper }}</span>
    </div>
        
    <div class="results-detail">
        <h2>YOUR RESULTS (IN DETAIL)</h2>
        
        <table cellspacing="0">
            <tr>
                <td class="description"><p>Your Current <br>Healthy Life <br>Score is</p></td>
                <td class="value">
                    <span class="number">{{ '%.1f' | format((test_details.healthy_life_score * 100))| replace({".0" : ""}) }}%</span>
                </td>
                <td class="result-special">
                    <div class="result" style="background-color: {{ test_details.healthy_life_score_outcome['color'] }}">{{ test_details.healthy_life_score_outcome['result'] }}</div>
                    <p>Your healthy life score is where you are currently at of your 'Healthy Life Potential' - The average Australian is at roughly 80% of their Healthy Life potential, 100% means you are as healthy as can be, below 55% means some serious changes need to be made.</p>
                    <p>95% of these Years of Healthy life lost are a result of Chronic disease or Injury - Most of which could be prevented or avoided through lifestyle modification.</p>
                </td>
            </tr>
            
            <tr>
                <td class="description"><p>Your Estimated <br>Healthy Life <br>Expectancy is</p></td>
                <td class="value-colspan" colspan="2">
                    <table width="200px">
                        <tr>
                            <td class="value">
                                <span class="number">{{ '%.1f' | format(test_details.estimated_healthy_life_expectancy)| replace({".0" : ""}) }}</span>
                                <br>
                                <span class="text">Years</span>
                            </td>
                            
                            <td class="middle">
                                <p>Out of a <br>possible</p>
                            </td>
                            
                            <td class="value">
                                <span class="number">{{ test_details.max_hle }}</span>
                                <br><span class="text">Years</span>
                            </td>
                        </tr>
                    </table>
                    
                    
                </td>
            </tr>
            
            
            <tr>
                <td class="description"><p>Estimated <br>Years of Healthy <br>Life left</p></td>
                {% if test_details.estimated_years_of_healthy_life_left > 0 %}
                    <td class="value">
                        <span class="number">{{ '%.1f' | format(test_details.estimated_years_of_healthy_life_left)| replace({".0" : ""}) }} </span>
                        <br><span class="text">Years</span>
                    </td>
                    <td class="result">
                        <p>Based on the average Australian, your current age, lifestyle & physical 
                            condition this is an estimate of the number of healthy years you've 
                            added to before being affected by disability, injury or disease - 
                            many of which are preventable through positive lifestyle change.</p>
                    </td>
                {% else %}
                    <td class="result" colspan="2" style="border-left: 1px solid #666;">
                        <p>Based on the average Australian, your current age, lifestyle & physical condition it is likely that you are already affected by some form of disability, injury or chronic disease - the good news is that through positive lifestyle change it is likely that these can be improved or managed.</p>
                    </td>
                {% endif %}
            </tr>
            
            <tr class="last-row">
                <td class="description"><p>Estimated number <br>of years you will <br>live with a disability, <br>injury or disease</p></td>
                <td class="value-colspan" colspan="2">
                    <table width="200px">
                        <tr>
                            <td class="value">
                                <span class="number">{{ '%.1f' | format(test_details.estimated_years_you_will_live_with_did)| replace({".0" : ""}) }}</span>
                                <br>
                                <span class="text">Years</span>
                            </td>
                            
                            <td class="middle">
                                <p>as opposed to <br>the Australian <br>average of</p>
                            </td>
                            
                            <td class="value">
                                <span class="number">{{ '%.1f' | format(test_details.estimated_years_you_will_live_with_did_as_opposed_to)| replace({".0" : ""}) }}</span>
                                <br><span class="text">Years</span>
                            </td>
                        </tr>
                    </table>
                    
                    
                </td>
            </tr>
        </table>
        
    </div>
    
    <div class="results-detail">
    <div class="middle-text"  style="margin-top: -20px; ">
        <p>You could add up to <br>
            <strong>
                    {{ '%.1f' | format(test_details.you_could_add_up_to)| replace({".0" : ""}) }} years
            </strong> 
                to your estimated <br>healthy life years.</p>
    </div>

    <table cellspacing="0">
        <tr>
            <td class="description"><p>Your estimated <br>current Healthy <br>Life Age is</p></td>
            <td class="value">
                <span class="number">{{ '%.1f' | format(test_details.estimated_current_healthy_life_age)| replace({".0" : ""}) }}</span>
                <br>
                <span class="text">Years Old</span>
            </td>
            <td class="result">
                <p>Based on your estimated years <br>of healthylife left compared <br>to the Australian average.</p>
            </td>
        </tr>
    </table>
    </div>
    
    <div class="results-detail detailed">
        <table cellspacing="0">
            <tr>
                <td class="description"><p>Physical Activity</p></td>
                <td class="value">
                    {% if test_details.lifestyle_physical_activity_result['level'] == 'High'%}
                        <img class="thumb" src="{{ site_url }}/img/reports-icons/icon-31.jpg">
                    {% elseif test_details.lifestyle_physical_activity_result['level'] == 'Low'%}
                        <img class="thumb" src="{{ site_url }}/img/reports-icons/icon-30.jpg">
                    {% else %}
                        <img class="thumb" src="{{ site_url }}/img/reports-icons/icon-32.jpg">
                    {% endif %}
                </td>
                <td class="result">
                    <p>Physical activity is any activity that gets your body moving, makes your breathing become quicker and your heart beat faster.  You can be physically active in many different ways, at any time of the day.</p>
                    <p><strong>YOUR SCORE:  {{ test_details.lifestyle_physical_activity_result['text']|raw }}</strong></p>
                </td>
            </tr>
            
            <tr>
                <td class="description"><p>Smoking Habits</p></td>
                <td class="value">
                    {% if test_details.lifestyle_smoking_result['level'] == 'High'%}
                        <img class="thumb" src="{{ site_url }}/img/reports-icons/icon-31.jpg">
                    {% elseif test_details.lifestyle_smoking_result['level'] == 'Low'%}
                        <img class="thumb" src="{{ site_url }}/img/reports-icons/icon-30.jpg">
                    {% else %}
                        <img class="thumb" src="{{ site_url }}/img/reports-icons/icon-32.jpg">
                    {% endif %}
                </td>
                <td class="result">
                    <p>Tobacco smoking is a leading risk factor for chronic disease and early death, including many types of cancer, respiratory disease and heart disease - Tobacco smoking is one of the highest contributors to the burden of disease in Australia of all the risk factors for ill health.</p>
                    <p><strong>YOUR SCORE:  {{ test_details.lifestyle_smoking_result['text']|raw }}</strong></p>
                </td>
            </tr>
            
            <tr>
                <td class="description"><p>Alcohol Consumption</p></td>
                <td class="value">
                    {% if test_details.lifestyle_alcohol_result['level'] == 'High'%}
                        <img class="thumb" src="{{ site_url }}/img/reports-icons/icon-31.jpg">
                    {% elseif test_details.lifestyle_alcohol_result['level'] == 'Low'%}
                        <img class="thumb" src="{{ site_url }}/img/reports-icons/icon-30.jpg">
                    {% else %}
                        <img class="thumb" src="{{ site_url }}/img/reports-icons/icon-32.jpg">
                    {% endif %}

                </td>
                <td class="result">
                    <p>The consumption of alcohol is widespread in Australia and entwined with many social and cultural activities.  Excessive consumption is a major cause of road and other accidents, domestic and public violence, crime, liver disease and brain damage, and contributes to family breakdown and broader social dysfunction.  Based on the standards outlined by the National Health & Medical Resource Council, One in Five Australians drink at levels that place them at risk of lifetime harm and over two in five Australian adults drink at levels that placed them at risk of an alcohol related injury from a single drinking occassion. </p>
                    <p><strong>YOUR SCORE: {{ test_details.lifestyle_alcohol_result['text']|raw }}</strong></p>
                </td>
            </tr>
            
            <tr>
                <td class="description"><p>Nutrition</p></td>
                <td class="value">
                    {% if test_details.lifestyle_nutrition_result['level'] == 'High'%}
                        <img class="thumb" src="{{ site_url }}/img/reports-icons/icon-31.jpg">
                    {% elseif test_details.lifestyle_nutrition_result['level'] == 'Low'%}
                        <img class="thumb" src="{{ site_url }}/img/reports-icons/icon-30.jpg">
                    {% else %}
                        <img class="thumb" src="{{ site_url }}/img/reports-icons/icon-32.jpg">
                    {% endif %}

                </td>
                <td class="result">
                    <p>A healthy diet is crucial to ensure we get enough of the nutrients essential for good health and to help reduce our risk of chronic health problems such as heart disease, type 2 diabetes, some cancers and obesity. Our dietary patterns are made up of foods and drinks, not simply nutrients – it’s the types and amounts of the foods and drinks that we consume regularly that really matter for our health.  We may also feel better, look better, enjoy life more and live longer! </p>
                    <p><strong>YOUR SCORE: {{ test_details.lifestyle_nutrition_result['text']|raw }}</strong></p>
                </td>
            </tr>
            
            
            
            <tr class="last-row">
                <td class="description"><p>Waist Measurement</p></td>
                <td class="value">
                    {% if test_details.biometric_waist_value != 0 %}
                        {% if test_details.biometric_waist_result['level'] == 'High'%}
                            <img class="thumb" src="{{ site_url }}/img/reports-icons/icon-31.jpg">
                        {% elseif test_details.biometric_waist_result['level'] == 'Low'%}
                            <img class="thumb" src="{{ site_url }}/img/reports-icons/icon-30.jpg">
                        {% else %}
                            <img class="thumb" src="{{ site_url }}/img/reports-icons/icon-32.jpg">
                        {% endif %}
                    {% endif %}
                </td>
                <td class="result">
                    <p>Measuring your waist circumference is a simple check to tell how much body fat you have and where it is placed around your body.  Where your fat is located can be an important sign of your risk of developing an ongoing health problem.</p>
                    
                    {% if test_details.biometric_waist_value != 0 %}
                        <p><strong>YOUR SCORE: {{ test_details.biometric_waist_result['text']|raw }}</strong></p>
                    {% else %}
                        <p><strong>Test not conducted!</strong></p>
                    {% endif %}
                </td>
            </tr>
            
        </table>
            
        <img src="{{ site_url }}/img/Free7daypass.png" style="width: 715px;"><br>
        <div class="footer-area">
            <p>The Healthy Life Project &amp; Healthy Life Score is designed to give you an overall idea of your health &amp; well-being, &amp; a general indication of how lifestyle, physiological &amp; biometric factors may affect it.  The test will also give you a general indication of whether there is more you can do to improve.  This is not intended to be a medical diagnostic tool, nor a substitute for professional medical advice.  It has been designed as a tool to Educate, Inspire &amp; Motivate on possible positive change in respect to your health &amp; well-being. </p>
            
            <p>Use of this site, and all information contained within is subject to our <a href="http://www.healthylifeproject.com.au/disclaimer/" target="_blank">legal disclaimer</a>.</p>
        </div>
    </div>
    
    
</div>

