{% extends "::head_office_layout.html.twig" %}

{% block title %}Club{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('resources') }}/jquery-datatables/DataTables-1.10.9/media/css/jquery.dataTables.css">
    <link rel="stylesheet" href="{{ asset('css') }}/jquery-datatable-custom.css">
    <link rel="stylesheet" href="{{ asset('css') }}/reports.css">
{% endblock %}

{% block body %}

<div class="header-two-columns">
    <div class="col-1">
        <h2>LITE TESTS</h2>
    </div>
    <div class="col-2 text-right">
        
    </div>
</div>

<div class="container detailed-results">
    <table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>FIRST NAME</th>
                <th>LAST NAME</th>
                <th>EMAIL</th>
                <th>GENDER</th>
                <th>AGE</th>
                <th>WEIGHT</th>
                <th>HEIGHT</th>
                <th>DATE FINALISED</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    {#<td>{{ item.fname ~ ' ' ~ item.lname }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.gender|capitalize }}</td>
                    <td>{{ item.age }}</td>
                    <td>{{ item.weight }} kg</td>
                    <td>{{ item.height }} cm</td>
                    <td>{{ item.test_datetime_finalised|date("d F Y") }}</td>
                    <td><a href="{{ path('acme_head_office_view_lite_test') }}?test={{ item.lite_test_id }}">View</a></td>#}
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
        </tbody>
    </table>
</div>
<br/>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    var detailed_report_ajax = "{{ path('acme_head_office_lite_test_ajax') }}";
    var view_test_path = "{{ path('acme_head_office_view_lite_test') }}";
</script>
    <script src="{{ asset('resources') }}/jquery-datatables/DataTables-1.10.9/media/js/jquery.dataTables.js"></script>
<script src="{{ asset('js') }}/head-office/litetest.js"></script>
{% endblock %}
