{% extends "::head_office_layout.html.twig" %}

{% block title %}View Test{% endblock %}

{% block body %}
<!-- three cols block -->
<section class="three-cols block">
        <div class="header add-header">
                <div class="row">
                        <h1>{{ test_details.fname|upper }} {{ test_details.lname|upper }}</h1>
                        <p>{{ test_details.age }} Year old {{ test_details.gender }}</p>
                </div>
                <div class="date-holder">
                        <time class="date" datetime="{{ test_details.test_datetime|date("Y-m-d") }}">{{ test_details.test_datetime|date("d F Y") }}</time>
                        <a class="pointer email-this-test lightbox" href="#popup1" data-test-id="{{ test_details.lite_test_id }}" data-email="{{ test_details.email }}"><i class="icon-mail"></i> Email this test</a>
                </div>
        </div>
        <div class="txt-add">
            
            <strong>The Healthy Life Project is about EDUCATING Australians about how they can potentially live more years free of the burden of disease, INSPIRE them to make the positive changes required in their lives &amp; MOTIVATE them to stick with it.</strong>
        </div>
        <ul>
            <li>
                <i class="icon-27"></i>
                <p>The average Australian male lives for a total of {{ hl_expectancy_male.total_expectancy }} years, {{ hl_expectancy_male.expectancy }} Healthy Life years &amp; {{ hl_expectancy_male.dalys }} Disability affected life years as a result of Injury, Illness or disease. </p>
            </li>
            <li>
                <i class="icon-28"></i>
                <p>The average Australian female lives for a total of {{ hl_expectancy_female.total_expectancy }} years, {{ hl_expectancy_female.expectancy }} 
                Healthy Life years & {{ hl_expectancy_female.dalys }} Disability affected life years as a result 
                of Injury, Illness or disease.</p>
            </li>
            <li>
                <i class="icon-29"></i>
                <p>95% of these Years of Healthy life lost are a result of Chronic disease, injury or illness - Most of which could be prevented or avoided through lifestyle modification.</p>
            </li>
        </ul>
</section>

<!-- txt block -->
<section class="txt-block">
    <h2>SUMMARY OF Your Results</h2>
    <div class="container">
        <div class="column">
            <span class="txt1">AVERAGE LIFE EXPECTANCY</span>
            <span class="txt2">{{ test_details.fname|upper }}</span>
            <div class="box">
                <div class="description">
                    <div class="txt">
                        <p>ESTIMATED YEARS <br>OF POTENTIAL <br>HEALTHY LIFE <br>LOST</p>
                        {#<p>YEARS LOST TO <br>CHRONIC DISEASE <br>INJURY, ILLNESS OR <br>EARLY DEATH</p>#}
                    </div>
                    <div class="add-txt">
                        <p>Predicted <br>Years of <br>Healthy <br>life</p>
                        {#<p>Your <br>HEALTHY <br>Life YEAR <br>Expectancy</p>#}
                    </div>
                </div>
                <div class="detail">
                    <strong>
                        {{ '%.1f' | format(test_details.estimated_years_you_will_live_with_did)| replace({".0" : ""}) }} 
                        
                        <em>Years of <br>Affected Life</em>
                    </strong>
                    <span>
                        {{ '%.1f' | format(test_details.estimated_healthy_life_expectancy)| replace({".0" : ""}) }} 
                        <em>Years of <br>Expected <br>Healthy Life</em>
                    </span>
                </div>
            </div>
        </div>
        <div class="column">
            <ul>
                <li>
                    <div class="value">
                        <strong>
                            {{ '%.1f' | format((test_details.healthy_life_score * 100))| replace({".0" : ""}) }}%
                            
                            <em>of Healthy Life <br>Potential</em>
                        </strong>
                        <span>Based on the average Australian, your current age, lifestyle & physical condition.</span>
                    </div>
                </li>
                <li>
                    <div class="value value1">
                        <strong>
                                
                            {{ '%.1f' | format(test_details.estimated_current_healthy_life_age)| replace({".0" : ""}) }}
                            <em>Healthy <br>Life Age</em>
                        </strong>
                        <span>Your estimated 'age'<br> based on your<br> estimated years of<br> healthy life left<br> compared to the<br> Australian average.</span>
                    </div>
                </li>
                <li>
                    <div class="value value2">
                        <strong>
                            {{ '%.1f' | format(test_details.you_could_add_up_to)| replace({".0" : ""}) }}
                            
                            <em>Potential Healthy <br>Life Years to Add</em>
                        </strong>
                        <span>The number of healthy<br> years you could potentially add to<br> your life by making a<br> change.</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    {#
    <ul class="add-list">
        {% if test_details.years_added != '' and test_details.years_added > 0 %}
            <li><i class="icon-14"></i> 
                <strong>
                    {{ '%.1f' | format(test_details.years_added)| replace({".0" : ""}) }}
                    
                    <span><em>Years <br>Added</em></span>
                </strong>
            </li>
        {% else %}
            <li><i class="icon-14"></i> <strong>---<span><em>Years <br>Added</em></span></strong></li>
        {% endif %}
        
        {% if test_details.cm_lost != '' and test_details.cm_lost > 0 %}
            <li><i class="icon-4"></i> 
                <strong>
                    {{ '%.1f' | format(test_details.cm_lost)| replace({".0" : ""}) }}
                    
                    <span><em>CM <br>Lost</em></span>
                </strong>
            </li>
        {% else %}
            <li><i class="icon-4"></i> <strong>---<span><em>CM <br>Lost</em></span></strong></li>
        {% endif %}
        
        {% if test_details.kg_lost != '' and test_details.kg_lost > 0 %}
            <li><i class="icon-13"></i> 
                <strong>
                    {{ '%.1f' | format(test_details.kg_lost)| replace({".0" : ""}) }}
                    <span><em>KG <br>Lost</em></span>
                </strong>
            </li>
        {% else %}
            <li><i class="icon-13"></i> <strong>---<span><em>KG <br>Lost</em></span></strong></li>
        {% endif %}
        
    </ul>
#}
</section>

<!-- txt block add block -->
<section class="txt-block add-block">
    <h2>Your Results (IN DETAIL)</h2>
    <ul class="detail-result">
        <li>
            <div class="title">
                <p>Your Current <br>Healthy Life <br>Score is</p>
            </div>
            <div class="value">
                <strong>
                    {{ '%.1f' | format((test_details.healthy_life_score * 100))| replace({".0" : ""}) }}%
                    
                </strong>
            </div>
            <div class="add-txt">
                <span style="background-color: {{ test_details.healthy_life_score_outcome['color'] }}">{{ test_details.healthy_life_score_outcome['result'] }}</span>
                <p>Your healthy life score is where you are currently at of your 'Healthy Life Potential' - The average Australian is at roughly 80% of their Healthy Life potential, 100% means you are as healthy as can be, below 55% means some serious changes need to be made.</p>
                <p>95% of these Years of Healthy life lost are a result of Chronic disease or Injury - Most of which could be prevented or avoided through lifestyle modification.</p>
            </div>
        </li>
        <li>
            <div class="title">
                <p>Your Predicted <br>Years of <br>Healthy Life</p>
                {#<p>Your Estimated <br>Healthy Life <br>Expectancy is</p>#}
            </div>
            <div class="add-value">
                <div class="value">
                    <strong>
                        {{ '%.1f' | format(test_details.estimated_healthy_life_expectancy)| replace({".0" : ""}) }}
                        <em>Years</em>
                    </strong>
                </div>
                <div class="value-txt"><p>Out of a <br>possible</p></div>
                <div class="value add-value1"><strong>{{ test_details.max_hle }}<em>Years</em></strong></div>
            </div>
        </li>
        <li>
            <div class="title">
                <p>Estimated <br>Years of Healthy <br>Life left</p>
            </div>
            {% if test_details.estimated_years_of_healthy_life_left > 0 %}
                <div class="value">
                    <strong>
                        {{ '%.1f' | format(test_details.estimated_years_of_healthy_life_left)| replace({".0" : ""}) }} 
                        <em>Years</em>
                    </strong>
                </div>
                <div class="add-txt add-txt1">
                    <p>Based on the average Australian, your current age, lifestyle & physical 
                condition this is an estimate of the number of healthy life years before you 
                are likely to be affected by disability, injury or disease - many of which are 
                preventable through positive lifestyle change.</p>
                    {#<p>Based on the average Australian, your current age, lifestyle & physical 
                condition this is an estimate of the number of healthy years you've 
                added to before being affected by disability, injury or disease - 
                many of which are preventable through positive lifestyle change.</p>#}
                </div>
            {% else %}
                <div class="add-txt add-txt1 special">
                    <p>Based on the average Australian, your current age, lifestyle & physical condition it is likely that you are already affected by some form of disability, injury or chronic disease - the good news is that through positive lifestyle change it is likely that these can be improved or managed.</p>
                    
                </div>
            {% endif %}
        </li>
        <li>
            <div class="title">
                <p>Estimated number <br>of years you will <br>live with a disability, <br>injury or disease</p>
            </div>
            <div class="add-value">
                <div class="value">
                    <strong>
                        {{ '%.1f' | format(test_details.estimated_years_you_will_live_with_did)| replace({".0" : ""}) }}
                        
                        <em>Years</em>
                    </strong>
                </div>
                <div class="value-txt"><p>as opposed to <br>the Australian <br>average of</p></div>
                <div class="value add-value1">
                    <strong>
                        {{ '%.1f' | format(test_details.estimated_years_you_will_live_with_did_as_opposed_to)| replace({".0" : ""}) }}
                        
                        <em>Years</em>
                    </strong></div>
            </div>
        </li>
    </ul>
</section>


<!-- txt block -->
<section class="txt-block">
    <h3> You could add up to <br>
        <strong>
                {{ '%.1f' | format(test_details.you_could_add_up_to)| replace({".0" : ""}) }} years
        </strong> 
        to your estimated <br>healthy life years.
    </h3>
    <ul class="detail-result detail-result1">
        <li>
                <div class="title">
                    <p>Your estimated <br>current Healthy <br>Life Age is</p>
                </div>
                <div class="value">
                    <strong>
                        {{ '%.1f' | format(test_details.estimated_current_healthy_life_age)| replace({".0" : ""}) }}
                        <em>Years Old</em>
                    </strong>
                </div>
                <div class="add-txt add-txt1">
                    <p>Based on your estimated years <br>of healthy life left compared <br>to the Australian average.</p>
                </div>
        </li>
        <li>
                <div class="title">
                    <p>Physical Activity</p>
                </div>
                <div class="add-value">
                    {% if test_details.lifestyle_physical_activity_result['level'] == 'High'%}
                        <div class="thumb red"><i class="icon-31"></i></div>
                    {% elseif test_details.lifestyle_physical_activity_result['level'] == 'Low'%}
                        <div class="thumb"><i class="icon-30"></i></div>
                    {% else %}
                        <div class="thumb gray"><i class="icon-32"></i></div>
                    {% endif %}
                    
                    <div class="text">
                        <p>Physical activity is any activity that gets your body moving, makes your breathing become quicker and your heart beat faster.  You can be physically active in many different ways, at any time of the day.</p>
                        <p><strong>YOUR SCORE:  {{ test_details.lifestyle_physical_activity_result['text']|raw }}</strong></p>
                    </div>
                </div>
        </li>
        <li>
            <div class="title">
                <p>Smoking Habits</p>
            </div>
            <div class="add-value">
                {% if test_details.lifestyle_smoking_result['level'] == 'High'%}
                    <div class="thumb red"><i class="icon-31"></i></div>
                {% elseif test_details.lifestyle_smoking_result['level'] == 'Low'%}
                    <div class="thumb"><i class="icon-30"></i></div>
                {% else %}
                    <div class="thumb gray"><i class="icon-32"></i></div>
                {% endif %}
                <div class="text">
                    <p>Tobacco smoking is a leading risk factor for chronic disease and early death, including many types of cancer, respiratory disease and heart disease - Tobacco smoking is one of the highest contributors to the burden of disease in Australia of all the risk factors for ill health.</p>
                    <p><strong>YOUR SCORE:  {{ test_details.lifestyle_smoking_result['text']|raw }}</strong></p>
                </div>
            </div>
        </li>
        <li>
            <div class="title">
                <p>Alcohol Consumption</p>
            </div>
            <div class="add-value">
                {% if test_details.lifestyle_alcohol_result['level'] == 'High'%}
                    <div class="thumb red"><i class="icon-31"></i></div>
                {% elseif test_details.lifestyle_alcohol_result['level'] == 'Low'%}
                    <div class="thumb"><i class="icon-30"></i></div>
                {% else %}
                    <div class="thumb gray"><i class="icon-32"></i></div>
                {% endif %}

                <div class="text">
                    <p>The consumption of alcohol is widespread in Australia and entwined with many social and cultural activities.  Excessive consumption is a major cause of road and other accidents, domestic and public violence, crime, liver disease and brain damage, and contributes to family breakdown and broader social dysfunction.  Based on the standards outlined by the National Health & Medical Resource Council, One in Five Australians drink at levels that place them at risk of lifetime harm and over two in five Australian adults drink at levels that placed them at risk of an alcohol related injury from a single drinking occassion. </p>
                    <p><strong>YOUR SCORE: {{ test_details.lifestyle_alcohol_result['text']|raw }}</strong></p>
                </div>
            </div>
        </li>
        <li>
            <div class="title">
                <p>Nutrition</p>
            </div>
            <div class="add-value">
                {% if test_details.lifestyle_nutrition_result['level'] == 'High'%}
                    <div class="thumb red"><i class="icon-31"></i></div>
                {% elseif test_details.lifestyle_nutrition_result['level'] == 'Low'%}
                    <div class="thumb"><i class="icon-30"></i></div>
                {% else %}
                    <div class="thumb gray"><i class="icon-32"></i></div>
                {% endif %}
                    
                    
                <div class="text">
                    <p>A healthy diet is crucial to ensure we get enough of the nutrients essential for good health and to help reduce our risk of chronic health problems such as heart disease, type 2 diabetes, some cancers and obesity. Our dietary patterns are made up of foods and drinks, not simply nutrients – it’s the types and amounts of the foods and drinks that we consume regularly that really matter for our health.  We may also feel better, look better, enjoy life more and live longer! </p>
                    <p><strong>YOUR SCORE: {{ test_details.lifestyle_nutrition_result['text']|raw }}</strong></p>
                </div>
            </div>
        </li>
        
        <li>
            <div class="title">
                <p>Waist Measurement</p>
            </div>
            <div class="add-value">
                {% if test_details.biometric_waist_value != 0 %}
                    {% if test_details.biometric_waist_result['level'] == 'High'%}
                        <div class="thumb red"><i class="icon-31"></i></div>
                    {% elseif test_details.biometric_waist_result['level'] == 'Low'%}
                        <div class="thumb"><i class="icon-30"></i></div>
                    {% else %}
                        <div class="thumb gray"><i class="icon-32"></i></div>
                    {% endif %}
                {% endif %}
                <div class="text">
                    <p>Measuring your waist circumference is a simple check to tell how much body fat you have and where it is placed around your body.  Where your fat is located can be an important sign of your risk of developing an ongoing health problem.</p>
                    {% if test_details.biometric_waist_value != 0 %}
                        <p><strong>YOUR SCORE: {{ test_details.biometric_waist_result['text']|raw }}</strong></p>
                    {% else %}
                        <p><strong>Test not conducted!</strong></p>
                    {% endif %}
                </div>
            </div>
        </li>
    </ul>
    <div class="add-text">
        <p>The Healthy Life Project &amp; Healthy Life Score is designed to give you an overall idea of your health &amp; well-being, &amp; a general indication of how lifestyle, physiological &amp; biometric factors may affect it.  The test will also give you a general indication of whether there is more you can do to improve.  This is not intended to be a medical diagnostic tool, nor a substitute for professional medical advice.  It has been designed as a tool to Educate, Inspire &amp; Motivate on possible positive change in respect to your health &amp; well-being.</p>
    </div>
</section>

<!-- popup holder -->
    <div id="emailTestModal" class="popup-holder">
        <div id="popup1" class="lightbox">
            <fieldset>
                    <h2 class="modal-title">Email This Test</h2>
                    <a href="#" class="email-modal-close close">Close</a>
                    <form id="emailTest" action="{{ path('acme_head_office_email_lite_test') }}" method="post">
                        <div class="box-row">

                            <div class="field-holder">
                                <div class="row">
                                    <label>Recipients (separated by comma)</label>
                                    <input type="text" name="recipients" class="form-control" required>
                                    <input type="hidden" name="client_test_id">
                                </div>

                            </div>
                        </div>
                    </form>
                    <button type="button" class="btn btn-primary send">Save &amp; Submit</button>
                    {#<input type="submit" class="send" value="Save &amp; Submit">#}
            </fieldset>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
<script type="text/javascript">
    
</script>
<script src="{{ asset('js') }}/club/test.js"></script>
{% endblock %}